/* 
	Theme Name: Cornell Mushroom blog
	Theme URL: http://www.cornell.edu
	Description: Cornell Mushroom blog theme for Wordpress.
	Author: IWS
	Author URI: http://www.iws.cit.cornell.edu
*/

body {
	margin: 0;
	padding: 0;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 63.125%;		/* translate 1.0em to 10px, 1.5em to 15px, etc. */
	color: #333;
	background: #fff;		/* footer background color */
}
/****************************************
 * Cornell Identity
 ****************************************/

#cu-identity {
	height: 45px;
	background: #68645b;
}
#cu-logo {
	margin: 0 auto;
	width: 1000px;
	background: url(../images/layout/cu_logo.gif) no-repeat top left;
}
#cu-logo a {
	border: none;
	display: block;
	width: 180px;
	height: 45px;
	background: url(../images/layout/cu_logo.gif) no-repeat top left;
}
#cu-logo img {
	display: none;
}
#cu-search {
	position: absolute;
	top: 11px;
	right: 50%;
	width: 200px;
	margin-right: -514px;
}
#cu-search a {
	float: right;
	padding: 5px 15px;
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	border: none;
}
#cu-search a:hover {
	background: #444;
}
/****************************************
 * Text Styles
 ****************************************/

/* 
	Headlines 
	-------------------------
*/

h2 {
	margin: 0 0 12px 0;
	font-size: 2.4em;
	font-weight: normal;
	clear: left;
	color:#C79206;
	font-family: Georgia, "Times New Roman", Times, serif;
}
h3 {
	margin: 0 0 12px 0;
	font-size: 1.1em;
	line-height: 1.4em;
	font-weight: bold;
}
h4 {
	margin: 15px 0 3px 0;
	font-size: 1.2em;
	font-weight: bold;
}
/* 

	Text
	-------------------------
	Paragraphs of text, extended quotations, and captions

*/

p {
	margin: 0 0 12px 0;
	}
blockquote {
	margin: 0 30px;
}
em {
	font-style: italic;
}
strong, cite {
	font-weight: bold;
}
sub {
	font-size: 0.9em;
	position: relative;
	top: 0.2em;
}

sup {
	font-size: 0.9em;
	position: relative;
	top: -0.2em;
}

/* quotation style */

blockquote.quote {
	margin: 20px 30px 30px 30px;
	padding: 5px 0;
	border-top: 1px solid #fad662;
	border-bottom: 1px solid #fad662;
}

blockquote.quote cite {
	text-align: right;
	display: block;
	height: 40px;
	padding-right: 60px;
	background: #fff url(../images/quotes.gif) no-repeat 100% 0;
}

blockquote.quote h2 {
	padding-left: 60px;
	height: 40px;
	line-height: 50px;
	margin: 0 0 10px 0;
	background: #fff url(../images/quotes2.gif) no-repeat -109px 0;
}

/* 
	Lists 
	-------------------------
*/

ul, ol {
	margin: 0 0 15px 0;
	padding: 0;
	font-size: 1.0em;
	line-height: 1.4em;
}
ul ul, ul ol, ol ol, ol ul, ul p, li p {
	font-size: 1.0em;
}
ul li {
	margin: 5px 0;
	padding: 0 0 0 10px;
	list-style: none;
	background: url(../images/layout/arrow_g_right.gif) no-repeat 0 0.62em;
}

ol {
	margin-left: 15px;
}

ol li {
	margin: 5px 0 5px 30px;
	list-style: decimal;
}
dl {
	margin: 0 0 15px 0;
	line-height: 1.4em;
}
dt {
	margin: 0 0 3px 0;
	font-size: 1.2em;
	font-weight: bold;
}
dd {
	margin: 0 0 15px 0;
	font-size: 1.3em;
	line-height: 1.4em;
}
/* 
	Links 
	-------------------------
*/

a {
	color: #4E664D;
}
h3 a, h3 a:visited {
	text-decoration: none;
	color:#719470;
}
h2 a:hover, h3 a:hover {
	text-decoration: underline;
	color:#f00;
}
a:visited {
	color: #4E664D;
}
a:hover {
	color: #f00;
}
a:active {
	color: #b31b1b;
}

h2 a, h2 a:visited {
	color:#C79206;
	text-decoration: none;
}
/****************************************
 * Header
 ****************************************/

/* 
	Site Identity 
	-------------------------
*/

#header {
	float: left;
	width: 100%;
}
#identity {
	margin: 0 auto;
	width: 1000px;
	height: 235px;
	background: url(../images/layout/header_bg.jpg) no-repeat right bottom;
	position: relative;
}
#identity h1 {
	position: absolute;
	top: 12px;
	left: 160px;
}
#identity h1 a {
	display: block;
	width: 475px;
	height: 46px;
}
#identity h1 a span {
	position: absolute;
	left: -1000em;
}
#identity form {
	position: absolute;
	top: 28px;
	left: 808px;
}
#identity ul {
	margin: 0;
	padding: 68px 0 0 0;
	font-size: 1.1em;
	width: 167px;
	text-align: right;
}
#identity li {
	background: none;
}
#identity li a {
	text-decoration: none;
	color: #036;
	text-transform: uppercase;
	font-weight: bold;
}
#identity li a:hover {
	color: #c60;
}
/****************************************
 * Content Sections
 ****************************************/

#wrap {
	float: left;
	width: 100%;
}

#content {
	margin: 0 auto;
	width: 1000px;
	padding: 0;
	font-size: 1.2em;
	line-height: 1.5em;
}

/************************************************
*	Main Content 					     		     
************************************************/

#post-details {
	float: left;
	clear: both;
	width: 100%;
}

.postmetacategory {
	float: left;
	clear: left;
	width: 100%;
	padding: 8px 0;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	margin: 0 0 12px 0;
}

.postmeta {
	float: left;
	clear: left;
	width: 100%;
	padding: 15px 0;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	margin: 15px 0 30px 0;
}
.postmeta p {
	margin: 0;
}
.postmeta strong {
	color: #565656;
}

.category {
float: left;
}

.category .cal {
	float: left;
	background: transparent url(../images/layout/minicalendar.png) no-repeat left top;
	padding: 10px 0 7px 36px;
	width: 150px;
}
.postmetacat p.post {
	float: right;
	text-align: left;
	background: transparent url(../images/layout/pad.png) no-repeat left top;
	padding: 10px 0 7px 40px;
}
.postmetacat p.post span {
	padding-left: 6px;
}
.commentmetadata {

}

.left {
	float: left;
	margin: 0 12px 12px 0;
	padding: 8px;
	border: 1px solid #ededed;
}

.right {
	float: right;
	margin: 0 0 12px 12px;
	padding: 8px;
	border: 1px solid #ededed;
}

div.full {
	padding: 8px;
	border: 1px solid #ededed;
	clear: both;
	margin: 12px 0;
}

div.left, div.right {
	padding: 10px 18px;
}

.author-byline {
	background: #fff url(../images/layout/hand.png) no-repeat 0 0;
	padding: 10px 0 10px 56px;;
	margin-bottom: 12px;
	color: #c59300;
	font-style: italic;
}

/************************************************
*	Secondary content 					     	    
************************************************/
#secondary-wrap {
	float: left;
	width: 100%;
	clear: both;
	margin: 20px 0 0 0;
	padding: 20px 0;
	background: #E7E3D8 url(../images/layout/sidebar_bg.gif) repeat-y 50% 0;
}

#secondary {
	margin: 0 auto;
	width: 1000px;
	font-size: 1.1em;
	line-height: 1.6em;
}

#secondary ul {
	margin: 0;
	font-size: 1em;
}

.feeds a, .feeds a:link, .feeds a:hover, .feeds a:active, .feeds a:visited {
	background: transparent url(../images/layout/mini-rss.gif) no-repeat left top;
	padding: 2px 12px 2px 16px;
}

#secondary-subscribe {
	float: left;
	width: 340px;
	padding: 0 20px 12px 0;
}

#rss-email {
	float: left;
	margin-top: 12px;
}

#secondary #secondary-listings {
	float: right;
	width: 580px;
	padding: 0 0 0 40px;
}

#secondary #secondary-listings li {
	color: #fff;
	list-style: square;
	background-image: none;
	margin: 0 0 3px 12px;
	padding: 0;
}

#secondary #categories {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0 0 20px 0;
}

#secondary #categories li {
	float: left;
	width: 180px;
	margin: 0 0 3px 10px;
	padding: 0;
}

#secondary #text-1 {
	float: left;
	width: 46%;
}

#secondary #text-2 {
	float: right;
	width: 50%;
}
/************************************************
*	Search Form									*
************************************************/

.search {

}
#searchform {
	overflow: hidden;
}
#s {
	background: #efefef url(../images/search.gif) no-repeat 98% 50%;
	width: 190px;
	color: #555;
	border: 1px solid #c0c0c0;
}
/************************************************
*	Comments									*
************************************************/

.commentlist li {
	float: left;
	clear: both;
	font-size: 0.9em;
	margin: 0;
	padding: 0;
	background: transparent url(../images/layout/comment_top.gif) no-repeat 22px 1.6em;
	width: 100%;
}
.commentlist cite {
	background: url(../images/layout/arrow_g_right.gif) no-repeat 0 0.4em;
	padding: 0 0 0 8px;
}
.comment-contents {
	background: #F5F5F5 url(../images/layout/comment_bottom.gif) no-repeat left bottom;
	width: 728px;
	height: auto !important;
	height: 40px;
	min-height: 40px;
	margin: 30px 0 22px 22px;
	padding: 10px 16px 10px 16px;
}
h3#comments, h3#respond {
	margin: 0 0 15px 0;
	color: #c59300;
	font-size: 1.1em;
	line-height: 1.2em;
	font-weight: bold;
}

li.alt cite, li cite {
	color: #555;
}
table#wp-calendar {
	width: 186px;
	border: 1px solid #fff;
	background: #f5f6f8;
}
table#wp-calendar th, table#wp-calendar caption {
	background: #aac5ce;
	color: #fff;
	font-weight: bold;
}
table#wp-calendar caption {
	padding: 3px 0 4px 8px;
}
table#wp-calendar tr {
	border-bottom: 1px solid #fff;
}
table#wp-calendar th {
	padding-left: 5px;
}
table#wp-calendar td {
	color: #444;
	padding-left: 5px;
}
/* Image Thumbnails */

.post-summary {
	float: left;
	width: 100%;
}
.post-summary img {
	float: left;
	margin: 0 12px 12px 0;
	padding: 5px;
	border: 1px solid #ededed;
	width: 120px;
}
.posts-group {
	float: left;
	width: 100%;
	clear: both;
	padding-bottom: 12px;
	margin-bottom: 22px;
	border-bottom: 2px solid #E0EAED;
}
/****************************************
 * Homepage
 ****************************************/
.post-first {
	width: 460px;
	height: 547px;
	float: left;
	padding: 10px 16px 10px 12px;
	margin: 0 11px 0 0;
	background: #fff url(../images/layout/shadow-featured.png) no-repeat 0 100%;
}

.post-first img {
	width: 460px;
	float: left;
	margin-bottom: 16px;
}

.post-card {
	width: 215px;
	height: 256px;
	float: left;
	padding: 10px 10px 10px 11px;
	margin: 0 14px 14px 0;
	background: #fff url(../images/layout/shadow.gif) no-repeat left top;
}

.post-card {
	width: 215px;
	height: 256px;
	float: left;
	padding: 10px 10px 10px 11px;
	margin: 0 13px 14px 0;
	background: #fff url(../images/layout/shadow.gif) no-repeat left top;
}

.post-card h2,.post-first h2 {
	font-size: 1em;
	font-weight: bold;
	margin: 4px 0 0 0;
}

.post-first h2 {
	font-size: 1.4em;
	margin: 0 0 8px 0;
}

.post-card h2 a, .post-card h2 a:visited, .post-first h2 a, .post-first h2 a:visited {
	color: #719470;
}

.post-card p {
	float: left;
	width: 100%;
	font-size: 0.9em;
	margin: 0;
}
.post-first p {
	float: left;
	width: 100%;
	font-size: 1em;
	margin: 4px 0 8px 0;
}
/****************************************
 * Webring
 ****************************************/
.webring {
	width: 100%;
	float: left;
	clear: both;
	padding: 10px 0;
}

.webring .back {
	float: left;
}

.webring .next {
	float: right;
	text-align: right;
}

.webring a {
	text-decoration: none;
}
/****************************************
 * Print links
 ****************************************/
.print-link {
	float: right;
	padding: 0;
}
/****************************************
 * Footer
 ****************************************/

#footer {
	float: left;
	width: 100%;
	height: auto !important;
	height: 180px;
	min-height: 180px;
	font-size: 1.1em;
	line-height: 1.6em;
	background: #fff url(../images/layout/footer_bg.jpg) no-repeat 50% 0;
}
#footer-content {
	margin: 0 auto;
	padding: 20px 0;
	width: 1000px;
}
#footer-content span {
	text-align: right;
	margin-right: 8px;
	padding-right: 12px;
	border-right: 1px solid #666;
}

#footer-overlay {
	float: right;
	width: 620px;
}

#footer #meta {
	margin: 0;
	padding: 0;
	font-size: 1em;
}

#footer #meta li {
	float: left;
	margin: 0 15px 0 0;
	padding: 0;
	background-image: none;
}

#footer a, #footer a:link, #footer a:visited {
	color: #b31b1b;
}
#footer a:hover, #footer a:active {
	color: #f00;
}


/****************************************
 * Miscellaneous
 ****************************************/

#skipnav {
	position: absolute;
	top: -1000em;
	left: -1000em;
}
hr, .digg_whats_this {
	display: none;
}

/****************************************
 * Plugins and misc. items
 ****************************************/
.blogrollmain {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 20px;
}

.blogrollitem {
	float: left;
	width: 33%;
	margin: 0 0 4px 0;
}

.month-list {
}

.calendar-archive {
	width: 270px;
}

div.right h3 {
	padding: 8px 0 0 0;
	clear: both;
}

.calendar-archive span, .calendar-archive strong, .calendar-archive a {
	display: block;
	float: left;
	width: 40px;
	height: 30px;
	
}

.calendar-archive strong {
	clear: both;
	width: 270px;
}

.emptymonth {
	color: #999;
}
.ref {
	padding: 44px 12px 12px 12px;
	color: #c59300;
	background: #f5f5f5;
	font-size: 0.9em;
	margin: 20px 0;
	background: #f5f5f5 url(../images/layout/ref_bg.gif) no-repeat 0 0;
	float: left;
	width: 976px;
	clear: both;
}

.ref ul, .ref ol {
	padding-left: 40px;
}