/* 
	Theme Name: Cornell Mushroom blog
	Theme URL: http://www.cornell.edu
	Description: Cornell Mushroom blog theme for Wordpress.
	Author: IWS
	Author URI: http://www.iws.cit.cornell.edu
*/

#content {
	width: 90%;
}

#print-link {
	display: none;
}