/* IWS print styles */

body {
	padding: 0.5em 0;
	font-size: 100%;
	font-family: Georgia, Times New Roman, serif;
}
a {
	text-decoration: none;
	color: #b31b1b;
}
#cu-identity, .theme-white75, .theme-red75, .theme-gray75, .theme-white75 #cu-logo a, .theme-red75 #cu-logo a, .theme-gray75 #cu-logo a {
	background: none !important;
	height: 51px !important;
}
#cu-logo a img {
	display: block;
	vertical-align: middle;
}
#cu-search, #navigation, #secondary-nav, #breadcrumbs, .view-all {
	display: none;
}
.iws-expander dt {
	background: transparent !important;
}
.iws-expander dd {
	display: block !important;
}
#identity-content {
	background: none !important;
}
#header h1 {
	margin: 0.5em 0 0.25em;
}
#content-wrap {
	border-width: 2px;
}