/*
 Theme Name:     Spun Child Theme
 Theme URI:      https://wordpress.org/themes/spun
 Description:    Spun Child Theme
 Author:         Caroline Moore
 Author URI:     https://profiles.wordpress.org/sixhours/
 Template:       spun
 Version:        2.0.2
*/
 
@import url("../spun/style.css");
 
/* =Theme customization starts here
------------------------------------------------------- */
/**fonts**/
@font-face {
    font-family: 'quicksandlight';
    src: url('font/quicksand-light-webfont.eot');
    src: url('font/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/quicksand-light-webfont.woff') format('woff'),
         url('font/quicksand-light-webfont.ttf') format('truetype'),
         url('font/quicksand-light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;

}


/**Global**/
body {
	font-family: 'quicksandlight' !important;		
}
.site-title a {
	font-style: normal;
	font-size: 	4.5rem;
	letter-spacing: -.3rem;
	color: #69D2E7 !important;
	text-transform: uppercase;
}

.sidebar-link {
	background-color: #FA6900;
	opacity: 1;
}

.site-header {
	opacity: 1 !important;
	padding-top: 0px;	
}


/**category area**/
.widget-title {
	color: #F04848;
	font-size: 3rem;	
}
.cat-item {
	font-size: 2rem;
	font-family: 'quicksandlight';	
}
.cat-item:hover {
	color: #69D2E7;	
	
}

/**pink buttons**/
.sidebar-link, .comments-link a {
	background-color: #F04848;	
}
.comments-link .tail {
	border-color: #F04848 transparent -moz-use-text-color -moz-use-text-color;	
}


.comments-link .tail {
	border-top: 10px solid #F04848;
	border-right: 8px solid transparent;
	border-bottom: 0;
	border-left: 0;
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
		top: 95%;
		left: 12px;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	width: 0;
	height: 0;
	z-index: -1;
}
.site-content #nav-below .nav-previous a:before,
.site-content #nav-below .nav-next a:before,
.site-content #image-navigation .nav-previous a:before,
.site-content #image-navigation .nav-next a:before  {
	background-color: #F04848;	
}


	/**main menu**/
.header-wrapper {
	width: 100% !important;	
}
.header-wrapper img {
	float: right;		
	width: 120px;
	margin-top: 5px;
}
.site-title {
	float: left;	
	margin-top: 20px;
	font-family: 'quicksandlight';	
}
.main-navigation {
	width: 325px;
	float: left;
	text-align: left;
	
	margin-top: -70px;
}
.main-navigation li {
	margin-left: 0px;
	padding-right: 15px;
}
.main-navigation ul ul {
	transition: none !important;	
	visibility: visible !important;
}
.main-navigation a{
	color: #FA6900 !important;	
	font-family: 'quicksandlight';
	font-size: 2.3rem;
}
.main-navigation a:hover {
	color: #69D2E7 !important;	
}
ul .sub-menu {
	padding-top: 5px; 
}


/**Category Circle**/
.page-header h1 {
		background: none repeat scroll 0% 0% #FA6900;
		color: rgba(255, 255, 255, .5);
		font-size: 4.3rem;
		
}
.page-header h1 span {
	margin-top: .3em;
}


/**Homepage**/

#post-79 {
	background-color: none !important;	
	
}

.hentry.no-thumbnail:hover span {
 color: #333;
}

.hentry .thumbnail-title {
	font-family: 'quicksandlight';	
	font-size: 3.0rem;
}

.site-content .hentry:nth-child(n+1) {
		background-color: #A7DBD8;
		border-radius: 180px !important;
}
.site-content .hentry:nth-child(2n+2) {
		background-color: #69D2E7;
		border-radius: 180px !important;
}
.site-content .hentry:nth-child(3n+3) {
		background-color: #54A8B9;
			border-radius: 180px !important;
}
.site-content .hentry:nth-child(4n+4) {
		background-color: #40c6be;
			border-radius: 180px !important;
}

/**post**/
.single .hentry{
	background-color: white !important;		
}
.wp-caption-text {
	text-transform: none !important;
	font-size: .8em;	
	text-align: center;
}

/**page**/
.site-content .page {
	background-color: white !important;	
}

/**footer**/
.site-info {
	display: none;
}
/**edublogsfooter**/
#global-footer-content-inner {
	text-align: center;	
	
}

 
/**responsive screen sizes**/
@media screen and (max-width: 400px) {
	
	
	/**fix post text size**/
	.thumbnail-title {
		font-size: 1.3em!important;	
	}
	
	/**category post**/
	.page-header h1 {
		font-size: 3rem;	
	}
	.page-header h1 span {
		font-size: 2rem;	
		
	}
}

@media screen and (min-width: 400px) and (max-width: 800px) {
	.thumbnail-title {
		font-size: 1.5em !important;	
		
	}	

		/**category post**/
	.page-header h1 {
		font-size: 3.1rem;	
	}

}

@media screen and (max-width: 800px) {

	.header-wrapper {
		float: none !important;
		margin: 0 auto;
		float: none;
		text-align: center;
	}
	/**insignia**/
	.header-wrapper img {
		float: none;
		margin: none;
		padding: none;
		padding-bottom: 20px;	
		width: 90px;
	}
	
	.site-branding {
		float: none !important;	
		margin: 0 auto;
	}
	.site-title {
		float: none;
		margin: 0 auto;
		display: inline;
		width: 100%;
		
	}

	/**menu**/
	.menu-toggle {
		float: none!important;
		font-size: 2.8rem;
		color: #FA6900;
		text-align: center;
		padding-top: 29px;
	}
	.toggled-on {
		color: #69D2E7;	
	}
	
	.menu li {
		text-align: center !important;
		margin-left: none !important;	
	}
	.menu li a {
		font-size: 2.3rem !important;	
	}
	.menu li a:hover {
		color: #69D2E7 !important;	
	}

} 

