/*
 Theme Name:   Hudson Biodiversity Program
 Theme URI:    http://www.cryoutcreations.eu/parabola
 Description:  Parabola Child Theme
 Author:       Cornel University
 Author URI:   http://www.cornell.edu
 Template:     parabola
 Version:      0.1b
*/


@import url("../parabola/style.css");


/* =Theme customization starts here
-------------------------------------------------------------- */
#skipnav {
	display: none;
	margin-bottom: 14px;
	text-indent: -9999px;
}

/*edublogs footer*/
#global-footer-content-inner {
  text-align: center;
}

#content .entry-content h3,
#content .entry-content h4 {
	clear: both;
}
/****************************************
 * Cornell Identity
 ****************************************/
.cornell_gray {
	color: #615e55;
}
#cu-identity {
	border-top: 5px solid #222222;
	min-height: 140px;
	background: #615e55;
	width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 9;
}
	
.cu-identity-wrap {
	position: relative;
	margin: 0 auto;
	max-width: 1050px;
	overflow: hidden;
}

#cu-logo {
	width: 120px;
	height: 140px;
	padding: 10px 0;
	float: left;
	position: relative;
}
#mobile_logo,
#desktop_logo {
	display: none;
}		
a.cals_logo {
	display: block;
	width: 120px;
	height: 120px;
	float: left;
	overflow: hidden;
	background: url(images/CU-Insignia-White-120.jpg) no-repeat top left;
}
a.cals_logo img {
	min-width: 120px;
}
		
#cu-identity h1 {
	position: absolute;
	float: right;
	bottom: 50%;
	right: 0;
}
#cu-identity h2 {
	position: absolute;
	float: right;
	bottom: 30%;
	right: 0;
}
	
#cu-identity h1 a, 
#cu-identity h2 a {
	display: block;
	font-family:"Times New Roman",Georgia,Serif;
	color: #ffffff;
	font-size: 27px;
	line-height: 1em;
	text-decoration: none;
}		
	
#cu-search {
	float: right;
	font-size: 1.05em;
	color: #fff;
	text-align: right;
	padding-top: 20px;
	width: 100%;
	background: #615e55;
	padding-bottom: 20px;
	position: relative;
}

#cu-search {
	display: none;
}

.cu-search-wrap {
	max-width: 1050px;
	margin: 0 auto;
}

#cu-search a {
	display: block;
	padding: 5px 15px;
	font-size: 1.0em;
	color: #fff;
	text-decoration: none;
	border: none;
}
	
#cu-search a:hover {
	color: #fff;
	background: #990f0f;
}
/* Search Form
------------------------------------------------------------ */

#cu-search-form-submit {
	padding-bottom: 2px;
	height: 24px;
	border-top: 1px solid #ddd;
	border-left: 1px solid #999;
	border-right: 0px solid #ccc;
	border-bottom: 0px solid #fafafa;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: .95em;
	font-weight: normal;
	color: #000;
	background: #f0f0f0;
}
#cu-search-filters {
	text-align: right;
}

#cu-search-form-query {
	padding: 3px;
	width: 185px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.1em;
	color: #000;
	background: #fff;
	vertical-align: middle;
	border: none;
	border-top: 1px solid #ddd;
	border-left: 1px solid #999;
}


#search-button {
	float: right;
}
#search-button a {
	height: 40px;
	background: #222222 url('images/icon_search32.png') 11px 14px no-repeat;
	background-size: 16px;
	float: left;
	width: 38px;
	overflow: hidden;
	text-indent: -1000em;
	margin-top: -5px;
}
input[type="submit"] {
    background-image: none;
    background-color: #b31b1b;
    border: none;
    padding: 0px 8px !important;
}
input:hover[type="submit"] {
    background-image: none;
    background-color: #ff0000;
    padding: 0 8px !important;
}

#header-full, #main, #footer {
	min-width: 0 !important;
	max-width: 1030px;
	margin: 0 auto;
}
#main {
	padding: 0 10px;
}
#site-title {
	margin-left: -2px;
}
#site-title a {
	font-weight: 400;
}

#access a span {
	padding: 7px 24px;
}
.nivo-caption {
	opacity: 1;
	-moz-opacity: 1;
	filter: none;
	/*border-top: 3px solid rgba(255,255,255,0.15);*/
}
.hudsonbiodiversity2 .nivo-caption h2 {
	margin-bottom: 0;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	font-size: 18px;
	font-family: 'Roboto Slab', serif;
}
.hudsonbiodiversity2 .column-image h3 {
	font-family: 'Roboto Slab', serif;
}
.topmenu {
	margin-top: 3px;
}
#site-copyright {
	font-style: normal;
	padding-bottom: 15px;
}
#site-copyright p {
	padding-bottom: 8px;
}
#site-copyright + div {
	display: none;
}
#footer2 a {
	text-decoration: underline;
}
#footer2 h3 {
	font-size: 15px;
	margin-bottom: 8px;
}

#front-text1 h1 {
	text-align: left !important;
	font-size: 15px !important;
	line-height: 1.7 !important;
	font-weight: normal !important;
	margin-top: 15px !important;
}

/*
#front-text3 blockquote {
	padding: 0 15px 0 0;
}
*/
#place-based-map {
	min-height: 770px;
	background: url('images/SBA_map_ESRI.jpg') 0 0 no-repeat;
	background-size: 50%;
	padding-left: 55%;
	padding-right: 1%;
}
#place-based-map h3 {
	font-size: 24px;
	margin-bottom: 15px;
}
#place-based-map p {
	font-size: 16px;
	line-height: 1.7;
}
.hudsonbiodiversity2 #place-based-map h3 {
	font-family: 'Roboto Slab', serif;
	color: #53837d;
}

.slider-wrapper {
	margin-top: 20px !important;
}

/* about page */
.entry-content .display-posts-listing li .attachment-thumbnail.wp-post-image {
	float: left;
	padding: 0 14px 14px 0;
	background-color: transparent;
}
#content .entry-content h2.title {
	font-size: 32px;
	line-height: .9em;
	margin-top: 0;
	margin-bottom: 5px;
}
.entry-content .display-posts-listing .listing-item {
	list-style: none;
	margin-bottom: 20px;
	clear: both;
}
.clearfix { clear: both; }

#front-columns > div {
	margin-bottom: 20px;
}
#branding {
	height: auto;
}
#header-container {
	position: relative;
}
@import url("styles/style-mobile.css");
