/* IWS print styles */

body {
	padding: 0.5em 0;
	font-size: 100%;
	font-family: Georgia, Times New Roman, serif;
}
a {
	text-decoration: none;
	color: #b31b1b;
}
#cu-identity, .theme-white75, .theme-red75, .theme-gray75, .theme-white75 #cu-logo a, .theme-red75 #cu-logo a, .theme-gray75 #cu-logo a {
	background: none !important;
	height: 51px !important;
}
#cu-logo a img {
	display: block;
	vertical-align: middle;
}
#print-page,#cu-search, #navigation, #secondary-nav, #breadcrumbs, .view-all {
	display: none !important;
}
.cwd-accordion-section-content {
	display: block !important;
}

/* Accordions
   ************************************ */
.cwd-accordion-container {
	margin: 20px 0 35px;
}
.cwd-accordion-section {
    margin-bottom:20px;
}  
.cwd-accordion-section-title {
	background: #dfdfdf;
    padding: 8px 6px 8px 0;
    color: #000;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    width: 100%;
    text-align: left;
    font-size: 24px;
    font-family: "freight-text-pro-i4", "freight-text-pro", serif;
    cursor: pointer;
}  
.cwd-accordion-section-title:before {
    content: '\002B';
    padding: 0 20px;
    font-size: 25px;
	width: 12px;
    display: block;
    float: left;
}  
.cwd-accordion-section.open .cwd-accordion-section-title:before {
    content: '\002D';
}  
.cwd-accordion-section-content {
    padding: 0 12px;
}   
#identity-content {
	background: none !important;
}
#header h1 {
	margin: 0.5em 0 0.25em;
}
#content-wrap {
	border-width: 2px;
}
#secondary-nav, 
#secondary {
	display: none !important;
}
#main-body {
	width: 100% !important;
}