/****************************************
 * Cornell University
 * IWS
 ****************************************/
/****************************************
 * Cornell Identity
 ****************************************/

#cu-identity {
	font-family: verdana, arial, helvetica, sans-serif;
	color: #222;
	height: 45px;
	background: #b31b1b;
	}

#cu-logo {
	margin: 0 auto;
	width: 740px;
	background: url(ui/images/layout/cu_logo.gif) no-repeat top left;
	}
	
#cu-logo a {
	border: none;
	display: block;
	width: 180px;
	height: 45px;
	background: url(ui/images/layout/cu_logo.gif) no-repeat left top;
	}
	
#cu-logo img {
	display: none;
	}
	
#cu-search {
	position: absolute;
	top: 11px; 
	right: 50%;
	width: 200px;
	margin-right: -385px;
	}
	
#cu-search a {
	float: right;
	padding: 5px 15px;
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	border: none;
	}
	
#cu-search a:hover {
	background: #990f26;
	}
 
/****************************************
 * Miscellaneous
 ****************************************/

/* 
	Hide "skip to content" link from general users. 
	Do not use display: none, as that will also hide it from some screen readers.
*/
#skipnav {
	position: absolute;
	top: -1000em;
	left: -1000em;
	}
	
/* 
	Hide horizontal rules (hr) that separate the banner from the site.
	The rules are semantic separations of content, and they are useful for 
	browsers that cannot utilize the stylesheet.
*/	
hr.banner-separator {
	display: none;
	}