/*
	Theme Name: Cornell Risk Management Theme
	Theme URI: http://www.studiopress.com/themes/magazine
	Description: Cornell UnivCom Theme is a two or three column child theme created for the Genesis Framework.
	Author: IWS/StudioPress
	Author URI: http://www.cornell.edu

	Version: 2.1.a
	
	Tags: black, custom-background, custom-header, custom-menu, featured-images, fixed-width, gray, left-sidebar, one-column, right-sidebar, sticky-post, theme-options, threaded-comments, three-columns, translation-ready, two-columns, white
	
	Template: genesis
	Template Version: 1.8.2

	License: GNU General Public License v2.0
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/

/* Table of Contents

* Cornell Identity
* Import Fonts
* Defaults
* Hyperlinks
* Body
* Wrap
* Header
* Image Header - Partial Width
* Image Header - Full Width
* Navigation Constants
* Header Right Navigation
* Primary Navigation
* Primary Navigation Extras
* Secondary Navigation
* Inner
* Homepage
* Genesis Slider
* Breadcrumb
* Taxonomy Description
* Content-Sidebar Wrap
* Content
* Column Classes
* Featured Post Grid
* Headlines
* Ordered / Unordered Lists
* Post Info
* Post Meta
* Author Box
* Sticky Posts
* Archive Page
* Post Icons
* Images
* Post Navigation
* Primary / Secondary Sidebars
* Dropdowns
* Featured Page / Post
* User Profile
* Buttons
* Search Form
* eNews & Updates Widget
* Calendar Widget
* Footer Widgets
* Footer
* Comments
* Gravity Forms
* Magazine Blue
* Magazine Green
* Magazine Orange
* Magazine Purple
* Magazine Red
* Magazine Teal
* Responsive Design

*/

/****************************************
 * Cornell Identity
 ****************************************/

#cu-identity {
	height: 75px;
	background: #b31b1b;
	width: 100%;
	position: relative;
	z-index: 9;
	}
	
.cu-identity-wrap {
	margin: 0 auto;
	width: 960px;
}

#cu-logo {
	width: 244px;
	height: 75px;
	float: left;
	}
		
#cu-logo a {
	display: block;
	width: 244px;
	height: 75px;
	background: url(images/layout/cu_logo_red75.gif) no-repeat top left;
	}
	
#cu-logo img {
	display: none;
	}
	
#cu-search {
	float: right;
	margin-top: 7px;
	font-size: 0.9em;
	color: #fff;
	text-align: right;
	margin-bottom: 7px;
	}
#search-input-mobile, #search-filters-mobile {
	color: #333;
}
#search-form-query-mobile {
	border: 1px solid #ccc;
}

#search-form-submit-mobile {
	color: #333;
	background: #ccc;
}
#cu-search a {
	display: block;
	padding: 5px 15px;
	font-size: 1.0em;
	color: #fff;
	text-decoration: none;
	border: none;
	}
	
#cu-search a:hover {
	color: #fff;
	background: #990f0f;
	}
/*	edublogs footer */
#global-footer-content-inner {
  text-align: center;
}

/* Import Fonts
------------------------------------------------------------ */

/*@import url(http://fonts.googleapis.com/css?family=Play);*/
@import url(//fonts.googleapis.com/css?family=Droid+Serif:400,700);


/* Defaults
------------------------------------------------------------ */

body,
h1,
h2,
h2 a,
h2 a:visited,
h3,
h4,
h5,
h6,
p,
select,
textarea {
	color: #333;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 22px;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

input {
	color: #333;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
}

input,
select,
textarea,
.breadcrumb,
.sticky,
.taxonomy-description {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
}

li,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol li {
	list-style-type: decimal;
}


/* Hyperlinks
------------------------------------------------------------ */

a,
a:visited {
	color: #B31B1B;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	border: none;
}


/* Body
------------------------------------------------------------ */

body {
	background: #d7d6d1;
}


/* Wrap
------------------------------------------------------------ */

#wrap {
	/*background: url(images/wrap.png) repeat-x;*/
	background-color: #e3e3e3;
	margin: 0 auto;
}

.magazine-landing #wrap {
	background: none;
}


/* Header
------------------------------------------------------------ */

#header {
	min-height: 114px;
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
	position: relative;
	clear: both;
}

#title-area {
	float: left;
	overflow: hidden;
	padding: 20px 0 0 20px;
	width: 490px;
	width: 700px;
}

#title {
	font-family: 'Droid Serif', serif;
	font-size: 38px;
	font-weight: bold;
	line-height: 38px;
	margin: 0;
	text-shadow: 2px 2px hsl(0, 0%, 35%);
	text-transform: uppercase;
}

#title a, #description a,
#title a:hover, #description a:hover {
	color: #fff;
	text-decoration: none;
}

#description {
	font-family: 'Droid Serif', serif;
	font-size: 38px;
	font-weight: bold;
	line-height: 38px;
	margin: 0;
	text-shadow: 2px 2px hsl(0, 0%, 35%);
	text-transform: uppercase;
}

#header .widget-area {
	position: absolute;
	top: 20px;
	left: 58%;
	width: 350px;
	padding: 10px;
	background-color: #E3E3E3;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

#header .widget-area .widget {
	opacity:1.0 !important;
	filter:alpha(opacity=100) !important; /* For IE8 and earlier */
}


/* Image Header - Partial Width
------------------------------------------------------------ */

.header-image #title-area,
.header-image #title,
.header-image #title a {
	display: block;
	float: left;
	height: 115px;
	overflow: hidden;
	padding: 0;
	text-indent: -9999px;
	width: 490px;
}

.header-image #description {
	display: block;
	overflow: hidden;
}


/* Image Header - Full Width
------------------------------------------------------------ */

.header-full-width #title-area,
.header-full-width #title,
.header-full-width #title a {
	width: 65%;
}


/* Navigation Constants
------------------------------------------------------------ */

li:hover ul ul,
li.sfHover ul ul {
	left: -9999px;
}

li:hover,
li.sfHover {
	position: static;
}

li a .sf-sub-indicator {
	position: absolute;
	text-indent: -9999px;
}

/* Header Right Navigation
------------------------------------------------------------ */

#header ul.menu {
	float: right;
}

#header ul.menu ul {
	float: right;
	margin: 0;
	padding: 0;
	width: 100%;
}

#header ul.menu li {
	float: left;
	list-style-type: none;
	text-transform: uppercase;
}

#header ul.menu li a {
	color: #999;
	display: block;
	font-size: 12px;
	padding: 6px 15px 5px;
	position: relative;
	text-decoration: none;
}

#header ul.menu li a:hover,
#header ul.menu li a:active,
#header ul.menu .current_page_item a,
#header ul.menu .current-cat a,
#header ul.menu .current-menu-item a {
	color: #B31B1B;
}

#header ul.menu li li a,
#header ul.menu li li a:link,
#header ul.menu li li a:visited {
	background-color: #111;
	border: 1px solid #444;
	border-top-width: 0;
	color: #999;
	font-size: 11px;
	padding: 5px 10px;
	position: relative;
	text-transform: none;
	width: 128px;
}

#header ul.menu li li a:hover,
#header ul.menu li li a:active {
	color: #B31B1B;
}

#header ul.menu li ul {
	height: auto;
	left: -9999px;
	margin: 0 0 0 -1px;
	position: absolute;
	width: 150px;
	z-index: 9999;
}

#header ul.menu li ul a {
	width: 130px;
}

#header ul.menu li ul ul {
	margin: -33px 0 0 149px;
}

#header ul.menu li:hover>ul,
#header ul.menu li.sfHover ul {
	left: auto;
}


/* Primary Navigation
------------------------------------------------------------ */

#nav {
	background-color: #b0b0a8;
	border-bottom: 1px solid #fff;
	clear: both;
	overflow: hidden;
}

#nav .wrap {
	color: #fff;
	margin: 0 auto;
	text-transform: uppercase;
	width: 960px;
}

#nav ul {
	float: left;
	width: 100%;
}

#nav li {
	float: left;
	list-style-type: none;
}

#nav li a {
	color: #fff;
	display: block;
	font-size: 12px;
	padding: 7px 15px 6px;
	position: relative;
	text-decoration: none;
}

#nav li a:hover,
#nav li a:active,
#nav .current_page_item a,
#nav .current-cat a,
#nav .current-menu-item a {
	/*color: #B31B1B;*/
	color: #fff;
	background: url(images/layout/nav_hover_bg_3.gif) repeat-x left top;
}

#nav li li a,
#nav li li a:link,
#nav li li a:visited {
	background: none;
	background-color: #a2a29b;
	border: 1px solid #fff;
	border-top-width: 0;
	color: #fff;
	font-size: 12px;
	padding: 5px 10px;
	position: relative;
	text-transform: none;
	width: 128px;
}

#nav li li a:hover,
#nav li li a:active {
	color: #333;
}

#nav li ul {
	height: auto;
	left: -9999px;
	margin: 0 0 0 -1px;
	position: absolute;
	width: 150px;
	z-index: 9999;
}

#nav li ul a {
	width: 130px;
}

#nav li ul ul {
	margin: -33px 0 0 149px;
}

#nav li:hover>ul,
#nav li.sfHover ul {
	left: auto;
}


/* Primary Navigation Extras
------------------------------------------------------------ */

#nav li.right {
	float: right;
	font-size: 11px;
	padding: 7px 15px 6px;
}

#nav li.right a {
	background: none;
	border: none;
	color: #999;
	display: inline;
	text-decoration: none;
}

#nav li.right a:hover {
	color: #B31B1B;
	text-decoration: none;
}

#nav li.search {
	padding: 0 10px;
}

#nav li.rss a {
	background: url(images/rss.png) no-repeat center left;
	margin: 0 0 0 20px;
	padding: 7px 0 5px 18px;
}

#nav li.twitter a {
	background: url(images/twitter-nav.png) no-repeat center left;
	padding: 7px 0 5px 20px;
}


/* Secondary Navigation
------------------------------------------------------------ */

#subnav {
	/*background: url(images/subnav.png);*/
		background-color: #b0b0a8;
	/*border-bottom: 1px solid #111;*/
	border-top: 1px solid #fff;
	clear: both;
	overflow: hidden;
}

#subnav .wrap {
	color: #fff;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	text-transform: uppercase;
	margin: 0 auto;
	width: 960px;
}
#subnav ul {
	float: left;
	width: 100%;
}

#subnav li {
	float: left;
	list-style-type: none;
}

#subnav li a {
	color: #fff;
	display: block;
	/*font-size: 14px;
	padding: 12px 15px 11px;*/
	font-size: 12px;
	padding: 7px 20px 6px;
	position: relative;
	text-decoration: none;
	/*text-shadow: 1px 1px #000;*/
}

#subnav li a:hover,
#subnav li a:active,
#subnav .current_page_item a,
#subnav .current-cat a,
#subnav .current-menu-item a,
#subnav .current-menu-ancestor a,
#nav li a:hover,
#nav li a:active,
#nav .current_page_item a,
#nav .current-cat a,
#nav .current-menu-item a,
#nav .current-menu-ancestor a
{
	color: #B31B1B;
	background: url(images/layout/nav_hover_bg_3.gif) repeat-x left top;
}

#subnav li li a,
#subnav li li a:link,
#subnav li li a:visited {
	background: none;
	background-color: #a2a29b;
	border: 1px solid #fff;
	border-top-width: 0;
	color: #fff;
	font-size: 12px;
	padding: 5px 10px;
	position: relative;
	text-transform: none;
	width: 128px;
}

#subnav li li a:hover,
#subnav li li a:active {
	color: #B31B1B;
}

#subnav li ul {
	height: auto;
	left: -9999px;
	margin: 1px 0 0 -1px;
	position: absolute;
	width: 150px;
	z-index: 9999;
}

#subnav li ul a {
	width: 130px;
}

#subnav li ul ul {
	margin: -33px 0 0 149px;
}

#subnav li:hover>ul,
#subnav li.sfHover ul {
	left: auto;
}

/* Section navigation (pages widget)
------------------------------------------------------------ */
.sidebar .widget_pages ul, .sidebar .widget_pages ul li.page_item {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
}
.sidebar .widget_pages ul.children {
	padding-left: 10px;
	margin: 0;
	display: none;
}

.sidebar .widget_pages li.page_item.current_page_parent ul.children, .sidebar .widget_pages li.page_item.current_page_ancestor ul.children, .sidebar .widget_pages li.current_page_item ul.children {
	display: block;
}
.sidebar .widget_pages ul li.page_item a {
	display: block;
	padding: 2px 0;
	font-weight: bold;
}

.sidebar .widget_pages ul.children li.page_item a {
	padding: 0;
	font-weight: normal;
}

.sidebar .widget_pages ul li.current_page_item > a {
	color: #000;
}

body.search.search-results #sidebar-alt, 
body.error404 #sidebar-alt { 
	display: none; 
}

/****************************************
 * Tables
 ****************************************/
table, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	}
	
table {
	margin: 0 0 30px;
	background: #fff;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	width: 100%;
	}
	
td, th {
	padding: 10px 15px;
	font-size: 0.9em;
	line-height: 1.5em;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	}
tr.dark {
	background: #E7E5DB;
}

/* Inner
------------------------------------------------------------ */

#inner {
	/*background: url(images/inner.png) repeat-x;*/
	background-color: #E7E5DB;
	overflow: hidden;
}

#inner .wrap {
	background-color: #F0EEE4;
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
	min-height: 500px;
}

.magazine-landing #inner .wrap {
	margin: 0 auto;
	width: 700px;
}


/* Homepage
------------------------------------------------------------ */

.home-bottom,
.home-middle,
.home-top {
	clear: both;
	font-size: 13px;
	line-height: 20px;
	margin: 0 0 20px;
	overflow: hidden;
	width: 610px;
}

.home-bottom {
	margin: 0;
}

.home-left {
	float: left;
	width: 290px;
}

.home-right {
	float: right;
	width: 290px;
}


/* Genesis Slider
------------------------------------------------------------ */

#content #genesis-responsive-slider,
#content #genesis-slider {
	background-color: #fff;
	border: 4px solid #f5f5f5;
	padding: 1px;
}

#genesis-responsive-slider a,
#genesis-responsive-slider a:visited,
#genesis-slider a,
#genesis-slider a:visited {
	color: #fff;
	text-decoration: underline;
}

#genesis-responsive-slider a:hover,
#genesis-slider a:hover {
	text-decoration: none;
}

#genesis-responsive-slider p,
#genesis-slider p {
	color: #fff;
	font-size: 13px;
	line-height: 20px;
}

#content .slide-excerpt {
	background-color: #222;
	border-left: 1px solid #333;
	border-top: 1px solid #333;
	filter: alpha(opacity=100);
	margin: 0;
	padding: 10px;
	opacity: 1.0;
}

html > body .slide-excerpt-border {
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
}


/* Breadcrumb
------------------------------------------------------------ */

.breadcrumb {
	border: none;
	font-size: 12px;
	line-height: 20px;
	margin: 0 0 30px;
	padding: 5px 10px;
}


/* Taxonomy Description
------------------------------------------------------------ */

.taxonomy-description {
	border: none;
	margin: 0 0 30px;
	padding: 10px;
}


/* Content-Sidebar Wrap
------------------------------------------------------------ */

#content-sidebar-wrap {
	float: left;
	width: 960px;
}

/*#inner .wrap #content-sidebar-wrap #content.hfeed {
	width: 960px;
}*/

.content-sidebar #content-sidebar-wrap,
.full-width-content #content-sidebar-wrap,
.sidebar-content #content-sidebar-wrap {
	width: 960px;
}

.sidebar-content-sidebar #content-sidebar-wrap,
.sidebar-sidebar-content #content-sidebar-wrap {
	float: right;
}

.magazine-landing #content-sidebar-wrap {
	width: 700px;
}


/* Content
------------------------------------------------------------ */
.post-55.page { margin-left: 12px; }

#content {
	float: left;
	padding: 20px 25px;
	width: 610px;
}

.content-sidebar #content,
.sidebar-content #content {
	width: 610px;
}

.sidebar-content #content,
.sidebar-sidebar-content #content {
	float: right;
}

.full-width-content #content {
	width: 910px;
}

.full-width-content.magazine-landing #content {
	width: 650px;
}

blockquote {
	background-color: #f5f5f5;
	margin: 5px 15px 20px;
	padding: 15px 20px 0;
}

blockquote p {
	color: #666;
	font-family: Georgia, Times, 'Times New Roman', serif;
	font-style: italic;
}

.post {
	margin: 0 0 40px;
}

.single .post {
	margin: 0 0 20px;
}

.entry-content {
	overflow: hidden;
}

.entry-content p {
	padding: 0 0 25px;
}

p.subscribe-to-comments {
	padding: 20px 0 10px;
}

.after-post-ad {
	background-color: #f5f5f5;
	margin: 5px 0 10px;
	padding: 10px;
	overflow: hidden;
}

.after-content-ad {
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	padding: 15px;
	/*text-align: center;*/
	width: 930px;
	font-size: 12px;
}

.more-from-category {
	background: url(images/list.png) no-repeat top left;
	margin: -5px 0 0;
	padding: 1px 0 0 18px;
}

.clear {
	clear: both;
}

.clear-line {
	border-bottom: 1px solid #ddd;
	clear: both;
	margin: 0 0 15px;
}


/* Column Classes
------------------------------------------------------------ */

.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin: 0 0 20px;
	padding-left: 3%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48%;
}

.one-third,
.two-sixths {
	width: 31%;
}

.four-sixths,
.two-thirds {
	width: 65%;
}

.one-fourth {
	width: 22.5%;
}

.three-fourths {
	width: 73.5%;
}

.one-fifth {
	width: 17.4%;
}

.two-fifths {
	width: 37.8%;
}

.three-fifths {
	width: 58.2%;
}

.four-fifths {
	width: 78.6%;
}

.one-sixth {
	width: 14%;
}

.five-sixths {
	width: 82%;
}

.first {
	clear: both;
	padding-left: 0;
}


/* Featured Post Grid
------------------------------------------------------------ */

.genesis-grid-even {
	float: right;
	padding: 0 0 15px;
	width: 48%;
}

.genesis-grid-odd {
	clear: both;
	float: left;
	padding: 0 0 15px;
	width: 48%;
}

.genesis-grid-even,
.genesis-grid-odd {
	margin: 0 0 20px;
}


/* Headlines
------------------------------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Droid Serif', arial, serif;
	margin: 0 0 14px;
}

h1,
h2,
h2 a,
h2 a:visited {
	font-family: 'Droid Serif', arial, serif;
	font-size: 30px;
	line-height: 36px;
}
/* edits for search results */
.search h1 {padding-bottom: 12px; border-bottom: 1px solid #fff;}
.search h2,
.search h2 a,
.search h2 a:visited {font-size: 20px;line-height: 20px;}
.search h2 {padding-top: 15px;}
.search .post-info, .search .post-meta {display: none;}
.search .search-excerpt {background: #FFC;}
.search .entry {border-bottom: 1px solid #fff;}


.page h1 {
	margin: 0 0 24px;
}

#genesis-responsive-slider h2 a,
#genesis-responsive-slider h2 a:visited,
#genesis-slider h2 a,
#genesis-slider h2 a:visited {
	color: #ccc;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
}

#genesis-responsive-slider h2 a:hover,
#genesis-slider h2 a:hover {
	color: #B31B1B;
}

.home h2 a,
.home h2 a:visited {
	font-size: 20px;
	line-height: 24px;
}

.home-middle h2 a,
.home-middle h2 a:visited {
	font-size: 16px;
	line-height: 20px;
}

.taxonomy-description h1,
.widget-area h2,
.widget-area h2 a {
	font-size: 18px;
	line-height: 24px;
}

h2 a:hover {
	color: #B31B1B;
	text-decoration: none;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

.home-bottom h4,
.home-middle h4 {
	margin: 0 0 10px;
}

.widget-area h4 {
	font-size: 16px;
	text-transform: uppercase;
}

.widget-area h4 a {
	color: #333;
	text-decoration: none;
}

#footer-widgets h4 {
	background: none;
	border: none;
	margin: 0 0 5px;
	padding: 0;
}

h5 {
	font-size: 19px;
	color: #B31B1B;
}

h6 {
	font-size: 16px;
}


/* Ordered / Unordered Lists
------------------------------------------------------------ */

.entry-content ol,
.entry-content ul {
	margin: 0;
	padding: 0 0 15px;
}

.entry-content ol {
	margin: 0;
}

.archive-page ul li,
.entry-content ul li {
	list-style-type: square;
	margin: 0 0 0 30px;
	padding: 0;
}

.entry-content ol li {
	margin: 0 0 0 35px;
}

.archive-page ul ul,
.entry-content ol ol,
.entry-content ul ul {
	padding: 0;
}


/* Post Info
------------------------------------------------------------ */

.post-info {
	font-size: 11px;
	margin: 5px 0 15px;
	text-transform: uppercase;
}


/* Post Meta
------------------------------------------------------------ */

.post-meta {
	background-color: #f5f5f5;
	clear: both;
	font-size: 11px;
	padding: 7px 10px 5px;
	text-transform: uppercase;
}


/* Author Box
------------------------------------------------------------ */

.author-box {
	border: 1px solid #ddd !important;
	margin: 0 0 40px;
	overflow: hidden;
}

.author-box p {
	font-size: 13px;
	line-height: 20px;
}

.author-box div {
	background-color: #fff;
	border: 4px solid #f5f5f5;
	padding: 10px;
}


/* Sticky Posts
------------------------------------------------------------ */

.sticky {
	margin: 0 0 40px;
	padding: 20px;
}


/* Archive Page
------------------------------------------------------------ */

.archive-page {
	float: left;
	padding: 20px 0;
	width: 45%;
}


/* Post Icons
------------------------------------------------------------ */

.categories {
	background: url(images/icon-categories.png) no-repeat top left;
	padding: 3px 0 3px 22px;
}
	
.post-comments {
	background: url(images/icon-comments.png) no-repeat top left;
	margin: 0 0 0 10px;
	padding: 2px 0 2px 22px;
}

.tags {
	background: url(images/icon-tags.png) no-repeat top left;
	margin: 0 0 0 10px;
	padding: 3px 0 3px 20px;
}
	
.time {
	background: url(images/icon-time.png) no-repeat top left;
	padding: 2px 0 2px 21px;
}


/* Images
------------------------------------------------------------ */

img {
	height: auto;
	max-width: 100%;
}

.avatar,
.entry-content img,
.featuredpage img,
.featuredpost img,
.post-image {
	background-color: #fff;
	border: 4px solid #eee;
	padding: 1px;
}

.home-middle .featuredpost img {
	margin: 0 0 10px;
}

.author-box .avatar {
	background-color: #fff;
	float: left;
	height: 72px;
	margin: 0 10px 0 0;
	width: 72px;
}

.post-image {
	margin: 0 10px 10px 0;
}

.comment-list li .avatar { 
	background-color: #fff;
	float: left;
	height: 30px;
	margin: 0 5px 0 0;
	width: 30px;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 10px;
}

img.alignnone {
	display: inline;
	margin: 0 0 15px;
}

img.alignleft {
	display: inline;
	margin: 0 15px 10px 0;
}

img.alignright {
	display: inline;
	margin: 0 0 10px 15px;
}

.alignleft {
	float: left;
	margin: 0 15px 0 0;
}

.alignright {
	float: right;
	margin: 0 0 0 15px;
}

.wp-caption {
	background-color: #f5f5f5;
	padding: 10px;
	text-align: center;
}

.wp-caption.alignleft {float: left; margin: 0 10px 10px 0; border: 1px solid #E7E5DB;}

p.wp-caption-text {
	font-size: 12px;
	line-height: 16px;
	padding: 5px 0;
}

.wp-smiley,
.wp-wink {
	border: none;
	float: none;
}

.gallery-caption {
}


/* Post Navigation
------------------------------------------------------------ */

.navigation {
	overflow: hidden;
	padding: 20px 0;
	width: 100%;
}

.navigation li {
	display: inline;
}

.navigation li a,
.navigation li.disabled,
.navigation li a:hover,
.navigation li.active a {
	border: 1px solid #ddd;
	padding: 5px 8px;
}

.navigation li a:hover,
.navigation li.active a {
	background-color: #f5f5f5;
}


/* Primary / Secondary Sidebars
------------------------------------------------------------ */

.sidebar {
	display: inline;
	float: right;
	font-size: 13px;
	line-height: 20px;
	width: 300px;
	clear: right;
}

.sidebar p {
	font-size: 13px;
	line-height: 20px;
}

#sidebar-alt {
	float: right;
	width: 300px;
}

.sidebar-content #sidebar,
.sidebar-sidebar-content #sidebar {
	float: left;
}

.sidebar-content #sidebar {clear: none;}

.content-sidebar-sidebar #sidebar-alt {
	float: right;
}

#sidebar .widget,
#sidebar-alt .widget {
	border-bottom: 1px solid #ddd;
}

.content-sidebar #sidebar .widget,
.sidebar-content-sidebar #sidebar .widget,
.content-sidebar-sidebar #sidebar .widget,
.content-sidebar-sidebar #sidebar-alt .widget {
	/*border-left: 1px solid #ddd;*/
}

.sidebar-content #sidebar .widget,
.sidebar-content-sidebar #sidebar-alt .widget,
.sidebar-sidebar-content #sidebar .widget,
.sidebar-sidebar-content #sidebar-alt .widget {
	/*border-right: 1px solid #ddd;*/
}

.sidebar .widget-wrap {
	border: 4px solid #f5f5f5;
	padding: 15px 20px 20px;
}

.sidebar .widget ul {
	margin: 5px 0 -5px;
}

.home-middle .widget ul li,
.sidebar .widget ul li,
.sidebar .widget-area ul li {
	background: url(images/list.png) no-repeat top left;
	border-bottom: 1px dotted #ddd;
	list-style-type: none;
	margin: 0 0 7px;
	padding: 0 0 5px 18px;
	word-wrap: break-word;
}


/* Dropdowns
------------------------------------------------------------ */

#cat,
.widget_archive select {
	display: inline;
	font-family: 'Droid Serif', arial, serif;
	font-size: 12px;
	width: 100%;
}


/* Featured Page / Post
------------------------------------------------------------ */

.featuredpage,
.featuredpost {
	clear: both;
	margin: 0 0 15px;
	overflow: hidden;
}

.featuredpage .page,
.featuredpost .post {
	border-bottom: 1px dotted #ddd;
	margin: 0 0 15px;
	overflow: hidden;
	padding: 0 0 15px;
}

.home .featuredpost p {
	font-size: 13px;
	line-height: 20px;
}


/* User Profile
------------------------------------------------------------ */

.user-profile {
	overflow: hidden;
}


/* Buttons
------------------------------------------------------------ */

input[type="button"],
input[type="submit"] {
	color: #fff;
	background: #B31B1B;
	text-shadow: 
	cursor: pointer;
	font-family: 'Droid Serif', arial, serif !important;
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 2px;
	text-decoration: none;
}

/* Search Form
------------------------------------------------------------ */

#search-form-submit {
	padding-bottom: 2px;
	height: 21px;
	border-top: 1px solid #bf6060;
	border-left: 1px solid #bf6060;
	border-right: 1px solid #400606;
	border-bottom: 1px solid #400606;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	color: #fff;
	background: #900;
}
#search-form-submit-mobile {
	padding-bottom: 2px;
	height: 21px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	color: #333;
	background: #ccc;
}
#search-filters, #search-filters-mobile {
	text-align: right;
}

#search-form-query {
	padding: 3px;
	width: 185px;
	border: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.1em;
	color: #fff;
	background: #990f0f url(images/layout/header_search.gif) no-repeat top left;
	vertical-align: middle;
}

#search-form-query-mobile {
	width: 185px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1em;
	color: #333;
	background: #efefef;
	vertical-align: middle;
}

#search_icon, #mobile-nav, #search-form-mobile {
	display: none;
}

#search-form-mobile {
	margin-top: 75px;
	position: relative;
	z-index: 1;
}

/* contact form
------------------------------------------------------------ */

.with_frm_style label.frm_primary_label {
	color: #333;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
}





/* eNews and Update Widget
------------------------------------------------------------ */

.enews {
	background: url(images/enews.png) no-repeat top right;
}

.enews #subbox {
	font-family: 'Droid Serif', arial, serif;
	font-size: 13px;
	margin: 10px -2px 0 0;
	padding: 5px;
	width: 175px;
}


/* Calendar Widget
------------------------------------------------------------ */

#wp-calendar {
	width: 100%;
}

#wp-calendar caption {
	font-size: 12px;
	font-style: italic;
	padding: 2px 5px 0 0;
	text-align: right;
}

#wp-calendar thead {
	background-color: #f5f5f5;
	font-weight: bold;
	margin: 10px 0 0;
}

#wp-calendar td {
	background-color: #f5f5f5;
	padding: 2px;
	text-align: center;
}


/* Footer Widgets
------------------------------------------------------------ */

#footer-widgets {
/*	-moz-box-shadow: 0 1px 2px #666; 
	-webkit-box-shadow: 0 1px 2px #666;
	background-color: #fff;
	box-shadow: 0 1px 1px #666;
	margin: 0 auto 20px;
	overflow: hidden;
	width: 960px;*/
	background-color: #d7d6d1;
	width: 100%;
	margin: 0 auto;
}

#footer-widgets .wrap {
	/*border: 4px solid #f5f5f5;*/
	width: 960px;
	margin: 0 auto;
	
	font-size: 13px;
	line-height: 20px;
	overflow: hidden;
	padding: 15px 0;
}

#footer-widgets .widget {
	background: none;
	border: none;
	margin: 0 0 15px 15px;
	padding: 0;
}

#footer-widgets .textwidget {
	padding: 0;
}

#footer-widgets-1 .textwidget {
	float: left;
}

#footer-widgets-3 .widget_text .widget-wrap {
	float: right!important;
}

#footer-widgets .widget_tag_cloud div div {
	padding: 0;
}

#footer-widgets p {
	font-size: 13px;
	line-height: 20px;
	padding: 0 0 10px;
}

#footer-widgets .widget ul li,
#footer-widgets .widget-area ul li {
	background: url(images/list.png) no-repeat top left;
	border-bottom: 1px dotted #ddd;
	list-style-type: none;
	margin: 0 0 7px;
	padding: 0 0 5px 18px;
	word-wrap: break-word;
}

#footer-widgets #wp-calendar thead,
#footer-widgets #wp-calendar td {
	background: none;
}

.footer-widgets-1 {
	float: left;
	margin: 0 0 0 0;
	width: 33%;
}

.footer-widgets-2 {
	float: left;
	width: 33%;
}

.footer-widgets-3 {
	float: right;
	text-align: right;
	width: 33%;
}

.footer-widgets a.footer-menu {
	padding: 0 7px;
	background-image: url(images/layout/pipe.gif);
	background-repeat: no-repeat;
	background-position: right center;
}

.footer-widgets a.footer-menu:first-child {
	padding-left: 0;
}

.footer-widgets a.footer-menu:last-child {
	background: none;
}

a.footer-social-icon {
	display: block;
	width: 25px;
	height: 25px;
	margin: 0 6px;
	float: right;
	background-image: url(images/layout/social/social-sprite.png);
	background-size: 150px;
}
a.footer-social-icon.facebook {
	background-position: top left;
}
a.footer-social-icon.facebook:hover {
	background-position: 75px 0;
}
a.footer-social-icon.twitter {
	background-position: 125px 50px;
}
a.footer-social-icon.twitter:hover {
	background-position: 50px 50px;
}
a.footer-social-icon.google-plus {
	background-position: 100px 0;
}
a.footer-social-icon.google-plus:hover {
	background-position: 25px 0;
}
a.footer-social-icon.linked-in {
	background-position: bottom left;
}
a.footer-social-icon.linked-in:hover {
	background-position:  75px 24.9px;
}
a.footer-social-icon.pinterest {
	background-position: 150px 50px;
}
a.footer-social-icon.pinterest:hover {
	background-position: 75px 50px;
}
a.footer-social-icon.rss {
	background-position: 125px 25px;
}
a.footer-social-icon.rss:hover {
	background-position: 50px 25px;
}
a.footer-social-icon.instagram {
	background-position: 100px 25px;
}
a.footer-social-icon.instagram:hover {
	background-position: 25px 25px;
}
a.footer-social-icon.flickr {
	background-position: 100px 50px;
}
a.footer-social-icon.flickr:hover {
	background-position: 25px 50px;
}
a.footer-social-icon.tumblr {
	background-position: 125px 75px;
}
a.footer-social-icon.tumblr:hover {
	background-position: 50px 75px;
}
/* Footer
------------------------------------------------------------ */

#footer {
/*	background: url(images/footer.png);*/
background-color: #d7d6d1;
	clear: both;
	overflow: hidden;
}

#footer .wrap {
	font-size: 11px;
	margin: 0 auto;
	padding: 16px 0 15px;
	overflow: hidden;
	text-transform: uppercase;
	width: 960px;
	background-color: #d7d6d1;
}

#footer p {
	color: #333;
	font-size: 11px;
}

#footer a,
#footer a:visited {
	color: #c72730;
}

#footer a:hover {
	color: #ff0000;
	/*text-decoration: none;*/
}

#footer .gototop {
	float: left;
	width: 200px;
}

#footer .gototop a {
	background: url(images/footer-top.png) no-repeat center left;
	padding: 6px 0 4px 35px;
}

#footer .creds {
	float: right;
	text-align: right;
	width: 755px;
}

#footer .last {
	float: right;
	text-align: right;
	padding-right: 15px;
}
a.post-edit-link {
	display: none;
}
/* Comments
------------------------------------------------------------ */

#comments,
#respond {
	margin: 0 0 30px;
	overflow: hidden;
}

#comments {
	font-size: 13px;
	line-height: 20px;
}

#author,
#comment,
#email,
#url {
	font-size: 12px;
	margin: 10px 5px 0 0;
	padding: 5px;
	width: 250px;
}

#comment {
	height: 150px;
	margin: 10px 0;
	width: 98%;
}

.ping-list {
	margin: 0 0 40px;
}

.comment-list ol,
.ping-list ol {
	margin: 0;
	padding: 10px;
}

.comment-list li,
.ping-list li {
	font-weight: bold;
	list-style: none;
	margin: 10px 0 0;
	padding: 10px;
}

.comment-list li ul li {
	list-style-type: none;
}

.comment-list p,
.ping-list p {
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
	margin: 10px 5px 10px 0;
	padding: 0;
	text-transform: none;
}

.comment-list ul.children {
	margin-top: 20px;
}

.comment-list ul.children li.comment  {
	background: #fff;
}

.comment-list cite,
.ping-list cite {
	font-style: normal;
	font-weight: bold;
}

.commentmetadata {
	font-weight:normal;
}

.comment-author { 
	background: #e5e5e5;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 10px 0;
}

.comment-meta { 
	background: #e5e5e5;
	font-size: 12px;
	padding: 0 10px 8px;
}

.nocomments {
	text-align: center;
}

#comments .navigation {
	display: block;
	padding: 0;
}

.bypostauthor {
}

.thread-alt,
.thread-even {
	background: #f5f5f5;
}

.alt,
.depth-1,
.even {
	border: 1px solid #ddd;
}


/* Gravity Forms
------------------------------------------------------------ */

div.gform_wrapper input,
div.gform_wrapper select,
div.gform_wrapper textarea {
	color: #333;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 12px !important;
	padding: 4px 5px !important;
}

div.gform_footer input.button {
	color: #fff;
}

div.gform_wrapper .ginput_complex label {
	font-size: 12px;
}

div.gform_wrapper li,
div.gform_wrapper form li {
	margin: 0 0 10px;
}

div.gform_wrapper .gform_footer {
	border: none;
	margin: 0;
	padding: 0;
}


/* Magazine Blue
------------------------------------------------------------ */

.magazine-blue a,
.magazine-blue a:visited {
	color: #2780c7;
	text-decoration: none;
}

.magazine-blue a:hover {
	text-decoration: underline;
}

.magazine-blue #header ul.nav li li a,
.magazine-blue #header ul.nav li li a:link,
.magazine-blue #header ul.nav li li a:visited,
.magazine-blue #header ul.menu li li a,
.magazine-blue #header ul.menu li li a:link,
.magazine-blue #header ul.menu li li a:visited,
.magazine-blue #nav li li a,
.magazine-blue #nav li li a:link,
.magazine-blue #nav li li a:visited {
	color: #999;
}

.magazine-blue #subnav li li a,
.magazine-blue #subnav li li a:link,
.magazine-blue #subnav li li a:visited {
	color: #fff;
}

.magazine-blue h2 a,
.magazine-blue h2 a:visited {
	color: #333;
}

.magazine-blue #header ul.nav li a:hover,
.magazine-blue #header ul.nav li a:active,
.magazine-blue #header ul.nav .current_page_item a,
.magazine-blue #header ul.nav .current-cat a,
.magazine-blue #header ul.nav .current-menu-item a,
.magazine-blue #header ul.menu li a:hover,
.magazine-blue #header ul.menu li a:active,
.magazine-blue #header ul.menu .current_page_item a,
.magazine-blue #header ul.menu .current-cat a,
.magazine-blue #header ul.menu .current-menu-item a,
.magazine-blue #header ul.nav li li a:hover,
.magazine-blue #header ul.nav li li a:active,
.magazine-blue #header ul.menu li li a:hover,
.magazine-blue #header ul.menu li li a:active,
.magazine-blue #nav li a:hover,
.magazine-blue #nav li a:active,
.magazine-blue #nav .current_page_item a,
.magazine-blue #nav .current-cat a,
.magazine-blue #nav .current-menu-item a,
.magazine-blue #nav li li a:hover,
.magazine-blue #nav li li a:active,
.magazine-blue #nav li.right a:hover,
.magazine-blue #subnav li a:hover,
.magazine-blue #subnav li a:active,
.magazine-blue #subnav .current_page_item a,
.magazine-blue #subnav .current-cat a,
.magazine-blue #subnav .current-menu-item a,
.magazine-blue #subnav li li a:hover,
.magazine-blue #subnav li li a:active,
.magazine-blue #genesis-responsive-slider h2 a:hover,
.magazine-blue #genesis-slider h2 a:hover,
.magazine-blue h2 a:hover,
.magazine-blue #footer a:hover {
	color: #2780c7;
}

.magazine-blue h2 a:hover {
	text-decoration: none;
}

.magazine-blue input[type="button"],
.magazine-blue input[type="submit"] {
	background: url(images/blue/button.png) 0 0;
	border: 1px solid #2780c7;
}

.magazine-blue input:hover[type="button"],
.magazine-blue input:hover[type="submit"] {
	background: url(images/blue/button.png) 0 -25px;
	border: 1px solid #2780c7;
}

.magazine-blue #footer .gototop a {
	background: url(images/blue/footer-top.png) no-repeat center left;
}


/* Magazine Green
------------------------------------------------------------ */

.magazine-green a,
.magazine-green a:visited {
	color: #27c753;
	text-decoration: none;
}

.magazine-green a:hover {
	text-decoration: underline;
}

.magazine-green #header ul.nav li li a,
.magazine-green #header ul.nav li li a:link,
.magazine-green #header ul.nav li li a:visited,
.magazine-green #header ul.menu li li a,
.magazine-green #header ul.menu li li a:link,
.magazine-green #header ul.menu li li a:visited,
.magazine-green #nav li li a,
.magazine-green #nav li li a:link,
.magazine-green #nav li li a:visited {
	color: #999;
}

.magazine-green #subnav li li a,
.magazine-green #subnav li li a:link,
.magazine-green #subnav li li a:visited {
	color: #fff;
}

.magazine-green h2 a,
.magazine-green h2 a:visited {
	color: #333;
}

.magazine-green #header ul.nav li a:hover,
.magazine-green #header ul.nav li a:active,
.magazine-green #header ul.nav .current_page_item a,
.magazine-green #header ul.nav .current-cat a,
.magazine-green #header ul.nav .current-menu-item a,
.magazine-green #header ul.menu li a:hover,
.magazine-green #header ul.menu li a:active,
.magazine-green #header ul.menu .current_page_item a,
.magazine-green #header ul.menu .current-cat a,
.magazine-green #header ul.menu .current-menu-item a,
.magazine-green #header ul.nav li li a:hover,
.magazine-green #header ul.nav li li a:active,
.magazine-green #header ul.menu li li a:hover,
.magazine-green #header ul.menu li li a:active,
.magazine-green #nav li a:hover,
.magazine-green #nav li a:active,
.magazine-green #nav .current_page_item a,
.magazine-green #nav .current-cat a,
.magazine-green #nav .current-menu-item a,
.magazine-green #nav li li a:hover,
.magazine-green #nav li li a:active,
.magazine-green #nav li.right a:hover,
.magazine-green #subnav li a:hover,
.magazine-green #subnav li a:active,
.magazine-green #subnav .current_page_item a,
.magazine-green #subnav .current-cat a,
.magazine-green #subnav .current-menu-item a,
.magazine-green #subnav li li a:hover,
.magazine-green #subnav li li a:active,
.magazine-green #genesis-responsive-slider h2 a:hover,
.magazine-green #genesis-slider h2 a:hover,
.magazine-green h2 a:hover,
.magazine-green #footer a:hover {
	color: #27c753;
}

.magazine-green h2 a:hover {
	text-decoration: none;
}

.magazine-green input[type="button"],
.magazine-green input[type="submit"] {
	background: url(images/green/button.png) 0 0;
	border: 1px solid #27c753;
}

.magazine-green input:hover[type="button"],
.magazine-green input:hover[type="submit"] {
	background: url(images/green/button.png) 0 -25px;
	border: 1px solid #27c753;
}

.magazine-green #footer .gototop a {
	background: url(images/green/footer-top.png) no-repeat center left;
}


/* Magazine Orange
------------------------------------------------------------ */

.magazine-orange a,
.magazine-orange a:visited {
	color: #e88e05;
	text-decoration: none;
}

.magazine-orange a:hover {
	text-decoration: underline;
}

.magazine-orange #header ul.nav li li a,
.magazine-orange #header ul.nav li li a:link,
.magazine-orange #header ul.nav li li a:visited,
.magazine-orange #header ul.menu li li a,
.magazine-orange #header ul.menu li li a:link,
.magazine-orange #header ul.menu li li a:visited,
.magazine-orange #nav li li a,
.magazine-orange #nav li li a:link,
.magazine-orange #nav li li a:visited {
	color: #999;
}

.magazine-orange #subnav li li a,
.magazine-orange #subnav li li a:link,
.magazine-orange #subnav li li a:visited {
	color: #fff;
}

.magazine-orange h2 a,
.magazine-orange h2 a:visited {
	color: #333;
}

.magazine-orange #header ul.nav li a:hover,
.magazine-orange #header ul.nav li a:active,
.magazine-orange #header ul.nav .current_page_item a,
.magazine-orange #header ul.nav .current-cat a,
.magazine-orange #header ul.nav .current-menu-item a,
.magazine-orange #header ul.menu li a:hover,
.magazine-orange #header ul.menu li a:active,
.magazine-orange #header ul.menu .current_page_item a,
.magazine-orange #header ul.menu .current-cat a,
.magazine-orange #header ul.menu .current-menu-item a,
.magazine-orange #header ul.nav li li a:hover,
.magazine-orange #header ul.nav li li a:active,
.magazine-orange #header ul.menu li li a:hover,
.magazine-orange #header ul.menu li li a:active,
.magazine-orange #nav li a:hover,
.magazine-orange #nav li a:active,
.magazine-orange #nav .current_page_item a,
.magazine-orange #nav .current-cat a,
.magazine-orange #nav .current-menu-item a,
.magazine-orange #nav li li a:hover,
.magazine-orange #nav li li a:active,
.magazine-orange #nav li.right a:hover,
.magazine-orange #subnav li a:hover,
.magazine-orange #subnav li a:active,
.magazine-orange #subnav .current_page_item a,
.magazine-orange #subnav .current-cat a,
.magazine-orange #subnav .current-menu-item a,
.magazine-orange #subnav li li a:hover,
.magazine-orange #subnav li li a:active,
.magazine-orange #genesis-responsive-slider h2 a:hover,
.magazine-orange #genesis-slider h2 a:hover,
.magazine-orange h2 a:hover,
.magazine-orange #footer a:hover {
	color: #e88e05;
}

.magazine-orange h2 a:hover {
	text-decoration: none;
}

.magazine-orange input[type="button"],
.magazine-orange input[type="submit"] {
	background: url(images/orange/button.png) 0 0;
	border: 1px solid #e88e05;
}

.magazine-orange input:hover[type="button"],
.magazine-orange input:hover[type="submit"] {
	background: url(images/orange/button.png) 0 -25px;
	border: 1px solid #e88e05;
}

.magazine-orange #footer .gototop a {
	background: url(images/orange/footer-top.png) no-repeat center left;
}


/* Magazine Purple
------------------------------------------------------------ */

.magazine-purple a,
.magazine-purple a:visited {
	color: #8827c7;
	text-decoration: none;
}

.magazine-purple a:hover {
	text-decoration: underline;
}

.magazine-purple #header ul.nav li li a,
.magazine-purple #header ul.nav li li a:link,
.magazine-purple #header ul.nav li li a:visited,
.magazine-purple #header ul.menu li li a,
.magazine-purple #header ul.menu li li a:link,
.magazine-purple #header ul.menu li li a:visited,
.magazine-purple #nav li li a,
.magazine-purple #nav li li a:link,
.magazine-purple #nav li li a:visited {
	color: #999;
}

.magazine-purple #subnav li li a,
.magazine-purple #subnav li li a:link,
.magazine-purple #subnav li li a:visited {
	color: #fff;
}

.magazine-purple h2 a,
.magazine-purple h2 a:visited {
	color: #333;
}

.magazine-purple #header ul.nav li a:hover,
.magazine-purple #header ul.nav li a:active,
.magazine-purple #header ul.nav .current_page_item a,
.magazine-purple #header ul.nav .current-cat a,
.magazine-purple #header ul.nav .current-menu-item a,
.magazine-purple #header ul.menu li a:hover,
.magazine-purple #header ul.menu li a:active,
.magazine-purple #header ul.menu .current_page_item a,
.magazine-purple #header ul.menu .current-cat a,
.magazine-purple #header ul.menu .current-menu-item a,
.magazine-purple #header ul.nav li li a:hover,
.magazine-purple #header ul.nav li li a:active,
.magazine-purple #header ul.menu li li a:hover,
.magazine-purple #header ul.menu li li a:active,
.magazine-purple #nav li a:hover,
.magazine-purple #nav li a:active,
.magazine-purple #nav .current_page_item a,
.magazine-purple #nav .current-cat a,
.magazine-purple #nav .current-menu-item a,
.magazine-purple #nav li li a:hover,
.magazine-purple #nav li li a:active,
.magazine-purple #nav li.right a:hover,
.magazine-purple #subnav li a:hover,
.magazine-purple #subnav li a:active,
.magazine-purple #subnav .current_page_item a,
.magazine-purple #subnav .current-cat a,
.magazine-purple #subnav .current-menu-item a,
.magazine-purple #subnav li li a:hover,
.magazine-purple #subnav li li a:active,
.magazine-purple #genesis-responsive-slider h2 a:hover,
.magazine-purple #genesis-slider h2 a:hover,
.magazine-purple h2 a:hover,
.magazine-purple #footer a:hover {
	color: #8827c7;
}

.magazine-purple h2 a:hover {
	text-decoration: none;
}

.magazine-purple input[type="button"],
.magazine-purple input[type="submit"] {
	background: url(images/purple/button.png) 0 0;
	border: 1px solid #8827c7;
}

.magazine-purple input:hover[type="button"],
.magazine-purple input:hover[type="submit"] {
	background: url(images/purple/button.png) 0 -25px;
	border: 1px solid #8827c7;
}

.magazine-purple #footer .gototop a {
	background: url(images/purple/footer-top.png) no-repeat center left;
}


/* Magazine Red
------------------------------------------------------------ */

.magazine-red a,
.magazine-red a:visited {
	color: #c72730;
	text-decoration: none;
}

.magazine-red a:hover {
	text-decoration: underline;
}

.magazine-red #header ul.nav li li a,
.magazine-red #header ul.nav li li a:link,
.magazine-red #header ul.nav li li a:visited,
.magazine-red #header ul.menu li li a,
.magazine-red #header ul.menu li li a:link,
.magazine-red #header ul.menu li li a:visited,
.magazine-red #nav li li a,
.magazine-red #nav li li a:link,
.magazine-red #nav li li a:visited {
	/*color: #999;*/
	color: #fff;
}

.magazine-red #subnav li li a,
.magazine-red #subnav li li a:link,
.magazine-red #subnav li li a:visited {
	color: #fff;
}

.magazine-red h2 a,
.magazine-red h2 a:visited {
	color: #333;
}

.magazine-red #nav li a:hover,
.magazine-red #nav li a:active,
.magazine-red #nav .current_page_item a,
.magazine-red #nav .current-cat a,
.magazine-red #nav .current-menu-item a,
.magazine-red #nav li.right a:hover,
.magazine-red #subnav li a:hover,
.magazine-red #subnav li a:active,
.magazine-red #subnav .current_page_item a,
.magazine-red #subnav .current-cat a,
.magazine-red #subnav .current-menu-item a {
	/*color: #c72730;*/
	color: #fff;
}
.magazine-red #nav li li a:hover,
.magazine-red #nav li li a:active,
.magazine-red #subnav li li a:hover,
.magazine-red #subnav li li a:active
.magazine-red #header ul.nav li a:hover,
.magazine-red #header ul.nav li a:active,
.magazine-red #header ul.nav .current_page_item a,
.magazine-red #header ul.nav .current-cat a,
.magazine-red #header ul.nav .current-menu-item a,
.magazine-red #header ul.menu li a:hover,
.magazine-red #header ul.menu li a:active,
.magazine-red #header ul.menu .current_page_item a,
.magazine-red #header ul.menu .current-cat a,
.magazine-red #header ul.menu .current-menu-item a,
.magazine-red #header ul.nav li li a:hover,
.magazine-red #header ul.nav li li a:active,
.magazine-red #header ul.menu li li a:hover,
.magazine-red #header ul.menu li li a:active,
.magazine-red #genesis-responsive-slider h2 a:hover,
.magazine-red #genesis-slider h2 a:hover,
.magazine-red h2 a:hover,
.magazine-red #footer a:hover {
	color: #c72730;
}

.magazine-red h2 a:hover {
	text-decoration: none;
}

.magazine-red input[type="button"],
.magazine-red input[type="submit"] {
	background: url(images/red/button.png) 0 0;
	border: 1px solid #c72730;
}

.magazine-red input:hover[type="button"],
.magazine-red input:hover[type="submit"] {
	background: url(images/red/button.png) 0 -25px;
	border: 1px solid #c72730;
}

.magazine-red #footer .gototop a {
	background: url(images/red/footer-top.png) no-repeat center left;
}


/* Magazine Teal
------------------------------------------------------------ */

.magazine-teal a,
.magazine-teal a:visited {
	color: #27c3c7;
	text-decoration: none;
}

.magazine-teal a:hover {
	text-decoration: underline;
}

.magazine-teal #header ul.nav li li a,
.magazine-teal #header ul.nav li li a:link,
.magazine-teal #header ul.nav li li a:visited,
.magazine-teal #header ul.menu li li a,
.magazine-teal #header ul.menu li li a:link,
.magazine-teal #header ul.menu li li a:visited,
.magazine-teal #nav li li a,
.magazine-teal #nav li li a:link,
.magazine-teal #nav li li a:visited {
	color: #999;
}

.magazine-teal #subnav li li a,
.magazine-teal #subnav li li a:link,
.magazine-teal #subnav li li a:visited {
	color: #fff;
}

.magazine-teal h2 a,
.magazine-teal h2 a:visited {
	color: #333;
}

.magazine-teal #header ul.nav li a:hover,
.magazine-teal #header ul.nav li a:active,
.magazine-teal #header ul.nav .current_page_item a,
.magazine-teal #header ul.nav .current-cat a,
.magazine-teal #header ul.nav .current-menu-item a,
.magazine-teal #header ul.menu li a:hover,
.magazine-teal #header ul.menu li a:active,
.magazine-teal #header ul.menu .current_page_item a,
.magazine-teal #header ul.menu .current-cat a,
.magazine-teal #header ul.menu .current-menu-item a,
.magazine-teal #header ul.nav li li a:hover,
.magazine-teal #header ul.nav li li a:active,
.magazine-teal #header ul.menu li li a:hover,
.magazine-teal #header ul.menu li li a:active,
.magazine-teal #nav li a:hover,
.magazine-teal #nav li a:active,
.magazine-teal #nav .current_page_item a,
.magazine-teal #nav .current-cat a,
.magazine-teal #nav .current-menu-item a,
.magazine-teal #nav li li a:hover,
.magazine-teal #nav li li a:active,
.magazine-teal #nav li.right a:hover,
.magazine-teal #subnav li a:hover,
.magazine-teal #subnav li a:active,
.magazine-teal #subnav .current_page_item a,
.magazine-teal #subnav .current-cat a,
.magazine-teal #subnav .current-menu-item a,
.magazine-teal #subnav li li a:hover,
.magazine-teal #subnav li li a:active,
.magazine-teal #genesis-responsive-slider h2 a:hover,
.magazine-teal #genesis-slider h2 a:hover,
.magazine-teal h2 a:hover,
.magazine-teal #footer a:hover {
	color: #27c3c7;
}

.magazine-teal h2 a:hover {
	text-decoration: none;
}

.magazine-teal input[type="button"],
.magazine-teal input[type="submit"] {
	background: url(images/teal/button.png) 0 0;
	border: 1px solid #27c3c7;
}

.magazine-teal input:hover[type="button"],
.magazine-teal input:hover[type="submit"] {
	background: url(images/teal/button.png) 0 -25px;
	border: 1px solid #27c3c7;
}

.magazine-teal #footer .gototop a {
	background: url(images/teal/footer-top.png) no-repeat center left;
}


/* Responsive Design
------------------------------------------------------------ */

@media only screen and (max-width: 960px) {

	body,
	.magazine-landing #inner .wrap,
	#inner .wrap {
		width: 100%;
		margin: 0 auto;
	}
	
	.archive-page,
	.content-sidebar #content,
	.content-sidebar #content-sidebar-wrap,
	.content-sidebar-sidebar #content,
	.full-width-content.magazine-landing #content,
	.full-width-content #content,
	.full-width-content #content-sidebar-wrap,
	.home-bottom,
	.home-left,
	.home-middle,
	.home-right,
	.home-top,
	.magazine-landing .wrap,
	.sidebar,
	.sidebar-content #content,
	.sidebar-content #content-sidebar-wrap,
	.sidebar-content-sidebar #content,
	.sidebar-sidebar-content #content,
	#content-sidebar-wrap,
	#footer .wrap,
	#header, 
	#sidebar-alt {
		box-sizing: border-box;
		width: 100%;
	}

	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3 {
		box-sizing: border-box;
	}

	#footer .creds,
	#footer .gototop,
	#header ul.menu,
	/*#header .widget-area,*/
	
	#title-area, #content {
		width: 100%; 		
	}

	#subnav li a {
		padding-right: 20px;
	}
		
	#header .widget-area {
		padding: 10px;
		top: 0;
		left: 0;
		margin-top: 10px;
		position: relative;
		width: 100%;
		float: left;
		clear: both;
		opacity:1.0 !important;
		filter:alpha(opacity=100) !important; /* For IE8 and earlier */	
	}
	#title-area, #title-area #title, #title-area #title a, .header-full-width #title-area, .header-full-width #title, .header-full-width #title a {width: 77%; max-width: 100% !important; font-size: 36px; }

	#header ul.menu {
		float: none;
	}

	#header li,
	#nav li,
	#subnav li {
		/*display: inline-block;
		float: none;*/
	}

	#header li li,
	#nav li li,
	#subnav li li {
		text-align: left;
	 }

	#nav li.right {
		display: none;
	}

	.entry-content img,
	.featuredpage img,
	.featuredpost img,
	.post-image {
		border: none;
		padding: 0;
	}

/*	#footer {
		background: none;
		background-color: #252525;
	}*/

	/*#footer p {
		padding: 0 20px;
	}*/
	
	.cu-identity-wrap {width: 98%; padding: 0 1%;}
	#footer-widgets .wrap {width: 98%; padding: 0 1%;}
	
	.after-content-ad {width: 98%; padding: 0 1%;}

	
	#footer-widgets .widget {margin: 10px 0;}	
	
}
@media only screen and (max-width: 880px) {
    #search-form-mobile {
    	display: none;
	}
    .entry-content ol {
        margin-left: 20px;
    }
	#search-form { 
		display: none; 
	}
    #search_icon, #mobile-nav {
		display: block;
	}
	#mobile-nav {
		height: 36px;
		width: 38px;
		background: url(images/mobile-nav-icon.png) top left no-repeat;
		position: absolute;
		top: 19px;
		right: 66px;
	}
		
	#search_icon {
		position: absolute;
		top: 15px;
		right: 6px;
	}
	#subnav {
		display: none;
		position: absolute;
	}
 
	.genesis-nav-menu .menu-item {
		width: 100%;
		border-bottom: 1px solid white;
	}
	
	#subnav li:hover>ul,
	#subnav li.sfHover ul {
		left: -9999px;
	}


	#nav .wrap,
	#subnav .wrap {
		float: none;
		text-align: center;
		width: 100%;
	}
    #menu-main-menu li.menu-item {
        width: 100%;
        border-bottom: 1px solid #fff;
    }
}

@media only screen and (max-width: 660px) {
	.footer-widgets-1, .footer-widgets-2, .footer-widgets-3 {
		width: 100%;
		text-align: center;
	}
	.footer-widgets-3 {
		width: 186px;
		float: none;
		margin: 0 auto;
	}
	#title-area, #title-area #title, #title-area #title a, .header-full-width #title-area, .header-full-width #title, .header-full-width #title a {width: 82%; max-width: 100% !important; font-size: 35px; }
}


@media only screen and (max-width: 600px) {

	#title {
		font-size: 22px;
		line-height: 1;
	}
	
	#nav li a,
	#subnav li a {
		padding: 7px 10px 6px;
	}
	
	#subnav {
		width: 100%;
		/*background: none;
		background-color: #111;*/
		border: none;
	}
	/*#subnav li a:hover,
	#subnav li a:active,
	#subnav .current_page_item a,
	#subnav .current-cat a,
	#subnav .current-menu-item a {
	background: none;
}*/

	#content .slide-excerpt {
		display: none;
	}

	h1,
	h2,
	h2 a,
	h2 a:visited {
		font-size: 30px;
	}
	h3,
	h4 {
		font-size: 24px;
	}
	.home-top h4,
	.home-bottom h4,
	.home-middle h4 {
		font-size: 18px;
	}

	.five-sixths,
	.four-fifths,
	.four-sixths,
	.one-fifth,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fifths,
	.three-fourths,
	.three-sixths,
	.two-fifths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		padding: 0;
		width: 100%;
	}
	
	.cu-identity-wrap {width: 98%; padding: 0 1%;}
	
	#cu-search {
	}
	
	#cu-search a, #cu-search a:hover {
		padding: 0;
		width: 25px;
		height: 25px;
		text-indent: -100em;
		background: url(images/search_icon.png) no-repeat;
	}
	
	#footer-widgets .wrap {width: 98%; padding: 1% 1%;}
	.after-content-ad {width: 98%; padding: 1% 1%;}
	
	#content, blockquote {
		padding-left: 5px;
		padding-right: 5px;
	}
	#title-area {
		width: 100%;
		padding-left: 5px; 		
	}
	
	
	#header .widget-area {
		padding: 10px;
		top: 0;
		left: 0;
		margin-top: 10px;
		position: relative;
		width: 100%;
		float: left;
		clear: both;
		opacity:1.0 !important;
		filter:alpha(opacity=100) !important; /* For IE8 and earlier */	
	}
	
	#footer-widgets .widget {
	margin: 10px 0;
}
}
@media only screen and (max-width: 545px) {
	#search-form-mobile {
		margin-top: 0;
	}
	#title-area, #title-area #title, #title-area #title a, .header-full-width #title-area, .header-full-width #title, .header-full-width #title a {width: 86%; max-width: 100% !important; font-size: 30px; }
}
@media only screen and (max-width: 479px) {
	#title-area, #title-area #title, #title-area #title a, .header-full-width #title-area, .header-full-width #title, .header-full-width #title a {width: 86%; max-width: 100% !important; font-size: 28px; }
	#cu-logo a {
		background-size: 85%;
		margin-top: 5px;
	}
}
@media only screen and (max-width: 400px) {
	#cu-logo a {
		background-size: 75%;
		margin-top: 8px;
	}
}
@media only screen and (max-width: 320px) {
	#title-area, #title-area #title, #title-area #title a, .header-full-width #title-area, .header-full-width #title, .header-full-width #title a {width: 95%; max-width: 100% !important; font-size: 26px; }
}