/****************************************
 * Cornell Identity
 ****************************************/

#cu-identity {
	height: 75px;
	background: #fff;
	}

#cu-logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -480px;
	width: 960px;
	height: 75px;
	background: url(../images/layout/unit_signature_white.gif) no-repeat -8px -1px;
	}
	
#cu-logo a {
	position: absolute;
	display: block;
	border: none;
	/* hide text link */
	text-indent: -1000em;
	}
	
#insignia-link {
	width: 68px;
	height: 75px;
	}

#unit-signature-links a {
	left: 68px;
	width: 230px;
	}

#cornell-link {
	height: 38px;
	}
	
#unit-link {
	top: 38px;
	height: 37px;
	}
	
#cu-logo img {
	display: none;
	}
 
/*	
	Search Form
	-------------------------
	The following rules control the appearance of the search form interface. 
	The form is displayed in the Cornell banner, and it is aligned with the 
	right edge of the page. The search form should appear on every page 
	of a site. 
*/

#search-form {
	position: absolute;
	top: 20px;
	right: 50%;
	margin-right: -470px;
	}
	
#search-form form {
	margin: 0;
	padding: 0;
	text-align: right;
	}
	
#search-form-query {
	padding: 3px;
	width: 145px;
	border: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	background: #5e5a52 url(../images/layout/header_search.gif) no-repeat top left;
	vertical-align: middle;
	}
	
#search-form-submit {
	padding: 0px 2px 3px 2px;;
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #b3b3b3;
	border-bottom: 1px solid #b3b3b3;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	color: #333;
	background: #f2f2f2;
	vertical-align: middle;
	}
	
#search-filters {
	margin: 5px 0 0 0;
	}

#search-filters input {
	vertical-align: middle;
	margin: 0;
	}

#search-filters label {
	vertical-align: middle;
	margin: 0 10px 0 0;
	font-size: 1.1em;
	}
	
#search-form a {
	color: #fff;
	font-size: 1.1em;
	line-height: 1.4em;
	}
