/****************************************
 * Cornell Identity
 ****************************************/
body {
 	margin: 0;
	padding: 0;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 63.125%;		/* translate 1.0em to 10px, 1.5em to 15px, etc. */
	color: #222;
	background: #E0E5EE;
}

#cu-identity {
	height: 45px;
	background: #4D4E53;
	width: 100%;
	position: relative;
	}

#cu-logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -482px;
	width: 960px;
	height: 45px;
	background: url(../images/layout/cornell.gif) no-repeat 0 0;
	}
	
#cu-logo a {
	position: absolute;
	display: block;
	border: none;
	width: 180px;
	height: 45px;
	/* hide text link */
	/*text-indent: -1000em;*/
	}
#cu-logo a img {
	visibility: hidden;
}
	
#insignia-link {
	width: 68px;
	height: 45px;
	}

#unit-signature-links a {
	left: 68px;
	width: 400px;
	}

#cornell-link {
	height: 38px;
	}
	
#unit-link {
	top: 38px;
	height: 37px;
	}
	
#cu-logo img {
	display: none;
	}
 
/*	
	Search Form
	-------------------------
	The following rules control the appearance of the search form interface. 
	The form is displayed in the Cornell banner, and it is aligned with the 
	right edge of the page. The search form should appear on every page 
	of a site. 
*/

#search-form {
	position: absolute;
	top: 10px;
	right: 50%;
	margin-right: -480px;
	}
	
#search-form form {
	margin: 0;
	padding: 0;
	text-align: right;
	}
	
#search-form-query {
	padding: 3px;
	width: 145px;
	border: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	color: #fff;
	background: #fff url(../images/layout/headerbgsearch.gif) no-repeat top left;
	vertical-align: middle;
	}
	
#search-form-submit {
    padding: 1px 3px 3px 3px;
    border-top: 1px solid #A6A295;
    border-left: 1px solid #A6A295;
    border-right: 1px solid #403000;
    border-bottom: 1px solid #403000;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 1.1em;
    color: #FFFFFF;
    background: #424347;
    vertical-align: middle;
    }
	
#search-filters {
	margin: 0 5px 0 0;
	float: left;
	}
#search-input {
	float: right;
	}


#search-filters input {
	vertical-align: middle;
	margin: 0;
	}

#search-filters label {
	vertical-align: middle;
	margin: 0 10px 0 0;
	font-size: 1.1em;
	}
	
#search-form a {
	color: #fff;
	font-size: 1.1em;
	line-height: 1.4em;
	}

#search-filters .filter {
    float: left;
    padding-top: 5px;
    color: #d6d6d7;
}








	
/****************************************
 * Miscellaneous
 ****************************************/

#skipnav, #masthead {
	position: absolute;
	top: -1000em;
	left: -1000em;
	}
		
hr {
	display: none;
	}
