/*
Theme Name: Cornell BOOM
Description: Custom menu and header image. It includes an optional full-width page template that removes the sidebar.
Author: IWS Cornell.edu
Author URI: http://www.cornell.edu/
Version: 1.6 (2014)
Tags: Cornell, BOOM
*/

/* Import styles
------------------------------*/
@import url("styles/undohtml.css");
@import url("styles/cornell.css");
/*@import url("http://iws-includes.hosting.cornell.edu/boom/styles/extra.css");*/

/* Structure */

#header-wrap {
	float: left;
	width: 100%;
	border-bottom: 3px solid #d1e2aa;
	background: #fff;
	padding-top: 12px;
}
#wrap {
	float: left;
	width: 100%;
	clear: both;
	background: #fff;
	padding: 0 0 20px;
}
#watermark {
	float: left;
	width: 100%;
	/*background: transparent url(images/layout/watermark.gif) top center no-repeat;*/
	padding: 20px 0 0;
}
#footer-wrap {
	float: left;
	width: 100%;
	padding-top: 50px;
	background: transparent url(images/layout/footer_bg.gif) top center repeat-x;
}
#container {
	clear: both;
	margin: 0 auto;
}
.attachment #container {
	max-width: 960px;
}
#content-container {
	width: 100%;
}
#main-sidebars {
	max-width: 400px;
	width: 45.5%;
}
#feature {
	width: 100%;
}
#primary {
	overflow: hidden;
}

#footer {
	width: 960px;
	margin: 0 auto;
}

/* 2-column layouts */
.two-column #container {
	max-width: 960px;
}
.two-column #content {
	width: 650px;
}
.two-column #primary, #home-content-widgets {
	float: left;
	width: 280px;
}
.sidebar-content #content-container {
	float: right;
	margin: 0 0 0 -30.4%;
}
.sidebar-content #content {
	margin: 0 0 0 310px;
}

/* Full width content with no sidebar; used for attachment pages */
.full-width #content,
.attachment #content,
body.no-sidebars #content {
	margin: 0 auto;
	width: 100%;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 11px;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 11px;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* Homepage with extra widgets */

.home #header-wrap {
	border-bottom: 0;
} 
.home #wrap {
	background: #315131 url(images/layout/home_bg.gif) bottom center repeat-x;
	padding: 0 0 30px 0;
	color: #fff;
	/*
border-top: 3px solid #f4c73a;
	margin-top: -3px;
*/
}
.home #watermark {
	/*background: transparent url(images/layout/watermark2014dark_home.gif) top center no-repeat;*/
	padding-top: 23px;
}

#home-extra-wrap {
	float: left;
	width: 100%;
	clear: both;
	background: #fff;
}
#content-secondary {
	width: 960px;
	margin: 0 auto;
	border-top: 3px solid #d1e2aa;
}
.home #content-secondary {
	border-top: 0;
}

#content-secondary ul{
	margin: 0; padding: 0;
}

#content-secondary .widget-container {
	float: left;
	list-style: none;
	margin: 0;
	padding: 20px 0;
}
#content-secondary .widget-list1 .widget-container {
	width: 280px;
	margin: 0 26px 0 0;
}
#content-secondary .widget-list2 .widget-container {
	width: 654px;
}

/****** Typography ******/

/* Headings */
h1, h2, h3 {
	color: #356935;
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-weight: bold;
}
.home #wrap h1, .home #wrap h2, .home #wrap h3 {
	color: #d0a417;
}

hr {
	display: none;
}

/* Text elements */
p {
	margin-bottom: 1.7em;
	font-size: 1.2em;
	line-height: 1.4em;
}
ul, ol {
	margin: 0 0 1.7em 2.5em;
}
ul {
	list-style: square;
}
ol {
	list-style-type: decimal;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 1.7em;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 1.7em;
}

#wrap #content li {
	font-size: 1.2em;
	margin-bottom: 4px;
	line-height: 1.6em;
}

#wrap #content li li, #wrap #content li.comment {
	font-size: 1em;
} 

strong {
	font-weight: bold;
}
cite, em, i {
	font-style: italic;
}
blockquote {
	font-style: italic;
	margin: 0 30px 1.7em;
}
pre {
	background: #f4f4f4;
	font: 13px "Courier 10 Pitch",Courier,monospace;
	line-height: 1.7;
	margin-bottom: 1.7em;
	padding: 0.85em 1.7em;
}
code {
	font: 12px Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
}
abbr, acronym {
	cursor: help;
}
ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 1em;
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type=text],
textarea {

}
textarea {
	padding-left: 3px;
	width: 98%;
}
input[type=text] {
	padding: 3px;
}

/* Links */
a, a:visited {
	color: #c89800;
}
a:active,
a:hover {
	color: #ffc201;
}
h1 a, h2 a, h3 a, h2.entry-title a, .home #wrap .tw-recent-posts h4 a {
	color: #315088;
	text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h2.entry-title a:hover {
	color: #266fd9;
}
/* Homepage custom */
.home #wrap h1, .home #wrap h1 a, .home #wrap h2.entry-title a, .home #wrap h3, .home #wrap h3 a, .home #wrap a:hover {
	color: #f4c73a;
}
.home #wrap h1 a, .home #wrap h2.entry-title a, .home #wrap h1 a:hover, .home #wrap h2.entry-title a:hover, .home #wrap .tw-recent-posts h4 a, .home #wrap .tw-recent-posts h4 a:hover {
	color: #fff;
}
.home #wrap a {
	color: #d1e2aa;
}


/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}

/* Header
----------------------------------------------- */

#header {
	height: 293px;
	width: 960px;
	margin: 0 auto;
	position: relative;
}

#header #branding {
	position: absolute;
	width: 610px;
	/*margin-left: -23px;*/
}

#branding img {
	max-width: 100%;
	height: auto;
}


/* Menu
----------------------------------------------- */

#access {
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
}
#access ul {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-size: 2em;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
#access li {
	float: left;
	position: relative;
	background: transparent url(images/layout/tab_off_left.gif) no-repeat 0 0;
	margin-left: 3px;
}
#access .menu li.current_page_item, #access .menu li.current-page-ancestor {
	background: transparent url(images/layout/tab_on_left.gif) no-repeat 0 0;
}
#access a {
	color: #44483d;
	display: block;
	line-height: 2em;
	margin: 0;
	padding: 0.25em 1.4em 0;
	text-decoration: none;
	background: transparent url(images/layout/tab_off_right.gif) no-repeat 100% 0;
}

#access a:hover {
	color: #000;
}

#access .menu li.current_page_item a, #access .menu li.current-page-ancestor a {
	background: transparent url(images/layout/tab_on_right.gif) no-repeat 100% 0;
	color: #fff;
}

/* Content
----------------------------------------------- */

.page-title {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-size: 2.4em;
	font-weight: normal;
	margin: 0 0 10px 0;
}
.hentry, .home #home-content-posts .listing-item, #sec-content-posts .listing-item, #sec-content-top .listing-item {
	margin: 0 0 1.7em;
	float: left;
	width: 100%;
}
.single .hentry {
	margin: 0 0 1.7em;
}
.sticky {
	background: #fff9c0;
	padding: 1.7em;
}
.sticky .entry-meta {
	display: none;
}

.post .entry-title, .page .entry-title {
	font-size: 2.4em;
	padding: 0 0 3px;
	font-weight: normal;
}

.post .entry-title {
	font-size: 2em;
}
.entry-meta {
	color: #888;
	font: 1.2em "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

.entry-content,
.entry-summary {
	margin: 0.85em 0 0 0;
}
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4 {
	margin-bottom: 0.425em;
}
.entry-content h1 {
	font-size: 2.2em;
	font-weight: normal;
}
.entry-content h2 {
	font-size: 1.8em;
	font-weight: normal;
}
.entry-content h3 {
	font-size: 1.4em;
}
.entry-content h4 {
	color: #888;
	font-size: 1.7em;
	font-style: italic;
}
.entry-content h5,
.entry-content h6 {
	font-weight: bold;
}
.entry-content h5 {
	font-size: 1.2em;
}
.entry-content h6 {
	font-size: 1em;
}
.entry-content table {
	border: 1px solid #ccc;
	margin: 0 -1px 24px 0;
	text-align: left;
}
.entry-content tr th,
.entry-content thead th {
	font: 12px "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-weight: bold;
	line-height: 1.8em;
	padding: 9px 12px;
}
.entry-content tr td {
	border-top: 1px solid #ccc;
	padding: 6px 12px;
}
.entry-content tr.odd td {
	background: #f2f7fc;
}
.entry-content table dl {
	margin: 0;
}
.entry-content .gallery {
	margin: 0 auto 1.7em;
}
#content .gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33.333%;
}
#content .gallery .gallery-caption {
	color: #888;
	font-size: 1.2em;
	margin: 0 0 0.7em 0;
}
#content .gallery dl {
	margin: 0;
}
#content .gallery img {
	padding: 4px;
}
#content .gallery br+br {
	display: none;
}
#content .attachment img { /* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}
.page-link {
	font-weight: bold;
	margin: 0 0 1.7em;
	word-spacing: 0.25em;
}
.page-link a {
	font-weight: normal;
}
.entry-info {
	clear: both;
	color: #888;
	position: relative;
}
.entry-info p {
	margin: 0;
}

.entry-info .edit-link {
	clear: both;
}

.home h1.entry-title, .home #wrap .tw-recent-posts h4 {
	font-size: 1.8em;
	margin: 0;
}

.home .latest-title {
	font-size: 1.6em;
	color: #f4c73a;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.home p.cat-links {
	margin-top: -6px;
	font-size: 1em;
}

.home p.cat-links .entry-info-prep-cat-links, .home p.cat-links a {
	color: #98A8C4;
	text-decoration: none;
}

.entry-date {
	display: block;
	float: left;
	width: 30px;
	height: 32px;
	margin-right: 10px;
	text-align: center;
	background: #d1e2aa/*url(images/layout/date_bg.gif) repeat-x 0 0*/;
	border: 1px solid #d1e2aa;
	color: #000;
}

.entry-date .month {
	display: block;
	color: #fff;
	background: #cb9e0f;
	padding: 3px 2px;
}

.entry-date .day {
	display: block;
	padding: 2px;
}

.post-meta {
	margin-bottom: 12px;
	color: #aaaa7d;
}
.tw-recent-posts .post-time {
	margin-top: 6px !important;;
	margin-bottom: 11px !important;;
	color: #98A8C4;
	font-size: 1.0em !important;
	font-style: normal !important;
	text-align: left !important;
}

#wrap .post .post-meta a, .post-meta a:visited {
	color: #98A8C4;
	text-decoration: none;
}

.home #wrap .post .post-meta a:hover {
	color: #fff;
	text-decoration: underline;
}

.home #wrap .wp-caption-text {
	font-size: 1.0em;
	color: #666;
}


/* Campaign teaser area
----------------------------------------------- */

#header #feature {
	position: absolute;
	width: 650px;
	height: 200px;
	top: 20px;
	left: 340px;
}
#header #feature h2 {
/*
	font-size: 2em;
	line-height: 1.3;
*/
	margin-bottom: 15px;
	font-size: 2.25em;
	font-weight: 400;
	line-height: 1.2;
	color: #849e4a;
}
#header #feature h2 span {
	color: #356935;
	font-size: 146%;
	margin-left: -2px;
}
#header #feature h3 {
	font-size: 2.6em;
	font-weight: normal;
	padding: 15px 0;
	color: #356935;
}

#header #feature h3 span {
	color: #d0a417;
}

#header #feature h4 {
	font-weight: bold;
	margin-bottom: 15px;
	padding-left: 1px;
}

#header #feature p {
	font-style: italic;
}

/* Homepage extra teasers
----------------------------------------------- */

#home-extra-wrap a, #home-extra-wrap a h4 {
	color: #c89800;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 8px;
	line-height: 1.4em;
}

#home-extra-wrap a h4 {
	text-decoration: underline;
}
#home-extra-wrap a:hover h4 {
	color: #ffc201;
}

#home-extra-wrap .teaser-title, #home-extra-wrap .widget-title {
	font-size: 2.2em;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 10px;
}

#image-gallery-teaser .teaser img {
	float: left;
	width: 300px;
	height: 208px;
	padding: 4px;
	background: #fff url(images/layout/corner_white.png) no-repeat 100% 100%;
	margin-right: 15px;
}

#video-gallery-teaser .teaser {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
}
#video-gallery-teaser .teaser img {
	float: left;
	width: 110px;
	height: 80px;
	padding: 4px;
	background: #fff url(images/layout/corner_white.png) no-repeat 100% 100%;
	margin-right: 10px;
}

.home #wrap #twitter-feed {
	background: url(images/twitter.png) no-repeat;
	min-height: 34px;
	padding-left: 40px;
}

.contact-us {
	display: block;
	background: url(images/contactus.png) no-repeat 0 5px;
	min-height: 34px;
	padding: 5px 0 0 34px;
}
#student-spotlight, #sponsor-spotlight {
	float: left;
	width: 300px;
	padding-bottom: 20px;
}

#sponsor-spotlight {
	float: right;
}

#student-spotlight h3, #sponsor-spotlight h3 {
	font-size: 1.6em;
	text-transform: uppercase;
}

#student-spotlight p, #sponsor-spotlight p {
	margin: 0;
}

#student-spotlight img, #sponsor-spotlight img {
	padding: 2px;
	width: 295px;
	height: 115px;
	background: #fff;
	border-bottom: 2px solid #263D69;
	border-right: 2px solid #263D69;
}

.home .edit-link {
	display: block;
	clear: both;
}


/* Secondary page gallery teasers
----------------------------------------------- */

#video-gallery-teaser a, #video-gallery-teaser a h4,
#image-gallery-teaser a, #image-gallery-teaser a h4 {
    color: #315088;
    font-weight: bold;
    margin-bottom: 8px;
    line-height: 1.4em;
}

#primary #image-gallery-teaser .teaser {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}
#primary #image-gallery-teaser .teaser img {
    float: left;
    width: 110px;
    height: 80px;
    padding: 4px;
    background: #fff url(images/layout/corner_white.png) no-repeat 100% 100%;
    margin-right: 10px;
}


/* Attachments
----------------------------------------------- */

.image-attachment div.entry-meta {
	float: left;
}
.image-attachment #image-navigation {
	float: right;
	margin: -1px 0 0.85em 0;
}
.image-attachment .entry-content {
	clear: both;
}
.image-attachment .entry-content .entry-attachment {
	background: #eee;
	margin: 0 0 1.7em;
	padding: 0.85em;
	text-align: center;
}
.image-attachment .entry-content .attachment {
	display: block;
	margin: 0 auto;
	text-align: center;
}
.image-attachment .entry-content .entry-caption p {
	margin: 0;
	padding: 0.85em 0 0;
}

/* Images
----------------------------------------------- */

#content img.size-auto,
#content img.size-large,
#content img.size-full,
#content img.size-medium,
#content img.size-thumbnail,
.attachment img {
	max-width: 100%;
	width: auto;
	height: auto;
}
#content img.wp-smiley {
	margin: 0;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 2px;
}
.wp-caption {
	background: #eee;
	font: 12px "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	margin-bottom: 1.7em;
	padding: 5px 3px 10px;
	text-align: center;
	max-width: 96%;
}
.wp-caption img,
#content .wp-caption img {
	margin: 2px 0 0 0;
	max-width: 98.5%;
	width: auto;
	height: auto;
}
.wp-caption .wp-caption-text {
	margin: .5em 0 0 0;
}
#content object,
#content embed {
	max-width: 100%;
}

/* Navigation
-------------------------------------------------------------- */

.navigation {
	margin: 0 0 10px 0;
	overflow: hidden;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
}
#nav-above,
.single #nav-below {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}

/* Widgets
----------------------------------------------- */

.widget-area {
	overflow: hidden;
}
.widget-area,
.widget-area input {
	font-size: 1.2em;
	line-height: 1.8em;
}
.widget-area ul ul a {
	text-decoration: none;
}
.widget-area ul ul a:hover {
	text-decoration: underline;
}
.widget-area ul {
	list-style: none;
	margin: 0;
}
.widget-area ul ul {
	list-style: square;
	margin: 0 0 1.5em 1.5em;
}
.widget-area ul ul ul {
	margin-bottom: 0;
}
.widget-area ul ul li {
	padding: 4px 0;
}

.widget-area ul p {
	font-size: 1em;
	line-height: 1.6em;
} 
.widget-title {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	letter-spacing: 0.025em;
	margin: 0 0 8px 0;
	padding: 2px;
	text-transform: uppercase;
}
.widget-container {
	margin: 0 0 1.5em 0;
}

#wrap .widget-area ul ul {
		border-left: 3px solid #d1e2aa;
		list-style: none;
		margin: 0;
		padding-bottom: 10px;
		font-weight: bold;
}
#wrap .widget-area ul ul li {
		border-bottom: 3px solid #d1e2aa;
		padding: 10px 0 10px 10px;
}

.home #wrap .widget-area ul ul {
		border-left: 3px solid #aaaa7d;
}
.home #wrap .widget-area ul ul li {
		border-bottom: 3px solid #aaaa7d;
}

#wrap .widget-area ul ul li.current_page_item a, #wrap .widget-area ul ul li a:hover {
	color: #333;
	text-decoration: none;
}

.home #wrap .widget-area ul ul li.current_page_item a, .home #wrap .widget-area ul ul li a:hover {
	color: #fff;
}

#wrap .widget-area ul ul li.current_page_item ul a {
	color: #b31b1b;
}

#wrap .widget-area ul ul li.current_page_item ul a:hover {
	color: #F00;
}

#wrap .widget-area ul ul ul {
		border: none;
}

#wrap .widget-area ul ul ul li {
		border: none;
		padding: 4px 0 0 10px;
		font-weight: normal;
		background: url(images/layout/bullet.gif) no-repeat 0 1.2em;
}
/* hide all but current nav */
.widget_pages ul.children { 
display: none;
}
.widget_pages .current_page_ancestor ul.children, .widget_pages .current_page_item ul.children {
	display: block;
}

/* Upcoming Events */
#wrap .widget-area ul #upcoming-events ul,
#wrap .widget-area ul #upcoming_events_calendar ul {
	border-left: 0;
	padding-bottom: 0;
}
#wrap .widget-area ul #upcoming-events ul li,
#wrap .widget-area ul #upcoming_events_calendar ul li {
	border-bottom: 0;
	padding: 0 0 8px 3px;
}
#wrap .widget-area ul #upcoming-events ul ul li,
#wrap .widget-area ul #upcoming_events_calendar ul ul li {
	padding: 0 0 0 12px;
	background-position: 2px 0.7em;
}
#wrap .widget-area ul #upcoming-events a:hover,
#wrap .widget-area ul #upcoming_events_calendar a:hover {
	color: #9cf;
}
.calnk a:hover span {
	font-size: 0.917em;
	background-color: #f8f6af !important;
}
.calnk a:hover>span {
	border: 1px solid #b3b27e;
}
.calnk a:hover span span.event-title {
	font-size: 1.0em !important;
}
.calnk a:hover span span.event-title-break, .calnk a:hover span span.event-content-break {
	background-color: #c2c089 !important;
}
.home .calnk a, .home .calnk a:hover {
	border-bottom: 1px dotted #9cf;
}

/* Related Links */
#wrap .widget-area ul .related-links {
	float: left;
	margin-top: 30px;
}
#wrap .widget-area ul .related-links h3 {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	color: #333;
	text-transform: none;
	margin-bottom: 0;
}
#wrap .widget-area ul .related-links ul {
	border: 0;
	font-weight: normal;
}
#wrap .widget-area ul .related-links ul li {
	font-size: 0.917em;
	line-height: 1.4em;
	border: 0;
	padding: 4px 0 0 13px;
	background: url(images/layout/bullet.gif) no-repeat 3px 0.9em;
}
#wrap .widget-area ul .related-links ul li a {
	text-decoration: underline;
}

/* Search Widget */
#s {
	width: 60%;
}

/* Calendar Widget */
#wp-calendar {
	width: 100%;
	border-bottom: 1px solid #CBD3E2;
	border-right: 1px solid #CBD3E2;
	
}
#wp-calendar caption {
	font: 13px "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-weight: bold;
	text-align: left;
	padding: 0 2px 6px;
}
#wp-calendar th {
	color: #000;
	font-size: 1.1em;
	text-align: center;
	background: #CBD3E2;
}
#wp-calendar tbody td {
	text-align: center;
}
#wp-calendar tfoot td {
	padding-top: .2em;
}
#wp-calendar tfoot #next {
	text-align: right;
}
#wp-calendar a {
	text-decoration: none;
}

#wp-calendar td {
	border-top: 1px solid #CBD3E2;
	border-left: 1px solid #CBD3E2;
}

#wp-calendar td#today {
	background: #FFC;
}

/* Flickr Widget (WP.com) */
#flickr_badge_wrapper {
	background-color: transparent !important;
	border: none !important;
}

#flickr_badge_uber_wrapper {
	width: 280px !important;
}
#flickr_badge_wrapper br {
	display: none;
}
#flickr_badge_wrapper img {
	float: left;
	width: 80px;
	margin: 0 10px 10px 0;
	border: 1px solid #666;
}
.home #flickr_badge_wrapper img {
	border: 1px solid #9CF;
}
#flickr_badge_uber_wrapper a:link, #flickr_badge_uber_wrapper a:visited {
	color: #B31B1B !important;
	text-decoration: underline !important;
}
.home #flickr_badge_uber_wrapper a:link, .home #flickr_badge_uber_wrapper a:visited {
	color: #9CF !important;
}

/* Cloud Widgets */
.wp_widget_tag_cloud div,
.widget_tag_cloud div {
	line-height: 1.7em;
	padding: 0.2em 0;
	word-wrap: break-word;
}

/* Comments
----------------------------------------------- */

#comments {
	word-wrap: break-word;
}
#comments h3 {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	font-size: 1.3em;
	font-weight: bold;
	margin: 0 0 8px 0;
	padding: 2px;
	text-transform: uppercase;
}
#comments ol {
	list-style: none;
	margin-left: 0;
}
#comments ul {
	list-style: none;
	margin-left: 0.425em;
}
#comments li {
	position: relative;
}
#comments li.pingback {
	background: #eee;
	margin: 0 0 1.7em;
	padding: 0.85em;
}
#comments li.pingback + li.pingback {
	margin-top: -1.65em;
}
#comments li.pingback p {
	font: 1.2em "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
	margin: 0;
}
#comments ul li {
	padding: 0 0 0 0.85em;
}
#comments .comment-author {
	margin: 0 66px 0.85em 0;
}
#comments .comment-author cite {
	font-size: 1.1em;
	font-style: normal;
	font-weight: bold;
}
#comments .comment-meta,
#comments .comment-meta a {
	font: 1.1em "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

#comments .avatar {

	padding: 3px;
	position: absolute;
	top: 0;
	right: 0;
}
#comments .comment-body {
	margin-right: 66px;
}
#respond input[type=text] {
	float: left;
	margin: 0 10px 0 0;
}
#respond .comment-form-comment {
	margin: 0;
}
#respond .comment-form-comment label {
	display: none;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 1.2em;
}
#respond .form-allowed-tags code {
	/*font-size: 1.1em;*/
}
.bypostauthor {
}


/* Footer
----------------------------------------------- */

#footer .widget-area {
	float: left;
	width: 21.9699%;
}
.two-column #footer .widget-area {
	width: 47.4%;
}
.two-column #footer #first {
	width: 280px;
	margin-right: 26px;
}
.two-column #footer #second {
	width: 654px;
}
#colophon {
	clear: both;
	color: #888;
	font-size: 1em;
	font-style: italic;
	line-height: 1.6em;
	padding: 1.6em 0 0;
	text-align: center;
}
#colophon a {
	color: #888;
	text-decoration: none;
}
#colophon a:hover {
	color: #df0000;
}
#colophon .generator-link {
	background: url("images/wordpress.png") no-repeat left center;
	display: inline-block;
	margin: 0 0 0 3px;
	padding-left: 20px;
}
#footer img#wpstats {
	display: block;
	margin: 0 auto 10px;
}

#footer #second ul {
	list-style: none;
	margin-left: 0;
}
#footer #second ul ul li {
	float: left;
	color: #b31b1b;
	padding-bottom: 0;
	line-height: 1.2em;
	margin: 0 10px 4px 0;
	width: 198px;
	padding-left: 10px;
	background: url(images/layout/bullet.gif) no-repeat 0 0.9em;
}

#footer #second ul ul li ul {
	display: block;
}

#footer #second ul ul li ul li {
	float: none;
	width: auto;
	margin-right: 0;
}


#footer #second .widget_pages > ul > li:first-child {
	list-style: none;
	margin: 5px 0 8px -1.5em;
	width: 100%;
}
#footer #second a {
	text-decoration: underline;
}

#footer .widget-title {
	margin: 0;
	padding: 0;
}


iframe {
	overflow: auto !important;
}



/**** migrated from extra.css ****/


#video-gallery-teaser a, #video-gallery-teaser a h4,
#image-gallery-teaser a, #image-gallery-teaser a h4 {
    color: #c89800;
    font-weight: bold;
    margin-bottom: 8px;
    line-height: 1.4em;
}

#primary #image-gallery-teaser .teaser {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}
#primary #image-gallery-teaser .teaser img {
    float: left;
    width: 110px;
    height: 80px;
    padding: 4px;
    background: #fff url(images/layout/corner_white.png) no-repeat 100% 100%;
    margin-right: 10px;
}




#wrap .widget-area ul #upcoming-events ul {
	border-left: 0;
	padding-bottom: 0;
}
#wrap .widget-area ul #upcoming-events ul li {
	border-bottom: 0;
	padding: 0 0 8px 3px;
}
#wrap .widget-area ul #upcoming-events ul ul li {
	padding: 0 0 0 12px;
	background-position: 2px 0.7em;
}
.home #wrap .widget-area ul ul li.current_page_item a, .home #wrap .widget-area ul ul li a:hover {
    color: #fff !important;
}
#wrap .widget-area ul #upcoming-events a:hover {
	color: #9cf !important;
}



.calnk a:hover span {
	font-size: 0.917em;
	background-color: #f8f6af !important;
}
.calnk a:hover>span {
	border: 1px solid #b3b27e;
}
.calnk a:hover span span.event-title {
	font-size: 1.0em !important;
}
.calnk a:hover span span.event-title-break, .calnk a:hover span span.event-content-break {
	background-color: #c2c089 !important;
}
.home .calnk a, .home .calnk a:hover {
	border-bottom:1px dotted #9cf;
}

.home #wrap .wp-caption-text {
	font-size: 1.0em;
	color: #666;
}

.hentry, .home #home-content-posts .listing-item {
	float: left;
	width: 100%;
}

.home #wrap .tw-recent-posts .excerpt, #content .tw-recent-posts .excerpt {
	margin: 0.85em 0 0 0;
	font-size: 1.2em;
	line-height: 1.4em;
}

iframe {
	overflow: auto !important;
}


#footer #second ul {
	list-style: none;
	margin-left: 0;
}
#footer #second ul ul li {
	margin: 0 10px 4px 0 !important;
	width: 198px !important;
	padding-left: 10px !important;
	background: url(images/layout/bullet.gif) no-repeat 0 0.9em;
}


#flickr_badge_uber_wrapper {
	width: 280px !important;
}
#flickr_badge_wrapper br {
	display: none;
}
#flickr_badge_wrapper img {
	float: left;
	width: 80px;
	margin: 0 10px 10px 0;
	border: 1px solid #666;
}
.home #flickr_badge_wrapper img {
	border: 1px solid #9CF;
}
#flickr_badge_uber_wrapper a:link, #flickr_badge_uber_wrapper a:visited {
	color: #B31B1B !important;
	text-decoration: underline !important;
}
.home #flickr_badge_uber_wrapper a:link, .home #flickr_badge_uber_wrapper a:visited {
	color: #9CF !important;
}


/*Fixing caption during QA */
p.wp-caption-text {
	font-size: 1.1em;
}


#sec-content-posts h3.latest-title, #sec-content-top h3.latest-title {
	font-size: 1.8em;
	font-weight: normal;
	margin-bottom: 12px;
}
#sec-content-posts h1.entry-title, #sec-content-top h1.entry-title, #content .tw-recent-posts h4 {
	font-size: 2em;
}
#content .tw-recent-posts h4 a {
	text-decoration: none;
}
#primary .tw-recent-posts .featured-post h4 {
	font-size: 1.0em;
	line-height: 1.3em;
	font-weight: bold;
}
#primary .tw-recent-posts .featured-post div.excerpt {
	line-height: 1.4em;
	font-size: 0.917em;
}
#primary .tw-recent-posts .featured-post .post-time {
	font-size: 0.917em !important;
	margin-bottom: 5px !important;
}

#sec-content-top {
	margin: 10px 0 30px;
}


/* fix for negative margin on 2013 logo */
#header-wrap, #wrap, #home-extra-wrap, #footer-wrap, #cu-identity,
.home #header-wrap, .home #wrap, .home #home-extra-wrap, .home #footer-wrap, .home #cu-identity {
	min-width: 1010px;
}
/* missed sub-nav link color */
#wrap .widget-area ul ul li.current_page_item ul a {
	color: #255498;
}
#wrap .widget-area ul ul li.current_page_item ul a:hover {
	color: #266FD9;
}
/* IE7 CU Identity fix */
#search-form {
	#width: 35%;
}
/* adjust spacing for larger list of homepage posts */
.home #home-content-posts .listing-item {
    margin-bottom: 2.5em !important;
}

.home #student-spotlight h3, .home #sponsor-spotlight h3, .home .latest-title {
	font-size: 1.8em;
	margin-bottom: 15px;
}
.home .widget-title {
	margin-left: -2px;
}


