@charset "UTF-8";
/*
 Theme Name:   Putnam Cornell

 Description:  parabola child theme
 Author:       LiLynn Graves

 Template:     parabola 
 Version:      1.3.4
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  putnam-cornell
*/

@import url("../parabola/style.css");
@import url("cornell.css");

/* =Theme customization starts here
-------------------------------------------------------------- */
/*#bme,cbe {
	padding-top: 10px;
	background-color:#FFF;  
}
#bme a {
    background: url("images/CE-BE.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0); 
    height: 60px;
    width: 23em;
	float:left;
}


#cbe a {
    background: url("images/CE-CBE.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0); 
    height: 60px;
	width:38em;
	float:right;
}

#header-container > div#sheader {
    margin: 0;
    position: absolute;
    right: 5px;
    top: 20px;
}

#header-container {
    display: block;
    float: none;
    height: 100%;
    position: absolute;
    top: -10px;
    width: 100%;
}
#access {
    display: block;
    float: left;
    margin: -10px auto 0;
}*/

#cu-search #searchform input[type="text"] {
	display: inline;
	float: left;
	font-size: 12px;
	padding: 2px;
	height: 20px;
	width: auto !important;
	clear: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#cu-search input[type="submit"]#search-form-submit {
	border-top: 1px solid #828387;
	border-left: 1px solid #828387;
	border-right: 1px solid #202021;
	border-bottom: 1px solid #202021;
	color: #fff;
	background: #57585d;
	box-shadow: none;
	float: left;
	clear: none;
	width: auto;
	margin-left: 4px;
}


/* Responsive Web Design (Cornell Banner Standalone)
   ************************************************************************* */

#cu-identity {
	min-width: 1200px; /* lowered from 960 to match Oxygen */
}
.flexible #cu-identity {
	min-width: 0;
}
.flexible #cu-identity-content {
	width: 92%;
	max-width: 940px; /* lowered from 1100 to match Oxygen */
}
.flexible.unconstrained #cu-identity-content {
	width: 98%;
	max-width: none;
}


/* Media Queries 
   ************************************ */


@media only screen and (min-width: 1px) {
	#cu-identity {
		min-width: 0; /* unlock */
	}
}

/* ********************************************************** */
@media only screen and (max-width: 1040px) { /* ************* */


	#cu-identity-content {
	width: 98% !important;
}



/* ************** */ }

