
/**** Body *****/
body {
	background: #d7d6d1/* url(../images/layout/bg_top.jpg) no-repeat 50% 45px*/; /* footer color */
	padding: 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%; /* 12px *//* font size key in em:
		0.750em = 09px
		0.833em = 10px
		0.917em = 11px
		default = 12px
		1.083em = 13px
		1.167em = 14px
		1.250em = 15px
		1.333em = 16px
		1.500em = 18px
		1.667em = 20px
		1.833em = 22px
		2.000em = 24px
		3.000em = 36px
	*/
}
/**** Tables *****/

table {
	width: 100%;
	margin-bottom: 15px;
	border: solid #ddd;
	border-width: 1px 1px 0 0;
	border-collapse: collapse;
}
table table {
	margin-bottom: 0; /* removed margin in nested tables */
}
caption {
	font-style: italic;
	color: #777;
	margin: 0.2em 0;
	line-height: 1.6em;
}
td, th {
	border: solid #ddd;
	border-width: 0 0 1px 1px;
	padding: 6px;
	vertical-align: top;
}
th {
	color: #444;
	border-left-color: #ccc;
	border-bottom-color: #999;
	font-weight: bold;
	text-align: center;
		
	/* optional gradient */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f8f5', endColorstr='#e2e1de');*/ /* disabled due to IE8 bugs */
	background: #f9f8f5 url(../images/layout/ie_tableheader.gif) 0 bottom repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f8f5), to(#e2e1de));
	background: -moz-linear-gradient(top, #f9f8f5, #e2e1de);
}
th p {
	margin-bottom: 0; /* removes <p> margin if used in table headers */
}
/**** Text Styles ****/

p, td, th, li, dt, dd {
	line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 12px;
	color: #333;
}
h1 {
	font-size: 2.2em;
	font-family: Arial, Helvetica, sans-serif;
}
h2 {
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
}
h3 {
	font-size: 1.5em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
}
h4 {
/* default bold 12px */
}
h5 {
	font-weight: normal;
	color: #386684;
	margin-bottom: 5px;
}
h6 {
	font-weight: normal;
	font-style: italic;
	margin-bottom: 5px;
}
p {
	margin-bottom: 15px;
}
p.last {
	margin-bottom: 0;
}
strong {
	font-weight: bold;
}
blockquote, pre {
	margin-left:2em;
	padding-left: 1em;
	border-left:1px solid #ccc;
	font-style: italic;
	line-height: 1.4em;
}
pre, code {
	font-family: mono-space, monospace;
	font-style: normal;
	margin-bottom: 15px;
}
abbr, acronym {
	text-transform:uppercase;
	border-bottom: 1px dotted #000;
	letter-spacing: 1px;
}
abbr[title], acronym[title] {
	cursor:help;
}
sup, sub {
	font-size:.8em;
	position: relative;
}
sup {
	top: -0.4em;
}
sub {
	top: 0.2em;
}
em, cite {
	font-style:italic;
}
.clear {
	clear: both;
	width: 100%;
}
p.note {
	padding: 10px;
	border: 1px solid #ccc;
}
.more {
	padding-right: 8px;
	background: transparent url(../images/layout/arrows/right_red.gif) no-repeat 100% 80%;
}
.text-highlight-red {
	background: #f0beb6;
}

.text-highlight-yellow {
	background: #f0ee9f;
}

.text-highlight-green {
	background: #c5ee9f;
}

/**** Links ****/
 
/* Using classic Cornell red as the default (but no border styles).
   */

a, a:visited {
	color: #b31b1b;
	outline: none;
}
 
a:hover, a:active {
	color: #f00;
}

/**** Lists ****/

ul, ol {
	margin: 0 auto 15px;
}
ul li {
	padding-left: 10px;
	background: url(../images/layout/arrows/right_red.gif) no-repeat left 6px;
	margin-bottom: 10px;
}

ul.disc li {
	background: url(../images/layout/bullet_disc.gif) left 7px no-repeat;
}
ul.circle li {
	background: url(../images/layout/bullet_circle.gif) left 7px no-repeat;
}

ol li {
	padding-left: 0;
	list-style: decimal;
	background: none;
	margin-bottom: 10px;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 4px;
}
dl {
	margin-left: 0;
	margin-bottom: 15px;
}
dl dl {
	margin-left: 30px;
}
dt {
	font-weight: bold;
	margin-bottom: 8px;
}
dd {
	margin-bottom: 12px;
}
/* Table of Contents */
ul.toc {
	border-left: 4px solid #dbe3e9;
	margin-left: 1px;
	padding-left: 0px;
	margin-bottom: 20px;
}
ul.toc li {
	background: none;
	padding-left: 10px;
}
ul.toc ol li {
	padding-left: 0;
}
ul.toc a {
	padding-right: 9px;
	background: url(../images/layout/link_arrow_white.gif) right 0.35em no-repeat;
}

/**** Images *****/
image {
	display: block;
}
.image-left, .image-right {
	background: url(../images/layout/corner_white.png) no-repeat 100% 100%;
	padding: 0 2px 2px 0;
}
.image-left {
	float: left;
	margin: 0 12px 6px 0;
}

.image-right {
	float: right;
	margin: 0 0 6px 12px;
}

img.aligncenter
{
	text-align: center;
	padding: 10px;
	display: block;
	height: auto;
	width: auto;
	margin: 0 auto;
}

/*caption*/

.wp-caption img {
	margin:0;
	padding:0;
	width: auto;
	max-width: 100%;	
	}

.alignright {
  	float: right;
	margin: 0 0 15px 15px;
}

.alignleft {
  	float: left;
	margin: 0 15px 15px 0;
}
p.wp-caption-text {
  	font-size: 0.9em;
	color: #666;
	padding: 5px;
	margin:0;
	font-style: italic;
}

/**** Forms *****/

/*	
	Search Form
*/

#searchform {
	position: absolute;
	top: 7px;	
	right: 0%;
	float: right;
	font-size: 0.917em;
	}
	
#searchform form {
	margin: 0;
	padding: 0;
	text-align: right;
	}
	
#searchform label {
	color: #fff;
	}
	
#searchform-query {
	padding: 3px;
	width: 130px;
	border: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	color: #fff;
	background: #990f0f url(http://www.cornell.edu/img/layout/header_search.gif) no-repeat top left;
	vertical-align: middle;
	}
	
#searchform-submit {
	padding: 0px 2px 3px 2px;;
	border-top: 1px solid #bf6060;
	border-left: 1px solid #bf6060;
	border-right: 1px solid #400606;
	border-bottom: 1px solid #400606;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	color: #fff;
	background: #900;
	vertical-align: middle;
	}
	
#search-filters {
	margin: 5px 0 0 0;
	}

#search-filters input {
	vertical-align: middle;
	margin: 0;
	}

#search-filters label {
	vertical-align: middle;
	margin: 0 10px 0 0;
	}
	
#search-form a {
	color: #fff;
	}
	
#search-form a:hover {
	border-bottom: 1px solid #fff;
	}


#wrap form {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	clear: both;
}
#wrap form fieldset {
	border: 1px solid #ccc;
	padding: 15px 10px;
	margin-bottom: 15px;
	float: left;
	width: 680px;
}
#wrap form fieldset.row-submit {
	border: none;
	padding: 0;
}
#wrap input {
	margin-bottom: 4px;
}
#wrap label {
	margin: 0 4px 4px 0;
	vertical-align: top;
}
#wrap select {
	min-width: 200px;
}
#wrap legend {
	padding: 0 5px;
	font-weight: bold;
}
/* Form Theme: Basic */

#wrap form.basic p {
	float: left;
	clear: both;
	display: block;
}
#wrap form.basic input, #wrap form.basic textarea {
	float: left;
	clear: right;
	margin-left: 0;
}
#wrap form.basic label {
	display: block;
	float: left;
	clear: left;
	width: 125px;
	margin: 1px 10px 0 0;
	text-align: right;
	line-height: 1.5em;
}
#wrap form.basic select {
}
#wrap form.basic input[type="text"], #wrap form.basic input[type="password"], #wrap form.basic textarea {
	outline: 2px solid transparent;
	border: 1px solid #999;
	border-top-color: #000;
	padding: 2px;
}
#wrap form.basic input[type="text"]:focus, #wrap form.basic input[type="password"]:focus, #wrap form.basic textarea:focus {
	background: #f3f6f8;
	outline: 2px solid #d1dce3;
	border: 1px solid #000;
}
#wrap form.basic input[type="submit"], #wrap form.basic input[type="reset"] {
	border: 1px solid #999;
	border-bottom-color: #000;
	padding: 3px 6px;
	background: #ededed;
	cursor: pointer;
	
	/* optional gradient */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f8f5', endColorstr='#e2e1de');
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f8f5), to(#e2e1de));
	background: -moz-linear-gradient(top, #f9f8f5, #e2e1de);
}
#wrap form.basic input[type="submit"]:hover, #wrap form.basic input[type="reset"]:hover {
	background: #f5f5f5;
}
#wrap form.basic input[type="submit"]:active, #wrap form.basic input[type="reset"]:active {
	background: #e5e5e5;
}



/**** Component Forms *****/
 
/* activate with form.iws-component
   */


/* Standardize Element Sizing */
#wrap form.iws-component input[type="text"], 
#wrap form.iws-component input[type="password"], 
#wrap form.iws-component textarea, 
#wrap form.iws-component select, 
#wrap form.iws-component label, 
#wrap form.iws-component div, 
#wrap form.iws-component h4, 
#wrap form.iws-component p {
	-ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Fieldset Toolbar */
#wrap form.iws-component .form-tools {
	float: left;
	width: 100%;
	margin: -5px 0 20px;
	padding: 1px 0;
	border: 1px solid #e1e0d0;
	border-bottom-color: #cbcabc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f1', endColorstr='#e4e3d3');
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f1), to(#e4e3d3));
	background: -moz-linear-gradient(top, #f6f6f1, #e4e3d3);
}
#wrap form.iws-component .form-tools p,
#wrap form.iws-component .form-tools ul {
	float: right;
	margin: 0 6px;
	font-size: 0.917em;
}
#wrap form.iws-component .form-tools li {
	background: none;
	float: left;
	padding: 0 12px;
	border-right: 1px solid #e0dfcf;
}
#wrap form.iws-component .form-tools li.last {
	padding-right: 6px;
	border-right: 0;
}

/* Tag Definitions */
#wrap form.iws-component p {
	padding: 0 6px;
}
#wrap form.iws-component h4 {
	float: left;
	width: 100%;
	margin: 15px 0 10px;
	padding: 4px 6px 3px;
	background: #f7f9fa;
	border-bottom: 1px solid #e5ebef;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#wrap form.iws-component h4.first {
	margin-top: 0;
}
#wrap form.iws-component div.last {
	margin-bottom: 0 !important;
}
#wrap form.iws-component legend a {
	text-decoration: none;
	font-weight: normal;
	background: #f3f5f7;
	margin-left: 2px;
	padding: 0 2px;
}
#wrap form.iws-component label {
	float: left;
	margin: 0;
	padding-top: 0.3em;
}
#wrap form.iws-component input[type="text"], 
#wrap form.iws-component input[type="password"] {
	height: 1.88em;
	width: 26.2em;
	float: left;
}
#wrap form.iws-component input[type="radio"], 
#wrap form.iws-component input[type="checkbox"] {
	float: left;
}
#wrap form.iws-component textarea {
	font-family: Lucida Grande, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 1.0em;
	padding: 4px;
	width: 24em;
	height: 130px;
	float: left;
	margin-bottom: 4px;
}
#wrap form.iws-component select {
	margin: 1px 0 4px;
	width: 26.2em;
	min-width: 0;
	float: left;
}


/* Notes, Errors, and User Messages */
#wrap form.iws-component .form-note, span.cornell-note {
	float: left;
	width: 26.2em;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: 10px;
	padding: 3px;
	background: #f5f3e5 url(../images/layout/note_shadow_reverse.gif) 0 bottom repeat-x;
	border: 1px solid #edebde;
	border-top: 0;
	color: #939289;
}
#wrap form.iws-component p.form-note {
	width: auto;
	max-width: 38.6em;
	margin: 2px 0 0 36%;
	padding: 3px 5px 4px;
	border: 1px solid #edebde;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#wrap form.iws-component div.error {
	float: left;
	clear: both;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: 4px 10px 10px 36%;
	padding: 4px 10px 4px 24px;
	background: #f3e2d9 url(../images/layout/icon_error.gif) 7px 0.6em no-repeat;
	border: 1px solid #e1a39c;
	color: #af1111;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#wrap form.iws-component label.error, 
#wrap form.iws-component .alert {
	color: #af1111;
	font-weight: bold;
}
#wrap form.iws-component div.form-feedback {
	float: left;
	width: 100%;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: 0 0 15px;
	padding: 9px 12px 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#wrap form.iws-component div.form-feedback.warning {
	background: #f6f4e2;
	border: 1px solid #ebddbd;
	border-bottom-color: #d9ccae;
	color: #59453f;
}
#wrap form.iws-component div.form-feedback.info {
	background: #e2eef6;
	border: 1px solid #bde3eb;
	color: #547097;
}
#wrap form.iws-component div.form-feedback.success {
	background: #e4f8df url(../images/layout/icon_check.gif) 8px 0.95em no-repeat;
	border: 1px solid #c3eca7;
	color: #50914f;
	padding-left: 24px;
}
#wrap form.iws-component div.form-feedback p {
	margin-bottom: 0;
	padding: 0;
}
/*
#wrap form.iws-component div.form-feedback.warning strong {
	color: #af1111;
}
*/

/* IWS Tooltip Support */
#wrap form.iws-component span.tooltip {
	border: 0;
	float: left;
	width: 14px;
	height: 16px;
	padding-right: 3px;
	background: transparent url(../images/layout/icon_question.png) 0 0 no-repeat;
}
#wrap form.iws-component span.tooltip.info {
	background: transparent url(../images/layout/icon_info.png) 0 0 no-repeat;
}
#wrap form.iws-component span.tooltip:hover {
	cursor: pointer;
}


/* Default Input Size Choices */
#wrap form.iws-component .input-s input[type="text"], 
#wrap form.iws-component .input-s input[type="password"] {
	width: 2.8em;
}
#wrap form.iws-component .input-m input[type="text"], 
#wrap form.iws-component .input-m input[type="password"], 
#wrap form.iws-component .input-m select, 
#wrap form.iws-component .input-m div.form-note {
	width: 13em;
}
#wrap form.iws-component .input-l input[type="text"], 
#wrap form.iws-component .input-l input[type="password"], 
#wrap form.iws-component .input-l select, 
#wrap form.iws-component .input-l div.form-note {
	width: 62.5%;
	max-width: 38.6em;
}
#wrap form.iws-component .input-s div.form-note {
	width: auto;
	max-width: 35.9em;
	min-height: 1.88em;
	float: left;
	margin: 0;
	padding: 1px 4px;
	border: 1px solid #edebde;
	border-left: 0;
	-moz-border-radius: 0 6px 6px 0;
	-webkit-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
}
@-moz-document url-prefix() { /* FF */
	#wrap form.iws-component .input-s div.form-note {
		min-height: 1.5em;
	}
}
#wrap form.iws-component .input-s div.error {
	margin-top: 0;
}
#wrap form.iws-component .textarea-s textarea {
	height: 40px;
	overflow: hidden;
}
#wrap form.iws-component .textarea-m textarea {
	height: 70px;
}
#wrap form.iws-component .textarea-l textarea {
	width: 62.5%;
	max-width: 600px;
	height: 250px;
}
#wrap form.iws-component .textarea-l div.form-note {
	width: 62.5%;
	max-width: 600px;
}
#wrap form.iws-component .input-s select {
	width: 4em;
}

/* Option Lists */

#wrap form.iws-component ul.form-list {
	float: left;
	margin: 2px 0 10px 1px;
	width: 62.5%;
}
#wrap form.iws-component ul.form-list li {
	background: none;
	padding: 0;
	margin: 0 0 1px 0;
	width: 100%;
	float: left;
	line-height: 1.4em;
}
#wrap form.iws-component ul.form-list li label {
	padding: 0;
}
#wrap form.iws-component ul.form-list li input[type="radio"], 
#wrap form.iws-component ul.form-list li input[type="checkbox"] {
	margin: 1px 4px 0 0;
}


/* Left-Right Adjustments */
#wrap form.iws-component .form-pair {
	float: left;
	clear: left;
	width: 100%;
	margin-bottom: 5px;
}
#wrap form.iws-component .form-left {
	float: left;
	width: 35%;
	margin-right: 1%;
}
#wrap form.iws-component .form-left label {
	/*width: 100%;*/
	float: right;
	/*text-align: right;*/
}
#wrap form.iws-component .form-left input, 
#wrap form.iws-component .form-left select {
	float: right;
}


/* Tight-Loose Margins */
#wrap form.iws-component .form-pair.tight {
	margin-bottom: 1px;
}
#wrap form.iws-component .form-pair.tight input, 
#wrap form.iws-component .form-pair.tight select {
	margin-bottom: 0;
}
#wrap form.iws-component .form-pair.loose {
	margin-bottom: 20px;
}
#wrap form.iws-component .form-pair.loose input, 
#wrap form.iws-component .form-pair.loose select {
	margin-bottom: 0;
}
#wrap form.iws-component .form-pair.loose div.form-note {
	margin-top: 0;
}

/**** Layout *****/
#wrap {
	float: left;
	width: 100%;
	clear: both;
	background: #f1eee5;
}
#content-wrap {
	float: left;
	width: 100%;
	background-color: #fff;
	border-bottom: 4px solid #e7e3de;
	position: relative;
}
#content {
	width: 960px;
	margin: 0 auto;
}

#main, #secondary, #section-navigation, #section-navigation-wrap {
	float: left;
}
.secondary-section, .secondary-photo {
	float: left;
	width: 100%;
}
#main {
	width: 960px;
	float: left;
}
#main .textwidget {
	line-height: 1.6em;
}
#main .entry-content {
	width: 960px;
	float: left;
}

#secondary {
	width: 240px;
	padding-bottom: 50px;	
}
#section-navigation {
	width: 290px;
	padding: 0;
	margin: 0;
}

/* onecolumn pages */
.onecolumn #main {
	width: 960px;
}
/* twocolumn pages with secondary on the left */
.single-post .twocolumn-left #main h3.entry-title a {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	text-decoration: none;
	padding: 0;
	margin: 0;
	line-height: 1.2em;
	color: #3a4f70;
	font-style: normal;
	font-size: 1.0em;
	cursor: default;
}
.single-post .twocolumn-left #main {
	padding: 0;
	margin-top: 5px;
}
.single-post .twocolumn-left #main h3.entry-title {
	text-transform: none;
}
	
#wrap.twocolumn-left  {
background: #f1eee5 url(../images/layout/sec_bcgr.gif) repeat-y top center;
}
.twocolumn-left #main {
	float: right;
	width: 700px;
	padding-left: 20px;
	padding-bottom: 50px;
	padding-top: 15px;
	background: #f1eee5;
}

.twocolumn-left #main h3.entry-title a {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	padding: 0;
	line-height: 1.3em;
	text-transform: none;	
	font-size: 0.7em;
}

/* onecolumn pages with no title and larger content area for 3d */

.blank #content, .onecolumn.blank #main {
	width: 1024px;
	margin: 0 auto;
}

body.page-template-page-full-blank-php {
	background-image: none;
}

body.page-template-page-full-blank-php #cu-identity, body.page-template-page-full-blank-php #footer, body.page-template-page-full-blank-php #edublogs {
	display: none;
}

/**** Header *****/
#header {
	margin: 0 auto;
	width: 960px;
}
#header h3 {
	font-size: 2.4em;
	color: #666;
	margin: 0;
}

#header h1 a {
	/* background: url("http://blogs.cornell.edu/workday/files/2012/10/workday_logo-27oc5ff.gif") no-repeat 0 0; */
	height: 100px;
	padding: 0;
	width: 960px;
	float: left;	
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	text-decoration: none;
}
#header h1 {
	margin: 0;
	padding: 0;
}

#header .header-meta {
	position: absolute;
	width: 100%;
}

#header h2 {
	width: 230px;
	float: left;
	font-size: 1.1em;
	color: #f4a02e;
	margin: -45px 725px;
	font-weight: normal;
	font-style: italic;
}

#header .header-meta h2.page-title a {
	font-style: normal;
	font-size: 1.5em;
	color: #898989;
}

#header .header-meta h2.page-title {
	padding: 0;
	margin: 20px 0 0 0;
}
#header .campaign-image {
	float: right;
}

#main-navigation {
	float: left;
	width: 100%;
	margin: 0;
	background-color: #a5a294;
	position: relative;
	z-index:5;
}
#main-navigation ul {
	margin: 0 auto;
	padding: 0;
	width:960px;
	height: 30px;
	border-right:1px solid #929287;
}
#main-navigation li {
	display:inline;
	background-image: none;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	width:127px;
}

#main-navigation li a {
	float: left;
	text-decoration: none;
	color: #fff;
	font-size: 1.0em;
	line-height: 30px;
	padding: 0 15px;
	border-left:1px solid #929287;
	text-align: center;
	width:129px;
}

#main-navigation li a:hover, #main-navigation li.current-menu-item a, #main-navigation li.current-page-ancestor a {
	color: #fff;
	background-color: #929287;
}
/* Secondary Navigation */
#secondary .textwidget {
	line-height: 1.6em;
	margin: 0 20px;
}
#secondary .textwidget p.caption {
	font-size: 0.917em;
	color: #666;
	line-height: 1.4em;
	padding-top: 7px;
}
#secondary h3 {
	width: 225px;
	color: #3a4f70;
	font-size: 1.1em;
 	padding-left: 15px;
}
#secondary .widget_pages h3 {
	float: left;
	width: 215px;
	color: #3a4f70;
	font-size: 1.1em;
	display: block;
	margin: 25px 10px 15px 15px;
	padding:0;
}
#secondary .widget_pages ul {
	float: left;
	width: 240px;
	border-bottom:1px solid #f1eee5;
	margin-bottom: 50px;
	height: auto;
}

#secondary .widget_pages ul ul {
	margin-bottom: 0;	
}
#secondary .widget_pages li {
	float: left;
	width: 240px;
	border-top: 1px solid #f1eee5;
	background-image: none;
	padding: 0;
	margin: 0;
}

#secondary .widget_pages li a {
	float: left;
	display: block;
	width: 225px;
	font-weight: bold;
	line-height: 40px;
	padding-left: 15px;
	text-decoration: none;
}

#secondary .widget_pages li a:hover,
#secondary .widget_pages li.page_item.current_page_item, 
#secondary .widget_pages li.page_item.current_page_parent,
#secondary .widget_pages li.page_item.current_page_ancestor {
	background: #dfd8ca;
	color: #333;
}

/* Sidebar Menu */
#secondary .widget_pages li.page_item
{
	text-indent: 0;
}

#secondary .widget_pages li.page_item ul.children {
	width: 100%;
	border-bottom: none;
	background: #fff;
}

#secondary .widget_pages li.page_item ul.children ul
{
	padding-left: 0;
}

#secondary .widget_pages ul.children li {
	width: 100%;
	color: #666;
	border-top: none;
	padding: 0;
	margin: 0;
}

#secondary .widget_pages ul.children li a:hover, 
#secondary .widget_pages ul.children li.page_item.current_page_item,
#secondary .widget_pages ul.children li.page_item.current_page_item a {
	background: none;
	color: #333;
}


#secondary .widget_pages ul > li.current_section_item
{
	background: none repeat scroll 0 0 #DFD8CA;
}

/*third level of nav*/

#secondary .widget_pages ul.children li ul.children {
	width: 200px;
	padding-left: 0;
}

#secondary .widget_pages ul.children li ul.children li {
	width: 100%;
}

#secondary .widget_pages li.page_item.current_page_ancestor ul.children li a {
	background: #fff;
}

#secondary .widget-container img {
	width: 100%;
}

#secondary .widget_pages ul.children a {
	width: 92%;
	font-weight: normal;
	border-top: none;
	line-height: 30px;
	padding-left: 8%;
	margin: 0;
}

#secondary .widget_pages li.page_item > ul.children > li.page_item ul.children
{
	width: 100%;
}

#secondary .widget_pages ul.children > li.page_item > ul.children > li.page_item > a
{
	padding-left: 13%;
	width: 87%;
}

#secondary .widget_pages ul.children > li.page_item > ul.children > li.page_item > ul.children > li.page_item > a
{
	padding-left: 19%;
	width: 81%;
}

#secondary .widget_pages ul.children > li.page_item > ul.children > li.page_item > ul.children > li.page_item >ul.children > li.page_item > a
{
	padding-left: 25%;
	width: 75%;
}

#secondary .widget_pages ul.children > li.page_item > ul.children > li.page_item > ul.children > li.page_item > ul.children > li.page_item > ul.children > li.page_item > a
{
	padding-left: 30%;
	width: 70%;
}

/*#featured-posts */
#featured-posts {
	float: left;
	width: 100%;
	clear: both;
	margin: 25px 0;
}
#featured-posts .category-left {
	float: left;
	width: 480px;
}
#featured-posts .category-right {
	float: right;
	width: 480px;
}
#featured-posts .post img {
	float: left;
	margin: 0 20px 20px 0;
	display: block;
	background: #0F0;
	border-bottom: 1px solid #d7d6d1;
	border-right: 1px solid #d7d6d1;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
}

#featured-posts h3.entry-title a {
	float: left;
	font-size: 1.0em;
	color: #b31b1b;
	text-decoration:underline;
	padding-left: 10px;
	text-transform: none;
	background: url(../images/layout/arrows/right_red.gif) no-repeat left 6px;
	font-weight: normal;
	margin-bottom: 7px;
}
#featured-posts h3 {
	width: 440px;
	font-size: 1.1em;
	text-transform: uppercase;
	color: #333;
}

#featured-posts .category-right h3.entry-title {
	width: 200px;
	float: left;
	clear: none;
	margin:0 20px 0 0;
	padding: 0;
}
#featured-posts h3 a {
	color: #333;
	text-decoration: none;
}
#featured-posts h3.cat-name a {
	font-size: 1.5em;
	color: #b31b1b;
	text-decoration:underline;
	padding-left: 0;
	font-weight: normal;	
}
.post-nr-2 h3 {
	clear: both;
	}
/*dates */
#featured-posts .entry-date {
	display: block;
	float: left;
	width: 36px;
	margin-right: 15px;
	text-align: center;
	background: #E9E2D7;
	border: 1px solid #fff;
	font-size: 0.9em;
}

#featured-posts .entry-date .month {
	display: block;
	padding: 3px 2px 0 2px;
}

#featured-posts .entry-date .day, 
#featured-posts .entry-date .year {
	display: block;
	padding: 2px;
}

#featured-posts .entry-date .year {
	background: #B4540A;
	color: #fff;
}

#main .entry-date {
	display: block;
	float: left;
	width: 36px;
	margin-right: 15px;
	text-align: center;
	background: #E9E2D7;
	border: 1px solid #fff;
	font-size: 0.9em;
}

#main .entry-date .month {
	display: block;
	padding: 3px 2px 0 2px;
}

#main .entry-date .day, #main .entry-date .year {
	display: block;
	padding: 2px;
}

#main .entry-date .year {
	background: #b31b1b;
	color: #fff;
}
/* widget */
#extra .widget-container {
	margin-bottom: 20px;	
	width: 305px;
	float: left;
	/*margin-right: 25px;*/
	margin-right: 15px;
}
#extra .widget-container p {
	line-height: 1.6em;
}
#extra .widget-container h3 {
	font-size: 1.1em;
	color: #fff;
	padding: 7px 10px;
	width: 285px;
	text-transform: uppercase;
	background-color: #a5a294;	
}

#secondary .widget-container.widget_text {
	margin-top: 20px;
}

#extra .widget-container.widget_text {
	width: 305px;
}
#extra .widget-container.widget_text h3 {	
	width: 285px;
}
#extra .widget-container h3.widget-title  a.rsswidget {
	color: #fff;
	padding: 7px 2px;
	width: 285px;
	text-transform: uppercase;
	background-color: #a5a294;	
}
#extra .widget-container h3.widget-title  a.rsswidget {
	text-decoration: none;
	}
#extra #rss-3.widget-container h3.widget-title  a.rsswidget img {
	position: relative;
	top: 2px;
	padding: 0;
	margin: 0;
	}
#extra .widget-container ul {
	margin-left: 0;
}

#extra .widget-container li {
	margin-bottom: 8px;
}

#extra .widget-container1 {
	display: block;
	position:relative;
	width: 305px;
	height: 50px;
	top:-12px;
	padding: 0;
	background: transparent url("https://workday.cornell.edu/files/2013/05/homewidg1-2jwhfv8.jpg") no-repeat 0 0;
	border: none;
	margin-bottom: 0px;
}

#extra .widget-container2 {
	display: block;
	position:relative;
	width: 305px;
	height: 50px;
	top:-12px;
	padding: 0;
	background: transparent url("https://workday.cornell.edu/files/2013/05/homewidg2-23cw9jb.jpg") no-repeat 0 0;
	border: none;
	margin-bottom: 0px;
}

#extra .widget-container3 {
	display: block;
	position:relative;
	width: 305px;
	height: 50px;
	top:-12px;
	padding: 0;
	background: transparent url("https://workday.cornell.edu/files/2013/05/homewidg3-1n3b7jt.jpg") no-repeat 0 0;
	border: none;
	margin-bottom: 0px;
}

#home-center .widget-container {
	margin-top: 20px;
	margin-bottom: 20px;	
	width: 945px;
	float: left;
	margin-right: 15px;
}

#home-center .widget-container p {
	line-height: 1.6em;
}

#home-left .widget-container {
	margin-top: 20px;
	margin-bottom: 20px;	
	width: 465px;
	float: left;
	margin-right: 15px;
}

#home-left .widget-container p {
	line-height: 1.6em;
}

#home-right .widget-container {
	margin-top: 20px;
	margin-bottom: 20px;	
	width: 465px;
	float: left;
	margin-right: 15px;
}

#home-right .widget-container p {
	line-height: 1.6em;
}

/* grid */
		
.columns {
	float: left;
	width: 100%;
	clear: both;
}
.col {
	float:left;
	display:inline;
	width:48%;
	margin-left:4%;
}
.three .col {
	width:30%;
	margin-left:5%;
}
.four .col {
	width:22%;
	margin-left:4%;
}
 .col.first {
	 margin-left: 0;
 }


/**** Footer *****/ 

#footer {
	float: left;
	clear: both;
	width: 100%;
	padding: 20px 0;
	font-size: 0.96em;
	border-top: 4px solid #fff;
}
#footer-content {
	width: 960px;
	margin: 0 auto;
}
#footer p {
	margin: 0;
}
#footer-left {
	float: left;
}
#footer-left .widget-container {
	float: left;
	margin-right: 35px;
}

#footer-left .widget-container img {
	margin-top: 5px;
}
#footer-right, #footer-right .widget-container {
	float: right;
	text-align: right;
	margin: 0;
}

#footer ul {
	float: left;
	display: block;
	margin: 0 0 10px 0;
}
#footer ul.meta {
	clear: both;
	float: right;
}

#footer li {
	padding: 0 13px 0 10px;
	margin: 0;
	float: left;
	font-size: 0.99em;
	background: transparent url(../images/layout/icon_footer_listdiv.gif) 100% 0.5em no-repeat;
}
#footer .first {
	padding-left: 0;
}
#footer .last {
	background: none;
	padding-right: 0;
}

#edublogs {
	float: left;
	clear: both;
	width: 100%;
	padding: 10px 0;
	font-size: 0.90em;
	color: #ccc;
	text-align: center;
}

#edublogs a{
	color: #ccc;
}

/**** Misc *****/

#skipnav, #header h1 strong {
	position: absolute;
	}
	
hr {
	display: none;
}

.inline-note {
	font-size: 0.833em;
	background: #f7f7f6 url(../images/layout/pencil.gif) left 2px no-repeat;
	color: #8c6522;
	border: 1px solid #f7f7f6;
	padding: 0px 4px 0px 15px;
}

/* Project CSS ************************************* */

/* Project-specific styles would appear below, with this space used for notes.
   A few useful goodies are already below to help get started...
   */

#search-form {
	top: 8px; 
	width: 330px;
}

#search-form label {
	color: #fff; 
}
#search-form-query {
	font-size: 1em;
}
#search-form-submit {
	padding: 0 2px 3px 2px;
	font-size: 1.1em;
}

#search-filters .filter {
	float: left;
	padding-top: 5px;
}

.widget-container {
	margin-bottom: 20px;
}

.widget-container ul {
	margin-left: 0;
}

.widget-container li {
	margin-bottom: 8px;
}

h3.entry-title {
	color: #3a4f70;
	font-weight: normal;
	font-size: 1.8em;
}

h3.header-title {
	display:none;
}

h2.page-title {
	/*background: url(../images/layout/section_default.jpg) no-repeat;*/
	color: #315087;
	font-weight: normal;
	font-size: 1.8em;
}
h2.page-title a {
	color: #3a4f70;
	text-decoration: none;
	font-weight: normal;

}
.search-results h2.page-title, .archive h2.page-title {
	background-image: none;
	height: auto;
	padding: 2px 0;
}
.search-results p, .archive p {
	border-bottom: solid 1px #d7d6d1;
	padding-bottom: 20px;
}
span.edit-link {
	clear: both;
	width: 100%;
	display: block;
}

/* featured 3d */

#featured .meta {
	float: right;
	width: 210px;
}

.home #featured .image-meta {
	float: left;
	margin: 0 0 15px 0;
	padding: 5px;
	background: url(../images/layout/featured_bg.png);
}

#featured img {
	width: 100%;
	margin-bottom: 10px;
}

.home #featured img {
	border: 1px solid #94A7C5;
	margin-bottom: 0;
	width: 347px;
}

.home #featured h2 {
	color: #A8440D;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 2.6em;
	margin-bottom: 10px;
}

.home #featured a {
	color: #fff;
}

.home #featured a:hover {
	color: #A8440D;
}

#featured ul {
	margin: 0;
	padding: 0;
}

#featured li {
	background: url(../images/layout/bullet_secondary.gif) no-repeat 0 2px;
	padding: 0 0 2px 20px;
	font-weight: bold;
	line-height: 1.2em;
}

.home #featured li {
	background: url(../images/layout/bullet_home.gif) no-repeat 0 2px;
	padding: 0 0 4px 25px;
	line-height: 1.8em;
}

.textwidget p {
	line-height: 1.8em;
}
/*  image gallery pages */

.gallery-listing {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	clear: both;
}

.gallery-listing li {
	margin: 0 0 15px 0;
	padding: 0;
	background-image: none;
	float: left;
	width: 100%;
}

.gallery-listing.two-column li {
	width: 50%;
	margin: 0 0 12px 0;
	font-style: italic;
	color: #333;
}

ul.gallery-listing li a {
	text-decoration: none;
}

.gallery-listing img {
	width: 300px;
	height: 168px;
	float: left;
	margin: 0 15px 0 0;
}

span.see-all-category-posts {
	float: left;
	clear: left;
	text-transform: lowercase;
	background: url(../images/layout/arrows/right_red.gif) no-repeat 100% 9px;
	padding-right: 8px;
}

span.see-all-category-posts a {
	padding-left: 10px;
}

.printfriendly {
	margin: 0;
}
.printfriendly a {
	text-decoration: none;
}
.printfriendly a:hover {
	cursor: pointer;
}
.printfriendly .printfriendly-text {
	margin-left: 3px;
	color: #b31b1b;
}
.printfriendly a img {
	border:none; 
	padding:0;
	float: left;
	clear: left;
	margin: 0;
}
.home .printfriendly a img {
	display: none;
	}
p.see-all-category {
	float: left;
	clear: left;
	margin-top: 20px;
}

/* custom css additions 112712 */

.note.blurb {
  float: right;
  width: 330px;
  margin-bottom: 20px;
}

div.note { background: #fff; Padding: 10px; border: 1px solid #D7D6D1; padding-bottom: 0px;}

/* custom css additions 041713 */

#secondary .widget_pages ul li.page_item.current_page_item,
#secondary .widget_pages ul li.page_item.current_page_ancestor,
#secondary .widget_pages ul li.page_item.current_page_item ul li.page_item,
#secondary .widget_pages ul li.page_item.current_page_ancestor ul li.page_item
{display: block}

.category-right h3 {
  clear: both;
}

#frm_field_88_container .frm_primary_label, #frm_field_82_container .frm_primary_label, 
  #frm_field_84_container .frm_primary_label, #frm_field_85_container .frm_primary_label{
  width: 150px;
}

#frm_field_88_container input, #frm_field_82_container input, 
  #frm_field_84_container input, #frm_field_85_container textarea{
  width: 400px;
}

.page-item-854{
  height: 30px;
}

.children .children{
  height: 30px;
}

.children .page_item{
  text-indent: -10px;
}

.children .children .page_item{
  text-indent: -10px;
}

.page-id-101 #secondary .widget_pages ul li.page_item.page-item-93{
  display: block;
  height: 30px;
}

.page-id-101 #secondary .widget_pages ul li.page_item.page-item-93 ul.children{
  display: block;
}

.page-id-101 #secondary .widget_pages ul li.page_item.page-item-93 ul li.page_item.page-item-464{
  display: block;
}

.note.blurb{
  float: right;
  width: 330px;
  margin-bottom: 20px;
}

div.note { background: #fff; Padding: 10px; border: 1px solid #D7D6D1; padding-bottom: 0px;}

#featured-posts .category-right h3.entry-title {
	width: 200px;
	float: left;
	clear: none;
	margin:0 20px 0 0;
	padding: 0;
}

.float-left {
  	float: left;
}

#main ol li ul.bulletlist li, #main ol li ul.bulletlist {
	list-style: disc !important;
}

#main ol li ul.bulletlist {
	padding:10px 0 0 20px;
}
.smallnote {
	float: right; 
	width: 360px; 
	margin: 10px 0 10px 10px; 
	background: #fff; 
	border: 1px solid #ccc; 
	padding: 10px; 
	clear:right;
}

.icon {
	float: right; 
	width: 100px; 
	height: 100px; 
	overflow: hidden; 
	text-align: right; 
	display: inline;
}

h2.page-title span {
	color:#f00; 
	font-size: 1.4em;
}

p.error {
	background: #f00; 
	color: #fff; 
	font-size: 1.6em; 
	border: 2px solid #fff !important; 
	text-align: center; 
	clear: both;
}
	
.entry-date {
	clear: both;
}

.category-31082 #nav_menu-4, .category-71333 #nav_menu-4, .category-213 #nav_menu-4 {
	display: block;
}

#nav_menu-4 ul {
float: left;
width: 240px;
border-bottom:1px solid #f1eee5;
margin-top: 50px;
}


#nav_menu-4 li {
float: left;
width: 240px;
border-top: 1px solid #f1eee5;
margin: 0;
background: url(../images/layout/arrows/right_red.gif) no-repeat left 9px;
}
#nav_menu-4 h3 { margin-bottom: 9px; }

#nav_menu-4 li a {
	float: left;
	display: block;
	width: 225px;
	font-weight: bold;
	padding: 10px 0 10px 15px;
	text-decoration: none;
}

#nav_menu-4 li a:hover {
	color: #FF0000;
}

.category-31082 h2.page-title, .category-71333 h2.page-title, .category-213 h2.page-title {color: #F1EEE5;}
.category-31082 #header h2.page-title, .category-71333 #header h2.page-title, .category-213 #header h2.page-title {color: #fff;}


.featured-home-group {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  clear: both;
  text-align: center;
}

.featured-home-group .group-left {
  float: left;
  width: 48%;
  background: #ECE9D9;
}

.featured-home-group .group-left p, .featured-home-group .group-right p {
  float: left;
  width: 38%;
  padding: 2%;
  font-size: 1.3em;
  margin:0;
}

.featured-home-group .group-right {
  float: right;
  width: 48%;
  background: #ECE9D9;
  overflow: hidden;
}

.featured-home-group .group-right img {
  width: 450px;
  height: auto;
}

div.featuredImg
{
	width: 100%;
	margin: 15px auto;
}

div.featuredImg > img
{
	max-width: 100%;
}

/* Workday Navigation Widget */


#secondary .nav_menu_widget_display h3 {
	float: left;
	width: 215px;
	color: #3a4f70;
	font-size: 1.1em;
	display: block;
	margin: 25px 10px 15px 15px;
	padding:0;
}
#secondary .nav_menu_widget_display ul {
	float: left;
	width: 240px;
	border-bottom:1px solid #f1eee5;
	margin-bottom: 50px;	
}

#secondary .nav_menu_widget_display ul ul {
	margin-bottom: 0;	
}
#secondary .nav_menu_widget_display li {
	float: left;
	width: 240px;
	border-top: 1px solid #f1eee5;
	background-image: none;
	padding: 0;
	margin: 0;
}

#secondary .nav_menu_widget_display li a {
	float: left;
	display: block;
	width: 225px;
	font-weight: bold;
	line-height: 40px;
	padding-left: 15px;
	text-decoration: none;
}

#secondary .nav_menu_widget_display li a:hover,
#secondary .nav_menu_widget_display li.page_item.current_page_item, 
#secondary .nav_menu_widget_display li.page_item.current_page_parent,
#secondary .nav_menu_widget_display li.page_item.current_page_ancestor {
	background: #dfd8ca;
	color: #333;
}


#secondary .nav_menu_widget_display li.page_item.current_page_ancestor ul.children li a {
	background: #fff;
}

.login-button {
	display: block;
	position: absolute;
	width:140px;
	height:55px;
	top:38px;
	left:15px;
	padding-top:10px;
	vertical-align: center; !important;
	text-align: center !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.8em;
	line-height: 1.0em;
	color: #333;
	text-decoration:none;
	text-shadow: 1px 1px 1px #FFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:1px solid #918f89;
	-webkit-box-shadow: #B3B3B3 2px 2px 2px;
	-moz-box-shadow: #B3B3B3 2px 2px 2px; 
	box-shadow: #B3B3B3 2px 2px 2px;
	background: -moz-linear-gradient(top, #EBE7DC, #D6D2C7);
    background: -webkit-linear-gradient(top, #EBE7DC, #D6D2C7);
    background: -o-linear-gradient(top, #EBE7DC, #D6D2C7);
    background: linear-gradient(top, #EBE7DC, #D6D2C7);
    /* versions of IE use these */
    filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#EBE7DC',EndColorStr='#D6D2C7');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#EBE7DC, endColorstr=#D6D2C7)";
}

.featured-top-group {
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both;
}

.featured-top-group .group-tleft {
  float: left;  
  width: 750px;
  font-size: 1.2em;
  line-height: 1.5em;
  overflow: hidden;
}

.featured-top-group .group-tleft p {
  float: left;
  padding: 5px;
  margin:0;
}

.featured-top-group .group-tright p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  height:112px;
  line-height: 1.0em;
  color: #FFF;
  text-align: center;
  valign: bottom;
  padding: 55px 0;
  text-shadow: 2px 2px 2px #000000;
}

.featured-top-group .group-tright {
  float: right;
  background-image: url(https://workday.cornell.edu/files/2012/08/treesunset-23kzle6.png);
  background-repeat: no-repeat;
  background-size:168px 112px;
  width:168px;
  height:112px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border:3px solid #FFFFFF;
  -webkit-box-shadow: #B3B3B3 2px 2px 2px;
  -moz-box-shadow: #B3B3B3 2px 2px 2px; 
  box-shadow: #B3B3B3 2px 2px 2px;
}


.featured-bottom-group {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  clear: both;
}

.featured-bottom-group .group-bright {
  float: right;
  width: 600px;
  overflow: hidden;
}

.featured-bottom-group .group-bleft p, .featured-bottom-group .group-bright p {
  float: left;
  padding: 5px;
  font-size: 1.3em;
  margin:0;
}

.featured-bottom-group .group-bleft {
  float: left;
  background-image: url(https://workday.cornell.edu/files/2012/08/conf-1cupp92.png);
  background-repeat: no-repeat;
  background-size:336px 226px;
  width:336px;
  height:226px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border:3px solid #FFFFFF;
  -webkit-box-shadow: #B3B3B3 2px 2px 2px;
  -moz-box-shadow: #B3B3B3 2px 2px 2px; 
  box-shadow: #B3B3B3 2px 2px 2px;
}

/* updated styles for 2013 */

.debug { border: 1px solid #FF0000; }

#imageCorral {
	position: relative;
	float: right;
	display: inline-block;
	width: 275px;
	height: 275px;
	border: 1px solid #BBB;
	-moz-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .08);
	-webkit-box-shadow: 0 0 4px 2px rgba(0, 0, 0, .08);
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, .08);
	z-index:99;
	padding: 5px 5px 0px;
	margin: 85px 20px 20px;
	background: #eeeeed url(../images/project/bg_campaign_gallery.jpg) 0 0 repeat-x;
}
#text-2 {margin-bottom:0px;}
#imageCorral img {
	display: inline-block;
	width: 125px;
	height: 125px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin: 5px;
}
#header {position: relative;}

#header-meta {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100px;
	background: url(../images/campaign_home_small.jpg) no-repeat right center;
	/*https://iws-lamp-dev.hosting.cornell.edu/wordpress/mri2/files/2013/07/campaign_home5.jpg */
}

#skipnav, #header h1 strong {
	position: relative;
	font-family: Georgia, serif;
	color: #343453;
	font-weight: normal;
	font-size: 35px;
	line-height: 42px;
	left: 15px;
}
#headerTitle {top: 90px;}
body.home #headerTitle {top: 15px;}
#headerPageTitle {top: 15px;}

#header h2 {
	float: none;
	color: #304e78;
	font-weight: normal;
	font-family: Arial, sans-serif;
	font-size: 1.167em;
	line-height: 1.3em;
	position: absolute;
	top: 52px;
	font-style: normal;
	margin: 0 0 0 15px;
	width: 30%; 
	line-height: 1.2em;
}

body.home #header h2 { width: 30%; line-height: 1.2em; top: 52px; }
#skipnav {display:none;}

#widgetsWrapper > div { width: 310px; display: inline-block; vertical-align: top; }
#widgetsWrapper > div#home-center { margin-left: 10px; }
#widgetsWrapper > div#home-right {width:270px; margin-left: 50px;}
#home-center .widget-container, #home-left .widget-container, #home-right .widget-container {width:auto;}
#home-center .widget-container ul {margin-top: 0px;}
#home-center .widget-container ul li a {padding:2px;text-decoration:underline;font-weight:normal;}
#home-center .widget-container ul li a:hover {background:none;color:#FF0000;}
#home-center .widget-container .widget-title {color: #3a4f70;font-weight: normal;font-size: 1.8em;}
#home-center #menu-quicklinks-container {padding-left: 10px;background: url(../images/layout/arrows/right_red.gif) no-repeat left 6px;}
#bottomCols {background-color:#FF0000;}
#headerTitle {display:block;width:450px;}
.clear {clear:both;}
#widgetsWrapper {position:relative;width:960px;margin:20px auto 20px;overflow:hidden;background: url(../images/project/bg_content_home.gif) 50% 0 repeat-y;}

#crumbs { margin-bottom: 10px; }
.homeHeaderHeight {height: 100px;}

#header, #content { overflow:hidden; }

body.page #content > #main > ul, body.page #content > #main > ol { width: 80%; }

@media only screen and (min-device-width: 300px) and (-webkit-min-device-pixel-ratio:0) { 
	ul li {
		background: url(../images/layout/arrows/right_red.gif) no-repeat left 7px;
	}
}

/* Cornell Theme Slideshow Styles */

#cornell-slideshow-container
{
	background: none;
	position: relative;
	max-width: 870px;
	height: 350px;
	border: 4px solid #fff;
	margin: 30px auto 0;
	
}

#cornell-slideshow-container > ul
{
	padding-left: 0;
}

#cornell-slideshow-container > ul > li
{
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	display: none;
	list-style-type: none;
	background: none;
	width: 100%;
	padding-left: 0;
}

#cornell-slideshow-container > ul > li:nth-child(1)
{
	display: block;
}

#cornell-slideshow-container > ul > li > a
{
	color: #B31B1B;
	font-size: 0;
	position: relative;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

#cornell-slideshow-container > ul > li > a > div > img
{
	max-height: 350px;
	width: 100%;
}

#cornell-slideshow-container > ul > li > a > div
{
	display: block;
	width: 50%;
	font-size: 14px;
	height: 350px;
}

#cornell-slideshow-container > ul > li > a > div.cornell-slide-img
{
	width: 480px;
	background: #666;
	text-align: center;
}

#cornell-slideshow-container > ul > li > a > div.cornell-slide-content
{
	background: #444;
	color: #fff;
	padding: 25px 35px;
	width: 340px;
	position: relative;
	height: 305px;
}

#cornell-slideshow-container > ul > li > a > div.cornell-slide-content > div.cornell-content-wrapper
{
	width: 345px;
	height: auto;
	margin: 0 auto;
	position: absolute;
	bottom: 20px;
}

#cornell-slideshow-container > ul > li > a > div.cornell-slide-content > div > h3 { color: #fff; margin-bottom: 0; }

/* Slide orientation classes */
#cornell-slideshow-container > ul > li.img-left > a > div.cornell-slide-img { float: left; }
#cornell-slideshow-container > ul > li.img-left > a > div.cornell-slide-content { float: right; }
#cornell-slideshow-container > ul > li.img-right > a > div.cornell-slide-img { float: right; }
#cornell-slideshow-container > ul > li.img-right > a > div.cornell-slide-content { float: left; }
#cornell-slideshow-container > ul > li.img-bg > a > div.cornell-slide-img { width: 100%; height: 100%; position: relative; z-index: 0; }

#cornell-slideshow-container > ul > li.align-top > a > div.cornell-slide-content > div.cornell-content-wrapper { top: 12px; }
#cornell-slideshow-container > ul > li.align-middle > a > div.cornell-slide-content > div.cornell-content-wrapper { top: 25px; }
#cornell-slideshow-container > ul > li.align-bottom > a > div.cornell-slide-content > div.cornell-content-wrapper { bottom: 25px; }

#cornell-slideshow-container > ul > li.img-right > a > div.cornell-slide-content { padding: 20px 15px 25px 35px; }

#cornell-slideshow-container > ul > li.img-left > a > div.cornell-slide-content { padding: 20px 35px 25px 15px; }

/* Image as Background styles */
#cornell-slideshow-container > ul > li.img-bg > a > div.cornell-slide-img img
{
	width: 870px;
	height: 350px;
}

#cornell-slideshow-container > ul > li.img-bg > a > div.cornell-slide-content
{
	width: 280px;
	opacity: .75;
	position: absolute !important;
	background: #000;
	z-index: 2;
	top: 0;
}

#cornell-slideshow-container > ul > li.img-bg > a > div.cornell-slide-content > div.cornell-content-wrapper
{
	width: 280px;
}

#cornell-slideshow-container > ul > li.img-bg.txt-left > a > div.cornell-slide-content
{
	left: 20px;
	padding: 25px 20px 25px 40px;
}

#cornell-slideshow-container > ul > li.img-bg.txt-right > a > div.cornell-slide-content
{
	left: 530px;
	padding: 25px 40px 25px 20px;
}

/* Menu and arrow styles */

#cornell-slideshow-container > div.cornell_slide_arrows
{
	position: absolute;
	top: 0;
	opacity: .25;
	z-index: 5;
	height: 100px;
	width: 35px;
	margin-top: 125px;
}

#cornell-slideshow-container > div.cornell_slide_arrows:hover
{
	opacity: .75;
}

#cornell-slideshow-container > div#cornell_prev_slide.cornell_slide_arrows
{
	border-radius: 0 50px 50px 0;
	left: 0;
}

#cornell-slideshow-container > div#cornell_next_slide.cornell_slide_arrows
{
	border-radius: 50px 0 0 50px;
	right: 0;
}

#cornell-slideshow-container > div.cornell_slide_arrows > a
{
	background: url("../lib/slider1.png") no-repeat transparent;
	width: 18px;
	height: 60px;
	display: block;
	vertical-align: middle;
	margin: 20px auto 0;
}

#cornell-slideshow-container > div#cornell_next_slide.cornell_slide_arrows > a { background: url("../lib/slider.png") no-repeat transparent; }

#cornell-slideshow-container > ul.cornell-slideshow-menu
{
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
	text-align: center;
}

#cornell-slideshow-container > ul.cornell-slideshow-menu > a > li
{
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	box-shadow: 1px 1px 1px #ccc;
	background: #000;
	padding-left: 0;
	margin: 5px;
}

body.ie.eight #cornell-slideshow-container > ul.cornell-slideshow-menu > a > li { background: url(../images/inactive.png) no-repeat; }

#cornell-slideshow-container > ul.cornell-slideshow-menu > a.activeLink > li
{
	background: #fff;
}

body.ie.eight #cornell-slideshow-container > ul.cornell-slideshow-menu > a.activeLink > li { background: url(../images/active.png) no-repeat; }

/* Webkit styles */

@media all and (-webkit-min-device-pixel-ratio:0) {

	#cornell-slideshow-container > ul > li.img-bg > a > div.cornell-slide-content
	{
		top: -342px;
	}
}