/* 
	Theme Name: Cornell
	Theme URL: http://www.cornell.edu
	Description: Cornell 45 pixels red theme for Wordpress.
	Author: IWS
	Author URI: http://www.cornell.edu
	Version: 1.0
*/

body {
 	margin: 0;
	padding: 0;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 63.125%;		/* translate 1.0em to 10px, 1.5em to 15px, etc. */
	color: #f3e3ac;
	background: #020302 url(../images/layout/body_pattern_black.png) 0 0;	/* footer background color */
 	}
#cu-identity {
	height: 75px;
	background: #000;
	}

#cu-logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -480px;
	width: 960px;
	height: 75px;
	background: url(../images/layout/NSRP_2line_blk.gif) no-repeat -8px -1px;
	}
	
#cu-logo a {
	position: absolute;
	display: block;
	border: none;
	/* hide text link */
	text-indent: -1000em; 
	}
	
#insignia-link {
	width: 68px;
	height: 75px;
	}

#unit-signature-links a {
	left: 68px;
	width: 280px;
	}

#cornell-link {
	height: 38px;
	}
	
#unit-link {
	top: 38px;
	height: 37px;
	}
	
#cu-logo img {
	display: none;
	}
 
/*	
	Search Form
	-------------------------
	The following rules control the appearance of the search form interface. 
	The form is displayed in the Cornell banner, and it is aligned with the 
	right edge of the page. The search form should appear on every page 
	of a site. 
*/

#search-form {
	position: absolute;
	top: 18px;
	right: 50%;
	margin-right: -480px;
	}
	
#search-form form {
	margin: 0;
	padding: 0;
	text-align: right;
	}
	
#search-form label {
	color: #fff;
	}
	
#search-form-query {
	padding: 3px;
	width: 145px;
	border: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	color: #fff;
	background: #4c4c4c url(../images/layout/header_search.gif) no-repeat top left;
	vertical-align: middle;
	}
	
#search-form-submit {
	padding: 0px 2px 3px 2px;;
	border-top: 1px solid #8c8c8c;
	border-left: 1px solid #8c8c8c;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	color: #fff;
	background: #4c4c4c;
	vertical-align: middle;
	}
	
#search-filters {
	margin: 5px 0 0 0;
	}

#search-filters input {
	vertical-align: middle;
	margin: 0;
	}

#search-filters label {
	vertical-align: middle;
	margin: 0 10px 0 0;
	}
	
#search-form a {
	color: #fff;
	}
	
#search-form a:hover {
	color: #ccc;
	}
 
/****************************************
 * Text Styles
 ****************************************/
/* 
	Headlines 
	-------------------------
*/
 
h2 {
	margin: 0 0 15px 0;
	padding-bottom: 10px;
	font-size: 2.4em;
	font-weight: normal;
	color: #fff;
	font-family:Georgia, "Times New Roman", Times, serif;
	clear: left;
	border-bottom: 1px dashed #8AB698;
	}
	
h3 {
	clear: both;
	margin: 0 0 15px 0;
	font-size: 1.3em;
	line-height: 1.4em;
	font-weight: bold;
	}
	
h4 {
	clear: both;
	margin: 0 0 15px 0;
	font-size: 1.7em;
	color: #fff;
	font-family:Georgia, "Times New Roman", Times, serif;
	}
	
/* 
	Text
	-------------------------
	Paragraphs of text, extended quotations, and captions
*/

p {
	margin: 0 0 15px 0;
	font-size: 1.3em;
	line-height: 1.4em;
	}
	
blockquote {
	margin: 0 30px;
	}
	
em {
	font-style: italic;
}

strong, cite {
	font-weight: bold;
}
	
/* 
	Lists 
	-------------------------
*/
	
ul, ol {
	margin: 0 0 15px 0;
	padding: 0;
	font-size: 1.3em;
	line-height: 1.4em;
	}
	
ul ul, ul ol, ol ol, ol ul, ul p, li p {
	font-size: 1.0em;
	}
	
ul li {
	margin: 5px 0;
	/*padding: 0 0 0 10px;*/
	padding: 10px 0 10px 28px;
	list-style: none;
	background: url(../images/layout/bullet.png) no-repeat 0 0.62em;
	}
 
ol li {
	margin: 5px 0 5px 30px;
	list-style: decimal;
	}
 
dl {
	margin: 0 0 15px 0;
	line-height: 1.4em;
	}
	
dt {
	margin: 0 0 3px 0;
	font-size: 1.2em;
	font-weight: bold;
	}
	
dd {
	margin: 0 0 15px 0;
	font-size: 1.3em;
	line-height: 1.4em;
	}
	
/* 
	Links 
	-------------------------
*/

a, a:visited {
	color: #E6B300;
	text-decoration: none;
	}
	
a:hover, a:active {
	color: #fff;
	text-decoration: underline;
	}
	
/****************************************
 * Header
 ****************************************/
 
/* 
	Site Identity 
	-------------------------
*/
#header {
	float: left;
	width: 100%;
	/*height: 287px;*/
	height: 190px;
	border-bottom: 1px solid #8AB698;
	background: transparent url(../images/layout/body_pattern_black.png) 0 100%;
	}
 
#identity {
	margin: 0 auto;
	width: 960px;
	height: 190px;
	/*height: 287px;*/
	background: transparent url(../images/layout/header_home.png) no-repeat 0 100%;
	}
	
#identity .identity-title {
	float: left;
} 
#identity h1 {
	margin: 0;
	padding: 0;
	}
	
#identity h1 a {
	color:#b31b1b;
	text-decoration: none;
	display: block;
	width: 960px;
	height: 287px;
	}
#identity h1 a em {	
	position: absolute;
	top: -1000em;
	left: -1000em;
}
	
#identity p {
	color:#006666;
	font-style: italic;
	margin: 0;
	}
	
#identity form {
	float: right;
	margin: 28px 2px 0 0;
	}
	
/****************************************
 * Content Sections
 ****************************************/
#pattern {
	float: left;
	width: 100%;
	background: transparent url(../images/layout/body_nopattern_black.gif) repeat-y 50% 0;
}
#wrap {
	float: left;
	width: 100%;
	background: transparent url(../images/layout/bottom_bg.png) no-repeat 50% 100%;
	border-bottom: 26px solid #141D1B;
	}
	
#maintag {
	background: #1A2824;
	float: left;
	clear: both;
	width: 100%;
	padding: 10px 0;
}

#maintag p {
	width: 920px;
	padding: 0 20px;
	margin: 0 auto;
	color: #fff;
}
	
#content {
	margin: 0 auto;
	width: 920px;
	height: auto !important;
	height: 400px;
	min-height: 400px;
	padding: 0 20px;
	}
	
#main {
	float: right;
	padding: 20px 0;
	width: 700px;
	}
/*	one column pages */

#content.widecolumn {
	background: none;
	}
	
#content.widecolumn #main {
	width: 100%;
	margin-bottom: 40px;
}
#content.widecolumn #main table {
}
/****************************************
 * Tables
 ****************************************/
table, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	}
	
#main table {
	margin: 15px 0;
	}
	
#main th {
	padding: 0 15px 5px 15px;
	font-weight: normal;
	text-align: left;
	color: #888;
	}
	
#main td, #main tbody th {
	padding: 10px 15px;
	font-size: 1.1em;
	line-height: 1.5em;
	vertical-align: top;
	}
	
#main tbody th {
	font-weight: bold;
	color: #222;
	text-align: right;
	}
	
	
/************************************************
*	Main Content 					     		    * 
************************************************/

.postmeta {
	float: left;
	clear: left;
	width: 100%;
	padding: 8px 0;
	border-top: 1px dashed #8AB698;
	border-bottom: 1px dashed #8AB698;
	margin-bottom: 16px;
}
.postmeta p {
	font-size: 1.1em;
	margin: 0;
}
.postmetaleft {
	float: left;
	width: 310px;
}
.postmetaleft p {
	padding: 2px 0 1px 0;
}
.postmetaright {
	float: right;
	width: 160px;
	text-align: right;
}
.postmetaright span {
	padding-left: 8px;
}
.commentmetadata {
	font-size: 0.86em;
}

/************************************************
*	Secondary content 					     	    * 
************************************************/
#secondary {
	float: left;
	width: 200px;
	margin: 20px 0;
	padding: 0 0 200px 0;
	font-size: 0.86em;
}

#secondary h2 {
	font-size: 1.3em;
	font-weight: bold;
	color:#006666;
}

#secondary-navigation {
	padding: 0 0 40px 0;
}

#secondary-navigation li {
	background-image: none;
	font-weight: bold;
	font-size: 1.2em;
	margin: 0 0 10px 0;
	padding: 0;
}

#home-main {
	float: left;
	width: 56%;
}

#home-secondary {
	float: right;
	width: 40%;
	padding-bottom: 200px;
}


.feeds {
	padding: 18px;
	text-align: center;
}

.feeds a {
	background: transparent url(../images/layout/mini-rss.gif) no-repeat left top;
	padding: 2px 8px 2px 18px;
}

/* text widget styles */
.widget_text, .widget_tag_cloud {
	margin-bottom: 22px;
}
#secondary .textwidget {
	font-size: 1.4em;
	line-height: 1.4em;
}
#secondary .textwidget p {
	font-size: 1.0em;
}

/************************************************
*	Comments									*
************************************************/

.commentlist li {
	margin: 0;
	padding: 0;
	background: url(../images/layout/comment_top.gif) no-repeat 22px 1.6em;
	float: left;
	clear: both;
	width: 100%;
}
/*.commentlist cite {
	background: transparent url(../images/layout/mini-user.gif) no-repeat left top;
	padding: 1px 0 0 18px;
}*/
.comment-contents {
	background: #333 url(../images/layout/comment_bottom.gif) no-repeat left bottom;
	width: 628px;
	height: auto !important;
    height: 30px;
    min-height: 30px;
	margin: 30px 0 22px 22px;
	font-size: 0.86em;
	padding: 8px 16px 2px 16px;
}

.comment-contents p {
	line-height: 1.6em;
}
.comment-contents .pending {
	padding: 4px;
	margin: 0 0 6px 0;
	background: #333;
	color:#fff;
}

#comment {
	background: #333;
	color: #fff;
}

.commentlist li.admin {
	background: url(../images/layout/comment_top_admin.gif) no-repeat 22px 1.6em;
}

.admin .comment-contents {
	background: #E3DFCC url(../images/layout/comment_bottom.gif) no-repeat left bottom;
	color: #000;
}


/****************************************
 * Questions
 ****************************************/
#studyq {
	 margin: 0 0 120px 0;
	 padding: 0;
	 clear: both;
 }
 
#studyq li {
	margin: 0 0 50px 0;
	min-height: 120px;
	padding: 0 0 0 170px;
	list-style: none;
}

#studyq li.q1 {
	background: transparent url(../images/layout/1.png) no-repeat 0 -15px;
}
#studyq li.q2 {
	background: transparent url(../images/layout/2.png) no-repeat 0 -15px;
}
#studyq li.q3 {
	background: transparent url(../images/layout/3.png) no-repeat 0 -15px;
}
#studyq li.q4 {
	background: transparent url(../images/layout/4.png) no-repeat 0 -15px;
}
#studyq li.q5 {
	background: transparent url(../images/layout/5.png) no-repeat 0 -15px;
}
#studyq li.q6 {
	background: transparent url(../images/layout/6.png) no-repeat 0 -15px;
}
#studyq li.q7 {
	background: transparent url(../images/layout/7.png) no-repeat 0 -15px;
}
#studyq li.q8 {
	background: transparent url(../images/layout/8.png) no-repeat 0 -15px;
}
#studyq li.q9 {
	background: transparent url(../images/layout/9.png) no-repeat 0 -15px;
}
#studyq li.q10 {
	background: transparent url(../images/layout/10.png) no-repeat 0 -15px;
}

 
/****************************************
 * Footer
 ****************************************/
 
#footer {
	float: left;
	width: 100%;
	border-top: 1px solid #8AB698;
	font-size: 0.86em;
	padding: 15px 0 25px 0;
	}
	
#footer-content {
	margin: 0 auto;
	width: 960px;
	}
#footer-content ul {
	float: left;
	width: 100%;
	margin: 0;
	padding: 10px 0 0 0;
	text-align: center;
}
	
#footer-content li {
	display: inline;
	line-height: 1em;
	background-image: none;
	margin-right: 0;
	border-right: 1px solid #F4E6D8;
	padding: 0 10px;
}

#footer-content li.first {
	padding-left: 10px;
	border-left: 1px solid #F4E6D8;
}

#footer a {
	color: #EFD593;
}

#footer-secondary {
	color: #ccc;
}

#footer-secondary a {
	color: #fff;
}

/****************************************
 * Miscellaneous
 ****************************************/

#skipnav {
	position: absolute;
	top: -1000em;
	left: -1000em;
	}
		
hr {
	display: none;
	}


/* add ons 12/09 */

.alignright {
	float: right;
	margin: 0 0 18px 18px;
}

.alignleft {
	float: left;
	margin: 0 18px 18px 0;
	padding: 0;
}

.alignright img, .alignleft img {
	display: block;
	margin: 0 auto;
	padding: 0;
	margin-top: 5px;
}

.wp-caption-text {
	padding: 6px;
	font-size: 1.1em;
	font-style: italic;
	margin: 0;
}