/*
Theme Name:     Adie Twenty Ten Child
Theme URI:      http://example.com/
Description:    Child theme for the Twenty Ten theme
Author:         LiLynn Graves
Author URI:     http://www.ccmr.cornell.edu/work/
Template:       twentyten
Version:        0.1.0
*/

@import url("../twentyten/style.css");


/*This is the BME Logo at the top of the pages*/

#cornell {
	padding-top:10px;
	
	
	
}
#cornell a {
	background: transparent url("images/bmelogo.png") no-repeat;
	display: block;
	height: 60px;
	width: 400px;
}
	



#header {
    height:0px;
	padding: 0px 0 0;
	
	
	
}

#site-title {
	float: left;
	font-size: 35px;
	line-height: 60px;
	margin: 0 0 0 0 ;
	width: 380px;
	font-family:Georgia, "Times New Roman", Times, serif;
	
	
}
#site-title a {
	color: #000;
	font-weight: lighter;
	text-decoration: none;
}
#site-description {
	clear: right;
	float: right;
	font-style: italic;
	margin: 30px 0 0 0;
	width: 540px;
	color:#666666;
}

/* This is the custom header image */
#branding img {
	border-top: 4px solid #A7180A;
	border-bottom: 1px solid #000;
	display: block;
	float: left;
}

/* Footer */
site-generator a {
    background: url("images/cornellfavsm.png") no-repeat scroll left center transparent;
    color: #666666;
    display: inline-block;
    line-height: 16px;
    padding-left: 20px;
    text-decoration: none;
}

#access {
	background: none repeat scroll 0 0 #A7180A;
	display: block;
	float: left;
	margin: 0 auto;
	width: 940px;
	
}

/*Search Form
	-------------------------
	The following rules control the appearance of the search form interface. 
	The form is displayed in the Cornell banner, and it is aligned with the 
	right edge of the page. The search form should appear on every page 
	of a site. 
*/

#search-form {
	
	margin-top: -60px;
	float:right;
	
	
	}
	
#search-form a {
	float: left;
	padding: 2px 10px;
	color: #fff;
	border: none;
	background-color: #999999;
	font-size: 0.8em;
	font-family: Verdana, Geneva, sans-serif;
	}
	
#container {
    float: right;
    margin: 0 -240 0 0 px;
    width: 100%;
}
#container.one-column {
    float: left;
    margin: 0 0px 0 0;
   
	
}

#main {
    clear: both;
    overflow: hidden;
    padding: 30px 0 0;
}

#content, #content input, #content textarea {
    color: #333333;
    font-size: 16px;
    line-height: 24px;
	
}

h2 {
    color: #000000;
    font-size: 18px;
    
    line-height: 1.0em;
    margin-bottom: 0;
	clear: both;
    font-weight: bold;
	font-family:Arial, Helvetica, sans-serif;
}



#primary {
}
#primary, #secondary {
	float: left;
	overflow: hidden;
	width: 220px;
	padding-left:10px;
	padding-top:10px;
	background-color:#E6E6E6;	/*background: url("../../uploads/sidebar.png");
	background-repeat:repeat-y;*/
}
.navigation {
	color: #777;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #777;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}

.entry-meta {
	margin-top:-20px;
    color: #fff;
    font-size: 0px;
}
.entry-utility {
    margin-top:-20px;
	clear: both;
    color: #fff;
    font-size: 0px;
    line-height: 0px;
}


body, input,textarea, .pingback a.url, a.link{
    font-family: Georgia,"Bitstream Charter",serif;
	color: #CC3918;
	
	font-size:16px;
	line-height:1.5em;
}

#search-form, #search-input {
    font-family: Georgia,"Bitstream Charter",serif;
	color: #999;
	font-size:14px;
}

#access a {
    color: #AAAAAA;
    display: block;
    line-height: 38px;
    padding: 0 10px;
    text-decoration: none;
	font-size:18px;
	font-weight:600;
}
a:link {
	color: #CC3918;
}
a:visited {
	color: #743399;
}
a:active,
a:hover {
	color: #ff4b33;
	
}
.widget-container {
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin: 0 0 18px 0;
}
.widget-container .wp-caption img {
	margin: auto;
}
.widget-title {
	color: #222;
	font-weight: bold;
}
.widget-area a:link,
.widget-area a:visited {
	color: #CC3918;
	text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
	text-decoration: underline;
}
#content tr td {
    border-top: 0px solid #fff;
	border-bottom: 0px solid #fff;
	border-left: 0px solid #fff;
	border: 0px solid #fff;
    padding: 6px 24px;
	
}
#content table {
    border: 0px solid #fff;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}