/* Admin css
   ************************************ */
#devices-preview-text {
  color: #555d66;
  font-size: 14px;
  font-weight: 600;
  padding: 15px 0 12px 18px;
  float: left;
}

.post-type-testimonials #titlediv:after {
  content: "Quotation";
  font-size: 23px;
  font-weight: 400;
  white-space: pre-wrap;
  margin: 12px 0 6px;
  display: block;
  padding: 9px 0 4px 0;
  line-height: 1.3;
  color: #1d2327;
}

.post-type-testimonials #post-body-content #acf_after_title-sortables {
  margin: 0;
}

.post-type-testimonials #acf_after_title-sortables:before {
  content: "Additional blockquote styles are available in the Formats dropdown menu.";
  font-size: 13px;
  font-weight: 400;
  white-space: pre-wrap;
  margin: -15px 0 0 3px;
  display: block;
  padding: 9px 0 4px 0;
  line-height: 14px;
  color: #646970;
}

.toplevel_page_theme-options .postbox-header {
  display: none;
}
.toplevel_page_theme-options .acf-field .acf-label label {
  font-size: 21px;
  font-weight: normal !important;
}
.toplevel_page_theme-options .acf-field .acf-label .description {
  font-size: 14px !important;
}
.toplevel_page_theme-options .acf-field .acf-field-text {
  width: 50%;
  border: none;
}
.toplevel_page_theme-options .acf-input .acf-label label {
  font-size: 16px;
  font-weight: normal !important;
}
.toplevel_page_theme-options .acf-input .acf-label .description {
  font-size: 13px !important;
}
.toplevel_page_theme-options .acf-input .input-10 select {
  width: 16%;
}
.toplevel_page_theme-options .acf-input .input-8 select, .toplevel_page_theme-options .acf-input .input-8 input[type=number] {
  width: 11%;
}

div[data-name=metadata] > .acf-input > .acf-fields > .acf-field:not([data-name=regular_posts]),
.toplevel_page_theme-options #poststuff h2,
.toplevel_page_theme-options .postbox-header {
  display: none;
}

.post-type-courses #post-body-content #acf_after_title-sortables {
  margin: -4px 0 -20px 10px;
}

#widget-context-pro,
#widget-context-pro + tr,
.widget-context .widget-context-header .widget-context-settings-link {
  display: none;
}

/*p.select.help {
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 19px;
    padding: 0 2px;
}*/
/* Simple Banner 
.simple-banner-settings-form #footer-thankyou {
	display: none;
}*/
#preview_banner_outer_container,
.simple-banner-settings-form {
  position: relative;
}

#preview_banner_text a {
  color: #ffffff;
}

.simple-banner-settings-form p.submit {
  position: absolute;
  bottom: 0;
}

.simple-banner {
  width: 100%;
  text-align: center;
  z-index: 99999;
  position: relative;
  display: block;
  background: #b31b1b;
}

.simple-banner .simple-banner-text {
  font-weight: normal;
  padding: 10px 55px;
  font-size: 22px;
  color: #fff;
}

.simple-banner .simple-banner-button {
  border: none;
  background-color: transparent;
  padding: 0 5px;
  margin: 0 10px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
  right: 0;
  top: 50%;
  font-size: 16px;
  cursor: pointer;
}

.mce-notification .mce-notification-inner {
  display: none;
}
/*# sourceMappingURL=admin.css.map */