/* IE Adjustments */

/* adjust for lack of :last-child support */
#footer-right {
	overflow: hidden;
}
#footer-right ul {
	margin-right: -13px;
}

/* IE 6/7 Tweaks */
#footer-message-wrap {
	#margin-top: 0;
}
#footer-message-wrap {
	#margin-top: 0;
}
* html #main {
	width: 635px;
}
* html #secondary {
	width: 281px;
}
* html .color-box {
	width: 244px;
}
* html .color-box h3 {
	width: 224px;
	margin: 0 0 8px 0;
}
* html #main .color-box.full {
	width: 609px;
}
* html #main .color-box.full h3 {
	width: 589px;
}
* html .onecolumn #main {
	width: 915px;
}
* html .onecolumn #main .color-box.full {
	width: 889px;
}
* html .onecolumn #main .color-box.full h3 {
	width: 869px;
}

/* color boxes */
.color-box.farmer-hub .decal, .color-box.local-help .decal {
	#display: inline;
	#width: 269px;
}