
/**** Body *****/
body {
	background: #d7d6d1/* url(../images/layout/bg_top.jpg) no-repeat 50% 45px*/; /* footer color */
	padding: 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%; /* 12px *//* font size key in em:
		0.750em = 09px
		0.833em = 10px
		0.917em = 11px
		default = 12px
		1.083em = 13px
		1.167em = 14px
		1.250em = 15px
		1.333em = 16px
		1.500em = 18px
		1.667em = 20px
		1.833em = 22px
		2.000em = 24px
		3.000em = 36px
	*/
}
/**** Tables *****/

table {
	width: 100%;
	margin-bottom: 15px;
	border: solid #ddd;
	border-width: 1px 1px 0 0;
	border-collapse: collapse;
}
table table {
	margin-bottom: 0; /* removed margin in nested tables */
}
caption {
	font-style: italic;
	color: #777;
	margin: 0.2em 0;
	line-height: 1.6em;
}
td, th {
	border: solid #ddd;
	border-width: 0 0 1px 1px;
	padding: 6px;
	vertical-align: top;
}
th {
	color: #444;
	border-left-color: #ccc;
	border-bottom-color: #999;
	font-weight: bold;
	text-align: center;
		
	/* optional gradient */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f8f5', endColorstr='#e2e1de');*/ /* disabled due to IE8 bugs */
	background: #f9f8f5 url(../images/layout/ie_tableheader.gif) 0 bottom repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f8f5), to(#e2e1de));
	background: -moz-linear-gradient(top, #f9f8f5, #e2e1de);
}
th p {
	margin-bottom: 0; /* removes <p> margin if used in table headers */
}
/**** Text Styles ****/

p, td, th, li, dt, dd {
	line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 12px;
	color: #333;
}
h1 {
	font-size: 2.2em;
	font-family: Arial, Helvetica, sans-serif;
}
h2 {
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
}
h3 {
	font-size: 1.5em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	display: block;
}
h4 {
/* default bold 12px */
}
h5 {
	font-weight: normal;
	color: #386684;
	margin-bottom: 5px;
}
h6 {
	font-weight: normal;
	font-style: italic;
	margin-bottom: 5px;
}
p {
	margin-bottom: 15px;
}
p.last {
	margin-bottom: 0;
}
strong {
	font-weight: bold;
}
blockquote, pre {
	margin-left:2em;
	padding-left: 1em;
	border-left:1px solid #ccc;
	font-style: italic;
	line-height: 1.4em;
}
pre, code {
	font-family: mono-space, monospace;
	font-style: normal;
	margin-bottom: 15px;
}
abbr, acronym {
	text-transform:uppercase;
	border-bottom: 1px dotted #000;
	letter-spacing: 1px;
}
abbr[title], acronym[title] {
	cursor:help;
}
sup, sub {
	font-size:.8em;
	position: relative;
}
sup {
	top: -0.4em;
}
sub {
	top: 0.2em;
}
em, cite {
	font-style:italic;
}
.clear {
	clear: both;
	width: 100%;
}
p.note {
	padding: 10px;
	border: 1px solid #ccc;
}
.more {
	padding-right: 8px;
	background: transparent url(../images/layout/arrows/right_red.gif) no-repeat 100% 80%;
}
.text-highlight-red {
	background: #f0beb6;
}

.text-highlight-yellow {
	background: #f0ee9f;
}

.text-highlight-green {
	background: #c5ee9f;
}

/**** Links ****/
 
/* Using classic Cornell red as the default (but no border styles).
   */

a, a:visited {
	color: #b31b1b;
}
 
a:hover, a:active {
	color: #f00;
}

/**** Lists ****/

ul {
	margin-left: 0;
	margin-bottom: 15px;
}
ul li {
	padding-left: 10px;
	background: url(../images/layout/arrows/right_red.gif) no-repeat left 6px;
}

ul.disc li {
	background: url(../images/layout/bullet_disc.gif) left 7px no-repeat;
}
ul.circle li {
	background: url(../images/layout/bullet_circle.gif) left 7px no-repeat;
}
ol {
	margin-left: 36px;
	margin-bottom: 15px;
}
ol li {
	padding-left: 0;
	list-style: decimal;
	background: none;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 4px;
}
dl {
	margin-left: 0;
	margin-bottom: 15px;
}
dl dl {
	margin-left: 30px;
}
dt {
	font-weight: bold;
	margin-bottom: 8px;
}
dd {
	margin-bottom: 12px;
}
/* Table of Contents */
ul.toc {
	border-left: 4px solid #dbe3e9;
	margin-left: 1px;
	padding-left: 0px;
	margin-bottom: 20px;
}
ul.toc li {
	background: none;
	padding-left: 10px;
}
ul.toc ol li {
	padding-left: 0;
}
ul.toc a {
	padding-right: 9px;
	background: url(../images/layout/link_arrow_white.gif) right 0.35em no-repeat;
}

/**** Images *****/
image {
	display: block;
}
.image-left, .image-right {
	background: url(../images/layout/corner_white.png) no-repeat 100% 100%;
	padding: 0 2px 2px 0;
}
.image-left {
	float: left;
	margin: 0 12px 6px 0;
}

.image-right {
	float: right;
	margin: 0 0 6px 12px;
}
/*caption*/

.wp-caption img {
	margin:0;
	padding:0;
	width: 100%;		
	}

.alignright {
  	float: right;
	margin: 0 0 15px 15px;
}

.alignleft {
  	float: left;
	margin: 0 15px 15px 0;
}
p.wp-caption-text {
  	font-size: 0.9em;
	color: #666;
	padding: 20px;
	margin:0;
	background: #fff;
}

/**** Forms *****/

/*	
	Search Form
*/

#searchform {
	position: absolute;
	top: 7px;	
	right: 0%;
	float: right;
	font-size: 0.917em;
	}
	
#searchform form {
	margin: 0;
	padding: 0;
	text-align: right;
	}
	
#searchform label {
	color: #fff;
	}
	
#searchform-query {
	padding: 3px;
	width: 130px;
	border: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	color: #fff;
	background: #990f0f url(http://www.cornell.edu/img/layout/header_search.gif) no-repeat top left;
	vertical-align: middle;
	}
	
#searchform-submit {
	padding: 0px 2px 3px 2px;;
	border-top: 1px solid #bf6060;
	border-left: 1px solid #bf6060;
	border-right: 1px solid #400606;
	border-bottom: 1px solid #400606;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	color: #fff;
	background: #900;
	vertical-align: middle;
	}
	
#search-filters {
	margin: 5px 0 0 0;
	}

#search-filters input {
	vertical-align: middle;
	margin: 0;
	}

#search-filters label {
	vertical-align: middle;
	margin: 0 10px 0 0;
	}
	
#search-form a {
	color: #fff;
	}
	
#search-form a:hover {
	border-bottom: 1px solid #fff;
	}


#wrap form {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	clear: both;
}
#wrap form fieldset {
	border: 1px solid #ccc;
	padding: 15px 10px;
	margin-bottom: 15px;
	float: left;
	width: 680px;
}
#wrap form fieldset.row-submit {
	border: none;
	padding: 0;
}
#wrap input {
	margin-bottom: 4px;
}
#wrap label {
	margin: 0 4px 4px 0;
	vertical-align: top;
}
#wrap select {
	min-width: 200px;
}
#wrap legend {
	padding: 0 5px;
	font-weight: bold;
}
/* Form Theme: Basic */

#wrap form.basic p {
	float: left;
	clear: both;
	display: block;
}
#wrap form.basic input, #wrap form.basic textarea {
	float: left;
	clear: right;
	margin-left: 0;
}
#wrap form.basic label {
	display: block;
	float: left;
	clear: left;
	width: 125px;
	margin: 1px 10px 0 0;
	text-align: right;
	line-height: 1.5em;
}
#wrap form.basic select {
}
#wrap form.basic input[type="text"], #wrap form.basic input[type="password"], #wrap form.basic textarea {
	outline: 2px solid transparent;
	border: 1px solid #999;
	border-top-color: #000;
	padding: 2px;
}
#wrap form.basic input[type="text"]:focus, #wrap form.basic input[type="password"]:focus, #wrap form.basic textarea:focus {
	background: #f3f6f8;
	outline: 2px solid #d1dce3;
	border: 1px solid #000;
}
#wrap form.basic input[type="submit"], #wrap form.basic input[type="reset"] {
	border: 1px solid #999;
	border-bottom-color: #000;
	padding: 3px 6px;
	background: #ededed;
	cursor: pointer;
	
	/* optional gradient */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f8f5', endColorstr='#e2e1de');
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f8f5), to(#e2e1de));
	background: -moz-linear-gradient(top, #f9f8f5, #e2e1de);
}
#wrap form.basic input[type="submit"]:hover, #wrap form.basic input[type="reset"]:hover {
	background: #f5f5f5;
}
#wrap form.basic input[type="submit"]:active, #wrap form.basic input[type="reset"]:active {
	background: #e5e5e5;
}



/**** Component Forms *****/
 
/* activate with form.iws-component
   */


/* Standardize Element Sizing */
#wrap form.iws-component input[type="text"], 
#wrap form.iws-component input[type="password"], 
#wrap form.iws-component textarea, 
#wrap form.iws-component select, 
#wrap form.iws-component label, 
#wrap form.iws-component div, 
#wrap form.iws-component h4, 
#wrap form.iws-component p {
	-ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Fieldset Toolbar */
#wrap form.iws-component .form-tools {
	float: left;
	width: 100%;
	margin: -5px 0 20px;
	padding: 1px 0;
	border: 1px solid #e1e0d0;
	border-bottom-color: #cbcabc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f1', endColorstr='#e4e3d3');
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f1), to(#e4e3d3));
	background: -moz-linear-gradient(top, #f6f6f1, #e4e3d3);
}
#wrap form.iws-component .form-tools p,
#wrap form.iws-component .form-tools ul {
	float: right;
	margin: 0 6px;
	font-size: 0.917em;
}
#wrap form.iws-component .form-tools li {
	background: none;
	float: left;
	padding: 0 12px;
	border-right: 1px solid #e0dfcf;
}
#wrap form.iws-component .form-tools li.last {
	padding-right: 6px;
	border-right: 0;
}

/* Tag Definitions */
#wrap form.iws-component p {
	padding: 0 6px;
}
#wrap form.iws-component h4 {
	float: left;
	width: 100%;
	margin: 15px 0 10px;
	padding: 4px 6px 3px;
	background: #f7f9fa;
	border-bottom: 1px solid #e5ebef;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#wrap form.iws-component h4.first {
	margin-top: 0;
}
#wrap form.iws-component div.last {
	margin-bottom: 0 !important;
}
#wrap form.iws-component legend a {
	text-decoration: none;
	font-weight: normal;
	background: #f3f5f7;
	margin-left: 2px;
	padding: 0 2px;
}
#wrap form.iws-component label {
	float: left;
	margin: 0;
	padding-top: 0.3em;
}
#wrap form.iws-component input[type="text"], 
#wrap form.iws-component input[type="password"] {
	height: 1.88em;
	width: 26.2em;
	float: left;
}
#wrap form.iws-component input[type="radio"], 
#wrap form.iws-component input[type="checkbox"] {
	float: left;
}
#wrap form.iws-component textarea {
	font-family: Lucida Grande, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 1.0em;
	padding: 4px;
	width: 24em;
	height: 130px;
	float: left;
	margin-bottom: 4px;
}
#wrap form.iws-component select {
	margin: 1px 0 4px;
	width: 26.2em;
	min-width: 0;
	float: left;
}


/* Notes, Errors, and User Messages */
#wrap form.iws-component .form-note {
	float: left;
	width: 26.2em;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: -4px 0 0 36%;
	padding: 0px 3px 1px;
	background: #f5f3e5 url(../images/layout/note_shadow_reverse.gif) 0 bottom repeat-x;
	border: 1px solid #edebde;
	border-top: 0;
	color: #939289;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}
#wrap form.iws-component p.form-note {
	width: auto;
	max-width: 38.6em;
	margin: 2px 0 0 36%;
	padding: 3px 5px 4px;
	border: 1px solid #edebde;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#wrap form.iws-component div.error {
	float: left;
	clear: both;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: 4px 10px 10px 36%;
	padding: 4px 10px 4px 24px;
	background: #f3e2d9 url(../images/layout/icon_error.gif) 7px 0.6em no-repeat;
	border: 1px solid #e1a39c;
	color: #af1111;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#wrap form.iws-component label.error, 
#wrap form.iws-component .alert {
	color: #af1111;
	font-weight: bold;
}
#wrap form.iws-component div.form-feedback {
	float: left;
	width: 100%;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: 0 0 15px;
	padding: 9px 12px 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#wrap form.iws-component div.form-feedback.warning {
	background: #f6f4e2;
	border: 1px solid #ebddbd;
	border-bottom-color: #d9ccae;
	color: #59453f;
}
#wrap form.iws-component div.form-feedback.info {
	background: #e2eef6;
	border: 1px solid #bde3eb;
	color: #547097;
}
#wrap form.iws-component div.form-feedback.success {
	background: #e4f8df url(../images/layout/icon_check.gif) 8px 0.95em no-repeat;
	border: 1px solid #c3eca7;
	color: #50914f;
	padding-left: 24px;
}
#wrap form.iws-component div.form-feedback p {
	margin-bottom: 0;
	padding: 0;
}
/*
#wrap form.iws-component div.form-feedback.warning strong {
	color: #af1111;
}
*/

/* IWS Tooltip Support */
#wrap form.iws-component span.tooltip {
	border: 0;
	float: left;
	width: 14px;
	height: 16px;
	padding-right: 3px;
	background: transparent url(../images/layout/icon_question.png) 0 0 no-repeat;
}
#wrap form.iws-component span.tooltip.info {
	background: transparent url(../images/layout/icon_info.png) 0 0 no-repeat;
}
#wrap form.iws-component span.tooltip:hover {
	cursor: pointer;
}


/* Default Input Size Choices */
#wrap form.iws-component .input-s input[type="text"], 
#wrap form.iws-component .input-s input[type="password"] {
	width: 2.8em;
}
#wrap form.iws-component .input-m input[type="text"], 
#wrap form.iws-component .input-m input[type="password"], 
#wrap form.iws-component .input-m select, 
#wrap form.iws-component .input-m div.form-note {
	width: 13em;
}
#wrap form.iws-component .input-l input[type="text"], 
#wrap form.iws-component .input-l input[type="password"], 
#wrap form.iws-component .input-l select, 
#wrap form.iws-component .input-l div.form-note {
	width: 62.5%;
	max-width: 38.6em;
}
#wrap form.iws-component .input-s div.form-note {
	width: auto;
	max-width: 35.9em;
	min-height: 1.88em;
	float: left;
	margin: 0;
	padding: 1px 4px;
	border: 1px solid #edebde;
	border-left: 0;
	-moz-border-radius: 0 6px 6px 0;
	-webkit-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
}
@-moz-document url-prefix() { /* FF */
	#wrap form.iws-component .input-s div.form-note {
		min-height: 1.5em;
	}
}
#wrap form.iws-component .input-s div.error {
	margin-top: 0;
}
#wrap form.iws-component .textarea-s textarea {
	height: 40px;
	overflow: hidden;
}
#wrap form.iws-component .textarea-m textarea {
	height: 70px;
}
#wrap form.iws-component .textarea-l textarea {
	width: 62.5%;
	max-width: 600px;
	height: 250px;
}
#wrap form.iws-component .textarea-l div.form-note {
	width: 62.5%;
	max-width: 600px;
}
#wrap form.iws-component .input-s select {
	width: 4em;
}

/* Option Lists */

#wrap form.iws-component ul.form-list {
	float: left;
	margin: 2px 0 10px 1px;
	width: 62.5%;
}
#wrap form.iws-component ul.form-list li {
	background: none;
	padding: 0;
	margin: 0 0 1px 0;
	width: 100%;
	float: left;
	line-height: 1.4em;
}
#wrap form.iws-component ul.form-list li label {
	padding: 0;
}
#wrap form.iws-component ul.form-list li input[type="radio"], 
#wrap form.iws-component ul.form-list li input[type="checkbox"] {
	margin: 1px 4px 0 0;
}


/* Left-Right Adjustments */
#wrap form.iws-component .form-pair {
	float: left;
	clear: left;
	width: 100%;
	margin-bottom: 5px;
}
#wrap form.iws-component .form-left {
	float: left;
	width: 35%;
	margin-right: 1%;
}
#wrap form.iws-component .form-left label {
	/*width: 100%;*/
	float: right;
	/*text-align: right;*/
}
#wrap form.iws-component .form-left input, 
#wrap form.iws-component .form-left select {
	float: right;
}


/* Tight-Loose Margins */
#wrap form.iws-component .form-pair.tight {
	margin-bottom: 1px;
}
#wrap form.iws-component .form-pair.tight input, 
#wrap form.iws-component .form-pair.tight select {
	margin-bottom: 0;
}
#wrap form.iws-component .form-pair.loose {
	margin-bottom: 20px;
}
#wrap form.iws-component .form-pair.loose input, 
#wrap form.iws-component .form-pair.loose select {
	margin-bottom: 0;
}
#wrap form.iws-component .form-pair.loose div.form-note {
	margin-top: 0;
}

/**** Layout *****/
#wrap {
	float: left;
	width: 100%;
	clear: both;
	background: #f1eee5;
}
#content-wrap {
	float: left;
	width: 100%;
	background-color: #fff;
	height: 165px;
	border-bottom: 4px solid #e7e3de;
	
}
#content {
	width: 960px;
	margin: 0 auto;
}

#main, #secondary, #section-navigation, #section-navigation-wrap {
	float: left;
}
.secondary-section, .secondary-photo {
	float: left;
	width: 100%;
}
#main {
	width: 960px;
	float: left;
	min-height: 400px;
	padding: 20px 0;
}
#main .textwidget {
	line-height: 1.6em;
}
#main .entry-content {
	width: 960px;
	float: left;
}
#main .entry-content p.login-button {
	float: right;
	margin: 0 10px 25px 25px;
}
#main .entry-content p.login-button a {
	display: block;
	width: 160px;
	height: 71px;
	padding: 0;
	background: transparent url(../images/layout/login_button.png) no-repeat 0 0;
	border: none;
	text-indent: -10000px;
}
#main .entry-content p.login-button a:hover {
	background: transparent url(../images/layout/login_button_on.png) no-repeat 0 0;
}

#main .entry-content p.training-button {
	float: left;
	margin: 0 25px 25px 0;
}
#main .entry-content p.training-button a {
	display: block;
	width: 160px;
	height: 71px;
	padding: 0;
	background: transparent url(../images/layout/training_button_off.png) no-repeat 0 0;
	border: none;
	text-indent: -10000px;
}
#main .entry-content p.training-button a:hover {
	background: transparent url(../images/layout/training_button_on.png) no-repeat 0 0;
}


#secondary {
	width: 240px;
	padding-bottom: 50px;	
}
#section-navigation {
	width: 290px;
	padding: 0;
	margin: 0;
}

/* onecolumn pages */
.onecolumn #main {
	width: 960px;
}
/* twocolumn pages with secondary on the left */
.single-post .twocolumn-left #main h3.entry-title a {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	text-decoration: none;
	padding: 0;
	margin: 0;
	line-height: 1.2em;
	color: #3a4f70;
	font-style: normal;
	font-size: 1.0em;
	cursor: default;
}
.single-post .twocolumn-left #main {
	padding: 0;
	margin-top: 5px;
}
.single-post .twocolumn-left #main h3.entry-title {
	text-transform: none;
}
	
#wrap.twocolumn-left  {
background: #f1eee5 url(../images/layout/sec_bcgr.gif) repeat-y top center;
}
.twocolumn-left #main {
	float: right;
	width: 700px;
	padding-left: 20px;
	padding-bottom: 50px;
	padding-top: 15px;
	background: #f1eee5;
}

.twocolumn-left #main h3.entry-title a {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	padding: 0;
	line-height: 1.3em;
	text-transform: none;	
	font-size: 0.7em;
}

/* onecolumn pages with no title and larger content area for 3d */

.blank #content, .onecolumn.blank #main {
	width: 1024px;
	margin: 0 auto;
}

body.page-template-page-full-blank-php {
	background-image: none;
}

body.page-template-page-full-blank-php #cu-identity, body.page-template-page-full-blank-php #footer, body.page-template-page-full-blank-php #edublogs {
	display: none;
}

/**** Header *****/
#header {
	margin: 0 auto;
	width: 960px;
}
#header h3 {
	font-size: 2.4em;
	color: #666;
	margin: 0;
}

#header h1 a {
	background: url("http://blogs.cornell.edu/workday/files/2012/10/workday_logo-27oc5ff.gif") no-repeat 0 0;
	height: 75px;
	padding: 0;
	width: 230px;
	float: left;	
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}
#header h1 {
	margin: 0;
	padding: 0;
}

#header .header-meta {
	position: absolute;
	width: 230px;
	margin-top: 7px;
}

#header h2 {
	width: 230px;
	float: left;
	font-size: 1.1em;
	color: #f4a02e;
	margin: 0;
	font-weight: normal;
	font-style: italic;
}

#header .header-meta h2.page-title a {
	font-style: normal;
	font-size: 1.5em;
	color: #898989;
}

#header .header-meta h2.page-title {
	padding: 0;
	margin: 20px 0 0 0;
}
#header .campaign-image {
	float: right;
	width: 960px;
}

#main-navigation {
	float: left;
	width: 100%;
	margin: 0;
	background-color: #a5a294;
}
#main-navigation ul {
	margin: 0 auto;
	padding: 0;
	width:960px;
	height: 30px;
	
}
#main-navigation li {
	float: left;
	background-image: none;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
	border-right:1px solid #929287;
}

#main-navigation li a {
	float: left;
	text-decoration: none;
	color: #fff;
	font-size: 1.0em;
	line-height: 30px;
	padding: 0 15px;
	border-left:1px solid #929287;
	text-align: center;
}

#main-navigation li a:hover, #main-navigation li.current-menu-item a, #main-navigation li.current-page-ancestor a {
	color: #fff;
	background-color: #929287;
}
/* Secondary Navigation */
#secondary .textwidget {
	line-height: 1.6em;
	margin: 0 20px;
}
#secondary .textwidget p.caption {
	font-size: 0.917em;
	color: #666;
	line-height: 1.4em;
	padding-top: 7px;
}
#secondary h3 {
	width: 225px;
	color: #3a4f70;
	font-size: 1.1em;
 	padding-left: 15px;
}
#secondary .widget_pages h3 {
	float: left;
	width: 215px;
	color: #3a4f70;
	font-size: 1.1em;
	display: block;
	margin: 25px 10px 15px 15px;
	padding:0;
}
#secondary .widget_pages ul {
	float: left;
	width: 240px;
	border-bottom:1px solid #f1eee5;
	margin-bottom: 50px;	
}

#secondary .widget_pages ul ul {
	margin-bottom: 0;	
}
#secondary .widget_pages li {
	float: left;
	width: 240px;
	border-top: 1px solid #f1eee5;
	background-image: none;
	padding: 0;
	margin: 0;
}

#secondary .widget_pages li a {
	float: left;
	display: block;
	width: 225px;
	font-weight: bold;
	line-height: 40px;
	padding-left: 15px;
	text-decoration: none;
}
#secondary .widget_pages li a:hover,
#secondary .widget_pages li.page_item.current_page_item, 
#secondary .widget_pages li.page_item.current_page_parent,
#secondary .widget_pages li.page_item.current_page_ancestor {
	background: #dfd8ca;
	color: #333;
}

/* hide main display only current */

#secondary .widget_pages ul li.page_item {display: none}

#secondary .widget_pages ul li.page_item.current_page_item,
#secondary .widget_pages ul li.page_item.current_page_ancestor,
#secondary .widget_pages ul li.page_item.current_page_item ul li.page_item,
#secondary .widget_pages ul li.page_item.current_page_ancestor ul li.page_item
{display: block}

#secondary .widget_pages li.page_item ul.children {
	width: 210px;
	border-bottom: none;
	padding-left: 30px;
	background: #fff;
	display: none;
}

#secondary .widget_pages li.page_item.current_page_item ul.children,
#secondary .widget_pages li.page_item.current_page_parent ul.children,
#secondary .widget_pages li.page_item.current_page_ancestor ul.children
 {
	display: block;
}

#secondary .widget_pages ul.children li {
	width: 210px;
	color: #666;
	border-top: none;
	padding: 0;
	margin: 0;
}
#secondary .widget_pages ul.children a {
	width: 210px;
	font-weight: normal;
	border-top: none;
	line-height: 30px;
	padding: 0;
	margin: 0;
}
#secondary .widget_pages ul.children li a:hover, 
#secondary .widget_pages ul.children li.page_item.current_page_item,
#secondary .widget_pages ul.children li.page_item.current_page_item a {
	background: none;
	color: #333;
}

/*third level of nav*/

#secondary .widget_pages ul.children li ul.children {
	width: 200px;
	padding-left: 10px;
}

#secondary .widget_pages ul.children li ul.children li {
	width: 200px;
}
#secondary .widget_pages ul.children li ul.children a, #secondary .widget_pages ul.children li.page_item.current_page_item ul.children li a  {
	width: 200px;
	color: #b31b1b;
}

#secondary .widget_pages li.page_item.current_page_ancestor ul.children li a {
	background: #fff;
}

#secondary .widget-container img {
	width: 100%;
}
 
/* Home page */

.home #main {
	position: relative;
}

.home #main div.page {
	width: 960px;
	top: 20px;
	left: 0;
}
/*#featured-posts */
#featured-posts {
	float: left;
	width: 100%;
	clear: both;
	margin: 25px 0;
}
#featured-posts .category-left {
	float: left;
	width: 480px;
}
#featured-posts .category-right {
	float: right;
	width: 480px;
}
#featured-posts .post img {
	float: left;
	margin: 0 20px 20px 0;
	display: block;
	background: #0F0;
	border-bottom: 1px solid #d7d6d1;
	border-right: 1px solid #d7d6d1;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
}

#featured-posts h3.entry-title a {
	float: left;
	font-size: 1.0em;
	color: #b31b1b;
	text-decoration:underline;
	padding-left: 10px;
	text-transform: none;
	background: url(../images/layout/arrows/right_red.gif) no-repeat left 6px;
	font-weight: normal;
	margin-bottom: 7px;
}
#featured-posts h3 {
	width: 440px;
	font-size: 1.1em;
	text-transform: uppercase;
	color: #333;
}

#featured-posts .category-right h3.entry-title {
	width: 200px;
	float: left;
	clear: none;
	margin:0 20px 0 0;
	padding: 0;
}
#featured-posts h3 a {
	color: #333;
	text-decoration: none;
}
#featured-posts h3.cat-name a {
	font-size: 1.5em;
	color: #b31b1b;
	text-decoration:underline;
	padding-left: 0;
	font-weight: normal;	
}
.post-nr-2 h3 {
	clear: both;
	}
/*dates */
#featured-posts .entry-date {
	display: block;
	float: left;
	width: 36px;
	margin-right: 15px;
	text-align: center;
	background: #E9E2D7;
	border: 1px solid #fff;
	font-size: 0.9em;
}

#featured-posts .entry-date .month {
	display: block;
	padding: 3px 2px 0 2px;
}

#featured-posts .entry-date .day, #featured-posts .entry-date .year {
	display: block;
	padding: 2px;
}

#featured-posts .entry-date .year {
	background: #B4540A;
	color: #fff;
}

#main .entry-date {
	display: block;
	float: left;
	width: 36px;
	margin-right: 15px;
	text-align: center;
	background: #E9E2D7;
	border: 1px solid #fff;
	font-size: 0.9em;
}

#main .entry-date .month {
	display: block;
	padding: 3px 2px 0 2px;
}

#main .entry-date .day, #main .entry-date .year {
	display: block;
	padding: 2px;
}

#main .entry-date .year {
	background: #b31b1b;
	color: #fff;
}
/* widget */
#extra .widget-container {
	margin-bottom: 20px;	
	width: 305px;
	float: left;
	/*margin-right: 25px;*/
	margin-right: 15px;
}
#extra .widget-container p {
	line-height: 1.6em;
}
#extra .widget-container h3 {
	font-size: 1.1em;
	color: #fff;
	padding: 7px 10px;
	width: 285px;
	text-transform: uppercase;
	background-color: #a5a294;	
}

#secondary .widget-container.widget_text {
	margin-top: 20px;
}

#extra .widget-container.widget_text {
	width: 305px;
}
#extra .widget-container.widget_text h3 {	
	width: 285px;
}
#extra .widget-container h3.widget-title  a.rsswidget {
	color: #fff;
	padding: 7px 2px;
	width: 285px;
	text-transform: uppercase;
	background-color: #a5a294;	
}
#extra .widget-container h3.widget-title  a.rsswidget {
	text-decoration: none;
	}
#extra #rss-3.widget-container h3.widget-title  a.rsswidget img {
	position: relative;
	top: 2px;
	padding: 0;
	margin: 0;
	}
#extra .widget-container ul {
	margin-left: 0;
}

#extra .widget-container li {
	margin-bottom: 8px;
}

/* grid */
		
.columns {
	float: left;
	width: 100%;
	clear: both;
}
.col {
	float:left;
	display:inline;
	width:48%;
	margin-left:4%;
}
.three .col {
	width:30%;
	margin-left:5%;
}
.four .col {
	width:22%;
	margin-left:4%;
}
 .col.first {
	 margin-left: 0;
 }


/**** Footer *****/ 

#footer {
	float: left;
	clear: both;
	width: 100%;
	padding: 20px 0;
	font-size: 0.96em;
	border-top: 4px solid #fff;
}
#footer-content {
	width: 960px;
	margin: 0 auto;
}
#footer p {
	margin: 0;
}
#footer-left {
	float: left;
}
#footer-left .widget-container {
	float: left;
	margin-right: 35px;
}

#footer-left .widget-container img {
	margin-top: 5px;
}
#footer-right, #footer-right .widget-container {
	float: right;
	text-align: right;
	margin: 0;
}

#footer ul {
	float: left;
	display: block;
	margin: 0 0 10px 0;
}
#footer ul.meta {
	clear: both;
	float: right;
}

#footer li {
	padding: 0 13px 0 10px;
	margin: 0;
	float: left;
	font-size: 0.99em;
	background: transparent url(../images/layout/icon_footer_listdiv.gif) 100% 0.5em no-repeat;
}
#footer .first {
	padding-left: 0;
}
#footer .last {
	background: none;
	padding-right: 0;
}

#edublogs {
	float: left;
	clear: both;
	width: 100%;
	padding: 10px 0;
	font-size: 0.90em;
	color: #ccc;
	text-align: center;
}

#edublogs a{
	color: #ccc;
}

/**** Misc *****/

#skipnav, #header h1 strong {
	position: absolute;
	top: -1000em;
	left: -1000em;
	}
	
hr {
	display: none;
}

.inline-note {
	font-size: 0.833em;
	background: #f7f7f6 url(../images/layout/pencil.gif) left 2px no-repeat;
	color: #8c6522;
	border: 1px solid #f7f7f6;
	padding: 0px 4px 0px 15px;
}

/* Project CSS ************************************* */

/* Project-specific styles would appear below, with this space used for notes.
   A few useful goodies are already below to help get started...
   */

#search-form {
	top: 8px; 
	width: 330px;
}

#search-form label {
	color: #fff; 
}
#search-form-query {
	font-size: 1em;
}
#search-form-submit {
	padding: 0 2px 3px 2px;
	font-size: 1.1em;
}

#search-filters .filter {
	float: left;
	padding-top: 5px;
}

.widget-container {
	margin-bottom: 20px;
}

.widget-container ul {
	margin-left: 0;
}

.widget-container li {
	margin-bottom: 8px;
}

h3.entry-title {
	color: #3a4f70;
	font-weight: normal;
	font-size: 1.8em;
}
h2.page-title {
	/*background: url(../images/layout/section_default.jpg) no-repeat;*/
	color: #315087;
	font-weight: normal;
	font-size: 1.8em;
}
h2.page-title a {
	color: #3a4f70;
	text-decoration: none;
	font-weight: normal;

}
.search-results h2.page-title, .archive h2.page-title {
	background-image: none;
	height: auto;
	padding: 2px 0;
}
.search-results p, .archive p {
	border-bottom: solid 1px #d7d6d1;
	padding-bottom: 20px;
}
span.edit-link {
	clear: both;
	width: 100%;
	display: block;
}

/* featured 3d */

#featured .meta {
	float: right;
	width: 210px;
}

.home #featured .image-meta {
	float: left;
	margin: 0 0 15px 0;
	padding: 5px;
	background: url(../images/layout/featured_bg.png);
}

#featured img {
	width: 100%;
	margin-bottom: 10px;
}

.home #featured img {
	border: 1px solid #94A7C5;
	margin-bottom: 0;
	width: 347px;
}

.home #featured h2 {
	color: #A8440D;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 2.6em;
	margin-bottom: 10px;
}

.home #featured a {
	color: #fff;
}

.home #featured a:hover {
	color: #A8440D;
}

#featured ul {
	margin: 0;
	padding: 0;
}

#featured li {
	background: url(../images/layout/bullet_secondary.gif) no-repeat 0 2px;
	padding: 0 0 2px 20px;
	font-weight: bold;
	line-height: 1.2em;
}

.home #featured li {
	background: url(../images/layout/bullet_home.gif) no-repeat 0 2px;
	padding: 0 0 4px 25px;
	line-height: 1.8em;
}

.textwidget p {
	line-height: 1.8em;
}
/*  image gallery pages */

.gallery-listing {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	clear: both;
}

.gallery-listing li {
	margin: 0 0 15px 0;
	padding: 0;
	background-image: none;
	float: left;
	width: 100%;
}

.gallery-listing.two-column li {
	width: 50%;
	margin: 0 0 12px 0;
	font-style: italic;
	color: #333;
}

ul.gallery-listing li a {
	text-decoration: none;
}

.gallery-listing img {
	width: 300px;
	height: 168px;
	float: left;
	margin: 0 15px 0 0;
}

span.see-all-category-posts {
	float: left;
	clear: left;
	text-transform: lowercase;
	background: url(../images/layout/arrows/right_red.gif) no-repeat 100% 9px;
	padding-right: 8px;
}

span.see-all-category-posts a {
	padding-left: 10px;
}

.printfriendly {
	margin: 0;
}
.printfriendly a {
	text-decoration: none;
}
.printfriendly a:hover {
	cursor: pointer;
}
.printfriendly .printfriendly-text {
	margin-left: 3px;
	color: #b31b1b;
}
.printfriendly a img {
	border:none; 
	padding:0;
	float: left;
	clear: left;
	margin: 0;
}
.home .printfriendly a img {
	display: none;
	}
p.see-all-category {
	float: left;
	clear: left;
	margin-top: 20px;
}

/* custom css additions 112712 */

/* hide main display only current */
#secondary .widget_pages ul li.page_item {display: none}

#secondary .widget_pages ul li.page_item.current_page_item,
#secondary .widget_pages ul li.page_item.current_page_ancestor,
#secondary .widget_pages ul li.page_item.current_page_item ul li.page_item,
#secondary .widget_pages ul li.page_item.current_page_ancestor ul li.page_item
{display: block}

.category-right h3 {
  clear: both;
}

#frm_field_88_container .frm_primary_label, #frm_field_82_container .frm_primary_label, 
  #frm_field_84_container .frm_primary_label, #frm_field_85_container .frm_primary_label{
  width: 150px;
}

#frm_field_88_container input, #frm_field_82_container input, 
  #frm_field_84_container input, #frm_field_85_container textarea{
  width: 400px;
}

.children .children {
  height: 0px;
  visibility: hidden;
}

.children .page_item {
  text-indent: -10px;
}

.children .children .page_item {
  text-indent: -10px;
}

.page-id-101 #secondary .widget_pages ul li.page_item.page-item-93 {
  display: block;
  height: 0px;
  visibility: hidden;
}

.page-id-101 #secondary .widget_pages ul li.page_item.page-item-93 ul.children {
  display: block;
  visibility: visible;
}

.page-id-101 #secondary .widget_pages ul li.page_item.page-item-93 ul li.page_item.page-item-464 {
  display: block;
}

.note.blurb {
  float: right;
  width: 330px;
  margin-bottom: 20px;
}

div.note { background: #fff; Padding: 10px; border: 1px solid #D7D6D1; padding-bottom: 0px;}
