/****************************************
 * IWS
 * Mobile CSS Rules
 * These are based on the CSS framework as of 9/2011
 ****************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	vertical-align: baseline;
	background-image: transparent;
}

/****************************************
 * General Formatting
 ****************************************/
body {
	margin: 0;
	padding: 1%;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #333;
	background: #f1f1f1;
	width: 98%
}
/****************************************
 * Cornell Identity
 ****************************************/
/*	Search Form */

#cu-identity {
	background: #fff;
}

#search-form {
	background: #fff;
	padding-bottom: 10px;
	font-size: 80%;
}
/****************************************
 * Text Styles
 ****************************************/
 
h2 {
	margin: 0 0 12px 0;
	color: #386684;
	font-weight: normal;
}
h3, .CS_Textblock_Caption {
	margin: 0;
	font-size: 120%;
	font-weight: bold;
	text-transform: uppercase;
	clear: both;
}
h4 {
	font-weight: bold;
}
#main h3, #main .CS_Textblock_Caption {
	text-transform: uppercase;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #4679b4;
	font-weight: bold;
}
#main h2, .home #main .CS_Textblock_Caption {
	text-transform: uppercase;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #4679b4;
	font-weight: normal;
}
#main h4 {
	text-transform: uppercase;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #4679b4;
}
#secondary h3, #secondary .CS_Textblock_Caption {
	text-transform: uppercase;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color: #4679b4;
	margin-bottom: 4px;
	font-weight: bold;
}
/* 
	Text
	-------------------------
*/

p {
	margin: 0 0 15px 0;
}
blockquote, pre {
	margin: 0 30px;
}
strong {
	font-weight: bold;
}
em {
	font-style: italic;
}
pre, code {
	font-family: mono-space, monospace;
}
abbr, acronym {
	text-transform:uppercase;
	border-bottom: 1px dotted #000;
	letter-spacing: 1px;
}
abbr[title], acronym[title] {
	cursor:help;
}
sup, sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	vertical-align: bottom;
	position: relative;
	font-size: 75%;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
em, cite {
	font-style:italic;
}
.clear {
	clear: both;
	width: 100%;
}
p.note {
	padding: 10px;
	border: 1px solid #ccc;
}
span.more, a.more {
	padding-right: 8px;
	background: transparent url(../images/layout/arrows/right_red.gif) no-repeat 100% 80%;
}
.text-highlight-red {
	background: #f0beb6;
}
.text-highlight-yellow {
	background: #f0ee9f;
}
.text-highlight-green {
	background: #c5ee9f;
}
/* 
	Links 
	-------------------------
*/

a {
	color: #b31b1b;
}
a:visited {
	color: #b37474;
}
a:hover {
	color: #f00;
}
a:active {
	color: #e5cfcf;
}
/**** Lists ****/

ol, ul {
	list-style: none;
}
ul {
	margin-left: 0;
	margin-bottom: 15px;
	padding-left: 0;
}
ul li {
	padding-left: 18px;
	background: url(../images/layout/bullet_square.gif) no-repeat left 7px;
}
ul.disc li {
	background: url(../images/layout/bullet_disc.gif) left 7px no-repeat;
}
ul.circle li {
	background: url(../images/layout/bullet_circle.gif) left 7px no-repeat;
}
ol {
	margin-left: 36px;
	margin-bottom: 15px;
}
ol li {
	padding-left: 0;
	list-style: decimal;
	background: none;
}
ol li ul li {
	list-style: none;
	padding-left: 18px;
	background: url(../images/layout/bullet_square.gif) no-repeat left 7px;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 4px;
}

table {
	background: #fff;
}

table td, table th {
	border-bottom: 1px solid #ccc;
	padding: 2px;
}
/* Table of Contents */
ul.toc {
	border-left: 4px solid #dbe3e9;
	margin-left: 1px;
	padding-left: 0px;/*font-size: 0.917em;*/ /* 11px */
}
ul.toc li {
	background: none;
	padding-left: 10px;
}
ul.toc ol li {
	padding-left: 0;
}
ul.toc a {
	padding-right: 8px;
	background: url(../images/layout/link_arrow_white.gif) right 0.35em no-repeat;
}
tr {
	padding: 3px;
}

/**** Footer *****/ 

#footer {
	float: left;
	clear: both;
	width: 100%;
	margin: 12px 0 12px 0;
	padding: 0;
}
#footer ul {
	float: left;
	margin: 0;
	padding: 0;
}
#footer-right {
	float: left;
	clear: both;
	width: 100%;
}
#footer li {
	margin: 2px;
	padding: 0;
	/*border-right: 1px solid #000;*/
	list-style: none;
	background-image: none;
	float: left;
}
.copyright {
	float: left;
	width: 100%;
	margin-top: 5px;
}
/* main nav */

#navigation {
	width: 100%;
	float: left;
	padding: 4px 0;
}
#navigation ul {
	padding: 0;
	margin:  0;
	width: 100%;
}
#navigation li {
	text-align: center;
	margin: 2px;
	padding: 0;
	float: left;
	background: #697c91;
}
#navigation li a {
	color: #fff;
	font-weight: normal;
	text-transform: uppercase;
	padding: 5px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-weight: bold;
	float: left;
	text-decoration: none;
}
#navigation li a:hover, #navigation li a:active, #navigation li a.current {
	color: #AADFFF;
}
#navigation li.first a, #navigation li:hover.first a, #navigation li.first a.curent {
	background-image: none;
}
#navigation #nav-public a, #navigation #nav-career a {
}
/* breadcrumb */

#breadcrumbs, #pager, #product-list, #outage-nav {
	float: left;
	width: 100%;
	margin: 0 0 10px 0;
}
#breadcrumbs li {
	float: left;
	padding: 0 12px 0 0;
	margin: 0 0 0 8px;
	background: transparent url(../images/layout/icon_arrow_darkgrey.gif) right 0.35em no-repeat;
}
#breadcrumbs li.first, #pager li.label {
	margin-left: 0;
}
/* secondary nav */

#secondary-navigation ul {
	clear: both;
	display: block;
	width: 100%;
	margin: 0 0 30px 0;
}

#secondary-navigation li {
	float: left;
	width: 100%;
	background-image: none;
	margin: 0 0 1px 0;
	padding: 0;
	background: #cccedb;
	font-size: 0.9em;
}
#secondary-navigation li a {
	font-weight: bold;
	text-transform: uppercase;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	padding: 4px 0 4px 4px;
	text-decoration: none;
}

li.alt {
	background: #fff;
}

/* ---------- */
/* secondary container and section nav */

.secondary-page #secondary {
	clear: left;
	/*width: 340px;*/
	margin: 0 0 20px 20px;
}
.secondary-page #section-navigation-wrap {
	/*width: 340px;*/
	clear: both;
	margin-bottom: 5px;
	padding: 0;
	margin: 5px 0 5px 5px;
}
#section-navigation-wrap .section-navigation-header {
	height: 45px;
	margin: 0;
	padding: 0 0 0 10px;
	color: #4C5C6F;
	text-transform: uppercase;
	font-weight: bold;
}
#section-navigation-wrap #section-navigation {
	padding: 0;
	margin: 0;
	/*width: 339px;*/
	height: auto !important;
}
#section-navigation-wrap #section-navigation li {
	margin: 0 1px;
	padding: 0;
	border-bottom: 1px solid #fff;
	background: none;
}
#section-navigation-wrap #section-navigation a, #section-navigation-wrap #section-navigation li.active {
	display: block;
	padding: 5px 5px;
	margin: 0;
	text-decoration: none;
	font-weight: bold;
}
#section-navigation-wrap #section-navigation li.first {
	background: #e4e3d3;
}
#section-navigation-wrap #section-navigation li.first span {
	padding-right: 14px;
}
#section-navigation-wrap #section-navigation li.first a, #secondary ul#section-navigation li.first {
	color: #4c79ad;
}
#section-navigation-wrap #section-navigation li.active a, #secondary ul#section-navigation li.active {
	color: #333;
}
#section-navigation-wrap #section-navigation a:active {
	color: #711111;
}
#secondary #section-navigation a:visited {
	color: #b31b1b;
}
#section-navigation-wrap #section-navigation a:hover {
	color: #f00;
}
/* -------- */
		
img {
	max-width: 100%;
	height: auto;
}

#navigation, #pagesfor, #identity {
	background: none;
}
ul.rss li a, li.rss a, a.rss, span.rss {
	background: none;
!important;
	padding: 2px 2px 2px 0;
}
hr, #header h1, #skipnav, #identity h2, #unit-signature-links, #secondary-navigation h2, span.blog-login, .admin {
	display: none!important;
}
#mobileswitch {
	padding-bottom: 20px;
	float: left;
	width: 100%;
}
#mobileswitch h3 {
	margin-bottom: 10px;
	font-size: 11px;
}
#mobileswitch li {
	font-weight: bold;
	padding: 5px;
	float: left;
	margin: 10px 5px 10px 0px;
	background: none;
	background-color: #697c91;
	border: 1px solid #355B82;
	text-decoration: none;
}
#mobileswitch a {
	text-decoration: none;
	text-transform: none;
	float: left;
	display: block;
	padding: 5px;
	background: #b31b1b;
	color: #fff;
	margin-right: 5px;
}

#mobileswitch a:hover {
	background: #5F0E0E;
}

/* Photo captions */

.CS_Image_Caption {
	margin: 0;
	padding: 10px 10px 0 10px;
	background: #E6EBEE;
	color: #666;
	min-height: 50px;
}
.CS_Element_Image {
	margin: 20px 0px 5px 25px;
	width: 211px;
}
