﻿/*-------------------------------------------*/
/* #MOBILE 320px (Portrait)*/
/*-------------------------------------------*/
@media only screen and (max-width: 480px) , screen and (max-device-width: 480px) {

/*--------------------------------------*/
/*COLUMNS*/
/*--------------------------------------*/
.container {   width: 280px }
.one-half {   width: 280px }
.one-third {   width: 280px }
.two-third {   width: 280px }
.one-fourth {   width: 280px }
.three-fourth {   width: 280px }
/*--------------------------------------*/
/*PRICING TABLE*/
/*--------------------------------------*/
.pricing-box-list-box .one-fourth {
   width: 280px!important;
   margin: 0 0 30px 0!important;
   box-shadow: none;
   -moz-box-shadow: none;
   webkit-box-shadow: none;
}
.one-fourth .pricing-table-list-box-content ul li {
   margin: 0 0 0 -25px;
   padding: 7px 0 7px 55px;
   list-style-type: none;
   text-align: left;
   width: 225px!important;
}
/*--------------------------------------*/
/*BLOG*/
/*--------------------------------------*/
.entry-meta {
   color: #878787;
   float: left!important;
   margin: 10px 0px 0 0!important;
   text-align: left!important;
   width: 280px!important;
}
 .entry-meta ul {   margin: 0 }
 .entry-meta li {
    list-style: none!important;
    margin: 0 10px 0 0!important;
    float: left!important;
 }
.entry-body {
   float: left;
   margin: 10px 0 0 0;
   width: 98%;
}
.single .entry-body {
   margin-top: -28px;
}
ul.tabs li {
	width: 45%;
}
.post-date {
   width: 280px!important;
   height: auto;
   float: left;
   text-align: center;
   margin-top: -20px;
   margin-bottom: 15px!important;
   display: block;
   background: #aad5e3;
   text-shadow: none;
   border-radius: 0!important;
   -moz-border-radius: 0!important;
   -webkit-border-radius: !important;
   padding: 5px 0px!important;
   -moz-box-shadow: none!important;
   -webkit-box-shadow: none!important;
   box-shadow: none!important;
   border: none!important;
}
/*--------------------------------------*/
/*BODY CSS (footer, container, navigation, copyrights ...)*/
/*--------------------------------------*/
#footer {
   width: 320px;
   padding: 30px 0px 0;
   margin-left: 0px;
   height: auto;
   float: left;
   background: #222222;
}
#copyrights {
   width: 320px;
   padding: 10px 0px 10px 0px;
   margin-left: 0px;
   float: left;
   background: #111;
}
.center-page {
   height: auto;
   width: 320px;
   margin: 0 auto;
   padding: 0px;
}
#page {
   float: none;
   height: auto;
   width: 320px;
   background: #FFF;
   -webkit-box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.20);
   -moz-box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.20);
   box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.20);
   padding: 0 0px;
   text-align: left;
   margin:0 auto;
}
#call-to-action-panel {
   height: auto;
   padding: 45px 0px 25px 0px;
   width: 320px;
   float: left;
   margin-left: 0px;
   background: #f0ede4;
   border-top: 1pt solid #d8d5cd;
   text-align: center;
}
#pre-header {
   background: #aad5e3;
   float: left;
   width: 280px;
   padding: 0 20px;
   margin-left: -20px;
   border-bottom: 1pt solid #d8d5cd;
   height: 59px;
   margin-bottom: 30px;
}
#footer-form input[type="text"],
#footer-form input[type="password"],
#footer-form input[type="email"],
#footer-form textarea,
#footer-form select {   width: 152px }
#call-to-action-panel h1 {
   font-size: 28px;
   line-height: 28px;
}
#responsive-social-menu {
   display: block;
   width: 100&;
   float: left;
   height: 28px;
   margin-top: 15px;
   padding: 5px;
}
#responsive-main-nav-menu {
   display: block;
   width: 100%;
   float: none;
   height: auto;
   margin-top: 0px;
}
#navigation-wrapper {float:none;}
#main-navigation ul {   display: none }
#logo-wrapper {
   margin: 0 auto 20px auto;
   width: auto;
   height: auto;
   float:none;
   text-align:center;
}
#social-icons ul {   display: none }
ul#pre-header-links li a {
   color: #FFF;
   padding: 10px 0px 15px 0px;
   font-size: 11px;
}
h3 {
   font-size: 21px;
   line-height: 22px;
}
.flex-caption {   display: none }
img.intro-img {
   max-width: 320px!important;
   max-height: 100%;
   margin-bottom: 30px;
   border-bottom: 1pt solid #d8d5cd;
}
.button-holder-2 {
   float: none!important;
   margin: 0 auto 20px auto!important;
   width: 150px;
}
.inner-page-intro h2 {   text-align: center }

.button.huge {
   padding: 10px 20px;
   font-size: 14px;
   color: #FFF!important;
   font-weight: bold;
}


ul#projects-carousel li {   width: 280px }
 ul#projects-carousel li .item-content {   width: 280px }
.flex-caption h2 {
   color: #aad5e3;
   font-size: 23px;
   text-shadow: none;
}
.view-portfolio-button {
   padding: 10px 20px;
   font-size: 12px;
}

#call-to-action-panel .button-align-right {
   width: 170px;
   margin-left: 30%;
   float: left;
}
#footer-form input[type="text"],
#footer-form input[type="password"],
#footer-form input[type="email"],
#footer-form textarea,
#footer-form select {   width: 260px }
#footer .one-half,
#footer  .one-third,
#footer  .two-third,
#footer .one-fourth,
#footer  .three-fourth {
   border-bottom: 1pt solid #181818;
   border-top: 1pt solid #333;
   margin-bottom: 0px;
   padding-bottom: 15px;
   padding-top: 15px;
}
#footer .one-fourth.last {   border-bottom: none!important }
#footer .one-fourth.first {
   border-top: none!important;
   padding-top: 0px;
}
#copyrights p,
#copyrights span {
   font-size: 12px;
   text-align: center;
}
#copyrights .right {   float: none }
#header {   height: auto }
/*--------------------------------------*/
/*PORTFOLIO*/
/*--------------------------------------*/
ul#portfolio-items-one-fourth {
   overflow: hidden;
   position: relative;
   list-style: none;
   margin: 0;
   padding: 0px 0 0 0;
}
 ul#portfolio-items-one-fourth li {
    width: 280px;
    min-height: auto;
    height: auto;
 }
  ul#portfolio-items-one-fourth li .portfolio-item {
     float: left;
     background: #f8f9f9;
     width: 280px;
     height: auto;
     padding: 0;
  }
  ul#portfolio-items-one-fourth li  .item-content {
     background: #615951;
     float: left;
     width: 280px;
     text-align: center;
     padding: 0px 0 15px 0;
     height: auto;
  }
#portfolio-items-one-fourth .description {   padding-top: 15px }
ul#portfolio-items-one-fourth li .item-content:hover {   background: #aad5e3 }
ul#portfolio-items-one-fourth li .item-content p {
   margin: 0;
   padding: 0;
   font-weight: 800;
   color: #FFF;
}
 ul#portfolio-items-one-fourth li .item-content p a {
    margin: 0;
    padding: 0;
    font-weight: 800;
    color: #FFF;
 }
ul#portfolio-items-one-fourth li  .item-content span {
   font-style: italic;
   color: #FFF;
}
ul#portfolio-items-one-fourth li   img {
   width: 100%;
   height: auto;
   padding: 0;
   margin: 0;
}
ul#portfolio-items-one-third {
   overflow: hidden;
   position: relative;
   list-style: none;
   margin: 0 !important;
   padding: 0px 0 0 0;
}
 ul#portfolio-items-one-third li {
    width: 280px;
    min-height: 295px!important;
    margin: 0 20px 20px 0!important;
 }
  ul#portfolio-items-one-third li .portfolio-item {
     float: left;
     background: #f8f9f9;
     width: 280px;
     height: auto;
     padding: 0!important;
  }
  ul#portfolio-items-one-third li .item-content {
     background: #615951;
     float: left;
     width: 280px;
     text-align: center;
     padding: 0px 0 15px 0;
     height: auto;
  }
#portfolio-items-one-third  .description {   padding-top: 15px }
ul#portfolio-items-one-third li .item-content:hover {   background: #aad5e3 }
ul#portfolio-items-one-third li .item-content p {
   margin: 0;
   padding: 0;
   font-weight: 800;
   color: #FFF;
}
 ul#portfolio-items-one-third li .item-content p a {
    margin: 0;
    padding: 0;
    font-weight: 800;
    color: #FFF;
 }
ul#portfolio-items-one-third li .item-content span {
   font-style: italic;
   color: #FFF;
}
ul#portfolio-items-one-third li  img {
   width: 100%;
   height: auto;
   padding: 0;
   margin: 0;
}
.portfolio-items {
   width: 280px;
   margin: 0;
}
.portfolio-items:after {
   content: "";
   display: block;
   height: 0;
   overflow: hidden;
   clear: both;
}
.portfolio-items-not-filterable li {
   width: 190px;
   margin: 0 20px 0px 0!important;
   float: left;
   min-height: 350px!important;
   overflow: hidden;
}
.portfolio-items-not-filterable {
   width: 280px;
   margin: 0;
}
.portfolio-items-not-filterable:after {
   content: "";
   display: block;
   height: 0;
   overflow: hidden;
   clear: both;
}
.portfolio-items-not-filterable li {
   width: 280px!important;
   margin: 0 20px 0px 0!important;
   float: left;
   height: 295px!important;
   overflow: hidden;
}
.project-pagination {
   margin-left: 10%;
   float: left;
   text-align: center;
}
 .project-pagination a {
    font-family: "Georgia",Arial,Verdana;
    font-size: 14px;
    color: #d7d7d7;
    font-style: italic;
    margin: 0px 0px 0 0;
 }
#filterable {
   display: inline;
   float: left;
   margin-bottom: 20px;
   margin-right: 0px;
}
 #filterable li {
    float: left;
    margin-left: 15px;
 }
#filterable {
   display: inline;
   float: left;
   margin-bottom: 20px;
   margin-right: 0px;
}
 #filterable li {
    float: left;
    margin-left: 15px;
 }
 /*--------------------------------------*/
/*OTHER FEATURES (google maps, intro inner page, contact forms...)*/
/*--------------------------------------*/
#contact-map {
   margin: 0px 0 30px -20px;
   position: relative;
   width: 320px;
}
#contact-form .error {   margin: 15px 0 0 0 }
#contact-form form {   margin-bottom: 0px }
#contact-form  fieldset {   margin-bottom: 0px }
#contact-form  label,
#contact-form  legend,
#contact-form  strong,
#contact-form  span {
   font-weight: bold;
   font-size: 13px;
   color: #898989;
}
#contact-form input[type="checkbox"] {   display: inline }
#contact-form label span,
#contact-form legend span {
   font-weight: normal;
   font-size: 13px;
   color: #444;
   line-height: 34px;
}
#contact-form input[type="text"],
#contact-form input[type="password"],
#contact-form  input[type="email"],
#contact-form textarea,
#contact-form select {
   border: 1px solid #dddddd;
   padding: 5px 10px;
   outline: none;
   overflow: hidden;
   font: 12px "Helvetica", Arial, sans-serif;
   color: #777;
   box-shadow: inset 0px 2px 4px #f3f3f3;
   -moz-box-shadow: inset 0px 2px 4px #f3f3f3;
   -webkit-box-shadow: inset 0px 2px 4px #f3f3f3;
   width: 260px;
   max-width: 100%;
   display: block;
   margin-bottom: 0px;
   background: #FFF;
   border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
}
#contact-form select {   padding: 0 }
#contact-form  textarea {
   width: 260px;
   height: 200px;
   resize: vertical;
   margin-bottom: 10px;
}
#contact-form input[type="text"]:focus,
#contact-form input[type="password"]:focus,
#contact-form  input[type="email"]:focus,
#contact-form  textarea:focus {
   border: 1px solid #bbbbbb;
   color: #555;
   box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
   -moz-box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
   -webkit-box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
}
.portfolio-container {
   width: 280px;
   margin-right: 0px;
   float: left;
}

.inner-page-intro h2 {
   font-size: 21px;
   line-height: 24px;
}
.inner-page-intro h1 {
   font-size: 24px;
   line-height: 25px;
   text-align: center;
}
.not-found-text {
   text-align: center;
   font-size: 64px;
}
ul.center-list li a {
   text-align: center;
   padding: 5px 2px;
}

.flexslider.loading {min-height: 155px}

.resize,
.resize img {
	float: none!important;
}

.resize { 
	text-align: center;
}


}