﻿  
/*-------------------------------------------*/
/* #Tablet (Portrait)*/
/*-------------------------------------------*/
@media only screen and (min-width: 768px) and (max-width: 959px) {

/*--------------------------------------*/
/*COLUMNS*/
/*--------------------------------------*/
.container { width: 708px; }
.one-half { width: 324px; }
.one-third { width: 222px; }
.two-third { width: 464px; }
.one-fourth { width: 162px; }	
.three-fourth { width: 526px; }
.one-half,.one-third,.two-third,.one-fourth,.three-fourth,.one-column {float: left;margin-right: 20px;margin-bottom: 20px;}
.one-half.last,.one-third.last,.two-third.last,.one-fourth.last,.three-fourth.last {  margin-right: 0px }
/*--------------------------------------*/
/*MAIN NAVIGATION*/
/*--------------------------------------*/
#main-navigation {
	width:500px;
}
#main-navigation ul li {
	margin:0 0 0 10px;
}
#main-navigation li a {
	color: #898989;
	font-family: 'Dosis', 'Verdana', sans-serif;
	font-size: 16px;
	font-weight:normal;
	display: block;
	padding: 47px 7px 50px 7px;
	margin:0px 0px 10px 0;
	position: relative;
	text-align: center;
	text-transform:uppercase;			 
}
/*--------------------------------------*/
/*BODY LAYOUT*/
/*--------------------------------------*/
#page {
	height:auto;
	width:748px;
	background:#FFF;
	-webkit-box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.20);
	-moz-box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.20); 
	box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.20);
	padding:0px;
	margin:20px auto 0;
	float:none;
}
#footer{
	width:auto;
	padding:30px 0px 0;
	margin:0px;
	height:auto;
	background:#222222;	
}
#copyrights{
	width:auto;
	padding:10px 0px 10px 0px;
	margin-left:0px;
	float:none;
	background:#111;	
}	
.center-page{
	height: auto;
	width: auto;
	margin:0 auto;
	padding: 0px;
	}	
#call-to-action-panel{
	height:90px;
	padding:45px 0px 25px 0px;
	width:auto;
	margin-left:0px;
	 
}
#pre-header{ 
	float:left;
	width:708px;
	padding:0 20px;
	margin-left:-20px;
	height:50px;
	margin-bottom:30px;
}

#responsive-main-nav-menu {
   display: block;
   width: 100%;
   float: right;
   height: auto;
   margin-top: 0px;
}
#main-navigation { display: none; }
#navigation-wrapper #main-navigation ul {   display: none }

#footer-form input[type="text"],
#footer-form input[type="password"],
#footer-form input[type="email"],
#footer-form textarea,
#footer-form select {
	width: 152px;
}
 #call-to-action-panel h1{
	font-size:28px;
	line-height:28px;}
 

/*--------------------------------------*/
/*PRICING TABLE*/
/*--------------------------------------*/
.pricing-box-list-box .one-fourth {
	width:187px!important;
	margin:0px!important;
	box-shadow:none;
	-moz-box-shadow:none;
	webkit-box-shadow:none;
}
.one-fourth .pricing-table-list-box-content ul li {
	margin:0 0 0 -25px;
	padding:7px 0 7px 55px;
	list-style-type:none;
	text-align:left;
	width:132px!important;
}
/*--------------------------------------*/
/*INTRO PAGE IMG */
/*--------------------------------------*/
img.intro-img {max-width:748px!important;max-height:100%;margin-bottom:30px;border-bottom:1pt solid #d8d5cd;}
/*--------------------------------------*/
/*BLOG LAYOUT */
/*--------------------------------------*/
.entry-body {
   float: none;
   margin: 10px 0 0 0;
   width: 98%;
}
.single .entry-body {
   margin-top: -28px;
}
 /*--------------------------------------*/
/*BUTTON HUGE RESIZE */
/*--------------------------------------*/
.button.huge {
	padding:10px 20px;
	font-size: 16px;
	color:#FFF!important;
	font-weight:bold;
}
/*--------------------------------------*/
/*HOMEPAGE PORTFOLIO CAROUSEL*/	
/*--------------------------------------*/
 ul#projects-carousel li {  width:158px; }
ul#projects-carousel li .item-content{  width:158px; }
/*--------------------------------------*/
/*OTHER STUFF*/
/*--------------------------------------*/
.flex-caption h2{ color:#9dcedf;font-size:23px;text-shadow:none;}
.view-portfolio-button{padding:10px 20px;font-size:12px;}
/*--------------------------------------*/
/*PORTFOLIO LAYOUTS*/
/*--------------------------------------*/
.portfolio-container{width:728px;margin-right:-20px;float:left;} 
 ul#portfolio-items-one-fourth {overflow: hidden;position: relative;list-style: none;margin: 0;padding: 0px 0 0 0 ;	}
ul#portfolio-items-one-fourth li {  width:162px;min-height:300px; height:300px !important;}
ul#portfolio-items-one-fourth li .portfolio-item{ float:left; background:#f8f9f9;width:162px;height:auto;padding:0;}
ul#portfolio-items-one-fourth li  .item-content{background:#615951;float:left;width:162px;text-align:center;padding:0px 0 15px 0;height:auto; }
#portfolio-items-one-fourth .description{padding-top:15px; }
ul#portfolio-items-one-fourth li .item-content:hover{ background:#9dcedf;}
ul#portfolio-items-one-fourth li .item-content p{margin:0;padding:0;font-weight:800;color:#FFF;} 
ul#portfolio-items-one-fourth li .item-content p a{margin:0;padding:0;font-weight:800;color:#FFF;} 
ul#portfolio-items-one-fourth li  .item-content span{font-style:italic;color:#FFF;} 
ul#portfolio-items-one-fourth li   img{ width:100%;height:auto;padding:0;margin:0; }

ul#portfolio-items-one-third {overflow: hidden;position: relative;list-style: none;margin: 0!important;padding: 0px 0 0 0 ;}
ul#portfolio-items-one-third li {  width:236px;height:207px!important;}
ul#portfolio-items-one-third li .portfolio-item{ float:left; background:#f8f9f9;width:236px;height:auto;padding:0!important;}
ul#portfolio-items-one-third li .item-content{background:#615951;float:left;width:236px;text-align:center;padding:0px 0 15px 0;height:auto; }
#portfolio-items-one-third  .description{padding-top:15px; }
ul#portfolio-items-one-third li .item-content:hover{ background:#9dcedf;}
ul#portfolio-items-one-third li .item-content p{margin:0;padding:0;font-weight:800;color:#FFF;} 
ul#portfolio-items-one-third li .item-content p a{margin:0;padding:0;font-weight:800;color:#FFF;} 
ul#portfolio-items-one-third li .item-content span{font-style:italic;color:#FFF;} 
ul#portfolio-items-one-third li  img{ width:100%;height:auto;padding:0;margin:0; }
.portfolio-items {
  width: 768px;
  margin: 0;
}
.portfolio-items:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.portfolio-items li {
  width: 162px!important;
  margin: 0 20px 0px 0!important;
  float: left;
  height: 210px!important;
  overflow: hidden;
}
 
 .portfolio-items-not-filterable {
  width: 768px;
  margin: 0;
  
}
.portfolio-items-not-filterable:after {
  content: "";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.portfolio-items-not-filterable li {
  width: 236px!important;
  margin: 0 20px 0px 0!important;
  float: left;
  height: 260px!important;
  overflow: hidden;
}


.project-pagination{margin-left:-20px;}
.project-pagination a {
	font-family:"Georgia",Arial,Verdana;
	font-size:11px;
	color:#d7d7d7;
	font-style:italic;
	margin:0px 0px 0 0;
}
#filterable  {
	display: inline;
	float: right;
	margin-bottom: 20px;
	margin-right:0px;
}
#filterable li {
	float: left;
	margin-left: 15px;	
}
.inner-page-intro h2 {
	font-size:21px;
	line-height:24px;
}

#contact-map {
   margin: 0px 0 30px -20px;
   position: relative;
   width: 748px;
}


#contact-form .error {   margin: 15px 0 0 0 }
#contact-form form {   margin-bottom: 0px }
#contact-form  fieldset {   margin-bottom: 0px }
#contact-form  label,
#contact-form  legend,
#contact-form  strong,
#contact-form  span {
   font-weight: bold;
   font-size: 13px;
   color: #898989;
}
#contact-form input[type="checkbox"] {   display: inline }
#contact-form label span,
#contact-form legend span {
   font-weight: normal;
   font-size: 13px;
   color: #444;
   line-height: 34px;
}
#contact-form input[type="text"],
#contact-form input[type="password"],
#contact-form  input[type="email"],
#contact-form textarea,
#contact-form select {
   border: 1px solid #dddddd;
   padding: 5px 10px;
   outline: none;
   overflow: hidden;
   font: 12px "Helvetica", Arial, sans-serif;
   color: #777;
   box-shadow: inset 0px 2px 4px #f3f3f3;
   -moz-box-shadow: inset 0px 2px 4px #f3f3f3;
   -webkit-box-shadow: inset 0px 2px 4px #f3f3f3;
   width: 216px;
   max-width: 100%;
   display: block;
   margin-bottom: 10px;
   background: #FFF;
   border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
}
#contact-form select {   padding: 0 }
#contact-form  textarea {
   width: 472px;
   height: 200px;
   resize: vertical;
}
#contact-form input[type="text"]:focus,
#contact-form input[type="password"]:focus,
#contact-form  input[type="email"]:focus,
#contact-form  textarea:focus {
   border: 1px solid #bbbbbb;
   color: #555;
   box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
   -moz-box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
   -webkit-box-shadow: 0px 0px 5px #CCC,inset 0px 2px 4px #f3f3f3;
}


.flexslider.loading {min-height: 330px}


}