/* 
Theme Name: GreenFlower
Description: WP Theme <a href="http://wpthemes.info/green-flower/" title="WordPress Theme GreenFlower" target="_blank">GreenFlower</a> by Sadish
Version: 2.0
Author: Sadish Bala
Author URI: http://wpthemepark.com
*/
/* Header Image from http://www.sxc.hu/browse.phtml?f=view&id=635700 */

body {
	margin:0;
	padding:0;	
	font-size:10px;
	font-size:small;
	font-family:Verdana, "Trebuchet MS", Arial, Sans-serif;	
	background:#18202d;
	font-size:76%;
}

/***************   COMMON ELEMENTS                      
############################################*/

abbr {
	cursor:help;
}	
blockquote 
{
    margin:1em;
    padding-left:10px;
    border-left:#666 2px solid;    
}
a 
{
	text-decoration:none;
	border-bottom:1px dashed;
}
a:link,a:visited {
	color:#666633;
}
a:hover, a:active {
	color:#365753;	
	border-bottom:1px solid;
}	

p {
	line-height:1.8em;
	margin-bottom:0.5em;
}	

ul {
	list-style:none;
	margin:0;
	padding:0;
}

li 
{
	margin:5px 0;
	padding:0;
}	
ul li 
{
	padding:0 0 5px 15px;
	list-style:none;
	background:url(img/parl_bullet.png) no-repeat top left;
}
h1,h2,h3,h4,h5,h6 
{
	font-family:Arial, Georgia, Verdana, Serif;	
}
h1 {
	font-size:180%;
	font-weight:normal;
	margin-bottom:0;
	color:#4E5C7D;
}	
h2,h3 {
	font-size:1.5em;	
	color:#333300;
	margin:0.5em 0;
	padding:0.25em 0;
	font-weight:normal;	
}
h1 {font-size:1.8em;}
h2 {font-size:1.6em;}
h3 {font-size:1.4em;}
h4 {font-size:1.3em;}
h5 {font-size:1.2em;}
h6 {font-size:1.1em;}
img.left
{
float: left;
margin: 0 14px 3px 0;
}
img.right
{
float: right;
margin: 0 14px 3px 0;
}
fieldset 
{
	border:#ccc 1px solid;
	padding:10px;
}
fieldset legend
{
	padding:0 2px;
	color:#999;
}

dl { margin:1em 0px;}
dt { font-weight:bold;}
dd 
{
	margin:0.5em 1em;
	padding:0;
}
pre, code
{
	display:block;
	margin:1em;
	padding:1em;
	font-family:"Courier New", Arial, Verdana, Serif;
	font-size:1em;
}
abbr, acronym { cursor:help;}
hr
{
	clear:both;
	margin-top:5px;
	color:#eee;
}
table
{
	width:100%;
	border:#eee 1px solid;
	padding:5px;
}
th
{
	text-align:left;
	background:#dcb;
	padding:5px;
}
tr.even { background:#fcf9f6;}
td { padding:5px;}
#container {
	background:#fff url(img/bg.png) repeat-y left;
	margin:20px auto;
	width:780px;	
}

#header {
	margin:0 auto;
	height:160px;
	background:#668029 url(img/header.jpg) no-repeat center;	
	color:#000;
	position:relative;	
}

#header h1{
	font-size:200%;
	font-weight:normal;
	font-family:"Century Gothic", sans-serif;
	letter-spacing:0.1ex;	
	background:none;	
	margin:0;
	padding:30px 10px;	
}
#header h1 a 
{
	color:#d0f0d0;
	border-bottom:none;
}
#header h1 a:hover, #header h1 a:active
{
	color:#f0f0f0;
	border-bottom:none;
}

#content {
	float:right;
	width:560px;
	margin:0;
	padding:0 10px 20px 10px;	
}
#intro 
{
	background:#f6fcf6;	
	margin:0.5em;
	padding:0.5em;
	border: solid 1px #e1d2bd;		
}
#intro .profile 
{
	border:#e1d2bd 1px solid;
	margin:0 0.5em 0 0;
	padding:3px;
}
#intro em.feed
{
	background:url(img/icon_feed.gif) no-repeat left center;
	padding:2px 0 2px 16px;
	font-style:normal;
}

.page-title 
{
	margin:0.5em;
    padding:0.5em;	
}
.post 
{
    margin:0.5em 0.5em 3em 0.5em;
    padding:0.5em;
}
ul#posts li em
{
	font-style:normal;
	float:right;
	font-weight:normal;
}
.post-title 
{
	font-size:160%;	
    border:none;
    margin:5px 0 0.5em 0;
    padding:0;
}
.post-title a:link, .post-title a:visited 
{
    color:#333300;
    border-bottom:none;
}
.post-title a:hover, .post-title a:active 
{
    color:#666633;
    border-bottom:none;
}
.post-date 
{
    margin:0;
    padding:0;
    color:#999;    
    font-size:0.9em;
}
.post-info 
{
    color:#999;
    margin:0;
    padding:3px 0;    
    border-top:#ccc 1px solid;
    clear:both;
    font-size:0.9em;    
}
.post-info em 
{
    color:#666;
    font-style:normal;
}
.post-info em.user
{
	background:url(img/user.png) no-repeat left center;
	padding:2px 0 2px 12px;
}
.post-info em.cat
{
	background:url(img/star.png) no-repeat left center;
	padding:2px 0 2px 12px;
}
.post-info a:link, .post-info a:visited
{
    border:none;
}
.post-info a:hover, .post-info a:active
{
    border-bottom:1px solid;
}
.post-content 
{
    margin:0;
    padding:0.2em 0;
}
.post-comments 
{
   float:right;
}
.post-comments a 
{
   background:url(img/comments-small.gif) no-repeat left center;
   padding-left:12px;   
}
#sidebar {
	float:left;
	width:175px;
	padding-left:15px;
	font-size:90%;	
}
#sidebar h2 
{
    color:#504800; 
    margin:0.5em 0 0 0;       
    font-size:1.5em;   
    font-weight:bold; 
}
#sidebar ul 
{
	margin:0;
	padding:5px 0;
	list-style:none;
}
#sidebar ul li 
{
	margin:0;
	padding:5px 0 0 0;
	list-style:none;
	background:none;	
}
#sidebar ul ul, #sidebar form 
{
    margin:0;
    padding:0.5em 0 0 1em;
}
#sidebar ul ul ul 
{
	margin:0;
	padding:5px 0;
}
#sidebar ul li ul li ul li
{
	margin:0;
	padding:5px 0 5px 12px;
	background:url(img/arrow.gif) no-repeat left center;
}
#sidebar li li a:link, #sidebar li li a:visited
{
    color:#964;
    border:none;
}
#sidebar li li a:hover,#sidebar li li a:active
{
    border-bottom:#964 1px solid;
}
#sidebar li li 
{
    margin:0.5em 0;
}
#footer {
	clear:both;
	padding:10px 0;
	margin:0 auto;
	text-align:center;
	font-size:90%;
	background:#f9f9f9 url(img/footer.png) top repeat-x;	
}
#footer a 
{
	border:none;
}
/*Comments Style*/
#comments, #respond{
	margin: 2em 0 0 5px;
}
.commentlist 
{
	margin:10px;
	padding:10px 20px;
}
#commentform 
{
	margin:10px;
	padding:10px;
}
.commentlist {
	margin: 0;
	padding: 0;
	border-top: #ccc 1px solid;	
}
.commentlist li 
{
	list-style:none;
	margin: 10px 0;
	padding: 1em 0.5em;
	background:#f9f9f9;
	border-top: #aaa 1px solid;

}
.commentlist li .cmtinfo 
{
	font-size:1em;	
}
.commentlist li cite 
{
	font-style:normal;
	font-weight:bold;
}
.commentlist li .cmtinfo em 
{
	margin:0;
	padding:0;	
	font-style:normal;
	font-size:0.9em;
	color:#666;
}
.commentlist .alt
{
	background: #fff url(img/gradtop.gif) repeat-x top;	
}
.commentlist .avatar
{
    float:right;
}
/***************   NAVIGATION                         
############################################*/

ul#navigation {
	list-style:none;
	margin:0 auto;	
	padding:0;
	font-family:Arial,Georgia, Verdana, Serif;
	font-weight:bold;
	background:#464;	
	text-transform:uppercase;
	height:30px;
	line-height:30px;	
	font-size:1.1em;
}

ul#navigation li 
{
	float:left;
  margin:0;
  padding:0;
  list-style:none;  
  white-space:nowrap;	
  background:none;	
}	

ul#navigation li a {
	 display:block;
  padding:0 15px;
  text-transform:uppercase;
  letter-spacing:1px;
  border:none;
  color:#ccc;
  
}	
ul#navigation li a:hover,ul#navigation li a:active, #navigation li.current_page_item a
{
	color:#fff;
	background:#141;
	
}
/***************   TEXT ELEMENTS                   
############################################*/

textarea, input.textbox
{
    background:#fff url(img/gradtop.gif) repeat-x top;
	border:#aaa 1px solid;
}
textarea 
{
	width:90%;
} 
textarea:focus, input.textbox:focus 
{
	border:#964 1px solid;
}
dl dt 
{
	font-weight:bold;
	margin:5px 0;	
}
dl dd 
{
	padding-left:20px;
	display:inline;
}
#content ul.asides 
{
	margin:0 1em;
	padding:0;
	list-style:none;
}
#content ul.asides li 
{
	margin:1em 0;
	padding:0 15px;	
}
#content, #sidebar, .widget, #footer 
{
	overflow:hidden;
}
img.left, img.alignleft, div.alignleft
{
	float:left;
	margin:0 1em 1em 0;
}
img.right, img.alignright, div.alignright
{
	float:right;
	margin:0 0 1em 1em;
}
img.aligncenter, div.aligncenter
{
	text-align:center;
	margin:0 auto;
}
.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 10px;
	/* optional rounded corners for browsers that support it */
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}
.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}