/*

Theme Name: Benevolence Responsive

Description: A two-column simplistic theme with an inclination to perform kind, charitable acts.
Author: Theron Parlin, edited by IWS CIT
Tags: white, two column, fixed width, custom header, threaded comments
WDP ID: 128
Version: 1.4

*/

body {
	position: relative;
	background: #333;
	height: 100%;
	font-family: Arial;
	text-align:left;
	color:#000;
	font-size: 10pt;
	margin:  0px;
	padding: 0;
	text-align: center;
}
/* Captions and image alignment for wordpress */

div.aligncenter {
	display: block!important;
	margin: 0px auto;
}
div.alignleft {
	float: left!important;
	margin-right: 10px;
}
div.alignright {
	float: right!important;
	margin-right: 0px;
	margin-left: 10px;
}
.wp-caption {
	border: 1px solid #CCCCCC;
	text-align: center;
	background-color: #F8F8F8;
	padding-top: 4px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	font-size: 11px;
	line-height: 16px;
	padding: 5px 4px;
	margin: 0;
	font-family: Arial, Tahoma, "Lucida Sans";
	color: #949494;
	font-style: normal;
}


p img {
	padding: 0;
	max-width: 100%;
	height: auto;
	}
img {
  	border: 0px none;
  	max-width: 100%;
	height: auto;
}


img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	}

img.alignright {
	padding: 4px;
	margin: 0 0 2px 7px;
	float: right;
	}

img.alignleft {
	padding: 4px;
	margin: 0 7px 2px 0;
	float: left;
	}

.alignright {
	float: right;
	}

.alignleft {
	float: left;
	}

.commentlist li li, .commentlist ul {
	list-style-type: none;
}
textarea#comment{
  width: 80% !important;
}
.commentlist .children img.avatar {
  width: 25px;
  height: 25px;
}
.commentlist .children {
  padding-left: 0px !important;
}
/* End captions and image alignment */
#wrapper {
	position: relative;
	height: 100%;
	width: 700px;
	border-left: 10px solid black;
	border-right: 10px solid black;
	margin: 0 auto;
	background-color: #000;
} 

#insideWrapper {
	position: relative;
	top: 0px;
	height: 100%;
	width: 700px;
	margin: 0px;
	background-color: #fff;
	text-align: left;
}

#insideWrapper:after{
content: "."; display: block; line-height: 1px; font-size: 1px; clear: both;}

.post {
	position: relative;
	top: 0px;
	width: 420px;
	left: 0px;
	margin: 0px;
	background-color: #fff;
	text-align: left;
	overflow: hidden;
}

#content {
	width: 420px;
	margin-left: 250px;
	background-color: #fff;
	text-align: left;
}

#sidebar {
	position: relative;
	float: left;
	width: 180px;
	left: 40px;
	padding: 0px;
	background-color: #fff;
	text-align: left;
	font-family: Arial;
	color: #000;
	font-size: 7.5pt;
	line-height: 11pt;
	text-transform: uppercase;
	margin: 0px;
} 

#sidebar p {
	text-transform: none;
	margin: 4px 0 4px;
}

.left {
	float: left;
	margin: 0px 10px 0px 10px;
}

.right {
	float: right;
	margin: 0px 10px 0px 10px;
}

#masthead {
	position: relative;
	top: 0px;
	background: url('images/masthead.jpg');
	background-size: cover;
 	width: 700px;
 	height: 225px;
	margin: 0px;
	margin-top: 0px;
}

.centeredImage {
    text-align:center;
    margin-top:10px;
    margin-bottom:0px;
    padding:0px;
}

#footer {
	font-size: 7pt;
	position: relative;
	color: #fff;
	top: 5px;
	width: 700px;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 0px;
	text-align: center;
}

#footer a {
	color: #fff;
}

#footer a:visited {
	color: #fff;
}

#footer a:hover {
	color: #ff3333;
	border: 0px;
}
 

.sep {
	position: relative;
	background: url('images/sep.jpg');
 	width: 162px;
	height: 14px;
	margin: 0px;
	padding: 0px;
	left: 132px;
	text-align: center;
}

#sidebar a {
	color: #000;
}

#sidebar a:visited {
	color: #000;
}

#sidebar a:hover {
	color: #999;
}

.commentBox {
	position: relative;
	margin: 0 auto;
	width: 90%; 
	background-color: #f5f5f5; 
	text-align: left; 
	border: 1px solid #999; 
	padding: 5px;
}

.commentBox .avatar { 
	border: 1px solid #ccc;
	padding: 2px;
	margin: 0;
	float: right; 
}

.cite {
	font-size: 7pt;
	color:#666;
}

code {
	font-family: Courier New, Verdana;
	text-align:left;
	color:#666;
	font-size: 8pt;
}

input {
	border: 1px solid #333333;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #000000;
	padding: 0px;
}

h2 {
	color: #666;
	font-size: 14px;
	text-align: left;
}


#sidebar ul {
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
}

#sidebar li {
	list-style-type: none;
	margin-left: 0px;
}

blockquote, blockquote p {
	text-indent: 0px;
	margin-bottom: 7px;
	color: #666;
}

.footerLink {
	color: #666;
	text-decoration: underline;
}

a.footerLink {
	color: #666;
	text-decoration: underline;
}

a.footerLink:visited {
	color: #666;
	text-decoration: underline;
}

a.footerLink:hover {
	color: #999;
	text-decoration: underline;
}

.title, #sidebar h2 {
	font-family: 'Arial Black';
	color: #333;
	font-size: 7.5pt;
	text-transform: uppercase;
	font-weight: normal;
	margin: 14px 0 0;
}

a.title {
	color: #333;
}

a.title:visited {
	color: #333;
}

a.title:hover {
	color: #999;
	border: 0px;
}

#blogTitle {
	position: relative;
	top: 50px;
	left: 20px;
	font-family: 'Arial Black';
	font-size: 8pt;
	text-transform: uppercase;
	text-align: left;
}

#blogTitle a {
	color: #333;
}

#blogTitle a:visited {
	color: #333;
}

#blogTitle a:hover {
	color: #ff3333;
	border: 0px;
}

.commentPos {
	font-family: 'Arial Black';
	font-size: 7pt;
	position: relative;
	margin: 0px;
	padding: 0px;
	text-align: center;
	text-transform: uppercase;
	clear: both;
}

a.commentPos {
	font-family: 'Arial Black';
	color: #ff3333;
}

a.commentPos:visited {
	color: #ff3333;
}

a.commentPos:hover {
	color: #000;
	border: 0px;
}

a {
	color: #ff3333;
	text-decoration: none;
}

a:visited {
	color: #ff3300;
	text-decoration: none;
}

a:hover {
	color: #394651;
	text-decoration: none;
	border-bottom: 1px dashed #394651;
}

#sidebar a img {
	border: 0;
}

/* 12852-1333369299 */



/* Desktop layout */
@media only screen and (min-width : 801px){
/*
.btt{
	display:none;
}
a.btt{
	display:none;
}
*/
}

/* Mobile layout */
@media only screen and (max-width : 800px){
/*
.btt {
  display:none;
  position:fixed;
  bottom:0;
  right: 0;
  z-index:1;
  background-color: rgba(146, 35, 35, 0.7);
  display:block;
  padding:0.5em;
  text-align:center;
 
}

a.btt{
	color: white;
}
*/
.blogname{
	font-size: 2.5em;
	margin-right: 2em;
}

body#custom{
	min-width: 300px;
	}

body {
	position: relative;
	min-width: 300px;
	background: #333;
	height: 100%;
	font-family: 'Arial';
	text-align:left;
	color:#000;
	font-size: 16pt;
	overflow-x: hidden;
	
}

/* Search text 'Search for' */
#searchform label.screen-reader-text {
 	display: block;	
	margin-left: 0.7em;
	padding-top: 0.2em;
	color: #3d3d3d;
	font-size: 1.2em;
	font-family: 'Arial', sans-serif;/*'PT Serif', serif;*/
}

/* Search form/input field */
#searchform input#s {
	position: relative;
	padding: .3em 0em .3em 0;
	margin-left: 0.7em;
	margin-right: 0.7em;
	margin-bottom: 0.4em;
	border: 1px solid #333333;
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	width: 70%;
	color: #000000;
	float: left;
	
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	
	
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

/* Search button */
#searchform input#searchsubmit {
	
	position: relative;
	border: 1px solid #333333;
	background-color: #6b6b6b;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding: .8em .9em;
	margin-top: -.2em;
	margin-bottom: 0.4em;
	font-size: 1em;
	width: 22%;
	color: #fff;
	
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

/* Text in the comment form */
#commentform .text{
	position: relative;
	border: 1px solid #333333;
	background-color: #F9F9F9;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	width: 90%;
	color: #000000;
	display: block;
	
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

/* Button in the comment form 'Say it' */
#commentform .submit{
  	display: block;  
  	float: left;  
	width: auto; 
	padding: 1.0em 1.2em 1.2em 1.2em;  
	border: 1px solid;  
	font-weight: normal;  
	font-size: .8em;  
	color: 6b6b6b;  
	background: #cbcbcb;
	cursor: pointer;  
		
	-moz-border-radius: 2px;  
	 -webkit-border-radius: 2px;  
	border-radius: 2px;  
		
	border-color: black; 
	margin-bottom: .4em;
}

.cite {
	font-size: .7em;
	color:#666;
}
	
#masthead {
	position: relative;
	width: 100%;
	margin:  0 auto;
	min-width: 300px;
	max-width: 800px;
}

.mastheadClass{
	background-size: cover !important;
}

#wrapper {
	position: relative;
	width: 100%;
	margin:  0 auto;
	min-width: 300px;
	max-width: 800px;
	border-left: 0em;
	border-right: 0em;
} 

#insideWrapper {
	width: 100%;
	margin:  0 auto;
	min-width: 300px;
	max-width: 800px;
	padding-bottom: 2px;
	margin-top: -1px;
}

.commentPos {
	font-size: .5em;
}

.title, #sidebar h2 {
	font-size: .7em;	
}

#content {
	position: relative;/
	float: left;
	top: 2px;
	margin-left: 0px;
	background-color: #fff;
	text-align: left;
	width: 95%;
	margin:  0 auto;
	/*min-width: 300px;*/
	max-width: 800px;
	overflow: hidden;
}

.post {
	position: relative;
	float:left;
	clear:left;
	background-color: #fff;
	overflow: hidden;
	width: 95%;
	margin-left:  10px;
	margin-left: 10px;
	/* min-width: 300px; */
	max-width: 800px;
}

.post p{
	font-size: .8em;
}

.commentclass{
	font-size: .85em;
}

.postcommentclass{
	font-size: .85em;
}

.commentlist{
	font-size: .75em;
	margin-left: -1.0em;
}

.right{
	font-size: .9em;
}

textarea#comment{
  width: 90% !important;
  font-size: 1em;
}


.commentBox {
	position: relative;
	margin: 0 auto;
	width: 90%; 
	background-color: #f5f5f5; 
	text-align: left; 
	border: 1px solid #999; 
	padding: 5px;
}

.commentBox .avatar { 
	border: 1px solid #ccc;
	padding: 2px;
	margin: 0;
	float: right; 
}

code {
	font-family: Courier New, Verdana;
	text-align:left;
	color:#666;
	font-size: .8em;
}

.sep {
	position: relative;
	background: url('images/sep.jpg');
 	width: 162px;
	height: 14px;
	margin: 0px;
	padding: 0px;
	left: 0px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	float: none;
}

#sidebar {
	position: relative;
	clear:both;
	width: 100%;
	left: 0px;
	margin: 0px;
	padding: 0px;
	float: none;
	color: #3d3d3d;
	background: #CBCBCB;
	
	/*
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
	background: -moz-linear-gradient(top, #ccc, #fff);
    background: -ms-linear-gradient(top, #ccc, #fff);
    background: linear-gradient(top, #ccc, #fff);
	*/
} 

#sidebar p {
	text-transform: none;
	margin: 4px 0 4px;
}

h2 {
	color: #666;
	font-size: 18px;
	text-align: center;
}

/* MENU+ */
.menuToggle {
	font-size: 2em;
	padding-left:.4em;
	/*background: #6b6b6b; Older Verion/idea */
	width: 0 auto;
	line-height: 2em;
	/*margin-bottom: .2em;*/
	position: relative;
	cursor: pointer;
	
	background: rgb(107, 107, 107); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(107, 107, 107,1) 0%, rgba(203, 203, 203,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, bottom, top, color-stop(0%,rgba(107, 107, 107,1)), color-stop(100%,rgba(203, 203, 203,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(107, 107, 107,1) 0%,rgba(203, 203, 203,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(107, 107, 107, 1) 0%,rgba(203, 203, 203,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(107, 107, 107,1) 0%,rgba(203, 203, 203,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(107, 107, 107,1) 0%,rgba(203, 203, 203,1) 100%); /* W3C */
}

.menuToggle a{
	display: block;
}

#sidebar .menuToggle a:hover{
	border-bottom: none;
}

#sidebar .menuToggle a.exploreToggle{
	color: #fff;
}

#sidebar .menuToggle .exploreToggle{
	position: relative;
  	padding-left: 1.25em;
}

#sidebar .menuToggle .exploreToggle:before {
  	content: "";
 	position: absolute;
  	left: 0;
  	top: 0.64em;
 	width: 1em;
 	height: 0.15em;
  	background: white;
  	box-shadow: 
    0 0.25em 0 0 white,
    0 0.5em 0 0 white;
}



/* categories inside MENU+ */
#sidebar h2 {
	text-align: left;
	color: white;	
	padding-left: 0.2em;
	padding-top: 0.2em;
	/*display: block;*/
	margin-bottom: 1px;
	font-size: 1.1em; /* 18px */
	font-family: 'Arial', sans-serif;/*'PT Serif', serif;*/
	background: #6b6b6b;
	border-left: 6px solid #551b1b;
	line-height: 1.3em;
	text-transform: uppercase;
	margin: 0px;
}

#sidebar ul.topMenu {
	max-height: 0em;
	visibility: hidden;
}

#sidebar ul.topMenu.expand {
	position: relative;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 10px;
	padding-left: 0px;
	text-align: center;
	max-height: 900em;
	visibility: visible;
}

#sidebar ul {
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	padding-left: .3em;
	font-size: 1.3em;
	line-height: 1.5em;
}

#sidebar li {
	text-align: left;
	list-style-type: none;
	margin-left: 0em;
	display: block;
	font-size: 1.2em;
	line-height: inherit;
	text-transform:none;
	padding: 0.3em 0em 0em 0em; /* 0.1em bottom */
		
	font-size: .9em; /* 18px */
	font-family: 'Arial', sans-serif; /*'PT Serif', serif;*/
}

#sidebar li a{
	font-size: 1.1em;
	font-family: 'Arial', sans-serif;/*"PT Serif", serif;*/
	color: #3d3d3d; /* #292927; */
	display: block;
	/* border-bottom: 1px solid #383838; */
}

#sidebar a:visited {
	color: #3d3d3d;
}

#sidebar a:hover, a:focus {
	color: #a2a2a2;
	text-decoration: none;
	border-bottom: none; 
}

#footer {
	width: 100%;
	margin:  0 auto;
	min-width: 300px;
	max-width: 800px;
}

}
