@charset "UTF-8";
@charset "UTF-8";
/*
 Theme Name:   Cornell CEE GSA

 Description:  Twenty Eleven child theme
 Author:       LiLynn Graves

 Template:     twentyeleven 
 Version:      2
 Tags: dark, light, white, black, gray, one-column, two-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, editor-style,    		featured-image-header, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
 Text Domain: CEE-GWA-cornell
*/

@import url("../twentyeleven/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */
#branding hgroup {
    margin: 0 7.6%;
}
#branding #searchform {
    /*position: absolute;
    right: 7.6%;
    text-align: right;
    top: 1.0em;*/
}

#site-title {
    margin-right: 270px;
	
    padding: 1em 0 0;
}
#site-title a {
    color: #111111;
    font-size: 35px;
    font-weight: bold;
    line-height: 36px;
    text-decoration: none;
}
#site-description {
    color: #7A7A7A;
    font-size: 14px;
    margin: 0 270px 1.2em 0;
}

#cornell a {
    background: url("images/CE_CEE_3.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float:left;
    height: 80px;
    width: 500px;
	margin-right:270px;
	margin-top:-2.8em;
}
#cornellsig a {
	background: url("images/cornellsig.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	float:right;
    height: 120px;
    width: 120px;
	margin-right:7.6%;
	margin-top:1em;
	margin-bottom:-5em;
}

.singular.page .hentry {
    padding: 1.5em 0 0;
}
/* Reposition the site title and description slightly */
@media (max-width: 650px) {
	/* @media (max-width: 650px) Reduce font-sizes for better readability on smaller devices */	
	#cornell a {
    background: url("images/CE_CEE.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float:left;
    height: 32px;
    width: 250px;
	margin-top:1em;
	}
	#site-title {
		padding: 2.30625em 0 0;
	}
	#site-title,
	#site-description {
		margin-right: 0;
	}
	/* Make sure the logo and search form don't collide */
	#cornellsig a {
		background: url("images/culogo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		top: 1.0em !important;
		height: 35px;
    	width: 153px;
		margin-bottom:0;
		
	}
}