/* import Google fonts */
@import url(//fonts.googleapis.com/css?family=Goudy+Bookletter+1911);

/**** Body *****/

/* Font size is built around a 12px default to minimize 
   size-inheritance issues for content contributers. A base
   definition of 75% produces consistent results in all major
   browsers (from the 16px browser default) and scales consistently
   under zooming.
   */

body {
	background: #3E0000 url(../images/layout/page_bg.jpg) repeat-x 0 75px; /* footer color */
	padding: 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FEEBB3;
	font-size: 75%; /* 12px *//* font size key in em:
		0.750em = 09px
		0.833em = 10px
		0.917em = 11px
		default = 12px
		1.083em = 13px
		1.167em = 14px
		1.250em = 15px
		1.333em = 16px
		1.500em = 18px
		1.667em = 20px
		1.833em = 22px
		2.000em = 24px
		3.000em = 36px
	*/
}

body.home {background: #8B7B69 url(../images/layout/page_home_bg.jpg) repeat-x 0 75px;}

/**** Cornell Identity *****/

#cu-logo-unit75 a {width: 280px;}
#cu-identity {font-size: 0.9em;}
#cu-identity .identity-wrap{ margin: 0 auto; width: 960px;}

/* unit signature */
#cu-logo-unit75 {
	float: left;
	position: relative;
	width: 345px;
	background: url(../images/cornell_identity/unit_signature_black.gif) no-repeat -8px -1px; /* default */
	height: 75px; /* default */
}
#cu-logo-unit75 a {
	display: inline-block;
	text-decoration: none;
	position: absolute;
	text-indent: -1000em;
}
#cu-logo-unit75 #insignia-link {
	width: 68px;
	height: 75px;
}
#cu-logo-unit75 #unit-signature-links a {
	left: 68px;
}
#cu-logo-unit75 #cornell-link {
	height: 38px;
}
#cu-logo-unit75 #unit-link {
	top: 38px;
	height: 37px;
}

#cu-logo img, #cu-logo-unit75 img, #cu-logo-unit88 img {
	display: none;
}

/* search form */
#search-form {
	width: 380px;
	float: right;
	padding-top: 12px;
}
#search-form form {
	margin: 0;
	padding: 0;
	text-align: right;
}
#search-form-query {
	padding: 3px;
	width: 145px;
	border: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	vertical-align: middle;
}
#search-form-submit {
	padding: 0px 2px 3px 2px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	vertical-align: middle;
}
#search-filters {margin: 5px 0 0 0;}
#search-filters input {vertical-align: middle;margin: 0;}
#search-filters label {vertical-align: middle;margin: 0 10px 0 0;}
#search-input label, #search-filters a { position: relative;top: 2px;}
.theme-black75, .theme-black75 #cu-logo a {height: 75px;}
.theme-black75 {background-color: #000;}
.theme-black75 #search-form label {color: #fff;}
.theme-black75 #search-form-query {color: #fff;background: #4c4c4c url(../images/layout/header_search_black.gif) no-repeat top left;}

.theme-black75 #search-form-submit {
	border-top: 1px solid #8c8c8c;
	border-left: 1px solid #8c8c8c;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	color: #fff;
	background: #4c4c4c;
}

.theme-black75 #search-form a {color: #fff;}
.theme-black75 #search-form a:hover {color: #ccc;}

/**** Tables *****/
 
/* Basic tables will have a light 1-pixel border grid, though a 
   combination of table border and cell border. Table headers
   have a light gray background, with an optional cross-browser
   gradient, which can be disabled by commenting it out in TH.
   */

table {
	width: 100%;
	margin-bottom: 15px;
	border: solid #AA0004;
	border-width: 1px 1px 0 0;
	border-collapse: collapse;
}
table table {
	margin-bottom: 0; /* removed margin in nested tables */
}
caption {
	font-style: italic;
	color: #777;
	margin: 0.2em 0;
	line-height: 1.6em;
}
td, th {
	border: solid #AA0004;
	border-width: 0 0 1px 1px;
	padding: 6px;
	vertical-align: top;
}
th {
	color: #fff;
	border-left-color: #AA0004;
	border-bottom-color: #AA0004;
	font-weight: bold;
	text-align: center;
		
	/* optional gradient */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f8f5', endColorstr='#e2e1de');*/ /* disabled due to IE8 bugs */
	background: #400001;
	background: -webkit-gradient(linear, left top, left bottom, from(#AA0004), to(#400001));
	background: -moz-linear-gradient(top, #AA0004, #400001);
}
th p {
	margin-bottom: 0; /* removes <p> margin if used in table headers */
}
/**** Text Styles ****/
 
/* Basic paragraph and header styles. Currently using Georgia
   for h1-h3 and some blue coloration, but this could be stripped
   out and moved to site-specific styles.
   */

p, td, th, li, dt, dd {
	line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.3em;
	margin-bottom: 12px;
	color: #fff;
}
h1 {
	font-size: 2.2em;
	font-family: Arial, Helvetica, sans-serif;
}
h2 {
	font-size: 3.6em;
	line-height: 1em;
	font-family: 'Goudy Bookletter 1911', serif;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px #000;
	font-variant:small-caps;
	color: #FFEBBC;
}
h2 a, h3 a {
	text-decoration: none;
}
h3 {
	font-size: 3.2em;
	font-family: 'Goudy Bookletter 1911', serif;
	-webkit-font-smoothing: antialiased;
		text-shadow: 1px 1px 1px #000;
}
#secondary h3.widget-title, #secondary h3.comments-title {
	font-size: 2.4em;
	color: #FCE6C1;
}

.home #secondary h3.widget-title, .home #secondary h3.comments-title {
	text-shadow: 1px 1px 1px #544B42;
}

h3.comments-title {
	font-size: 2em;
	padding-top: 20px;
	background: url(../images/layout/hline.png) no-repeat 10px 10px;
}
h4 {
	font-size: 2.6em;
	font-family: 'Goudy Bookletter 1911', serif;
	-webkit-font-smoothing: antialiased;
		text-shadow: 1px 1px 1px #000;
}
h5 {
	font-weight: normal;
	font-size: 2.4em;
	color: #AE0004;
	font-family: 'Goudy Bookletter 1911', serif;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px #000;
}
h6 {
	font-weight: normal;
	font-style: italic;
	margin-bottom: 5px;
}
p {
	margin-bottom: 15px;
}
p.last {
	margin-bottom: 0;
}
strong {
	font-weight: bold;
}
blockquote, pre {
	margin-left:2em;
	padding-left: 1em;
	font-style: italic;
	line-height: 1.4em;
}
pre, code {
	font-family: mono-space, monospace;
	font-style: normal;
	margin-bottom: 15px;
}
abbr, acronym {
	text-transform:uppercase;
	border-bottom: 1px dotted #000;
	letter-spacing: 1px;
}
abbr[title], acronym[title] {
	cursor:help;
}
sup, sub {
	font-size:.8em;
	position: relative;
}
sup {
	top: -0.4em;
}
sub {
	top: 0.2em;
}
em, cite {
	font-style:italic;
}
.clear {
	clear: both;
	width: 100%;
}
p.note {
	padding: 10px;
	border: 1px solid #ccc;
}
.more {
	padding-right: 8px;
	background: transparent url(../images/layout/arrows/right_red.gif) no-repeat 100% 80%;
}
.text-highlight-red {
	background: #f0beb6;
}

.text-highlight-yellow {
	background: #f0ee9f;
}

.text-highlight-green {
	background: #c5ee9f;
}
/**** Links ****/


a, a:visited {
	color: #EB9155;
}

a:hover, a:active {
	color: #fff;
}

.home a, .home a:visited {
	color: #6E2016;
}

.home a:hover, .home a:active {
	color: #FFEBBC;
}

/**** Lists ****/
 
/* Unordered lists use a custom square bullet as default. This will carry
   through to nested lists as well. However, a circle and disc bullet are 
   also available through UL classes below. This allows designers to 
   customize the bullets in their basic lists (and more can be added later).
   */

ul {
	margin-left: 18px;
	margin-bottom: 15px;
}
ul li {
	padding-left: 18px;
	background: url(../images/layout/bullet_square_custom.png) no-repeat left 6px;
}

.home ul li {
	padding-left: 18px;
	background: url(../images/layout/bullet_square_custom2.png) no-repeat left 6px;
}

ul.disc li {
	background: url(../images/layout/bullet_disc.gif) left 7px no-repeat;
}
ul.circle li {
	background: url(../images/layout/bullet_circle.gif) left 7px no-repeat;
}
ol {
	margin-left: 36px;
	margin-bottom: 15px;
}
ol li {
	padding-left: 0;
	list-style: decimal;
	background: none;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 4px;
}
dl {
	margin-left: 0;
	margin-bottom: 15px;
}
dl dl {
	margin-left: 30px;
}
dt {
	font-weight: bold;
	margin-bottom: 8px;
}
dd {
	margin-bottom: 12px;
}
/* Table of Contents */
ul.toc {
	border-left: 4px solid #dbe3e9;
	margin-left: 1px;
	padding-left: 0px;
	margin-bottom: 20px;
}
ul.toc li {
	background: none;
	padding-left: 10px;
}
ul.toc ol li {
	padding-left: 0;
}
ul.toc a {
	padding-right: 9px;
	background: url(../images/layout/link_arrow_white.gif) right 0.35em no-repeat;
}

/**** Layout *****/
#wrap {
	float: left;
	width: 100%;
	clear: both;
	position: relative;
	background: url(../images/layout/featured.jpg) no-repeat top center;
}

.home #wrap {
	background: url(../images/layout/home_featured.jpg) no-repeat top center;
}

#content {
	width: 960px;
	margin: 0 auto;
	padding: 0 0 20px 0;
	overflow: auto;
	position: relative;
	border: 5px solid #710000;
	border-top: none;
	background: #710002 url(../images/layout/featured.jpg) no-repeat top center;
}

.home #content {
	border: none;
	background: transparent;
	background-image: none;
	min-height: 700px;
}
#main, #secondary, #section-navigation, #section-navigation-wrap {
	float: left;
}
.secondary-section, .secondary-photo {
	float: left;
	width: 100%;
}

/* twocolumn pages */
#main {
	width: 720px;
	float: right;
	padding-top: 300px;
}

#secondary {
	width: 190px;
	margin-left: 30px;
	clear: left;
	padding-top: 300px;
}
#section-navigation {
	width: 190px;
	padding: 300px 0 0 0;
	margin: 0 0 0 30px;
}

/* onecolumn pages */
.onecolumn #main {
	width: 960px;
}

/* twocolumn pages with secondary on the right */
.twocolumn-right #main {
	float: left;
}

.twocolumn-right #secondary, .twocolumn-right #section-navigation {
	float: right;
}
/**** Header *****/
#header {
	float: left;
	width: 190px;
	margin: 0 0 40px 30px;
}

#campaign-home h1 {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}

#campaign-home h1 a {
	display: block;
	margin: 0;
	width: 960px;
	height: 300px;
}

.home #campaign-home h1 a {
	width: 550px;
	height: 260px;
	background: transparent url(../images/layout/logo_home.png) no-repeat 90px 20px;
}

#pull-navigation {display: none;}

#main-navigation {
	float: left;
	width: 100%;
	clear: both;
	margin: 0;
	padding-top: 300px;
}

#main-navigation ul {
	margin: 0;
	padding: 0;
}
#main-navigation li {
	background-image: none;
	padding: 0;
	margin: 0 0 10px 0;
	font-size: 2.0em;
	line-height: 1.2em;
	font-family: 'Goudy Bookletter 1911', serif;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px #000;
	padding: 0;
}

.home #main-navigation li {
	text-shadow: 1px 1px 1px #FEE8B6;
}

#main-navigation li a {
	text-decoration: none;
}

#main-navigation ul.sub-menu {
	margin: 6px 0 6px 16px;
}

#main-navigation ul.sub-menu li {
	font-size: 0.98em;
	text-shadow: 1px 1px 1px #592927;
}

#main-navigation ul.sub-menu li a {
	color: #f3e3ac;
}

#main-navigation li a:hover, #main-navigation li.current-menu-item a, #main-navigation ul.sub-menu li a:hover, #main-navigation ul.sub-menu li.current-menu-item a {
 color: #fff;
}

.home #main-navigation li a:hover, .home #main-navigation li.current-menu-item a, .home #main-navigation ul.sub-menu li a:hover, .home #main-navigation ul.sub-menu li.current-menu-item a {
 color: #fff;
 text-shadow: 1px 1px 1px #594F46;
}
/* Home page */

.home #main {
	position: relative;
}

#campaign-home {
	position: relative;
}
#campaign-home img {
	width: 700px;
	height: 325px;
}

#content-wrap {
	float: left;
	width: 100%;
}

#main .page-meta {
  width: 700px;
}

.home #main .page-meta {
  width: 340px;
}

#main .page-meta p {
  font-size: 1.1em;
}


/**** Footer *****/ 

#footer {
	float: left;
	clear: both;
	width: 100%;
	padding: 20px 0 10px 0;
	font-size: 0.96em;
}
#footer-content {
	width: 960px;
	margin: 0 auto;
}
#footer p {
	margin: 0;
}
#footer-widgets, #footer-links, #footer ul {
	float: left;
	width: 100%;
	clear: both;
}

#footer-widgets {
	font-weight: bold;
}

#footer-widgets a {
	color: #8f181a;
}

#footer-links a {
	color: #fff;
}

#footer-links a:hover {
	color: #8f181a;
}

#footer-widgets a:hover {
	color: #fff;
}

#footer ul {
	display: block;
	margin: 0;
	padding: 0 0 20px 0;
	text-align: center;
}

#footer ul.meta {
	padding: 0 0 6px 0;
}
#footer li {
	padding: 0 10px 10px 0;
	margin: 0 0 0 10px;
	display: inline;
	line-height: 1em;
	background-image: none;
}

#footer a {
	text-decoration: none;
}

#edublogs {
	float: left;
	clear: both;
	width: 100%;
	padding: 20px 0;
	font-size: 0.90em;
	color: #710002;
	text-align: center;
}

#edublogs a{
	color: #8CAAD0;
}

/**** Misc *****/

#skipnav, #campaign-home h1 strong {
	position: absolute;
	top: -1000em;
	left: -1000em;
	}
	
hr {
	display: none;
}

.inline-note {
	font-size: 0.833em;
	background: #f7f7f6 url(../images/layout/pencil.gif) left 2px no-repeat;
	color: #8c6522;
	border: 1px solid #f7f7f6;
	padding: 0px 4px 0px 15px;
}
