
/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {	
	}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
#cu-identity .identity-wrap, #content, #main, #secondary, #campaign-home h1 a, #footer-content {max-width: 100% !important}
/* hides */
#search-form {display: none;}
#wrap, #content, .home #wrap {background-size: 140% auto;}
.home #wrap {background-color: #8C7C6C;}
.home #campaign-home h1 {
	top: 40px;
	left: 20px;
}
.home #campaign-home h1 a {
	width: 300px;
	height: 210px;
	background: url(../images/layout/logo_home.png) no-repeat 0 0;
	background-size: 100% auto;
}
#header {
	width: 96%;
	margin: 0 2% 20px 2%;
}

#main-navigation {padding-top: 250px; width: 60%;}
#main .page-meta, .home #main .page-meta {width: 100% !important;}
#main, #secondary  {padding: 0; width: 96%; padding: 0 2%}
#content {overflow: hidden; border: none;}

/* navigation */
a#pull-navigation {
		display: block;
		float: left;
		clear: both;
		width: 100%;
		height: 30px;
		background-color: #710002;
		overflow: hidden;
		padding: 6px 0;
		margin: 0;
		position: relative;
		text-align: left;
		text-indent: 34px;
		font-family: 'Goudy Bookletter 1911', serif;
		-webkit-font-smoothing: antialiased;
		text-shadow: 1px 1px 1px #000;
		color: #FFE9BA;
		font-size: 2.2em;
		text-decoration: none;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}
.home a#pull-navigation {
		background-color: #3C1A1B;
	}
a:hover#pull-navigation {
	text-decoration: none;
	color: #fff;
	}
a#pull-navigation:before {
		content:"";
		background: url(../images/layout/pull_bg.png) no-repeat;
		width: 16px;
		height: 10px;
		display: inline-block;
		position: absolute;
		left: 10px;
		top: 16px;
	}
nav#main-navigation ul {display: none; height: auto; clear: left; width: 100%; background: #370000; padding-top: 10px;}
.home nav#main-navigation ul {background: #BDA792; padding-top: 10px;}
nav#main-navigation li {display: block;float: none;width: 100%; font-size: 1.6em;}
nav#main-navigation li a {display: block;width: 100% !important;  text-align: left; border: none; border-bottom: 1px solid #710002; text-indent: 10px; background: url(../images/layout/pullnav_bg.png) no-repeat 98% 50%; text-transform: none; padding: 0 0 10px 0;}
.home nav#main-navigation li a {border-bottom: 1px solid #FFE9B9;}
nav#main-navigation li a:hover {background: transparent url(../images/layout/pullnav_bg.png) no-repeat 98% 50%}
nav#main-navigation ul.sub-menu {margin-left: 0;}

h2 {font-size: 2.2em;}
h3 {font-size: 1.8em;}

#footer li {padding: 0 10px 20px 0;line-height: 1.6em;}

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
html { -webkit-text-size-adjust: none; }
#cu-identity .identity-wrap, #content, #main, #secondary, #campaign-home h1 a, #footer-content {max-width: 100% !important}
/* hides */
#search-form {display: none;}
#wrap, #content, .home #wrap {background-size: 160% auto; border: none;}
.home #wrap {background-color: #8C7C6C;}
.home #campaign-home h1 {
	top: 10px;
	left: 10px;
}

#campaign-home h1 a {
	height: 150px;
}
.home #campaign-home h1 a {
	width: 240px;
	height: 120px;
	background: transparent url(../images/layout/logo_home.png) no-repeat 0 0;
	background-size: 100% auto;
}

#header {
	width: 96%;
	margin: 0 2% 20px 2%;
}

#main-navigation {padding-top: 160px; width: 100%;}
#main .page-meta {width: 100% !important;}
#main, #secondary  {padding: 0; width: 96%; padding: 0 2%}
#content {overflow: hidden;}

/* navigation */
a#pull-navigation {
		display: block;
		float: left;
		clear: both;
		width: 100%;
		height: 30px;
		background-color: #710002;
		overflow: hidden;
		padding: 6px 0;
		margin: 0;
		position: relative;
		text-align: left;
		text-indent: 34px;
		font-family: 'Goudy Bookletter 1911', serif;
		-webkit-font-smoothing: antialiased;
		text-shadow: 1px 1px 1px #000;
		color: #FFE9BA;
		font-size: 2.2em;
		text-decoration: none;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
	}
.home a#pull-navigation {
		background-color: #3C1A1B;
	} 
a:hover#pull-navigation {
	text-decoration: none;
	color: #fff;
	}
a#pull-navigation:before {
		content:"";
		background: url(../images/layout/pull_bg.png) no-repeat;
		width: 16px;
		height: 10px;
		display: inline-block;
		position: absolute;
		left: 10px;
		top: 16px;
	}
nav#main-navigation ul {display: none; height: auto; clear: left; width: 100%; background: #370000; padding-top: 10px;}
.home nav#main-navigation ul {background: #BDA792; padding-top: 10px;}
nav#main-navigation li {display: block;float: none;width: 100%; font-size: 1.6em;}
nav#main-navigation li a {display: block;width: 100% !important;  text-align: left; border: none; border-bottom: 1px solid #710002; text-indent: 10px; background: url(../images/layout/pullnav_bg.png) no-repeat 98% 50%; text-transform: none; padding: 0 0 10px 0;}
.home nav#main-navigation li a {border-bottom: 1px solid #FFE9B9;}
nav#main-navigation li a:hover {background: transparent url(../images/layout/pullnav_bg.png) no-repeat 98% 50%}
nav#main-navigation ul.sub-menu {margin-left: 0;}

#cu-logo-unit75 {
	width: 100%;
	background: url(../images/cornell_identity/unit_signature_black.gif) no-repeat -8px -1px; /* default */
	height: 75px; /* default */
	overflow: hidden;
}
h2 {font-size: 2.2em;}
h3 {font-size: 1.8em;}

#footer li {padding: 0 10px 20px 0;line-height: 1.6em;}

#footer li a {display: inline-block;}

}
	
/* #Flexible Images and videos
================================================== */
	
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
	margin: 10px 0;
}

.video embed,
.video object,
.video iframe {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}