/***** Theme Info Page *****/

.theme-info-wrap {
	margin: 25px 40px 0 20px;
	max-width: 1050px;
	position: relative;
}
.theme-info-wrap img {
	 max-width: 100%;
}
.theme-info-wrap .clearfix:before,
.theme-info-wrap .clearfix:after {
	content: " ";
	display: table;
}
.theme-info-wrap .clearfix:after {
	clear: both;
}
.theme-info-wrap .clearfix {
	*zoom: 1;
}
.theme-info-wrap .ad-row [class*='ad-col-']:first-child {
	margin: 0;
}
.theme-info-wrap [class*='ad-col-'] {
	float: left;
	margin-left: 2.04%;
	overflow: hidden;
}
.theme-info-wrap .ad-col-1-2 {
	width: 48.98%;
}
.theme-info-wrap h1 {
	font-size: 40px;
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 0;
	color: #333333;
}
.theme-info-wrap h3 {
	font-size: 24px;
	font-size: 1.5rem;
	line-height: 1.2;
}
.theme-info-wrap h4 {
	font-size: 18px;
	font-size: 1.125rem;
	margin: 10px 0;
	margin: 0.625rem 0;
}
.theme-info-wrap .theme-description {
	font-size: 18px;
	font-size: 1.125rem;
	margin: 10px 0;
	margin: 0.625rem 0;
	min-height: 60px;
	font-weight: 400;
	line-height: 1.5;
	color: #777777;
}
.theme-info-wrap .theme-links p strong {
	font-size: 14px;
	font-size: 0.875rem;
	margin-right: 16px;
	margin-right: 1rem;
}
.theme-info-wrap .theme-links p a {
	font-size: 14px;
	font-size: 0.875rem;
	margin-right: 16px;
	margin-right: 1rem;
}
#getting-started {
	margin: 16px 0;
	margin: 1rem 0;
	text-align: center;
}
#getting-started .section {
	margin: 8px 0 30px;
	margin: 1rem 0 2.875rem;
}
#getting-started .section .about {
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.5;
	color: #777777;
}
#getting-started .section .button {
	max-width: 100%;
}
#getting-started img {
	margin-top: 16px;
	margin-top: 1rem;
}
#theme-author {
	margin: 16px 0;
	margin: 1rem 0;
}
#theme-author p {
	font-size: 14px;
	font-size: 0.875rem;
	color: #777777;
}
.bg {
	background: white;
	padding: 20px;
}
.bg1 {
	background: #e6eaed;
	padding: 20px;
	text-align: center;
}
.pena-tab-pane-first-half {
	border-left: none;
}
.pena-tab-pane-half {
	width: 45%;
	float: left;
	padding-left: 20px;
	margin-top: 15px;
	padding-right: 20px;
	margin-bottom: 15px;
}
.pena-tab-pane-half {
	width: 45%;
	float: left;
	border-left: 1px solid #e6eaed;
	padding-left: 20px;
	margin-top: 15px;
	padding-right: 20px;
	margin-bottom: 15px;
}
.pena-tab-pane-first-half {
	border-left: none;
}
.clear {
	border-top: 1px solid #e6eaed;
	clear: both;
}
.recommend {
	border-top: 1px solid #e6eaed;
	border-bottom: 1px solid #e6eaed;
	padding: 15px 0;
	text-align: left;
}
.recommend h4, 
.recommend p.center {
	text-align: center;
}
.documentation {
	background: #e6eaed;
	padding: 20px;
	text-align: center;
}
.options {
	border-top: 1px solid #e6eaed;
	border-bottom: 1px solid #e6eaed;
	padding: 20px;
}
.video {
	background: #e6eaed;
	padding: 20px;
}
.bg2 {
	background: #e6eaed;
	padding: 20px;
	text-align: center;
}
.button.advertising {
	font-size: 20px;
	padding: 10px 30px;
	height: auto;
	margin-top: 15px;
}

@media screen and (max-width: 1000px) {
	.theme-info-wrap .theme-links p strong {
		display: block;
	}
	.theme-info-wrap [class*='ad-col-'] {
		float: none;
		width: 100%;
		margin: 0;
	}
	.pena-tab-pane-half {
		width: auto;
		float: none;
		border-left: none;
}
}