
/* Progress Meter */
#progress {
	float: left;
	width: 740px;
	margin-bottom: 15px;
}
#progress-shell {
	float: left;
	width: 680px;
	height: 12px;
	margin-top: 1px;
	border: 1px solid #969694;
	border-bottom-color: #212121;
	background: #efefef;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbdad7', endColorstr='#f9f8f5');
	background: -webkit-gradient(linear, left top, left bottom, from(#dbdad7), to(#f9f8f5));
	background: -moz-linear-gradient(top, #dbdad7, #f9f8f5);
}
#progress-meter {
	width: 4px;
	height: 12px;
	border-right: 1px solid #56a349;
	background: #63da50;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#98f58a', endColorstr='#55cb41');
	background: -webkit-gradient(linear, left top, left bottom, from(#98f58a), to(#55cb41));
	background: -moz-linear-gradient(top, #98f58a, #55cb41);
}
#progress-markers {
	width: 4px;
	height: 12px;
	background: transparent url(../images/marker.png) left -1px repeat;
}
* html #progress-markers {
	display: none; /* turn off transparent background markers in IE6 */
}
#progress-percent {
	float: right;
}
#progress-percent p {
	width: 52px;
	font-size: 14px;
	line-height: 15px;
	margin: 0 0 0 6px;
	text-align: left;
}
.dropshadow {
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
}
.dropshadow-light {
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
}
.curved {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px 4px 4px 4px;
}
.curved-left {
	-webkit-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}


/* Image Rotator */
.iws-imagerotator {
	/*display: inline-block;*/ /* helpful if fluid width is needed */
	background: #efefef;
	border: 1px solid #bfbfbf;
	border-bottom-color: #7e7e7e;
	margin: 20px 0;
}
.iws-imagerotator-image {
	border: 1px solid #ededed;
	position: relative;
}
.iws-imagerotator-nav {
	display: none; /* this is reverted by javascript, but allows the blank nav to be hidden if javascript is disabled */
	cursor: pointer;
	min-height: 20px;
	border: 1px solid #ddd;
	border-width: 1px 0 0;
	padding: 2px 0 0 5px;
	background: #f1f0ed;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f8f5', endColorstr='#e2e1de');
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f8f5), to(#e2e1de));
	background: -moz-linear-gradient(top,  #f9f8f5,  #e2e1de);
}
.iws-imagerotator-nav ul {
	margin: 0;
}
.iws-imagerotator-nav li {
	display: inline-block;
	background: none;
	margin: 0 4px 3px 0;
	padding: 0;
	
	/* ie 6/7 tweaks */
	zoom: 1;
	#display: inline;
}
.iws-imagerotator-nav li a {
	display: inline-block;
	width: 22px;
	border: 1px solid #e4e3e0;
	border-top: 1px solid #cfcfcc;
	background: #e4e3e0;
	color: #555;
	text-decoration: none;
	font-size: 0.917em;
	line-height: 20px;
	text-align: center;
}
.iws-imagerotator-nav li a:hover {
	border: 1px solid #999;
	background: #f0efec;
}
.iws-imagerotator-nav li a:active {
	border: 1px solid #999;
}
.iws-imagerotator-nav li.active a {
	color: #386684;
	font-weight: bold;
	border: 1px solid #809db2;
	border-bottom-color: #2d3e4a;
	background: #e5ebef;
	
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#c1cfd9');
	background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#c1cfd9));
	background: -moz-linear-gradient(top,  #fefefe,  #c1cfd9);
}
.iws-imagerotator-caption {
	display: block;
	padding: 5px;
	border-top: 1px solid #ccc;
}
.iws-imagerotator-caption p {
	font-size: 0.917em;
	color: #444;
	margin: 0;
}

/* Image Rotator: Site Specific */
#imagerotator1 {
	float: left;
	margin: 0 20px 0 0;
}
#imagerotator2 {
	margin-top: 0;
}
#imagerotator2 .iws-imagerotator-nav li {
	margin: 0 3px 3px 0;
}
#imagerotator4 {
	margin: 0;
}


/* Tooltip */

#tooltip {
	background: #ffffe8;
	border: 1px solid #a3a394;
	border-bottom-color: #5c5c54;
	color: #33332e;
	font-size: 0.917em;
	line-height: 16px;
	padding: 4px 8px;
}

.tooltip {
	border-top: 1px dashed #999;
}


/* Popup */

#popup {
	background: #fff;
	border: 1px solid #666;
	border-bottom-color: #333;
	padding: 8px;
}
#popup-background {
	background: #000;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
#popup .caption {
	color: #333;
	font-size: 1.083em;
	margin: 10px 0 4px;
}
#popup iframe {
	
}
a.popup {
	padding-right: 14px;
	background: transparent url(../images/framework/icon_popup.gif) right 0.25em no-repeat;
}


/* Tabs */

#tabs-withnav, .tabset {
	margin-bottom: 15px;
}
#tabs {
	margin: 0 0 20px 0;
}
.ui-tabs {
	zoom: 1;
}
.ui-tabs .ui-tabs-nav {
	list-style: none;
	position: relative;
	padding: 2px 2px 0;
	margin: 0;
	overflow: hidden;
	top: 1px;
	z-index: 1000;
}
.ui-tabs .ui-tabs-nav li {
	position: relative;
	float: left;
	border: 1px solid #ccc;
	border-bottom-width: 0 !important;
	margin: 0 2px -1px 0;
	padding: 0;
	background: #ccc;
}
.ui-tabs .ui-tabs-nav li a {
	float: left;
	text-decoration: none;
	padding: 5px 15px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	padding-bottom: 1px;
	border-bottom-width: 0;
	background: #fff;
}
.ui-tabs .ui-tabs-panel {
	padding: 10px;
	display: block;
	border-width: 0;
	background: none;
	border: 1px solid #ccc;
	position: relative;
	min-height: 200px;
}
.ui-tabs .ui-tabs-hide {
	display: none !important;
}
a.mover {
	background: #ccc;
	padding: 6px 12px;
	position: absolute;
	font-weight: bold;
	text-decoration: none;
}
.next-tab {
	bottom: 0;
	right: 0;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
}
.prev-tab {
	bottom: 0;
	left: 0;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
}



/* IWS Expander */
.expand-all {
	display: none;
	font-size: 0.917em;
	background: #f2f2ea;
	padding: 2px 0 2px 4px;
	margin-left: -3px !important;
	border-bottom: 1px solid #dedeca;
}
.expand-all a {
	cursor: pointer;
}
.iws-expander dl {
	position: relative;
}
.iws-expander dl dt {
	cursor: pointer;
	position: relative;
	min-height: 14px;
	line-height: 14px;
	margin: 0 0 8px;
	padding: 4px 0 6px 17px;
	background: transparent url(../images/framework/icon_expand_down.gif) no-repeat 0 0.35em;
}
.iws-expander dl dt:hover {
	background: #f5f5f5 url(../images/framework/icon_expand_down.gif) no-repeat 0 0.35em;
}
.iws-expander dl dt.expanded {
	background: transparent url(../images/framework/icon_expand_up.gif) no-repeat 0 0.35em;
}
.iws-expander dl dt.expanded:hover {
	background: #f5f5f5 url(../images/framework/icon_expand_up.gif) no-repeat 0 0.35em;
}

.iws-expander dl dt.no-entries {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	opacity: 0.4;
}
.iws-expander dl dd {
	position: relative;
	margin: 0;
	padding: 0 0 8px;
}
.iws-expander a.back_to_top, #faqs a.back_to_top {
	background: #d58282 url(../images/framework/expander_uparrow.gif) no-repeat right 3px;
	padding: 1px 13px 2px 6px;
	color: #fff;
	font-size: 0.917em;
	text-decoration: none;
	-moz-border-radius: 6px; /* for older browser versions */
	-webkit-border-radius: 6px; /* for older browser versions */
	border-radius: 6px;
}
.iws-expander a.back_to_top:hover, #faqs a.back_to_top:hover {
	background: #c34b4b url(../images/framework/expander_uparrow.gif) no-repeat right 3px;
}



/* News Ticker */

#ticker-wrapper * {
	margin: 0;
}
#ticker-wrapper.has-js {
	margin: 20px 0;
	width: 100%;
	height: 30px;
	border: 1px solid #CFCFCF;
	display: block;
}
#ticker {
	padding: 0 10px;
	width: 600px;
	height: 23px;
	display: block;
	float: left;
	position: relative;
	overflow: hidden;
	background-color: #fff;
}
#ticker-title {
	padding-top: 9px;
	float: left; 	
	color: #990000;
	font-weight: bold;
	text-transform: uppercase;
}
#ticker-content {
	margin: 0;
	padding-top: 6px;
	float: left;
	position: absolute;
	color: #1F527B;
	font-weight: bold;
	background-color: #fff;
}
#ticker-content:focus {
	none;
}
#ticker-content A {
	text-decoration: none;	
	color: #1F527B;
}
#ticker-content A:hover {
	text-decoration: underline;	
	color: #0D3059;
}
#ticker-swipe {
	padding-top: 7px;
	position: absolute;
	top: 0;
	left: 80px;
	background-color: #fff;
	display: block;
	width: 800px;
	height: 23px; 
}
#ticker-swipe SPAN {
	margin-left: 1px;
	background-color: #fff;
	border-bottom: 1px solid #1F527B;
	height: 12px;
	width: 7px;
	display: block;
}
#ticker-controls {
	padding: 7px 10px 0 0;
	list-style-type: none;
	float: right;
}
#ticker-controls li {
	padding: 0;
	margin-left: 5px;
	float: left;
	cursor: pointer;
	height: 16px;
	width: 16px;
	display: block;
}
#ticker-controls li#play-pause {
	background: url(../images/framework/news/controls.png) 32px 16px;
}
#ticker-controls li#play-pause.over {
	background-position: 32px 32px;
}
#ticker-controls li#play-pause.down {
	background-position: 32px 0;
}
#ticker-controls li#play-pause.paused {
	background: url(../images/framework/news/controls.png);	
	background-position: 48px 16px;
}
#ticker-controls li#play-pause.paused.over {
	background-position: 48px 32px;
}
#ticker-controls li#play-pause.paused.down {
	background-position: 48px 0;
}
#ticker-controls li#prev {
	background: url(../images/framework/news/controls.png);
	background-position: 0 16px;		
}
#ticker-controls li#prev.over {
	background-position: 0 32px;		
}
#ticker-controls li#prev.down {
	background-position: 0;		
}
#ticker-controls LI#next {
	background: url(../images/framework/news/controls.png);	
	background-position: 16px 16px;	
}
#ticker-controls li#next.over {
	background-position: 16px 32px;	
}
#ticker-controls li#next.down {	
	background-position: 16px 0;	
}
.js-hidden {
	display: none;
}


/* Dropdown Navigation (Superfish) */
.navigation-wrap {
	margin: 0 auto;
	width: 960px;
	position: relative;
}
.sf-menu, .sf-menu * {
	margin:	0;
	padding: 0;
}
.sf-menu {
	line-height: 1.0;
	float: left;
}

.sf-menu ul {
	position: absolute;
	top: -999em;
}
.sf-menu li {
	float: left;
	position: relative;
}
.sf-menu ul li {
	width: 260px;
	clear: left;
	border-bottom: 1px solid #ccc;
}
.sf-menu li:hover {
	visibility:	inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li:hover ul, .sf-menu li.sfHover ul {
	left:0;
	top:2.3em;
	z-index:99;
}
ul.sf-menu li:hover li ul, ul.sf-menu li.sfHover li ul {
	top:-999em;
}
ul.sf-menu li li:hover ul, ul.sf-menu li li.sfHover ul {
	left: 200px;
	top: 0;
}
ul.sf-menu li li:hover li ul, ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul, ul.sf-menu li li li.sfHover ul {
	left: 200px;
	top: 0;
}
.sf-menu li a, .sf-menu li a:visited {
	display: block;
	position: relative;
	color: #fff;
	text-decoration: none;
}
.sf-menu li li a, .sf-menu li li a:visited {
	width: 240px;
}
.sf-menu li li a:hover {
	color: #333;
} 
.sf-menu li {
	background:	#666;
}
.sf-menu li li {
	background:	#666;
}
.sf-menu li li li {
	background:	#666;
}









