/* IE Adjustments */

/* adjust for lack of :last-child support */
#footer-right {
	overflow: hidden;
}
#footer-right ul {
	margin-right: -13px;
}

/* drop shadows replacement */
#campaign, #campaign-gallery {
	border-bottom: 1px solid #dbdbd9;
}

/* section nav adjustments */
.widget_pages>ul>li.current_page_item {
	background: none;
}


/* IE6 */
* html .widget_pages ul { 
	display: block !important;
	width: auto !important;
	margin: 5px 0 12px 12px !important;
}
* html .widget_pages li, * html .widget_pages a { 
	background: none !important;
	padding: 0 !important;
}
* html .home #campaign h2 {
	position: relative;
}
* html #navigation {
	margin-left: 10px;
	overflow: hidden;
}
* html #navigation ul, * html #navigation li {
	margin: 0;
	padding: 0;
}