
/**** Body *****/

/* Font size is built around a 12px default to minimize 
   size-inheritance issues for content contributers. A base
   definition of 75% produces consistent results in all major
   browsers (from the 16px browser default) and scales consistently
   under zooming.
   */

body {
	background: #f1f1f1; /* footer color */
	padding: 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%; /* 12px *//* font size key in em:
		0.750em = 09px
		0.833em = 10px
		0.917em = 11px
		default = 12px
		1.083em = 13px
		1.167em = 14px
		1.250em = 15px
		1.333em = 16px
		1.500em = 18px
		1.667em = 20px
		1.833em = 22px
		2.000em = 24px
		3.000em = 36px
	*/
}
/**** Tables *****/
 
/* Basic tables will have a light 1-pixel border grid, though a 
   combination of table border and cell border. Table headers
   have a light gray background, with an optional cross-browser
   gradient, which can be disabled by commenting it out in TH.
   */

table {
	width: 100%;
	margin-bottom: 15px;
	border: solid #ddd;
	border-width: 1px 1px 0 0;
	border-collapse: collapse;
}
table table {
	margin-bottom: 0; /* removed margin in nested tables */
}
caption {
	font-style: italic;
	color: #777;
	margin: 0.2em 0;
	line-height: 1.6em;
}
td, th {
	border: solid #ddd;
	border-width: 0 0 1px 1px;
	padding: 6px;
	vertical-align: top;
}
th {
	color: #444;
	border-left-color: #ccc;
	border-bottom-color: #999;
	font-weight: bold;
	text-align: center;
		
	/* optional gradient */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f8f5', endColorstr='#e2e1de');*/ /* disabled due to IE8 bugs */
	background: #f9f8f5 url(../images/layout/ie_tableheader.gif) 0 bottom repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f8f5), to(#e2e1de));
	background: -moz-linear-gradient(top, #f9f8f5, #e2e1de);
}
th p {
	margin-bottom: 0; /* removes <p> margin if used in table headers */
}
/**** Text Styles ****/
 
/* Basic paragraph and header styles. Currently using Georgia
   for h1-h3 and some blue coloration, but this could be stripped
   out and moved to site-specific styles.
   */

p, td, th, li, dt, dd {
	line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 12px;
	color: #386684;
}
h1 {
	font-size: 2.2em;
	font-family: Arial, Helvetica, sans-serif;
}
h2 {
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
}
h3 {
	font-size: 1.5em;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}
h4 {
/* default bold 12px */
}
h5 {
	font-weight: normal;
	color: #386684;
	margin-bottom: 5px;
}
h6 {
	font-weight: normal;
	font-style: italic;
	margin-bottom: 5px;
}
p {
	margin-bottom: 15px;
}
p.last {
	margin-bottom: 0;
}
strong {
	font-weight: bold;
}
blockquote, pre {
	margin-left:2em;
	padding-left: 1em;
	border-left:1px solid #ccc;
	font-style: italic;
	line-height: 1.4em;
}
pre, code {
	font-family: mono-space, monospace;
	font-style: normal;
	margin-bottom: 15px;
}
abbr, acronym {
	text-transform:uppercase;
	border-bottom: 1px dotted #000;
	letter-spacing: 1px;
}
abbr[title], acronym[title] {
	cursor:help;
}
sup, sub {
	font-size:.8em;
	position: relative;
}
sup {
	top: -0.4em;
}
sub {
	top: 0.2em;
}
em, cite {
	font-style:italic;
}
.clear {
	clear: both;
	width: 100%;
}
p.note {
	padding: 10px;
	border: 1px solid #ccc;
}
.more {
	padding-right: 8px;
	background: transparent url(../images/layout/arrows/right_red.gif) no-repeat 100% 80%;
}
.text-highlight-red {
	background: #f0beb6;
}

.text-highlight-yellow {
	background: #f0ee9f;
}

.text-highlight-green {
	background: #c5ee9f;
}
/**** Links ****/
 
/* Using classic Cornell red as the default (but no border styles).
   */

a {
	color: #b31b1b;
}
a:visited {
	/*color: #b37474;*/
	color: #ae5b5a;
}
a:hover {
	color: #f00;
}
a:active {
	color: #e5cfcf;
}
/**** Lists ****/
 
/* Unordered lists use a custom square bullet as default. This will carry
   through to nested lists as well. However, a circle and disc bullet are 
   also available through UL classes below. This allows designers to 
   customize the bullets in their basic lists (and more can be added later).
   */

ul {
	margin-left: 18px;
	margin-bottom: 15px;
}
ul li {
	padding-left: 18px;
	background: url(../images/layout/bullet_square.gif) no-repeat left 7px;
}
ul.disc li {
	background: url(../images/layout/bullet_disc.gif) left 7px no-repeat;
}
ul.circle li {
	background: url(../images/layout/bullet_circle.gif) left 7px no-repeat;
}
ol {
	margin-left: 36px;
	margin-bottom: 15px;
}
ol li {
	padding-left: 0;
	list-style: decimal;
	background: none;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 4px;
}
dl {
	margin-left: 0;
	margin-bottom: 15px;
}
dl dl {
	margin-left: 30px;
}
dt {
	font-weight: bold;
	margin-bottom: 8px;
}
dd {
	margin-bottom: 12px;
}
/* Table of Contents */
ul.toc {
	border-left: 4px solid #dbe3e9;
	margin-left: 1px;
	padding-left: 0px;
	margin-bottom: 20px;
}
ul.toc li {
	background: none;
	padding-left: 10px;
}
ul.toc ol li {
	padding-left: 0;
}
ul.toc a {
	padding-right: 9px;
	background: url(../images/layout/link_arrow_white.gif) right 0.35em no-repeat;
}

/**** Images *****/
image {
	display: block;
}
.image-left, .image-right {
	background: url(../images/layout/corner_white.png) no-repeat 100% 100%;
	padding: 0 2px 2px 0;
}
.image-left {
	float: left;
	margin: 0 12px 6px 0;
}

.image-right {
	float: right;
	margin: 0 0 6px 12px;
}

/**** Forms *****/
 
/* Forms are available for use without much CSS layout to allow for 
   content contributers to design them freely. Classes can then be
   made available to apply different design or layout "themes" to 
   a form. The "basic" theme below is a simple two column alignment.
   */

#wrap form {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	clear: both;
}
#wrap form fieldset {
	border: 1px solid #ccc;
	padding: 15px 10px;
	margin-bottom: 15px;
	float: left;
	width: 680px;
}
#wrap form fieldset.row-submit {
	border: none;
	padding: 0;
}
#wrap input {
	margin-bottom: 4px;
}
#wrap label {
	margin: 0 4px 4px 0;
	vertical-align: top;
}
#wrap select {
	min-width: 200px;
}
#wrap legend {
	padding: 0 5px;
	font-weight: bold;
}
/* Form Theme: Basic */

#wrap form.basic p {
	float: left;
	clear: both;
	display: block;
}
#wrap form.basic input, #wrap form.basic textarea {
	float: left;
	clear: right;
	margin-left: 0;
}
#wrap form.basic label {
	display: block;
	float: left;
	clear: left;
	width: 125px;
	margin: 1px 10px 0 0;
	text-align: right;
	line-height: 1.5em;
}
#wrap form.basic select {
}
#wrap form.basic input[type="text"], #wrap form.basic input[type="password"], #wrap form.basic textarea {
	outline: 2px solid transparent;
	border: 1px solid #999;
	border-top-color: #000;
	padding: 2px;
}
#wrap form.basic input[type="text"]:focus, #wrap form.basic input[type="password"]:focus, #wrap form.basic textarea:focus {
	background: #f3f6f8;
	outline: 2px solid #d1dce3;
	border: 1px solid #000;
}
#wrap form.basic input[type="submit"], #wrap form.basic input[type="reset"] {
	border: 1px solid #999;
	border-bottom-color: #000;
	padding: 3px 6px;
	background: #ededed;
	cursor: pointer;
	
	/* optional gradient */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f8f5', endColorstr='#e2e1de');
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f8f5), to(#e2e1de));
	background: -moz-linear-gradient(top, #f9f8f5, #e2e1de);
}
#wrap form.basic input[type="submit"]:hover, #wrap form.basic input[type="reset"]:hover {
	background: #f5f5f5;
}
#wrap form.basic input[type="submit"]:active, #wrap form.basic input[type="reset"]:active {
	background: #e5e5e5;
}



/**** Component Forms (Dec 2011) *****/
 
/* (activate with form.iws-component)
   */


/* Standardize Element Sizing */
#wrap form.iws-component input[type="text"], 
#wrap form.iws-component input[type="password"], 
#wrap form.iws-component textarea, 
#wrap form.iws-component select, 
#wrap form.iws-component label, 
#wrap form.iws-component div, 
#wrap form.iws-component h4, 
#wrap form.iws-component p {
	-ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*****NOTE: check IE7 */
}

/* Fieldset Toolbar */
#wrap form.iws-component .form-tools {
	float: left;
	width: 100%;
	margin: -5px 0 20px;
	padding: 1px 0;
	border: 1px solid #e1e0d0;
	border-bottom-color: #cbcabc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f1', endColorstr='#e4e3d3');
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f1), to(#e4e3d3));
	background: -moz-linear-gradient(top, #f6f6f1, #e4e3d3);
}
#wrap form.iws-component .form-tools p,
#wrap form.iws-component .form-tools ul {
	float: right;
	margin: 0 6px;
	font-size: 0.917em;
}
#wrap form.iws-component .form-tools li {
	background: none;
	float: left;
	padding: 0 12px;
	border-right: 1px solid #e0dfcf;
}
#wrap form.iws-component .form-tools li.last {
	padding-right: 6px;
	border-right: 0;
}

/* Tag Definitions */
#wrap form.iws-component p {
	padding: 0 6px;
}
#wrap form.iws-component h4 {
	float: left;
	width: 100%;
	margin: 15px 0 10px;
	padding: 4px 6px 3px;
	background: #f7f9fa;
	border-bottom: 1px solid #e5ebef;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#wrap form.iws-component h4.first {
	margin-top: 0;
}
#wrap form.iws-component div.last {
	margin-bottom: 0 !important;
}
#wrap form.iws-component legend a {
	text-decoration: none;
	font-weight: normal;
	background: #f3f5f7;
	margin-left: 2px;
	padding: 0 2px;
}
#wrap form.iws-component label {
	float: left;
	margin: 0;
	padding-top: 0.3em;
}
#wrap form.iws-component input[type="text"], 
#wrap form.iws-component input[type="password"] {
	height: 1.88em;
	width: 26.2em;
	float: left;
}
#wrap form.iws-component input[type="radio"], 
#wrap form.iws-component input[type="checkbox"] {
	float: left;
}
#wrap form.iws-component textarea {
	font-family: Lucida Grande, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 1.0em;
	padding: 4px;
	width: 24em;
	height: 130px;
	float: left;
	margin-bottom: 4px;
}
#wrap form.iws-component select {
	margin: 1px 0 4px;
	width: 26.2em;
	min-width: 0;
	float: left;
}


/* Notes, Errors, and User Messages */
#wrap form.iws-component .form-note {
	float: left;
	width: 26.2em;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: -4px 0 0 36%;
	padding: 0px 3px 1px;
	background: #f5f3e5 url(../images/layout/note_shadow_reverse.gif) 0 bottom repeat-x;
	border: 1px solid #edebde;
	border-top: 0;
	color: #939289;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}
#wrap form.iws-component p.form-note {
	width: auto;
	max-width: 38.6em;
	margin: 2px 0 0 36%;
	padding: 3px 5px 4px;
	border: 1px solid #edebde;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#wrap form.iws-component div.error {
	float: left;
	clear: both;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: 4px 10px 10px 36%;
	padding: 4px 10px 4px 24px;
	background: #f3e2d9 url(../images/layout/icon_error.gif) 7px 0.6em no-repeat;
	border: 1px solid #e1a39c;
	color: #af1111;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#wrap form.iws-component label.error, 
#wrap form.iws-component .alert {
	color: #af1111;
	font-weight: bold;
}
#wrap form.iws-component div.form-feedback {
	float: left;
	width: 100%;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: 0 0 15px;
	padding: 9px 12px 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#wrap form.iws-component div.form-feedback.warning {
	background: #f6f4e2;
	border: 1px solid #ebddbd;
	border-bottom-color: #d9ccae;
	color: #59453f;
}
#wrap form.iws-component div.form-feedback.info {
	background: #e2eef6;
	border: 1px solid #bde3eb;
	color: #547097;
}
#wrap form.iws-component div.form-feedback.success {
	background: #e4f8df url(../images/layout/icon_check.gif) 8px 0.95em no-repeat;
	border: 1px solid #c3eca7;
	color: #50914f;
	padding-left: 24px;
}
#wrap form.iws-component div.form-feedback p {
	margin-bottom: 0;
	padding: 0;
}
/*
#wrap form.iws-component div.form-feedback.warning strong {
	color: #af1111;
}
*/

/* IWS Tooltip Support */
#wrap form.iws-component span.tooltip {
	border: 0;
	float: left;
	width: 14px;
	height: 16px;
	padding-right: 3px;
	background: transparent url(../images/layout/icon_question.png) 0 0 no-repeat;
}
#wrap form.iws-component span.tooltip.info {
	background: transparent url(../images/layout/icon_info.png) 0 0 no-repeat;
}
#wrap form.iws-component span.tooltip:hover {
	cursor: pointer;
}


/* Default Input Size Choices */
#wrap form.iws-component .input-s input[type="text"], 
#wrap form.iws-component .input-s input[type="password"] {
	width: 2.8em;
}
#wrap form.iws-component .input-m input[type="text"], 
#wrap form.iws-component .input-m input[type="password"], 
#wrap form.iws-component .input-m select, 
#wrap form.iws-component .input-m div.form-note {
	width: 13em;
}
#wrap form.iws-component .input-l input[type="text"], 
#wrap form.iws-component .input-l input[type="password"], 
#wrap form.iws-component .input-l select, 
#wrap form.iws-component .input-l div.form-note {
	width: 62.5%;
	max-width: 38.6em;
}
#wrap form.iws-component .input-s div.form-note {
	width: auto;
	max-width: 35.9em;
	min-height: 1.88em;
	float: left;
	margin: 0;
	padding: 1px 4px;
	border: 1px solid #edebde;
	border-left: 0;
	-moz-border-radius: 0 6px 6px 0;
	-webkit-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
}
@-moz-document url-prefix() { /* FF */
	#wrap form.iws-component .input-s div.form-note {
		min-height: 1.5em;
	}
}
#wrap form.iws-component .input-s div.error {
	margin-top: 0;
}
#wrap form.iws-component .textarea-s textarea {
	height: 40px;
	overflow: hidden;
}
#wrap form.iws-component .textarea-m textarea {
	height: 70px;
}
#wrap form.iws-component .textarea-l textarea {
	width: 62.5%;
	max-width: 600px;
	height: 250px;
}
#wrap form.iws-component .textarea-l div.form-note {
	width: 62.5%;
	max-width: 600px;
}
#wrap form.iws-component .input-s select {
	width: 4em;
}


/* Option Lists */

#wrap form.iws-component ul.form-list {
	float: left;
	margin: 2px 0 10px 1px;
	width: 62.5%;
}
#wrap form.iws-component ul.form-list li {
	background: none;
	padding: 0;
	margin: 0 0 1px 0;
	width: 100%;
	float: left;
	line-height: 1.4em;
}
#wrap form.iws-component ul.form-list li label {
	padding: 0;
}
#wrap form.iws-component ul.form-list li input[type="radio"], 
#wrap form.iws-component ul.form-list li input[type="checkbox"] {
	margin: 1px 4px 0 0;
}


/* Left-Right Adjustments */
#wrap form.iws-component .form-pair {
	float: left;
	clear: left;
	width: 100%;
	margin-bottom: 5px;
}
#wrap form.iws-component .form-left {
	float: left;
	width: 35%;
	margin-right: 1%;
}
#wrap form.iws-component .form-left label {
	/*width: 100%;*/
	float: right;
	/*text-align: right;*/
}
#wrap form.iws-component .form-left input, 
#wrap form.iws-component .form-left select {
	float: right;
}


/* Tight-Loose Margins */
#wrap form.iws-component .form-pair.tight {
	margin-bottom: 1px;
}
#wrap form.iws-component .form-pair.tight input, 
#wrap form.iws-component .form-pair.tight select {
	margin-bottom: 0;
}
#wrap form.iws-component .form-pair.loose {
	margin-bottom: 20px;
}
#wrap form.iws-component .form-pair.loose input, 
#wrap form.iws-component .form-pair.loose select {
	margin-bottom: 0;
}
#wrap form.iws-component .form-pair.loose div.form-note {
	margin-top: 0;
}




/**** Layout *****/
#wrap {
	float: left;
	width: 100%;
	clear: both;
	background: #fff;
}

#content {
	width: 960px;
	margin: 0 auto;
}
#main, #secondary, #section-navigation, #section-navigation-wrap {
	float: left;
}
.secondary-section, .secondary-photo {
	float: left;
	width: 100%;
}

/* twocolumn pages */
#main {
	width: 690px;
	min-height: 200px;
	float: right;
	padding: 15px 0;
}

#secondary {
	width: 240px;
	padding: 20px 0;
}
#section-navigation {
	width: 240px;
	padding: 0 0 20px;
	margin-left: 0;
}

/* onecolumn pages */
.onecolumn #main {
	width: 100%;
}

/* twocolumn pages with secondary on the right */
.twocolumn-right #main {
	float: left;
}

.twocolumn-right #secondary, .twocolumn-right #section-navigation {
	float: right;
}

/**** Header *****/
#header {
	float: left;
	width: 100%;
	/*border-top: 1px solid #ccc;*/ /* optional border for white Cornell banners */
}

#navigation {
	float: left;
	width: 100%;
	clear: both;
	background: #ccc;
}

#identity, #navigation ul {
	width: 960px;
	margin: 0 auto;
}
#navigation ul ul {
	width: auto;
}

#identity h1 {
	height: 60px;
	line-height: 60px;
	margin: 0;
	padding: 0;
}

#navigation li {
	float: left;
	background-image: none;
	margin: 0;
	padding: 0;
}

#navigation li a, #navigation li a:visited {
	float: left;
	padding: 4px 10px;
	text-decoration: none;
	font-weight: bold;
}

#navigation li a:hover, #navigation li a:active {
	background: #E2E2E2;
}

/* grid */
		
.columns {
	float: left;
	width: 100%;
	clear: both;
}
.col {
	float:left;
	display:inline;
	width:48%;
	margin-left:4%;
}
.three .col {
	width:30%;
	margin-left:5%;
}
.four .col {
	width:22%;
	margin-left:4%;
}
 .col.first {
	 margin-left: 0;
 }


/**** Footer *****/ 

#footer {
	float: left;
	clear: both;
	width: 100%;
	padding: 20px 0;
	/*border-top: 1px solid #ccc;*/
	background: transparent url(../images/project/bg_footer.jpg) 50% 0 no-repeat;
}
#footer-content {
	width: 960px;
	margin: 0 auto;
}
#footer p {
	font-size: 0.917em;
	margin: 0;
}
#footer-left {
	float: left;
}
#footer-right {
	float: right;
	text-align: right;
}
#footer ul {
	float: left;
	display: block;
	margin-left: 0;
}
#footer li {
	font-size: 0.917em;
	padding: 0 13px 0 10px;
	margin: 0;
	float: left;
	background: transparent url(../images/layout/icon_footer_listdiv.gif) right center no-repeat;
}
#footer .first {
	padding-left: 0;
}
#footer .last {
	background: none;
}

/**** Misc *****/

.inline-note {
	font-size: 0.833em;
	background: #f7f7f6 url(../images/layout/pencil.gif) left 2px no-repeat;
	color: #8c6522;
	border: 1px solid #f7f7f6;
	padding: 0px 4px 0px 15px;
}






/* Project CSS ************************************* */

/* 
   */

body {
	background: #efefed url(../images/project/bg_body.jpg) 0 0 repeat-x;
}
hr {
	display: none;
}
#wrap, #navigation {
	background: none;
}



/* campaign */
#header {
	float: none;
	width: 960px;
	margin: 0 auto;
}
#campaign {
	float: left;
	width: 960px;
	height: 155px; /* max 160 */
	background: #fffffe url(../images/project/bg_campaign.jpg) 0 100% repeat-x;
	margin: 0 auto;
}
#identity {
	float: left;
	margin: 0 20px;
}
#identity h1, #identity h2, 
#identity a h1, #identity a h2, 
#identity a:visited h1, #identity a:visited h2 {
	width: 460px;
	height: auto;
	float: left;
	color: #343453;
	font-weight: normal;
	font-family: Georgia, serif;
	/*font-size: 2.583em;  ~31px (original section title size) */
	font-size: 2.25em; /* 27px (revised for secondary site title) */
	line-height: 1.3em;
	margin-left: 15px;
	text-shadow: 0 1px 1px #fff;
}
#identity a {
	text-decoration: none;
}
#identity h1 { /* hide on secondary pages */
	position: absolute;
	top: -2000px;
	left: -2000px;
}
#identity h2 {
	/*width: auto;  (original section title size) */
	margin-top: 3px;
	
	/* (revised for secondary site title) */
	width: 200px;
	line-height: 1.2em;
}


/* custom footer */
#footer-content-wrap {
	float: left;
	padding: 0 0 12px;
	width: 100%;
}
#footer-message-wrap {
	float: left;
	margin-top: -12px; /* negative margin to maintain footer padding, with or without this optional DIV */
	width: 100%;
	text-align: center;
}
#footer ul, #footer p {
	margin-bottom: 12px;
}
#footer li.last, #footer li:last-child {
	padding-right: 0;
	background: none;
}
#footer li.first, #footer li:first-child {
	padding-left: 0;
}
#footer ul ul {
	margin-bottom: 0;
}
#footer li li {
	font-size: 1.0em;
}



h1, h2, h3, h5, h6 {
	color: #0f458d;
}
h4 {
	color: #333;
}
#main h2, #main h3, .home #secondary h3, .home #tertiary h3 {
	text-transform: uppercase;
}
#main h2 {
	font-weight: normal;
}
#main h2 a, #main h2:visited, #main h2:active, #main h2:hover {
	color: #0f458d;
	text-decoration: none;
}



#section-title { /* vertical centering aid */
	display: table;
	height: 100%;
}
#campaign h2 {
	/*width: 280px;
	padding: 0;
	margin: 0;
	font-size: 2.5em;
	line-height: 1.1em;
	font-weight: normal;
	display: table-cell;
	vertical-align: middle;*/
}

/* breadcrumb */

#breadcrumbs {
	display: block;
	width: 100%;
	margin: 0 0 10px;
}
#breadcrumbs li {
	display: inline;
	margin: 0 6px 0 0;
	padding: 0;
	background: none;
}
#breadcrumbs li a {
	font-size: 0.917em;
	padding: 0 10px 0 0;
	background: transparent url(../images/layout/icon_arrow_darkgrey.gif) right 0.35em no-repeat;
}
#breadcrumbs .breadcrumb-active {
	font-size: 0.917em;
	display: none;
}
#breadcrumbs li a:visited {
	color: #b31b1b;
}

/* main navigation */
#navigation {
	width: 920px;
	height: 39px;
	margin: 20px 20px 12px;
	background: transparent url(../images/project/bg_nav.png);
	/*background: #4d76ae;*/ /* IE6 */
}
#navigation li {
	line-height: 40px;
	text-transform: uppercase;
	white-space: nowrap;
	font-size: 1.083em;
	width: 150px;
	background: none;
}
#navigation li {
	background: transparent url(../images/project/bg_nav_item_l.gif) 0 12px no-repeat;
}
#navigation li a span {
	width: 100%;
	display: block;
	background: transparent url(../images/project/bg_nav_item_r.gif) 100% 12px no-repeat;
}
#navigation li.first, #navigation li.last a span {
	background: none;
}
#navigation li a, #navigation li a:visited {
	color: #fff;
	padding: 0;
	display: block;
	width: 100%;
	text-align: center;
}
#navigation li.active a, 
.home #navigation li.nav1 a, 
.section-about #navigation li.nav2 a, 
.section-people #navigation li.nav3 a, 
.section-research #navigation li.nav4 a, 
.section-education #navigation li.nav5 a, 
.section-contact #navigation li.nav6 a {
	background: url(../images/project/bg_nav_item_lit2.png) 0 0 repeat-x;
	/*background: none*/ /* IE6 */
}
#navigation li a:hover, #navigation li a:active {
	background: url(../images/project/bg_nav_item_active.png) 0 0 repeat-x !important;
	/*background: none*/ /* IE6 */
}

/* navigation sizes */
#navigation li.nav1 { width: 115px; }	/* HOME */
#navigation li.nav2 { width: 125px; }	/* ABOUT */
#navigation li.nav3 { width: 135px; }	/* PEOPLE */
#navigation li.nav4 { width: 155px; }	/* RESEARCH */
#navigation li.nav5 { width: 250px; }	/* EDUCATION-TRAINING */
#navigation li.nav6 { width: 140px; }	/* CONTACT */







/* section navigation (filtered nav) */

#pages {
	float: left;
	margin-bottom: 20px;
}
.widget_pages h3 {
	color: #fff;
	font-size: 1.083em;
	font-weight: bold;
	padding-left: 19px;
}
.widget_pages, .widget_pages li {
	background: none;
	padding: 0;
	margin: 0;
	line-height: 1;
}
.widget-list, .widget-list ul, .widget_pages ul {
	margin-left: 0;
}
.widget_pages ul.children { 
	display: none;
}
.widget_pages a, .widget_pages a:visited { 
	display: block;
	text-decoration: none;
	color: #b31b1b;
	font-weight: bold;
}
.widget_pages a:hover { 
	color: #f00;
}
.widget_pages a span { 
	line-height: 1.4em;
}

/* --- 1 all children expanded --- 
.widget_pages .current_page_ancestor ul.children, .widget_pages .current_page_item ul.children {
    display: block;
    margin-top: 5px;
}*/
/* /1 --- */

/* --- 2 only direct ancestors expanded --- */
.widget_pages .current_page_ancestor>ul.children, .widget_pages .current_page_item>ul.children {
	display: block;
	float: left;
   /*margin-top: 5px;*/
}
.widget_pages>ul>li {
	display: none;
}
.widget_pages>ul>li.current_page_ancestor, .widget_pages>ul>li.current_page_item {
	display: block;
}
/* /2 --- */

.widget_pages .current_page_ancestor ul.children li, .widget_pages .current_page_item ul.children li, .widget_pages .current_page_parent>a, .widget_pages>ul>li.current_page_item>a, .widget_pages>ul>li.current_page_ancestor>a {
	padding: 12px 10px 12px 19px;
	border-bottom: 1px solid #fff;
}
.widget_pages .current_page_parent>a, .widget_pages>ul>li.current_page_item>a {
	float: left;
	width: 211px;
}
.widget_pages>ul>li.current_page_parent>a span, .widget_pages>ul>li.current_page_item>a span, .widget_pages>ul>li.current_page_ancestor>a span {
	padding: 12px 15px 12px 0;
	background: url(../images/project/icon_arrowblue_sm.png) no-repeat 100% 1.2em;
}
.widget_pages .current_page_item a, .widget_pages .current_page_item a:hover {
    color: #333;
}
.widget_pages>ul>li.current_page_item>a, .widget_pages>ul>li.current_page_item>a:hover, 
.widget_pages>ul>li.current_page_parent>a, .widget_pages>ul>li.current_page_parent>a:hover, 
.widget_pages>ul>li.current_page_ancestor>a, .widget_pages>ul>li.current_page_ancestor>a:hover {
    color: #345f99;
}
.widget_pages .current_page_item li a, .widget_pages .current_page_item li a:visited {
    color: #b31b1b;
}
.widget_pages .current_page_item li a:hover {
    color: #f00;
}
.widget_pages ul.children li {
	/*margin-bottom: 6px;*/
}
.widget_pages ul.children li a {
	/*font-weight: normal;*/
}
.widget_pages li.current_page_item {
	background: url(../images/project/bg_sectionnav.png) repeat-y 0 0;
}
/* sub-listing */
.widget_pages ul.children>.current_page_item>ul.children, .widget_pages ul.children>.current_page_parent>ul.children {
	padding: 13px 0 12px;
	width: 221px;
	margin-right: -10px;
}
.widget_pages .current_page_ancestor .current_page_ancestor {
	float: left;
	padding-bottom: 0 !important;
	border: 0 !important;
}
.widget_pages .current_page_ancestor .current_page_ancestor li:first-child {
	border-top: 1px solid #fff;
}
.widget_pages .current_page_ancestor .current_page_ancestor>a {
	padding: 0 !important;
	border-bottom: 0 !important;
}


/* posts */

.post {
	float: left;
	margin-bottom: 20px;
}
.post p {
	margin-bottom: 0;
}
.post img {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 20px;
}
.post h4 {
	margin-bottom: 2px;
}
.post .entry-date {
	font-size: 0.917em;
	color: #666;
	margin-bottom: 7px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { /* Safari */
	.post .entry-date {
		margin-bottom: 8px;
	}
}
.post .edit-link {
	margin-top: 8px;
}


/* secondary widgets */

#secondary #sidebar-content, #secondary #related {
	float: left;
	padding-left: 19px;
}
#secondary #sidebar-content .widget-container, #secondary #related .widget-container {
	float: left;
	width: 100%;
	margin-bottom: 12px;
}
#secondary #sidebar-content h3.widget-title, #secondary #related h3.widget-title {
	color: #333;
	font-size: 1.083em;
	font-weight: bold;
}
#secondary #sidebar-content ul, #secondary #related ul {
	margin-left: 2px;
}
#secondary #sidebar-content ul li, #secondary #related ul li {
	padding: 0 0 0 12px;
	line-height: 1.4em;
	margin-bottom: 5px;
	background: transparent url(../images/layout/icon_arrow_darkgrey.gif) 0 0.4em no-repeat;
}


/* homepage overrides */
body.home {
	background: #efefed url(../images/project/bg_body_home.jpg) 0 0 repeat-x;
}
.home #campaign {
	float: left;
	width: 960px;
	height: 384px;
	background: #fffffe url(../images/project/bg_campaign_home.gif) 0 0 repeat-x;
	margin: 0 auto;
}
#campaign-content {
	float: left;
	width: 960px;
	height: 384px;
	background: transparent url(../images/project/campaign_home.jpg) 95px 0 no-repeat;
	margin: 0;
}
.home #identity {
	float: left;
	width: 560px;
	height: 284px;
	margin: 0 20px 20px;
	position: relative;
}
.home #identity h1 {
	position: static;
	top: auto;
	left: auto;
	font-size: 2.75em; /* 33px */
	margin: 18px;
}
.home #identity h2 {
	float: left;
	width: auto;
	color: #304e78;
	font-weight: normal;
	font-family: Arial, sans-serif;
	font-size: 1.167em;
	line-height: 1.3em;
	margin: 0 0 9px 16px;
	position: absolute;
	bottom: 0;
}
.home #navigation {
	margin-bottom: 21px;
}

/* homepage campaign gallery */
#campaign-gallery {
	float: right;
	width: 270px;
	height: 270px;
	padding: 10px 0 0 10px;
	margin: 0 20px 20px;
	background: #eeeeed url(../images/project/bg_campaign_gallery.jpg) 0 0 repeat-x;
}
#campaign-gallery ul {
	margin: 0;
}
#campaign-gallery li {
	background: none;
	width: 125px;
	height: 125px;
	float: left;
	margin: 0 10px 10px 0;
	padding: 0;
}
#campaign-gallery li img {
	width: 125px;
	height: 125px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#campaign-gallery li:hover {
	width: 123px;
	height: 123px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 3px solid #fff;
	margin: -2px 8px 8px -2px;
}
#campaign-gallery li:hover img {
	margin: -1px 0 0 -1px;
}


/* homepage three-column */
.home #content-wrap {
	float: left;
	margin: 30px 0 40px;
	background: url(../images/project/bg_content_home.gif) 50% 0 repeat-y;
}
.home #secondary {
	width: 260px;
	padding: 10px 20px;
}
.home #main {
	width: 320px;
	padding: 10px 20px;
	float: left;
}
.home #tertiary {
	float: right;
	width: 260px;
	padding: 10px 20px;
}

/* home posts */
.home .post img {
	width: 80px;
	height: 80px;
	margin-right: 8px;
}
.home .entry-content p {
	font-size: 0.917em;
	line-height: 1.4em;
}
.home .home-more {
	float: left;
	font-size: 0.917em;
	padding: 0 22px 0 0;
	height: 26px;
	line-height: 26px;
	background: url(../images/project/icon_arrow.png) no-repeat 100% 50%;
}

/* home lists */

.home #secondary .menu, .home #tertiary .menu {
	margin-left: 0;
}
.home #secondary .menu li, .home #tertiary .menu li {
	line-height: 1.5em;
	margin-bottom: 7px;
	padding: 0 0 0 18px;
	background: url(../images/project/icon_bulletblue.png) no-repeat 0 0.4em;
}
.home #secondary .menu li a, .home #tertiary .menu li a {
	font-weight: bold;
}
.home #secondary .home-more, .home #tertiary .home-more {
	margin-left: 18px;
}


/* related posts */

/* category listing 
.widget_pages #category-listing ul.children { 
	display: block;
}
#category-listing li.heading { 
	font-weight: bold;
	color: #403f3a;
}
#category-listing ul.children { 
	margin-top: 5px;
}
#category-listing ul.children li {
	padding-left: 18px;
	background: url(../images/layout/icon_arrow_grey.gif) no-repeat 7px 0.4em;
}
#category-listing ul.children li.current a {
	color: #000;
}*/



/* WordPress */

/* edit link */
.edit-link {
	display: block;
	margin-bottom: 30px;
}
.edit-link a {
	background: #f7f7f6 url(../images/layout/pencil.gif) 3px 4px no-repeat;
	border: 1px solid #e1e1db;
	padding: 3px 8px 3px 17px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	text-decoration: none;
	font-size: 0.917em;
	line-height: 1;
	color: #b31b1b;
}
.edit-link a:visited {
	color: #b31b1b;
}
.edit-link a:hover {
	color: #f00;
}

/* customized WordPress styles */

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 3px 10px 10px;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.alignleft {
	float: left;
	margin: 0 12px 2px 0;
}

.alignright {
	float: right;
	margin: 0 0 2px 12px;
}
.aligncenter,
dl.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.mceIEcenter {
	text-align: center;
}
.wp-caption img {
	margin: 0 4px;
	padding: 0;
	border: 0 none;
}
.wp-caption-dd {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
p.wp-caption-text {
	margin: 0;
	padding: 3px;
	font-size: 0.917em;
}





