/**
 * Theme Name: Cornell CEWG (Oxygen)
 * Theme URI: http://alienwp.com/themes/oxygen/
 * Description: NOTE: 0.5 is a major update. Please backup your theme before updating and read the changelog.txt file for details. Oxygen is a minimalistic, mobile-optimized magazine theme with responsive layout. The main features include a featured content slider, custom front page template, 5 widget areas, and 3 menus.
 * Version: 0.5
 * Author: AlienWP (edited by IWS)
 * Author URI: http://alienwp.com
 * Tags: flexible-width, theme-options, threaded-comments, microformats, translation-ready, rtl-language-support, three-columns, right-sidebar, left-sidebar, custom-background, featured-images
 * License: GNU General Public License v2.0
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 *
 */

/* Normalize
-------------------------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
audio:not([controls]) { display: none; }
[hidden] { display: none; }
figure { margin: 0; }
html {
	font-size: 1em;	/* 16px */
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	margin: 0;
	font: 0.75em/1.75em 'Helvetica Neue', Helvetica, Arial, sans-serif;	/* 12 / 16 = 0.75;  21 / 12 = 1.75 */
	color: #444;
	background: #fff;
	padding: 0;
}
::-moz-selection {
	background: #000;
	color: #fff;
	text-shadow: none;
}
::selection {
	background: #000;
	color: #fff;
	text-shadow: none;
}
a, a:visited {
	color: #0da4d3;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #000;
	border-bottom: 1px solid #0da4d3;
}
a:focus { outline: none; }
a:hover, a:active { outline: 0; }
abbr { cursor: help }
abbr[title] { border-bottom: 1px dotted; }
acronym {
	font-size: .85em;
	text-transform: uppercase;
	color: #666;
	border-bottom: 1px dotted #eee;
	cursor: help;
}
acronym:hover {
	color: #333;
	background: #f3f3f3;
	border-bottom: 1px dotted #aaa;
}
small { font-size: 0.9166666666666667em; }	/* 12 / 13 = 0.9166666666666667 */
big { font-size: 15px; }
p { margin: 0 0 1.75em 0 }
b, strong { font-weight: bold; }
blockquote {
	margin: 0 1.75em;
	font-style: normal
}
blockquote em, blockquote cite { font-style: italic }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}
em, cite { font-style: italic; }
em em, cite cite { font-style: normal }
dfn { font-style: italic; }
address {
	font-style: italic;
	margin: 0 0 1.75em 0
}
li address, dd address { margin:0 }
del { text-decoration: line-through }
embed, object, video { margin-bottom: 1.75em }
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0 1.75em 0;
	padding: 0;
}
ins {
	background: #f3f3f3;
	color: #000;
	text-decoration: none;
	font-style: italic;
}
mark {
	background: #f3f3f3;
	color: #000;
	font-style: italic;
	font-weight: bold;
}
pre, code, kbd, samp {
	font-family: monospace, monospace;
	_font-family: 'courier new', monospace;
	font-size: 1em;
}
pre code { font-size: 1em }
pre {
	font-size: 0.9166666666666667em;
	font-family: Monaco, monospace, Courier, "Courier New";
	overflow: auto;
	line-height: 1.75em;
	margin-bottom: 1.75em;
	padding: 10px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
code {
	font-size: 0.9166666666666667em;
	font-family: Monaco, monospace, Courier, "Courier New";
}
sub, sup {
	font-size: 0.8333333333333333em;	/* 10 / 12 = 0.8333333333333333 */
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul {
	list-style: circle;
	margin: 0 0 1.75em 2.8em;
	padding: 0;
}
ol {
	list-style-type: decimal;
	margin: 0 0 1.75em 3.1em;
	padding: 0;
}
ol ol { list-style: upper-roman }
ol ol ol { list-style: lower-roman }
ol ol ol ol { list-style: upper-alpha }
ol ol ol ol ol { list-style: lower-alpha }
ul ul, ol ol, ul ol, ol ul { margin-bottom:0 }
dl { margin: 0 0 1.75em 5px }
dt {
	font-weight: bold;
	margin: 10px 0 0 0
}
dd { margin: 5px 0 0 1.5em }
h1, h2, h3, h4, h5, h6 {
	font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	margin: 0 0 15px 0;
	color: #333;
	line-height: 1.3em;
}
h1 { font-size: 3em; }	/* 36 / 12 = 3 */
h2 { font-size: 2em; }	/* 24 / 12 = 2 */
h3 { font-size: 1.666666666666667em; }	/* 20 / 12 = 1.666666666666667 */
h4 { font-size: 1.5em; }	/* 18 / 12 = 1.5 */
h5 { font-size: 1.333333333333333em;	/* 16 / 12 = 1.333333333333333 */ }
h6 {
	font-size: 1.166666666666667em;	/* 14 / 12 = 1.166666666666667 */
	text-transform: uppercase;
	font-weight: normal;
}
img {
	border: 0;
	-ms-interpolation-mode: bicubic;
	vertical-align: middle;
}
svg:not(:root) { overflow: hidden; }
form { margin: 0; }
fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}
label { cursor: pointer; }
legend {
	border: 0;
	*margin-left: -7px;
	padding: 0;
}
button, input, select, textarea, a.button {
	font-size: 1em;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
}
button, input, a.button {
	line-height: normal;
	*overflow: visible;
}
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}
textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}
input:valid, textarea:valid {}
input:invalid, textarea:invalid { background-color: #f0dddd; }
option { padding: 1px 2px; }
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 1.75em;
}
td { vertical-align: top; }
th, td { text-align: left; }

/* Transitions 
-------------------------------------------------------------- */
a, a img, .featured-post .byline {
	-webkit-transition: all 0.18s ease-out;
	-moz-transition: all 0.18s ease-out;
	-ms-transition: all 0.18s ease-out;
	-o-transition: all 0.18s ease-out;
	transition: all 0.18s ease-out;
}

/* WordPress classes 
-------------------------------------------------------------- */
.hfeed h1, .hfeed h2, .hfeed h3, .hfeed h4, .hfeed h5, .hfeed h6 { font-weight: normal; }
img.wp-smiley {
	max-height: 0.8125em;
	margin: 0;
	padding: 0;
	border: none;
}
.gallery {
	display: block;
	text-align: center;
	margin-bottom: 1.75em !important;
}
.left, .alignleft {
	float: left;
	margin: 0 15px 5px 0;
}
.right, .alignright {
	float: right;
	margin: 0 0 10px 20px;
}
.center, .aligncenter {
	display: block;
	margin: 0 auto 1.75em auto !important;
}
.block, .alignnone {
	display: block;
	margin: 0 0 1.75em 0;
}
img.alignleft, img.alignright {
	margin-top: 5px;
	display: inline;
}
blockquote.alignleft, blockquote .alignright { width: 33%; }
.byline abbr, .entry-meta abbr, .comment-meta abbr { border: none; }

/* Tables 
-------------------------------------------------------------- */
table {
	margin: 0 0 1.75em 0;
	width: 100%;
}
table caption {
	font-size: 0.8125em;
	line-height: 1.75em;
	color: #888;
}
table th {
	font-size: 0.9166666666666667em;
	line-height: 1.75em;
	font-weight: normal;
	text-transform: uppercase;
	padding: 10px 2%;
	border-bottom: none;
	border-bottom: 1px solid #ddd;
	text-align: left;
}
td {
	padding: 0.8125em 2%;
	color: #888;
	border-bottom: 1px solid #e7e7e7;
}

/* Lists 
-------------------------------------------------------------- */
ul li, ol li { line-height: 2.1em; }
dl { margin: 0 0 20px 30px; }
dl dt {
	margin: 0;
	font-size: 1.333333333333333em;		/* 16 / 12 = 1.333333333333333 */
	line-height: 1.75em;
	font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
}
dl dd {
	margin: 0 0 5px 20px;
	padding: 0;
	color: #888;
}

/* Blockquotes
-------------------------------------------------------------- */
blockquote, blockquote blockquote blockquote {
	overflow: hidden;
	padding: 0 0 0 35px;
	font-size: 1.333333333333333em;		/* 16 / 12 = 1.333333333333333 */
	font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #aaa;
	background: url(images/quote.png) no-repeat 0 4px;
}

/* Code 
-------------------------------------------------------------- */
code {
	padding: 0 3px;
	background: #ffe5e5;
}
pre {
	padding: 15px 20px;
	background: #ffecec;
}
pre code {
	padding: 0;
	background: transparent;
}

/* Forms 
-------------------------------------------------------------- */
form label {
	line-height: 1.5em;
	color: #111;
}
input[type="text"], input[type="password"], input[type="email"], .input-text, textarea, select {
	border: 1px solid #ccc;
	padding: 5px;
	outline: none;
	font-size: 0.8125em;
	color: #888;
	margin: 0;
	display: block;
	background: #fff;
}
select { padding: 0; }
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus, .input-text:focus {
	border-color: #888;
	color: #333;
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.3);
	box-shadow:  0 0 4px rgba(0,0,0,.3);
}
textarea {
	display: block;
	width: 80%;
	min-height: 60px;
}
input[type="radio"] { vertical-align: text-middle; }
input[type="checkbox"] { display: inline; }
input[type="submit"]:hover { cursor: pointer }
.error { color: #0da4d3; }

/* Images & Video
-------------------------------------------------------------- */
#site-title a:hover img { border: none; }
.hentry img, .entry-content img, .widget img, .wp-caption, .hentry embed, .entry-content embed, .widget embed, .hentry object, .entry-content object, .widget object, .hentry video, .entry-content video, .widget video {
	max-width: 100%;
}
.hentry img, .entry-content img, .widget img, .wp-caption {
	height: auto;
}

/* Captions [caption] 
-------------------------------------------------------------- */
.wp-caption {
	overflow: hidden;
}
.wp-caption img { margin: 0 0 5px 0; }
.wp-caption .wp-caption-text {
	margin: 5px 0;
	font-size: 0.9166666666666667em;
	line-height: 1em;
	color: #888;
	text-align: left;
}
.wp-caption a { border: none; }

/* Galleries 
-------------------------------------------------------------- */
.gallery {
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0 auto;
	margin: 0 !important;
}
.gallery br {
	display: block;
	line-height: 0;
	height: 0;
}
.gallery a { border: none; }
.gallery .gallery-row {
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0
}
.gallery .gallery-item {
	overflow: hidden;
	float: left;
	margin: 0;
	margin: 0 0 15px 0 !important;
	text-align: left;
	list-style: none;
	padding: 0;
}
.gallery img, .gallery .gallery-item .gallery-icon img {
	max-width: 89%;
	height: auto;
	margin: 0 auto
}
.gallery-icon {
	overflow: hidden;
	margin: 0;
}
.gallery-caption {
	margin: 0;
	font-size: 0.9166666666666667em;
	line-height: 1.4em;
	color: #aaa;
}
.attachment-image {
	float: left;
	width: 100%;
}
.singular-attachment .hentry .gallery-caption { display: none; /* Hide captions in gallery on attachment pages */ }
.gallery-caption { margin: 3px 0 0 0 }
.col-0 { width: 100% }
.col-1 { width: 100% }
.col-2 { width: 50% }
.col-3 { width: 33.33% }
.col-4 { width: 25% }
.col-5 { width: 20% }
.col-6 { width: 16.66% }
.col-7 { width: 14.28% }
.col-8 { width: 12.5% }
.col-9 { width: 11.11% }
.col-10 { width: 10% }
.col-11 { width: 9.09% }
.col-12 { width: 8.33% }
.col-13 { width: 7.69% }
.col-14 { width: 7.14% }
.col-15 { width: 6.66% }
.col-16 { width: 6.25% }
.col-17 { width: 5.88% }
.col-18 { width: 5.55% }
.col-19 { width: 5.26% }
.col-20 { width: 5% }
.col-21 { width: 4.76% }
.col-22 { width: 4.54% }
.col-23 { width: 4.34% }
.col-24 { width: 4.16% }
.col-25 { width: 4% }
.col-26 { width: 3.84% }
.col-27 { width: 3.7% }
.col-28 { width: 3.57% }
.col-29 { width: 3.44% }
.col-30 { width: 3.33% }

/* Layout
-------------------------------------------------------------- */
#main {
	clear: both;
	width: 100%;
	margin: 0 auto;
	position: relative;
}
.page-template-fullwidth #content { width: 100%; }
.content-wrap {
	float: right;
	width: 79.78723404255319%;	/* 750 / 940 = 0.79787234042553 */
}
.page-template-fullwidth .content-wrap { width: 100%; }
#content {
	float: left;
	width: 62.66666666666667%;	/* 470 / 750 = 0.6266666666666667 */
	margin: 0 0 30px 0;
}
.aside {
	float: left;
	width: 17.02127659574468%;	/* 160 / 940 = 0.1702127659574468 */	
}
#sidebar-primary {
	float: left;
	width: 100%;	/* 160 / 940 = 0.1702127659574468 */
}
#sidebar-secondary {
	float: right;
	width: 33.33333333333333%;	/* 250 / 750 = 0.3333333333333333 */
}
.wrap {
	max-width: 940px;
	margin: 0 auto;
	position: relative;
}
#comments-template { clear: left; }

/* Header 
-------------------------------------------------------------- */
#header {
	clear: both;
	width: 100%;
	float: left;
	padding: 40px 0 0 0;
}
#branding {
	float: left;
	width: 45%;
	overflow: hidden;
}
#site-title {
	font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 3em;	/* 36 / 12 = 3 */
	line-height: 1em;
	margin: 0 0 3px 0;
	text-transform: uppercase;
	word-wrap: break-word;
}
#site-title a {
	color: #222;
	border-bottom: none;
}
#header img { max-width: 100%; }
#site-description {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.9166666666666667em;	/* 11 / 12 = 0.9166666666666667 */
	font-weight: normal;
	line-height: 1.5em;
	margin-bottom: 20px;
	color: #bbb;
	float: left;
	width: 91.48936170212766%;
	clear: both;
}
.breadcrumbs {
	font-size: 0.9166666666666667em;
	color: #aaa;
	float: left;
	width: 94.85%;
	background: #f3f3f3;
	padding: .25em .6em .35em .9em;
	margin-bottom: 20px;
	border-left: 10px solid #e9e9e9;
}
.breadcrumbs a, .breadcrumbs a:visited { color: #777; }
.breadcrumbs a:hover { color: #000; }
#sidebar-header {
	overflow: hidden;
	float: right;
	width: 49.78723404255319%;	/* 468 / 940 = 0.4978723404255319 */
	height: 60px;
	margin-bottom: 20px;
}

/* Primary menu 
-------------------------------------------------------------- */
#menu-primary {
	font-size: 1em;
	width: 100%;
	margin: 0 0 10px 0;
	float: left;
	clear: left;
	position: relative;
	z-index: 99;
}
#menu-primary li {
	display: block;
	float: left;
	min-height: 30px;
	padding-left: 1.8em;
	background: url(images/menu-separator.png) no-repeat left 15%;
}
#menu-primary li:first-child {
	padding-left: 0;
	background: none;
}
#menu-primary li a {
	font-family: 'Abel', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.333333333333333em;
	font-weight: 400;
	line-height: 1em;
	margin-right: 1em;
	display: block;
	text-transform: lowercase;
}
#menu-primary li.current-menu-item a { color: #aaa; }
#menu-primary li li, #menu-primary li li.current-menu-item li {
	clear: both;
	float: none;
	border-top: 1px solid #ddd;
	padding-left: 0;
	background: none;
}
#menu-primary li li:first-child, #menu-primary li li.current-menu-item li:first-child { border-top: none; }
#menu-primary li li a, #menu-primary li li.current-menu-item li a {
	font-size: 1.166666666666667em; /* 14 / 12 = 1.166666666666667 */
	text-transform: none;
	color: #888;
	margin: 0 5px;
	padding: 12px 15px;
}
#menu-primary ul li a:hover, #menu-primary li ul li a:hover {
	color: #222;
	border-bottom: none;
}

/* Dropdowns
-------------------------------------------------------------- */
.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li:hover { visibility: inherit }
.menu li {
	float: left;
	position: relative;
}
.menu a {
	display: block;
	position: relative;
}
#menu-primary li ul {
	display: none;
	position: absolute;
	top: 25px;
	left: 0;
	border: 1px solid #ddd;
	border-top: none;
	background: #fff;
	z-index: 100;
}
#menu-primary li:first-child ul { left: -20px; }
#menu-primary li:hover ul, #menu-primary li.sfHover ul { display: block; }
#menu-primary li:hover li ul, #menu-primary li.sfHover li ul { top: -999em; }
#menu-primary li li:hover ul, #menu-primary li li.sfHover ul {
	top: -1px;
	left: 100%;
	margin-left: 0;
	border-top: 1px solid #e5e5e5;
}
.sf-sub-indicator {
	text-indent: -9999em;
	width: 10px;
	height: 10px;
	display: inline-block;
	background: url(images/dropdown.png) no-repeat right 40%;
	position: absolute;
	top: 25%;
	right: 0;
}
.menu li li .sf-sub-indicator {
	top: 37%;
	background: url(images/dropright.png) no-repeat right 50%;
	margin-right: 7px;
}
.menu li a.sf-with-ul { padding-right: 16px; }

/* Secondary menu 
-------------------------------------------------------------- */
#menu-secondary {
	font-size: 1em;
	width: 100%;
	margin: 0 0 10px 0;
	float: left;
	clear: left;
	position: relative;
	background: #111;
	margin-bottom: 25px;
	z-index: 2;
}
#menu-secondary li {
	display: block;
	float: left;
	width: 100%;
}
#menu-secondary li a {
	font-size: 0.8333333333333333em;
	line-height: 1.2em;
	display: block;
	padding: 1.1em 1.2em;
	text-transform: uppercase;
	color: #ccc;
	background: #111;
	border-bottom: 1px solid #252525;
}
#menu-secondary li a:hover {
	color: #fff;
	background: #000;
}
#menu-secondary li.current-menu-item a { color: #555; }
#menu-secondary li.current-menu-item li a { color: #ccc; }
#menu-secondary li li, #menu-secondary li li.current-menu-item li {
	clear: both;
	float: none;
}
#menu-secondary li li:first-child, #menu-secondary li li.current-menu-item li:first-child { border-top: none; }
#menu-secondary li li a, #menu-secondary li li.current-menu-item li a {
	text-transform: none;
	color: #888;
}
#menu-secondary li li a {
	font-size: 0.9166666666666667em;
	padding: .97em 1.1em;
}

/* Dropdowns (secondary)
-------------------------------------------------------------- */
#menu-secondary li ul {
	display: none;
	position: absolute;
	top: 0;
	border: 1px solid #252525;
	border-bottom: none;
	left: 100%;
	z-index: 100;
}
#menu-secondary li:hover ul, #menu-secondary li.sfHover ul { display: block; }
#menu-secondary li:first-child:hover ul, #menu-secondary li:first-child.sfHover ul { top: 0; }
#menu-secondary li:hover li ul, #menu-secondary li.sfHover li ul { top: -9999em; }
#menu-secondary li li:hover ul, #menu-secondary li li.sfHover ul {
	top: -1px;
	margin-left: 0;
}
#menu-secondary .sf-sub-indicator {
	text-indent: -9999em;
	width: 10px;
	height: 10px;
	display: block;
	background: url(images/dropright-secondary.png) no-repeat right 0;
	position: absolute;
	top: 38%;
	right: 10px;
}
#menu-secondary .menu li li .sf-sub-indicator { right: 5px; }

/* Responsive menus
-------------------------------------------------------------- */
.site-navigation .nav-menu { display: none; }
.site-navigation .nav-menu.toggled-on { display: block; }
.menu-toggle {
	clear: both;
	display: none;
	width: 100%;
	height: 50px;
	margin: 10px auto 15px auto;
	font-size: 18px;
	line-height: 47px;
	letter-spacing: 1px;
	text-align: center;
	color: #eee;
	background: #111;
	cursor: pointer;
}
.menu-toggle:hover { color: #fff; }

/*  Featured Content (slider)
-------------------------------------------------------------- */
.featured-wrapper {
	float: right;
	margin-bottom: 30px;
	width: 79.78723404255319%;	/* 750 / 940 = 0.79787234042553 */
	overflow: hidden;
	position: relative;
	z-index: 1;
}
#featured-content {
	position: relative;
	margin-bottom: 20px;
}
.featured-post {
	position: relative;
	overflow: hidden;
	float: left;
}
.featured-post h2.entry-title a {
	position: absolute;
	bottom: 110px;
	right: 0;
	color: #111;
	background: #fff;
	padding: .4em 30px .4em 1.5em;
	font-size: 1em;
	text-transform: uppercase;
}
.featured-post:hover h2.entry-title a, .featured-post:hover .byline {
	color: #fff;
	background: #111;
}
.featured-post .byline {
	position: absolute;
	bottom: 82px;
	right: 0;
	color: #999;
	background: #fff;
	padding: .4em 30px .4em 1.3em;
	font-size: 0.9166666666666667em;
}
.featured-post a:hover { border-bottom: none; }
.featured-thumbnail { max-width: 100%; }
#featured-content .dummy {
	width: 100% !important;
	height: auto !important;
	max-width: 100%;
	height: auto;
}
.no-js #featured-content .dummy, #featured-content .dummy.hidden { display: none; }
.slider-nav {
	display: block;
	position: absolute;
	bottom: 0;
	width: 31px;
	height: 28px;
	background: #111 url(images/slider-nav-arrows.png) no-repeat;
	background: rgba(0,0,0,.5) url(images/slider-nav-arrows.png) no-repeat;
	color: #fff;
	font-size: 1em;
	z-index: 9;
	cursor: pointer;
	text-indent: -9999em;
}
#slider-prev {
	left: 0;
	background-position: 7px -21px;
}
#slider-next {
	right: 0;
	background-position: 7px 11px;
}
.slider-nav:hover { background-color: #000; }

/*  Featured Content (slider) Navigation
-------------------------------------------------------------- */
#slider-nav {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
#slide-thumbs {
	width: 100%;
	margin: 0;
}
#slider-nav li {
	float: left;
	list-style: none;
	width: 14.66666666666667%;	/* 110 / 750 = 0.1466666666666667 */
	margin: 0 2.4% 0 0px;	/* 18 / 750 = 0.024 */
}
#slider-nav li a, #slider-nav li a:visited {
	border-bottom: none;
	padding: 0;
}
#slider-nav li.last { margin-right: 0; }
#slider-nav li img { max-width: 100%; }
.activeSlide img { opacity: .3; }

/* Home 
-------------------------------------------------------------- */
.section-title {
	float: left;
	width: 93.85%;
	color: #999;
	background: #f3f3f3;
	padding: .25em .6em .35em .6em;
	margin-bottom: 20px;
	text-transform: lowercase;
	border-left: 10px solid #e9e9e9;
}
.hfeed-more {
	float: left;
	width: 100%;
}
.page-template-front .hfeed-more .hentry {
	float: left;
	width: 47.87234042553191%;	/* 225 / 470 = 0.4787234042553191 */
	margin: 0 4.25531914893617% 15px 0;	/* 20 / 470 = 0.0425531914893617 */
	padding-bottom: 8px;
	border-bottom: 1px solid #eee;
}
.page-template-front .hfeed-more .hentry.even { margin-right: 0; }
.page-template-front .hfeed-more .hentry .entry-title a {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.9375em;	/* 15 /16 = 0.875 */
	text-transform: none;
	color: #333;
}
.page-template-front .hfeed-more .hentry .entry-title a:hover {
	color: #0da4d3;
	border-color: #888;
}

/* Posts 
-------------------------------------------------------------- */
.page-template-front .hentry, .archive .hentry, .search .hentry {
	float: left;
	width: 100%;
	margin: 0 0 10px 0;	/* 20 / 510 = 0.0392156862745098 */
	font-size: 1em;
	position: relative;
}
.hentry.even { margin-right: 0; }
.hentry {
	margin: 0 0 20px 0;
	position: relative;
	float: left;
	width: 100%;
}
.entry-header {
	float: left;
	width: 30%;
}
.entry-summary {
	float: right;
	width: 65%;
	padding-left: 2.34375%;
}
.hentry .archive-thumbnail { margin: 0 0 11px 0; }
.hentry img.featured { margin-bottom: 15px; }
.byline-cat {
	position: absolute;
	top: 0;
	right: 0;
	padding: .1em .8em;
	font-size: 0.8333333333333333em;
	background: #111;
	background: rgba(0,0,0,.25);
}
.byline-cat, .byline-cat a, .byline-cat a:visited {
	color: #fff;
	color: rgba(255,255,255,.75);
	max-height: 45px;
	overflow: hidden;
}
.byline-cat a:hover { color: #fff; }
.read-more, .read-more:visited {
	position: absolute;
	top: 117px;
	right: 0;
	z-index: 10;
	color: #fff;
	background: #0da4d3;
	padding: .1em .8em;
	font-size: 0.9166666666666667em;
	display: none;
}
.read-more:hover {
	color: #fff;
	background: #111;
}
.home .hentry a:hover, .page-template-front .hentry a:hover, .archive .hentry a:hover, .search .hentry a:hover { border-bottom: none; }
.home .hentry:hover .read-more, .page-template-front .hentry:hover .read-more, .archive .hentry:hover .read-more, .search .hentry:hover .read-more { display: block; }
.hentry .gallery a:hover, .page-template-front .read-more:hover, .archive .read-more:hover, .search .read-more:hover { border-bottom: none; }

/* Post titles 
-------------------------------------------------------------- */
.hentry .entry-title, .page-template-front .hentry .entry-title {
	margin: 0 0 0.15em 0;
	padding: 0;
	font-size: 1.333333333333333em;	/* 16 / 12 = 1.333333333333333 */
	text-transform: uppercase;
	line-height: 1.4em;
	border: none;
	color: #111;
	word-spacing: 2px;
	word-wrap: break-word;
}
.singular .entry-title {
	font-size: 2em;	/* 24 / 12 = 2 */
	margin-bottom: 0.3em;
}
.singular-page .entry-title { color: #ccc; }
.singular-page .entry-title, .singular-attachment .entry-title { margin-bottom: .7em; }
.entry-title a, .entry-title a:visited { color: #0da4d3; }
.home .hentry .entry-title a:hover, .page-template-front .hentry .entry-title a:hover, .archive .hentry .entry-title a:hover, .search .hentry .entry-title a:hover {
	color: #000;
	border-bottom: 1px solid #0da4d3;
}

/* Post bylines 
-------------------------------------------------------------- */
.byline, .home.singular .byline {
	margin: 0 0 .2em 0;
	font-size: 0.9166666666666667em;
	color: #bbb;
	line-height: 1.75em;
	word-spacing: 2px;
}
.singular .byline { margin-bottom: 18px; }
.byline a, .byline a:visited { color: #bbb; }
.byline a:hover { color: #000; }
.author, .published, .category, .edit { font-style: normal; }
.comment-list .published, .comment-list .edit, .comment-list .comment-reply-link {
	font-size: 1em;
	text-transform: none;
}

/* Post excerpts 
-------------------------------------------------------------- */
.entry-summary p { margin: 0 0 1em 0; }

/* Post metadata 
-------------------------------------------------------------- */
.entry-meta {
	margin: 0 0 25px 0;
	font-size: 0.9166666666666667em;
	color: #aaa;
}
.entry-meta a { color: #888; }
.entry-meta a:hover { color: #000; }

/* Singular post prev/next links 
-------------------------------------------------------------- */
.singular .loop-nav {
	font-size: 0.9166666666666667em;
	color: #888;
	clear: left;
}
.singular .previous {
	float: left;
	width: 40%;
}
.singular .next {
	float: right;
	width: 40%;
	text-align: right;
}

/* Page links for multi-paged posts <!--nextpage--> 
-------------------------------------------------------------- */
.page-links {
	clear: both;
	font-size: 0.9166666666666667em;
	word-spacing: 2px;
	line-height: 1em;
	color: #222;
}
.entry-summary .page-links {
	clear: none;
	font-size: 0.9166666666666667em;
	line-height: 1em;
	color: #aaa;
}
.page-links a, .page-links a:visited {
	display: inline-block;
	color: #555;
	background: #eee;
	padding: 3px 6px;
}
.page-links a:hover {
	color: #000;
	background: none;
	border: none;
}

/* Archive/search pagination and comment pagination 
-------------------------------------------------------------- */
.comment-navigation { margin-bottom: 1.75em; }
.pagination.loop-pagination {
	float: right;
	clear: both;
	margin-top: 30px;
}
.pagination .page-numbers, .comment-navigation .page-numbers {
	display: inline-block;
	padding: 5px 10px 7px 10px;
	margin: 0;
	line-height: 1em;
	color: #444;
}
.pagination a.page-numbers, .comment-navigation a.page-numbers {
	color: #fff;
	background: #111;
}
.pagination a:hover, .comment-navigation a:hover {
	color: #fff;
	background: #0da4d3;
	border-bottom: none;
}
.pagination .current, .comment-navigation .current { color: #999; }

/* Sidebar after singular posts 
-------------------------------------------------------------- */
#sidebar-after-singular {
	overflow: hidden;
	margin: 0;
	font-size: 1em;
	float: left;
}
#sidebar-after-singular a:hover { border-bottom: none; }

/* Widgets 
-------------------------------------------------------------- */
.sidebar .widget {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

/* Widget titles 
-------------------------------------------------------------- */
.sidebar .widget-title {
	font-size: 1em;
	color: #aaa;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 2px;
}

/* Widget unordered lists 
-------------------------------------------------------------- */
.sidebar .widget ul { margin-left: 16px; }
.sidebar .widget ul li a { color: #555; }
.sidebar .widget ul li a:hover { color: #000; }
.sidebar .widget ul li a { color: #555; }
.sidebar .widget ul li a:hover { color: #000; }

/* Search form widget
-------------------------------------------------------------- */
.widget .search-form { overflow: hidden; }
.widget .search-form label {
	font-size: 0.9166666666666667em;
	line-height: 1.75em;
	color: #aaa;
}
.widget .search-form input[type="text"] {
	width: 91%;
	float: left;
	padding: 8px 10px;
	font-size: 1em;
	color: #aaa;
}
#sidebar-primary .widget .search-form input[type="text"] { width: 86%; } 
.search-form .search-submit, .widget.search .widget-title { display: none; }

/* Comments 
-------------------------------------------------------------- */
.comment-list, .comment-list ol {
	list-style: none;
	margin: 0 0 25px 0;
}
.comment-list { margin-bottom: 40px; }
.comment-list li {
	padding: 20px 0 0 0;
	border-top: none;
}
.comment-list li li { padding-left: 11.70212765957447%; }	/* 55px / 470px = 0.1170212765957447 */
.comment-list .avatar {
	float: left;
	margin: 0 13px 10px 0;
}
.comment-meta {
	margin: 0 0 3px 0;
	font-size: 0.9166666666666667em;
	color: #bbb;
	line-height: 1.75em;
}
.comment-meta .comment-author cite {
	font-style: normal;
	font-weight: bold;
	color: #333;
	font-size: 1.153846153846154em;
}
.comment-author { margin-right: 10px; }
.comment-meta a, .comment-meta a:visited {
	font-style: normal;
	color: #333;
	border-bottom: 1px solid #0da4d3;
}
.comment-meta a:hover {
	color: #000;
	border-bottom: none;
}
.comments-closed {
	padding: 10px 25px;
	font-size: 1em;
	color: #888;
	background: #f3f3f3;
}
.comment-content { margin-left: 55px; }
.comment-content p { margin-bottom: 1em; }

/* Comment form 
-------------------------------------------------------------- */
#respond {
	overflow: hidden;
	width: 100%;
}
.comment-list #respond { margin-top: 1.75em; }
#respond .log-in-out {
	font-size: 0.9166666666666667em;
	line-height: 1em;
	color: #888;
	margin-bottom: -7px;
}
#reply-title small a {
	font-size: 0.9166666666666667em;
	line-height: 1.75em;
	background: #fff;
	padding-right: 8px;
}
#respond label {
	font-size: 0.9166666666666667em;
	line-height: 1.75em;
	color: #bbb;
}
#respond p.req label {
	color: #888;
	line-height: 2.4em;
}
#respond span.required {
	font-size: 1em;
	font-weight: bold;
	color: #000;
}
#respond #submit { margin-bottom: 1.75em; }
#commentform input {
	display: inline;
	margin-right: 10px;
}
#commentform p {
	margin-bottom: 15px;
	line-height: 1em;
}
#comment { margin-top: 20px; }
#comments-number, #reply-title {
	color: #aaa;
	float: left;
	width: 92%;
	background: #f3f3f3;
	padding: .25em .6em .35em .9em;
	margin-bottom: 20px;
	border-left: 10px solid #e9e9e9;
}

/* Subsidiary sidebar 
-------------------------------------------------------------- */
#sidebar-subsidiary {
	overflow: visible;
	width: 103.4%;
	margin: 0 auto;
	padding: 30px 0 0 0;
	clear: both;
}
#sidebar-subsidiary .widget {
	float: left;
	width: 21.80851063829787%;	/* 205px / 940px = 21.80851063829787% */
	margin: 0 3.191489361702128% 20px 0;	/* 30px / 940px = 3.191489361702128% */
	font-size: 1em;
	padding-top: 20px;
	border-top: 1px solid #bbb;
}

/* Subsidiary menu 
-------------------------------------------------------------- */
#menu-subsidiary {
	float: right;
	width: 65%;
	font-size: 1em;
	position: relative;
}
#menu-subsidiary .menu { float: right; }
#menu-subsidiary li {
	display: block;
	float: left;
	padding-left: 1.5em;
	background: url(images/menu-separator.png) no-repeat left 15%;
}
#menu-subsidiary li:first-child {
	padding-left: 0;
	background: none;
}
#menu-subsidiary li a {
	font-size: 0.8333333333333333em;
	font-weight: normal;
	line-height: 1.8em;
	margin-right: 1.15em;
	display: block;
	text-transform: uppercase;
}
#menu-subsidiary li:last-child a { margin-right: 0; }
#menu-subsidiary li a:hover { color: #111; }
#menu-subsidiary li.current-menu-item a { color: #aaa; }
#menu-subsidiary li ul { display: none; }

/* Footer 
-------------------------------------------------------------- */
#footer {
	overflow: hidden;
	clear: both;
	max-width: 940px;
	width: 100%;
	margin: 0 auto;
	padding: 26px 0 30px 0;
	border-top: 1px solid #bbb;
	font-size: 0.9166666666666667em;
	color: #aaa;
}
#footer p { margin-bottom: 0; }
#footer a { color: #888; }
#footer a:hover { color: #333; }
#footer-content {
	float: left;
	width: 30%;
}

/*  Buttons (submit etc.)
-------------------------------------------------------------- */
#respond #submit, .button, a.button, .wpcf7-submit, #loginform .button-primary {
	padding: 6px 14px 7px 14px;
	color: #fff;
	background:#0da4d3;
	border: none;
}
#respond #submit:hover, .button:hover, .wpcf7-submit:hover, #loginform .button-primary:hover { background: #111; }
.menu li a { position: relative; }

/*  Gravity Forms (plugin)
----------------------------------------------------- */
.sidebar .widget ul li.gfield, #content .hentry ul li.gfield {
	background: none;
	padding-left: 0;
	margin-bottom: 15px;
}
.wordpress .gform_wrapper input[type="text"], .wordpress .gform_wrapper input[type="url"], .wordpress .gform_wrapper input[type="email"], .wordpress .gform_wrapper input[type="phone"], .wordpress .gform_wrapper input[type="number"], .wordpress .gform_wrapper input[type="password"], .wordpress .gform_wrapper textarea {
	padding: 4px;
	font-size: 1em;
}
.wordpress .gform_wrapper .gform_footer, .wordpress .gform_wrapper .gform_footer.right_label, .wordpress .gform_wrapper .gform_footer.left_label {
	padding-top: 0;
	margin-top: 0;
}
.wordpress .gform_wrapper .gform_footer.right_label, .wordpress .gform_wrapper .gform_footer.left_label { padding-left: 31.5%; }
.wordpress .gform_wrapper .top_label .gfield_label {
	font-weight: normal;
	margin: 0 0 5px;
}
.wordpress .gform_wrapper .ginput_complex .ginput_full input { width: 92% !important; }
.wordpress .gform_wrapper .field_name_first input, .wordpress .gform_wrapper .ginput_complex .ginput_left input { width: 83.7% !important; }
.wordpress .gform_wrapper .ginput_complex .ginput_right input, .wordpress .gform_wrapper .ginput_complex .ginput_right select { width: 83.7% !important; }
.wordpress .gform_wrapper select {
	padding: 2px;
	height: 2em;
	font-size: 1em;
}
.wordpress .gform_wrapper .gsection {
	border-bottom: 1px solid #e9e9e9;
	margin: 40px 0 20px 0 !important;
}
.gform_wrapper .gfield_description, .gform_wrapper div.charleft { color: #aaa !important; }
.gform_wrapper .description, .gform_wrapper .gfield_description, .gform_wrapper .gsection_description, .gform_wrapper .instruction, .gform_wrapper div.charleft { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important; }

/*  Contact Form 7 (plugin)
----------------------------------------------------- */
.wpcf7-form p {
	margin-bottom: 15px;
	line-height: 2.2em;
}
.wpcf7-form input[type="text"], .wpcf7-form input[type="password"], .wpcf7-form input[type="email"], .wpcf7-form textarea, .wpcf7-form select { padding: 6px; }

/*  Media Queries (mobile browsing)
----------------------------------------------------- */

/* Menu toggles */
@media only screen and (min-width: 768px) { .site-navigation .nav-menu { display: block; } }
@media only screen and (max-width: 767px) { .menu-toggle { display: block; } }

/* Tablet (portrait) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.wrap { max-width: 728px; }
	.widget .search-form input[type="text"] { width: 87%; }
	.widget table { font-size: 0.8333333333333333em; }
	#sidebar-subsidiary { width: 100% }
	#sidebar-subsidiary .widget table { width: 90%; }
	.home .hentry:hover .read-more, .page-template-front .hentry:hover .read-more, .archive .hentry:hover .read-more, .search .hentry:hover .read-more { display: none; }
}
/* Phone (portrait) */
@media only screen and (max-width: 767px) {
	.wrap { max-width: 300px; }
	#branding {
		float: left;
		width: 100%;
		position: relative;
	}
	#sidebar-header {
		width: 100%;
		margin-bottom: 10px;
	}
	.featured-wrapper, .aside, .content-wrap, #content, #sidebar-subsidiary .widget, #respond { width: 100%; }
	.featured-post h2.entry-title a { 
		font-size: 12px; 
		line-height: 1.4em; 
		padding-right: 15px;
		bottom: 87px;
	}
	.featured-post .byline { 
		bottom: 63px;
		padding: .25em 15px .25em 1.3em;
	}
	.home.singular .byline { font-size: 10px; }
	.menu-toggle { 
		display: block; 
		width: 100%;
	}
	#menu-primary {
		float: left;
		clear: both;
		width: 100%;
		margin-top: 10px;
	}
	#menu-primary .menu, .menu ul { 
		float: left;
		width: 100%; 
	}
	#menu-primary ul li {
		clear: left;
		display: block;
		padding-left: 0;
		background: none;
	}
	#menu-primary ul li a {
		font-size: 20px; 
		margin-left: 0;
		padding: 12px 15px;
	}
	#menu-primary li li a { font-size: 18px; }
	#menu-primary li ul, #menu-primary li li { border: none !important; }
	#menu-primary li li a:hover { background: none; }
	#menu-primary ul li ul {	
		display: block !important;
		float: left !important;
		visibility: visible !important;
	}
	#menu-primary li ul {
		display: block !important;
		position: relative !important;
		top: 0;
		left: 30px;
	}	
	#menu-primary ul li li ul { left: 30px !important; }
	#menu-primary li:hover ul, #menu-primary li.sfHover ul {
		display: block !important;
		top: 0 !important;
	}
	#menu-primary li:first-child ul { left: 0; }	
	#menu-primary .sf-sub-indicator { background: none !important; }
	#menu-secondary .menu-toggle { margin: 0; }
	#menu-secondary li a { font-size: 12px; }
	#menu-secondary li li a {
		font-size: 14px;
		border-bottom: none; 
	}
	#menu-secondary li li a:hover { background: none; }
	#menu-secondary ul li ul {
		display: block !important;
		visibility: visible !important;
	}
	#menu-secondary ul li li ul { left: 20px !important; }
	#menu-secondary li ul {
		display: block !important;
		position: relative !important;
		width: 80% !important;
		top: 0;
		left: 20px;
		border: none;
	}
	#menu-secondary li:hover ul, #menu-secondary li.sfHover ul {
		display: block !important;
		top: 0 !important;
	}
	#menu-secondary .sf-sub-indicator { background: none !important; }
	.hentry {
		width: 100%;
		margin-right: 0;
	}
	.page-template-front .hentry:hover .read-more, .archive .hentry:hover .read-more, .search .hentry:hover .read-more { display: none; }
	.page-template-front .hfeed-more .hentry {
		float: left;
		width: 100%;
		margin-right: 0;
	}
	.comment-list li li { padding-left: 0; }
	#sidebar-primary, #sidebar-secondary, #sidebar-subsidiary {
		width: 100%;
		clear: left;
	}
	#footer-content, #menu-subsidiary {
		width: 100%;
		margin-bottom: 20px;
	}
	#menu-subsidiary .menu { float: left; }
	#menu-subsidiary li {
		background: none;
		float: none;
		padding-left: 0;
		margin-bottom: .4em;
	}
	#menu-subsidiary li a {
		font-size: 10px;
		line-height: 2.5em; 
	}
	textarea { width: 96%; }
}