
/**** Body *****/

/* Font size is built around a 12px default to minimize 
   size-inheritance issues for content contributers. A base
   definition of 75% produces consistent results in all major
   browsers (from the 16px browser default) and scales consistently
   under zooming.
   */

body {
	background: #000; /* footer color */
	padding: 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #f3e3ac;
	font-size: 75%; /* 12px *//* font size key in em:
		0.750em = 09px
		0.833em = 10px
		0.917em = 11px
		default = 12px
		1.083em = 13px
		1.167em = 14px
		1.250em = 15px
		1.333em = 16px
		1.500em = 18px
		1.667em = 20px
		1.833em = 22px
		2.000em = 24px
		3.000em = 36px
	*/
}
/**** Tables *****/
 
/* Basic tables will have a light 1-pixel border grid, though a 
   combination of table border and cell border. Table headers
   have a light gray background, with an optional cross-browser
   gradient, which can be disabled by commenting it out in TH.
   */

table {
	width: 100%;
	margin-bottom: 15px;
	border: solid #ddd;
	border-width: 1px 1px 0 0;
	border-collapse: collapse;
}
table table {
	margin-bottom: 0; /* removed margin in nested tables */
}
caption {
	font-style: italic;
	color: #777;
	margin: 0.2em 0;
	line-height: 1.6em;
}
td, th {
	border: solid #ddd;
	border-width: 0 0 1px 1px;
	padding: 6px;
	vertical-align: top;
}
th {
	color: #444;
	border-left-color: #ccc;
	border-bottom-color: #999;
	font-weight: bold;
	text-align: center;
		
	/* optional gradient */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f8f5', endColorstr='#e2e1de');*/ /* disabled due to IE8 bugs */
	background: #f9f8f5 url(../images/layout/ie_tableheader.gif) 0 bottom repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f8f5), to(#e2e1de));
	background: -moz-linear-gradient(top, #f9f8f5, #e2e1de);
}
th p {
	margin-bottom: 0; /* removes <p> margin if used in table headers */
}
/**** Text Styles ****/
 
/* Basic paragraph and header styles. Currently using Georgia
   for h1-h3 and some blue coloration, but this could be stripped
   out and moved to site-specific styles.
   */

p, td, th, li, dt, dd {
	line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.3em;
	margin-bottom: 12px;
	color: #fff;
}
h1 {
	font-size: 2.2em;
	font-family: Arial, Helvetica, sans-serif;
}
h2 {
	font-size: 1.6em;
	font-family: Arial, Helvetica, sans-serif;
}
h3 {
	font-size: 1.3em;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}
h3.widget-title, h3.comments-title {
	color: #8CAAD0;
}

h3.comments-title {
	font-size: 2em;
	padding-top: 20px;
	background: url(../images/layout/hline.png) no-repeat 10px 10px;
}
h4 {
/* default bold 12px */
}
h5 {
	font-weight: normal;
	color: #386684;
	margin-bottom: 5px;
}
h6 {
	font-weight: normal;
	font-style: italic;
	margin-bottom: 5px;
}
p {
	margin-bottom: 15px;
}
p.last {
	margin-bottom: 0;
}
strong {
	font-weight: bold;
}
blockquote, pre {
	margin-left:2em;
	padding-left: 1em;
	border-left:1px solid #ccc;
	font-style: italic;
	line-height: 1.4em;
}
pre, code {
	font-family: mono-space, monospace;
	font-style: normal;
	margin-bottom: 15px;
}
abbr, acronym {
	text-transform:uppercase;
	border-bottom: 1px dotted #000;
	letter-spacing: 1px;
}
abbr[title], acronym[title] {
	cursor:help;
}
sup, sub {
	font-size:.8em;
	position: relative;
}
sup {
	top: -0.4em;
}
sub {
	top: 0.2em;
}
em, cite {
	font-style:italic;
}
.clear {
	clear: both;
	width: 100%;
}
p.note {
	padding: 10px;
	border: 1px solid #ccc;
}
.more {
	padding-right: 8px;
	background: transparent url(../images/layout/arrows/right_red.gif) no-repeat 100% 80%;
}
.text-highlight-red {
	background: #f0beb6;
}

.text-highlight-yellow {
	background: #f0ee9f;
}

.text-highlight-green {
	background: #c5ee9f;
}
/**** Links ****/
 
/* Using classic Cornell red as the default (but no border styles).
   */

a, a:visited {
	color: #E6B300;
}

a:hover, a:active {
	color: #fff;
}

/**** Lists ****/
 
/* Unordered lists use a custom square bullet as default. This will carry
   through to nested lists as well. However, a circle and disc bullet are 
   also available through UL classes below. This allows designers to 
   customize the bullets in their basic lists (and more can be added later).
   */

ul {
	margin-left: 18px;
	margin-bottom: 15px;
}
ul li {
	padding-left: 18px;
	background: url(../images/layout/bullet_square_custom.gif) no-repeat left 6px;
}

ul.disc li {
	background: url(../images/layout/bullet_disc.gif) left 7px no-repeat;
}
ul.circle li {
	background: url(../images/layout/bullet_circle.gif) left 7px no-repeat;
}
ol {
	margin-left: 36px;
	margin-bottom: 15px;
}
ol li {
	padding-left: 0;
	list-style: decimal;
	background: none;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 4px;
}
dl {
	margin-left: 0;
	margin-bottom: 15px;
}
dl dl {
	margin-left: 30px;
}
dt {
	font-weight: bold;
	margin-bottom: 8px;
}
dd {
	margin-bottom: 12px;
}
/* Table of Contents */
ul.toc {
	border-left: 4px solid #dbe3e9;
	margin-left: 1px;
	padding-left: 0px;
	margin-bottom: 20px;
}
ul.toc li {
	background: none;
	padding-left: 10px;
}
ul.toc ol li {
	padding-left: 0;
}
ul.toc a {
	padding-right: 9px;
	background: url(../images/layout/link_arrow_white.gif) right 0.35em no-repeat;
}

/**** Forms *****/
 
/* Forms are available for use without much CSS layout to allow for 
   content contributers to design them freely. Classes can then be
   made available to apply different design or layout "themes" to 
   a form. The "basic" theme below is a simple two column alignment.
   */

#wrap form {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	clear: both;
}
#wrap form fieldset {
	border: 1px solid #ccc;
	padding: 15px 10px;
	margin-bottom: 15px;
	float: left;
	width: 680px;
}
#wrap form fieldset.row-submit {
	border: none;
	padding: 0;
}
#wrap input {
	margin-bottom: 4px;
}
#wrap label {
	margin: 0 4px 4px 0;
	vertical-align: top;
}
#wrap select {
	min-width: 200px;
}
#wrap legend {
	padding: 0 5px;
	font-weight: bold;
}
/* Form Theme: Basic */

#wrap form.basic p {
	float: left;
	clear: both;
	display: block;
}
#wrap form.basic input, #wrap form.basic textarea {
	float: left;
	clear: right;
	margin-left: 0;
}
#wrap form.basic label {
	display: block;
	float: left;
	clear: left;
	width: 125px;
	margin: 1px 10px 0 0;
	text-align: right;
	line-height: 1.5em;
}
#wrap form.basic select {
}
#wrap form.basic input[type="text"], #wrap form.basic input[type="password"], #wrap form.basic textarea {
	outline: 2px solid transparent;
	border: 1px solid #999;
	border-top-color: #000;
	padding: 2px;
}
#wrap form.basic input[type="text"]:focus, #wrap form.basic input[type="password"]:focus, #wrap form.basic textarea:focus {
	background: #f3f6f8;
	outline: 2px solid #d1dce3;
	border: 1px solid #000;
}
#wrap form.basic input[type="submit"], #wrap form.basic input[type="reset"] {
	border: 1px solid #999;
	border-bottom-color: #000;
	padding: 3px 6px;
	background: #ededed;
	cursor: pointer;
	
	/* optional gradient */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f8f5', endColorstr='#e2e1de');
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f8f5), to(#e2e1de));
	background: -moz-linear-gradient(top, #f9f8f5, #e2e1de);
}
#wrap form.basic input[type="submit"]:hover, #wrap form.basic input[type="reset"]:hover {
	background: #f5f5f5;
}
#wrap form.basic input[type="submit"]:active, #wrap form.basic input[type="reset"]:active {
	background: #e5e5e5;
}



/**** Component Forms *****/
 
/* activate with form.iws-component
   */


/* Standardize Element Sizing */
#wrap form.iws-component input[type="text"], 
#wrap form.iws-component input[type="password"], 
#wrap form.iws-component textarea, 
#wrap form.iws-component select, 
#wrap form.iws-component label, 
#wrap form.iws-component div, 
#wrap form.iws-component h4, 
#wrap form.iws-component p {
	-ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Fieldset Toolbar */
#wrap form.iws-component .form-tools {
	float: left;
	width: 100%;
	margin: -5px 0 20px;
	padding: 1px 0;
	border: 1px solid #e1e0d0;
	border-bottom-color: #cbcabc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f1', endColorstr='#e4e3d3');
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f1), to(#e4e3d3));
	background: -moz-linear-gradient(top, #f6f6f1, #e4e3d3);
}
#wrap form.iws-component .form-tools p,
#wrap form.iws-component .form-tools ul {
	float: right;
	margin: 0 6px;
	font-size: 0.917em;
}
#wrap form.iws-component .form-tools li {
	background: none;
	float: left;
	padding: 0 12px;
	border-right: 1px solid #e0dfcf;
}
#wrap form.iws-component .form-tools li.last {
	padding-right: 6px;
	border-right: 0;
}

/* Tag Definitions */
#wrap form.iws-component p {
	padding: 0 6px;
}
#wrap form.iws-component h4 {
	float: left;
	width: 100%;
	margin: 15px 0 10px;
	padding: 4px 6px 3px;
	background: #f7f9fa;
	border-bottom: 1px solid #e5ebef;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#wrap form.iws-component h4.first {
	margin-top: 0;
}
#wrap form.iws-component div.last {
	margin-bottom: 0 !important;
}
#wrap form.iws-component legend a {
	text-decoration: none;
	font-weight: normal;
	background: #f3f5f7;
	margin-left: 2px;
	padding: 0 2px;
}
#wrap form.iws-component label {
	float: left;
	margin: 0;
	padding-top: 0.3em;
}
#wrap form.iws-component input[type="text"], 
#wrap form.iws-component input[type="password"] {
	height: 1.88em;
	width: 26.2em;
	float: left;
}
#wrap form.iws-component input[type="radio"], 
#wrap form.iws-component input[type="checkbox"] {
	float: left;
}
#wrap form.iws-component textarea {
	font-family: Lucida Grande, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 1.0em;
	padding: 4px;
	width: 24em;
	height: 130px;
	float: left;
	margin-bottom: 4px;
}
#wrap form.iws-component select {
	margin: 1px 0 4px;
	width: 26.2em;
	min-width: 0;
	float: left;
}


/* Notes, Errors, and User Messages */
#wrap form.iws-component .form-note {
	float: left;
	width: 26.2em;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: -4px 0 0 36%;
	padding: 0px 3px 1px;
	background: #f5f3e5 url(../images/layout/note_shadow_reverse.gif) 0 bottom repeat-x;
	border: 1px solid #edebde;
	border-top: 0;
	color: #939289;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}
#wrap form.iws-component p.form-note {
	width: auto;
	max-width: 38.6em;
	margin: 2px 0 0 36%;
	padding: 3px 5px 4px;
	border: 1px solid #edebde;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#wrap form.iws-component div.error {
	float: left;
	clear: both;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: 4px 10px 10px 36%;
	padding: 4px 10px 4px 24px;
	background: #f3e2d9 url(../images/layout/icon_error.gif) 7px 0.6em no-repeat;
	border: 1px solid #e1a39c;
	color: #af1111;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#wrap form.iws-component label.error, 
#wrap form.iws-component .alert {
	color: #af1111;
	font-weight: bold;
}
#wrap form.iws-component div.form-feedback {
	float: left;
	width: 100%;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: 0 0 15px;
	padding: 9px 12px 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#wrap form.iws-component div.form-feedback.warning {
	background: #f6f4e2;
	border: 1px solid #ebddbd;
	border-bottom-color: #d9ccae;
	color: #59453f;
}
#wrap form.iws-component div.form-feedback.info {
	background: #e2eef6;
	border: 1px solid #bde3eb;
	color: #547097;
}
#wrap form.iws-component div.form-feedback.success {
	background: #e4f8df url(../images/layout/icon_check.gif) 8px 0.95em no-repeat;
	border: 1px solid #c3eca7;
	color: #50914f;
	padding-left: 24px;
}
#wrap form.iws-component div.form-feedback p {
	margin-bottom: 0;
	padding: 0;
}
/*
#wrap form.iws-component div.form-feedback.warning strong {
	color: #af1111;
}
*/

/* IWS Tooltip Support */
#wrap form.iws-component span.tooltip {
	border: 0;
	float: left;
	width: 14px;
	height: 16px;
	padding-right: 3px;
	background: transparent url(../images/layout/icon_question.png) 0 0 no-repeat;
}
#wrap form.iws-component span.tooltip.info {
	background: transparent url(../images/layout/icon_info.png) 0 0 no-repeat;
}
#wrap form.iws-component span.tooltip:hover {
	cursor: pointer;
}


/* Default Input Size Choices */
#wrap form.iws-component .input-s input[type="text"], 
#wrap form.iws-component .input-s input[type="password"] {
	width: 2.8em;
}
#wrap form.iws-component .input-m input[type="text"], 
#wrap form.iws-component .input-m input[type="password"], 
#wrap form.iws-component .input-m select, 
#wrap form.iws-component .input-m div.form-note {
	width: 13em;
}
#wrap form.iws-component .input-l input[type="text"], 
#wrap form.iws-component .input-l input[type="password"], 
#wrap form.iws-component .input-l select, 
#wrap form.iws-component .input-l div.form-note {
	width: 62.5%;
	max-width: 38.6em;
}
#wrap form.iws-component .input-s div.form-note {
	width: auto;
	max-width: 35.9em;
	min-height: 1.88em;
	float: left;
	margin: 0;
	padding: 1px 4px;
	border: 1px solid #edebde;
	border-left: 0;
	-moz-border-radius: 0 6px 6px 0;
	-webkit-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
}
@-moz-document url-prefix() { /* FF */
	#wrap form.iws-component .input-s div.form-note {
		min-height: 1.5em;
	}
}
#wrap form.iws-component .input-s div.error {
	margin-top: 0;
}
#wrap form.iws-component .textarea-s textarea {
	height: 40px;
	overflow: hidden;
}
#wrap form.iws-component .textarea-m textarea {
	height: 70px;
}
#wrap form.iws-component .textarea-l textarea {
	width: 62.5%;
	max-width: 600px;
	height: 250px;
}
#wrap form.iws-component .textarea-l div.form-note {
	width: 62.5%;
	max-width: 600px;
}
#wrap form.iws-component .input-s select {
	width: 4em;
}

/* Option Lists */

#wrap form.iws-component ul.form-list {
	float: left;
	margin: 2px 0 10px 1px;
	width: 62.5%;
}
#wrap form.iws-component ul.form-list li {
	background: none;
	padding: 0;
	margin: 0 0 1px 0;
	width: 100%;
	float: left;
	line-height: 1.4em;
}
#wrap form.iws-component ul.form-list li label {
	padding: 0;
}
#wrap form.iws-component ul.form-list li input[type="radio"], 
#wrap form.iws-component ul.form-list li input[type="checkbox"] {
	margin: 1px 4px 0 0;
}


/* Left-Right Adjustments */
#wrap form.iws-component .form-pair {
	float: left;
	clear: left;
	width: 100%;
	margin-bottom: 5px;
}
#wrap form.iws-component .form-left {
	float: left;
	width: 35%;
	margin-right: 1%;
}
#wrap form.iws-component .form-left label {
	/*width: 100%;*/
	float: right;
	/*text-align: right;*/
}
#wrap form.iws-component .form-left input, 
#wrap form.iws-component .form-left select {
	float: right;
}


/* Tight-Loose Margins */
#wrap form.iws-component .form-pair.tight {
	margin-bottom: 1px;
}
#wrap form.iws-component .form-pair.tight input, 
#wrap form.iws-component .form-pair.tight select {
	margin-bottom: 0;
}
#wrap form.iws-component .form-pair.loose {
	margin-bottom: 20px;
}
#wrap form.iws-component .form-pair.loose input, 
#wrap form.iws-component .form-pair.loose select {
	margin-bottom: 0;
}
#wrap form.iws-component .form-pair.loose div.form-note {
	margin-top: 0;
}

/**** Layout *****/
#wrap {
	float: left;
	width: 100%;
	clear: both;
}

#content {
	width: 960px;
	margin: 0 auto;
}
#main, #secondary, #section-navigation, #section-navigation-wrap {
	float: left;
}
.secondary-section, .secondary-photo {
	float: left;
	width: 100%;
}

/* twocolumn pages */
#main {
	width: 720px;
	float: right;
	min-height: 770px;
}

#secondary {
	width: 190px;
	margin-left: 30px;
	clear: left;
}
#section-navigation {
	width: 190px;
	padding: 0;
	margin: 0 0 0 30px;
}

/* onecolumn pages */
.onecolumn #main {
	width: 960px;
}

/* twocolumn pages with secondary on the right */
.twocolumn-right #main {
	float: left;
}

.twocolumn-right #secondary, .twocolumn-right #section-navigation {
	float: right;
}

/* onecolumn pages with no title and larger content area */

.blank #content, .onecolumn.blank #main {
	width: 960px;
	margin: 0 auto;
}

body.page-template-page-full-blank-php {
	background-image: none;
}

body.page-template-page-full-blank-php #cu-identity, body.page-template-page-full-blank-php #footer {
	display: none;
}

/**** Header *****/
#header {
	float: left;
	width: 190px;
	margin: 320px 0 40px 30px;
}

#campaign-home h1 {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}

#campaign-home h1 a {
	display: block;
	margin: 0;
	width: 700px;
	height: 325px;
}

#main-navigation {
	float: left;
	width: 100%;
	clear: both;
	margin: 0;
}

#main-navigation ul {
	margin: 0;
	padding: 0;
}
#main-navigation li {
	background-image: none;
	padding: 0;
	margin: 0;
	font-size: 1.2em;
	font-weight: bold;
	padding: 0 0 4px 0;
}

#main-navigation li a {
	text-decoration: none;
}

#main-navigation ul.sub-menu {
	margin: 6px 0 6px 10px;
}

#main-navigation ul.sub-menu li {
	font-size: 0.98em;
	line-height: 1.3em;
	font-weight: normal;
}

#main-navigation ul.sub-menu li a {
	color: #f3e3ac;
}

#main-navigation li a:hover, #main-navigation li.current-menu-item a, #main-navigation ul.sub-menu li a:hover, #main-navigation ul.sub-menu li.current-menu-item a {
 color: #fff;
}
/* Home page */

.home #main {
	position: relative;
}

#campaign-home {
	position: relative;
	left: -50px;
}
#campaign-home img {
	width: 700px;
	height: 325px;
}

#content-wrap {
	float: left;
	width: 100%;
	background-image: url(../images/layout/content_bg.png);
}

.home #content-wrap {
	background-image: none;
}

#main .page-meta {
  padding: 15px;
  margin-top: 20px;
  width: 550px;
}

.home #main .page-meta {
  width: 340px;
}

#main .page-meta p {
  font-size: 1.1em;
}

/* grid */
		
.columns {
	float: left;
	width: 100%;
	clear: both;
}
.col {
	float:left;
	display:inline;
	width:48%;
	margin-left:4%;
}
.three .col {
	width:30%;
	margin-left:5%;
}
.four .col {
	width:22%;
	margin-left:4%;
}
 .col.first {
	 margin-left: 0;
 }


/**** Footer *****/ 

#footer {
	float: left;
	clear: both;
	width: 100%;
	padding: 20px 0 10px 0;
	font-size: 0.96em;
}
#footer-content {
	width: 960px;
	margin: 0 auto;
}
#footer p {
	margin: 0;
}
#footer-widgets, #footer-links, #footer ul {
	float: left;
	width: 100%;
	clear: both;
}

#footer ul {
	display: block;
	margin: 0;
	padding: 0 0 20px 0;
	text-align: center;
}

#footer ul.meta {
	padding: 0 0 6px 0;
}
#footer li {
	padding: 0 10px 0 0;
	margin: 0 0 0 10px;
	display: inline;
	line-height: 1em;
	background-image: none;
	border-right: 1px solid #8CAAD0;
}

#footer a {
	text-decoration: none;
}
/*#footer .last {
	background: none;
	padding-right: 0;
}*/

#edublogs {
	float: left;
	clear: both;
	width: 100%;
	padding: 20px 0;
	background: url(../images/layout/hline.png) no-repeat 50% 0;
	font-size: 0.90em;
	color: #ccc;
	text-align: center;
}

#edublogs a{
	color: #8CAAD0;
}

/**** Misc *****/

#skipnav, #campaign-home h1 strong {
	position: absolute;
	top: -1000em;
	left: -1000em;
	}
	
hr {
	display: none;
}

.inline-note {
	font-size: 0.833em;
	background: #f7f7f6 url(../images/layout/pencil.gif) left 2px no-repeat;
	color: #8c6522;
	border: 1px solid #f7f7f6;
	padding: 0px 4px 0px 15px;
}

/* Project CSS ************************************* */

/* Project-specific styles would appear below, with this space used for notes.
   A few useful goodies are already below to help get started...
   */
   
body {
	background: #000 url(../images/layout/page_bg_home.jpg) no-repeat 50% 405px;
	/*background: #000 url(../images/layout/page_bg_home.jpg) no-repeat 50% 100%;*/
	background-attachment:fixed;
	}
	
body.home {
}

.clear-both {
	clear: both;
}

.page-meta table {
	background: none;
	border: none;
	border-top: 1px solid #83562D;
	border-bottom: 1px solid #83562D;
}

.page-meta table a {
	text-decoration: none;
}

.page-meta table td {
	background: none;
	border: none;
}

.widget-container {
	margin-bottom: 20px;
}

.widget-container ul {
	margin-left: 0;
}

.widget-container li {
	margin-bottom: 8px;
}

h2.page-title {
	font-size: 2.3em;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #f3e3ac;
}

h2.page-title a {
	text-decoration: none;
}

span.edit-link {
	clear: both;
	width: 100%;
	display: block;
}
.textwidget p {
	line-height: 1.8em;
}
/*  images */

/**** Images *****/

.alignright {
	float: right;
	margin: 0 0 15px 15px;
}

.alignleft {
	float: left; 
	margin: 0 15px 15px 0;
}

.gallery-listing {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	clear: both;
}

.gallery-listing li {
	margin: 0 0 15px 0;
	padding: 0;
	background-image: none;
	float: left;
	width: 100%;
}

.gallery-listing.two-column li {
	width: 50%;
	margin: 0 0 12px 0;
	font-style: italic;
}

ul.gallery-listing li a {
	text-decoration: none;
}

.gallery-listing img {
	width: 300px;
	height: 168px;
	float: left;
	margin: 0 15px 0 0;
}
