<!-- FOOTER -->
<footer>

    <!-- copyright , scrollTo Top -->
    <div class="footer-bar">
        <div class="container">
            <span class="copyright">Copyright &copy; Cornell University</span>
            <a class="toTop" href="#topNav">BACK TO TOP <i class="fa fa-arrow-circle-up"></i></a>
        </div>
    </div>
    <!-- copyright , scrollTo Top -->


<!-- footer content -->
<div class="footer-content">
    <div class="container">

        <div class="row">

            <!-- FOOTER CONTACT INFO -->
            <div class="column col-md-4">
                <h3 class="break-line">Contact &amp; Site Information</h3>

                <ul class="contact">
                    <li><a href="/contact">Questions &amp; Technical Assistance</a></li>
                    <li><a href="/siteinfo">Site Information</a></li>
                </ul>

                <h3 class="break-line">Cornell University</h3>
                <ul>
                    <li><a href="http://www.cornell.edu">Cornell University</a></li>
                    <li><a href="http://www.alumni.cornell.edu">Cornell Alumni</a></li>
                    <li><a href="http://www.giving.cornell.edu/">Giving to Cornell</a></li>
                    
                </ul>

            </div>
            <!-- /FOOTER CONTACT INFO -->


            <!-- FOOTER LOGO -->
            <div class="column logo col-md-4 text-center">
                <div class="logo-content">
                    <img class="animate_fade_in" src="<?php echo $asset_path; ?>/assets/images/cornell/emblem.png" height="145" width="145" style="margin:40px;" />
                </div>											
            </div>
            <!-- /FOOTER LOGO -->


            <!-- FOOTER LATEST POSTS -->
           <div class="column col-md-4 text-right">
               
               <h3 class="twtr-head break-line"><a href="https://twitter.com/search?q=%23Cornell150%20from%3ACornell%20OR%20from%3ACornellCALS%20OR%20from%3Acornellaap%20OR%20from%3ACornellCAS%20OR%20from%3ACornellEng%20OR%20from%3ATheHotelSchool%20OR%20from%3ACornellCHE%20OR%20from%3Acornellilr%20OR%20from%3Acornell_tech%20OR%20from%3ACornellLaw%20OR%20from%3ACornell_MBA%20OR%20from%3ACornellVetMed%20OR%20from%3AWeillCornell%20OR%20from%3AWCMCQ%20OR%20from%3AWeillCornellGS&amp;src=typd" target="_blank">#Cornell150</a></h3>

					<ul class="twtr">
					
					<?php
						$file = wp_remote_fopen('http://www.cornell.edu/_includes/static/150tweets.html');
						echo iconv("UTF-16","UTF-8",$file);
					?>
					
               </ul>
                

            </div>
            <!-- /FOOTER LATEST POSTS -->

        </div>

    </div>
</div>
<!-- footer content -->

</footer>
<!-- /FOOTER -->