<!-- mobile settings -->
<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

<!-- favicon -->
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

<!-- TYPEKIT FONTS, ONLY WORK ON *.CORNELL.EDU -->
<script type="text/javascript" src="//use.typekit.net/gog6dck.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<!-- CORE CSS -->
<link href="<?php echo $asset_path; ?>/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="<?php echo $asset_path; ?>/assets/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="<?php echo $asset_path; ?>/assets/plugins/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css" />
<link href="<?php echo $asset_path; ?>/assets/plugins/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css" />
<link href="<?php echo $asset_path; ?>/assets/plugins/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css" />
<link href="<?php echo $asset_path; ?>/assets/plugins/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
<link href="<?php echo $asset_path; ?>/assets/css/animate.css" rel="stylesheet" type="text/css" />
<link href="<?php echo $asset_path; ?>/assets/css/superslides.css" rel="stylesheet" type="text/css" />

<!-- REVOLUTION SLIDER -->
<link href="<?php echo $asset_path; ?>/assets/plugins/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />

<!-- THEME CSS -->
<link href="<?php echo $asset_path; ?>/assets/css/essentials.css" rel="stylesheet" type="text/css" />
<link href="<?php echo $asset_path; ?>/assets/css/layout.css" rel="stylesheet" type="text/css" />
<link href="<?php echo $asset_path; ?>/assets/css/layout-responsive.css" rel="stylesheet" type="text/css" />
<link href="<?php echo $asset_path; ?>/assets/css/cornell.css" rel="stylesheet" type="text/css" />

<!-- SESQUI CSS -->
<link href="<?php echo $asset_path; ?>/assets/css/sesqui.css" rel="stylesheet" type="text/css" />

<!-- REGIONAL CELEBRATIONS CSS - SPECIFICALLY DESIGNED FOR EVENTS -->
<link rel="stylesheet" href="<?php echo $asset_path; ?>/assets/css/regional-celebrations.css">

<!-- Modernizr -->
<script type="text/javascript" src="<?php echo $asset_path; ?>/assets/plugins/modernizr.min.js"></script>