<!-- JAVASCRIPT FILES -->
<script type="text/javascript" src="<?php echo $asset_path; ?>/assets/plugins/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="<?php echo $asset_path; ?>/assets/plugins/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="<?php echo $asset_path; ?>/assets/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="<?php echo $asset_path; ?>/assets/plugins/jquery.appear.js"></script>
<script type="text/javascript" src="<?php echo $asset_path; ?>/assets/plugins/jquery.isotope.js"></script>
<script type="text/javascript" src="<?php echo $asset_path; ?>/assets/plugins/masonry.js"></script>

<script type="text/javascript" src="<?php echo $asset_path; ?>/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="<?php echo $asset_path; ?>/assets/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="<?php echo $asset_path; ?>/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
<script type="text/javascript" src="<?php echo $asset_path; ?>/assets/plugins/stellar/jquery.stellar.min.js"></script>
<script type="text/javascript" src="<?php echo $asset_path; ?>/assets/plugins/knob/js/jquery.knob.js"></script>
<script type="text/javascript" src="<?php echo $asset_path; ?>/assets/plugins/jquery.backstretch.min.js"></script>
<script type="text/javascript" src="<?php echo $asset_path; ?>/assets/plugins/superslides/dist/jquery.superslides.min.js"></script>
<script type="text/javascript" src="<?php echo $asset_path; ?>/assets/plugins/mediaelement/build/mediaelement-and-player.min.js"></script>

<!-- REVOLUTION SLIDER -->
<script type="text/javascript" src="<?php echo $asset_path; ?>/assets/plugins/revolution-slider/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="<?php echo $asset_path; ?>/assets/plugins/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>

<!-- CUSTOM SCRIPTS -->
<script type="text/javascript" src="<?php echo $asset_path; ?>/assets/js/scripts.js"></script>