<!-- BEGIN TOP NAV -->
<header id="topNav" role="banner">

  <!-- BEGIN #cu-identity-wrapper, contains Cornell 45px Banner & Searchbar -->
  <div id="cu-identity-wrapper">
    <form action="//www.cornell.edu/search" id="cu-search" method="get" role="search">
      <div class="container">
        <input autocomplete="off" id="search-query" name="q" placeholder="Search pages and people" required="" type="search">
        <label for="search-query" style="display: none;">Search pages and people</label>
      </div>
    </form>
    <div id="cu-identity-trans">
      <div class="container">
        <div class="row">
          <div class="col-md-12"> <a href="http://www.cornell.edu" id="cu-brand" title="Cornell.edu Homepage" data-click-category="header" data-click-action="home">
            <div class="insignia-link">Cornell University</div>
            </a>
            <div id="search-form" class="search-45"> <a class="fa fa-search" id="search-trigger" href="#" data-click-category="header" data-click-action="search | reveal search box" data-click-label="magnifying glass"><span class="off-screen">Go</span></a> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END #cu-identity-wrapper -->

  <!-- BEGIN MAIN MENU -->
  <div class="container">    
      <!-- Mobile Menu Button -->
      <div class="navbar-header">
        <img src="<?php echo $asset_path; ?>/assets/images/cornell/150.png" alt="150 Years of Cornell University" class="visible-xs logo150"/>
        <button class="btn" data-toggle="collapse" data-target=".nav-main-collapse">
        <i class="fa fa-bars"></i>
        </button>
      </div>

      <!-- Top Nav -->
      <div class="navbar-collapse nav-main-collapse collapse" role="navigation">
          <nav class="nav-main">
              <ul class="nav nav-pills nav-main scroll-menu navbar-top" id="topMain">
                  <li>
                      <a class="dropdown-toggle nav-link-main" href="<?php echo $nav_path; ?>/">
                          Home
                      </a>
                  </li>
                  <li>
                      <a class="dropdown-toggle nav-link-main" href="<?php echo $nav_path; ?>/about">
                          About
                      </a>
                  </li>
                  <li class="active">
                      <a class="dropdown-toggle nav-link-main" href="<?php echo $nav_path; ?>/events">
                          Events 
                      </a>
                      <!-- SHOWS IN MOBILE, HIDES SECONDARY NAV -->
                      <ul class="visible-xs">
                          <li><a class="nav-link-main" href="<?php echo $nav_path; ?>/events/regional">Regional Celebrations</a></li>
                          <li><a class="nav-link-main" href="<?php echo $nav_path; ?>/events/charterday">Charter Day Weekend</a></li>
                      </ul>
                  </li>
                  <li id="logoimg" class="hidden-xs">
                      <a href="<?php echo $nav_path; ?>/"><img src="<?php echo $asset_path; ?>/assets/images/cornell/150.png" alt="150 Years of Cornell University" /></a>
                  </li>
                  <li>
                      <a class="dropdown-toggle nav-link-main" href="<?php echo $nav_path; ?>/timelines">
                          Timelines
                      </a>
                  </li>
                  <li>
                      <a class="dropdown-toggle nav-link-main" href="<?php echo $nav_path; ?>/gallery">
                          Gallery
                      </a>
                  </li>
                  <li>
                      <a class="dropdown-toggle nav-link-main" href="<?php echo $nav_path; ?>/participate">
                          Participate
                      </a>
                  </li>
              </ul>
          </nav>
      </div>
  </div>
  <!-- END MAIN MENU -->

  <!-- BEGIN SECONDARY NAV, INCLUDING REGIONAL CELEBRATIONS AND CDW -->
  <div class="hidden-xs navbar">
      <ul class="nav navbar-nav nav-bottom">
          <li><a href="<?php echo $nav_path; ?>/events/regional">Regional Celebrations</a></li><!--
          --><li class="active"><a href="<?php echo $nav_path; ?>/events/charterday">Charter Day Weekend</a></li>
      </ul>
  </div>
  <!-- END SECONDARY NAV -->
  
</header>
<!-- END TOP NAV