/*
Skin Name: Dynamic SlideDeck Light
Description: Light colored default skin for dynamic SlideDecks
Version: 1.0
Author: digital-telepathy
Author URI: http://www.dtelepathy.com/
Contributors: dtelepathy, dtrenkner, kynatro, jamie3d
Tags: white, light, grayscale, dynamic, slidedeck

IE 7 Specific node width overrides

*/

.skin-light ul.sd-node-navigation-type-post-titles.sd-node-total-3 li a.sd-node-nav-link { width: 33.33333332%; }
.skin-light ul.sd-node-navigation-type-post-titles.sd-node-total-4 li a.sd-node-nav-link { width: 24.9%; }
.skin-light ul.sd-node-navigation-type-post-titles.sd-node-total-5 li a.sd-node-nav-link { width: 19.9%; }
