/*
Theme Name: EEID
Theme URI: http://eeid.cornell.edu/
Author: William M. Najar
Author URI: http://underscores.me/
Description: Based on the _s theme, and created by William M. Najar.
Version: 1.0
License: GNU General Public License
License URI: license.txt
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/


/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centred in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust: 100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	background-image: url('/wp-content/themes/eeid/static/background.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #4daa7a;	
}

div#page {
	width: 90%;
	min-width: 1100px;
	max-width:1350px;
	margin: 0 auto;
}

div#secondary {
	width:260px;
	float:right;
	margin:0;
	position:relative;
	z-index:2;
	padding:20px;
	background:#dee3de;
	border-bottom-left-radius:25px;
	-moz-border-radius-bottomleft:25px;
	font-size:15px;
	box-shadow: -1px 5px 0px #C2CCC2;
	-moz-box-shadow: -1px 5px 0px #C2CCC2;
	-webkit-box-shadow: -1px 5px 0px #C2CCC2;
}

hgroup {
	display:block;
	height:125px;
	background:url('/wp-content/themes/eeid/static/mosquito.png') no-repeat bottom right;
	background-color:rgba(0,0,0,0.4);
}
img.logo {
	float: left;
	margin: 10px 0 10px 15px;
}
div.titlesblock {
	display: inline-block;
	margin: 20px 0 0 20px;
}
nav.site-navigation {
	background:#1877B6 url('/wp-content/themes/eeid/static/navgradient.png') repeat-x;
  	height:45px;
	position:relative;
	z-index:2;
	margin:0;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

nav li a, nav li a:visited {
	font-family:'Oswald';
	color: #fff;
	line-height: 45px;
	font-weight: 400;
	font-size: 20px;
	padding: 0 18px;
	text-decoration:none;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	transition:background 0.3s linear 0.05s;
    -moz-transition:background 0.3s linear 0.05s;
    -webkit-transition:background 0.3s linear 0.05s;
}

.main-navigation li.current_page_item a,
.main-navigation li.current-menu-item a {
	color: #edf4ff;
  	position:relative;
}

.main-navigation li.current_page_item a:before,
.main-navigation li.current-menu-item a:before {
	content: "";
    position: absolute;
	z-index:1;
    bottom: -13px;
    left: 30%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-top: 13px solid #125A89;
    border-right: 15px solid transparent;
}

nav li:not(.current_page_item) a:hover {
	color:#fff;
	background:rgba(27,134,205,0.5);
}

header.entry-header {
	display:inline-block;
	margin:25px 0 0 40px;
}

div#main {
	background:#f5f5f5;
	padding-bottom:25px;
	min-height:910px;
}

footer.site-footer {
	height:75px;
	color:#fff;
	background:#125a89;
  	background: -webkit-gradient(linear, left top, left bottom, from(#125a89), to(#0f4b72));
    background: -moz-linear-gradient(top, #125a89, #0f4b72);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#125a89', endColorstr='#0f4b72');
}

div.entry-meta {
	margin-top:10px;
}

footer.entry-meta {
	border-top:4px solid #1877B6;
	margin:0 0 0 40px;
	padding-top:10px;
	max-width:700px;
}
span.edit-link {
	display:block;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}


/* =Global
----------------------------------------------- */

body,
button,
input,
select,
textarea {
	color: #555;
	font: 16px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
	font-weight: 400;
}

/* Headings */
h1.site-title{
	font-size:36px;
	font-family:'Oswald';
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	
}
h1.site-title a {
	color:#fff;
}

.entry-content h3, .textwidget h3 {
	display:inline-block;
	margin-bottom:10px;
	font-family:'Oswald';
	font-size:20px;
	color:#00355F;
	border-bottom: 1px solid #89cce2;
}

.textwidget ul {
	margin:5px 0 10px 20px;
}
.textwidget ul li {
	margin:3px 0;
}

.entry-content h4 {
	display:inline-block;
	color: #6EB43F;
	font-family:'Oswald';
	font-weight:normal;
	font-size:17.5px;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #89cce2;
}

h2.site-description {
	font-family:'Oswald';
	font-weight:400;
	font-size:19px;
	color:#add890;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}

h1.entry-title {
	font-family: 'Oswald';
	font-size:24px;
	border-bottom: 2px solid #89cce2;
	color:#00355f;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
	*overflow: visible;  /* Corrects inner spacing displayed oddly in IE6/7 */
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
	color: rgba(0,0,0,.8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.4rem;
	line-height: 1;
	padding: 1.12em 1.5em 1em;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
}
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
}
button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	-webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type=text],
input[type=email],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
	color: #111;
}
input[type=text],
input[type=email] {
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* Links */
a {
	text-decoration:none;
	color:#369;
}
a:visited {
	text-decoration:none;
	color:#1b67b3;
}
a:hover,
a:focus,
a:active {
	color:#369;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.assistive-text {
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}


/* =Menu
----------------------------------------------- */

.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation a {
	display: block;
	text-decoration: none;
}
.main-navigation ul ul {
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	display: none;
	float: left;
	position: absolute;
		top: 1.5em;
		left: 0;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
}
.main-small-navigation .menu {
	display: none;
}


/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
	margin: 0;
}
.entry-meta {
	clear: both;
}
.byline {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.entry-content,
.entry-summary {
	margin: 1.5em 340px 0 0;
	padding-left:40px;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* =Media
----------------------------------------------- */

.site-header img,
.entry-content img,
.comment-content img,
.widget img {
	max-width: 100%; /* Fluid images for posts, comments, and widgets */
}
.site-header img,
.entry-content img,
img[class*="align"],
img[class*="wp-image-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
.site-header img,
.entry-content img,
img.size-full {
	max-width: 100%;
	width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	max-width: 100%;
}
.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright {
	margin-bottom: 1.5em;
}
.wp-caption img {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-content .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-content .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-content .gallery dd {
	margin: 0;
}
.site-content .gallery-columns-4 .gallery-item {
}
.site-content .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Navigation
----------------------------------------------- */

.site-content .site-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.site-content .nav-previous {
	float: left;
	width: 50%;
}
.site-content .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/* =Comments
----------------------------------------------- */

.bypostauthor {
}

/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.5em;
}

/* Search widget */
#searchsubmit {
	display: none;
}

blockquote {
	border-left: 3px solid #0068ac;
	padding-left: 10px;
}

/* People */

div.person {
	height:95px;
	display:block;
	clear:left;
	margin: 0 0 0 10px;
}

div.person img {
	float:left;
	margin:0 20px 0 0;
}

p.name {
	color:#6eb43f;
	font-family:'Oswald';
	font-size:17.5px;
	margin: 0;
}
p.subtitle {
	margin: 0;
}
p.contact {
	margin: 0;
}

div.personspiel {
	margin-left:10px;
}

div.personspiel p {
	margin:0 0 45px 0;
	padding-bottom:10px;
	border-bottom: 1px solid #ccc;
}

span.focus {
	font-family:'Oswald';
	color:#00355F;
	font-size:17px;
}

img:not(.logo) {
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

p.sidebarcaption {
	font-size:11px;
	display:inline-block;
}

input#s {
	width:240px;
	padding:10px;
	outline: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
    -webkit-transition: box-shadow linear 0.2s;
    -moz-transition: box-shadow linear 0.2s;
    -ms-transition: box-shadow linear 0.2s;
    -o-transition: box-shadow linear 0.2s;
    transition: box-shadow linear 0.2s;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    border-radius: 2px;
    -moz-border-radius: 2px;
}

p.footertext {
	text-align:center;
	font-family:'Oswald';
	font-size:16px;
	line-height:75px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

p.footertext a {
	color:#CFF;
}

div.programimage {
	margin: 0 0 10px 0;
}

/* Slideshow */

#post-18 .entry-content {
	margin: 45px 0 0 0;
	padding-left: 0 !important;
}


#slideshow { 
    margin:0; 
    position: relative; 
    width: 1050px; 
    height: 500px; 
}

#slideshow > div { 
    position: absolute; 
    top: 0; 
    left: 0; 
}

#caption {
	font-size:14px;
	line-height:35px;
	padding-left:15px;
	color:#fff;
	height:35px;
	background:#404040;
	margin-bottom:25px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

span.photolabel {
	font-family:'Oswald';
	font-size:18px;
	margin-right:5px;
}

span.captiontext {
	height:45px;
	position:relative;
	top:-2px;
}

#homewrapper {
	padding-left:40px;
	margin-right:315px;
}

div.clear {
	clear:both;
}