/* import Google fonts */
@import url(//fonts.googleapis.com/css?family=Cinzel:400,700|Cinzel+Decorative:400,700,900|PT+Sans:400,400italic,700,700italic|PT+Serif:400,400italic,700,700italic);
/**** Body *****/
body {
	background: #808073 url(../images/layout/header_bg.png) repeat-x 0 0; /* footer color */
	padding: 0;
	margin: 0;
	font-family: "PT Serif", serif;
	color: #675333;
	-webkit-font-smoothing: antialiased;
	font-size: 75%; /* 12px *//* font size key in em:
		0.750em = 09px
		0.833em = 10px
		0.917em = 11px
		default = 12px
		1.083em = 13px
		1.167em = 14px
		1.250em = 15px
		1.333em = 16px
		1.500em = 18px
		1.667em = 20px
		1.833em = 22px
		2.000em = 24px
		3.000em = 36px
	*/
}

html,body {
    height:100%;
}

/**** Cornell Identity and Search form edits *****/

#cu-identity {
	margin-top: 3px;
	font-family: Arial, Helvetica, sans-serif;
}

#cu-logo {
	width: 960px;
	margin: 0 auto;
}

#search-form {
	float: right;
	width: auto;
	margin-top: 10px;
	font-size: 0.9em;
}

#cu-identity #search-form label {
	color: #000;
}

/**** Text Styles ****/

p, td, th, li, dt, dd {
	line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	line-height: 1.3em;
	margin-bottom: 12px;
	color: #675333;
	font-family: "PT Serif", sans-serif;
}
h1, h2 {
	font-family: "Cinzel Decorative", cursive;
	line-height: 1em;
}

h2.section-title {
	color: #FEFEEE;
	text-align: center;
	margin-top: 55px;
	font-size: 1.9em;
}

h2.page-title, h3.entry-title {
	color: #9A610A;
	font-size: 1.9em;
	font-weight: 400;
	font-family: "Cinzel Decorative", cursive;
}

.home h3.entry-title {
	font-size: 2.6em;
}

h2.page-title a, h3.entry-title a {
	color: #9A610A;
	text-decoration:none;
}

h2.section-title a {
	color: #FEFEEE;
	text-decoration:none;
}

h3 {
	font-size: 1.6em;
	display: block;
}
h4 {
	font-weight: 400;
	font-size: 1.4em;
}

#secondary h4 {
	color: #fff;
	font-size: 1.6em;
	text-shadow: 1px 1px 1px #76251F;
}
h5 {
	font-weight: 400;
	color: #386684;
	margin-bottom: 15px;
	font-size: 1.4em;
}
h6 {
	font-weight: 400;
	font-style: italic;
	margin-bottom: 5px;
	font-size: 1.4em;
}
p {
	margin-bottom: 15px;
}
p.last {
	margin-bottom: 0;
}
strong {
	font-weight: 700;
}
blockquote, pre {
	margin-left:2em;
	padding-left: 1em;
	border-left:1px solid #ccc;
	font-style: italic;
	line-height: 1.4em;
}
pre, code {
	font-family: mono-space, monospace;
	font-style: normal;
	margin-bottom: 15px;
}
abbr, acronym {
	text-transform:uppercase;
	border-bottom: 1px dotted #000;
	letter-spacing: 1px;
}
abbr[title], acronym[title] {
	cursor:help;
}
sup, sub {
	font-size:.8em;
	position: relative;
}
sup {
	top: -0.4em;
}
sub {
	top: 0.2em;
}
em, cite {
	font-style:italic;
}
.clear {
	clear: both;
	width: 100%;
}
p.note {
	padding: 10px;
	border: 1px solid #ccc;
}
.more {
	padding-right: 8px;
	background: transparent url(../images/layout/arrows/right_red.png) no-repeat 100% 80%;
}
.text-highlight-red {
	background: #f0beb6;
}

.text-highlight-yellow {
	background: #f0ee9f;
}

.text-highlight-green {
	background: #c5ee9f;
}

/**** Links ****/

a, a:visited {
	color: #BD3A31;
	text-decoration: none;
}
 
a:hover, a:active {
	color: #F00;
	text-decoration: underline;
	}
	
.entry-content a, .entry-content a:visited {
	text-decoration: underline;
}
	
#secondary a, #secondary a:visited {
	color: #F2D1CF;
	text-decoration: underline;
}
 
#secondary a:hover, #secondary a:active {
	color: #fff;
	text-decoration: underline;
	}
	
#footer a, #footer a:visited {
	color: #D2D2CE;
	text-decoration: none;
}
 
#footer a:hover, #footer a:active {
	color: #fff;
	text-decoration: underline;
	}

/**** Lists ****/

ul {
	margin-left: 0;
	margin-bottom: 15px;
}
ul li {
	padding-left: 18px;
	background: url(../images/layout/arrows/right_red.png) no-repeat 0 0.4em;
}

#secondary ul li {
	background: url(../images/layout/arrows/right_red_secondary.png) no-repeat 0 0.4em;
}
ol {
	margin-left: 36px;
	margin-bottom: 15px;
}
ol li {
	padding-left: 0;
	list-style: decimal;
	background: none;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 4px;
}
dl {
	margin-left: 0;
	margin-bottom: 15px;
}
dl dl {
	margin-left: 30px;
}
dt {
	font-weight: 700;
	margin-bottom: 8px;
}
dd {
	margin-bottom: 12px;
}
/* Table of Contents */
ul.toc {
	border-left: 4px solid #dbe3e9;
	margin-left: 1px;
	padding-left: 0px;
	margin-bottom: 20px;
}
ul.toc li {
	background: none;
	padding-left: 10px;
}
ul.toc ol li {
	padding-left: 0;
}
ul.toc a {
	padding-right: 9px;
	background: url(../images/layout/link_arrow_white.gif) right 0.35em no-repeat;
}

/**** Images *****/
.image {
	display: block;
}
.alignleft {
	float: left;
	margin: 0 12px 6px 0;
}

.alignright {
	float: right;
	margin: 0 0 6px 12px;
}
/*caption*/

.wp-caption img {
	margin:0;
	padding:0;
	width: 100%;		
	}

.alignright {
  	float: right;
	margin: 0 0 15px 15px;
}

.alignleft {
  	float: left;
	margin: 0 15px 15px 0;
}
p.wp-caption-text {
  	font-size: 0.9em;
	color: #666;
	padding: 20px;
	margin:0;
	background: #fff;
}
/****************************************
 * Tables
 ****************************************/

table, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	}
	
table {
	margin: 15px 0;
	border-bottom: 1px solid #EDEBBD;
	caption-side: bottom;
	}
	
th {
	padding: 0 15px 5px 15px;
	text-align: left;
	color: #4A1109;
	text-shadow: 1px 1px 1px #fff;
	}
	
td {
	padding: 10px 15px;
	border-top: 1px solid #EDEBBD;
	font-size: 1.1em;
	line-height: 1.5em;
	vertical-align: top;
	}
	
.row1, .row1 td, .row1 th {
	background: #fff;
	} 
	
.row2, .row2 td, .row2 th {
	background: #F5F4DC;
	}
	
tfoot td {
	font-weight: 400;
	}

caption {
	margin: 0 0 15px 0;
	text-align: left;
	color: #888;
	font-size: 1.1em;
	}

/**** Layout *****/
#wrap {
	float: left;
	width: 100%;
	clear: both;
}
#content-wrap {
	float: left;
	width: 100%;
	position: relative;
	top: -4px;
	background: #EDEBBD/* url(../images/layout/twocolumn_bg.png) repeat-y top center*/; 
}
#content {
	width: 960px;
	margin: 0 auto;
	overflow:auto;
	background: #EDEBBD url(../images/layout/twocolumn_bg.png) repeat-y top left;
}

#main, #secondary, #section-navigation {
	float: left;
}

#main {
	width: 600px;
	padding: 20px;
	float: right;
	font-size: 1.1em;
}
#main .textwidget {
	line-height: 1.6em;
}

#secondary {
	width: 280px;
	float: left;
	padding: 20px;
	color: #FBF3F3;
}
#section-navigation {
	width: 320px;
	padding: 0;
	margin: 0;
}

/**** Header *****/
#header {
	float: left;
	width: 100%;
	margin: 10px 0 15px 0;
}

#header .header-meta {
	width: 960px;
	margin: 0 auto;

}
#header h1, #header h2 {
	margin: 0;
	padding: 0;
}

#header h1 {
	font-size: 3.5em;
	text-indent: 30px;
}

h1#responsive_headline {
	display: block;
	width: 100%;
}

#header h2 {
	color: #6B6B69;
	font-size: 1.4em;
	text-indent: 55px;
}

#header h1 a {
	text-decoration: none;
	color: #AC7D35;
}

#pull-navigation {display: none;}

.navigation {
	float: left;
	width: 100%;
	margin: 0;
	position: relative;
	font-family: "Cinzel Decorative", cursive;
	background: #BD3A31 url(../images/layout/nav_bg.png) repeat-y top center;
}
.navigation ul {
	margin: 0 auto;
	padding: 0;
	width:960px;
	position: relative;
	top: -4px;
	background: #BD3A31;
	min-height: 4px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	
}
.navigation li {
	float: left;
	background-image: none;
	padding: 0;
	margin: 0;
	width: 33.2%;
	font-size: 1.46em;
	border-right:1px solid #AA342C;
	border-bottom:1px solid #AA342C;
}

.navigation li a {
	float: left;
	width: 100%;
	text-align: center;
	text-decoration: none;
	color: #F9EFEE;
	background: url(../images/layout/nav_item_off.png) repeat-x 0 0;
	font-size: 1em;
	padding: 5px 0 3px 0;
	text-align: center;
}
.navigation li.menu-item-9 a, .navigation li.menu-item-22 a {
	border-top-left-radius: 4px;
}

.navigation li.menu-item-11 a, .navigation li.menu-item-21 a {
	border-top-right-radius: 4px;
}

.navigation li.menu-item-11, .navigation li.menu-item-14, .navigation li.menu-item-21, .navigation li.menu-item-19 {
	border-right:none;
	width: 33.394%;
}

.navigation li a:hover, .navigation li.current-menu-item a, .navigation li.current-page-ancestor a {
	color: #3E2805;
}
/* Campaign */
.campaign-wrap {
	float: left;
	width: 100%;
	background: #3E2805 url(../images/layout/campagn_bg.png) no-repeat top center;
}
.campaign {
	margin: 0 auto;
	width: 960px;
	height: 140px;
	overflow: hidden;
	background: transparent url(../images/project/home1.jpg) no-repeat 100% 50%;
}

.section-call-for-nominations .campaign {background: transparent url(../images/project/home2.jpg) no-repeat 100% 50%;}
.section-visits-and-events .campaign {background: transparent url(../images/project/home3.jpg) no-repeat 100% 50%;}
.section-program-info .campaign {background: transparent url(../images/project/home4.jpg) no-repeat 100% 50%;}
.section-professors-at-large .campaign {background: transparent url(../images/project/home5.jpg) no-repeat 100% 50%;}
.section-et-cetera .campaign {background: transparent url(../images/project/home6.jpg) no-repeat 100% 50%;}
.section-selection-commitee .campaign {background: transparent url(../images/project/home7.jpg) no-repeat 100% 50%;}

.home .campaign {
	height: 240px;
	background-image: none;
}

.home .campaign img {
	float: right;
}

#header .header-meta h2.page-title {
	padding: 0;
	margin: 20px 0 0 0;
}

/* home page styles */

h3.curent-professors {
	color: #99610A;
	font-family: "PT Sans", sans-serif;
	font-size: 1.8em;
	text-transform: uppercase;
	background: transparent url(../images/layout/home_title.png) no-repeat;
	padding-left: 32px;
}
ul.list-categories {
	float: right;
	width: 50%;
	text-align: right;
	padding: 0;
	margin: -48px 0 0 0;
}

#secondary ul.list-categories {
	float: left;
	width: 100%;
	text-align: left;
	padding: 0;
	margin: 0;
}

.list-sorting {
	float: left;
	clear: both;
	width: 100%;
	margin: 0 0 10px -10px;
}

ul.list-categories.sort-by, ul.list-categories.sort-direction {
	float: left;
	width: auto;
	text-align: left;
	padding: 0;
	margin: 0;
}
ul.list-categories li {
	display: inline-block;
	background-image: none;
	line-height: 1em;
	padding: 0 0 5px 10px;
}

#secondary ul.list-categories li {
	display: block;
	background-image: none;
	padding: 0 0 15px 0;
	font-size: 1.8em;
	font-family: "PT Sans", sans-serif;
}

ul.list-categories li a {
	border-left: 6px solid #EDEBBD;
	display: inline-block;
	padding-left: 5px;
	text-decoration: none;
}

#secondary ul.list-categories li a {
	text-decoration: none;
}

ul.list-categories li.life-sciences a {border-left: 6px solid #BECC40;}
ul.list-categories li.social-sciences a {border-left: 6px solid #8671A3;}
ul.list-categories li.arts a {border-left: 6px solid #CC524A;}
ul.list-categories li.humanities a {border-left: 6px solid #62AEB3;}
ul.list-categories li.physical-sciences a {border-left: 6px solid #FFB03A;}

p.ring {
  float: right; 
  clear: right; 
  width: 210px; 
  margin: 0 0 10px 20px; 
  position: relative; 
  top: -40px; 
  font-size: 1.5em; 
  text-align: center; 
  color: #996109; 
  min-height: 180px; 
  background: url(http://blogs.cornell.edu/adwhite/files/2013/04/colorring-1srqms1.png) no-repeat top center; 
  font-style: italic;
}

.wp-caption {
  padding: 5px; 
  background: #fff;
  border: 1px solid #E6E4AE;
  -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
          border-radius: 0.5em;
}

.wp-caption .wp-caption-text {
  padding: 6px;
  margin: 0;
  line-height: 1.2em;
}

/* Secondary Container */

#secondary .widget-container {
	margin-bottom: 20px;
}
#secondary .textwidget {
	line-height: 1.6em;
}
#secondary .textwidget p.caption {
	font-size: 0.917em;
	color: #666;
	line-height: 1.4em;
	padding-top: 7px;
}
#secondary h3 {
	color: #F3F1C3;
	font-family: "PT Sans", sans-serif;
	font-size: 1.6em;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #76251F;
}
 
/* Home page */

/* homepage campaign widget */
#extra {
	float: left;
	width: 320px;
	height: 240px;
	overflow: hidden;
	position: relative;
}

.home #extra {
	background: transparent url(../images/layout/port_bg.png) no-repeat;
}
#extra .widget-container {	
	width: 175px;
	float: right;
	margin: 74px 10px 0 0;
	color: #E8DEDA;
	line-height: 1.4em;
}

#extra .widget-container p {	
	margin: 0;
	padding: 0;
}

#crumbs {
	float: left;
	clear: both;
	width: 100%;
	margin: 0 0 10px 0;
}
/**** Footer *****/ 

#footer {
	float: left;
	clear: both;
	width: 100%;
	padding: 20px 0;
	font-family: "PT Sans", sans-serif;
	color: #40403A;
	font-size: 1.2em;
	line-height: 1.4em;
}
#footer-content {
	width: 960px;
	margin: 0 auto;
}
#footer h3 {
	font-family: "PT Sans", sans-serif;
	color: #B5B5AE;
	text-transform: uppercase;
	font-size: 1.4em;
	margin-bottom: 12px;
}
#footer-left {
	float: left;
	width: 280px;
	padding: 0 0 0 20px;
}

#footer-right {
	float: right;
	width: 600px;
	padding: 0 20px;
	margin: 0;
}

#edublogs {
	float: left;
	clear: both;
	width: 100%;
	padding: 10px 0;
	font-size: 0.90em;
	color: #ccc;
	text-align: center;
}

#edublogs a{
	color: #ccc;
}

p.contact {float: left;}

p.address {float: right;}

/**** Misc *****/

#skipnav {
	position: absolute;
	top: -1000em;
	left: -1000em;
	}
	
hr {
	display: none;
}

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

.element {
  width: 120px;
  height: 80px;
  margin: 5px 30px 20px 0;
  float: left;
  text-align: right;
  overflow: hidden;
  position: relative;
  background: #FFB03A;
  color: #222;
  -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
          border-radius: 0.5em;
}

.element img, .element a.hide-show, .element a.hide-show span {
  -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
          border-radius: 0.5em;
}

.element img {display: block; float: right;}

.element.life-sciences, .element.life-sciences a.hide-show:hover {background: #BECC40;}
.element.social-sciences, .element.social-sciences a.hide-show:hover {background: #8671A3;}
.element.arts, .element.arts a.hide-show:hover {background: #CC524A;}
.element.humanities,.element.humanities a.hide-show:hover {background: #62AEB3;}

.element a.hide-show {
	display: block;
	width: 100px;
	padding: 30px 10px 10px 10px;
	height: 40px;
	text-align: center;
	position: relative;
	overflow: hidden;
	background: transparent;
	top: -80px;
	color: #000;
	text-decoration: none;
	text-shadow: 1px 1px 1px #FBFBEB;
}

.element a.hide-show:hover {background: #FFB03A;}
.element a.hide-show span {display: none;}
.element a.hide-show:hover span {display: block;}

/* professors listing page */

.professors-listing .element {
  width: 100%;
  height: auto;
  margin: 5px 0;
  float: left;
  text-align: left;
  overflow: hidden;
  position: relative;
  background: #FCFCEC !important;
  color: #675333;
  -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
          border-radius: 0.5em;
}

.professors-listing .element img, .archive-item img {
	float: left;
	padding-left: 18px;
	margin: 0 10px 0 0;
	background: #EDEBBD;
  -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
          border-radius: 0.5em;
}
.professors-listing .element.life-sciences img {background: #BECC40;}
.professors-listing .element.social-sciences img {background: #8671A3;}
.professors-listing .element.arts img {background: #CC524A;}
.professors-listing .element.humanities img {background: #62AEB3;}
.professors-listing .physical-sciences img {background: #FFB03A;}

.professors-listing ul.list-categories {
	float: left;
	width: 100%;
	text-align: left;
	padding: 0;
	margin: 0 0 10px -10px;
}

.professors-listing .element h3, .archive-item h3 {
	display: inline;
	font-size: 1.6em;
	margin: 0;
	padding: 0;
}

.professors-listing .element h3 a {color: #b31b1b;}
.professors-listing .element h3 a:hover {color: #F00;}

/* archive default styles */

.archive-item {
	float: left; 
	clear: both;
	margin: 10px 0;
}

.life-sciences img {background: #BECC40;}
.social-sciences img {background: #8671A3;}
.arts img {background: #CC524A;}
.humanities img {background: #62AEB3;}
.physical-sciences img {background: #FFB03A;}

/* tags page styles */

.archive-item.tags img, .post-tn img {
	float: left;
	margin: 0 10px 0 0;
  -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
          border-radius: 0.5em;
	padding: 0;
	width: 62px;
	height: 50px;
}

/****** widgets styles ******/

/* featured posts */
#secondary .tw-recent-posts .featured-post img {
	  -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
          border-radius: 0.5em;
	width: 62px;
	height: 50px;
}

#secondary .tw-recent-posts .featured-post h4 a {
	text-decoration: none;
	color: #fff;
	font-size: 1.4em;
	text-shadow: 1px 1px 1px #76251F;
}

#secondary .tw-recent-posts .featured-post .post-time {
	text-align: left;
}

#secondary .tw-recent-posts .featured-post .excerpt {
	line-height: 1.4em;
}
 /* posts shortcode styles */
 
.display-posts-listing, .display-posts-listing .listing-item {
	float: left;
	clear: both;
}

.display-posts-listing .listing-item {
	margin-bottom: 20px;
	width: 100%;
}

.display-posts-listing .listing-item img {
	-webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
          border-radius: 0.5em;
	width: 62px;
	height: 50px;
	float: left;
	margin: 0 10px 0 0;
}

.display-posts-listing .listing-item a.post-title {
	font-size: 1.4em;
	display: block;
	text-decoration: none;
	margin-bottom: 6px;
}

#secondary .display-posts-listing .listing-item a.post-title {
	text-decoration: none;
	text-shadow: 1px 1px 1px #76251F;
}

.display-posts-listing .listing-item .post-excerpt {
	line-height: 1.4em;
}

.post-item-tags {
	float: left;
	margin: 0 15px 0 0;
}

.post-item-tags a {
	display: inline-block;
	padding: 8px 12px;
	background: #fff;
	border: 1px solid #E6E4AE;
	-webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
          border-radius: 0.5em;
}

/* custom menus */
#secondary .widget_nav_menu ul {
	font-size: 1.6em;
}

#secondary .widget_nav_menu ul li {
	background-image: none;
	padding: 0;
}

#secondary .widget_nav_menu ul li a {
	text-decoration: none;
}


/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/* The Magnificent Clearfix: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
