
/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {	
	}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
#cu-identity, #cu-logo, #content, #header .header-meta, .navigation ul, .campaign, #footer-content {max-width: 100%}
/* navigation */
a#pull-navigation {
		display: block;
		float: left;
		clear: both;
		width: 100%;
		height: 32px;
		background-color: #BD3A31;
		overflow: hidden;
		padding: 10px 0;
		margin: 0;
		position: relative;
		text-align: left;
		text-indent: 32px;
		font-family: "Cinzel Decorative", cursive;
		color: #fff;
		font-size: 2.2em;
	}
a:hover#pull-navigation {
	text-decoration: none;
	color: #3E2805;
	}
a#pull-navigation:before {
		content:"";
		background: url(../images/layout/pull_bg.png) no-repeat;
		width: 16px;
		height: 10px;
		display: inline-block;
		position: absolute;
		left: 10px;
		top: 20px;
	}
nav.navigation ul {display: none;height: auto;clear: left;width: 100%;border-top: 2px solid #CC524A;}
nav.navigation li {display: block;float: none;width: 100%;border: none;}
nav.navigation li a {display: block;width: 100% !important;  text-align: left; border: none; border-bottom: 2px solid #CC524A; text-indent: 10px; background: url(../images/layout/pullnav_bg.png) no-repeat 98% 50%; text-transform: none;}
nav.navigation li a:hover {background: transparent url(../images/layout/pullnav_bg.png) no-repeat 98% 50%}
.navigation li.menu-item-11, .navigation li.menu-item-14, .navigation li.menu-item-21, .navigation li.menu-item-19 {width: 100%;}
#main, #secondary, #cu-identity {width: 96%;clear: both;margin: 0;padding: 2%;}
#content-wrap, #content {background-image: none; background: #FCFCEC;}
.professors-listing .element img {margin: 0 10px 5px 0; clear: left;}
#header h1 { font-size: 3.2em; text-indent: 0; text-align: center;}
#header h2, p.ring, #text-8 {display: none;}
.campaign img {min-width: 100%;}
.campaign,.section-call-for-nominations .campaign,.section-visits-and-events .campaign,.section-program-info .campaign,
.section-professors-at-large .campaign,.section-et-cetera .campaign,.section-selection-commitee .campaign {background-size: cover; !important;}
#footer {width: 96% padding: 2%;}
.campaign, .home .campaign {height: auto}
ul.list-categories {float: left;width: 100%;text-align: left;padding: 0;margin: 0;}
#secondary {background: #BD3A31;}
#footer-left, #footer-right {float: left;width: 96%;padding: 0 2%;}
p.address {float: left;width: 100%;padding: 0;}
#search-form {float: left; margin: 0; padding: 0; width: 100%; text-align: center;}
#extra .widget-container {	width: auto;float: none;margin: 74px 20px 0 134px;font-size: 1.4em;}
#extra {width: 100%; padding: 0;}
#extra h2.section-title{ background: #3E2805; padding: 10px 2%;margin: 0;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
html { -webkit-text-size-adjust: none; }
#cu-identity, #cu-logo, #content, #header .header-meta, .navigation ul, .campaign, #footer-content {max-width: 100%}
/* navigation */
a#pull-navigation {
		display: block;
		float: left;
		clear: both;
		width: 100%;
		height: 32px;
		background-color: #BD3A31;
		overflow: hidden;
		padding: 10px 0;
		margin: 0;
		position: relative;
		text-align: left;
		text-indent: 32px;
		font-family: "Cinzel Decorative", cursive;
		color: #fff;
		font-size: 2.2em;
	}
a:hover#pull-navigation {
	text-decoration: none;
	color: #3E2805;
	}
a#pull-navigation:before {
		content:"";
		background: url(../images/layout/pull_bg.png) no-repeat;
		width: 16px;
		height: 10px;
		display: inline-block;
		position: absolute;
		left: 10px;
		top: 20px;
	}
nav.navigation ul {display: none;height: auto;clear: left;width: 100%;border-top: 2px solid #CC524A;}
nav.navigation li {display: block;float: none;width: 100%;border: none;}
nav.navigation li a {display: block;width: 100% !important;  text-align: left; border: none; border-bottom: 2px solid #CC524A; text-indent: 10px; background: url(../images/layout/pullnav_bg.png) no-repeat 98% 50%; text-transform: none;}
nav.navigation li a:hover {background: transparent url(../images/layout/pullnav_bg.png) no-repeat 98% 50%}
.navigation li.menu-item-11, .navigation li.menu-item-14, .navigation li.menu-item-21, .navigation li.menu-item-19 {width: 100%;}
#content-wrap, #content {background-image: none; background: #FCFCEC;}
.campaign img {min-width: 100%;}
#main, #secondary, #cu-identity {width: 96%;clear: both;margin: 0;padding: 2%;}
#header h1 { font-size: 2em; text-indent: 0; text-align: center;}
#header h2, p.ring, #text-8 {display: none;}	
#footer {width: 96% padding: 2%;}
.campaign, .home .campaign {height: auto}
ul.list-categories {float: left;width: 100%;text-align: left;padding: 0;margin: 0;}
#secondary {background: #BD3A31;}
#footer-left, #footer-right {float: left;width: 96%;padding: 0 2%;}
p.address {float: left;width: 100%;padding: 0;}
#search-form {float: left; margin: 0; padding: 0; width: 100%; text-align: center;}
#extra .widget-container {	width: auto;float: none;margin: 74px 20px 0 134px;}
#extra {width: 100%; padding: 0;}
#extra h2.section-title{ background: #3E2805; padding: 10px 2%;margin: 0;}

}
	
/* #Flexible Images and videos
================================================== */
	
img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
	margin: 10px 0;
}

.video embed,
.video object,
.video iframe {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}