/****************************************
 * Workday
 * Print CSS Rules
 * 08/06 
 ****************************************/
 
/****************************************
 * General Formatting
 ****************************************/
	
body {
	font: 11pt/1.4em "Times New Roman", Times, serif;
	}
	
a {
	text-decoration: none;
	color: #b31b1b;
	}
	
img {
	border: none;
}

#identity h1 em {
	font-style: normal;
	}

#identity a, #footer a {
	color: black;
	}
	
hr {
	height: 1px;
	border: none;
	border-bottom: 1px solid #ccc;
}

/* hiding elements */
#skipnav,
#main-navigation,
#secondary,
#footer-left,
#search-form,
#identity,
#unit-signature-links,
#section-navigation,
.campaign-image,
span.see-all-category-posts a,
p.see-all-category
{
	display: none;
	}