/* ---------------------------------------------------------------------- */
/* BR CONSULTING
/* 
/* 
/* Accent color: #5085a0;
/* Borders color, Submenu background: #568ca7;
/* Page background: #FFFFFF;
/* Content Boxes background: #568ca7;
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* COLORS 
/* ---------------------------------------------------------------------- */

body {
	background: #ebeae1; /*e1e7eb*/
}
#page {
	background-color:#FFFFFF;
	-webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.10); 
	box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.10);
}

a:hover, a > *:hover,
.categories a:hover,
#footer .widget-container li a:hover   {
    color: #5085a0;
}

#footer {
	color: #898989;
}
#footer p {
	margin-bottom: 1.6em;
}
.flex-caption {
	padding: 2.5% 3% 2.4%;
}
.home .one-half img {
	max-width: 130px;
	margin-right: 20px;
}
.intro-page, img.intro-img {
	border: 0 !important;
}
h1, h2, h3, h4, h5, h6 {
	/*color: #5085a0;*/
}
.intro-page h2 {
	color: #898989;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color:#5085a0;
}


.wp-caption {
    width: 150px;
    border: 1px solid #ccc;
    padding: 5px 5px 5px 7px;
}
.wp-caption .wp-caption-text {
    font-size: 11px;
    line-height: 1.3em;
}

#logo {
	
}

#pre-header,
.flex-direction-nav li a:hover {
	background-color:#5085a0;
}

.colored,
.intro-page h2 strong, 
#footer h4,
#copyrights a  {
	color:#5085a0; /*#dd875b*/
}
.flex-caption h3 {
	color:#fff; /*#c2cbd2*/
}
.intro-page h2 strong {
	color: #3e7d9d; /*#a18421;*/
}

#pre-header {
	border-bottom: 4pt solid #dde3e7;
	border: 0;
}

.intro-page,
.horizontal-line,
.divider { 
	border-top: 1pt solid #a8b1b7;
}

#slider_container, .horizontal-line, .intro-page {
	border-color: #c8d5dd; /*#e1caab;*/
}


ul#social-links li {
background: #5b99b7;
background: -moz-linear-gradient(top,  #5b99b7 0%, #426e84 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b99b7), color-stop(100%,#426e84));
background: -webkit-linear-gradient(top,  #5b99b7 0%,#426e84 100%);
background: -o-linear-gradient(top,  #5b99b7 0%,#426e84 100%);
background: -ms-linear-gradient(top,  #5b99b7 0%,#426e84 100%);
background: linear-gradient(to bottom,  #5b99b7 0%,#426e84 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b99b7', endColorstr='#426e84',GradientType=0 );
   box-shadow: 0px 1px 1px #7489A2,inset 0px 2px 5px #49586A;
   -moz-box-shadow: 0px 1px 1px #7489A2,inset 0px 2px 5px #49586A;
   -webkit-box-shadow: 0px 1px 1px #7489A2,inset 0px 2px 5px #49586A;
 }


#main-navigation ul ul li,
#main-navigation ul ul li a {
	background: #222;
}


}
#main-navigation ul li a:hover,
#main-navigation ul li.current-menu-item > a,
#main-navigation ul li.current-menu-ancestor > a {
    background:#F8F8F8;
    border-bottom: 1pt solid #5085a0;
    color: #5085a0;
}


#main-navigation ul li a:hover {
     color: #5085a0;
     background: #F8F8F8;
     border-bottom: 1pt solid #5085a0;
}

#main-navigation ul li.menu-item-has-children a:hover {
     border-bottom: 0pt solid #5085a0;
}

#main-navigation ul ul a:hover,
#main-navigation ul ul .hover > a,
#main-navigation ul ul .current > a,
#main-navigation ul ul .current > a:hover {
     background-color: #5085a0;
     color: #fff;
     border: 0;
}


#main-navigation ul ul a:hover, #main-navigation ul ul .hover > a, #main-navigation ul ul .current-menu-item > a, #main-navigation ul ul .current-menu-item > a:hover {
    background-color:#5085a0;
}



/* Tables */
table {
	width: 100%;
	margin-bottom: 15px;
	border: solid #ddd;
	border-width: 1px 1px 0 0;
	border-collapse: collapse;
}
table table {
	margin-bottom: 0;
}
caption {
	font-style: italic;
	color: #777;
	margin: 0.2em 0;
	line-height: 1.6em;
	text-align: left;
}
td, th {
	border: solid #ddd;
	border-width: 0 0 1px 1px;
	padding: 6px;
	vertical-align: top;
	background: #ffffff;
	background: rgba(255,255,255,0.2);
}
th {
	color: #444;
	font-weight: bold;
	text-align: center;
	background: #f5f5f5;
	background: rgba(0,0,0,0.04);
}
th p {
	margin-bottom: 0;
}





img.intro-img {
	border-bottom: 1pt solid #568ca7;
}

.jcarousel-next, .jcarousel-prev {
    background-color: #5085a0;
}
.jcarousel-prev {
    background-color: #5085a0;
}
.jcarousel-next:hover, .jcarousel-next:focus, .jcarousel-next:active, .jcarousel-prev:hover, .jcarousel-prev:focus, .jcarousel-prev:active {
    background-color: #5085a0;
}
.jcarousel-next-disabled, .jcarousel-next-disabled:hover, .jcarousel-next-disabled:focus, .jcarousel-next-disabled:active, .jcarousel-prev-disabled, .jcarousel-prev-disabled:hover, .jcarousel-prev-disabled:focus, .jcarousel-prev-disabled:active {
    background-color: #568ca7;
}
ul#projects-carousel li .item-content:hover,
ul#portfolio-items-one-fourth li .item-content:hover {
    background-color: #5085a0;
}
.sidebarBox li {
    border-top: 1px dotted #568ca7;
}
/*.sidebarBox li {
    border-bottom: 1px dotted #568ca7;
}*/

.archive .hentry, .page-template-template-blog-php .hentry, .search .hentry {
    border-bottom: 1px solid #568ca7;
}
.post-date {
	background: #5085a0;
}

#pagination span, #pagination a {

}
#pagination .current {

}


#s {

}

#s:focus {

}

.filterable li.active a {
	background-color: #5085a0;
}


.comment-text {

}

#commentform input[type="text"], 
#commentform input[type="password"], 
#commentform input[type="email"], 
#commentform input.text, 
#commentform input.title, 
#commentform textarea, 
#commentform select,
#commentform textarea, 
#contactForm input[type="text"],
#contactForm input[type="password"],
#contactForm input[type="email"],
#contactForm textarea,
#contactForm select {
   border: 1px solid #DDDDDD;
   box-shadow: inset 0px 2px 4px #F3F3F3;
   -moz-box-shadow: inset 0px 2px 4px #F3F3F3;
   -webkit-box-shadow: inset 0px 2px 4px #F3F3F3;
   background: #FFFFFF;
   color:#777777;
  
}
#commentform input[type="text"]:focus, 
#commentform input[type="password"]:focus, 
#commentform input[type="email"]:focus, 
#commentform input.text:focus, 
#commentform input.title:focus, 
#commentform textarea:focus, 
#commentform select:focus,
#contactForm input[type="text"]:focus,
#contactForm input[type="password"]:focus,
#contactForm  input[type="email"]:focus,
#contactForm  textarea:focus {
   border: 1px solid #BBBBBB;
   box-shadow: 0px 0px 5px #CCCCCC,inset 0px 2px 4px #F3F3F3;
   -moz-box-shadow: 0px 0px 5px #CCCCCC,inset 0px 2px 4px #F3F3F3;
   -webkit-box-shadow: 0px 0px 5px #CCCCCC,inset 0px 2px 4px #F3F3F3;
}


}


pre, code {

}
.hentry blockquote {

}

#tabscontainer {
	clear: both;
}


.help {
    
}
/* ---------------------------------------------------------------------- */
/* Images
/* ---------------------------------------------------------------------- */


.flex-control-nav li a {
	background-image: url("images/bg_control_nav.png");
}

.portfolio-item-hover-content .zoom  {
	background-image: url("images/zoom-plus.png");
}

.post-year {
    background-image: url("images/post-meta-divider.png");
}

.readmore a:hover {
    background-image: url("images/blog-permalink.png");
}

.widget_site5framework_contact_widget span.address {
    background-image: url("images/icons/adress.png");
}
.widget_site5framework_contact_widget span.phone {
    background-image: url("images/icons/phone-number.png");
}
.widget_site5framework_contact_widget span.email {
    background-image: url("images/icons/mail-adress.png");
}


ul#projects-carousel li .item-content, ul#portfolio-items-one-fourth li .item-content, .filterable li a {    
    background: #798389; /*#988769;*/ /*#9f9162;*/ /*568ca7*/
}
.jcarousel-next-disabled,
.jcarousel-next-disabled:hover,
.jcarousel-next-disabled:focus,
.jcarousel-next-disabled:active,
.jcarousel-prev-disabled,
.jcarousel-prev-disabled:hover,
.jcarousel-prev-disabled:focus,
.jcarousel-prev-disabled:active {   
   background-color: #a7b1b7;
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
}


/*****************************************************************
Project Styles  
******************************************************************/
#skipnav {
	position: absolute;
	top: -1000em;
	left: -1000em;
}
body.gradient {
	background-image: linear-gradient( #faf9f7, #ebeae1 );
	background-image: -webkit-gradient( #faf9f7, #ebeae1 );
	background-image: -webkit-linear-gradient( #faf9f7, #ebeae1 );
	background-image: -moz-linear-gradient( #faf9f7, #ebeae1 );
	background-image: -o-linear-gradient( #faf9f7, #ebeae1 );
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf9f7', endColorstr='#ebeae1',GradientType=0 ); /* IE6-9 */
}

/*	edublogs footer */
#global-footer-content-inner {
  text-align: center;
}
#global-footer-content {
   font-weight: normal;
   font-size: 11.5px;
   margin: 15px 0;
   clear: both;
   padding-top: 10px;
}
#global-footer-content a {
   font-weight: normal;  
}
/*	cu identity */
#search_icon {
	display: none;
}
#cu-identity {
	width: 100%;
	float: left;
	clear: both;
	padding: 23px 0;
}
#cu-identity-content {
	max-width: 1020px;
	margin: 0 auto;
}
#cu-logo {float: left;}
#cu-search {
	float: right;
	width: 235px;
	text-align: right;
}
#cu-search label {
	font-size: .89em;
}
#search-filters1 {
	margin-left: 55px;
	vertical-align: middle;
}
#search-filters2 {
	margin-left: 8px;
	vertical-align: middle;
}
#page {
	margin-top: 0px;
	clear: both;
}
#search-form-query {
	background: #eeedeb;
	font-size: .9em;
	padding-left: 4px;
	margin-top: 20px;
	margin-bottom: 8px;
	border-left-width: 1.5px;
}
#search-form-submit {
	border: none;
	padding: 3px 5px 2px;
	font-size: .9em;
	font-weight: bold;
	-moz-box-shadow: 1px 1px 0px 0px #999;
	-webkit-box-shadow: 1px 1px 0px 0px #999;
	box-shadow: 1px 1px 0px 0px #999;
}
.widget_hier_page li.current_page_item {
	background: #f8f8f8;
}
.breadcrumbs span, .widget_hier_page li.current_page_item a {
	color: #9dcedf;
}
#login h1 a {
	background-size: 100%!important;
}

.login h1 a {
	display: block!important;
	width: 320px!important;
	height: 80px!important;
}
.newsletter { 
    padding-left:25px; 
    margin:0 0 14px 12px; 
    background: url(http://blogs.cornell.edu/consultbrc/files/2014/05/pdf_icon-1bpq6f7.png) top left no-repeat; 
    background-size:9%; 
    display:block; 
    height:18px; 
}
#main-navigation ul li {
    margin-left: 15px;
}
#content h1 {
    margin-bottom: 0;
}
.page-template-template-portfolio-3cols-php #content h1, 
.page-template-template-portfolio-3cols-sidebar-php #content h1,
.single-testimonials #content h1 {
    margin-bottom: 20px;
}

ul.display-posts-listing {
	list-style: none;
	margin-left: 0;
}
ul.display-posts-listing h3.permalink {
	color: #5085a0;
}
.home .one-half img {
    margin-bottom: 45px;
}
.breadcrumbs {
    display: none;   
}
article.page, 
article.portfolio {
    padding-right: 15px;
    padding-left: 2.5px;
    color: #898989;
    font-family: 'Dosis', 'Verdana', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 25px;
}
article.page .people {
    font-size: 14.5px;
    line-height: 24px;
    margin-bottom: 45px;
}
article.portfolio .portfolio-image {
    float: right;
}
article.portfolio .page-body {
    float: none;
    clear: left;
    font-size: 13.5px;
}
.page-body a {
    color: #5085a0;
}
.page-body a:hover {
    color: #9dcedf;
}
.resize {
	float: left;
}
.resize img {
    max-width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
	float: left;
}
.project-pagination {
	float: right;
    margin-right: 20px;
    margin-top: 19px;
}
.project-pagination a {
    color: #5085a0;
    margin: 0 0;
	font-style: normal;
	font-size: 16px;
}
.link_color {
	color: #5085a0;
}
.view-all-link {
	clear: both;
	text-align: right;
	display: block;
	font-family: "Georgia",Arial,Verdana;
	font-size: 16px;
	color: #5085a0;
	margin: 25px 5px 0 0;
}

.listing-item {
	margin-bottom: 40px;
}
.display-posts-listing .listing-item img {
	float: left;
	margin: 0 16px 12px 0;
	max-width: 150px;
}
.display-posts-listing .listing-item a.title {
	font-size: 24px;
}
@media only screen and (max-width: 1024px) {
	#cu-logo a img {
		margin-left: 5px;
	}
	#cu-search {
		margin-right: 8px;
	}
}
@media only screen and (max-width: 959px) {
	#cu-identity-content {
		width: 748px;
	}
}
@media only screen and (max-width: 767px) {
	#cu-identity-content {
		width: 440px;
	}
	#cu-search {
		display: none;
	}
	#search_icon.gray_black {
		background: #dedada url(images/magnifier.png) no-repeat;
		background-position: 0px 3px;
		background-size: 100%;
	}
	#search_icon.blue_white {
		background: #5085A0 url(images/search_icon.png) no-repeat;
		background-position: 8px 6px;
		background-size: 58%;
	}
	#search_icon {
		display: block;
		position: relative;
		height: 31px;
		width: 36px;
		float: right;
		margin: 13px 0 0 0;
		border: solid 0px #000000;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
		cursor: pointer;
		cursor: hand;
	}
}
@media only screen and (max-width: 479px) {
	#logo img {
		width: 100%;
	}
	#cu-logo a img {
		width: 210px;
		margin-left: 5px;
	}
	#cu-identity-content {
		width: 320px;
	}
	#cu-search {
		margin-right: 8px;
	}
	#search_icon {
		margin-right: 5px;
	}
	.page-advisory .display-posts-listing .content p {
		clear: both;
	}
	.display-posts-listing .listing-item img {
		float: none;
		margin: 20px auto 0;
	}
	.display-posts-listing .listing-item {
		text-align: center;
	}
	.display-posts-listing .listing-item .content {
		text-align: left;
	}
}