/* ---------------------------------------------------------------------- */
/* BR CONSULTING
/* 
/* 
/* Accent color: #222;
/* Borders color, Submenu background: #568ca7;
/* Page background: #FFFFFF;
/* Content Boxes background: #568ca7;
/* ---------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* COLORS 
/* ---------------------------------------------------------------------- */

body {
	background: #ebeae1; /*e1e7eb*/
}
#page {
	background-color:#FFFFFF;
	-webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.10); 
	box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.10);
}

a:hover, a > *:hover,
.categories a:hover,
#footer .widget-container li a:hover   {
    color: #222;
} 

h1, h2, h3, h4, h5, h6 {
	color: #222;
}
.intro-page h2 {
	color: #898989;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color:#222;
}
.flex-caption {
	/*background: rgba(31,73,97,0.9);*/
}


#logo {
	
}

#pre-header,
.flex-direction-nav li a:hover {
	background-color:#222;
}

.colored, .readmore a, #main-navigation li a {
	color: #b31b1b !important;
}
.intro-page h2 strong, 
#footer h4,
#copyrights a  {
	color:#222; /*#dd875b*/
}
.flex-caption h3 {
	color:#fff; /*#c2cbd2*/
}
.intro-page h2 strong {
	color: #326683; /*#a18421;*/
	font-weight: bold;
	/*font-style: italic;*/
}

#pre-header {
	border-bottom: 4pt solid #dde3e7;
	border: 0;
}

.intro-page,
.horizontal-line,
.divider { 
	border-top: 1pt solid #a8b1b7;
}

#slider_container, .horizontal-line, .intro-page {
	border-color: #a7b1b7; /*#e1caab;*/
}


ul#social-links li {
background: #5b99b7;
background: -moz-linear-gradient(top,  #5b99b7 0%, #426e84 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5b99b7), color-stop(100%,#426e84));
background: -webkit-linear-gradient(top,  #5b99b7 0%,#426e84 100%);
background: -o-linear-gradient(top,  #5b99b7 0%,#426e84 100%);
background: -ms-linear-gradient(top,  #5b99b7 0%,#426e84 100%);
background: linear-gradient(to bottom,  #5b99b7 0%,#426e84 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b99b7', endColorstr='#426e84',GradientType=0 );
   box-shadow: 0px 1px 1px #7489A2,inset 0px 2px 5px #49586A;
   -moz-box-shadow: 0px 1px 1px #7489A2,inset 0px 2px 5px #49586A;
   -webkit-box-shadow: 0px 1px 1px #7489A2,inset 0px 2px 5px #49586A;
 }


#main-navigation ul ul li,
#main-navigation ul ul li a {
	background: #222;
}


}
#main-navigation ul li a:hover,
#main-navigation ul li.current-menu-item > a,
#main-navigation ul li.current-menu-ancestor > a {
    background:#F8F8F8;
    border-bottom: 1pt solid #222;
    color: #222;
}


#main-navigation ul li a:hover {
     color: #222;
     background: #F8F8F8;
     border-bottom: 1pt solid #222;
}

#main-navigation ul ul a:hover,
#main-navigation ul ul .hover > a,
#main-navigation ul ul .current > a,
#main-navigation ul ul .current > a:hover {
     background-color: #222;
     color: #fff;
     border: 0;
}


#main-navigation ul ul a:hover, #main-navigation ul ul .hover > a, #main-navigation ul ul .current-menu-item > a, #main-navigation ul ul .current-menu-item > a:hover {
    background-color:#222;
}

img.intro-img {
	border-bottom: 1pt solid #568ca7;
}

.jcarousel-next, .jcarousel-prev {
    background-color: #222;
}
.jcarousel-prev {
    background-color: #222;
}
.jcarousel-next:hover, .jcarousel-next:focus, .jcarousel-next:active, .jcarousel-prev:hover, .jcarousel-prev:focus, .jcarousel-prev:active {
    background-color: #222;
}
.jcarousel-next-disabled, .jcarousel-next-disabled:hover, .jcarousel-next-disabled:focus, .jcarousel-next-disabled:active, .jcarousel-prev-disabled, .jcarousel-prev-disabled:hover, .jcarousel-prev-disabled:focus, .jcarousel-prev-disabled:active {
    background-color: #568ca7;
}
ul#projects-carousel li .item-content:hover,
ul#portfolio-items-one-fourth li .item-content:hover {
    background-color: #222;
}
.sidebarBox li:first-child {
    border-top: 1px dotted #568ca7;
}
.sidebarBox li {
    border-bottom: 1px dotted #568ca7;
}

.archive .hentry, .page-template-template-blog-php .hentry, .search .hentry {
    border-bottom: 1px solid #568ca7;
}
.post-date {
	background: #222;
}

#pagination span, #pagination a {

}
#pagination .current {

}


#s {

}

#s:focus {

}

.filterable li.active a {
	background-color: #222;
}


.comment-text {

}

#commentform input[type="text"], 
#commentform input[type="password"], 
#commentform input[type="email"], 
#commentform input.text, 
#commentform input.title, 
#commentform textarea, 
#commentform select,
#commentform textarea, 
#contactForm input[type="text"],
#contactForm input[type="password"],
#contactForm input[type="email"],
#contactForm textarea,
#contactForm select {
   border: 1px solid #DDDDDD;
   box-shadow: inset 0px 2px 4px #F3F3F3;
   -moz-box-shadow: inset 0px 2px 4px #F3F3F3;
   -webkit-box-shadow: inset 0px 2px 4px #F3F3F3;
   background: #FFFFFF;
   color:#777777;
  
}
#commentform input[type="text"]:focus, 
#commentform input[type="password"]:focus, 
#commentform input[type="email"]:focus, 
#commentform input.text:focus, 
#commentform input.title:focus, 
#commentform textarea:focus, 
#commentform select:focus,
#contactForm input[type="text"]:focus,
#contactForm input[type="password"]:focus,
#contactForm  input[type="email"]:focus,
#contactForm  textarea:focus {
   border: 1px solid #BBBBBB;
   box-shadow: 0px 0px 5px #CCCCCC,inset 0px 2px 4px #F3F3F3;
   -moz-box-shadow: 0px 0px 5px #CCCCCC,inset 0px 2px 4px #F3F3F3;
   -webkit-box-shadow: 0px 0px 5px #CCCCCC,inset 0px 2px 4px #F3F3F3;
}


}


pre, code {

}
.hentry blockquote {

}

#tabscontainer {
	clear: both;
}


.help {
    
}
/* ---------------------------------------------------------------------- */
/* Images
/* ---------------------------------------------------------------------- */


.flex-control-nav li a {
	background-image: url("images/bg_control_nav.png");
}

.portfolio-item-hover-content a.zoom  {
	background-image: url("images/zoom-plus.png");
}

.post-year {
    background-image: url("images/post-meta-divider.png");
}

.readmore a:hover {
    background-image: url("images/blog-permalink.png");
}

.widget_site5framework_contact_widget span.address {
    background-image: url("images/icons/adress.png");
}
.widget_site5framework_contact_widget span.phone {
    background-image: url("images/icons/phone-number.png");
}
.widget_site5framework_contact_widget span.email {
    background-image: url("images/icons/mail-adress.png");
}


ul#projects-carousel li .item-content {    
    background: #1f4961; /*#988769;*/ /*#9f9162;*/ /*568ca7*/
}
.jcarousel-next-disabled,
.jcarousel-next-disabled:hover,
.jcarousel-next-disabled:focus,
.jcarousel-next-disabled:active,
.jcarousel-prev-disabled,
.jcarousel-prev-disabled:hover,
.jcarousel-prev-disabled:focus,
.jcarousel-prev-disabled:active {   
   background-color: #a7b1b7;
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
}


