/*
 Theme Name:   The Casa della Regina Carolina Project at Pompeii (CRC)
 Description:  Twenty Sixteen Child Theme
 Author:       Cornel University CWD
 Author URI:   http://www.cornell.edu
 Template:     twentysixteen
 Version:      1.0.0
*/
@import url("https://use.typekit.net/xdu1gcz.css");
body {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  font-family: brandon-grotesque, sans-serif; }

h1, h2, h3, .entry-title, .widget .widget-title, .entry-title {
  font-family: trajan-pro-3, serif;
  font-weight: 100;
  color: #757581; }

h4, h5, h6, p, li, th, td {
  font-family: brandon-grotesque, sans-serif;
  font-weight: 300; }

.entry-title {
  font-size: 24px; }

a {
  text-decoration: underline;
  color: #3E5CC8; }
  a:hover, a:focus {
    color: #3c60e4; }

.site-header {
  background: transparent;
  padding: 2em; }

#masthead .col-full {
  background-color: white; }

#masthead .site-branding {
  width: 100%; }

#masthead .custom-logo-link {
  width: 100%;
  max-width: 80%;
  margin: 0 0 2em;
  width: auto; }

#masthead .custom-logo {
  max-width: none;
  width: 100%; }

.widget {
  border: none; }
  .widget .widget-title {
    font-weight: 100;
    text-transform: none;
    border-bottom: 3px solid #ddd;
    padding-bottom: 0.75em;
    margin-bottom: 0.5em; }

.site-header-menu {
  width: 100%;
  padding-left: 1.4em; }

#site-navigation.main-navigation {
  padding-top: 0; }
  #site-navigation.main-navigation .menu-item-has-children a {
    padding-right: 1em; }
  #site-navigation.main-navigation li:hover > ul, #site-navigation.main-navigation li.focus > ul {
    left: 0;
    right: auto; }
  #site-navigation.main-navigation li a {
    text-decoration: none;
    font-size: 1.25em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #site-navigation.main-navigation li a::after {
      position: static;
      margin-top: 0.25em;
      margin-left: 0.25em; }
  #site-navigation.main-navigation ul.sub-menu::before {
    left: 11px;
    right: auto; }
  #site-navigation.main-navigation ul.sub-menu::after {
    left: 13px;
    right: auto; }

#main p {
  font-size: 21px;
  line-height: 1.6;
  color: #333; }
  #main p a {
    font-weight: 300; }

.site-content .col-full {
  -webkit-box-shadow: none;
  box-shadow: none; }

.site-footer {
  display: none; }
  .site-footer .site-title::after {
    content: none; }
  .site-footer .site-title + a {
    display: none; }

#global-footer-content {
  text-align: center;
  margin: 1em 0;
  color: #ddd; }
  #global-footer-content a {
    color: #eee; }
    #global-footer-content a:hover {
      color: white; }

#secondary .widget {
  font-size: 1em;
  margin-bottom: 1em; }
  #secondary .widget ul li {
    font-size: 1em;
    color: #999; }
  #secondary .widget a {
    color: #3E5CC8;
    font-size: 1.25em; }
    #secondary .widget a:hover, #secondary .widget a:focus {
      color: #3c60e4; }
    #secondary .widget a abbr {
      border: none; }
  #secondary .widget input[type="search"] {
    background-color: white;
    border: 1px solid #767676; }
  #secondary .widget h3.widget-title {
    padding-bottom: 0.25em;
    border-color: #ddd; }

.content-area a, .content-area a:hover, .content-area a:focus {
  -webkit-box-shadow: none;
  box-shadow: none; }

#content-bottom-widgets #menu-footer-menu {
  list-style-type: none;
  margin: 0; }

#content-bottom-widgets .widget-area {
  margin-bottom: 2em; }

.site {
  margin: 2em auto 0 !important;
  max-width: 1200px; }

body::before, body::after {
  content: none !important; }

#footer-content-eb {
  max-width: 1200px;
  padding: 2em;
  margin: 0 auto;
  background: #ddd; }
  #footer-content-eb p {
    margin-bottom: 0;
    color: #5c5c5c; }
  #footer-content-eb .footer-logos + p {
    margin-top: 2em; }

.footer-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 600px) {
    .footer-logos {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .footer-logos a {
    margin: 1em; }
    .footer-logos a + a {
      margin-left: 4em; }
      @media screen and (max-width: 600px) {
        .footer-logos a + a {
          margin-left: 1em; } }
    .footer-logos a img {
      max-height: 75px;
      max-width: 300px;
      -webkit-filter: invert(0.3);
      filter: invert(0.3);
      width: 100%;
      -o-object-fit: contain;
      object-fit: contain; }
    .footer-logos a.footer-reading img {
      max-height: 62.5px;
      max-width: 250px; }
  .footer-logos.small a img {
    max-height: 150px;
    max-width: 150px; }

#crc_logo {
  padding: 0;
  margin: 0 auto;
  max-width: none; }
  #crc_logo a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none; }
    #crc_logo a img {
      max-width: 160px;
      margin: 1em; }
    #crc_logo a h1.site-title {
      font-family: trajan-pro-3, serif;
      text-decoration: none;
      font-weight: normal;
      color: #B51F2B;
      text-align: left;
      font-size: 28px;
      line-height: 1.5; }
      #crc_logo a h1.site-title {
        font-size: 16px; }
        @media screen and (min-width: 320px) {
          #crc_logo a h1.site-title {
            font-size: calc(16px + 14 * ((100vw - 320px) / 680)); } }
        @media screen and (min-width: 1000px) {
          #crc_logo a h1.site-title {
            font-size: 30px; } }
    #crc_logo a:hover h1 {
      color: black;
      text-decoration: underline; }

#as_logo {
  background-color: #f5f5f5; }

#as_logo .as_logo_inner {
  display: block;
  content: "";
  max-width: 1200px;
  margin: 0 auto; }

#as_logo img {
  max-width: 350px;
  display: block; }

.hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

#footer-content-eb {
  background: #e3e3e3; }

.textwidget a {
  -webkit-box-shadow: none;
  box-shadow: none; }

.list-unstyled {
  margin: 0;
  padding: 0; }
  .list-unstyled li {
    list-style-type: none; }

.list-inline li {
  display: inline-block;
  margin: 0.5em; }
