/* PARABOLA Admin CSS */

@import url("../../fonts/fontfaces.css");

 /* Farbtastic overwrites */

.farbtastic {
 position: absolute !important;
 z-index:2;
margin-left:50px;
margin-top:-110px;
background-color:#F7F7F7;
border:1px solid #CCC;
}
.farbtastic * {
  position: absolute;
  cursor: crosshair;
}
.farbtastic, .farbtastic .wheel {
  width: 195px;
  height: 195px;
}
.farbtastic .color, .farbtastic .overlay {
  top: 47px;
  left: 47px;
  width: 101px;
  height: 101px;
}

.farbtastic span.mytitle {
	background: none repeat scroll 0 0 #F7F7F7;
	border:1px solid #CCC;
    font-family: Segoe UI;
    font-size: 14px;
	line-height: 20px;
	top:195px;
	background:#333;
	color:#EEE;
    left: -1px;
    padding: 10px 0;
	display: block;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 195px; }

/* end of Farbtastic overwrites  */


#main-options  {
width:100%;
display:block;
clear:left;
padding-top:20px;
background:#FFF;
font-family:  Segoe UI !important;
font-size: 12px;
margin-bottom:10px;
}

#lefty  {
display:table-cell;
min-width:720px;
width:720px;
padding:0 15px;
}

 #righty {
display:table-cell;
max-width:500px;
vertical-align:top;
padding-top:87px;
}

@media (max-width:1200px) {
#lefty  {display:block;}
#righty {width:100%;max-width:100%;padding:0 15px;min-width:720px;}
}

#righty p, #righty span, .form-table small, #righty ul li {
font-size: 12px;
color:#444;
font-family:Segoe UI;
}

#righty h3 {
padding:10px;
background:#444;
color:#EEE;
text-shadow:none;
-moz-text-shadow:none;
-webkit-text-shadow:none;
font-size:14px;
font-family:Open Sans;
text-transform:uppercase;
font-weight:normal;
}
.form-table {
margin:0;
}
.form-table small {
font-style:italic;
display:block;
float:none;
clear:both;
}
.donate, .support {
width:100%;
}

.postbox .hndle {
    cursor: auto;
    font-size: 13px;
    margin: 0;
    padding: 6px 10px 7px;
}


.wrap h2 {
font-family: Calibri, Arial !important;
margin-bottom:5px;
}

#accordion {
width:100% ;
font-family:Segoe UI,Calibri, Arial !important;
display:block;
float:none;
}

#submitDiv {
display:block;
float:none;
height:30px;
font-family:Segoe UI,Calibri, Arial !important;
}

#version {
display:block;
float:none;
clear:both;
padding-top:10px;
color:#666;
}

#accordion h3 {
border:none ;
background-image:none ;
background-color:#2D2D2D;
margin:0;
padding:10px;
clear:both;
display:block;
float:none;
font-size: 17px;
padding-left:30px;
font-weight:normal;
text-transform:uppercase;
color:#F0F0F0 ;
border-top:1px solid #3D3D3D;
border-bottom:1px solid #000;
border-radius:0;
-webkit-border-radius:0;
-moz-border-radius:0;
-moz-text-shadow:0 1px 1px #000000;
-webkit-text-shadow:0 1px 1px #000000;
text-shadow:0 1px 1px #000;
line-height:1.3;
}

#accordion h3:hover {
background-color:#3A3A3A;
color:#FFF;

}

.ui-accordion h3.ui-accordion-header-active {
background:#191919 !important;
}

#accordion select option {
font-size:1.1em;
}

#accordion select.admin-fonts option {
font-size:1.3em;
padding:2px;
line-height:1.4em;
}

#accordion select.admin-fonts optgroup {
padding:10px;
}

.form-table th { width: 170px; }

.form-table th, .form-wrap label {
 color: #444;
font-size: 14px;
text-transform:uppercase;
padding-top:14px;
}

.form-table tr {
}

.form-table tr:nth-child(2n) {
background:#fff ;
}

.form-table td {
vertical-align:middle;
padding:12px;
}

input[type="text"] , select {
border:1px solid #AAA !important;
border-radius:0px;
-moz-border-radius:0px;
-webkit-border-radius:0px;
}

.submit {
text-align:right;
margin-right:20px;
}

 #accordion select  {
min-width:120px;
max-width:200px;
}

 #accordion textarea  {
max-width:90%;
border-radius:0;
-webkit-border-radius:0;
-moz-border-radius:0;
}

 #accordion .slidebox textarea  {
max-width:100%;
}

#accordion select.fontnameselect { width: 150px; }
#accordion input.googlefonts { width: 150px; }
#accordion select.fontsizeselect { width: 70px; min-width: 0; }

#accordion input.colorthingy { width: 65px; margin-right: 10px; }

#accordion .form-table h4 {
    display: inline-block;
    min-width: 152px;
    margin: 0 0 9px 0; }

#presets_button {
background:#BF4D28;
color:#EEE;
font-weight:bold;
border:none;
-moz-text-shadow:none;
-webkit-text-shadow:none;
text-shadow:none;
transition: background .3s ease-in-out ;
}

#presets_button:hover {
background:#444;
}

/* IMAGES  */

.images {
display:inline-block;
width:140px;
padding:5px 0;
background:#FFF;
opacity:1;
}

.presets {
width:auto;
padding:0;
margin-right:10px;
margin-bottom:5px;
border-width:5px !important;
}

.presets:hover {
background:#EEE;
border-width:5px !important;
}


/* CUSTOM IMAGE BORDER */

.parabola-image-none  {}
.parabola-image-one  {
	border:1px solid #CCC;
	padding:2px;
}
.parabola-image-two  {
	border:5px solid #444;
	-webkit-box-shadow:0 0 3px #444;
	-moz-box-shadow:0 0 3px #444;
	box-shadow:0 0 3px #444;
}
.parabola-image-three  {
	border:1px solid #eee;
	padding:4px;
	-moz-box-shadow:0 0 5px #e7e7e7;
	-webkit-box-shadow:0 0 5px #e7e7e7;
	box-shadow:0 0 5px #e7e7e7;
}
.parabola-image-four  {
	border:7px solid #f7f7f7;
	-moz-box-shadow:0 0 1px #ddd;
	-webkit-box-shadow:0 0 1px #ddd;
	box-shadow:0 0 1px #ddd;
}
.parabola-image-five {
padding:8px;
background:url(../../images/border.png) repeat;
}

.parabola-image-one:hover {background-color:#eee;}
.parabola-image-two:hover {-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
.parabola-image-three:hover {-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}

/* Labels  */

label {
display:inline-block;
width:auto;
border:1px solid #FFF;
text-align:center;
background-color:#FFF;
padding:5px 2px;
transition:all .3s ease-in-out;
}

label.hideareas {
display:block;
float:none;
text-align:left;

}

label:hover {
opacity:.8;
}


label input[type=radio] {
display:none;
}

label.layouts {
display:block;
float:left;
padding:3px;
height:55px;
}

label.layouts:hover, label.images:hover {
background:none;
border:1px solid #CCC;
}


.layouts img {
width:60px;
}


.borderful {
border-color:#BF4C26 !important;
background:rgba(191,77,40,.08) !important;
opacity:1;
}

 label.layouts.checkedClass,  label.images.checkedClass, label.pins.checkedClass, label.sidebullets.checkedClass {
border-color:#BF4C26;
background:rgba(200,40,20,.08);
opacity:1;
}


#accordion input[type="text"] {
font-family:"Lucida Console", Monaco, monospace;
font-size:12px;
padding:5px;
}

#accordion > * {
display:none;
}

#accordion > h3 {
display:block;
}

.ui-accordion .ui-accordion-content {
border-top:none ;
border:1px solid #DDD ;
overflow: hidden ;
padding:0 ;
background:#FAFAF7 ;
border-radius:0 ;
-moz-border-radius:0 ;
-webkit-border-radius:0!;
margin:6px;
position:static;

}
.ui-accordion .ui-accordion-content-overflow { overflow: visible !important; }

.ui-state-active {
background:#EEE ;
}

.darkbg{
background:#ddd !important;
}
#status{
font-family:Arial; padding:5px;
}
ul#files{ list-style:none; padding:0; margin:0; }
ul#files li{ padding:10px; margin-bottom:2px; width:400px; float:left; margin-right:10px;}
ul#files li img{ max-width:180px; max-height:150px; }
.success{ background:#99f099; border:1px solid #339933; }
.error{ background:#f0c6c3; border:1px solid #cc6622; }

#uploadpreview {
max-width:64px;
display:block;float:left;
border:1px solid #DDD;
padding:2px;
}

#filename {
display:block;
width:auto;
float:left;
margin-left:10px;
font-weight:bold;
}

#uploadarea {
margin-top:10px;
}

#absolutedim {
margin-top:20px;margin-bottom:20px;
position:relative;
}
#absolutedim small{
margin-top:20px;}

.slmini, #cdimensions  {
display:block;
float:none;
}

.slmini {
background:#F9F9F9;
border-bottom:1px solid #DDD;
padding:12px;
}

.slmini:hover {
background:#F5F5F5;
}

.slmini b {
width:130px;
display:inline-block;
float:left;
color:#555;
}

.slidebox {
background:#F0F0EA;
border:1px solid #DDD;
margin-bottom:5px;
padding:0;
}

.slidercontent{
display:none;
padding:0 10px 10px;
}

#accordion .form-table h4.slidetitle{
color:#777;
padding-left:10px;
margin:3px;
display: block;
min-width: inherit;
cursor:pointer;
transition:background .2s ease-in-out;
}

.slidetitle:hover{
background:#F7F7F2;
}

#accordion .form-table h4.slidetitle:after{
content:"\25BC";
margin-right:7px;
float:right;
font-size:10px;
color:#CCC;
}

.slidebox h5 {
display:inline-block;
float:none;
font-size:12px;
background:#FFF;
color:#777;
padding:0 10px;
margin:10px 0px 0 10px;
position:relative;
top:2px;
border:1px solid #DFDFDF;
border-bottom:none;
}

.slidebox .description {
display:block;
float:none;
}

.slidebox input[type="text"], .slidebox textarea {
width:100%;
border-color:#DFDFDF !important;
color:#444;
}

a.upload_image_button {
color:#BF4C26 !important;
text-decoration:none;
text-shadow:none;
-webkit-text-shadow:none;
font-style:normal;
clear:both;
padding:2px 4px;
display:block;
float:none;
}

.button {
-webkit-border-radius:0 !important;
-moz-border-radius:0 !important;
border-radius:0 !important;
height:25px;
text-transform:uppercase;
}

.slidebox a.upload_image_button {float:right;}

#submitDiv input.button {
font-size:13px ;
padding:4px 10px;
height:auto;
}

.header_upload_inputs {
width:300px;
}

/* NEWS LISTS */

#righty .news-list li {
background:#FFF;
padding:7px;
border:1px solid #EEE;
}

#righty span.news-item-date {
color:#999;
font-size:11px;
}

a.news-header {
text-decoration:none;
color:#4C7373;
font-size:14px;
font-weight:bold;
text-transform:uppercase;
}

a.news-header:hover, a.news-read:hover {
color:#C47D09 !important;
}

/*Tooltip */

.tooltip_div{
display:inline-block;
clear:none;
height:23px;
line-height:23px;
}

a.tooltip{
display:inline-block;
clear:none;
height:23px;
line-height:23px;
margin-left:7px;
}

a.tooltip img {
vertical-align:bottom;
}

.ui-tooltip {
display:block;
max-width:300px;
padding:5px;
z-index:3;
border-radius:0;
-moz-border-radius:0;
-webkit-border-radius:0;
}

/* ADMIN HEADER AND LINKS */

#admin_header {
	padding-top:20px;
	padding-left:30px;
	display:block;
	}
#admin_links {
	display:block;
	float:left;
	clear:both;
	text-align:left;
	margin-left:95px;
	margin-top:-18px;
	}

#admin_links a {
display:block;
float:left;
margin-left:3px;
margin-right:9px;
text-decoration:none;
font-family:Segoe UI, Arial;
font-size:11px;
color:#3F5F5F;
text-transform:uppercase;
}

#admin_links a:hover {
color:#C47D09;
}

.wrap div.updated, .wrap div.error {
margin-left: 15px; margin-right: 15px;
margin-top: 20px; }

/* No round corners for slider */

.ui-corner-all {
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
}

.ui-slider {
width:90%;
float:left;
height:12px;
background:#444;
}

.ui-slider-horizontal .ui-slider-handle {
heigh:12px;
border:0;
top:0;
}

#contentb {
display:block;
float:left;
position:absolute;
margin-top:-25px;
}

#barb {
margin-left:40px;
color:#BF4C26;
display:block;
float:left;
position:absolute;
margin-top:-25px;
}

#totalb {
margin-left:0px;
color:#333;
background:#CCC;
display:block;
float:left;
position:absolute;
margin-top:25px;
height:4px;
line-height:25px;
text-align:center;
}

#totalb:before {
height:0;width:0;
content:"";
position:absolute;
border-left:8px solid #CCC;
border-top:5px solid transparent;
left:0;
top:-5px;
}

#totalb:after {
height:0;width:0;
content:"";
position:absolute;
border-right:8px solid #CCC;
border-top:5px solid transparent;
right:0;
top:-5px;
}

.ui-slider-range {
background:#BF4C26;
}

.underSelector {
margin-top:10px;
}

.hndle , .head-wrap , .postbox ,#righty h3{
border-radius:0;
-moz-border-radius:0;
-webkit-border-radius:0;
}

.postbox {
background:#F9F9F9;
border:1px solid #eee;
}

#main-options.oldwp a.upload_image_button { display: inline; }
#main-options.oldwp #slider-range + div { padding-top: 30px; }

.postbox .button {
line-height:24px;
height:28px;
display:block;
float:left;
clear:both;
}

input:-moz-placeholder, input::-moz-placeholder {color:#666;}


br.colors-br {display:block;margin-bottom:10px;}

.CodeMirror { float: left; width: 93%; }