/* 
	Theme Name: Cornell
	Theme URL: http://www.cornell.edu
	Description: Cornell 45 pixels red theme for Wordpress.
	Author: IWS
	Author URI: http://www.cornell.edu
	Version: 1.0
*/

body {
 	margin: 0;
	padding: 0;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 63.125%;		/* translate 1.0em to 10px, 1.5em to 15px, etc. */
	color: #222;
	background: #ada9a0;	/* footer background color */
 	}
/****************************************
 * Cornell Identity
 ****************************************/
#cu-identity {
	height: 45px;
	background: #000;
	}

#cu-logo {
	margin: 0 auto;
	width: 760px;
	background: url(../images/layout/cu_logo.gif) no-repeat top left;
	}
	
#cu-logo a {
	border: none;
	display: block;
	width: 180px;
	height: 45px;
	background: url(../images/layout/cu_logo.gif) no-repeat top left;
	}
	
#cu-logo img {
	display: none;
	}
	
#cu-search {
	position: absolute;
	top: 11px; 
	right: 50%;
	width: 200px;
	margin-right: -378px;
	}
	
#cu-search a {
	float: right;
	padding: 5px 15px;
	font-size: 1.1em;
	color: #fff;
	text-decoration: none;
	border: none;
	}
	
#cu-search a:hover {
	background: #555;
	}
/****************************************
 * Text Styles
 ****************************************/
/* 
	Headlines 
	-------------------------
*/
 
h2 {
	margin: 0 0 15px 0;
	font-size: 1.8em;
	font-weight: normal;
	clear: left;
	}
	
h3 {
	clear: both;
	margin: 0 0 15px 0;
	font-size: 1.3em;
	line-height: 1.4em;
	font-weight: bold;
	}
	
h4 {
	margin: 15px 0 3px 0;
	font-size: 1.2em;
	font-weight: bold;
	}
	
/* 
	Text
	-------------------------
	Paragraphs of text, extended quotations, and captions
*/

p {
	margin: 0 0 15px 0;
	font-size: 1.3em;
	line-height: 1.4em;
	}
	
blockquote {
	margin: 0 30px;
	}
	
em {
	font-style: italic;
}

strong, cite {
	font-weight: bold;
}
	
/* 
	Lists 
	-------------------------
*/
	
ul, ol {
	margin: 0 0 15px 0;
	padding: 0;
	font-size: 1.3em;
	line-height: 1.4em;
	}
	
ul ul, ul ol, ol ol, ol ul, ul p, li p {
	font-size: 1.0em;
	}
	
ul li {
	margin: 5px 0;
	padding: 0 0 0 10px;
	list-style: none;
	background: url(../images/layout/bullet.gif) no-repeat 0 0.62em;
	}
 
ol li {
	margin: 5px 0 5px 30px;
	list-style: decimal;
	}
	
ol li ol li {
	margin: 5px 0 5px 20px;
	list-style: lower-alpha;
	}
 
dl {
	margin: 0 0 15px 0;
	line-height: 1.4em;
	}
	
dt {
	margin: 0 0 3px 0;
	font-size: 1.2em;
	font-weight: bold;
	}
	
dd {
	margin: 0 0 15px 0;
	font-size: 1.3em;
	line-height: 1.4em;
	}
	
/* 
	Links 
	-------------------------
*/

a {
	color: #b31b1b;
	}
	
h2 a, h3 a, h2 a:visited, h3 a:visited {
	text-decoration: none;
	color:#006666;
}

h2 a:hover, h3 a:hover {
	text-decoration: underline;
	color:#f00;
}
	
a:visited {
	color: #b37474;
	}
	
a:hover {
	color: #f00;
	}
	
a:active {
	color: #b31b1b;
	}
/****************************************
 * Header
 ****************************************/
 
/* 
	Site Identity 
	-------------------------
*/
#header {
	float: left;
	width: 100%;
	height: 76px;
	border-top: 2px solid #e3dfcc;
	border-bottom: 2px solid #e3dfcc;
	background: #f0eee4;
	}
 
#identity {
	margin: 0 auto;
	width: 760px;
	}
	
#identity .identity-title {
	float: left;
	width: 510px;
} 
#identity h1 {
	font-family: georgia, "times new roman", times, serif;
	font-size: 2.4em;
	font-weight: normal;
	line-height: 1.0em;
	margin-top: 20px;
	}
	
#identity h1 a {
	color:#b31b1b;
	text-decoration: none;
	}
	
#identity p {
	color:#006666;
	font-style: italic;
	margin: 0;
	}
	
#identity form {
	float: right;
	margin: 28px 2px 0 0;
	}
	
/****************************************
 * Content Sections
 ****************************************/

#wrap {
	float: left;
	width: 100%;
	background: #fff;
	}
	
#content {
	margin: 0 auto;
	width: 760px;
	}
	
#main {
	float: left;
	padding: 20px 0;
	width: 490px;
	}
	
/*	one column pages */

#content.widecolumn {
	background: none;
	}
	
#content.widecolumn #main {
	width: 100%;
	margin-bottom: 40px;
}
#content.widecolumn #main table {
	background: #fff;
}
/****************************************
 * Tables
 ****************************************/
table, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	}
	
#main table {
	margin: 15px 0;
	}
	
#main th {
	padding: 0 15px 5px 15px;
	font-weight: normal;
	text-align: left;
	color: #888;
	}
	
#main td, #main tbody th {
	padding: 10px 15px;
	font-size: 1.1em;
	line-height: 1.5em;
	vertical-align: top;
	}
	
tbody th {
	font-weight: bold;
	color: #222;
	text-align: right;
	}
	
/* CALENDAR */
table#wp-calendar {
	background: #f5f6f8;
	width: 100%;
	margin: 0 0 15px 0;
	}
	
table#wp-calendar thead th, table#wp-calendar caption {
	background: #e3dfcc;
	font-weight: bold;
	color: #333;
	}
	
table#wp-calendar thead th {
	background: #fff;
 }

table#wp-calendar caption {
	padding: 8px;
	text-align: center;
	}

table#wp-calendar th, table#wp-calendar td {
	text-align: center;
	padding: 6px 0;
	}
table#wp-calendar td#today {
	background: #DCE7BC;
}
	
/************************************************
*	Main Content 					     		    * 
************************************************/

.postmeta {
	float: left;
	clear: left;
	width: 100%;
	padding: 8px 0;
	border-top: 1px dashed #e3dfcc;
	border-bottom: 1px dashed #e3dfcc;
	margin-bottom: 16px;
}
.postmeta p {
	font-size: 1.1em;
	margin: 0;
}
.postmetaleft {
	float: left;
	width: 310px;
}
.postmetaleft p {
	background: transparent url(../images/layout/mini-archive.gif) no-repeat left top;
	padding: 2px 0 1px 18px;
}
.postmetaright {
	float: right;
	width: 160px;
	text-align: right;
}
.postmetaright span {
	padding-left: 8px;
}
.commentmetadata {
	font-size: 0.86em;
}

/************************************************
*	Secondary content 					     	    * 
************************************************/
#secondary {
	float: right;
	width: 242px;
	background: #f0eee4 url(../images/layout/sidebar_top.gif) no-repeat left top;
	margin: 20px 0;
	padding: 16px 0 0 0;
	font-size: 0.86em;
}

#secondary h2 {
	font-size: 1.3em;
	font-weight: bold;
	color:#006666;
}

#secondary-navigation {
	padding: 0 18px;
}

.feeds {
	background: #f0eee4 url(../images/layout/sidebar_bottom.gif) no-repeat left bottom;
	padding: 18px;
	text-align: center;
}

.feeds a, .feeds a:link, .feeds a:hover, .feeds a:active, .feeds a:visited {
	background: transparent url(../images/layout/mini-rss.gif) no-repeat left top;
	padding: 2px 8px 2px 18px;
}

/* text widget styles */
.widget_text, .widget_tag_cloud {
	margin-bottom: 22px;
}
#secondary .textwidget {
	font-size: 1.4em;
	line-height: 1.4em;
}
#secondary .textwidget p {
	font-size: 1.0em;
}

/* admin link */

.admin-link {
	background: transparent url(../images/layout/adminlink_bg.gif) no-repeat 0 0;
	text-align: center;
	padding: 12px 0;
}

/************************************************
*	Search Form									*
************************************************/

#searchform {
	overflow: hidden;
}
#searchform #s {
	background: #efefef url(../images/search.gif) no-repeat 98% 50%;
	width: 208px;
	color: #333;
	margin-right: 15px;
	border: 1px solid #c0c0c0;
}
#searchform-widget {
	float: left;
	clear: both;
	width: 100%;
	margin: 0 0 12px 0;
}
#searchform-widget #s {
	background: #efefef url(../images/search.gif) no-repeat 98% 50%;
	width: 100%;
	color: #333;
	border: 1px solid #c0c0c0;
	margin: 0 0 5px 0;
}

/************************************************
*	Comments									*
************************************************/

.commentlist li {
	margin: 0;
	padding: 0;
	background: transparent url(../images/layout/comment_top.gif) no-repeat 22px 1.6em;
	float: left;
	clear: both;
	width: 100%;
}
.commentlist cite {
	background: transparent url(../images/layout/mini-user.gif) no-repeat left top;
	padding: 1px 0 0 18px;
}
.comment-contents {
	background: #f0eee4 url(../images/layout/comment_bottom.gif) no-repeat left bottom;
	width: 412px;
	height: auto !important;
    height: 30px;
    min-height: 30px;
	margin: 30px 0 22px 22px;
	font-size: 0.86em;
	padding: 8px 16px 2px 16px;
}
.comment-contents .pending {
	padding: 4px;
	margin: 0 0 6px 0;
	background: #ffc;
	color:#960;
}

/****************************************
 * Footer
 ****************************************/
 
#footer {
	float: left;
	width: 100%;
	border-top: 2px solid #e3dfcc;
	font-size: 0.86em;
	}
	
#footer-content {
	margin: 0 auto;
	padding: 15px 0 25px 0;
	width: 740px;
	color: #000;
	}
	
#footer-content span {
	margin-right: 8px;
	padding-right: 12px;
	border-right: 1px solid #666;
}
	
#footer-content a, #footer-content a:hover, #footer-content a:active, #footer-content a:visited {
	color: #fff;
	}


/****************************************
 * Miscellaneous
 ****************************************/

#skipnav {
	position: absolute;
	top: -1000em;
	left: -1000em;
	}
		
hr {
	display: none;
	}
	
#geotrust {
	float: left;
	width: 100%;
	text-align: center;
}


/* add ons 12/09 */

.alignright {
	float: right;
	margin: 0 0 12px 12px;
	border: 1px dashed #e3dfcc;
}

.alignleft {
	float: left;
	margin: 0 12px 12px 0;
	border: 1px dashed #e3dfcc;
	padding: 0;
}

.alignright img, .alignleft img {
	display: block;
	margin: 0 auto;
	padding: 0;
	margin-top: 5px;
}

.wp-caption-text {
	padding: 6px;
	font-size: 1.1em;
	font-style: italic;
	margin: 0;
}

/* add ons 12/09 */

.alignright {
	float: right;
	margin: 0 0 12px 12px;
	border: 1px dashed #e3dfcc;
}

.alignleft {
	float: left;
	margin: 0 12px 12px 0;
	border: 1px dashed #e3dfcc;
	padding: 0;
}

.alignright img, .alignleft img {
	display: block;
	margin: 0 auto;
	padding: 0;
	margin-top: 5px;
}

.wp-caption-text {
	padding: 6px;
	font-size: 1.1em;
	font-style: italic;
	margin: 0;
}