/*  
Theme Name: Mann Haiku
Theme URI: http://www.mannlib.cornell.edu
Description: Custom theme for Mann Library's Daily Haiku.
Version: 0.2
Author: Nick Cappadona
Author URI: http://www.mannlib.cornell.edu
*/

* {
	margin: 0;
	padding: 0;
}
 
body {
	font-family: Verdana, sans-serif;
	font-size: 63.125%;		/* translate 1.0em to 10px, 1.5em to 15px, etc. */
	text-align: left;
	color: #333;
	background: #74a3c1 url(images/haiku_background5_iso.jpg) no-repeat left top;
	/* background: #d2c595 url(images/haiku_background.jpg) no-repeat left top; */
}

body#home {
	background-image: url(images/haiku_background5.jpg);
}

hr {
	display: none;
}

#wrap {
	margin-left: 130px;
	text-align: left;
	width: 750px;
}

#header {
	margin-top: 10px;
}

h1 {
	color: #333;
	font-family: Georgia, Verdana, sans-serif;
	font-size: 3.3em;
}

h1 a:link, h1 a:visited {
	color: #333;
	text-decoration: none;
}

h1 a:hover {
	background: #fd9;
}

h2 {
	font-size: 1.6em;
}

div.description {
	color: #555;
}

div.description p {
	float: left;
	margin-left: 2px;
}

div.description p.header-date {
	float: left;
	display: inline;
	margin-left: 56px;
}

#content {
	float: left;
	display: inline;
	width: 500px;
	margin: 30px 0 50px 0;
}


#content div.post {
	clear: both;
	padding: 15px 5px 5px 30px;
	/*background: #fff;*/
}

#content div.post h2 {
	padding-bottom: 10px;
	font-size: 2.2em;
}

#content div.post div.entry {
	font-size: 1.8em;
	font-weight: bold;
	line-height: 1.2dm;
}

div.entrytext p {
	font-size: 1.3em;
	line-height: 1.6em;
}

#content div.post p.date {
	padding-top: 10px;
	color: #666;
}

#content div.post p.author {
	margin: 30px 0 0 70px;
	color: #666;
}

li.bump {
	padding-top: 10px;
}

div.navigation {
	margin-top: 20px;
}

div.alignleft {
	float: left;
	margin-right: 10px;
	height: 100%;
}

div.alignright {
	height: 100%;
}

p.date {
	margin-bottom: 30px;
}

p.date-home {
	clear: both;
	color: #666;
}

div.author-bio {
	color: #eee;
	font-size: 1.4em;
}

div.author-bio p {
	margin-bottom: 10px;
	/*color: #eee;*/
	/*font-size: 1.4em;*/
}

div.author-bio ul {
	margin-bottom: 10px;
}

div.author-bio li {
	margin-left: 18px;
}

h4.anita {
	margin-top: 30px;
	color: #fd9;
}

#author-archives {
	float: left;
	margin-right: 70px;
}

#month-archives {
	float: left;
	display: inline;
}

ul.archives {
	list-style-type: none;
	font-size: 1.2em;
}

ul.archives li {
	padding-bottom: 4px;
}

h3.author {
	margin-top: 40px;
	color: #fd9;
	font-size: 1.6em;
}

#sidebar {
	float: right;
	width: 200px;
}

#sidebar h2 {
	margin-top: 20px;
}

#sidebar ul {
	margin-bottom: 20px;
	padding: 5px 10px 10px 10px;
	list-style-type: none;
	background: #9fbfd4;
}

#sidebar ul li.page_item {
	margin-top: 5px;
	list-style-type: none;
	font-size: 1.3em;
}

#sidebar ul li a:link, #sidebar ul li a:visited {
	text-decoration: none;
}

#sidebar ul li a:hover {
	color: #165;
	text-decoration: underline;
	background: transparent;
}

#sidebar a img {
	padding-right: 4px;
	border: 0;
}

#sidebar a:link.rss, #sidebar a:visited.rss {
	padding: 3px 0 0 18px;
	font-size: 0.8em;
	background: url(images/rss_icon.gif) left bottom no-repeat;
}

#sidebar a:hover.rss {
	background: url(images/rss_icon.gif) left bottom no-repeat;
}

#skorton, #fragile-index {
	margin: 20px 0 0 0;
	padding: 10px;
	/* border: solid 1px #fb2; */
	border: solid 1px #fd9;
	background: #fec;
}

#skorton p.second {
	margin-top: 10px;
	color: #666;
}

#fragile-index {
	border-color: #d9859b;
	background: #f2bec5;
}

#footer {
	clear: both;
}

a:link, a:visited {
	color: #165;
}

a:hover {
	color: #fff;
	background: #165;
	text-decoration: none;
}

