/*
Theme Name: Nirvana
Theme URI: http://www.cryoutcreations.eu/nirvana
Description: Imagine a land of infinite beauty and overwhelming magnificence. Imagine seas of freedom and oceans of peace joining together with splashing waves of pure love. Imagine high mountains of hope, hills of reason and deep valleys of knowledge - all covered with dense forests of complete calm. In this mystic land, under a spotless sky of clarity and a bright, cleansing sun you will find Nirvana. The search is finally over; you can now rest, relax and take a deep breath. Nirvana will do the rest with a framework of over 200 settings in a user-friendly interface, a very effective responsive design, boxed or wide layouts with up to 3 columns, easy to use typography equipped with Google fonts, all post formats, 8 page templates (magazine and blog layouts included), 12 widget areas and a presentation page complete with an editable slider and columns. Nirvana also gives you over 40 socials to choose from, is translation ready and has full RTL support. All you have to do is imagine it and with Nirvana it will come true.
Author: Cryout Creations
Author URI: http://www.cryoutcreations.eu
Version: 1.0.5
License: GNU General Public License v3.0
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Tags: white, black, blue, orange, red, gray, green, silver, light, one-column, two-columns, three-columns, right-sidebar, left-sidebar, fixed-layout, responsive-layout, custom-background, custom-colors, custom-header, flexible-header, custom-menu, featured-image-header, featured-images, front-page-post-form, full-width-template,  microformats, post-formats, rtl-language-support,  sticky-post, theme-options, threaded-comments, translation-ready
Text Domain: nirvana

Nirvana WordPress Theme, Copyright 2014 Cryout Creations http://www.cryoutcreations.eu
This theme, like WordPress, is licensed under the GPL.
*/

/*
IMPORTANT!

Any changes made to this or any other of the theme's files will be lost at the next update.

To safely make customizations to the theme, for CSS-only consider using the theme's dedicated
"Custom CSS" field found under the Miscellaneous section of the theme settings page;
for advanced CSS and other customizations, consider using a child theme.
*/

/* Reset default browser CSS */
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: grayscale;
}
ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}

#content h1,#content h2,#content h3,#content h4,#content h5,#content h6 {
	clear: none;
}

#content .entry-content h1 { font-size: 32px; }
#content .entry-content h2 { font-size: 28px; }
#content .entry-content h3 { font-size: 24px; }
#content .entry-content h4 { font-size: 20px; }
#content .entry-content h5 { font-size: 16px; }
#content .entry-content h6 { font-size: 12px; }

.entry-content blockquote {
	display: table;
	padding: 20px;
	margin: 0 auto;
	width: auto;
	font-style: italic;
	clear: both;
	float: none;
	position: relative;
	font-weight: bold;
}

.entry-content blockquote:before {
	position: absolute;
	left: 0;
	top: 0;
	content: '\e80f';
	font-family: 'elusive';
	font-size: 1em;
	color: rgba(0,0,0,.05);
	z-index: 0;
}

.entry-content blockquote:after {
	position: absolute;
	right: 0;
	bottom: 0;
	content: '\e80f';
	font-family: 'elusive';
	font-size: 1em;
	color: rgba(0,0,0,.05);
	z-index: 0;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

#content blockquote p{
	margin-bottom: 0;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
}

/* =Layout
-------------------------------------------------------------- */

#container {
	float: none;
	margin: 0;
	width: 100%;
}

#content {
	margin-bottom: 0px;
}

.sidey {
	display: block;
	float: left;
}

#footer {
	clear: both;
	width: 100%;
}

/* =Fonts
-------------------------------------------------------------- */

body,
input,
textarea,
.page-title span,
.pingback a.url ,
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text,
input[type=submit] {
	/*font-family:Open Sans, Arial, sans-serif;*/
}

pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}

code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

.entry-content pre {
	border: 1px solid transparent;
}

.entry-content code {
    overflow: auto;
    padding: 10px;
    text-indent: 0;
    white-space: nowrap;
	border-left:10px solid;
	line-height:1.5;
	display:inline-block;
}

/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
div.menu,
#colophon,
#branding,
#main,
#header {
	margin: 0 auto;
}

#forbottom {
	clear: both;
	display: block;
	margin: 0px auto;
	padding: 20px 0;
	min-height: 400px;
}

#masthead {
	background-position: 50% top;
	background-repeat: repeat-x;
}
#branding {
	display: block;
	clear: both;
	height: 75px;
	padding: 0;
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
a#logo {
	display: inline;
	height: 100%;
}

#linky {
	background-image: url('data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');
	display: block;
	width: 100%;
	height: 100%;
}

/* Structure the footer area */
#footer-widget-area {
	overflow: hidden;
}

.footerfour .widget-area {
	float: left;
	margin-right: 2%;
	width: 23.5%;
}

.footerthree .widget-area {
	float: left;
	margin-right: 2%;
	width: 32%;
}

.footertwo .widget-area {
	float: left;
	margin-right: 2%;
	width: 49%;
}

.footerone .widget-area {
	float: left;
	width: 100%;
}

.footertwo #second, .footerthree #third, .footerfour #forth {
	margin-right: 0%;
}

#footer-widget-area #fourth {
	margin-right: 0;
}

#site-generator {
	float: right;
	width: 220px;
}

/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body,
input,
textarea {
	font-size: 12px;
	line-height: 1.5em;
}

hr {
	border: 0;
	clear: both;
	height: 1px;
}

/* Text elements */
.entry-content ul {
	margin-left: 1.6em;
}

.entry-content ul li,
.entry-content ol li {
	padding: 2px 0;
}

.entry-content ul > li {
	list-style: disc;
}

.entry-content ol > li {
	text-indent: 0px;
}

.entry-content  li li {
	margin-left: 15px;
}

ol {
	list-style: decimal;
	margin-left: 1.8em;
}

ol ol {
	list-style: upper-alpha;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: lower-alpha;
}

ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}

dl {
	margin: 0 0 24px 0;
}

dt {
	font-weight: bold;
}

strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}

big {
	font-size: 131.25%;
}

ins {
	text-decoration: none;
}

pre {
	line-height: 18px;
	padding: 1.5em;
}

abbr,
acronym {
	border-bottom: 1px dotted transparent;
	cursor: help;
}

sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;

	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

textarea,
select,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="number"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"]{
	border: 1px solid transparent;
	padding: 5px 5px;
	-moz-transition: background-color .2s;
	-o-transition: background-color .2s;
	-webkit-transition: background-color .2s;
	transition: background-color .2s;
	font-family: inherit;
	background: transparent;
}

input[type="file"] {
	border-color: transparent !important;
}

input::-moz-focus-inner{ /*Remove button padding in FF*/
    border: 0;
    padding: 0;
}

a:link,a:visited  {
    text-decoration: none;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}

/* =Header
-------------------------------------------------------------- */

#header {
	background: none;
}

#site-title {
	float: left;
	font-size: 32px;
	line-height: 1.1em;
}

#site-title a {
	text-decoration: none;
	display: block;
	font-weight: 300;
	padding: 5px 0;
}

#site-description {
	display: inline;
	float: left;
	font-size: 20px;
	line-height: 1.5em;
	margin-top: 5px;
	padding: 3px 6px;
	clear: both;
	font-weight: 300;
}

#bg_image {
	display: block;
	margin: 0 auto;
}

#header-container {
	display: block;
	float: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: auto;
}

#header-container > div {
	margin-top: 20px;
}

#header:after {
	content: "";
	display: table;
	clear: both;
}

/* Header widget area
-------------------------------------------------------------- */

#header-widget-area {
    display: block;
    right: 0;
	top: 5px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 50%;
    z-index: 251;
}

/* =Menu -PRIMARY
-------------------------------------------------------------- */

#nav-toggle { display: none; }

#access {
	display: block;
	float: left;
	margin: 0px auto;
	width: 100%;
}

#access ul {}
#access ul li.current_page_item,
#access ul li.current-menu-item {}

#access a {
	display: block;
	text-decoration: none;
	font-size: 13px;
}

#access a span {
	display: block;
	padding: 17px 18px;
	text-transform: uppercase;
}

#access a:hover {}

#access > .menu > ul {
	margin-left: -10px;
}

#access > .menu > ul > li > a > span {}

#access > .menu > ul > li > a:not(:only-child) span:after {
	font-family: "Elusive";
    content: '\e80a';
    position: absolute;
    right: 9px;
    top: 16px;
    z-index: 251;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#access > .menu > ul > li:hover > a:not(:only-child) span:after {
    top: 20px;
	filter: alpha(opacity=0);
	opacity: 0;
}

#access > .menu > ul > li > a:not(:only-child) span {
	padding-right: 24px;
}

#access ul li {
	position: relative;
	display: block;
	float: left;
	white-space: nowrap;
}

#access ul ul {
	display: none;
	position: absolute;
	clear: both;
	z-index: 260;
	margin-left: 0px;
	min-width: 125%;
}

#access ul li a{
	letter-spacing: 1px;
}

#access ul ul li { /* level 2 */
	margin: 0;
    width: 100%; /* submenu width fix */
	position: relative;
	display: table;
	float: left;
	clear: both;
}

#access ul ul li:last-child {}
#access ul ul ul li:last-child {}

#access ul ul li a span{
	padding: 12px 18px;
}

#access ul ul ul {
	position: absolute;
	left: 100%;
	top: 0px;
	margin: 0;
	min-width: 150px;
}

#access ul ul ul li { /* level 3 */
     width: 100%;
	 display: block;
     float: none;
}

#access ul ul ul ul li { /* level 4 */}

#access ul ul a,
#access ul ul ul a {
	display: table;
	float: none;
	min-width: 150px;
	width: 100%;
}

#access ul ul li:hover,
#access ul ul ul li:hover {}

#access li,
#access ul ul li {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#access ul ul :hover > a {}
#access ul li:hover > ul {
	display: block;
}

#access ul li.current_page_item > a,
#access ul li.current-menu-item > a{}

#access ul ul li.current_page_item ,
#access ul ul li.current-menu-ancestor,
#access ul ul li.current-menu-item ,
#access ul ul li.current-menu-parent {}

#access ul li.current_page_item a,
#access ul li.current-menu-ancestor a,
#access ul li.current-menu-item a,
#access ul li.current-menu-parent a,
#access ul li a:hover {}

/* =Menu -SECONDARY
-------------------------------------------------------------- */
.topmenu {
	display: inline;
	float: right;
	width: auto;
}

.topmenu ul {
	margin-top: 5px;
}

.topmenu ul li {
	display: block;
	float: left;
	line-height: 2.2;
}

.topmenu ul li a {
	display: block;
	padding: 0px 10px;
	letter-spacing: .4px;
	font-size: 13px;
	-webkit-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	transition: all .2s ease-in;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.footermenu {
	padding: 5px 0;
	display: table;
	margin: 0 auto;
}

.footermenu > ul {
	float: left;
	margin-left: 20px;
}

.footermenu ul li {
	display: block;
	float: left;
	margin: 0px 5px;
	text-align: center;
	white-space: nowrap;
	border: 1px solid transparent;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.footermenu ul li a {
	display: block;
	padding: 5px 10px;
	font-size: 13px;
}

/* =TOP BAR
------------------ */

#topbar {
	display: block;
	height: 38px;
	width: 100%;
	border-bottom: 1px solid transparent;
	position: relative;
	z-index: 270;
	-webkit-transition:.2s opacity;
	-moz-transition:.2s opacity;
	-o-transition:.2s opacity;
	transition:.2s opacity;
}

#topbar:hover { /* FOR FIXED TOPBAR */
	filter: alpha(opacity=100);
	opacity: 1;
}

#topbar-inner {
	display: block;
	margin: 0 auto;
}

/* =Content
-------------------------------------------------------------- */

#main {
	clear: both;
	padding: 0px ;
	margin-top: 20px;
}

#content,
#content input,
#content textarea {
	font-size: inherit;
	line-height: inherit;
}

.entry-meta a,
.widget-container a,
.footer2 a {
	border-bottom: 1px dotted transparent;
}

#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}

#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 1.5em;
	overflow: auto;
	font-family: "Courier New",Courier,monospace !important;
}

#content code {
	font-size: 14px;
}

#content dt,
#content th {
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 {
	line-height: 1.5em;
	margin: 20px 0 0;
}

#content table {
	border: 0;
	margin: 0 0px 24px 0;
	text-align: left;
	width: 100%;
	vertical-align: top;
}

#content tr {
	vertical-align: top;
}

#content .alternate {}

#content tr th,
#content thead th {
	padding: 9px 24px;
	font-weight:600;
}

#content tr td {
	border-top: 1px solid transparent;
	padding: 6px 24px;
}

#content tr td:last-child, #content tr th:last-child {
	border-right: none;
}

#content tr.odd td {}

.page-header {
	display: block;
	float: none;
	padding: 10px 0px;
}

.page-header .category-archive-meta {
	padding-top: 5px;
}

.page-title {
	font-size: 16px;
	font-weight: bold;
	display: block;
	border-bottom: 1px solid transparent;
}

.page-title-text {
	display: inline-block;
	border-bottom: 1px solid transparent;
	padding: 3px 0 3px 6px;
	margin-bottom: -1px;
}

.page-title span {
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	display: inline-block;
	margin-bottom: -4px;
	padding: 6px;
	border-bottom: 1px solid transparent;
}

.page-title a:link,
.page-title a:visited {
	text-decoration: none;
}

.page-title a:active,
.page-title a:hover {
}

#content .entry-title {
	font-weight: 300;
	line-height: 1.3em;
	padding: 0px;
	margin: 0px;
	word-wrap: break-word;
}

.entry-title a {
	font-weight: 300;
}

.entry-title a:link,
.entry-title a:visited {
	color: inherit;
	text-decoration: none;
}

.entry-title a:active,
.entry-title a:hover {
}

#content > h1.entry-title {
	margin-bottom: 10px;
}

.entry-meta {
    display: block;
    font-size: 12px;
	clear: both;
	overflow: hidden;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	margin: 4px 0 8px 0;
	padding: 7px 4px;
}

div > footer.entry-meta {
	border:0;
}

.entry-meta span,
.entry-utility span {
	display: block;
	float: left;
	line-height: 28px;
	margin-right: 15px;
	font-size:16px;
}

.entry-meta span a{
	font-size: 16px;
}

.entry-meta span.bl_categ {
max-width: 97%;
}

.entry-utility {
	clear: both;
	font-size: 16px;
}

.footer-tags {
	display: block;
	float: left;
	font-size:16px;
}

.entry-utility span.bl_bookmark {
	float: none;
	display: inline;
	padding: 0;
}

.entry-meta span.bl_sep {
	display: none;
}

.comments-link {
	float: right;
	line-height: 28px;
}

.comments-link * {
	font-size: 15px;
}

.comments-link b {
	font-weight: normal;
}

#content span.entry-format {
	display: inline;
	float: left;
	font-size: .6em;
	padding: 2px 3px 0;
}

h3.entry-format > i:before {
	cursor:default;
}

.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted transparent;
}
.entry-content,
.entry-summary {
	clear: both;
	padding-top: 8px;
	word-wrap: break-word;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid transparent;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {}

.entry-content input.file,
.entry-content input.button {}

.entry-content label {}

.entry-content select {}

.entry-content sup,
.entry-content sub {
	font-size: 10px;
}

.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}

.tag-links {
	margin-left:30px;
}

.page-link {
	margin: 10px 0;
	clear:both;
}

.page-link a, .page-link > span > em {
	font-weight: normal;
	text-decoration: none;
	padding: 0 4px;
	border-right: 1px solid transparent;
}

.page-link em {
	font-style:normal;
}

.page-link  a:last-child, .page-link > span > em:last-child {
	border-right: none;
}

.page-link a:hover {}

span.edit-link {
	float: right;
	display: block;
	margin: 0 0 0 10px;
	padding: 0;
	font-size: 12px;
}

#author-info {
	clear: both;
	line-height: 1.5em;
	margin: -10px 0 24px 0;
	overflow: hidden;
	padding: 0 0 15px 0;
}

#author-info #author-avatar {
	float: left;
	height: 80px;
	margin: 0 -100px 0 20px;

}
#author-info #author-description {
	float: left;
	margin: 5px 0 0 130px;
}

#entry-author-info {
	clear: both;
	line-height: 1.5em;
	margin: 30px 0;
	overflow: hidden;
	padding: 0 0 18px 0px;
	border-top: 1px solid transparent;
}
#entry-author-info #author-avatar {
	float: left;
	height: 80px;
	margin: 0 -100px 0 20px;
}

#author-avatar .avatar {
	-webkit-border-radius: 0 0 100% 100%;
	-moz-border-radius: 0 0 100% 100%;
	border-radius: 0 0 100% 100%;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 130px;
}
#entry-author-info h2 {
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}

#content .video-player {
	padding: 0;
}

/* =POST FORMATS
-------------------------------------------------------------- */


/* =Asides
-------------------------------------------------------------- */

.home #content .format-aside p,
.home #content .category-asides p {
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}

.home #content .format-aside .entry-content,
.home #content .category-asides .entry-content {
	padding-top: 0;
}

#content .format-aside .entry-title {
	display: none;
}

#content .format-aside .entry-format {
	font-size: 1.5em;
	line-height: 1.5em;
	padding-top: 10px;
}

#content .format-aside .entry-content,
#content .format-aside .entry-summary {
	clear: right;
}

#content .format-aside .author ,
#content .format-aside  .bl_categ,
#content .format-aside .bl_sep {
	display: none;
}

/* =Galleries
----------------------------------------------------------------------------*/

.gallery {
	margin-bottom: 20px;
	margin-left: -4px;
}

.gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	position: relative;
}

.gallery-columns-1.gallery-size-medium,
.gallery-columns-1.gallery-size-thumbnail,
.gallery-columns-2.gallery-size-thumbnail,
.gallery-columns-3.gallery-size-thumbnail {
	display: table;
	margin: 0 auto 20px;
}

.gallery-columns-1 .gallery-item,
.gallery-columns-2 .gallery-item,
.gallery-columns-3 .gallery-item {
	text-align: center;
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width:         calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-icon {
	line-height: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.gallery-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	max-height: 50%;
	padding: 2px 8px;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	font-size: 14px;
	line-height: 1.3em !important;
	filter: alpha(opacity=0);
	opacity: 0;
	text-align: left;
	cursor: default;
	-webkit-transition: opacity 400ms ease;
	-moz-transition: opacity 400ms ease;
	-o-transition: opacity 400ms ease;
	transition: opacity 400ms ease;
}

.gallery-item:hover .gallery-caption {
	filter: alpha(opacity=1);
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

/* =Chat
-------------------------------------------------------------- */
.format-chat p {
	font-family: Monaco, "Courier New", monospace !important;
}

/* =Quote
-------------------------------------------------------------- */
.format-quote blockquote,
.format-quote blockquote p{
	font-family: Georgia,"Bitstream Charter",serif !important;
	font-size: 1.1em !important;
}


/* =Status
-------------------------------------------------------------- */

.format-status .entry-title {
	/*display:none;*/
}

.status_content {
}

.format-status .avatar {
	display: block;
	width: auto;
	float: left;
	margin: 10px 10px 10px 0;
}

/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}


/* =Images
-------------------------------------------------------------- */
#pp-afterslider img,
#content img {
	margin: 0;
	height: auto;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#content table img {
	max-width: inherit; 
	vertical-align: top; }

#pp-afterslider .alignleft,
#content .alignleft,
#content img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
#pp-afterslider .alignright,
#content .alignright,
#content img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
#pp-afterslider .aligncenter,
#content .aligncenter,
#content img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#pp-afterslider img.alignleft,
#pp-afterslider img.alignright,
#pp-afterslider img.aligncenter,
#content img.alignleft,
#content img.alignright,
#content img.aligncenter {
	margin-bottom: 12px;
}

#pp-afterslider img.alignleft,
#pp-afterslider img.alignright,
#pp-afterslider img.aligncenter,
#pp-afterslider img.alignnone,
#pp-afterslider .wp-caption img,
#content img.alignleft,
#content img.alignright,
#content img.aligncenter,
#content img.alignnone,
#content .wp-caption img {
	filter: alpha(opacity=99);
	opacity: 0.99;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#pp-afterslider img.alignleft:hover,
#pp-afterslider img.alignright:hover,
#pp-afterslider img.aligncenter:hover,
#pp-afterslider img.alignnone:hover,
#content img.alignleft:hover,
#content img.alignright:hover,
#content img.aligncenter:hover,
#content img.alignnone:hover,
#content .wp-caption img:hover {
	filter: alpha(opacity=80);
	opacity: 0.8;
}
#pp-afterslider .wp-caption,
#content .wp-caption {
	margin-bottom: 20px;
	text-align: center;
	max-width: 100%;
	position: relative;
}
#pp-afterslider .wp-caption img,
#content .wp-caption img {
	border: none !important;
	padding: 0px;
	-moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
	width: 100%;
}
#pp-afterslider .wp-caption > a,
#content .wp-caption > a {
	line-height: 0;
	display: block;
}
#pp-afterslider .wp-caption .wp-caption-text,
#content .wp-caption .wp-caption-text {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box;
    bottom: 0;
	margin-bottom:0;
    padding: 10px 5px;
    position: absolute;
    text-align: center;
    text-indent: 0;
    width: 100%;
}
#content .wp-smiley {
	margin: 0;
	width: auto !important;
    background: none !important;
    border: 0 !important;
    vertical-align: middle;
	-webkit-box-shadow: none !important ;
    -moz-box-shadow: none !important;
	box-shadow: none !important;
}

#content .attachment img { /* single attachment images should be centered */
	display: block;
	margin: 0 auto;
	max-width: 96%;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
	overflow: hidden;

}
.navigation a:link,
.navigation a:visited {
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {}
.nav-previous a{
	float: left;
	width: 47%;
	padding: 2px 1%;
	-webkit-transition: .2s all ease-in-out;
	-moz-transition: .2s all ease-in-out;
	-o-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}
.nav-next a{
	float: right;
	text-align: right;
	width: 47%;
	padding: 2px 1%;
	-webkit-transition: .2s all ease-in-out;
	-moz-transition: .2s all ease-in-out;
	-o-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}

.meta-nav-prev:before {
	font-family: "elusive";
	content: '\e827';
	font-style: normal;
	margin-right: 5px;
	font-size: 9px;
}
.meta-nav-next:before {
	font-family: "elusive";
	content: '\e828';
	font-style: normal;
	margin-left: 5px;
	font-size: 9px;
}

.single #nav-above {
	display: block;
}
#nav-below {
	margin-bottom: 5px;
	margin-top: 5px;
	display: block;
	float: none;
	clear: both;
}


/* =Comments
-------------------------------------------------------------- */
#comments {
	padding: 10px 0px;
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	font-size: 32px;
}
h3#comments-title {
	margin-bottom: .7em;
	line-height: 1.5em;
	border-bottom: 1px solid transparent;
}

h3#comments-title span {
	padding: 4px 10px;
	font-weight: 300;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	margin: 0;
	list-style: none;
	line-height: 10px;
}

.commentlist li.comment:hover {
}

.commentlist .comment-body {
	padding: 10px 0;
	overflow: hidden;
	clear: both;
	line-height: 22px;
	margin-bottom: 20px;
}

.commentlist li:last-child {
}
#comments .comment-body ul,
#comments .comment-body ol {
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}

.avatar-container {
	float: left;
	position: relative;
	height: 61px;
	overflow: hidden;
}

.avatar-container:before {
	content: "";
	width: 100%;
	height: 1px;
	bottom: 0px;
	position: absolute;
}

.commentlist .avatar {
	padding-bottom: 1px;
	position: relative;
	top: 5px;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.comment > div:hover .avatar:nth-child(1) {
	top: 0px;
}
.comment-author {
	display: inline-block;
	line-height: 24px;
	-webkit-transition: background .3s ease;
	-moz-transition: background .3s ease;
	-o-transition: background .3s ease;
	transition: background .3s ease;
}

.comment-details {
	position: relative;
	float: left;
	padding: 7px 10px;
	height: 61px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid transparent;
}

.comment-author cite {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}
.comment-meta {
	font-size: 13px;
}
.comment-meta a:link,
.comment-meta a:visited {
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
}
.commentlist .even {
}
.commentlist .bypostauthor {
}

.comment-await {
	margin-left: 25px;
}
.reply a{
	display: inline-block;
	font-size: 15px;
	padding: 0 15px;
	line-height: 2.4;
	border: 1px solid transparent;
	width: auto;
	text-align: right;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.reply a:hover {}

.reply a .icon-reply:before {
	margin-right: 10px;
	position: relative;
	left: 0;
	top: 0;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}

.reply a:hover .icon-reply:before {
	left: -4px;
	top: -4px;
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}

@-webkit-keyframes reply-arrow {
0% {left: 0;}
50% {left: -10px;}
100%{left: 0px;}
}
@keyframes reply-arrow {
0% {left: 0;}
50% {left: -10px;}
100%{left: 0px;}
}

.reply a,
a.comment-edit-link {}

.reply a:hover,
a.comment-edit-link:hover {}

.commentlist .children {
	background-image: none;
	list-style: none;
	margin: 0;
	margin-left: 20px;
}
.commentlist .children li {
	border: none;
	background-image: none !important;
	margin: 0;
	text-indent: 0 !important;
}

#content .nocomments, #content .nocomments2 {
	margin-bottom: 0;
}

.hideme {
	display:none;
}

#comments .pingback {
	border-bottom: 1px solid transparent;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type="submit"],
input[type="reset"] {
	border: 1px solid transparent;
	padding: 2px 12px;
	cursor: pointer;
}
#respond {
	margin: 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 0.2em;
	font-size: 0.8em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
	min-width: 400px;
}
h3#reply-title {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-weight: 300;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 1.5em;
}
#respond .required {}

#commentform  {
	max-width: 550px;
	display: block;
}

#respond label {
	display:none;
}

#respond input {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.comment-form-comment textarea {
	display: block;
	float: none;
	height: 150px;
	width: 100%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.comment-form-author label,
.comment-form-email label,
.comment-form-email label,
.comment-form-url label,
.comment-form-comment label {
	display: block;
	float: none;
}

.comment-form-author input,
.comment-form-email input,
.comment-form-email input,
.comment-form-url input,
.comment-form-comment input {
	display: block;
	float: none;
}

#respond input:hover, #respond textarea:hover {}

#respond .form-allowed-tags {
	font-size: 12px;
	line-height: 1.5em;
	width: 100%;
	clear: both;
	display: block;
	float: none;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
	text-align: right;
	clear: both;
}
#respond .form-submit input {
	font-size: 15px;
	width: auto;
}

#respond .form-submit input#submit {
	border: 1px solid transparent;
	-webkit-transition: background-color .2s ease;
	-moz-transition: background-color .2s ease;
	-o-transition: background-color .2s ease;
	transition: background-color .2s ease;
}

#respond .form-submit input#submit:hover {
	cursor: pointer;
}

.file, .button {
	border: 1px solid transparent;
	padding: 4px 7px;
	-webkit-transition: background-color .2s ease;
	-moz-transition: background-color .2s ease;
	-o-transition: background-color .2s ease;
	transition: background-color .2s ease;
}

.file, .button, #respond .form-submit input#submit {}

.file:hover, .button:hover {
	cursor:pointer;
}

/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul, .widget-area ul ul {
	list-style: none !important;
	list-style-image: none;
}

.widget-container {
	padding: 5px;
	margin: 0 0 20px 0;
}

.widget-container > * {
	max-width: 100%;
}

.widget-container ul li {
	display: block;
	float: none;
	margin-bottom: 0.5em;
}

.widget-title {
	font-size: 16px;
	text-align: left;
	margin-bottom: 10px;
	border-bottom: 1px solid transparent;
}

.widget-title span {
	display: inline-block;
	line-height: 2.2em;
	padding:0 10px;
	position: relative;
	top: 1px;
	border-bottom: 1px solid transparent;
}

#footer-widget-area a:hover {
	text-decoration: underline;
}

.widget-area a:link,
.widget-area a:visited {
	text-decoration: none;
	word-wrap: break-word;
}
.widget-area a:active,
.widget-area a:hover {}

.widget-area .entry-meta {
	font-size: 11px;
}

/* Search buttons */

#searchform {
	display: block;
	height: auto;
	position: relative;
	overflow: hidden;
	max-width: 300px;
}

.contentsearch {
	display: block;
	float: none;
	overflow: hidden;
	margin-bottom: 20px;
	margin-top: 20px;
	padding: 10px;
}
.no-results .contentsearch {
	padding: 0;
}

#searchform input[type="text"]  {/* Sidebar Search */
	display: block;
	float: left;
	font-size: 18px;
	line-height: 18px;
	padding: 0px 50px 0 10px;
	height: 42px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.contentsearch #searchform input[type="text"] {
	margin-left: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.widget_search label {
	display: none;
}

#searchsubmit {
	font-family: "elusive";
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	height: 42px;
	width: 42px;
	padding: 0;
	font-size: 17px;
	vertical-align: middle;
	background: none;
	z-index: 4;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#searchform:after {
	content: "";
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
	width: 42px;
	height: 100%;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	outline: 1px solid transparent;
}

#searchform:hover:after {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	outline: 1px solid transparent;
}

/* Header searchform */
.menu-header-search {
	margin: 1px 10px;
	width: 20px;
}

.menu-header-search #searchform {
	position: absolute;
	margin-top: 33px;
	margin-left: -230px;
	z-index: 10;
	display: none;
	filter: alpha(opacity=0);
	opacity: 0;
}

.menu-header-search #searchform:after,
.menu-header-search #searchsubmit {
	display: none;
}

.menu-header-search #searchform input[type="text"] {
	font-size: 16px;
	line-height: 2em;
	padding: 5px 30px 5px 10px;
	width: 260px;
	border: 0;
	height: 46px;
}

i.search-icon {
	position: absolute;
	cursor: pointer;
	z-index: 11;
	-webkit-transition:. 3s all ease;
	-moz-transition:. 3s all ease;
	-o-transition:. 3s all ease;
	transition:. 3s all ease;
}

i.search-icon:before {
	font-family: "Elusive";
	content: '\e816';
	display:	block;
	font-style:	normal;
	font-size:	inherit;
	font-size: 12px;
}

/* Main menu search */
#access li.menu-main-search {
	float: right;
	margin-top: 5px;
	max-width: 200px;
}

li.menu-main-search  #searchform:after {
	background-color: transparent;
}

li.menu-main-search #searchsubmit {
	font-size: 15px;
	top: 1px;
}

/* Footer menu search */
li.menu-footer-search {
	max-width: 120px;
}
li.menu-footer-search #searchform:after {
	background-color: transparent;
}

li.menu-footer-search #searchform #s {
	font-size: 13px;
	line-height: 1.5em;
	height: auto;
	border: none;
	padding: 5px 10px;
}

li.menu-footer-search #searchform #s:hover {
	background: none;
}

li.menu-footer-search #searchsubmit {
	font-size: 13px;
	height: auto;
	width: auto;
	right: 10px;
	top: 5px;
}
 
/* Callendar */
#wp-calendar {width:100%;}
#wp-calendar caption {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	margin-left: 10px;
}

#wp-calendar thead {
	font-size: 11px;
}

#wp-calendar tbody td {
	padding: 3px 0 2px;
	text-align: center;
	border: 1px solid transparent;
}

#wp-calendar tbody td:hover {
	filter: alpha(opacity=80);
	opacity: 0.8;
}

#wp-calendar tbody td a{
	border: none;
	background: none;
	padding: 0;
	margin: 0;
}
#wp- tbody .pad {
	background: none;
}

#wp-calendar tfoot #next {
	text-align: right;
}

.widget_rss a.rsswidget {}
.widget_rss a.rsswidget:hover {}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}

/* Main sidebars */
#main .widget-area ul {
	margin-left: 0;
	padding: 0;
}
#main .widget-area ul ul {
	border: none;
	margin-left: 10px;
	padding: 0;
}
/* Before and after content widgets */

.yoyo .widget-title {
	background: none;
	padding: 0;
	margin: 0;
}

/* Footer widget areas */
#footer-widget-area {
	margin: 20px 0 10px 0;
}

#footer-widget-area a{}


/* =Footer
-------------------------------------------------------------- */

#footer {
	margin-top: 20px;
	margin-bottom: 0px;
}

#footer a{
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
}

#footer2 {
	display: block;
	padding: 15px 0 0;
	overflow: visible;
	width: 100%;
}

#footer2-inside {
	display: block;
	float: none;
	margin: 0 auto;
}

#footer2:after {
	content: "";
	display: table;
	clear: both;
}

#colophon {
	margin: 0 30px;
	overflow: hidden;
	display: block;
	float: none;
	margin: 0 auto;
}

#site-copyright {
	display: block;
	float: none;
	padding: 10px 0;
	font-style: italic;
	clear: both;
	margin: 0 auto;
	text-align: center;
	font-size: 15px;
	line-height:1.5;
}

#footer a,#footer a:hover{
	text-decoration: none;
}

img#wpstats {
	display: block;
	margin: 0 auto 10px;
}

/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
	-webkit-text-size-adjust: 140%;
}

code {
	-webkit-text-size-adjust: 160%;
}

#access,
.entry-meta,
.entry-utility,
.navigation,
.widget-area {
	-webkit-text-size-adjust: 120%;
}

#site-description {
	-webkit-text-size-adjust: none;
}

/* =SOCIALS
-------------------------------------------------------------- */

/* =GENERAL */

.socials {
	float: right;
	position: relative;
}
.socials a {
	display: block;
	float: left;
	position: relative;
	line-height: 0 !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.socials a:hover{
border: 0;
}

.socials img {
	width: 26px;
	height: 26px;
	position: relative;
	z-index: 99;
	padding: 2px;
}

/* The animated square */
.socials-hover {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 26px;
	height: 26px;
	padding: 2px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: .3s all ease;
	-moz-transition: .3s all ease;
	transition: .3s all ease;
	outline: 1px solid transparent;
}

.socials a:hover .socials-hover {
	z-index: 100;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	outline: 1px solid transparent;
}

.socials a:hover img {
	z-index: 101;
}

/* HEADER SOCIALS */
#sheader {
	float: left;
	top: 5px;
}

#sheader a {
	margin-right: -4px;
}

/* SIDEBAR SOCIALS */
#smenul,
#smenur {
	float: none;
	margin: 0px auto;
	display: table;
}

#smenul a , #smenur a {
margin:0 5px;
}

/* LEFT & RIGHT SOCIALS */
#srights, #slefts {
	display: block;
	position: fixed;
	right: 0;
	top: 40%;
	height: auto;
	width: 30px;
	padding: 5px;
	margin: 0;
	filter: alpha(opacity=50);
	opacity: 0.5;
	z-index: 99;
	-webkit-transition: opacity .5s ease-in-out;
	-moz-transition: opacity .5s ease-in-out;
	-o-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}

#slefts {
	left: 0;
}

#srights:hover,
#slefts:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}

#srights a,
#slefts a {
	display: block;
	float: none;
	clear: both;
	margin-top: -4px;
}

.socials a:last-child {
	margin-bottom: 0 !important;
}

/* FOOTER SIDEBARS */
#sfooter-full {
	width: 100%;
	display: block;
	overflow: hidden;
	clear: both;
	float: none;
	padding: 12px 0;
	margin-top: 10px;
}

#sfooter {
	float: none;
	clear: both;
	display: table;
	margin: 0px auto;
	text-align: center;
}

#sfooter a {
	margin-right: 10px;
}

#sfooter img,
#sfooter .socials-hover {
	padding: 0px;
}

#sheader img,
#sheader .socials-hover {
	padding: 1px;
}

#smenur img,
#smenur .socials-hover,
#smenul img,
#smenul .socials-hover {
	padding: 5px;
}

#srights img,
#srights .socials-hover ,
#srights img,
#srights .socials-hover {
	padding: 2px;
}

/* ARTICLES */

article.post,
article.page {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	margin-bottom: 36px;
}

div.post,
div.page,
.yoyo > li {
	display: block;
	overflow: hidden;
	padding: 0;
	margin-bottom: 36px;
}

.sticky h2.entry-title a {
	padding: 2px 5px;
}

#toTop {
	display: block;
	width: auto;
	height: auto;
	position: fixed;
	bottom: -50px;
	right: 40px;
	cursor: pointer;
	padding: 12px;
	font-size: 16px;
	background: rgba(0,0,0,.06) !important;
	filter: alpha(opacity=0);
	opacity: 0;
	z-index: 251;
	border: 1px solid rgba(255,255,255,.1);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,.28);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,.28);
	box-shadow: 0 0 1px rgba(0,0,0,.28);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#toTop:hover {}

.icon-back2top:before {
	content: '\e812';
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

#toTop:hover .icon-back2top:before {}

/* CUSTOM IMAGE BORDER */
.nirvana-image-none .entry-content img[class*='align'],
.nirvana-image-none .entry-summary img[class*='align'] {}

.nirvana-image-one .entry-content img[class*='align'],
.nirvana-image-one .entry-summary img[class*='align'] {
	padding: 1px;
	border: 1px solid transparent;
	-webkit-box-shadow: 0 0 5px #ccc;
	-moz-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
}
.nirvana-image-two .entry-content img[class*='align'],
.nirvana-image-two .entry-summary img[class*='align'] {
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	padding: 0;
}
.nirvana-image-three .entry-content img[class*='align'],
.nirvana-image-three .entry-summary img[class*='align'] {
	border: 1px solid #222;
	padding: 0;
	-webkit-box-shadow: 0 0 15px #ccc;
	-moz-box-shadow: 0 0 15px #ccc;
	box-shadow: 0 0 15px #ccc;
}
.nirvana-image-four .entry-content img[class*='align'],
.nirvana-image-four .entry-summary img[class*='align'] {
	padding: 10px;
	border: 1px solid #DDD;
	-webkit-box-shadow: 0 0 2px #CCC;
	-moz-box-shadow: 0 0 2px #CCC;
	box-shadow: 0 0 2px #CCC;
}
.nirvana-image-five .entry-content img[class*='align'],
.nirvana-image-five .entry-summary img[class*='align'] {
	border: 3px dashed #CCC;
}

.nirvana-image-one .entry-content img[class*='align']:hover,
.nirvana-image-one .entry-summary img[class*='align']:hover {
	background-color: #eee;
	}

.nirvana-image-two .entry-content img[class*='align']:hover,
.nirvana-image-two .entry-summary img[class*='align']:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.nirvana-image-three .entry-content img[class*='align']:hover,
.nirvana-image-three .entry-summary img[class*='align']:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* CUSTOM CAPTION LOOK */
.caption-simple #content .wp-caption .wp-caption-text {
    position: inherit;
	padding: 7px 5px;
	font-style: italic;
}

.caption-dark #content .wp-caption .wp-caption-text {
	padding: 20px 5px 10px !important;
	color: #EEE;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,0)), to(rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0),  rgba(0,0,0,1));
	background: -ms-linear-gradient(top, rgba(0,0,0,0),  rgba(0,0,0,1));
	background: -o-linear-gradient(top, rgba(0,0,0,0),  rgba(0,0,0,1));
	background: -moz-linear-gradient(top, rgba(0,0,0,0),  rgba(0,0,0,1));
	background: linear-gradient(top, rgba(0,0,0,0),rgba(0,0,0,.6) 50%,  rgba(0,0,0,0.8));
	-webkit-text-shadow: 0 0 7px #000;
	-moz-text-shadow: 0 0 7px #000;
	text-shadow: 0 0 7px #000;
}

.caption-light #content  .wp-caption .wp-caption-text {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
	color: #333;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.4)), to(rgba(255,255,255,0.8)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.4),  rgba(255,255,255,0.8));
	background: -moz-linear-gradient(top, rgba(255,255,255,0.4),  rgba(255,255,255,0.8));
	background: -ms-linear-gradient(top, rgba(255,255,255,0.4),  rgba(255,255,255,0.8));
	background: -o-linear-gradient(top, rgba(255,255,255,0.4),  rgba(255,255,255,0.8));
}

/* BREADCRUMBS */
#breadcrumbs {
	display: block;
	position: relative;
	padding: 8px 0;
	font-size: 0.85em;
	font-size: 12px;
}

#breadcrumbs-box {
	display: block;
	margin: 0 auto;
	padding: 0 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.icon-homebread:before {
	content: '\e81f';
	font-size: 1em;
	cursor: pointer;
}

#breadcrumbs a {}
#breadcrumbs a:hover {}

/* PAGINATION */
.pagination {
	display: table;
	float: none;
	margin: 20px auto;
	text-align: center;
	clear: both;
	border: 1px solid transparent;
}
.pagination span,
.pagination a {
	display: block;
	position: relative;
	float: left;
	margin-right: 0px;
	padding: 10px 0;
	width: 40px;
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	text-decoration: none;
	-webkit-transition: background .3s;
	-moz-transition: background .3s;
	-o-transition: background .3s;
	transition: background .3s;
}

.pagination span:first-child, .pagination a:first-child {
	border-left: 0;
}

.pagination a:hover{}
.pagination .current{}

/* Continue Reading Links */
a.continue-reading-link {
	display: inline-block;
	position: relative;
	width: auto;
	float: none;
	padding:0 10px;
	margin-top: 3px;
	line-height: 2.5;
	font-size: 15px;
	text-transform: uppercase;
	font-style: normal;
	clear: both;
	border: 1px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: .2s all ease-in-out;
	-moz-transition: .2s all ease-in-out;
	-o-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}

.continue-reading-link  .icon-right-dir:before {
	margin-right: 0;
}

.continue-reading-link span {
	position: relative;
	z-index: 99;
}

a.continue-reading-link i.icon-right-dir {
	position: relative;
	font-size: 13px;
	z-index: 99;
	-webkit-transition: color .5s ease-in;
	-moz-transition: color .5s ease-in;
	-o-transition: color .5s ease-in;
	transition: color .5s ease-in;
}

a.continue-reading-link:hover { }

/* PP COLUMNS*/
#front-columns {
	display: block;
	width: auto;
	float: none;
}
.column-image {
	width: 100%;
	display: block;
	overflow: hidden;
	line-height: 0px;
}

.column-image-inside {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(0,0,0,0);
	z-index: 250;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.column-image-inside-centered {
	position: relative;
	top: 45%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.column-image-inside:hover{
	background: rgba(0,0,0,.7);
}

.column-header-image {
	display: block;
	width: 100%;
	position:relative;
	top:30px;
	text-transform:uppercase;
	font-size: 30px;
	line-height: 35px;
	font-weight: 200;
	text-align: center;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
}

.column-text-separator {
	display: block;
	float: none;
	clear: both;
	width: 10px;
	height: 1px;
	background: #FFF;
	margin: 20px auto;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.column-text {
	position:relative;
	top:-30px;
	font-size:16px;
	padding: 0px 20px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	line-height: 1.5em;
	z-index: 251;
	color: #EEE;
	text-align: justify;
	/*-moz-transform:translate(0,-55%);
	-o-transform:translate(0,-55%);
	-webkit-transform:translate(0,-55%);
	-ms-transform:translate(0,-55%);
	transform:translate(0,-55%);*/
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	-webkit-transition-delay: .3s;
	transition-delay: .3s;
}

.column-link {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
}

.column-header-image,
.column-text-separator,
.column-text {
	filter: alpha(opacity=0);
	opacity: 0;
}

.column-image-inside:hover .column-header-image,
.column-image-inside:hover .column-text  {
	filter: alpha(opacity=100);
	opacity: 1;
	top: 0px;
}

.column-image-inside:hover .column-text-separator  {
	filter: alpha(opacity=100);
	opacity: 1;
	width: 150px;
}

.column-image img {
	width: 100%;
}


.coldisplay1 .column-image-inside { background-color: rgba(0,0,0,.7);}
.coldisplay1 .column-image-inside:hover { background-color: rgba(0,0,0,.9);}
.coldisplay1 .column-image-inside-centered {
	position: relative;
	top: 0%;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	padding-top:20px;
}
.coldisplay1 .column-header-image,
.coldisplay1 .column-text-separator,
.coldisplay1 .column-text {
	filter: alpha(opacity=90);
	opacity: 0.9;
	top: 0px;
}
.coldisplay1 .column-image-inside .column-text-separator { width:150px;}
.coldisplay1 .column-image-inside:hover .column-text-separator { width:100%;}

.coldisplay2 .column-image-inside { position:relative;}
.coldisplay2 .column-image-inside:hover { background-color: transparent;}
.coldisplay2 .column-image-inside-centered {
	position: relative;
	top: 0%;
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
	padding-top:20px;
}

.coldisplay2 .column-header-image,
.coldisplay2 .column-text {
	filter: alpha(opacity=90);
	opacity: 0.9;
	top: 0px;
	color: inherit;
}

.coldisplay2 .column-text {padding: 10px 10px 20px 10px;}
.coldisplay2 .column-text-separator {display: none;}



/* Style HTML5 tags for IE8 and lower */
header
,nav
,section
,article
,aside
,footer
,hgroup {
	display: block;
}

.tinynav {
	display: block;
	float: none;
	margin: 8px auto;
	display: none;
	min-width: 200px;
	width: 100%;
	padding: 10px;
}

.tinynav option {}

/* Magazine layout */
.magazine-layout #content article.post,
.magazine-layout.search #content article{
	float: left;
	width: 48%;
	padding: 0px 0px 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.magazine-layout #content article.sticky {}
.magazine-layout #content article:nth-of-type(2n+1) {
	clear: both;
	margin-right: 4%; }
.magazine-layout .comments-link {
	float: left;
}

.magazine-layout .entry-header .entry-meta {
	margin-top: 5px;
}

.magazine-layout span.edit-link {
	float: left;
	margin-left: 0;
	margin-right: 10px;
}

.magazine-layout .entry-header {
	clear: both;
}

/* shareaddy fix */ .sharedaddy ul > li { background: none !important; text-indent: 0 !important; }

/*woocommerce  fix*/ .woocommerce .product .entry-summary {clear:none;}

/* video fix */
#content embed, #content iframe {max-width:100%;}

/* FIN! */