/* 
Theme Name: CornellX
Theme URI: http://cornell.edu/ 
Description: Responsive Theme is a flexible foundation with fluid grid system that adapts your website to mobile devices and the desktop or any other viewing environment. Theme features 9 Page Templates, 11 Widget Areas, 6 Template Layouts, 4 Menu Positions and more. Powerful but simple Theme Options for full CMS control with easy Logo Upload, Social Networking and Webmaster Tools etc. Responsive is WooCommerce Compatible, Multilingual Ready (WPML), RTL-Language Support, Retina-Ready, Search Engine Friendly, W3C Markup Validated and currently translated into 40 languages. Cross-Browser compatible. 

Version: 1.1
Author: IWS
Author URI: http://cornell.edu
Tags: white, black, gray, light, custom-menu, custom-header, custom-background, one-column, two-columns, left-sidebar, right-sidebar, flexible-width, theme-options, threaded-comments, full-width-template, sticky-post, translation-ready, flexible-width, rtl-language-support

Text Domain: responsive

License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html

CornellX Theme, Copyright (C) 2003-2013 Cornell

--------------------------------------------------------------

CSS Rules: Sorted alphabetically for better organization.
*/

/* =Reset CSS (v2.0) http://meyerweb.com/eric/tools/css/reset/
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/*HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input, select, textarea {
  font-size: 100%;
  overflow: visible;
  margin: 0;
  vertical-align: baseline;
  width: auto;
}

textarea {
  overflow: auto;
  vertical-align: text-top;
}

/* =Horizontal Rule
-------------------------------------------------------------- */
hr {
  background: #dddddd;
  border: none;
  clear: both;
  color: #dddddd;
  float: none;
  height: 1px;
  width: 100%;
}

hr.space {
  background: #ffffff;
  color: #ffffff;
}

/* =Base
-------------------------------------------------------------- */
html {
  height: 100%;
}

body {
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  background: #efefef;
  color: #555555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-smoothing: antialiased;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
}

/* =Typography
-------------------------------------------------------------- */
p {
  word-wrap: break-word;
}

i,
em,
dfn,
cite {
  font-style: italic;
}

tt,
var,
pre,
kbd,
samp,
code {
  font-family: monospace, serif;
  font-style: normal;
}

b,
strong {
  font-weight: 700;
}

pre {
  -moz-box-sizing: border-box;
  -moz-border-radius: 2px;
  -moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background: #f4f4f4;
  border: 1px solid #aaaaaa;
  border-bottom-color: #cccccc;
  border-radius: 2px;
  height: auto;
  margin: 0;
  outline: none;
  padding: 6px 10px;
  vertical-align: middle;
  width: 100%;
  word-wrap: break-word;
  white-space: pre-wrap;
}

del {
  color: #555555;
  text-decoration: line-through;
}

ins,
dfn {
  border-bottom: 1px solid #cccccc;
}

sup,
sub,
small {
  font-size: 85%;
}

abbr,
acronym {
  font-size: 85%;
  letter-spacing: .1em;
  text-transform: uppercase;
}

a abbr,
a acronym {
  border: none;
}

dfn[title],
abbr[title],
acronym[title] {
  border-bottom: 1px solid #cccccc;
  cursor: help;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

/* =Responsive 12 Column Grid
    http://themeid.com/responsive-grid/
-------------------------------------------------------------- */
.grid {
  float: left;
  margin-bottom: 2.127659574468%;
  padding-top: 0;
}

.grid-right {
  float: right;
  margin-bottom: 2.127659574468%;
  padding-top: 0;
}

.col-60,
.col-140,
.col-220,
.col-300,
.col-380,
.col-460,
.col-540,
.col-620,
.col-700,
.col-780,
.col-860 {
  display: inline;
  margin-right: 2.127659574468%;
}

.col-60 {
  width: 6.382978723404%;
}

.col-140 {
  width: 14.893617021277%;
}

.col-220 {
  width: 23.404255319149%;
}

.col-300 {
  width: 31.914893617021%;
}

.col-380 {
  width: 40.425531914894%;
}

.col-460 {
  width: 48.936170212766%;
}

.col-540 {
  width: 57.446808510638%;
}

.col-620 {
  width: 65.957446808511%;
}

.col-700 {
  width: 74.468085106383%;
}

.col-780 {
  width: 82.978723404255%;
}

.col-860 {
  width: 91.489361702128%;
}

.col-940 {
  width: 100%;
}

.fit {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* =Visibility
-------------------------------------------------------------- */
.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.none {
  display: none;
}

.hide-desktop {
  display: none;
}

.show-desktop {
  display: block;
}

/* =Responsive Images
-------------------------------------------------------------- */
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.ie8 img {
  height: auto;
  width: auto\9;
}

.ie8 img.size-large {
  max-width: 60%;
  width: auto;
}

/* =Responsive Videos
-------------------------------------------------------------- */
video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* =Responsive Embeds/Objects
-------------------------------------------------------------- */
embed,
object {
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

/* =Links
-------------------------------------------------------------- */
a {
  color: #0066cc;
  font-weight: 400;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #444444;
  outline: 0;
  text-decoration: none;
}

::selection {
  background: #999999;
  color: #ffffff;
  text-shadow: none;
}

#footer a, #content a { color: #b31b1b !important; }

/* =Forms
-------------------------------------------------------------- */
label {
  display: inline-block;
  font-weight: 700;
  padding: 2px 0;
}

legend {
  padding: 2px 5px;
}

fieldset {
  border: 1px solid #cccccc;
  margin: 0 0 1.5em;
  padding: 1em 2em;
}

select,
input[type="text"],
input[type="password"],
input[type="email"] {
  -moz-box-sizing: border-box;
  -moz-border-radius: 2px;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  box-sizing: border-box;
  border: 1px solid #aaaaaa;
  border-bottom-color: #cccccc;
  border-radius: 2px;
  margin: 0;
  outline: none;
  padding: 6px 8px;
  vertical-align: middle;
  width: 100%;
}

select {
  height: auto;
  width: 100%;
}

area,
textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  border: 1px solid #aaaaaa;
  border-bottom-color: #cccccc;
  border-radius: 2px;
  height: auto;
  overflow: auto;
  margin: 0;
  outline: none;
  padding: 8px 10px;
  width: 100%;
}

input,
select {
  cursor: pointer;
}

area:focus,
input:focus,
textarea:focus {
  border: 1px solid #66ccff;
}

input[type='text'],
input[type='password'] {
  cursor: text;
}

/* =IE Forms
-------------------------------------------------------------- */
.ie7 area,
.ie7 select,
.ie7 textarea,
.ie7 input[type="text"],
.ie7 input[type="password"],
.ie7 input[type="email"] {
  width: 96%;
}

/* =IE6 Notice
-------------------------------------------------------------- */
.msie-box {
  background-color: #f9edbe;
  border: 1px solid #f0c36d;
  color: #212121;
  display: block;
  margin: 0 auto;
  max-width: 960px;
  padding: 10px;
  position: absolute;
  top: 60px;
  text-align: center;
  width: 100%;
}

.msie-box a {
  color: #212121;
}

/* =Tables
-------------------------------------------------------------- */
th,
td,
table {
  border: 1px solid #dddddd;
}

table {
  border-collapse: collapse;
  width: 100%;
}

/* =Lists
-------------------------------------------------------------- */
ul {
  list-style-type: disc;
  margin: 0;
  padding: 0;
}

ol {
  line-height: 22px;
  list-style-position: outside;
  list-style-type: decimal;
  margin: 0;
  padding: 0;
}

dt {
  font-weight: 400;
}

/* =Blockquote
-------------------------------------------------------------- */
blockquote {
  background: #f9f9f9;
  border: none;
  border-left: 4px solid #d6d6d6;
  margin: 20px;
  overflow: auto;
  padding: 0 0 10px 12px;
}

blockquote p {
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 18px;
  line-height: 26px;
}

/* =Headings
-------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: 700;
  line-height: 1.0em;
  word-wrap: break-word;
}

h1 {
  font-size: 2.625em; /* = 42px */
  margin-bottom: .5em;
  margin-top: .5em;
}

h2 {
  font-size: 2.250em; /* = 36px */
  margin-bottom: .75em;
  margin-top: .75em;
}

h3 {
  font-size: 1.875em; /* = 30px */
  margin-bottom: .857em;
  margin-top: .857em;
}

h4 {
  font-size: 1.500em; /* = 24px */
  margin-bottom: 1em;
  margin-top: 1em;
}

h5 {
  font-size: 1.125em; /* = 18px */
  margin-bottom: 1.125em;
  margin-top: 1.125em;
}

h6 {
  font-size: 1.000em; /* = 16px */
  margin-bottom: 1.285em;
  margin-top: 1.285em;
}

/* =Margins & Paddings
-------------------------------------------------------------- */
p,
hr,
dl,
pre,
form,
table,
address,
blockquote {
  margin: 1.6em 0;
}

th, td {
  padding: .8em;
}

caption {
  padding-bottom: .8em;
}

blockquote {
  padding: 0 1em;
}

blockquote:first-child {
  margin: .8em 0;
}

fieldset {
  margin: 1.6em 0;
  padding: 0 1em 1em;
}

legend {
  padding-left: .8em;
  padding-right: .8em;
}

legend+* {
  margin-top: 1em;
}

input,
textarea {
  padding: .3em .4em .15em;
}

select {
  padding: .1em .2em 0;
}

option {
  padding: 0 .4em;
}

dt {
  margin-bottom: .4em;
  margin-top: .8em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul,
ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 2.0em;
}

li ul,
li ol {
  margin: 0;
}

form div {
  margin-bottom: .8em;
}

/* =Globals
-------------------------------------------------------------- */
#container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0px 25px;
}

#wrapper {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  clear: both;
  margin: 20px auto 20px auto;
  padding: 0 20px 20px 20px;
  position: relative;
}

.front-page #wrapper {
  background-color: transparent;
  border: none;
  margin: 20px auto 20px auto;
  padding: 0;
}

#header {
  margin: 0;
}

#footer {
  clear: both;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 25px 0 25px;
}

#footer-wrapper {
  margin: 0;
  padding: 0;
}

/* =Header
-------------------------------------------------------------- */
#logo {
  float: left;
  margin: 0;
}

.site-name {
  display: block;
  font-size: 2.063em; /* = 33px */
  line-height: 1.0em;
  padding-top: 20px;
}

.site-name a {
  color: #333333;
  font-weight: 700;
}

.site-description {
  color: #afafaf;
  display: block;
  font-size: 0.875em; /* = 14px */
  margin: 10px 0;
}

/* =Content
-------------------------------------------------------------- */
#content {
  margin-top: 40px;
  margin-bottom: 20px;
}

#content-full {
  margin-top: 40px;
  margin-bottom: 20px;
}

#content-blog {
  margin-top: 40px;
  margin-bottom: 20px;
}

#content-images {
  margin-bottom: 20px;
}

#content-search {
  margin-bottom: 20px;
  margin-top: 20px;
}

#content-archive {
  margin-top: 40px;
  margin-bottom: 20px;
}

#content-sitemap {
  margin-top: 40px;
  margin-bottom: 20px;
}

#content-sitemap a {
  font-size: 12px;
}

#content .sticky {
  clear: both;
}

#content .sticky p {
}

/* =Templates (Landing Page)
-------------------------------------------------------------- */
.page-template-landing-page-php .menu,
.page-template-landing-page-php .top-menu,
.page-template-landing-page-php .main-nav,
.page-template-landing-page-php .footer-menu,
.page-template-landing-page-php .sub-header-menu {
  display: none;
}

/* =Author Meta (Author's Box)
-------------------------------------------------------------- */
#author-meta {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background: #f9f9f9;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  clear: both;
  display: block;
  margin: 30px 0 40px 0;
  padding: 10px;
  overflow: hidden;
}

#author-meta img {
  float: left;
  padding: 10px 15px 0 5px;
}

#author-meta p {
  margin: 0;
  padding: 5px;
}

#author-meta .about-author {
  font-weight: 700;
  margin: 10px 0 0 0;
}

/* =Featured Content
-------------------------------------------------------------- */
#featured {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
/*  background-color: #ffffff;*/
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 10px 0 10px 0;
  margin: -40px 0 20px 0;
  width: 99.893617021277%;
  	background: #d8d0c3; /* Old browsers */
	background: -moz-linear-gradient(top,  #d8d0c3 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d0c3), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d8d0c3 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d8d0c3 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d8d0c3 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d8d0c3 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d0c3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#featured a {color: #b31b1b;}

#featured p {
  font-size: 14px;
  line-height: 1.4em;
  padding: 0 20px 0 20px;
}

#featured h1 {
  font-size: 26px;
  font-weight: normal;
  padding: 20px 20px 0 20px;
  text-align: left;
}
#featured h2 {
  font-size: 14px;
  padding: 0 20px 0 20px;
  text-align: left;
  font-weight: normal;
  font-style: italic;
  color: #000;
}

#featured h3 {
  font-size: 16px;
  padding: 0 20px 0 20px;
  margin-top: -20px;
}

#featured-image {
  margin: 40px 0 0 0;
}

#featured-image .fluid-width-video-wrapper {
  margin-left: -20px;
}

.featured-image img {
  margin-top: 44px;
}

/* =Post
-------------------------------------------------------------- */
.comments-link {
  font-size: 12px;
}

#cancel-comment-reply-link {
  color: #990000;
}

.post-data {
  clear: both;
  font-size: 12px;
  font-weight: 700;
  margin-top: 20px;
}

.post-data a {
  color: #111111;
}

.post-entry {
  clear: both;
}

.post-meta {
  clear: both;
  color: #9f9f9f;
  font-size: 12px;
  margin-bottom: 10px;
}

.post-edit {
  clear: both;
  display: block;
  font-size: 12px;
  margin: 1.5em 0;
}

.post-search-terms {
  clear: both;
}

.read-more {
  clear: both;
  font-weight: 700;
}

.attachment-entry {
  clear: both;
  text-align: center;
}

/* =bbPress
    bbPress has its own breadcrumb lists
-------------------------------------------------------------- */
.bbPress .breadcrumb-list {
  display: none;
}

/* =Symbols
-------------------------------------------------------------- */
.ellipsis {
  color: #aaaaaa;
  font-size: 18px;
  margin-left: 5px;
}

.form-allowed-tags {
  display: none;
  font-size: 10px;
}

/* =Widgets
-------------------------------------------------------------- */
.widget-wrapper {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  margin: 0 0 20px;
  padding: 20px;
}

.widget-wrapper select,
.widget-wrapper input[type="text"],
.widget-wrapper input[type="password"],
.widget-wrapper  input[type="email"] {
  width: 75%;
}

#widgets {
  margin-top: 40px;
}

#widgets a {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#widgets form {
  margin: 0;
}

#widgets ul,
#widgets ol {
  padding: 0 0 0 20px;
}

#widgets ul li a {
  display: inline;
  text-decoration: none;
}

#widgets .widget-title img {
  float: right;
  height: 11px;
  position: relative;
  top: 4px;
  width: 11px;
}

#widgets .rss-date {
  line-height: 18px;
  padding: 6px 12px;
}

#widgets .rssSummary {
  padding: 10px;
}

#widgets cite {
  font-style: normal;
  line-height: 18px;
  padding: 6px 12px;
}

#widgets .tagcloud,
#widgets .textwidget {
  display: block;
  line-height: 1.5em;
  margin: 0;
  word-wrap: break-word;
}

#widgets .textwidget a {
  display: inline;
}

#widgets ul .children {
  padding: 0 0 0 10px;
}

#widgets .author {
  font-weight: 700;
  padding-top: 4px;
}

.widget_archive select, #cat {
  display: block;
  margin: 0 15px 0 0;
}

#colophon-widget ul {
}

.colophon-widget {
  background: none;
  min-height: 0;
}

.colophon-widget select,
.colophon-widget input[type="text"],
.colophon-widget input[type="password"],
.colophon-widget input[type="email"] {
  width: 100%;
}

#top-widget {
}

.top-widget {
  background: none;
  border: none;
  clear: right;
  float: right;
  min-height: 0;
  padding: 0 3px 0 0;
  text-align: right;
  width: 45%;
}

.top-widget ul {
  padding: 0;
}

.top-widget select,
.top-widget input[type="text"],
.top-widget input[type="password"],
.top-widget input[type="email"] {
  width: auto;
}

.top-widget #searchform {
  margin: 0;
}

/* =Titles
-------------------------------------------------------------- */
.featured-title {
  font-size: 60px;
  letter-spacing: -1px;
  margin: 0;
  padding-top: 40px;
  text-align: center;
}

.featured-subtitle {
  padding: 0 10px;
  text-align: center;
}

.widget-title,
.widget-title-home h3 {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  margin: 0;
  padding: 0 0 20px 0;
  text-align: left;
}

.top-widget .widget-title {
  font-size: 14px;
  padding: 0;
  text-align: right;
}

.widget-title a {
  border-bottom: none;
  padding: 0 !important;
}

.title-404 {
  color: #993333;
}

/* =404 Page 
-------------------------------------------------------------- */
.error404 select,
.error404 input[type="text"],
.error404 input[type="password"],
.error404 input[type="email"] {
  width: auto;
}

/* =Top Menu
-------------------------------------------------------------- */
.top-menu {
  float: right;
  margin: 10px 0;
  padding: 0;
}

.top-menu li {
  display: inline;
  list-style-type: none;
}

.top-menu li a {
  border-left: 1px solid #cccccc;
  color: #333333;
  font-size: 11px;
  padding: 0 4px 0 8px;
}

.top-menu > li:first-child > a {
  border-left: none;
}

.top-menu li a:hover {
  color: #333333;
}

/* =Header Menu (Primary)
-------------------------------------------------------------- */
.menu {
  background-color: #585858;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#3d3d3d));
  background-image: -webkit-linear-gradient(top, #585858, #3d3d3d);
  background-image: -moz-linear-gradient(top, #585858, #3d3d3d);
  background-image: -ms-linear-gradient(top, #585858, #3d3d3d);
  background-image: -o-linear-gradient(top, #585858, #3d3d3d);
  background-image: linear-gradient(top, #585858, #3d3d3d);
  clear: both;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#585858, endColorstr=#3d3d3d);
  margin: 0 auto;
}

.main-nav {
  clear: both;
}

.menu,
.menu ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border: 0;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 5;
}

.menu li:hover {
  white-space: normal;
  z-index: 10000;
}

.menu li li {
  float: none;
}

.menu ul {
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 10;
}

.menu li:hover > ul {
  top: 100%;
  visibility: visible;
}

.menu li li:hover > ul {
  left: 100%;
  top: 0;
}

.menu:after,
.menu ul:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.menu,
.menu ul {
  min-height: 0;
}

.menu ul,
.menu ul ul {
  margin: 0;
  padding: 0;
}

.menu ul li a:hover,
.menu li li a:hover {
  color: #484848;
  text-decoration: none;
}

.menu ul {
  margin-top: 1px;
  min-width: 15em;
  width: auto;
}

.menu a {
  border-left: 1px solid #585858;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 13px;
  font-weight: 700;
  height: 45px;
  line-height: 45px;
  margin: 0;
  padding: 0 0.9em;
  position: relative;
  text-decoration: none;
  text-shadow: 0 -1px 0 #000000;
  white-space: nowrap;
}

.menu a:hover {
  background-color: #808080;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#363636));
  background-image: -webkit-linear-gradient(top, #808080, #363636);
  background-image: -moz-linear-gradient(top, #808080, #363636);
  background-image: -ms-linear-gradient(top, #808080, #363636);
  background-image: -o-linear-gradient(top, #808080, #363636);
  background-image: linear-gradient(top, #808080, #363636);
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#808080, endColorstr=#363636);
}

ul.menu > li:hover {
  background-color: #363636;
  color: #ffffff;
}

.menu .current_page_item a,
.menu .current-menu-item a {
  background-color: #343434;
}

.front-page .menu .current_page_item a {
  background: none;
  background-color: transparent;
  background-image: none;
  filter: none;
}

.menu li li {
  background: #ffffff;
  background-image: none;
  border: 1px solid #e5e5e5;
  color: #444444;
  filter: none;
  margin: -1px 0 1px 0;
  width: auto;
}

.menu li li a {
  background: transparent !important;
  border: none;
  color: #444444;
  font-size: 12px;
  font-weight: 400;
  height: auto;
  height: 20px;
  line-height: 20px;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.menu li li a:hover {
  background: #f5f5f5 !important;
  background-image: none;
  border: none;
  color: #444444;
  filter: none;
}

.menu li li:hover {
  background: #f5f5f5 !important;
  filter: none;
}

.menu ul > li + li {
  border-top: 0;
}

.menu li li:hover > ul {
  left: 100%;
  top: 0;
}

.menu > li:first-child > a {
  border-left: none;
}

.menu a#responsive_menu_button {
  display: none;
}

.main-nav #responsive_current_menu_item {
  display: none;
}

.js .main-nav .menu {
  display: block;
}

/* =Primary Main Menu IE Fixes
-------------------------------------------------------------- */
.ie7 .menu ul {
  background: url(core/images/ie7-fix.gif) repeat;
}

.ie7 .menu li li a {
  min-width: 100%;
}

/* =Sub-Header Menu
-------------------------------------------------------------- */
.sub-header-menu {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-top: none;
  clear: both;
  margin: 0 auto;
}

.sub-header-menu,
.sub-header-menu ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sub-header-menu li {
  border: 0;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 5;
}

.sub-header-menu li:hover {
  white-space: normal;
  z-index: 10000;
}

.sub-header-menu li li {
  float: none;
}

.sub-header-menu ul {
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 10;
}

.sub-header-menu li:hover > ul {
  top: 100%;
  visibility: visible;
}

.sub-header-menu li li:hover > ul {
  left: 100%;
  top: 0;
}

.sub-header-menu:after,
.sub-header-menu ul:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.sub-header-menu,
.sub-header-menu ul {
  min-height: 0;
}

.sub-header-menu ul,
.sub-header-menu ul ul {
  margin: 0;
  padding: 0;
}

.sub-header-menu ul li a:hover,
.sub-header-menu li li a:hover {
  color: #484848;
  text-decoration: none;
}

.sub-header-menu ul {
  margin-top: 1px;
  min-width: 15em;
  width: auto;
}

.sub-header-menu a {
  border-left: 1px solid #e5e5e5;
  color: #333333;
  cursor: pointer;
  display: block;
  font-size: 12px;
  font-weight: 400;
  height: 35px;
  line-height: 35px;
  margin: 0;
  padding: 0 0.9em;
  position: relative;
  text-decoration: none;
  text-shadow: none;
}

.sub-header-menu a:hover {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-color: #f9f9f9;
  background-clip: padding-box;
}

.sub-header-menu .current_page_item a,
.sub-header-menu .current-menu-item a {
  background-color: #f9f9f9;
}

.sub-header-menu li li {
  background: #ffffff;
  background-image: none;
  border: 1px solid #e5e5e5;
  color: #444444;
  filter: none;
  margin: -1px 0 1px 0;
  width: auto;
}

.sub-header-menu li li a {
  border: none;
  color: #444444;
  font-size: 12px;
  font-weight: 400;
  height: auto;
  height: 20px;
  line-height: 20px;
  padding: 5px 10px;
  text-shadow: none;
}

.sub-header-menu li li a:hover {
  background: #f9f9f9;
  background-image: none;
  border: none;
  color: #444444;
  filter: none;
}

.sub-header-menu ul > li + li {
  border-top: 0;
}

.sub-header-menu li li:hover > ul {
  left: 100%;
  top: 0;
}

.sub-header-menu > li:first-child > a {
  border-left: none;
}

.sub-header-menu ul.children a,
.sub-header-menu .current_page_ancestor,
.sub-header-menu .current_page_ancestor ul a {
  background: none;
  background-image: none;
  filter: none;
}

/* =Sub Header Menu IE Fixes
-------------------------------------------------------------- */
.ie7 .sub-header-menu ul {
  background: url(core/images/ie7-fix.gif) repeat;
}

.ie7 .sub-header-menu li li a {
  min-width: 100%;
}

/* =Footer Menu
-------------------------------------------------------------- */
.footer-menu {
  margin-left: 0;
  padding: 0;
}

.footer-menu li {
  display: inline;
  list-style-type: none;
}

.footer-menu li a {
  border-left: 1px solid #cccccc;
  color: #333333;
  padding: 0 8px;
}

.footer-menu li a:hover {
  color: #222222;
}

.footer-menu > li:first-child > a {
  border-left: none;
  padding: 0 8px 0 0;
}

/* =Navigation
-------------------------------------------------------------- */
.navigation {
  color: #111111;
  display: block;
  font-size: 13px;
  height: 28px;
  line-height: 28px;
  margin: 20px 0;
  padding: 0 5px;
}

.navigation a {
  color: #aaaaaa;
  padding: 4px 10px;
}

.navigation a:hover {
  color: #111111;
  text-decoration: none;
}

.navigation .previous {
  float: left;
}

.navigation .next {
  float: right;
}

.navigation .bracket {
  font-size: 36px;
}

/* =Pagination (pages)
-------------------------------------------------------------- */
.pagination {
  clear: both;
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0;
  padding: 5px 0;
}

.pagination a {
  text-decoration: none;
}

/* =Breadcrumb Lists
-------------------------------------------------------------- */
.breadcrumb-list {
  font-size: 12px;
}

/* =Comments
-------------------------------------------------------------- */
#commentform {
  margin: 0;
}

.commentlist {
  border-bottom: 1px solid #e5e5e5;
  list-style: none;
  margin: 0;
  padding: 0;
}

.commentlist ol {
  list-style: decimal;
}

.commentlist li {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #ffffff;
  border-radius: 4px;
  margin: 0;
}

.commentlist .bypostauthor {
}

.commentlist li cite {
  color: #111111;
  font-size: 1.1em;
  font-style: normal;
  font-weight: 400;
}

.commentlist li.alt {
  background: #f9f9f9;
}

.commentlist .children {
  list-style: none;
  margin-left: 10px;
  padding: 10px;
}

.commentlist .avatar {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  float: left;
  margin-right: 10px;
  padding: 0;
  vertical-align: middle;
}

.comment-author .fn {
}

.comment-author .says {
  color: #999999;
}

.comment-body .comment-meta {
  color: #999999;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: left;
}

.comment-body .comment-meta a {
  font-size: 11px;
}

.comment-body {
  clear: both;
  padding: 10px;
}

.comment-body p {
  clear: both;
}

.comment-body .reply {
}

.pingback, .trackback {
  list-style: none;
  margin: 20px 0;
}

.pingback cite,
.trackback cite {
  font-style: normal;
}

#pings,
#comments {
  text-align: left;
}

#respond {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #eaeaea;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
  background-image: -webkit-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -ms-linear-gradient(top, #ffffff, #eaeaea);
  background-image: -o-linear-gradient(top, #ffffff, #eaeaea);
  background-image: linear-gradient(top, #ffffff, #eaeaea);
  border: 1px solid #cccccc;
  border-bottom-color: #aaaaaa;
  border-radius: 4px;
  clear: both;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#eaeaea);
  margin-top: 15px;
  padding: 10px 20px 50px;
}

#respond label {
  display: inline;
}

.reply {
  margin: 10px 0;
}

.comment-form-url input,
.comment-form-email input,
.comment-form-author input,
.comment-form-comment textarea {
  display: block;
}

.nocomments {
  color: #999999;
  font-size: .9em;
  text-align: center;
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 20px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  background: #f9f9f9;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  padding: 13px 10px 10px 10px;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 12px;
  line-height: 1.5em;
  margin: 0;
  padding: 10px;
}

img.wp-smiley {
  vertical-align: middle;
}

/* =WordPress Gallery
-------------------------------------------------------------- */
.gallery {
  margin: 0 auto 18px;
}

.gallery .gallery-item {
  float: left;
  margin-top: 0;
  text-align: center;
  max-width: 155px;
}

.gallery img {
  border: 1px solid #dddddd;
}

.gallery .gallery-caption {
  font-size: 12px;
  margin: 0 0 12px;
}

.gallery dl {
  margin: 0;
}

.gallery br+br {
  display: none;
}

.attachment-gallery img {
  background: #ffffff;
  border: 1px solid #f0f0f0;
  display: block;
  height: auto;
  margin: 15px auto;
  max-width: 96%;
  padding: 5px;
  width: auto;
}

.gallery-meta .iso,
.gallery-meta .camera,
.gallery-meta .shutter,
.gallery-meta .aperture,
.gallery-meta .full-size,
.gallery-meta .focal-length {
  display: block;
}

/* =Post Thumbnails 
-------------------------------------------------------------- */
img.wp-post-image,
img.attachment-full,
img.attachment-large,
img.attachment-medium,
img.attachment-thumbnail {
  display: block;
  margin: 15px auto;
  width: auto;
}

/* =Buttons
-------------------------------------------------------------- */
a.button,
input[type='reset'],
input[type='button'],
input[type='submit'] {
  -moz-border-radius: 2px;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-border-radius: 2px;
  background-color: #f9f9f9; /* Alabaster */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f9f9f9, #f1f1f1);
  background-image: -o-linear-gradient(top, #f9f9f9, #f1f1f1);
  background-image: linear-gradient(top, #f9f9f9, #f1f1f1);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  border: 1px solid #dddddd;
  border-radius: 2px;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#f1f1f1);
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  padding: 4px 10px;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
  vertical-align: middle;
  white-space: nowrap;
}

a.button:hover,
input[type='reset']:hover,
input[type='button']:hover,
input[type='submit']:hover {
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #ffffff, #f1f1f1);
  background-image: -moz-linear-gradient(top, #ffffff, #f1f1f1);
  background-image: -ms-linear-gradient(top, #ffffff, #f1f1f1);
  background-image: -o-linear-gradient(top, #ffffff, #f1f1f1);
  background-image: linear-gradient(top, #ffffff, #f1f1f1);
  border: 1px solid #dddddd;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  color: #333333;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#f1f1f1);
}

a.button:active,
input[type='reset']:active,
input[type='button']:active,
input[type='submit']:active {
  -moz-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f1f1f1));
  background-image: -webkit-linear-gradient(top, #f9f9f9, #f1f1f1);
  background-image: -moz-linear-gradient(top, #f9f9f9, #f1f1f1);
  background-image: -ms-linear-gradient(top, #f9f9f9, #f1f1f1);
  background-image: -o-linear-gradient(top, #f9f9f9, #f1f1f1);
  background-image: linear-gradient(top, #f9f9f9, #f1f1f1);
  box-shadow: 0 1px 0 #ffffff, inset 0 1px 1px rgba(0, 0, 0, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#f1f1f1);
}

/* =Buttons (Call to Action)
-------------------------------------------------------------- */
.call-to-action {
  text-align: center;
}

.call-to-action a.button {
  font-size: 24px;
  padding: 15px 35px;
}

.call-to-action a.button:hover {
  text-decoration: none;
}

.ie7 .call-to-action a.button {
  padding: 11px 35px 19px 35px;
}

/* =Buttons (Sizes)
-------------------------------------------------------------- */
.small a.button {
  font-size: 10px;
  padding: 3px 6px;
}

.medium a.button {
  font-size: 16px;
  padding: 8px 16px;
}

.large a.button {
  font-size: 18px;
  padding: 10px 35px;
}

.xlarge a.button {
  font-size: 24px;
  padding: 12px 55px;
}

/* =Buttons (Colors)
-------------------------------------------------------------- */
a.blue {
  background-color: #1874cd; /* Dodger Blue */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4f9eea), to(#1874cd));
  background-image: -webkit-linear-gradient(top, #4f9eea, #1874cd);
  background-image: -moz-linear-gradient(top, #4f9eea, #1874cd);
  background-image: -ms-linear-gradient(top, #4f9eea, #1874cd);
  background-image: -o-linear-gradient(top, #4f9eea, #1874cd);
  background-image: linear-gradient(top, #4f9eea, #1874cd);
  border: 1px solid #115290;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4f9eea, endColorstr=#1874cd);
  text-shadow: 0 -1px 0 #115290;
}

a.blue:hover {
  background-color: #7db7f0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7db7f0), to(#1874cd));
  background-image: -webkit-linear-gradient(top, #7db7f0, #1874cd);
  background-image: -moz-linear-gradient(top, #7db7f0, #1874cd);
  background-image: -ms-linear-gradient(top, #7db7f0, #1874cd);
  background-image: -o-linear-gradient(top, #7db7f0, #1874cd);
  background-image: linear-gradient(top, #7db7f0, #1874cd);
  border: 1px solid #115290;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7db7f0, endColorstr=#1874cd);
  text-shadow: 0 -1px 0 #115290;
}

a.red {
  background-color: #cd0000; /* Red 4 */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff2323), to(#cd0000));
  background-image: -webkit-linear-gradient(top, #ff2323, #cd0000);
  background-image: -moz-linear-gradient(top, #ff2323, #cd0000);
  background-image: -ms-linear-gradient(top, #ff2323, #cd0000);
  background-image: -o-linear-gradient(top, #ff2323, #cd0000);
  background-image: linear-gradient(top, #ff2323, #cd0000);
  border: 1px solid #890000;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff2323, endColorstr=#cd0000);
  text-shadow: 0 -1px 0 #890000;
}

a.red:hover {
  background-color: #ff5656;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5656), to(#cd0000));
  background-image: -webkit-linear-gradient(top, #ff5656, #cd0000);
  background-image: -moz-linear-gradient(top, #ff5656, #cd0000);
  background-image: -ms-linear-gradient(top, #ff5656, #cd0000);
  background-image: -o-linear-gradient(top, #ff5656, #cd0000);
  background-image: linear-gradient(top, #ff5656, #cd0000);
  border: 1px solid #890000;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff5656, endColorstr=#cd0000);
  text-shadow: 0 -1px 0 #890000;
}

a.orange {
  background-color: #ff7f00; /* Dark Orange 1 */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffaa55), to(#ff7f00));
  background-image: -webkit-linear-gradient(top, #ffaa55, #ff7f00);
  background-image: -moz-linear-gradient(top, #ffaa55, #ff7f00);
  background-image: -ms-linear-gradient(top, #ffaa55, #ff7f00);
  background-image: -o-linear-gradient(top, #ffaa55, #ff7f00);
  background-image: linear-gradient(top, #ffaa55, #ff7f00);
  border: 1px solid #bb5d00;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffaa55, endColorstr=#ff7f00);
  text-shadow: 0 -1px 0 #bb5d00;
}

a.orange:hover {
  background-color: #ffc388;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc388), to(#ff7f00));
  background-image: -webkit-linear-gradient(top, #ffc388, #ff7f00);
  background-image: -moz-linear-gradient(top, #ffc388, #ff7f00);
  background-image: -ms-linear-gradient(top, #ffc388, #ff7f00);
  background-image: -o-linear-gradient(top, #ffc388, #ff7f00);
  background-image: linear-gradient(top, #ffc388, #ff7f00);
  border: 1px solid #bb5d00;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffc388, endColorstr=#ff7f00);
  text-shadow: 0 -1px 0 #bb5d00;
}

a.yellow {
  background-color: #ecca06; /* Yellow Gold */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff2aa), to(#ffd700));
  background-image: -webkit-linear-gradient(top, #fff2aa, #ffd700);
  background-image: -moz-linear-gradient(top, #fff2aa, #ffd700);
  background-image: -ms-linear-gradient(top, #fff2aa, #ffd700);
  background-image: -o-linear-gradient(top, #fff2aa, #ffd700);
  background-image: linear-gradient(top, #fff2aa, #ffd700);
  border: 1px solid #bb9e00;
  color: #161300;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff2aa, endColorstr=#ffd700);
  text-shadow: 0 1px 0 #ffffff;
}

a.yellow:hover {
  background-color: #fffadd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fffadd), to(#ffd700));
  background-image: -webkit-linear-gradient(top, #fffadd, #ffd700);
  background-image: -moz-linear-gradient(top, #fffadd, #ffd700);
  background-image: -ms-linear-gradient(top, #fffadd, #ffd700);
  background-image: -o-linear-gradient(top, #fffadd, #ffd700);
  background-image: linear-gradient(top, #fffadd, #ffd700);
  border: 1px solid #bb9e00;
  color: #161300;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fffadd, endColorstr=#ffd700);
  text-shadow: 0 1px 0 #ffffff;
}

a.green {
  background-color: #2e8b57; /* Sea Green 4 */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4bc380), to(#2e8b57));
  background-image: -webkit-linear-gradient(top, #4bc380, #2e8b57);
  background-image: -moz-linear-gradient(top, #4bc380, #2e8b57);
  background-image: -ms-linear-gradient(top, #4bc380, #2e8b57);
  background-image: -o-linear-gradient(top, #4bc380, #2e8b57);
  background-image: linear-gradient(top, #4bc380, #2e8b57);
  border: 1px solid #1d5837;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4bc380, endColorstr=#2e8b57);
  text-shadow: 0 -1px 0 #1d5837;
}

a.green:hover {
  background-color: #71d09b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#71d09b), to(#2e8b57));
  background-image: -webkit-linear-gradient(top, #71d09b, #2e8b57);
  background-image: -moz-linear-gradient(top, #71d09b, #2e8b57);
  background-image: -ms-linear-gradient(top, #71d09b, #2e8b57);
  background-image: -o-linear-gradient(top, #71d09b, #2e8b57);
  background-image: linear-gradient(top, #71d09b, #2e8b57);
  border: 1px solid #1d5837;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#71d09b, endColorstr=#2e8b57);
  text-shadow: 0 -1px 0 #1d5837;
}

a.olive {
  background-color: #838b83; /* Honey Dew 4 */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e0e000), to(#838b83));
  background-image: -webkit-linear-gradient(top, #afb4af, #838b83);
  background-image: -moz-linear-gradient(top, #afb4af, #838b83);
  background-image: -ms-linear-gradient(top, #afb4af, #838b83);
  background-image: -o-linear-gradient(top, #afb4af, #838b83);
  background-image: linear-gradient(top, #afb4af, #838b83);
  border: 1px solid #626862;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#afb4af, endColorstr=#838b83);
  text-shadow: 0 -1px 0 #626862;
}

a.olive:hover {
  background-color: #c9cdc9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c9cdc9), to(#838b83));
  background-image: -webkit-linear-gradient(top, #c9cdc9, #838b83);
  background-image: -moz-linear-gradient(top, #c9cdc9, #838b83);
  background-image: -ms-linear-gradient(top, #c9cdc9, #838b83);
  background-image: -o-linear-gradient(top, #c9cdc9, #838b83);
  background-image: linear-gradient(top, #c9cdc9, #838b83);
  border: 1px solid #626862;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c9cdc9, endColorstr=#838b83);
  text-shadow: 0 -1px 0 #626862;
}

a.purple {
  background-color: #5d478b; /* Medium Purple 4 */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8771b6), to(#5d478b));
  background-image: -webkit-linear-gradient(top, #8771b6, #5d478b);
  background-image: -moz-linear-gradient(top, #8771b6, #5d478b);
  background-image: -ms-linear-gradient(top, #8771b6, #5d478b);
  background-image: -o-linear-gradient(top, #8771b6, #5d478b);
  background-image: linear-gradient(top, #8771b6, #5d478b);
  border: 1px solid #3f305e;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8771b6, endColorstr=#5d478b);
  text-shadow: 0 -1px 0 #3f305e;
}

a.purple:hover {
  background-color: #a492c8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a492c8), to(#5d478b));
  background-image: -webkit-linear-gradient(top, #a492c8, #5d478b);
  background-image: -moz-linear-gradient(top, #a492c8, #5d478b);
  background-image: -ms-linear-gradient(top, #a492c8, #5d478b);
  background-image: -o-linear-gradient(top, #a492c8, #5d478b);
  background-image: linear-gradient(top, #a492c8, #5d478b);
  border: 1px solid #3f305e;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#a492c8, endColorstr=#5d478b);
  text-shadow: 0 -1px 0 #3f305e;
}

a.pink {
  background-color: #cd1076; /* Deep Pink 3 */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f042a0), to(#cd1076));
  background-image: -webkit-linear-gradient(top, #f042a0, #cd1076);
  background-image: -moz-linear-gradient(top, #f042a0, #cd1076);
  background-image: -ms-linear-gradient(top, #f042a0, #cd1076);
  background-image: -o-linear-gradient(top, #f042a0, #cd1076);
  background-image: linear-gradient(top, #f042a0, #cd1076);
  border: 1px solid #8e0b52;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f042a0, endColorstr=#cd1076);
  text-shadow: 0 -1px 0 #8e0b52;
}

a.pink:hover {
  background-color: #f471b8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f471b8), to(#cd1076));
  background-image: -webkit-linear-gradient(top, #f471b8, #cd1076);
  background-image: -moz-linear-gradient(top, #f471b8, #cd1076);
  background-image: -ms-linear-gradient(top, #f471b8, #cd1076);
  background-image: -o-linear-gradient(top, #f471b8, #cd1076);
  background-image: linear-gradient(top, #f471b8, #cd1076);
  border: 1px solid #8e0b52;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f471b8, endColorstr=#cd1076);
  text-shadow: 0 -1px 0 #8e0b52;
}

a.brick {
  background-color: #b22222; /* Fire Brick */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dd4c4c), to(#b22222));
  background-image: -webkit-linear-gradient(top, #dd4c4c, #b22222);
  background-image: -moz-linear-gradient(top, #dd4c4c, #b22222);
  background-image: -ms-linear-gradient(top, #dd4c4c, #b22222);
  background-image: -o-linear-gradient(top, #dd4c4c, #b22222);
  background-image: linear-gradient(top, #dd4c4c, #b22222);
  border: 1px solid #791717;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#dd4c4c, endColorstr=#b22222);
  text-shadow: 0 -1px 0 #791717;
}

a.brick:hover {
  background-color: #e57777;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e57777), to(#b22222));
  background-image: -webkit-linear-gradient(top, #e57777, #b22222);
  background-image: -moz-linear-gradient(top, #e57777, #b22222);
  background-image: -ms-linear-gradient(top, #e57777, #b22222);
  background-image: -o-linear-gradient(top, #e57777, #b22222);
  background-image: linear-gradient(top, #e57777, #b22222);
  border: 1px solid #791717;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e57777, endColorstr=#b22222);
  text-shadow: 0 -1px 0 #791717;
}

a.gold {
  background-color: #8b6508; /* Dark Golden Rod 4 */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#db9f0d), to(#8b6508));
  background-image: -webkit-linear-gradient(top, #db9f0d, #8b6508);
  background-image: -moz-linear-gradient(top, #db9f0d, #8b6508);
  background-image: -ms-linear-gradient(top, #db9f0d, #8b6508);
  background-image: -o-linear-gradient(top, #db9f0d, #8b6508);
  background-image: linear-gradient(top, #db9f0d, #8b6508);
  border: 1px solid #6b4e06;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#db9f0d, endColorstr=#8b6508);
  text-shadow: 0 -1px 0 #6b4e06;
}

a.gold:hover {
  background-color: #f3b828;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f3b828), to(#8b6508));
  background-image: -webkit-linear-gradient(top, #f3b828, #8b6508);
  background-image: -moz-linear-gradient(top, #f3b828, #8b6508);
  background-image: -ms-linear-gradient(top, #f3b828, #8b6508);
  background-image: -o-linear-gradient(top, #f3b828, #8b6508);
  background-image: linear-gradient(top, #f3b828, #8b6508);
  border: 1px solid #6b4e06;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f3b828, endColorstr=#8b6508);
  text-shadow: 0 -1px 0 #6b4e06;
}

a.brown {
  background-color: #8b4513; /* Saddle Brown */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d66a1d), to(#8b4513));
  background-image: -webkit-linear-gradient(top, #d66a1d, #8b4513);
  background-image: -moz-linear-gradient(top, #d66a1d, #8b4513);
  background-image: -ms-linear-gradient(top, #d66a1d, #8b4513);
  background-image: -o-linear-gradient(top, #d66a1d, #8b4513);
  background-image: linear-gradient(top, #d66a1d, #8b4513);
  border: 1px solid #4f270b;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#d66a1d, endColorstr=#8b4513);
  text-shadow: 0 -1px 0 #4f270b;
}

a.brown:hover {
  background-color: #8b4513;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e58541), to(#8b4513));
  background-image: -webkit-linear-gradient(top, #e58541, #8b4513);
  background-image: -moz-linear-gradient(top, #e58541, #8b4513);
  background-image: -ms-linear-gradient(top, #e58541, #8b4513);
  background-image: -o-linear-gradient(top, #e58541, #8b4513);
  background-image: linear-gradient(top, #e58541, #8b4513);
  border: 1px solid #4f270b;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e58541, endColorstr=#8b4513);
  text-shadow: 0 -1px 0 #4f270b;
}

a.silver {
  background-color: #c0c0c0; /* Silver */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#c0c0c0));
  background-image: -webkit-linear-gradient(top, #eaeaea, #c0c0c0);
  background-image: -moz-linear-gradient(top, #eaeaea, #c0c0c0);
  background-image: -ms-linear-gradient(top, #eaeaea, #c0c0c0);
  background-image: -o-linear-gradient(top, #eaeaea, #c0c0c0);
  background-image: linear-gradient(top, #eaeaea, #c0c0c0);
  border: 1px solid #9e9e9e;
  color: #444444;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eaeaea, endColorstr=#c0c0c0);
  text-shadow: 0 1px 0 #ffffff;
}

a.silver:hover {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c0c0c0));
  background-image: -webkit-linear-gradient(top, #ffffff, #c0c0c0);
  background-image: -moz-linear-gradient(top, #ffffff, #c0c0c0);
  background-image: -ms-linear-gradient(top, #ffffff, #c0c0c0);
  background-image: -o-linear-gradient(top, #ffffff, #c0c0c0);
  background-image: linear-gradient(top, #ffffff, #c0c0c0);
  border: 1px solid #9e9e9e;
  color: #444444;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#c0c0c0);
  text-shadow: 0 1px 0 #ffffff;
}

a.gray {
  background-color: #696969; /* Dim Gray */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#939393), to(#696969));
  background-image: -webkit-linear-gradient(top, #939393, #696969);
  background-image: -moz-linear-gradient(top, #939393, #696969);
  background-image: -ms-linear-gradient(top, #939393, #696969);
  background-image: -o-linear-gradient(top, #939393, #696969);
  background-image: linear-gradient(top, #939393, #696969);
  border: 1px solid #474747;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#939393, endColorstr=#696969);
  text-shadow: 0 -1px 0 #474747;
}

a.gray:hover {
  background-color: #adadad;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#adadad), to(#696969));
  background-image: -webkit-linear-gradient(top, #adadad, #696969);
  background-image: -moz-linear-gradient(top, #adadad, #696969);
  background-image: -ms-linear-gradient(top, #adadad, #696969);
  background-image: -o-linear-gradient(top, #adadad, #696969);
  background-image: linear-gradient(top, #adadad, #696969);
  border: 1px solid #474747;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#adadad, endColorstr=#696969);
  text-shadow: 0 -1px 0 #474747;
}

a.black {
  background-color: #080808; /* Black */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#323232), to(#080808));
  background-image: -webkit-linear-gradient(top, #323232, #080808);
  background-image: -moz-linear-gradient(top, #323232, #080808);
  background-image: -ms-linear-gradient(top, #323232, #080808);
  background-image: -o-linear-gradient(top, #323232, #080808);
  background-image: linear-gradient(top, #323232, #080808);
  border: 1px solid #000000;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#323232, endColorstr=#080808);
  text-shadow: 0 -1px 0 #000000;
}

a.black:hover {
  background-color: #4c4c4c;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4c4c4c), to(#080808));
  background-image: -webkit-linear-gradient(top, #4c4c4c, #080808);
  background-image: -moz-linear-gradient(top, #4c4c4c, #080808);
  background-image: -ms-linear-gradient(top, #4c4c4c, #080808);
  background-image: -o-linear-gradient(top, #4c4c4c, #080808);
  background-image: linear-gradient(top, #4c4c4c, #080808);
  border: 1px solid #000000;
  color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c4c4c, endColorstr=#080808);
  text-shadow: 0 -1px 0 #000000;
}

/* =Info Boxes
-------------------------------------------------------------- */
.info-box {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: block;
  margin: 20px 0;
  padding: 15px;
  text-align: left;
}

.alert {
  background-color: #faebeb;
  border: 1px solid #dc7070;
  color: #212121;
}

.address {
  background-color: #f6f5ef;
  border: 1px solid #cdc9a5;
  color: #212121;
}

.notice {
  background-color: #fbf9e9;
  border: 1px solid #e3cf57;
  color: #212121;
}

.success {
  background-color: #f9fde8;
  border: 1px solid #a2bc13;
  color: #212121;
}

.download {
  background-color: #fff4e5;
  border: 1px solid #ff9912;
  color: #212121;
}

.information {
  background-color: #eef3f6;
  border: 1px solid #6ca6cd;
  color: #212121;
}

.required {
  color: #d5243f;
}

/* =WooCommerce
-------------------------------------------------------------- */
#breadcrumb {
  padding: 40px 0 0 0;
}

#breadcrumb a {
  color: #0066cc;
  font-size: 12px;
  font-weight: 400;
}

#breadcrumb a:hover {
  color: #444444;
  text-decoration: none;
}

#content-woocommerce {
  margin-top: 40px;
  margin-bottom: 20px;
}

.products ul, ul.products {
  margin-top: 40px;
}

.cart-collaterals .shipping_calculator {
  width: 100%;
}

table.shop_table {
}

table.cart td.actions .coupon .input-text,
table.cart td.actions .coupon .input-text {
  cursor: text;
}

/* =WPML
-------------------------------------------------------------- */
.icl_languages_selector {
  float: right;
  text-align: left
}

.rtl .icl_languages_selector {
  float: left;
  text-align: right
}

@media screen and (max-width: 650px) {
  .icl_languages_selector,
  .rtl .icl_languages_selector {
    float: none;
  }
}

/* =Polylang
-------------------------------------------------------------- */
.widget_polylang li {
  display: inline;
  list-style-type: none;
}

/* =Footer
-------------------------------------------------------------- */
#footer {
  font-size: 11px;
  line-height: 1.5em;
}

#footer a {
  color: #333333;
  font-weight: 400;
}

#footer a:hover {
  color: #444444;
}

#footer-wrapper .grid.col-940 {
  margin: 0;
}

.scroll-top {
  text-align: center;
}

.copyright {
  text-align: left;
}

.powered {
  text-align: right;
}

/* =Social Icons
-------------------------------------------------------------- */
#footer .social-icons {
  list-style: none;
  line-height: normal;
  padding: 0;
  margin: 0;
  text-align: right;
}

#footer .yelp-icon,
#footer .vimeo-icon,
#footer .youtube-icon,
#footer .twitter-icon,
#footer .facebook-icon,
#footer .linkedin-icon,
#footer .rss-feed-icon,
#footer .instagram-icon,
#footer .pinterest-icon,
#footer .foursquare-icon,
#footer .google-plus-icon,
#footer .stumble-upon-icon {
  display: inline;
  margin: 1px;
  padding-left: 3px;
}

/* =Alignments Extras
-------------------------------------------------------------- */
.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

/* =Clearfix
-------------------------------------------------------------- */
.clearfix:after,
.clearfix:before,
#container:after,
#container:before,
.widget-wrapper:after,
.widget-wrapper:before {
  content: ' ';
  display: table;
}

.clearfix:after,
#container:after,
.widget-wrapper:after {
  clear: both;
}

.ie7 .clearfix,
.ie7 #container,
.ie7 .widget-wrapper {
  zoom: 1;
}

.clear {
  clear: both;
}

/* =Begin bidirectionality settings (do not change)
-------------------------------------------------------------- */
BDO[DIR="ltr"] {
  direction: ltr;
  unicode-bidi: bidi-override;
}

BDO[DIR="rtl"] {
  direction: rtl;
  unicode-bidi: bidi-override;
}

[DIR="ltr"] {
  direction: ltr;
  unicode-bidi: embed;
}

[DIR="rtl"] {
  direction: rtl;
  unicode-bidi: embed;
}

/* =Media Print
    If you're working on a Child Theme, make sure that all
	media queries are included in your style.css
-------------------------------------------------------------- */
@media print {

  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }

  ul, ol, dl {
    page-break-before: avoid;
  }
}

/*	Retina (HiDPI) Display
    http://www.quirksmode.org/blog/archives/2012/06/devicepixelrati.html
-------------------------------------------------------------- */
@media only screen and (-moz-min-device-pixel-ratio:1.5), only screen and (-o-min-device-pixel-ratio:3/2), only screen and (-webkit-min-device-pixel-ratio:1.5), only screen and (min-device-pixel-ratio:1.5) {

  body {
  }
}

/*The last 29 days of the month are the hardest."- Nikola Tesla*/


/* inserted from child theme */
/* 
Theme Name: CornellX Responsive Child Theme
Theme URI: http://themeid.com/responsive-theme/ 
Description: Responsive Theme is a flexible foundation with fluid grid system that adapts your website to mobile devices and the desktop or any other viewing environment. Theme features 9 Page Templates, 11 Widget Areas, 6 Template Layouts, 4 Menu Positions and more. Powerful but simple Theme Options for full CMS control with easy Logo Upload, Social Networking and Webmaster Tools etc. Responsive is WooCommerce Compatible, Multilingual Ready (WPML), RTL-Language Support, Retina-Ready, W3C Markup Validated and currently translated into 40 languages. Cross-Browser compatible and yes even the IE7. No paid memberships or clubs to get a FREE/Responsive Support you need. http://themeid.com/support/

Template: responsive
Version: 1.0.0
Author: ThemeID 
Author URI: http://themeid.com
Tags: white, black, gray, light, custom-menu, custom-header, custom-background, one-column, two-columns, left-sidebar, right-sidebar, flexible-width, theme-options, threaded-comments, full-width-template, sticky-post, translation-ready, flexible-width, rtl-language-support

License: GNU General Public License
License URI: license.txt 

Responsive WordPress Theme, Copyright (C) 2003-2012 Emil Uzelac 

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

/*
notes-- Responsive Child Theme
*/

/* =Import Styles
-------------------------------------------------------------- */
/*@import url('../responsive/style.css');*/


	
/* =Start From Here
-------------------------------------------------------------- */

/* <<<-----Header----->>> */


/* Header is chosen/uploaded in Appearance>Header */

#logo{
	text-align: left; /* aligning the header logo to left */
	max-width: 100%;
}


#logo .description{
	
		color:#FFF;
		font-family: Georgia, serif;
		margin: 0px;
		max-width: 100%;
		padding-top: 0.18em;
		padding-left: 0.18em;
		width: 100%;
		text-align: left;
		font-weight: lighter;
		text-shadow: 0px 2px 3px #555;
		}

#logo .description a { color: #fff; }

#logo .shade{
		/*background: rgba(78, 78, 78, 0.57);*/
		height: 46%; /* previosuly */
		width: 70%;
		position: relative;
		top: 7em;
		left: 1.5em;
		text-shadow: 0px 2px 3px #555;
}

#logo .shade h2{
	font-size: 1.5em;
	color: rgb(255, 243, 195);
	text-shadow: 0px 2px 3px #555;
}
/*
.formaction{
	margin-top: .4em;
	margin-bottom: 0em;
	float: right;
	width: 30%;
}

.formaction .textform{
	width: 65%;
}

.formaction .submitform{
	float: right;
	width: 30%;
}
*/

#cu-identity #search-form{
		width: 31em; 
		padding-top: 1em;	
	}
	
	
@media screen and (min-width: 551px) and (max-width: 620px){
	
	#container #cu-identity {
		min-height: 5.8em;
	}
	
	#cu-identity #cu-logo{
		height: 3.1em;
		width: 100%;
		}
	
	#cu-identity #search-form{
		float: left;
		padding-top: 0.7em;
	}
}


@media screen and (max-width: 550px){
	
	#container #cu-identity {
		min-height: 7.8em;
		background: #fff;
		margin: 0 auto;
		max-width: 960px;
		padding: 0px 0px;
		overflow-x: hidden;
	}
	
	#cu-identity #cu-logo{
		height: 3.1em;
		width: 100%;
	}

	
	/*#cu-identity .formaction{
		width: 100%;
		float: none;	
	}*/
	
	#logo .description{
		padding-top: 0.68em;
		padding-left: 0.28em;
		width: 100%;
		font-size: 1.8em;	
	}
	
	#logo .shade h2{
		padding-top: 0.68em;
		padding-left: 0.28em;
		width: 100%;
		font-size: 1.1em;	
	}
	
	/*.formaction .submitform{
		padding-left: .2em;
		padding-right: .2em;
	}*/
	
	
	
	#cu-identity #search-form{
		width: 25em; 
		padding-top: 1em;	
		float: left;
	}
	
	#cu-identity #search-filters {
		display: block;
	}
	
	#cu-identity #search-input {
		margin-bottom: 0em;
		width: auto;
		float: left;
		display: block;
	}
	
	
	
}


@media screen and (min-width: 620px) and (max-width: 980px){
	#logo .shade h2{
		padding-top: 0.68em;
		padding-left: 0.28em;
		width: 100%;
		font-size: 1.3em;	
	}
	
	
	
}
	

/****************************************
 * Cornell Identity
 ****************************************/

#cu-identity {
	height: 3.2em;
	background: #fff;	
	margin: 0 auto;
	max-width: 960px;
	padding: 0px 0px;
	}

#cu-logo {
	position: relative;
	float: left;
	/*margin-left: -1.75em;*/
	min-width: 200px;
	
	height: 100%;
	background: url(http://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/06/cu_logo_white45.gif) no-repeat 0px 0px;
	}
	
#cu-logo a {
	position: absolute;
	display: block;
	border: none;
	/* hide text link */
	text-indent: -1000em;
	}
	
#insignia-link {
	width: 68px;
	height: 3em;
	}

#unit-signature-links a {
	left: 68px;
	width: 230px;
	}

#cornell-link {
	height: 38px;
	}
	
#unit-link {
	top: 38px;
	height: 37px;
	}
	
#cu-logo img {
	display: none;
	}
 
/*	
	Search Form
	-------------------------
	The following rules control the appearance of the search form interface. 
	The form is displayed in the Cornell banner, and it is aligned with the 
	right edge of the page. The search form should appear on every page 
	of a site. 
*/

#search-input{
	margin-bottom: 0em;
	width: 17em;
	float: right;
	}

#search-form {
	position: relative;
	font-size: 0.8em;
	float: right;
	}
	
#search-form form {
	margin: 0;
	padding: 0;
	text-align: right;
	}
	
#search-form-query {
	padding: 3px;
	width: 145px;
	border: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	background: #5e5a52 url(http://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/06/header_search.gif) no-repeat top left;
	vertical-align: middle;
	}
	
#search-form-submit {
	padding: 0px 2px 3px 2px;;
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #b3b3b3;
	border-bottom: 1px solid #b3b3b3;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	color: #333;
	background: #f2f2f2;
	vertical-align: middle;
	}
	
#search-filters {
	margin: 2px 0 0 0;
	font-size: .8em;
	float: left;
	}

#search-filters input {
	vertical-align: middle;
	margin: 0;
	}

#search-filters label {
	vertical-align: middle;
	margin: 0 10px 0 0;
	font-size: 1.1em;
	}
	
#search-form a {
	color: #fff;
	font-size: 1.1em;
	line-height: 1.4em;
	}


/* <---END of header---> */


/* no more borders */
#wrapper {border: none 0px; margin: 0; padding: 0;}
#content {border: none 0px; padding: 0;} /*margin: 0 auto; */
.body {border: none 0px; margin: 0 auto; padding: 0;}
.widget-wrapper {border: none 0px; }
/* no more borders */


/* ___________________________________________________________________ */
/* =================================================================== */
/* ===========================Main MENU=============================== */
/* =================================================================== */



/* Web Font Used:*/
/* font-family: 'Droid Sans', sans-serif;
font-family: 'Jockey One', sans-serif;
font-family: 'Advent Pro', sans-serif;
font-family: 'Coda', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

/* Reforms for Nav Bar*/

.menu {
	background:url(http://blogs.cornell.edu/bernie/files/2013/06/wp-header-bg-repeat-01-2d06jqc-1mcvmv8.png);
	background-repeat:repeat-x;
}

.menu, .menu ul { 
	font-family: 'Droid Sans', sans-serif;
	/*text-transform:uppercase*/;
	font-size:9px;
	color:#000;
}

.menu a {
	color:#000;
	border-left:1px dashed #E6E7E8;
	text-shadow:none;
}	

.menu a:hover {
	background: inherit;
	color: #f6921e;
}


/* - current menu item background change to orange */
.menu .current_page_item a,
.menu .current-menu-item a {
	background: rgba(238, 147, 48, 0.22)
}


/* On smaller screens, main menu:
- main navigation drop-down menu color changed from black to light blue
- text shadow changed from black to grey (added 6/13/2013 by Stan sp574)
*/

.sb-holder {
	background-color: #ee9330;
}

.sb-selector:link,
.sb-selector:visited,
.sb-selector:hover {
        text-shadow: 0 1px 0 rgb(146, 145, 145);
}
.main-nav{
		display: none;
		}

/* =================================================================== */
/* ---------------------------END of main MENU------------------------ */
/* =================================================================== */

/* ___________________________________________________________________ */
/* =================================================================== */
/* -----------------------------Website Body-------------------------- */
/* =================================================================== */

body{
	background: #D8D0C3 url(http://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/06/cornell_x_body.gif) 0 0 repeat-x;
	font-family: verdana, arial, helvetica, sans-serif;
	line-height: 1.2em;
}

#wrapper{
	margin: 0 auto;
	max-width: 960px;
}

.entry-title.post-title{
	color: #333;
	font-size: 1.7em;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#wrapper{ background: transparent; }


/* Images are 50% of body width on larger screens, 
   Images are 100% of body width on smaller screens.
   - a img.alignleft changed to img.width = body width; does not break the text awkwardly (added 6/17/2013 by Stan sp574)
*/
@media (max-width: 768px){
  a img.alignleft{
  	width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 980px){
  a img.alignleft{
  	width: 50%;
  }
}


/* ******* */

/* Making all content line up at the top of ALL pages */
/*
.home #wrapper {
	margin-top: 0px;
}
.home #widgets {
	margin-top: 25px;
}*/
#widgets {
	margin-top: 25px;
	font-size: .9em;
}

a, a:visited, a:active {
color: #960;
}



/* ******* */

/* widgets are floating to the right */
@media screen and (min-width: 981px){
  #widgets{
  	float: left;
  }
  #content{
	float: right;  
  }
}


/* works as .fit for home page - bug in wordpress */
#content{
	margin-left: 0 !important;
	margin-right: 0 !important;
}


/* ******* */

/* Transparent background: widgets */
.widget-wrapper{
  	background-color: transparent;
}

/* Removes table border in the equipment page */
th, 
td,
table {
	border: 0px;
}


/* =================================================================== */
/* ---------------------------END of Website Body--------------------- */
/* =================================================================== */

/* ===================================================== 
   ====================SIDEBAR MENU=====================
   ===================================================== */



#widgets .expandMenu{
	padding-left: 0em;
}

#widgets ul, ul li { list-style-type: none; }

#widgets a, a:visited, a:active {
	color: #366;
	font-weight: bold;
}

#widgets .subtitleLi{
	padding-top: 0em;
	padding-bottom: 0em;
	border: none;
}

#widgets .subtitleLi:last-child{
	border: none;
}

#widgets .liimage{
	padding: 0em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	width: 70%;
}

/*
#widgets ul li{
	color: #366;
	display: block;
	width: 95%;
	padding: 11px 20px 11px 0;
	text-decoration: none;
	font-weight: bold;
	font-size: .97em;
	line-height: 1em;
	border-top: dotted 1px #960;
}

#widgets ul li:last-child{
	border-bottom: dotted 1px #960;
}

#widgets .textwidget a{
	line-height: 1.5em;
	}




#widgets .collapsibleList li > label + * {
 display: none;
}
 
#widgets .collapsibleList li > input:checked + label + * {
 display: block;
}

#widgets .collapsibleList li > input {
 display: none;
}

#widgets .collapsibleList label {
 cursor: pointer;
}

#widgets .collapsibleList{
	padding-left: 0em;
}

.widget-wrapper.widget_text{
	padding-left: 0em;
	padding-right: 0em;
}

#widgets label {
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	background: transparent url(http://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/06/section_nav_arrow_closed.png) left 10px no-repeat;
	padding: 10px 0 10px 22px;
	width: 100%;
	color: #804000;
	line-height: 1.5em;
	text-transform: uppercase;
}

#widgets input[type=checkbox]:checked ~label{
	background: transparent url(http://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/06/section_nav_arrow.gif) left 10px no-repeat;
}

#widgets input[type=checkbox] ~label {
	background: transparent url(http://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/06/section_nav_arrow_closed.png) left 10px no-repeat;
}

	
*/



@media screen and (max-width: 500px){
	
	.widget-wrapper.widget_text{
		padding-top: 0em;	
		padding-bottom: 0em;
 		margin-bottom: 0em;
	}
	
	#widgets ul li { width: auto; }
	
	#widgets .collapsibleList{
		margin: 0em;	
		padding-left: 1.5em;
	}
	
	#widgets label{ width: auto;}
	
	#widgets .subtitleLi{
		width: 100%;
		float: left;
		padding: 0em;
	}
	
	#widgets .liimage{ display: none; }
	
	/*Expandable menu*/
	
	#widgets .expandMenu .border-menu {
	  position: relative;
	  padding-left: 2em;
	}
	#widgets .expandMenu .border-menu:before {
	  content: "";
	  position: absolute;
	  top: 0.2em;
	  left: 0;
	  width: 1.6em;
	  height: 0.2em;
	  border-top: 0.6em double #804000;
	  border-bottom: 0.2em solid #804000;
	}
	
	
	#widgets .expandMenu{
		padding: 0em;	
		padding-top: 1em;
	}
	
	#widgets .expandMenu .submenu{
		font-size: 1.2em;
		width: 100%;
		background: rgba(100, 99, 99, 0.16) !important;	
	}
			
	#widgets .expandMenu > label + * {
	 display: none;
	}
	 
	#widgets .expandMenu > input:checked + label + * {
	 display: block;
	}
	
	#widgets .expandMenu > input {
	 display: none;
	}
	
	#widgets .expandMenu label {
	 cursor: pointer;
	}
}

@media screen and (min-width: 501px) and (max-width:980px){
	
	.widget-wrapper.widget_text{
		padding-top: 0em;	
		padding-bottom: 0em;
		margin-bottom: 0em;
	}
	
	#widgets ul li { width: 85%; }
	
	#widgets .collapsibleList{
		margin: 0em;
		padding-left: 1.5em;	
	}
	
	#widgets label{ width: auto;}
	
	#widgets .subtitleLi{
		width:50%;
		float: left;
		padding: 0em;
	}
	
	#widgets .liimage{ display: none; }
	
	/*Expandable menu*/
	
	#widgets .expandMenu .border-menu {
	  position: relative;
	  padding-left: 2em;
	}
	#widgets .expandMenu .border-menu:before {
	  content: "";
	  position: absolute;
	  top: 0.2em;
	  left: 0;
	  width: 1.6em;
	  height: 0.2em;
	  border-top: 0.6em double #804000;
	  border-bottom: 0.2em solid #804000;
	}
	
	#widgets .expandMenu{
		padding: 0em;	
		padding-top: 1em;
	}
	
	#widgets .expandMenu .submenu{
		font-size: 1.2em;
		width: 100%;
		background: rgba(100, 99, 99, 0.16) !important;	
	}
	
	#widgets .expandMenu > label + * {
	 display: none;
	}
	 
	#widgets .expandMenu > input:checked + label + * {
	 display: block;
	}
	
	#widgets .expandMenu > input {
	 display: none;
	}
	
	#widgets .expandMenu label {
	 cursor: pointer;
	}

}

@media screen and (min-width:981px){
	#widgets #mybiglist{ display:none; }
	#widgets .submenu{ display:none; }
}


/* =====================================================
   ================END of SIDEBAR MENU==================
   ===================================================== */

/* ____________________________________________________________ */
/* ============================================================ */
/* =========================-- FOOTER --======================= */
/* ============================================================ */

/* - Removes the link to edublogs 
   - Removes ATC 2013 copyright and powered by sections in the footer
   - Removes the 'scroll-to-top' arrow at the bottom of the screen */

#global-footer-content{
	display: none;
}
#footer {
	display: none;
}

/* ===================================================== */

.mainContainer{
	margin: 0 auto;
	max-width: 960px;
	padding: 0 25px 25px 25px;
}
.secondaryContainer{
	border-top: 4px solid #B1181B;
  	padding-top: .5em;
  	margin-bottom: 20px;
}

.atc_copyright{
	float: right;
  	text-align: right;
}


.footer_left{
  float: left;
  text-align: left;
}

.footer_right{
  float: right;
  text-align: right;
}

@media screen and (max-width: 980px){
  .footer_left{
    float: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .footer_right{
    float: center;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    width: 100%;
  }
}

/* =================================================================== */
/* ---------------------------END of FOOTER section------------------- */
/* =================================================================== */


/* Media Print
-------------------------------------------------------------- */
@media print {

    h1 {
	    page-break-before: always;
    }

    h1,  h2,  h3,  h4,  h5,  h6 {
	    page-break-after: avoid;
    }

    ul,  ol,  dl {
	    page-break-before: avoid;
    }
}

/*	Retina (HiDPI) Display
    http://www.quirksmode.org/blog/archives/2013/06/devicepixelrati.html
-------------------------------------------------------------- */
@media 
    only screen and (-moz-min-device-pixel-ratio:1.5), 
    only screen and (-o-min-device-pixel-ratio:3/2), 
    only screen and (-webkit-min-device-pixel-ratio:1.5), 
    only screen and (min-device-pixel-ratio:1.5) {
    
    body {}
}

/* =Responsive (Mobile) Design
-------------------------------------------------------------- */
@media screen and (max-width: 980px) {

    body {}
	
    .grid, 
	.grid-right {
	    float: none;
    }
	
	#featured-image .fluid-width-video-wrapper {
	    margin: 20px 0 0 0;
    }
	
	.home #widgets {
		margin-top: 40px;
	}
    
	.js .menu,
	.js .sub-header-menu {
		display: none;
	}
	
    .top-widget,
    .home .top-widget {
        margin-top: 0 !important;
    }
	
	
		
	.top-menu, 
	.footer-menu li {
	    float: none;
        font-size: 11px;
	    text-align: center;
    }
	
	.tinynav {
        display: block;
    }
	
	.sb-holder {
        display: block;
    }
    
    .hide-980 {
        display: none;
    }
    
    .show-980 {
        display: block;
    }
    
}

@media screen and (max-width: 650px) {

    body {}

    #logo {
	    float: none;
        margin: 0;
	    text-align: center;
    }

    .grid, 
	.grid-right {
	    float: none;
    }

	#featured-image .fluid-width-video-wrapper {
	    margin: 20px 0 0 0;
    }
    
    .top-widget {
        float: none;
        margin: 0 auto 10px auto;
        position: relative;
        text-align: center;
        width: auto;
    }
	
	
    
    .top-widget .widget-title {
        text-align: center;
    }
	    
    #author-meta {
        padding: 20px;
    }
    
    .hide-650 {
        display: none;
    }
    
    .show-650 {
        display: block;
    }
    
    #footer {
	    text-align: center;
    }

    #footer .social-icons {
        padding-bottom: 10px;
	    text-align: center;
    }
}

@media screen and (max-width: 480px) {

    body {}

    #logo {
	    float: none;
	    text-align: center;
    }

    .grid, 
	.grid-right {
	    float: none;
    }
	
	#featured-image .fluid-width-video-wrapper {
	    margin: 20px 0 0 0;
	}
	
	.featured-title {
	    font-size: 40px;
	    padding: 40px 20px 0 20px
    }
	
	
    
    .featured-subtitle {
        font-size: 24px;
    }
    
    .navigation .next,
    .navigation .previous {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
	
    .menu ul, 
	.menu li, 
	.top-menu, 
	.footer-menu li, 
	.sub-header-menu li {
	    float: none;
	    text-align: center;
        text-rendering: optimizeSpeed;
    }
	
    .hide-480 {
        display: none;
    }
    
    .show-480 {
        display: block;
    }
    
    #footer {
	    text-align: center;
    }

    #footer .social-icons {
	    text-align: center;
    }
}

@media screen and (max-width: 320px) {
    
    body {}
	
	#featured p {
	    font-size: 12px;
		line-height: 1.5em;
    }

    .featured-title {
	    font-size: 35px;
    }
	
	.featured-subtitle {
		font-size: 15px;
	}

    .call-to-action a.button {
	    font-size: 14px;
	    padding: 7px 17px;
    }

    .hide-320 {
        display: none;
    }
    
    .show-320 {
        display: block;
    }
}

@media screen and (max-width: 240px) {
    
    body {}
	
	#featured p {
	    font-size: 11px;
		line-height: 1.5em;
    }

    .featured-title {
	    font-size: 20px;
    }
	
	.featured-subtitle {
		font-size: 11px;
	}

    .call-to-action a.button {
	    font-size: 12px;
	    padding: 5px 15px;
    }
    
    .top-widget area,
    .top-widget select,
    .top-widget textarea,
    .top-widget input[type="text"], 
    .top-widget input[type="password"] {
        width: 75%;
    }
    
    .widget-title,
    .widget-title-home h3 {
        font-size: 14px;
        height: 13px;
        line-height: 13px;
        text-align: left;
    }
    
    .hide-240 {
        display: none;
    }
    
    .show-240 {
        display: block;
    }
}

/*The last 29 days of the month are the hardest."- Nikola Tesla*/


/* menu test */


/* nav menu styles */
#widgets #nav { 
  display: block; 
  width: 85%;
  margin: 0 auto; 
  padding-left: 0em;
  margin-left: 0em;
}

#widgets #nav ul{
	padding-left: 20px;
  	margin-left: 0em;
	width: 100%;
}


#nav > li > a { 
  display: block; 
  padding: 16px 18px;
  font-size: 1.3em;
  font-weight: bold;
  color: #d4d4d4;
  text-decoration: none;
 
  
}


#widgets #nav > li{
	padding: 0px 0 0px 0px;
}

#nav li ul { display: none; }

#widgets #nav li ul li a { 
  	color: #366;
	display: block;
	width: auto;
	padding: 11px 20px 11px 0.5em;
	text-decoration: none;
	font-weight: bold;
	font-size: .97em;
	border-top: dotted 1px #960;
	text-transform: none;
	background: none; 
	line-height: 1.5em; 
}
#widgets #nav li ul li:last-child { 
	border-bottom: dotted 1px #960;	
}
#nav li ul li a:hover {
  background: #394963;
}

#widgets #nav li a {
	display: block;
	margin: 0;
	font-size: .95em;
	font-weight: bold;
	background: transparent url(http://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/06/section_nav_arrow_closed.png) left 10px no-repeat;
	padding: 10px 0 10px 2em;
	width: 100%;
	color: #804000;
	line-height: 1.5em;
	text-transform: uppercase;
}

.widget-wrapper.widget_text{
	padding-left: 0em;
	padding-right: 0em;
}

#widgets .collapsibleList{
		margin: 0em;
		padding-left: 0em;	
	}
	
	#widgets .collapsibleList li > label + * {
 display: none;
}
 
#widgets .collapsibleList li > input:checked + label + * {
 display: block;
}

#widgets .collapsibleList li > input {
 display: none;
}

#widgets .collapsibleList label {
 cursor: pointer;
}

#widgets .collapsibleList{
	padding-left: 0em;
}

.widget-wrapper.widget_text{
	padding-left: 0em;
	padding-right: 0em;
}

#widgets label {
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	background: transparent url(http://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/06/section_nav_arrow_closed.png) left 10px no-repeat;
	padding: 10px 0 10px 22px;
	width: 100%;
	color: #804000;
	line-height: 1.5em;
	text-transform: uppercase;
}

#widgets input[type=checkbox]:checked ~label{
	background: transparent url(http://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/06/section_nav_arrow.gif) left 10px no-repeat;
}

#widgets input[type=checkbox] ~label {
	background: transparent url(http://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/06/section_nav_arrow_closed.png) left 10px no-repeat;
}


@media screen and (max-width: 500px){

	/*Expandable menu*/
	#widgets #nav{width: 100%;}
	#widgets ul li {width: 100%;}

	#widgets .expandMenu{padding-left: 0em;}
	
	#widgets .expandMenu .border-menu {
	  position: relative;
	  padding-left: 2em;
	}
	#widgets .expandMenu .border-menu:before {
	  content: "";
	  position: absolute;
	  top: 0.2em;
	  left: 0;
	  width: 1.6em;
	  height: 0.2em;
	  border-top: 0.6em double #804000;
	  border-bottom: 0.2em solid #804000;
	}
	
	
	#widgets .expandMenu{
		padding: 0em;	
		padding-top: 1em;
	}
	
	#widgets .expandMenu .submenu{
		font-size: 1.2em;
		width: 100%;
		background: rgba(100, 99, 99, 0.16) !important;	
	}
			
	#widgets .expandMenu > label  + * { 
	 display: none;
	}
	 
	#widgets .expandMenu > input:checked + label + * { 
	 display: block;
	}
	
	#widgets .expandMenu > input {
	 display: none;
	}
	
	#widgets .expandMenu label {
	 cursor: pointer;
	}
}

@media screen and (min-width: 501px) and (max-width:980px){
	
	#widgets #nav{width: 100%;}
	#widgets ul li {width: 100%;}
	
	.widget-wrapper.widget_text{
		padding-top: 0em;	
		padding-bottom: 0em;
		margin-bottom: 0em;
	}
	
	
	
	#widgets .collapsibleList{
		margin: 0em;
		padding-left: 0em;	
	}
	
	#widgets label{ width: auto;}
	
	
	
	#widgets .liimage{ display: none; }
	
	
	/*Expandable menu*/
	
	#widgets .expandMenu .border-menu {
	  position: relative;
	  padding-left: 2em;
	}
	#widgets .expandMenu .border-menu:before {
	  content: "";
	  position: absolute;
	  top: 0.2em;
	  left: 0;
	  width: 1.6em;
	  height: 0.2em;
	  border-top: 0.6em double #804000;
	  border-bottom: 0.2em solid #804000;
	}
	
	#widgets .expandMenu{
		padding: 0em;	
		padding-top: 1em;
	}
	
	#widgets .expandMenu .submenu{
		font-size: 1.2em;
		width: 100%;
		background: rgba(100, 99, 99, 0.16) !important;	
	}
	
	#widgets .expandMenu > label + * {
	 display: none;
	}
	 
	#widgets .expandMenu > input:checked + label + * { 
	 display: block;
	}
	
	#widgets .expandMenu > input {
	 display: none;
	}
	
	#widgets .expandMenu label {
	 cursor: pointer;
	}

}
@media screen and (min-width:981px){
	#widgets #mybiglist{ display:none; }
	#widgets .submenu{ display:none; }
}

#content p{
font-size: .9em;
color: black;}

#content ul, #content ol, #content ul li, #content ol li {
  font-size: .95em;
  color: black;  
}

#content ul, #content ul li {
  list-style-type: disc;
}

/* FORMIDABLE FIXES FOR MOBILE
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {	
	}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
.with_frm_style .frm_form_fields input[type=text], .with_frm_style .frm_form_fields input[type=password], .with_frm_style .frm_form_fields input[type=email], .with_frm_style .frm_form_fields input[type=number], .with_frm_style .frm_form_fields input[type=url], .with_frm_style .frm_form_fields select, .with_frm_style .frm_form_fields textarea, .frm_form_fields_style, .frm_form_fields_active_style, .frm_form_fields_error_style, .with_frm_style .frm_form_fields select {
	width:99% !important;
}
}
/* Custon additions 2013 */
.callout {
	float: right; 
	width: 40%;
	background: #d8d0c3; /* Old browsers */
	background: -moz-linear-gradient(top,  #d8d0c3 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d0c3), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d8d0c3 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d8d0c3 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d8d0c3 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d8d0c3 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d0c3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	margin: 0 0 20px 20px;
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 6px;
		-moz-border-radius: 6px;
  		-webkit-border-radius: 6px;
}
@media only screen and (max-width: 479px) {
.callout {
	float: none; 
	width: 96%;
	margin: 0;
	margin-bottom: 15px;
}
#boxflex {
    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}

#boxflex .child-one {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
	margin: 0;
	margin-bottom: 15px;
}

#boxflex .child-two {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
}
#boxflex .child-three {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    box-ordinal-group: 3;
	margin: 0;
	margin-bottom: 15px;
}
}