/*
Theme Name: Brunelleschi child theme for Statler Hotel blog
Theme URI: http://kitmacallister.com/2011/brunelleschi/
Description: Brunelleschi is a modern theme with emphasis on readability and clean typography. Brunelleschi includes a fully flexible mobile layout and a full HTML5 implementation, that way it looks great on any screen and on any modern browser. Brunelleschi also has lots of customizable options including page-width, multiple sidebars, featured content slider and more! Available in Belarusian, Czech, Dutch, English, French, German, Italian, Polish, Russian and Spanish.
Author: Kit MacAllister
Author URI: http://kitmacallister.com/about/
Template: brunelleschi
Version: 1.5.9
License: GNU General Public License
License URI: license.txt
Tags: black, blue, white, light, one-column, two-columns, three-columns, right-sidebar, left-sidebar, flexible-width, custom-menu, custom-header, custom-background, theme-options, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style
*/

@import url("../brunelleschi/style.css"); /* this is enough to bring all parent styles in */

body {
	padding-top: 0;
}
#branding {
	margin-top: -7px;
	margin-bottom: 12px;
}
#search-form {
	display: none;
	padding-right: 0px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #A6A6A6;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 1em;
}
#searchform {
	padding-right: 0px;
}
#search-form a {
	text-decoration: none;
	color: #b31b1b;
}
#search-form-wrapper {
	max-width: 1180px;
	margin: 10px auto;
	text-align: right;
	
}
#search-form-submit {
	padding: 0 0 1px;
	width: 2.93em;
	height: 2.5em;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 0.35em;
	margin-right: 28px;
	border: 0;
	background: #b31b1b;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
}
#search-form input[type="text"] {
	font-size: 1em;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
}
#search-form input[type="text"], #search-form textarea {
	background: #f9f9f9;
	border: 1px solid #999;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
	width: 170px;
	line-height: 25px;
	padding-left: 4px;
	margin-top: 2px;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	height: 24px;
}
#search-form #search-filters {
	margin-top: 6px;
}
#search-form label {
	color: #000;
	padding-right: 14px;
}
#search-input label {
	padding-right: 5px;
}
#options {
	margin-right: 28px;
}
input[type="radio"] {
	vertical-align: -2px;
}
hr.red5 {
	background-color: #b31b1b;
	height: 5px;
	margin: 0;
	padding: 0;
	border: none;
}
#site_logo {
	float: left;
	width: 381px;
}
#site_logo img {
}
#cu_logo {
	float: right;
	margin: -10px 53px 0 0;
}
#cu_logo img {
	width: 100%;
	height: auto;
}
#cu_logo_mobile {
	display: none;	
}

#search_icon {
	position: absolute;
	top: -5px;
	right: 25px;
	width: 38px;
	height: 38px;
	background: #b31b1b url(images/search_icon.png) 9px 9px no-repeat;
	background-size: 20px;
	cursor: pointer; 
	cursor: hand;
}
.widget_search #s {
	width: 71%;
}
.graybg {
	background-color: #A6A6A6!important;
}

#wrapper {
	position: relative;
	background-color: transparent;
}
#header a.twelvecol.lastlast {
	-moz-border-radius-topleft: 50% 35%;
	border-top-left-radius: 50% 35%;
	-moz-border-radius-topright: 50% 35%;
	border-top-right-radius: 50% 35%;
	overflow: hidden;
}
#header img#headerimg {
	width: 99%;
}
#header #access .menu li.current_page_item,
#header #access .menu li.current-menu-item {
	background: #333333;
}
#header #access .menu li.current_page_item a,
#header #access .menu li.current-menu-item a {
	color: #fff;
}
#mobile_access {
	display: none;
}
.row .twelvecol {
	float: left;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
#site-generator {
	display: none;
}
.clear {
	clear: both;
}
@media only screen and (max-width: 1140px) { /* ************* */
	#wrapper, #search-form, #header {
		margin: 0 auto;
	}
	#search-form {
		margin-right: 0;
		width: 100%;
	}
	hr.red5 {
		padding-right: 0;
		margin-right: -20px;
	}
	#cu_logo {
	}
}
@media only screen and (max-width: 1140px) and (min-width: 767px) { /* ************* */
	.row .ninecol {
		width: 63.05%;
	}
	.row .threecol {
		width: 31.05%;
	}
}

@media only screen and (max-width: 800px) {
	#cu_logo {
		width: 13.1%;
		margin-right: 85px;
	}
}
@media only screen and (max-width: 767px) {
	#site_logo {
		padding-left: 10px;
	}
}
@media only screen and (max-width: 650px) {
	#access {
		display: none;
		padding-top: 0;
		padding-bottom: 0;
		margin: 0 auto;
	}
	#access li {
		width: 100%;
		border-bottom: 1px solid #ddd;
	}
	#access a {
		color: #000;
	}
	#access {
		position:absolute;
		top: 36px;
		border: none;
		background: rgba(170,170,170,1);
		left: 0;
		width: 100%;
	}
	#access .menu-header, div.menu {
		margin-left: 0;
		width: 100%;
	}
	#mobile_menu {
		position: absolute;
		top: -5px;
		right: 72px;
		width: 38px;
		height: 38px;
		background: #b31b1b url(images/mobile_menu.png) 3px 4px no-repeat;
		cursor: pointer; 
		cursor: hand;
	}
	#header img#headerimg {
		max-width: none;
		width: 130%;
	}
	#cu_logo_mobile {
		display: block;
		position: absolute;
		left: 10px;
		top: 8px;
		width: 180px;	
	}

	#cu_logo {
		display: none;
	}
	#site_logo {
		margin-top: 42px;
		margin-left: 10px;
	}
}
@media only screen and (max-width: 479px) {
	#site_logo {
		width: 360px;
		padding-left: 5px;
	}
	hr.red5 {
		padding-right: 0;
		width: 100%;
		margin-right: -20px;
	}
	#header img#headerimg {
		width: 140%;
		margin-left: -60px;
	}
	#header a.twelvecol.lastlast {
		-moz-border-radius-topleft: 50% 20%;
		border-top-left-radius: 50% 20%;
		-moz-border-radius-topright: 50% 26%;
		border-top-right-radius: 50% 26%;
	}
}
@media only screen and (max-width: 420px) {
	#site_logo {
		width: 300px;
	}
	#search_icon {
		right: 8px;
	}
	#mobile_menu {
		right: 55px;
	}
	#header img#headerimg {
	}
	#search-form-submit, #options {
		margin-right: 10px;
	}
}
@media only screen and (max-width: 320px) {
	#site_logo {
		width: 295px;
	}
	#header img#headerimg {
		width: 150%;
	}
}