/* ------- Search ----- */
#searchWrap{ 
	overflow:auto; 
	height:32px; 
	display:none; 
	background-color:#b31b1b; 
	font-family: arial,Geneva,sans-serif; 
	}
	
#searchInnerWrap{
	width:100%;
	max-width:1170px; 
	margin:0 auto;
	}
	
#searchForm{ 
	max-width:1170px; 
	background-color:#b31b1b; 
	overflow:hidden; 
	width:100%; 
	float:right;  
	height:32px; 
	margin-right:76px; 
	text-align:right; 
	padding-top:4px; 
	}
	
#searchClick{
	background-color:#b31b1b; 
	cursor:pointer; 
	float:right; 
	color:#fff; 
	padding: 4px 10px 6px 10px;
	}
	
#search-form-query {
	border: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:13px;
	line-height:13px;
	color: #fff;  
	float:right; 
	width:300px; 
	height:22px; 
	margin-top: 2px; 
	background-color:#990f0f; 
	padding:0 4px; }
	
#search-form-query:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus 
{ /*-webkit-focus-ring-color #f4f4f4 3px;*/ -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
box-shadow: 0 0 3px rgba(0,0,0,.2); outline:none; }

.searchLabel{
	text-align:right; 
	color:#fff; 
	font-size:12px; 
	text-transform:uppercase; 
	display:inline-block;
	margin-right:10px; 
	padding-top:7px;
	line-height:normal; 
	vertical-align:auto; 
	font-weight:bold; 
	font-weight:normal; 
	}
	
#search.active {}

#searchClickWrap{
	position: absolute; 
	right: 50%; 
	width:1170px; 
	top:4px; 
	z-index: 10; 
	font-size:16px;
	}
	
#searchClickInnerWrap{ position: relative; right: -50%; }

#go{
	float:right; 
	background: #800;
	color: #FFF;
	border: none;
	font-size: 12px;
	line-height:12px;
	padding: 5px 6px 5px 6px;
	margin-top: 2px;
	margin-left: 5px; 
	font-weight:normal; 
	border-radius:0; 
	-webkit-border-radius:0; 
	-moz-border-radius:0; 
	text-shadow:none; 
	margin-bottom:20px;
	height:22px; 
	}
	
/* ---------- Cornell Identity ---------- */
#cu-identity-wrap { border-top:4px solid #b31b1b; }

#cu-identity-wrap {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 63.125%;		/* translate 1.0em to 10px, 1.5em to 15px, etc. */
	color: #222;
	background: #FFFFFF;
	/*
	Comment out the following line to remove the Ezra Cornell background image from the header.
	Change 1.jpg to any number up to 8.jpg to use other header background images.
	*/
	background: #FFFFFF url() no-repeat top center;

	}
	
#cu-identity-content {
	position: relative;
	margin: 0 auto;
	max-width: 1170px;
	width:100%;
	height: 32px;
	/*background: url(http://www.cornell.edu/img/layout/75/cornell-university-red.png) no-repeat;*/
	}
	
#cu-identity-content a {
	position: absolute;
	display: block;
	border: none;
	/* hide text link */
	text-indent: -1000em;
	text-decoration: none;
	}
	
#cu-identity-content img {
	display: none;
	}

#insignia-link {
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
	background-image: url('../images/cornell/logo-red.svg?1390332815');
	background-size: 120px 120px;
	margin-top: 0;
	margin-left: 0;
	padding: 0;
	position: absolute;
	top: 0px;
	left: 0;
	width: 120px;
	height: 120px;
	}

#unit-signature-links a {
	left: 80px;
	width: 185px;
	}

#cornell-link {
	height: 35px;
	}
	
#unit-link1 {
	top: 35px;
	height: 20px;
	}
	
#unit-link2 {
	top: 55px;
	height: 33px;
	}

/* 
	Hide horizontal rules (hr) that separate the banner from the site.
	The rules are semantic separations of content, and they are useful for 
	browsers that cannot utilize the stylesheet.
*/	
hr.banner-separator {
	display: none;
	}
	
/* .beige class is "cornell" beige */
.beige { background: #f0eee4; }

/* HighRes 'Retina' images */
/* Pixel ratios: 2.0 = Retina, 1.5 dpr = ("Semi-high res", many higher dpi android devices") */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
	#cu-identity-content {
		background-image: url(http://www.cornell.edu/img/layout/75/cornell-university-red@2x.png);
		background-size: 240px 75px;
		background-position:10px top;
	}
}

@media (max-width: 1169px) {
	#mobileSignature{display:block; background-color: #FFF; padding-left: 15px; border-bottom: 1px dotted #888; text-align:center; padding:15px 0px;}
	#mobileSignature h1{font-family:Times, serif; color:#b31b1b; font-size:25px; font-weight:normal; margin-top:15px; padding-bottom:5px; font-variant:small-caps;}
	#mobileSignature img{width:150px;}
	#mobileSearch{float:right; color:#fff; background-color:#b31b1b; display: inline-block;
height: 25px; padding: 12px 15px; font-size: 22px;}
	#mobileSearch:hover{text-decoration:none;}
	
	#cells { }
	
	#searchClickWrap{width:100%!important;}
	#searchWrap{}
	#searchForm{width:220px!important;}
	#searchInnerWrap {width: 100% !important;}
	#search-form-query {width: 100px!important;}
}

/* #Tablet (Portrait)
================================================== */

/* Note: Design for a width of 768px */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	
}

/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */

@media only screen and (max-width: 767px) {
	/* cornell identity */
	#cu-identity-content { width:100% } 
	
	body { background:none; }
	/* ---------------- */
	#content-middle { width:300px; } /* shrink wrapper for middle content*/
	
	#career,#network,#industry { width:auto; background:none; padding-left:0; } 
	#content-bottom-left ul li { float:none; width:auto; }
	#content-bottom { padding:10px 0 10px 0; }
	#news,#events { border-top: 1px solid #999; margin-top:16px; padding-top:16px;}	
	#undergraduate,#graduate,#research { margin-left:0; width:252px; border-left:1px solid #FFF; border-right:1px solid #FFF; }
	#content-bottom-right { background:none; } 
	 
}

/* #Mobile (Landscape)
================================================== */

/* Note: Design for a width of 480px */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#content-middle { width:420px; }
}

 @media only screen and (max-width: 400px) {
	#searchForm{width:150px!important;}
	.searchLabel{display:none;}
 }