body.sesqui-gallery{
    background: #f4f5f6;
}

/*TROUBLESHOOT*/
li.masonry-item, ul.isotope{
opacity: 1;
}

/* FILTER MENU */
#filter_menu { display: none; height: 60px; }

.shim { min-width: 400px; min-height: 225px; width:100%; height:auto; position: absolute; top: 0; left: 0; z-index: 200;}

/* TEXT DISPLAY */
.sesqui-gallery p                                                                   { margin: 0!important; padding: 0!important;}
.sesqui-gallery p.itemTitle                                                         { color: #333; font-family: "freight-text-pro", serif; font-size: 26px; font-weight: 300; line-height: 125%; margin-bottom: 0.25em!important; }
.sesqui-gallery p.itemDescription                                                   { color: #777; font-family: "freight-sans-pro", sans-serif; font-size: 16px; font-weight: 300; line-height: 125%; margin-bottom: 2em!important;}
.sesqui-gallery p.itemTags                                                          { color: #555; font-family: "freight-sans-pro", sans-serif; font-size: 14px; font-weight: 300; line-height: 125%;  width: 75%; float: left; }
.sesqui-gallery p.itemTags>.itemTag                                                 { background: #f0f0f0; border-radius: 10px; display: inline-block; padding: 2px 10px; cursor: not-allowed; margin-right: 2px;}
.sesqui-gallery p.itemAuthor                                                        { color: #777; font-family: "freight-sans-pro", sans-serif; font-size: 12px; width: 23%; float: right; text-align: right;}
.sesqui-gallery p.itemAuthor:before                                                 { content: "Uploaded by: ";}


#blog .masonry-fullwidth .masonry-item                                              { border-radius: 0; box-shadow: 2px 2px 2px #eaeaea; font-size: 12px; padding: 0;}
#blog .masonry-fullwidth .masonry-item:hover                                        { box-shadow: 2px 2px 2px #eaeaea!important;}
#blog .masonry-fullwidth .masonry-item>.item                                        { cursor: pointer; position: relative;} 
#blog .masonry-fullwidth .masonry-item .item-inner-wrapper                          { padding: 20px;}

#blog .masonry-fullwidth .masonry-item .shim                                        { display: block; height: 225px; width: 400px; }

/* BOOKMARKS */
#blog .masonry-fullwidth .masonry-item>.item:before                                 { background-image:url(/assets/images/bookmark.red.svg); background-position:center bottom; background-size:100% auto; color:rgba(0,0,0,.5); content:" "; display:block; font-family:'FontAwesome'; font-size:15px; padding:10px 10px 30px 10px; position:absolute; right:20px; text-align:center; top:-2px; width:35px; z-index:2;}


/* TEXT DISPLAY */

    /* AUDIO */
    .typeA p.itemTitle, .typeP p.itemTitle                                          { margin-right: 40px!important;}
    #blog .masonry-item.typeA>.item:before                                          { content: "\f130"; }

    /* TEXT */
    #blog .masonry-item.typeT, #blog .masonry-item.typeT:hover                      { box-shadow: none!important;}
    #blog .masonry-item.typeT>.item                                                 { background: #f1eadb!important; color: #b6954b;}
    #blog .masonry-item.typeT p.itemTitle                                           { color: #b6954b!important; margin: 50px 0 50px 0!important; text-align: center;}
    #blog .masonry-item.typeT>.item:before                                          { background-image: url('/assets/images/bookmark.gold.svg'); content: "\f10e"; }

    /* SHARE INTRO */
    #blog .masonry-item.typeShare, #blog .masonry-item.typeShare:hover              { box-shadow: none!important;}
    #blog .masonry-item.typeShare>a>.item                                           { background: #b6954b!important; font-weight: 100; padding: 5em 1em!important;}
    #blog .masonry-item.typeShare>a:hover                                           { text-decoration: none; }
    #blog .masonry-item.typeShare .item-inner-wrapper p                             { color: #e2d5b7; font-family: "freight-text-pro",serif; line-height: 125%; text-align: center;}
    #blog .masonry-item.typeShare .item-inner-wrapper p.likeCornellian              { font-size: 3em; }
    #blog .masonry-item.typeShare .item-inner-wrapper p.likeCornellian:before       { background-image: url('/assets/images/clocktower.png'); background-size: 100% 100%; content: " "; display: block; height: 50px; margin: auto auto 0.5em auto; width: 50px;}
    #blog .masonry-item.typeShare .item-inner-wrapper p.shareStory                  { color: #d3c093; font-size: 2em; margin-top: 1.5em;}

    /* IMAGE */
    #blog .masonry-item.typeI>.item:before                                          { content: ""; display: none; }
    
    /* VIDEO */
    #blog .masonry-item.typeV>.item:before                                          { background-image: url('/assets/images/bookmark.red.svg'); color:rgba(0,0,0,.5); content: "\f03d"; }

    /* POPUP WINDOW*/
    .sesqui-gallery .create-popup                                                   { display: none; }
    .sesqui-gallery .mfp-content                                                    { width: auto; }
    .sesqui-gallery .white-popup                                                    { background: #fff; margin: 40px auto; max-height: 75%; max-width: 75vw; min-width: 75vw; overflow-y: scroll; padding: 20px 30px; position: relative; text-align: left;}
    .sesqui-gallery .white-popup p.itemDescription                                  { font-size: 20px; margin-bottom: 1em; }
    .sesqui-gallery .white-popup img                                                { float: right; max-width: 15vw; margin-left: 1vw;}

    /* AUDIO AND VIDEO */
    .sesqui-gallery .mfp-content .mfp-figure .video-player                          { display: block; height: 360px; margin: 0; padding: 0; width: 640px;}
    .sesqui-gallery .mfp-audio .mfp-close                                           { color: #fff; margin-top: -40px;}
    .sesqui-gallery img.mfp-img                                                     { height: auto; margin:auto; max-height:85%!important; max-width:100%; width:auto; }
    .sesqui-gallery .mfp-figure p.itemTags                                          { margin-top: 0!important;}
    .sesqui-gallery .mfp-figure .itemTag                                            { background: #222!important; color: #ccc!important;}
    
    /* .mfp-bottom-bar */
    .sesqui-gallery .mfp-video .mfp-bottom-bar, 
    .sesqui-gallery .mfp-audio .mfp-bottom-bar                                      { margin-top: 10px;}
    .sesqui-gallery .mfp-bottom-bar>*                                               { color: #fff!important; display: block; line-height: 110%;}
    .sesqui-gallery .mfp-title                                                      { font-size: 18px; margin-bottom: 10px;}
    .sesqui-gallery .mfp-description                                                { color: #ccc!important; font-size: 14px; margin-bottom: 10px;}
=
    
/* MOBILE QUERIES */
@media (max-width: 768px){
    .sesqui-gallery .white-popup{
        width: 99vw;
    }
}