/* CUSTOM TIMELINE.CSS */

/*body{
	background: #fff;
}*/

/* TIMELINE WRAPPER */
/*#timeline_wrapper{
	margin-top: 185px;
	background: #fff;
}
	@media (max-width: 768px){
		#timeline_wrapper{
			margin-top: 70px;
		}
	}
	#my-tab-content #timeline_wrapper{
		margin-top: 0px!important;
	}*/

/* DISPLAY TAGS */
/*#display_tags,
#multiselect_container {
	padding: 1em;
}		

#display_tags .btn,
#display_tags .btn:hover,
#display_tags .btn:active {
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}*/

/* INPUT BOXES */
#multiselect_container #inputSchools_container button,
#multiselect_container #inputSchools_container button:hover,
#multiselect_container #inputSchools_container button:active{
	background: #b6954b!important;
	border-color: #9b7f3f;
	color: #fff;	
}

#multiselect_container #inputTags_container button,
#multiselect_container #inputTags_container button:hover,
#multiselect_container #inputTags_container button:active{
	background: #b31b1b!important;
	border-color: #911616;
	color: #fff;	
}

@media (max-width: 768px){
	#inputSchools_container .pull-right{
		right: auto;
		left: 0;
	}
}

/* TAGS */
#display_tags .btn-inputSchools,
#display_tags .btn-inputSchools:active{
	background: #a2a2a2!important;
	border-color: #8e8e8e;
	color: #535353;
	font-weight: bold;
}

#display_tags .btn-inputTags, 
#display_tags .btn-inputTags:active{
	background: #c9c9c9!important;
	border-color: #b5b5b5;
	color: #7a7a7a;		
	font-weight: bold;
}
	 
#display_tags .btn:hover{
	opacity: 0.5;	
}

#display_tags .btn:after {
	content: " x";
	content: "\f00d";
	margin-left: 5px;
	font-family: "FontAwesome";
}

#multiselect_container label{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

#multiselect_container input.form-control[type=text]{
	display: inline-block;
	width: auto;
	margin: 0 2px;
	padding: 8px 10px 10px 10px;
	height: auto!important;
	border-collapse: collapse;
}

/* TIMELINE TAGS */
/*.entryTags>span{
	font-size: 14px;
	padding: 0.25em 1em;
	background: #f1f1f1;
	border-radius: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
	font-family: "freight-sans-pro",sans-serif;
	cursor: none;
	display: inline-block;
}
	.entryTags>span:hover{
		background: #e9e9e9;
	}*/

/*#redrawButton{
	background: #6eb43f;
	border: 2px solid #5c9735;
}*/
#filter_menu i.fa{
	padding-right: 0;

}
	#filter_menu .btn-info{
		background: #444;
		border: 2px solid #222;
	}

/* MEDIA QUERIES */
@media (min-width: 768px){
	#display_tags .btn{
		margin-left: 1em;
	}
}

@media (max-width: 767px){
	#display_tags{
		margin-top: 1em;
	}
	#display_tags .btn{
		margin-bottom: 1em;
		margin-left: 1em;
	}

	#multiselect_container input[type=text]{
		width: 100%!important;
		margin-bottom: 2em!important;
	}


}

#redrawButton {
	display: none;
}




