body {background-color: #fbfbfb;}
#wrapper { }
#cu-brand { height:120px; display:block; margin-bottom:40px; } 
#cu-identity-wrap {background-color: #fbfbfb;}
#header { font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; font-size:30px; text-align:center; color:#B31b1b; padding:40px 0 0;  background-color: none;  }
#header h1 span { color:#b6954b; }

#content {  border:1px solid #e0e0e0; margin-bottom:200px;  max-width: 970px; -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.06);
-moz-box-shadow: 0 2px 0 rgba(0,0,0,0.06);
box-shadow: 0 2px 0 rgba(0,0,0,0.06);
background-color: #fff; }

#wrapper,#cu-identity-content { max-width:970px; }
#searchClickWrap { width:970px; }

#top { margin-bottom:10px; }
#right-top { border-left:1px solid #e0e0e0; } 
#top h3 { font-size:14px; text-transform:uppercase; color:#b31b1b; }
#top button { font-size:13px; line-height:50px; background:#3787b0; color:#FFF; text-transform:uppercase; border:none; padding:0px 20px; } 
/*#top input {  font-size:13px; padding:15px 4px; border:1px solid #e0e0e0; width:310px; }*/ 
#right-top input { width:310px; }
#top form { margin-bottom:20px; }
#right-top h3:first-child, #left-top h3:first-child { margin-top:0; }
#left-top { padding-left:0px; padding-right:40px; }
#right-top { padding-left:40px; padding-right:0px; }

#bottom { background-color: transparent; color:#222; <!---  border-top:4px solid #b6954b; --->  padding:50px 0;  } 

#bottom h2 {  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; font-size:24px; margin:0px 0 20px 0;  }
#right-bottom { text-align:center; } 
#left-bottom { font-size:14px; }
#left-bottom h4 { color:#b6954b; margin-bottom:0; }
#right-bottom h3 { font-size:16px; font-family: Helvetica, Arial, "Trebuchet MS",  sans-serif }

#left-bottom tr td { padding:3px 0; }
#left-bottom tr td:first-child { width:180px; }

#top, #bottom { padding:40px; }
 table {margin-bottom: 20px;}
#share-content { width:400px; }
#yellow-line { display:block; height:4px; background:#b6954b; margin:40px 0 20px 0; }


body { background:none }
html { 
  background: url(http://cornellbeta.univcomm.cornell.edu/assets/images/about/chimes-1200x675.jpg) no-repeat center center fixed; 
	 background: url(/assets/images/campus.jpg) no-repeat center center fixed;   
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#cu-identity-wrap {background-color: transparent;} 
.overlay {
z-index: 10;
height: 100%;
width: 100%;
position: fixed;
overflow: auto;
top: 0px;
left: 0px;
background: rgba(0, 0, 0, 0.82); 
}

#insignia-link {background-image: url(https://dev.150.cornell.edu/assets/images/cornell/logo-white.svg);}	


button, input {
line-height: normal;
}
button, input, select, textarea {
font-family: inherit;
font-size: 100%;
margin: 0;
vertical-align: baseline;
}

input.cu-input, textarea.cu-textarea {
-webkit-transition-property: color;
-moz-transition-property: color;
-o-transition-property: color;
transition-property: color;
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
transition-duration: 0.5s;
-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
-moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
-o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
-webkit-transition-delay: 0s;
-moz-transition-delay: 0s;
-o-transition-delay: 0s;
transition-delay: 0s;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
font-family: "freight-sans-pro-n3","freight-sans-pro",sans-serif;
font-style: normal;
font-weight: 300;
background-color: #fbfbfb;
border: 1px solid #e6e6e6;
font-size: 18px;
margin-bottom: 18px;
padding: 14px 12px;
position: relative;
width: 100%;
-webkit-appearance: none;
}

label {
clear: both;
color: #252b2c;
display: block;
font-size: 18px;
margin: 0 0 6px;
position: relative;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
-webkit-appearance: button;
cursor: pointer;
}
.btn, a.btn {
-webkit-transition-property: background-color;
-moz-transition-property: background-color;
-o-transition-property: background-color;
transition-property: background-color;
-webkit-transition-duration: 0.2s;
-moz-transition-duration: 0.2s;
-o-transition-duration: 0.2s;
transition-duration: 0.2s;
-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
-moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
-o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
-webkit-transition-delay: 0s;
-moz-transition-delay: 0s;
-o-transition-delay: 0s;
transition-delay: 0s;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;
border-radius: 0;
font-family: "freight-sans-pro-n7","freight-sans-pro",sans-serif;
font-style: normal;
font-weight: 700;
letter-spacing: 1px;
text-transform: uppercase;
background-color: #3787b0;
border: none;
color: #fff;
display: block;
font-size: 14px;
padding: 18px;
line-height: 18px;
text-align: center;
-webkit-appearance: none;
}

.inline { display:inline-block; }

p.bg-success { padding:8px; }


/*1 col styles for mobile width */
@media (max-width: 991px) { 
	#left-top, #right-top { padding:0 15px; border:none; }
	#left-top { padding-bottom:40px; }
	#left-top btn { margin-left:40px;} 
	#top,#bottom { padding:0; margin:0; }
	#left-bottom { text-align:center }
	#left-bottom tr td:first-child { width:50%; }
	#left-bottom table { width:100%; }
	#left-bottom h3 { text-align:left }
	#right-bottom { margin-top:40px; } 
}

@media (max-width: 525px) { 
	#right-top cu.input { width:210px; }
	#share-content { width:100% }
}

