.participate .serif{
	font-family: "freight-text-pro",serif;
}

.participate .gold{
	color: #b6954b!important;
}

.participate p.large{
	font-size: 1.75em;
	font-family: 'freight-text-pro',serif;
	color: #333;
	font-weight: 300;
	line-height: 150%;
}

/* BUTTONS */
.participate .participatebuttons{
	margin: 3em auto;
}
	/* CREATE CIRCLE */
	.participate .buttonCol:before{
		content:"";
		display: block;
		padding-top: 100%;
	}
	.participate .buttonCol{
		position: relative;
	}
		.participate .buttonCol>.content{
			text-align: center;
			padding-top: calc( (100% - 180px) / 2 )!important;
			margin: 0;
			font-size: 24px;
			font-weight: 200;
			color: #333;
			border-radius: 50%;
			background: #f8f8f8;
			position: absolute; top: 0; bottom: 0; right: 15px; left: 15px;
			display: table-cell;
			vertical-align: middle;
			border: dotted thin #ccc;
		}
			.
			.participate .buttonCol>.content>a>img{
				margin-bottom: 0.25em;
			}

		.participate .buttonCol.active>.content{
			border-color: #aaa;
			background: #fff;
		}

		.participate .buttonCol:hover>.content{
			background: rgba(255,255,255,0.5);
			border: dotted thin #aaa;
		}

		.participate .buttonCol>.content>a>img{
			height: 115px;
			margin-bottom: 10px;
		}

		.participate .buttonCol>.content>a{
			display: block;
			padding: 10px 0; margin: 0;
			color: #b31b1b;
			text-decoration: none;
			font-size: 18px;
			font-weight: 500;
			font-family: 'freight-text-pro',serif;
		}

		.participate .buttonCol>.content>a>i{
				font-size: 16px;
				font-weight: 300;
			}

.participate small{
	color: inherit; 
	font-weight: inherit;
	line-height: 100%;
}

.participate .row>div>ol{
	padding-left: 1em
}

	.participate .instructions>.row{
		padding: 1em 0;
		border-bottom: thin solid #e9e9e9;
	}

.participate .instructions p{
	margin-bottom: 10px;
}
