/* REGIONAL CELEBRATIONS CSS */

/*
** OVERRIDES
*/
.regional #wrapper p, .regional #wrapper li{
	color: #555;
}

.regional #wrapper hr{
	left: 0; 
	margin: 2em 0!important;
	padding: 0!important;
	width: 100%;
}

.regional #wrapper a{
	color: #3787b0;
	text-decoration: underline;
}

.regional #wrapper{
	padding-bottom: 0;
}

/*
** FULL BACKGROUND
*/
.regional.full-bg{
	background-position: center center;
	background-size: cover;
}

/*
** HEADER
*/
.regional header#page-title{
	position: relative;
	background: transparent;
	margin-bottom: 0;
	padding: 5em 0;
	position: relative;
}
	.regional header>.overlay{
		background: rgba(0,0,0,0.5);
	}

	/* CELEBRATE THE SESQUICENTENNIAL HEADING */
	.regional header#page-title h1{
		text-shadow: 1px 1px 0px #000, 0px 0px 30px #000;
		color: #fff;
		font-family: "freight-text-pro",serif;
		font-size: 4em;
		font-weight: 100;
	}
		/* in CITY NAME */
		.regional header#page-title h1>.city{
			color: #e2d5b7;
			font-style: italic;
		}

		/* MEDIA QUERY FOR CITY NAME */
		@media (min-width: 768px){
			.regional header#page-title h1>.city{
				bottom: 0;
				position: absolute;
				right: 0;
			}
		}

	/* HEADER DETAILS: DATE, LOCATION */
	.regional header#page-title .hdr-details h3{
		font-size: 1.25em;
		line-height: 125%; margin: 0;
		padding: 0;
		text-transform: uppercase;
		color: #fff;
		text-shadow: 1px 1px 0px #000;
	}
		.regional header#page-title .hdr-details h3.date{
			font-weight: 500;
			margin-top: 2em;
		}
			.regional header#page-title .hdr-details h3.date>.highlight{
				color: #e2d5b7;
			}
			.regional .red{
				color: #b31b1b;
			}

	.regional header#page-title .hdr-details p{
		color: #fff;
		font-size: 1.125em;
		line-height: 150%;
		margin-top: 2em;
		margin-bottom: 0;
		width: 75%;
		font-weight: 100;
		text-shadow: 1px 1px 0px #000;
	}
	/* OVERLAY */
	.regional header#page-title .page-title-overlay{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: #000;

	}
/* 
** WRAPPER
*/
.regional #wrapper{
	background-color: transparent;
}

.regional .slideshow-wrapper{
	background: #111; 
	padding: 2em 0; 
	border-top: thin solid #222;
}

/*
** GOLD BANNER: COME KICK UP YOUR HEELS
*/
.regional .goldbanner{
	background: #b6954b;
	color: #e3d7bb;
	font-family:"freight-text-pro",serif;
	margin-bottom: 40px;
	padding: 1em 0;
	text-align: center;
}
	@media (max-width: 768px){
		.regional .goldbanner{
			margin-bottom: 0;
		}
	}
	.regional .goldbanner h2{
		color: #e3d7bb;
		font-family: "freight-text-pro",serif;
		font-size: 1.5em;
		font-weight: 300;
		letter-spacing: 1px;
		line-height: 100%; margin: 0;
		padding: 0;
	}

/* EVENTS */
.regional .goldbanner ul.nav-pills li>a{
	font-size: 1em;
	text-decoration: none;
	color: #6e5a2d;
	font-family: "freight-sans-pro",sans-serif;
	font-weight: 500;
	letter-spacing: 1px;
}
	.regional .goldbanner ul.nav-pills li.active>a{
		background: #6e5a2d;
		color: #fff;
	}

	.regional .goldbanner ul.nav-pills li:hover>a{
		background: #6e5a2d;
		color: #fff;
		opacity: 0.5;
	}
		.regional .goldbanner ul.nav-pills li.active:hover>a{
			background: #4a3c1e;
			opacity: 1;
		}

/*
** BIG IDEA IMAGE
*/
.regional #bigIDEA{
	text-align: center;
}
.regional #bigIDEA img{
	width: 75%;
	margin: auto;
}
	@media (max-width: 1200px){
		.regional #bigIDEA img{
			max-width: 200px;
			display: block;
			margin: auto;
			margin-bottom: 1em;
		}
	}

	@media (max-width: 786px){
		.regional #bigIDEA{
			margin-top: 1em;
		}
	}


/*
** COMMENTARY
*/
.regional .commentary{
	text-align: center;
}
.regional .commentary *{
	font-family: "freight-text-pro",serif;
}	
	.regional .commentary h1, .regional .commentary h2, .regional .commentary h3, .regional .commentary p, .regional .commentary ul, .regional .commentary li{
		text-align: left;
	}

	.regional .commentary p{
		margin: 1em 0;
		line-height: 125%;
	}
	.regional .commentary ul{
		margin: 0 auto;
	}

/* 
** EVENT DETAILS
*/
.regional .container.detail-wrapper{
	padding-bottom: 1em;
	margin-bottom: 1em;
	font-size: 16px;
}
	.regional .container .detail-wrapper .inner-detail-wrapper{
		padding-bottom: 1em;
	}

	.regional .detail-wrapper h3{
		color: #3787b0;
		font-family: "freight-text-pro",serif;
		font-size: 1.25em;
		font-weight: 500;
		line-height: 100%;
		margin: 0 0 0.5em 0;
		padding: 0;
	}

	.regional .detail-wrapper .intro h3{
		border-bottom: 1px solid #e3d7bb;
		color: #b6954b;
		display: block;
		font-family: "freight-text-pro",serif;
		font-size: 20px;
		font-style: italic;
		font-weight: 300;
		margin-bottom: 1em;
		padding-bottom: 0.5em;
		width: 96%;
	}

	.regional .detail .inner{
		margin-bottom: 2em;
		position: relative;
	}
		.regional .detail .inner:last-child{
			margin-bottom: 0;
		}

		.regional .detail .inner a.btn{
			color: #fff!important;
			text-decoration: none!important;
		}

		.regional .detail b{
			font-weight: 500;
		}

	.regional .detail h3{
		color: #b31b1b;
		font-family: "freight-sans-pro",serif;
		font-weight: 600;
		text-transform: uppercase;
	}

	.regional .detail p{
		line-height: 150%;
	}

/*
** SIDEBAR-DETAILS
*/
@media(min-width: 1200px){
	.regional .sidebar-details{
		margin: 2.5em 0;
		padding: 0;
	}
}

.regional .sidebar-details h2, 
.regional .sidebar-details h3,
.regional .sidebar-details h4{
	color: #3787b0;
	font-family: "freight-sans-pro",serif;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 125%;
	margin: 0!important;
	padding: 5px 0;
	text-align: left;
	text-align: center;
	text-transform: uppercase;
}	
	.regional .sidebar-details h2{
		font-size: 1.5em;
	}
	.regional .sidebar-details h3{
		font-size: 1.25em;
	}
	.regional .sidebar-details h4{
		font-size: 1.125em;
	}


/*
** GLOBAL STYLES
*/

.regional .time{
	color: #333;
	font-weight: 500;
	line-height: 125%;
	margin: 0;
	padding: 0;
}
.regional .loc{
	margin: 0;
	margin-left: 1em;
	padding: 0;
}

.regional a.btn{
	font-family: "freight-sans-pro",serif;
	background-color: #3787b0!important;
	border: 0;
	border-radius: 0;
	color: #fff!important;
	font-size: 0.95em;
	font-weight: 600;
	text-transform: uppercase;
	text-decoration: none!important;
}	

	.regional a.btn.btn-gold{
		background: #b6954b!important;
		margin: 2em auto;
		width: 50%;
	}

	@media (min-width: 1200px){
		.regional .inner .btn-default{
			width: 25%;
		}
	}
	.regional .btn-default:hover{
		opacity: .75;
	}
	.regional .btn-default.btn-disabled{
		background-color: #ccc !important;
		color: #999;
		cursor: not-allowed;
	}
		.regional .btn-default.btn-disabled:hover{
			opacity: 1;
		}

.regional .btn-right{
	position: absolute;
	right: 0;
	top: 0;
}

/* 
** MAP
*/
.regional .map{
	display: block; 
	height: 350px; 
	width: 100%;
}

@media (max-width: 1200px){
	.regional .map{
		margin: 1em 0;
	}
}


/* DON'T FORGET TO WEAR RED */
#dontforgetyourred{
	background: #b31b1b;
	padding: 2em 0;
	text-align: center;
}

/*
** REGIONAL EVENTS CALENDAR ICONS
*/
.regional #eventslist{
	background: #000;
}	
	@media (min-width: 768px){
		.regional #eventslist{
			padding-top: 2em;
		}
	}
	.regional #eventslist h2{
		font-family: "freight-text-pro",serif;
		color: #b6954b;
		margin: 0.5em 1em 0.5em 1em;
		font-style: italic;
		border-bottom: thin solid #6e592d;
	}
.regional .cal-row{
	color: #fff;
	display: block;
	height: auto;
	margin-bottom: 0.25em;
	padding: 0.5em 0;
	display: table;
	border-collapse: separate;
  	border-spacing: 10px;
	width: 100%;
}
	.regional .cal-row h3{
		color: #fff;
		margin: 0;
		padding: 0;
		vertical-align: middle;
	}

	.regional .cal-row .cal-icon{
		background: #fff;
		color: #000;
		display: table-cell;
		height: 70px;
		position: relative;
		width: 70px;
		margin-right: 10px;
		border-radius: 10px;
		box-shadow: 0px 2px 0px rgba(0,0,0,1);
		overflow: hidden;
	}	
		.regional .cal-icon .month, .regional .cal-icon .day, .regional .cal-icon .year{
			display: block;
			width: 100%;
			text-align: center;
			position: absolute;
			line-height: 100%;
		}
		.regional .cal-icon .month{
			background: #b6954b;
			color: #e3d7bb;
			font-size: 12px;
			font-weight: 500;
			margin: 0;
			padding: 5px 0;
			text-transform: uppercase; 
			top: 0;
		}

		.regional .cal-icon .day{
			top: calc(50% - 18px);
			color: #333;
			font-size: 30px;
			padding: 4px 0;
		}

		.regional .cal-icon .year{
			bottom: 0;
			color: #333;
			font-size: 12px;
			padding: 2px 0;
		}

	.regional .cal-row .cal-city{
		padding: 0 1em;
		vertical-align: middle;
		text-align: left;
		display: table-cell;
	}
		.regional .cal-row .cal-city h3{
			font-size: 1.5em;
			font-family: "freight-text-pro",serif;
			letter-spacing: 1px;
			font-weight: 300;
			/*text-shadow: 1px 1px 1px #000, 0px 0px 5px #000, 0px 0px 30px #000, 0px 0px 50px #000, 0px 0px 70px #000;*/
		}

		.regional .cal-row .cal-city h3 .red{
			font-family: "freight-sans-pro",sans-serif;
			text-transform: uppercase;
			font-size: 0.9em;
			line-height: 100%;
		}

		.regional .cal-row .cal-city .registration{
			padding: 0;
			margin: 0;
			color: #6e592d;
			text-transform: uppercase;
		}
			.regional .cal-row .cal-city .registration.open,
			.regional .cal-row .cal-city .registration a{
				color: #b6954b;
				text-decoration: none;
			}

/*
** Co-Chairs and Advisors
*/
.regional #cochair-advisors{
	background: #000;
	padding: 2em;
	display: none;
}
	.regional #cochair-advisors h3{
		color: #fff;
	}

	.regional #cochair-advisors li,
	.regional #cochair-advisors ul{
		color: #fff;
		list-style-type: none;
		padding: 0;
		margin: 0;
		line-height: 150%;
	}

/* EVENTS LIST */
#events-list .month, #events-list .day, #events-list .year,
#events-list h4, #events-list h2, #events-list .availability, #events-list .times{
	padding: 0;
	margin: 0;
	line-height: 100%;
}
	#events-list .month, #events-list .day, #events-list .year{
		text-align: center;
	}
	#events-list .availability, #events-list .times{
		text-align: right;
	}

	#events-list p{
		font-size: 14px;
	}
	#events-list p.eventCity, .heading h3, #events-list .month{
		font-family: "freight-text-pro",serif!important;
		font-weight: 300!important;
	}
		.heading h3{
			font-size: 2.25em!important;
			color: #333!important;
		}

	#events-list p.eventTitle{
		font-size: 1.125em;
		font-weight: 100;
		padding: 0;
		margin: 0;
	}

	#events-list p.eventCity{
		font-size: 2em;
		font-weight: 100;
		padding: 0;
		margin: 0;
		color: #333;
	}
		#events-list p.eventCity>a{
			color: #333;
		}
	
	#events-list{
		margin-bottom: 2em;
	}
	@media (max-width: 768px){
		#events-list{
			margin: 0;
			padding: 0;
		}
	}
	/* DATE */
	#events-list .month{
		color: #b6954b;
		font-size: 1.25em;
	}

	#events-list .day{
		color: #806934;
		font-size: 2.5em;
		line-height: 100%;
		font-family: "Merriweather",serif;
		font-weight: 100;
		letter-spacing: -1px;
		position: relative;
	}
		#events-list .day .amp{
			font-size: 0.5em;
			position: absolute;
			bottom: 0;
			left: 44%;
			opacity: 0.5;
		}

	#events-list .year{
		color: #b6954b;
		font-style: normal;
		line-height: 100%;
		opacity: 0.5;
	}

	/* AVAILABILITY, TIMES, ETC. */
	#events-list p.availability{
		padding: 0.5em 0;
	}
	#events-list .availability>a{
		text-decoration: none;
		font-style: normal;
		font-weight: 500;
		color: #b6954b;
		padding: 0.25em 1em;
		background: #f1eadb;
		text-transform: uppercase;	
		border-radius: 10px;	
	}
		#events-list .availability>a:hover,
		#events-list .availability>a.soon{
			opacity: 0.5;
		}

	#events-list p.times{
		line-height: 125%;
		font-weight: 300;
		color: #777;
	}
		#events-list p.times>.sold-out:before{
			content: " Sold out";
			font-weight: 600;
			color: #b31b1b;
			text-transform: uppercase;
			font-style: normal;
			margin: auto 5px;
		}
	@media (max-width: 1198px){
		#events-list p.times{
			display: none;
		}

		#events-list .day{
			font-size: 20px;
		}

		#events-list .day .amp{
			left: 52%;
		}
	}
	@media (max-width: 992px){
		#events-list h4,
		#events-list .availability>a
		{
			font-size: 10px;
		}

		#events-list h2{
			font-size: 22px;
		}


	}

/* EVENTS MENU */
.events-main .row{
	background: #fff;
	margin-bottom: 1em;
	border-bottom: thin solid #e2d5b7;
}
	.events-main .row.no-bg{
		background: transparent;
		border-bottom: 0;
	}

	.events-main .row>div{
		padding: 1em;
	}

		.events-main .row>.date{
			background: #f8f5ee;
		}

	.events-main .heading p{
		font-family: "freight-text-pro",serif;
		font-size: 1.5em;
		margin: 1em 0;
		font-weight: 100;
	}

	.events-main a{
		text-decoration: none!important;
	}
	.events-main a:hover{
		text-decoration: underline!important;
		color: #333!important;
	}

/* EVENTS MENU UPPER STYLES*/
.events-menu ul, .events-menu li{
	padding: 0;
	margin: 0;	
	list-style-type: none;
	position: relative;
}
	.events-menu .navbar-collapse{
		padding: 0;
		margin: 0;
		max-height: initial;
	}

	.events-menu .mobile-header{
		padding: 1em;
		background: #fff;
		text-transform: uppercase;
		border-bottom: thin solid #ccc;
		font-weight: 500;
	}
		.events-menu .mobile-header button.navbar-collapse{
			position: absolute;
			right: 1em;
			color: #888;
		}

	@media (max-width: 768px){
		.events-menu{
			padding-left: 0;
			padding-right: 0;
		}

		.col-sm-3.col-sm-push-6, .col-sm-6.col-sm-pull3{
			padding-top: 1em;
			padding-bottom: 1em;
		}
	}

.events-menu ul{
	background: #fff;
}
	/* LIST ITEMS */
	.events-menu ul li a{
		padding: 1em 0.5em;
		font-weight: 500;
		text-transform: uppercase;
		text-decoration: none!important;
		font-size: 14px;
		line-height: 150%;
		color: #333!important;
		display: block;
		letter-spacing: 1px;
		position: relative;
	}
		.events-menu li.active a:after{
			content: "\f105";
			font-family: "FontAwesome";
			position: absolute; 
			right: 0.5em;
		}
		.events-menu>div>ul>li>a,
		.events-menu>div>ul>li>ul>li{
			border-bottom-width: thin;
			border-bottom-style: solid;
			border-bottom-color: rgba(51,51,51,0.125);
		}

		.events-menu>div>ul>li.active>a,
		.events-menu>div>ul>li:hover>a,
		.events-menu>div>ul>li.active-parent>a{
			font-weight: 600;
		}

		/* SUBNAV */
		.events-menu li>ul{
			display: none;
			background: #f7f7f7;
		}

			.events-menu li>ul>li>a{
				padding-left: 1.25em;
				font-size: 13px;
			}
				.events-menu li>ul>li:hover{
					background: #f0f0f0;
				}
					.events-menu li>ul>li:hover>a>*{
						color: #333;
					}
					.events-menu li>ul>li.active{
						background: #f1f1f1;
					}

			.events-menu li>ul>li>a>.date{
				width: 75px;
				display: inline-block;
				color: #000;
				font-weight: 400;
			}

			.events-menu li>ul>li>a>.city{
				color: #777;
			}

		/* ACTIVE SUBNAV */
		.events-menu li.active-parent>ul{
			display: block;
		}

img.full-width{
	width: 100%;
}

			