			/*general formatting */
			html,body { height:100%; }
			body { background:#FFF url(../images/interim-bg.jpg) center top repeat-x;
			font-family:"freight-sans-pro-n7","freight-sans-pro",sans-serif;font-style:normal;font-weight:500} 
			
			h2, h3 {font-family:"freight-text-pro",serif; font-weight:400;}
			h2 { font-size:26px; line-height:26px; color:#a3a3a3;}
			h3.celebration-title {font-weight: 500; font-family:"freight-sans-pro-n7","freight-sans-pro",sans-serif;font-style:normal; font-size:18px; color: #eee; margin: 0 50px 30px; line-height: 1.5em;}
			
			
			
			.ribbon { background:url(../images/tip.png) no-repeat top left; padding-left:44px; min-height:38px; margin-bottom:14px; width:auto !important; display:inline-block; }
			
			#cu-brand { padding-top:30px; padding-bottom:30px; }
			
			/*insignia*/
			a#insignia-link { top:auto; left:auto; position: static; display:block; height:75px; width:75px; background-size:75px 75px; }
			
			/*header*/
			#header h1 { font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif; font-size:22px; text-align:center; color:#B31b1b; padding:0; margin:0;  background-color: none; text-align:right; line-height:22px;  vertical-align:middle; margin-top:12px; }
			#header h1 span { color:#b6954b; }
			#header a, #header a:hover{ text-decoration: none!important;}
			
			/*responsive photo, top left */
			#photo { padding:0 !important; }
			.photo-row { background:#e6e6e6; }
			
			/*schedule section */
			.schedule-row { background:#222; margin-bottom: 20px;}
			#schedule {background: #222; text-align:center; padding-top:20px; padding-bottom:40px; }
			#schedule tr td, #countdown tr td { width:100% !important; display:block; text-align:ccenter; }

			
			
			 .cityName { color:#a08571; font-size:22px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; text-align:center;line-height: 35px; }
			 .eventDate { font-family:Arial, Helvetica, sans-serif; color:#fff; font-size:14px; text-align:center; line-height:22px; padding-bottom:18px;  } 
			 .dot, #schedule tr td.dot, #countdown tr td.dot { text-align:center; width:24px; color:#fff; font-size:22px; line-height:22px; vertical-align:middle; display:none; }
			#schedule .hc { font-size:14px; color:#b31b1b; line-height:22px; font-weight:bold; vertical-align:middle; display:inline-block; width:auto; }
			
			/*countdown section */
			#countdown { background:#222;  color:#eee; text-align:center; min-height:295px;  }
			#countdownclock{ background: #000; color: #eee; text-align: center}
			#countdown h4, #countdownclock h4 { margin-bottom:10px; text-align:center; display:inline-block;color: #a3a3a3; font-family:"freight-text-pro",serif; font-weight:400;}
			.countdown { width:100%; margin:0 auto;  }
			.countdown-amount { font-size:175% }		
			.countdown-period { font-size:.8em; }
			.countdown-section { padding:10px 0; } 	
			.countdown-show4 .countdown-section { width:24% }
			.countdownwrapper{ padding: 2em 0;}
			
			.intro-row { background:#e6e6e6; } 
			.form-row {background-color: #ddd;}
			
			h3.charter-title {font-weight: 500; font-family:"freight-sans-pro-n7","freight-sans-pro",sans-serif;font-style:normal;}
			ul.charter {text-align: left; margin: 20px 60px; padding-left: 15px; }
			ul.charter li {margin-bottom: 10px; font-size: 1.1em;}
			ul.charter em {font-style: normal; font-weight: bold}
			#countdown p {text-align: left; margin-left: 60px;}
			
			/*forms section */
			form div { text-align:center; } 
			.forms { padding-top:15px; padding-bottom:35px; padding-left:25px; padding-right:25px; }
			.forms p { padding-bottom:20px; font-size: 1.2em; }
			/*#forms form { margin-top:20px; }*/
			#loading { display:none; background:#222; opacity:.5; min-height:100%; min-width:100%; } 
			
			.forms h3 { font-size:14px; text-transform:uppercase; color:#b31b1b; font-weight: 700; font-family:"freight-sans-pro-n7","freight-sans-pro",sans-serif;font-style:normal;}
			
			button, input {
			line-height: normal;
			}
			
			button, input, select, textarea {
			font-family: inherit;
			font-size: 100%;
			margin: 0;
			vertical-align: baseline;
			}
			
			input.cu-input, textarea.cu-textarea {
			-webkit-transition-property: color;
			-moz-transition-property: color;
			-o-transition-property: color;
			transition-property: color;
			-webkit-transition-duration: 0.5s;
			-moz-transition-duration: 0.5s;
			-o-transition-duration: 0.5s;
			transition-duration: 0.5s;
			-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			-moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			-o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			-webkit-transition-delay: 0s;
			-moz-transition-delay: 0s;
			-o-transition-delay: 0s;
			transition-delay: 0s;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			-ms-border-radius: 0;
			-o-border-radius: 0;
			border-radius: 0;
			font-family: "freight-sans-pro-n3","freight-sans-pro",sans-serif;
			font-style: normal;
			font-weight: 300;
			background-color: #fbfbfb;
			border: 1px solid #e6e6e6;
			border:none;
			font-size: 18px;
			<!---margin-bottom: 18px;--->
			padding: 14px 12px;
			width: 100%;
			-webkit-appearance: none;
			}

			label {
			clear: both;
			color: #252b2c;
			display: block;
			font-size: 18px;
			margin: 0 0 6px;
			position: relative;
			}
			
			button, html input[type="button"], input[type="reset"], input[type="submit"] {
			-webkit-appearance: button;
			cursor: pointer;
			}
			.btn, a.btn {
			-webkit-transition-property: background-color;
			-moz-transition-property: background-color;
			-o-transition-property: background-color;
			transition-property: background-color;
			-webkit-transition-duration: 0.2s;
			-moz-transition-duration: 0.2s;
			-o-transition-duration: 0.2s;
			transition-duration: 0.2s;
			-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			-moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			-o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			-webkit-transition-delay: 0s;
			-moz-transition-delay: 0s;
			-o-transition-delay: 0s;
			transition-delay: 0s;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			-ms-border-radius: 0;
			-o-border-radius: 0;
			border-radius: 0;
			font-family: "freight-sans-pro-n7","freight-sans-pro",sans-serif;
			font-style: normal;
			font-weight: 700;
			letter-spacing: 1px;
			text-transform: uppercase;
			background-color: #3787b0;
			border: none;
			color: #fff;
			display: block;
			font-size: 14px;
			padding: 18px;
			line-height: 18px;
			text-align: center;
			-webkit-appearance: none;
			vertical-align:top;
			}
			
			#share-content { width:75%; margin:0 auto; }
			
			input.cu-input { width:228px; display:inline-block; margin-right:0px; vertical-align:top; }
			#submit-email { display:inline-block; margin-left:0; vertical-align:top;  }
			#email { height:54px;  }
			
			/*footer */
			#footer { text-align:center; padding-top:32px; padding-bottom:48px; }
			
			select[multiple], select[size] {
				height: 34px;
			}
			
			#intro-row { background:#e6e6e6; } 
			#intro-text {padding: 25px;}
			#intro-text h2 { font-family:"freight-text-pro-i4","freight-text-pro",serif;font-weight:400; font-size:32px; text-align:center; color: #222;}
			#intro-text h3{ font-family:"freight-text-pro",serif; font-weight:400; color:#222; font-size:22px; font-style:italic; color:#b6954b;  text-align:center; margin-bottom:30px; }
			
			#intro-text p { font-size:1.3em; margin-top: 20px;} 
			/*responsive image sizing*/
			/*@media (min-width: 992px)
			  .col-md-6 {
				 #photo { min-height:;min-width:485px; }
			  }*/
			  			  
			  
			  /*first breakpoint (col-sm) - single column, tablet size*/
			  @media (min-width: 768px) { 
			  	a#insignia-link { width:120px; height:120px; background-size:120px; }
				#header h1 {  font-size:32px;  line-height:120px; }	
				.countdown-amount { font-size:300% }			
				.countdown-show4 .countdown-section { width:24.5% }
				#schedule tr td , #countdown tr td { padding-bottom:4px;  display:table-cell; }
				#schedule table { width:100% }
				.dot, #schedule tr td.dot, #countdown tr td.dot{ display:table-cell; width:24px !important; }
				 #schedule tr td.eventDate, #countdown tr td.eventDate { text-align:left; width:348px !important }
				 #schedule tr td.cityName, #countdown tr td.cityName { text-align:right; width:348px !important; }
				.countdown { width:400px; }
				form div { display:block; margin:0 auto; text-align:center; margin-bottom:40px; }
				#email { width:448px; }
			  }
			  
			  /*second breakpoint (col-md) - two column, large tablet/smaller desktop size*/
			  @media (min-width: 992px) { 
				#countdown { padding-top:20px; padding-bottom:50px; }
				#forms { padding-left:50px; padding-right:50px; padding-top:1%; padding-bottom:1%; } 
				form div { text-align:left } 
				#share-content { width:100% }
				input.cu-input, #email { width:293px; }
			  }
			  
			  @media (min-width: 1200px) { 
				input.cu-input, #email { width:393px; }
			  }
		

		/* SESQUI NAV */
		#sesquinavbar.navbar-default{
			border: 0!important;
			background: transparent!important;
			padding: 0;
			margin: 0;
			font-family:"freight-text-pro",serif;
		}

		@media (min-width: 768px){
			#sesquinav ul{
				width: 100%;
				padding: 2em 0;
			}
			#sesquinav li{
				width: 25%;
				text-align: center;
				padding: 1em 2em;
				border-left: thin solid #ccc;
				font-weight: 200;
			}
				#sesquinav li#TellYourStory{
					padding: 1em 4em;
				}
				#sesquinav li:first-child{
					border: 0!important;
				}
				
			#sesquinav li>a{
				color: #222;
				font-size: 1.75em;
				line-height: 125%!important;
			}
			#sesquinav li>a.active{
				color: #b31b1b;
			}
				#sesquinav li>a:hover{
					color: #555;
				}				
		}


		/* INTERIM CITIES */
		#areyouin{
			background: #b6954b;
			padding: 3em 0;
			font-family:"freight-text-pro",serif;
			text-align: center;
		}
			#areyouin h1{
				color: #efe7d7;
				font-size: 3em;
				font-weight: 400;
				padding: 0; margin: 0;
			}

			#areyouin h2{
				color: #e3d7bb;
				font-weight: 400;
				padding: 0; margin: 0;
				line-height: 150%;
				font-size: 1.5em;
			}

			#areyouin h3{
				color: #decfad;
				padding: 0; margin: 0;
				font-size: 1.25em;
			}

		.black-container{
			background: #222;
		}
		

		.btn.city{
			background: #e6e6e6;
			-webkit-box-shadow: none;
			box-shadow: none;
			color: #555;
			border-bottom: 1px solid #CFCFCF;
			text-align: left;
		}
			.btn.city:last-child{
				border: 0;
			}

			.btn.city.active{
				background: #b31b1b;
				color: #fff;
			}
				@media (min-width: 768px){
					.btn.city.active:after{
						right: -54px;
						top: 0;
						z-index: 200;
						margin: 0 auto;
						position: absolute;
						border-style: solid;
						border-width: 27px;
						border-color: transparent transparent transparent #b31b1b;
						content: "";
						height: 0;
						width: 0;
					}
					.btn.city:hover.active:after{
						border-color: transparent transparent transparent #cfcfcf;
					}
				}

			.btn.city:hover{
				color: #222;
				background: #CFCFCF;
			}

		.carnelian{
			color: #b31b1b!important;
		}

		.coming-soon-msg{
			display: none;
			float: right;
		}
		
		#complist,#close{
			cursor: pointer;
		}

			h3#close{
				font-family:'freight-sans-pro',Arial,sans-serif!important;
				font-size: 1.25em!important;
				font-weight: 500;
			}

		#cochair-advisors {
			border-top: 1px solid #ccc;
			background: #000;
			color: #777!important;
			padding-bottom: 2em!important;
			display: none;
		}

			#cochair-advisors ul{
				padding: 0; margin: 0;
			}

			#cochair-advisors li{
				font-size: 1.125em;
				font-weight: 100;
				list-style-type: none;
				padding: 0; margin: 0;
			}

			#cochair-advisors h3{
				color: #777;
				font-size: 1.5em;
			}

			/*@media (min-width: 768px){
				#cochair-advisors .spacer{
					padding-top: 53px!important;
				}
			}*/
			

		#dontforgetyourred{
			text-align: center;
			padding: 2em 0;
			background: #b31b1b;
		}

		.event-details{
			background: #e7e7e7;
		}

			.event-details h2{
				color: #222;
				padding: 0.25em 0; margin: 0;
			}

			.event-details h4{
				font-family:"freight-text-pro",serif; 
				font-weight:400; 
				font-size:18px; 
				font-style:italic; 
				color:#b6954b;  
				padding: 0.25em 0; margin: 0;
				text-transform: none!important;
			}
				.event-details .location{
					padding-top: 1.7em!important;
					padding-bottom: 1.7em!important;
				}
				.event-details .location p{
					padding: 0;
					margin: 0;
					text-transform: uppercase;
					font-weight: bold;
					color: #222;
					font-size: 14px;
					line-height: 16px;
				}

				.event-details .details p,
				.event-details .details span{
					padding: 0; margin: 0;
				}

		.map{
			display: block; width: 100%; height: 550px;
		}
			.row .extra-padding{
				margin-bottom: 3em;
			}


		.no-padding{
			padding: 0!important;
		}

		#sesqui_intro{
			font-family:"freight-text-pro",serif;
		}
			#sesqui_intro p{
				font-size: 1.5em;
				color: #555;
			}
		
			@media (min-width: 768px){
				#sesqui_intro{
					background: url('../images/charterbg.png') #e7e7e7 center center;
					
					-webkit-box-shadow: inset 0px -50px 50px 0px rgba(231, 231, 231, 1);
					-moz-box-shadow:    inset 0px -50px 50px 0px rgba(231, 231, 231, 1);
					box-shadow:         inset 0px -50px 50px 0px rgba(231, 231, 231, 1);
				}
				#sesqui_intro #cornellseal img{
					width: 90%;
				}

				#sesqui_intro>div{
					padding-top: 3em!important;
					padding-bottom: 3em!important;
				}
			}

			@media (max-width: 768px){
				#sesqui_intro{
					background: #e7e7e7;
				}
				#sesqui_intro>div{
					padding-top: 1em!important;
					padding-bottom: 1em!important;
				}
				#sesqui_intro #cornellseal{
					text-align: center;
				}
				#sesqui_intro #cornellseal img{
					width: 40%;
					margin: auto!important;
					text-align: center
				}
			}
			
			
			





