/*sesqui.css 
  styles for 150.cornell.edu 
*/

/*GENERAL FORMATTING*/
body,html { font-family: "freight-sans-pro-n7","freight-sans-pro",sans-serif;  }

/*#wrapper { padding:160px 0 90px 0; } */
#wrapper { padding:175px 0 90px 0; } /* UPDATED FOR LARGER TOP NAV */

h1, h2, h3, h4, h5, h6, p, ul, ul li { font-family: "freight-sans-pro-n7","freight-sans-pro",sans-serif;  }

/*--------------------------------------------------------------------------------*/
/*HEADER*/

/*header#topNav div.nav-main-collapse { margin-top:8px;; }*/


#header_shadow { display:none; }

#topMain { width:100%; overflow:visible;  }

#topMain #logo { width:200px; height: 50px; padding:0 20px; overflow:visible; position:relative; display:block;  }
#topMain logo:after{
	content: '';
	display: inline-block;
	width: 100%;
}
#topMain #logo img {  position:absolute; left:0px; top:-4px;  width:150px; height:65px; overflow:visible;  }
#topMain #logo a { overflow:visible; }

/*--------------------------------------------------------------------------------*/

/*#topMain>li a {  width:80px; padding:0; }*/
header#topNav { box-shadow:none; padding:20px 0 0 0;  background:#222; /*border-bottom: 3px solid #b6954b;*/ border: none; }
@media (min-width: 768px){header#topNav{height: 132px;}}
header#topNav.home { height:auto !important; }

/*MAIN NAV STYLES*/
header#topNav nav ul.nav-main li a.nav-link-main {
	font-family: "freight-text-pro-n4","freight-text-pro",serif;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
	color: #fff;
	font-size: 22px;
	line-height: 22px;
	text-decoration: none;
	border-radius:12px;
	/*text-transform: uppercase;*/
	float:left;
	display:block;
	padding:14px 0;
}

header#topNav nav ul.nav-main li a.nav-link-main:hover { 
	background-color: #333;
	text-shadow: 2px 2px 2px #b6954b;
	cursor: pointer;
}



header#topNav div.nav-main-collapse {
	margin-top: 16px;
}

.home header#topNav div.nav-main-collapse {
	margin-top: 16px;
}

header#topNav nav ul.nav-main { margin:0; }



/*--------------------------------------------------------------------------------*/

/*CORNELL IDENTITY (45px banner) */

#cu-45 { top: 0; position: fixed; z-index: 200; width: 100%; height: 45px; background: #222; border-bottom: thin solid #333;}   
#cu-45 #search-form a{ background: #222; }

a#insignia-link { background:url(../images/cornell/cornell-university-trans-45.png) no-repeat center left; display:block; width:169px; height:45px;} 
#cu-45 a:hover, #cu-45 *:hover{-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}

#cu-identity-wrap {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 63.125%;		/* translate 1.0em to 10px, 1.5em to 15px, etc. */
	padding:0 15px;
	position: relative;
}

#cu-identity-content{
	position: relative;
}
#cu-identity-content img {
	display: none;
	}

#skipnav {
	position: absolute;
	top: -1000em;
	left: -1000em;
	}

hr.banner-separator {
	display: none;
	}

/*	
	Search Form
	-------------------------
	The following rules control the appearance of the search form interface. 
	The form is displayed in the Cornell banner, and it is aligned with the 
	right edge of the page. The search form should appear on every page 
	of a site. 
*/

#search-form {
	position: absolute;
	top: 18px;
	right: 0;
	}

#searchForm {
	margin: 0 auto;
	background-color: #b31b1b;
	overflow: hidden;
	width: 420px;
	float: right;
	height: 32px;
	margin-right: 35px;
	text-align: right;
}

#search-form.search-45 {
	top: 12px;
	padding:0 10px;	
}
	
#search-form form {
	margin: 0;
	padding: 0;
	text-align: right;
	position:absolute;
	top: -45px;
	left:-400px;
	width:380px;
	height:40px;
	z-index: 999999999999999999999999999;
	}
	
#search-input label {
	color: #FFFFFF;
	}

#search-form.banner-45 #search-input label {
	position: absolute;
	top: -1000em;
	left: -1000em;
	}

#search-form label {
	color: #FFFFFF;
	}
	
#search-form.search-45 label {
	color: #FFFFFF;
	visibility:hidden;
	}
	
#search-form-query {
	border: none;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #FFFFFF;
	/*background: #5E5A52 url(../images/cornell/headerbgsearch.gif) no-repeat top left;*/
	background:#333;
	vertical-align: middle;

	font-size: 13px;
	line-height: 13px;
	width: 300px;
	height: 22px;
	margin-top: 2px;
	padding: 0px 4px;

	}
	
#search-form-submit {
	padding: 0px 2px 3px 2px;;
	border-top: 1px solid #A6A295;
	border-left: 1px solid #A6A295;
	border-right: 1px solid #403000;
	border-bottom: 1px solid #403000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	color: #FFFFFF;
	background: #333;
	vertical-align: middle;
	}
	

#search-form a {
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
	border-bottom:none;
	color:#FFFFFF;
	background:#222;
	font-size: 20px;

	}

#search-form a:hover {
	text-shadow: 2px 2px 2px #b6954b;
	cursor: pointer;
}

/*--------------------------------------------------------------------------------*/

/*CORNELL INSIGNIA*/
#cu-brand {
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
	background-image: url('/assets/images/cornell/logo-white.svg?1390332815');
	background-size: 120px 120px;
	margin-top: 0;
	margin-left: 2em;
	padding: 0;
	position: absolute;
	bottom: 150px;
	left: 150px;
	width: 120px;
	height: 120px;
	z-index:999;
}

/*--------------------------------------------------------------------------------*/

/*NAV CONTROLS FOR HOME PAGE VIDEO CAROUSEL */

a.slide-controls {
	border: 1px solid #eee;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 13px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
}

a.slide-controls i { color:#fff; }

a.slide-controls.transparent {
	background: rgba(0,0,0,0.2)!important;
	border-color: #d8d8d8;
	color: #fff;
}

a.slide-controls.transparent:hover i { font-weight:bold; color:#f4f4f4;  }
a.slide-controls.transparent:hover { border: 1px solid #FFF; }

/*--------------------------------------------------------------------------------*/
/*PARALLAX HEADERS*/

header#page-title { background-color:#f1f2f7; } 
header#page-title.parallax { margin-top:-68px; }
header#page-title.big { padding-bottom:30px;}

/*--------------------------------------------------------------------------------*/
/*FOOTER*/
footer .footer-content { background:#191919; } /*border-top:1px dashed #b6954b; }

footer .footer-bar .toTop { border-left:1px dashed #b6954b; }*/

footer .footer-bar {
	background: #4d4e53;
	background: #222;
}

footer .column.logo {
	background: #222;
}
footer .footer-content h3 {
	color: #b6954b !important;
	font-weight:500;
}


/*--------------------------------------------------------------------------------*/  

/*MEDIA QUERIES*/
/*Mobile/tablet breakpoint */
@media (max-width: 990px) { 
	#topMain #logo { display:none; } 
	a#cu-brand { left:30px; }
}

/*Smaller desktop breakpoint */
@media (min-width: 992px) {
	header#topNav nav ul.nav-main li a.nav-link-main { padding-left:26px; padding-right:26px; text-align:center; }
	a#cu-brand { left:30px; }
}

/*large desktop */
@media (min-width: 1200px) {
	header#topNav nav ul.nav-main li a.nav-link-main { padding-left:42px; padding-right:42px; text-align:center; } 
	a#cu-brand { left:150px; }

}