#uploadifyQueue { margin:0 0 2em 0; border: 6px double #999 ; border-radius:4px; background:#efefef; padding: 1em; } 

select[multiple], select[size] {
			height: 34px !important;
		}
		
/*#uploadForm, */#loading { display:none; }
#uploadForm { margin-bottom:60px; }
#uploadTypeButtons { text-align:center }

#file_upload:hover,input[type=file]:hover { cursor:pointer }

.chosen-container-multi .chosen-choices { height:34px !important; border: 1px solid #ccc; border-radius: 4px; padding: 6px 2px; color:#555; } 

.chosen-container { color:#555; }
 
 .sesqui-btn {
	background-color: #b6954b;
	width: auto;
	display: inline-block;
	padding: 18px 40px;
	border-radius: 0;
	font-family: "freight-sans-pro-n7","freight-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	border: none;
	color: #fff;
	line-height: 18px;
	text-align: center;
	-webkit-appearance: none;
	
	-webkit-transition-property: background-color;
	-moz-transition-property: background-color;
	-o-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-o-transition-delay: 0s;
	transition-delay: 0s;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	
	}
	
	.sesqui-btn:hover, .sesqui-btn:focus, .sesqui-btn:active {
		background-color: #9e7d32;
		text-decoration: none;
		color:#fff;
	}
	
	#or { font-size:18px; line-height:18px; padding:18px 0;  color:#555; }
	.left { text-align:left }
	.introText { padding-top:40px; padding-bottom:40px;  }
	.introText, .introText p { font-size:18px; }
	
	#uploadIntro, #storyIntro { margin-bottom:20px; }