/*sesqui.css 
  styles for 150.cornell.edu 
*/

/*GENERAL FORMATTING*/
body,html { font-family: "freight-sans-pro-n7","freight-sans-pro",sans-serif;  }

#skip-link {display: block}
#skip-link a {color:#fff;text-decoration:none;position:absolute;left: -999px; z-index:1001}
#skip-link a:focus {left:5px}

/* Hide "empty" element links off screen by enclosing their text within this class. */
.off-screen {position:absolute;left:-2000em}

/* #wrapper { padding:160px 0 90px 0; */
/* #wrapper { padding:175px 0 90px 0; */
/*#wrapper { padding:185px 0 90px 0; }*/
#wrapper { padding:40px 0 90px 0; }

h1, h2, h3, h4, h5, h6, p, ul, ul li { font-family: "freight-sans-pro-n7","freight-sans-pro",sans-serif;  }

.big h1{ text-shadow: 1px 1px 0px #000, 0px 0px 30px #000;}

/*--------------------------------------------------------------------------------*/
/*HEADER*/

/* header#topNav div.nav-main-collapse { margin-top:8px; */


#header_shadow { display:none; }

#topMain { overflow:visible; width:100%;  }

#topMain #logo { display:block; height: 50px; overflow:visible; padding:0 20px; position:relative; width:200px;  }
#topMain logo:after{
	content: '';
	display: inline-block;
	width: 100%;
}
#topMain #logo img { height:65px; left:0px; overflow:visible;  position:absolute; top:-4px;  width:150px;  }
#topMain #logo a { overflow:visible; }

/*--------------------------------------------------------------------------------*/

/* #topMain>li a { /* border-top:1px dashed #b6954b; */

/* padding:0; */
header#topNav {
      background-color: #222;
      border: none;
      box-shadow: none;
      margin-top: -85px;
      overflow:visible !important;
      padding: 40px 0 0 0!important;
      position: relative;
      -moz-transition-delay: 0s;
      -o-transition-delay: 0s;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      -moz-transition-duration: 0.2s;
      -o-transition-duration: 0.2s;
      -webkit-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -moz-transition-property: -moz-transform, height, background;
      -o-transition-property: -o-transform, height, background;
      -webkit-transition-property: -webkit-transform, height, background;
      transition-property: transform height background;
      -moz-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      width: 100%;
      z-index: 1000;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden;
    }

.search-engaged header#topNav {
  -moz-transform: translateY(85px);
  -ms-transform: translateY(85px);
  -o-transform: translateY(85px);
  -webkit-transform: translateY(85px);
  transform: translateY(85px);
}

/*MAIN NAV STYLES*/
header#topNav nav ul.nav-main li a.nav-link-main {
	border-radius:12px;
	color: #fff;
	display:block;
	float:left;
	font-family: "freight-text-pro-n4","freight-text-pro",serif;
	font-size: 22px;
	line-height: 22px;
	padding:14px 0;
	text-decoration: none;
	/* text-transform: uppercase; */
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;
}

header#topNav nav ul.nav-main li a.nav-link-main:hover { 
	background-color: #333;
	cursor: pointer;
	text-shadow: 2px 2px 2px #b6954b;
}

header#topNav div.nav-main-collapse {
	margin-top: 16px;
}

header#topNav nav ul.nav-main { margin:0; }

@media (min-width: 768px){ header#topNav { height: 225px!important;} }

/* NAVBAR-HEADER */
	/* SMALL SCREEN */
	@media(max-width: 768px){
		header#topNav nav ul.nav-main li a.nav-link-main{
		font-size: 16px;
		line-height: 16px;
		padding:12px 0;
		}
		
		header#topNav .navbar-header{
		  border-top: thin solid #333;
		  padding: 1em;
		  position: relative;
		}

		header#topNav .navbar-header img.logo150{
			bottom: 1em;
			height: 35px;
			left: 1em;
			position: absolute;
		}
	}
	/* LARGE SCREEN */
	@media(min-width: 768px) {

		header#topNav .navbar-top{
	        width: 100%;
	    }
			header#topNav .navbar-top>li{
			  width: calc(80% / 6);
			}

		header#topNav .navbar-top>li#logoimg{
		  position: relative;
		  width: 20%;
		}
		header#topNav .navbar-top #logoimg>a>img{
		    height: auto;
		    left: 12.5%;
		    margin: auto;
		    position: absolute;
		    top: 0;
		    width: 75%;
		}

		header#topNav .navbar-top>li>a{
		    text-align: center;
		}

		header#topNav .navbar-top>li>a:hover{
		  background: transparent!important;
		  text-decoration: underline!important;
		  text-shadow: none!important;
		}

	
		header#topNav .navbar-header{
	      display: none;
	    }
	} /* end media query */

	/* TERTIARY NAV (CDW/REGIONAL CELEBRATIONS) */
	header#topNav>.navbar{
		margin-bottom: 1em;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	header#topNav .nav-bottom{
		float: none;
		position: absolute;
		bottom: 0;
		width: 100%;
	}

      header#topNav .nav-bottom li{
        border: 0;
        outline: 0;
        width: 50%;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
      }
      	header#topNav .nav-bottom>li.active a{
         font-weight: 800;
        }
        
        header#topNav .nav-bottom>li>a{
            color: #b6954b;
            font-family: "freight-sans-pro",sans-serif;
            font-size: 1em;
            padding-bottom: 2px;
            padding-top: 2px;
            text-align: right;
        }
            header#topNav .nav-bottom>li>a:hover{
                background: transparent;
                opacity: 0.8;
            }
            header#topNav .nav-bottom>li:first-child{
                border-right: thin solid #6e5a2d;
            }
            header#topNav .nav-bottom>li:last-child>a{
                text-align: left;
            }
        header#topNav .navbar-bottom>li>a:li a.nav-link-main{
            float: none;
        }

    /* HOME */
    .home header#topNav{
    	position: fixed;
    	bottom: 0;
    	top: inherit;
    	height: 145px!important;
    	padding-top: 5px!important;
    }
    	@media (max-width: 768px){
    		.home header#topNav{
    			height: auto!important;
    			padding-top: 0!important;
    		}
    	}
    	.search-engaged .home header#topNav{
	    	-moz-transform: none;
	    	-ms-transform: none;
	    	-o-transform: none;
	    	-webkit-transform: none;
	    	transform: none;
	    }

    .home header#topNav #cu-identity-wrapper{
    	position: fixed;
    	top: 0;
    	bottom: initial;
    	width: 100%;
	    -webkit-transition: 0.25s ease-in-out;
	    -moz-transition: 0.25s ease-in-out;
	    -o-transition: 0.25s ease-in-out;
	    transition: 0.25s ease-in-out;
    }
    	.home #cu-identity-wrapper #cu-identity-trans{
			border-bottom-color:transparent;
		}

    	.search-engaged .home header#topNav #cu-identity-wrapper{
	    	  -moz-transform: translateY(85px);
			  -ms-transform: translateY(85px);
			  -o-transform: translateY(85px);
			  -webkit-transform: translateY(85px);
			  transform: translateY(85px);
	    }

		

	.homepage-overlay{
		width:100%; 
		height: 100%; 
		position: fixed; 
		top: 0; 
		bottom: 0; 
		background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(25%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
		z-index: 3;
	}

/*--------------------------------------------------------------------------------*/

.btn.btn-gold{ background: #b6954b!important; margin: 2em auto; width: 50%; border: 0; color: #fff; text-transform: uppercase; font-weight: 500; letter-spacing: 1px; border-radius: 0; font-family: 'freight-sans-pro',sans-serif; font-size: 18px;}

.panel ol{
	padding-left: 10px;
}
	.panel ol>li,
	.panel p{
		font-size: 16px;
		color: #888;
		font-weight: 300;
	}

/* ADDITIONAL STYLES */
.about .panel{
	font-size: 16px;
	line-height: 28px;
}
	.about .panel h4.panel-title{
		font-size: 20px;
		font-family: "freight-text-pro";
	}

	.about .panel .panel-heading{
		background: #f8f5ee;
	}

	.about .panel h4.panel-title a,
	.about .panel ul.list-icon li:before {
		color: #b6954b;
	}

	.about .panel li>a{
		color: #555;
	}

.redText{
	color: #b31b1b;
}

#filter_menu li{
	font-size: 14px; line-height: 16px;
}


/*--------------------------------------------------------------------------------*/

/*CORNELL IDENTITY (45px banner) */

#cu-identity-trans {  border-bottom: thin solid #333; }
#cu-identity-trans a#search-trigger { outline: 0; }
#cu-identity-trans a#search-trigger:hover{ text-shadow: 0 0 10px #000;}
#search-form a:hover { text-decoration:none;}

#cu-45 { background: #222; border-bottom: thin solid #333; height: 45px; position: fixed; top: 0; width: 100%; z-index: 200;}   
#cu-45 #search-form a{ background: #222; }

a#insignia-link { background:url(../images/cornell/cornell-university-trans-45.png) no-repeat center left; display:block; height:45px; width:169px;} 
#cu-45 a:hover, #cu-45 *:hover{-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}

#cu-identity-wrap {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 63.125%;		/* translate 1.0em to 10px, 1.5em to 15px, etc. */
	padding:0 15px;
	position: relative;
}

#cu-identity-content{
	position: relative;
}
#cu-identity-content img {
	display: none;
	}

#skipnav {
	left: -1000em;
	position: absolute;
	top: -1000em;
	}

hr.banner-separator {
	display: none;
	}

/*	
	Search Form
	-------------------------
	The following rules control the appearance of the search form interface. 
	The form is displayed in the Cornell banner, and it is aligned with the 
	right edge of the page. The search form should appear on every page 
	of a site. 
*/
/* CU SEARCH STYLES */
form#cu-search {
  background-color: #000;
  display: block;
  height: 85px;
  margin-top: -85px;
  position: relative;
  width: 100%;
  z-index: 1200;
}

input#search-query {
  background-color: transparent;
  border: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  font-family: "freight-sans-pro-n3", "freight-sans-pro", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  height: 85px;
  line-height: 36px;
  outline: none;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 100;
  -webkit-font-smoothing: antialiased;
  -moz-appearance: none;
}
/* REMAINING SEARCH STYLES */

#search-form {
	position: absolute;
	right: 0;
	top: 18px;
	}

#searchForm {
	background-color: #b31b1b;
	float: right;
	height: 32px;
	margin: 0 auto;
	margin-right: 35px;
	overflow: hidden;
	text-align: right;
	width: 420px;
}

#search-form.search-45 {
	padding:0 10px;
	top: 12px;	
}
	
#search-form form {
	height:40px;
	left:-400px;
	margin: 0;
	padding: 0;
	position:absolute;
	text-align: right;
	top: -45px;
	width:380px;
	z-index: 999999999999999999999999999;
	}
	
#search-input label {
	color: #FFFFFF;
	}

#search-form.banner-45 #search-input label {
	left: -1000em;
	position: absolute;
	top: -1000em;
	}

#search-form label {
	color: #FFFFFF;
	}
	
#search-form.search-45 label {
	color: #FFFFFF;
	visibility:hidden;
	}
	
#search-form-query {
	/* background: #5E5A52 url(../images/cornell/headerbgsearch.gif) no-repeat top left; */
	background:#333;
	border: none;
	color: #FFFFFF;
	font-family: verdana, arial, helvetica, sans-serif;

	font-size: 13px;
	height: 22px;
	line-height: 13px;
	margin-top: 2px;
	padding: 0px 4px;
	vertical-align: middle;
	width: 300px;

	}
	
#search-form-submit {
	background: #333;
	border-bottom: 1px solid #403000;
	border-left: 1px solid #A6A295;
	border-right: 1px solid #403000;
	border-top: 1px solid #A6A295;
	color: #FFFFFF;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	padding: 0px 2px 3px 2px;
	vertical-align: middle;;
	}
	

#search-form a {
	background:#222;
	border-bottom:none;
	color:#FFFFFF;
	font-size: 20px;
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	-webkit-transition: all .5s ease-out;
	transition: all .5s ease-out;

	}

#search-form a:hover {
	cursor: pointer;
	text-shadow: 2px 2px 2px #b6954b;
}

/*--------------------------------------------------------------------------------*/

/*CORNELL INSIGNIA*/
#cu-brand {
	background-image: url('../images/cornell/45pxlogo-white.svg');
	background-size: 34px 34px;
	background-repeat: no-repeat;
	display: inline-block;
	margin: 9px 0;
	vertical-align: middle;
	padding-left: 45px;
	height: 35px;
}
.insignia-link {
	background: url('../images/cornell/logotype-white.svg');
	background-repeat: no-repeat;
	background-size: 139px 18px;
	width: 139px;
	height: 18px;
	position: relative;
	text-indent: -9999em;
	top: 10px;
}
/*--------------------------------------------------------------------------------*/

/*NAV CONTROLS FOR HOME PAGE VIDEO CAROUSEL */

a.slide-controls {
	border: 1px solid #eee;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 13px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	width: 36px;
}

a.slide-controls i { color:#fff; }

a.slide-controls.transparent {
	background: rgba(0,0,0,0.2)!important;
	border-color: #d8d8d8;
	color: #fff;
}

a.slide-controls.transparent:hover i { color:#f4f4f4; font-weight:bold;  }
a.slide-controls.transparent:hover { border: 1px solid #FFF; }

/*--------------------------------------------------------------------------------*/
/*PARALLAX HEADERS*/

header#page-title { background-color:#f1f2f7; } 
header#page-title.parallax { margin-top:-68px; }
header#page-title.big { padding-bottom:30px;}

/*--------------------------------------------------------------------------------*/
/*FOOTER*/
footer .footer-content { background:#191919; } /* }

footer .footer-bar .toTop { border-left:1px dashed #b6954b; */

footer .footer-bar {
	background: #4d4e53;
	background: #222;
}

footer .column.logo {
	background: #222;
}
footer .footer-content h3 {
	color: #b6954b !important;
	font-weight:500;
}

h3.break-line{
	border-bottom: #403E44 1px dashed;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
	h3.break-line a{
		color: #b6954b;
	}

.twtr-head                                      { text-align: center;}
.twtr-head:before                               { content: "\f099"; font-family: "fontawesome"; font-size: 20px; margin-right: 5px; }
ul.twtr  									 	{ height: 275px; display: block; overflow: hidden;}
.twtr li                                        { margin: 1.5em 10px; display: none; }
.twtr li.current                                { display: list-item;}
.twtr li, .twtr li *                            { text-align: center; color: #fff; }
.twtr li>.twtr-tweet                            { font-size: 20px; line-height: 30px; }
.twtr li>.twtr-tweet>a                          { color: #d3c093; }
.twtr li>.twtr-date                             { font-size: 16px; color: #777; }

footer ul.contact{
	margin-bottom: 2em;
}

#four0four h1{
	text-align: center
}
#four0four p, #four0four h2{
	font-size: 1.75em;
	text-align: center;
	font-weight: 300;
	color: #555;
	line-height: 125%;
}	
	#four0four h2{
		font-size: 2.5em;
	}


/*--------------------------------------------------------------------------------*/  

/*MEDIA QUERIES*/
/*Mobile/tablet breakpoint */
@media (max-width: 990px) { 
	#topMain #logo { display:none; } 
	a#cu-brand { left:30px; }
}

/*Smaller desktop breakpoint */
@media (min-width: 992px) {
	header#topNav nav ul.nav-main li a.nav-link-main { padding-left:26px; padding-right:26px; text-align:center; }
	a#cu-brand { left:30px; }
}

/*large desktop */
@media (min-width: 1200px) {
	header#topNav nav ul.nav-main li a.nav-link-main { padding-left:0; padding-right:0; text-align:center; float: none;} 
	a#cu-brand { left:150px; }
}

@media (max-width: 990px) and (min-width: 768px){
	header#topNav nav ul.nav-main li a.nav-link-main{ text-align: center; float: none;}
}

@media (min-width: 768px){
	header#topNav nav ul.nav-main li.active a.nav-link-main,
	header#topNav nav ul.nav-main li.active:hover a.nav-link-main
	{
		background: #333!important;
		border-radius: 12px!important;
	}

	header#topNav nav ul.nav-main li:hover a.nav-link-main{
		background: #2f2f2f!important;
		border-radius: 12px!important;
	}
}

/* PRINT */

@media print{
	*{
		/*display: block;*/
		color: #000!important;
	}
	h1{ font-size: 30px; color: #000;}
	h2{ font-size: 28px; color: #000;}
	h3{ font-size: 26px; color: #000;}
	h4{ font-size: 24px; color: #000;}
	h5{ font-size: 22px; color: #000;}
	p{ font-size: 14px; color: #000;}
}