/* begin child theme css style here */

 
/***********************************************
  * http://meyerweb.com/eric/tools/css/reset/ 
  * v2.0 | 20110126
  * License: none (public domain)
 ***********************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********************************************
 * Cornell University
 * Master Web Template for all sizes and colors
 * Main CSS Rules
 ***********************************************/


/* Style Variables
   ************************************ */
#cu-logo a {
	width: 440px; /* Defines the active area for the standalone CU logo link */
}
#cu-logo.unit75 #unit-link {
	width: 440px; /* Defines the active area for the unit signature link */
}
#cu-identity {
	/*background-image: url(../images/cornell_identity/header_bg/75/white/1.jpg);*/ /* Defines the header background image (optional) */
}


/* CU Identity Defaults
   ************************************ */
#skipnav {
	position: absolute;
	top: -1000em;
	left: -1000em;
}
/* Logo
   -------------------- */
#cu-identity {
	font-size: 0.9em;
	height: 75px; /* default */
	background-color: #fff; /* default */
	background-repeat: no-repeat;
	background-position: top center;
}
#cu-identity-content {
	margin: 0 auto;
	width: 945px;
}
#cu-logo a {
	border: none;
	display: block;
	float: left;
	height: 75px; /* default */
}
/* Unit Signature
   -------------------- */
#cu-logo.unit75 a {
	display: block;
	position: absolute;
	text-indent: -1000em; 
	text-decoration: none;
}
#cu-logo.unit75 #unit-link {
	position: relative;
	left: 68px;
	top: 38px;
	height: 37px !important;
	background: none !important;
}
#cu-logo img {
	display: none;
}
/* Search Links
   -------------------- */
#cu-search {
	float: right;
	position: relative;
	top: 12px; /* default */
	font-size: 0.8em;
}
#cu-search a {
	float: left;
	padding: 5px 15px;
	color: #b31b1b; /* default */
	text-decoration: none;
	border: none;
}
#cu-search a {
	float: right;
}
#cu-search a:hover {
	color: #fe003c; /* default */
	background: #eee; /* default */
}
/* Search Form
   -------------------- */
#search-form label {
	color: #333; /* default */
	font-weight: normal;
	font-size: 1em;
}
#search-form.no-label label {
	display: none;
}
#search-form.no-label #search-filters label {
	display: inline;
}
#search-form-query {
	margin-bottom: 3px;
	padding: 3px;
	width: 145px;
	border: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: normal;
	color: #333; /* default */
	background: #f3f3f3 url(../images/cornell_identity/header_search_white.gif) no-repeat top left; /* default */
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#search-form-query {
		margin-top: 2px;
		height: 13px; /* force safari/chrome consistency */
	}
}
#search-form-submit {
	padding: 0 2px 2px;
	border-top: 1px solid #e5e5e5; /* default */
	border-left: 1px solid #e5e5e5; /* default */
	border-right: 1px solid #b3b3b3; /* default */
	border-bottom: 1px solid #b3b3b3; /* default */
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	line-height: 1.5;
	font-weight: bold;
	color: #333; /* default */
	background: #f2f2f2; /* default */
	-webkit-appearance: none;
	position: relative;
	top: -1px;
}
#search-filters {
	margin: 3px 0 0 0;
	text-align: right;
	vertical-align: middle;
	line-height: 1.4;
}
#search-filters input {
	margin: 0;
	vertical-align: middle;
}
#search-filters label {
	margin: 0 8px 0 0;
	vertical-align: middle;
	font-weight: normal;
}
#search-filters a {
	color: #b31b1b; /* default */
	background: none !important;
	padding: 0;
	margin: 1px 1px 0 10px;
	line-height: 1.5;
}
/* WebKit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#search-form-submit {
		padding: 0 3px 1px;
	}
	#search-filters a {
		margin-top: 2px;
		line-height: 16.99px; /* force safari/chrome consistency */
	}
}


/*  CU Identity Themes
   ************************************ */

/* Size Definitions
   -------------------- */

.theme-white75, .theme-red75, .theme-gray75,
.theme-white75 #cu-logo a, .theme-red75 #cu-logo a, .theme-gray75 #cu-logo a {
	height: 75px !important;
}
#cu-logo.unit75 #unit-signature-links a {
	height: 38px !important;
}
/* Logo Definitions
   -------------------- */
.theme-white75 #cu-logo.unit75 a {
	background-image: url(../images/BME_2line_4c.gif); /* reinforces default */
}
.theme-red75 #cu-logo.unit75 a {
	background-image: url(../images/cornell_identity/unit_sig_red75.gif);
}
.theme-gray75 #cu-logo.unit75 a {
	background-image: url(../images/cornell_identity/unit_sig_gray75.gif);
}

/* Search Definitions (Text Links)
   ************************************ */

/* Link Color
   -------------------- */
.theme-white45 #cu-search a, .theme-white75 #cu-search a,
.theme-white45 #search-navigation a, .theme-white75 #search-navigation a {
	color: #b31b1b; /* reinforces default */
}
.theme-red45 #cu-search a, .theme-red75 #cu-search a,
.theme-gray45 #cu-search a, .theme-gray75 #cu-search a,
.theme-red45 #search-navigation a, .theme-red75 #search-navigation a,
.theme-gray45 #search-navigation a, .theme-gray75 #search-navigation a {
	color: #fff;
}
/* Hover Color
   -------------------- */
.theme-white45 #cu-search a:hover, .theme-white75 #cu-search a:hover,
.theme-white45 #search-navigation a:hover, .theme-white75 #search-navigation a:hover {
	color: #fe003c; /* reinforces default */
	background: #eee; /* reinforces default */
}
.theme-red45 #cu-search a:hover, .theme-red75 #cu-search a:hover,
.theme-red45 #search-navigation a:hover, .theme-red75 #search-navigation a:hover {
	color: #fff;
	background: #990f26;
}
.theme-gray45 #cu-search a:hover, .theme-gray75 #cu-search a:hover,
.theme-gray45 #search-navigation a:hover, .theme-gray75 #search-navigation a:hover {
	color: #fff;
	background: #444;
}
/* Vertical Offset
   -------------------- */
.theme-white45 #cu-search, .theme-red45 #cu-search, .theme-gray45 #cu-search {
	top: 12px; /* reinforces default */
}
.theme-white75 #cu-search, .theme-red75 #cu-search, .theme-gray75 #cu-search {
	top: 28px;
}
.theme-white75 #cu-search.options, .theme-red75 #cu-search.options, .theme-gray75 #cu-search.options {
	top: 18px;
}


/* Search Definitions (Form)
   ************************************ */

/* Label Color
   -------------------- */
.theme-white75 #search-form label {
	color: #333; /* reinforces default */
}
.theme-red75 #search-form label, .theme-red45 #search-form label,
.theme-gray75 #search-form label, .theme-gray45 #search-form label {
	color: #fff;
}
/* Text Input Colors
   -------------------- */
.theme-white75 #search-form-query, .theme-white45 #search-form-query {
	color: #333; /* reinforces default */
	background: #f3f3f3 url(../images/cornell_identity/header_search_white.gif) no-repeat top left; /* reinforces default */
}
.theme-red75 #search-form-query, .theme-red45 #search-form-query {
	color: #fff;
	background: #990f0f url(../images/cornell_identity/header_search_red.gif) no-repeat top left;
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.075);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.075);
	box-shadow: 0 0 0 1px rgba(255,255,255,0.075);
}
.theme-gray75 #search-form-query, .theme-gray45 #search-form-query {
	color: #fff;
	background: #414247 url(../images/cornell_identity/header_search_gray.gif) no-repeat top left;
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.025);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.025);
	box-shadow: 0 0 0 1px rgba(255,255,255,0.025);
}
/* Go Button Colors
   -------------------- */
.theme-white75 #search-form-submit, .theme-white45 #search-form-submit {
	border-top: 1px solid #e5e5e5; /* reinforces default */
	border-left: 1px solid #e5e5e5; /* reinforces default */
	border-right: 1px solid #b3b3b3; /* reinforces default */
	border-bottom: 1px solid #b3b3b3; /* reinforces default */
	color: #333; /* reinforces default */
	background: #f2f2f2; /* reinforces default */
}
.theme-red75 #search-form-submit, .theme-red45 #search-form-submit {
	border-top: 1px solid #bf6060;
	border-left: 1px solid #bf6060;
	border-right: 1px solid #400606;
	border-bottom: 1px solid #400606;
	color: #fff;
	background: #900;
}
.theme-gray75 #search-form-submit, .theme-gray45 #search-form-submit {
	border-top: 1px solid #828387;
	border-left: 1px solid #828387;
	border-right: 1px solid #202021;
	border-bottom: 1px solid #202021;
	color: #fff;
	background: #57585d;
}
/* Options Link Color
   -------------------- */
.theme-white75 #search-form a {
	color: #b31b1b; /* reinforces default */
}
.theme-red75 #search-form a,
.theme-gray75 #search-form a {
	color: #fff;
}
/* 45px Form with Options
   -------------------- */
.theme-white45 #cu-search.options #search-filters, .theme-red45 #cu-search.options #search-filters, .theme-gray45 #cu-search.options #search-filters {
	float: left;
	margin: 2px 10px 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.theme-white45 #cu-search.options #search-filters, .theme-red45 #cu-search.options #search-filters, .theme-gray45 #cu-search.options #search-filters {
		margin-top: 1.5px; /* force safari/chrome consistency */
	}
}
.theme-white45 #cu-search.options #search-input, .theme-red45 #cu-search.options #search-input, .theme-gray45 #cu-search.options #search-input {
	float: right;
}

/* Responsive Web Design 
   ************************************ */

#cu-identity, #wrap, #footer, .flexible #cu-identity, .flexible #wrap, .flexible #footer {
	min-width: 960px; /* lock design for older browsers that don't support media queries */
}
@media only screen and (min-width: 1px) {
	#cu-identity, #wrap, #footer, .flexible #cu-identity, .flexible #wrap, .flexible #footer {
		min-width: 0; /* unlock */
	}
}
#navigation h3, ul.mobile-section {
	display: none;
}


/* ********************************************************** */
@media only screen and (max-width: 1240px) { /* ************* */

/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 1150px) { /* ************* */

/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 1040px) { /* ************* */


.flexible #identity {
	width: 100%;
}
.flexible #cu-identity-content, .flexible #navigation-wrap, .flexible #footer-content {
	width: 98%;
}
.flexible #content, .flexible #midband {
	width: 98%;
}
.flexible #identity-content {
	padding: 0 1%;
}
.flexible.autosize-header #identity-content {
	padding: 0 2%;
}



/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 959px) { /* ************** */


#identity {
	width: 100%;
}
#cu-identity-content, #navigation-wrap, #footer-content {
	width: 98%;
}
#content, #midband {
	width: 98%;
}
#identity-content {
	padding: 0 1%;
}
.autosize-header #identity-content {
	padding: 0 2%;
}
#cu-identity.theme-white45, #cu-identity.theme-red45, #cu-identity.theme-gray45, 
#cu-identity.theme-white75, #cu-identity.theme-red75, #cu-identity.theme-gray75 {
	height: 42px !important;
	padding: 1px 0;
}
.theme-white45 #cu-logo a, .theme-red45 #cu-logo a, .theme-gray45 #cu-logo a, 
.theme-white75 #cu-logo a, .theme-red75 #cu-logo a, .theme-gray75 #cu-logo a, 
.theme-white75 #cu-logo.unit75 a, .theme-red75 #cu-logo.unit75 a, .theme-gray75 #cu-logo.unit75 a {
	height: 42px !important;
	background: url('../images/cornell_identity/cu_logo_white45.gif') no-repeat 0 -2px;
}
.theme-red45 #cu-logo a, .theme-red75 #cu-logo a, .theme-red75 #cu-logo.unit75 a {
	background: url('../images/cornell_identity/cu_logo_red45t.gif') no-repeat 0 -2px;
}
.theme-gray45 #cu-logo a, .theme-gray75 #cu-logo a, .theme-gray75 #cu-logo.unit75 a {
	background: url('../images/cornell_identity/cu_logo_gray45.gif') no-repeat 0 -2px;
}
.svg #cu-logo a {
	background: url('../images/cornell_identity/culogo_hd_white45.svg') no-repeat -1px -2px !important;
	background-size: 162px !important;
}
.svg .theme-white45 #cu-logo a, .svg .theme-white75 #cu-logo a, .svg .theme-white75 #cu-logo.unit75 a {
	background: url('../images/cornell_identity/culogo_hd45.svg') no-repeat -1px -2px !important;
	background-size: 162px !important;
}
#cu-search {
	top: 10px !important;
}
#cu-search #search-filters, #cu-search label, #unit-link {
	display: none !important;
}
.theme-white45 #cu-search.options #search-filters, .theme-red45 #cu-search.options #search-filters, .theme-gray45 #cu-search.options #search-filters {
	display: block !important;
}
.theme-white45 #cu-search.options #search-filters label, .theme-red45 #cu-search.options #search-filters label, .theme-gray45 #cu-search.options #search-filters label {
	display: inline !important;
}
#cu-logo a {
	width: 170px;
}
.svg #cu-logo a {
	width: 170px;
}




/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 860px) { /* ************** */


#col1, #col2 {
	width: 30%;
	margin: 0 2% 0 0;
}
#main-body, #main-bottom {
	width: 62%;
}


/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 767px), print { /* ************** */


#header h1 {
	font-size: 1.75em;
	line-height: 36px;
	margin: 0 0 27.5% 0.5%;
}
#header h1.autoscale {
	line-height: 1.7;
}
#header h2 {
	color: #454545;
	font-style: italic;
	font-size: 1.25em;
	line-height: 25px;
	margin: 1px 0.5% 0 15px;
	float: right;
	display: none; /* remove to enable */
}
#identity-content {
	background: url('../images/photos/campus_pano.jpg') right 35px no-repeat;
	background-size: 100%;
}
.autosize-header #identity-content {
	background-position: right 0;
}

#col1 {
	width: 46%;
	margin: 0 3% 0 1%;
}
#col2 {
	width: 46%;
	margin: 0 1% 0 3%;
}
.backgroundsize .sidebar-tint #main {
	background-image: none !important;
}
#secondary, #secondary-nav, .sidebar-left #secondary, .sidebar-left #secondary-nav {
	float: left;
	width: 98%;
	padding: 0;
	border-width: 0;
	height: auto;
	margin: 0 1% 15px;
}
#section-navigation {
	padding-bottom: 0;
}
#section-navigation h2 {
	display: none;
}
#main-body, #main-top, #main-bottom,
.onecolumn #main-body, .onecolumn #main-top, .onecolumn #main-bottom {
	float: left !important;
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
}
#footer1 {
	width: 98%;
	margin: 0 1% 4% 1%;
}
#footer2 {
	width: 47%;
	margin: 0 2% 0 1%;
}
#footer3 {
	width: 47%;
	margin: 0 1% 0 2%;
}

/* Navigation Dropdown ****************/
#header {
	position: relative;
}
#navigation-wrap, .flexible #navigation-wrap {
	width: 100% !important;
}
#navigation {
	position: absolute;
	z-index: 2;
	top: 5px;
}
#navigation h3 {
	display: block;
	font-family: Verdana, sans-serif;
	font-size: 0.917em;
	margin: 0 1.25% 7px 0;
	text-align: right;
}
#navigation h3 em {
	font-style: normal;
	background-color: rgba(0,0,0,0.08);
	background-image: url('../images/layout/nav_menu_dark.svg');
	background-position: 8px 50%;
	background-repeat: no-repeat;
	color: #000;
	text-shadow: none;
	padding: 0 14px 0 22px;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#navigation h3 em.mobile-section {
	background-image: url('../images/layout/nav_submenu.svg');
}
#navigation h3 em.open {
	background-color: rgba(0,0,0,0.2);
}
.secondary #navigation h3 em {
	background-color: #222;
	background-color: transparent;
}
#navigation.overlay h3 em {
	opacity: 0.6;
}
#navigation.overlay h3 em.open {
	opacity: 1;
}
#navigation ul, .nav-centered #navigation ul {
	display: none;
	width: 100%;
	border: 0;
	background: #222 !important;
	background: rgba(25,25,25,0.9) !important;
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
/*
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
*/
}
#navigation li {
	display: inline-block;
	width: 100% !important;
	text-align: left;
	background-image: none !important;
	text-transform: none;
	font-family: Verdana, sans-serif !important;
	font-size: 1.167em !important;
	line-height: 1.8em;
	border: 0 !important;
	border-bottom: 1px dotted rgba(255,255,255,0.2) !important;
}
#navigation li a {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left !important;
	width: 100%;
	padding: 6px 9% 6px 6% !important;
	background: url('../images/layout/nav_arrow_white.svg') 96% 50% no-repeat;
}


/* ************** */ }
/* alternate spotlight layout, to better handle the gap between tablet and phone (e.g. iPhone 5 landscape) */
@media only screen and (min-width: 481px) and (max-width: 767px) { /* ************** */

#secondary #spotlight .node {
	clear: both;
}
#secondary #spotlight .image-block {
	width: 38%;
	float: left;
	margin: 0 15px 18px 0;
}
#secondary #spotlight .node p {
	clear: none;
}

#navigation {top: 45px; left: 0;}


/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 580px) { /* ************** */

.svg #cu-logo a, .svg .theme-white45 #cu-logo a, .svg .theme-white75 #cu-logo a, .svg .theme-white75 #cu-logo.unit75 a {
	background-size: 142px !important;
	background-position: 0 1px !important;
}
.theme-white45 #cu-search.options #search-filters, .theme-red45 #cu-search.options #search-filters, .theme-gray45 #cu-search.options #search-filters {
	display: none !important;
}
#header h1.autoscale {
	text-shadow: 0 1px #fff;
}
.svg #cu-logo a {
	width: 145px;
}


/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 479px) { /* ************** */



#col1, #col2, #footer2, #footer3 {
	width: 98% !important;
	margin: 0 1% 2% !important;
}
#search-form-query {
	width: 100px;
}

#navigation {top: 45px; left: 0;}

/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 320px) { /* ************** */

/* ************** */ }




/* 4178-1376330743 */