/* Cornell Wordpress Editor CSS */

.cornell-note
{
	float: left;
	width: 26.2em;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: 10px;
	padding: 3px;
	background: #f5f3e5 url(../images/layout/note_shadow_reverse.gif) 0 bottom repeat-x;
	border: 1px solid #edebde;
	border-top: 0;
	color: #939289;
}