/* Cornell Theme Slideshow Styles */

#cornell-slideshow-container
{
	background: none;
	position: relative;
	max-width: 870px;
	height: 350px;
	border: 4px solid #fff;
	margin: 30px auto 0;
	
}

#cornell-slideshow-container > ul
{
	padding-left: 0;
}

#cornell-slideshow-container > ul > li
{
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	display: none;
	list-style-type: none;
	background: none;
	width: 100%;
	padding-left: 0;
}

#cornell-slideshow-container > ul > li:nth-child(1)
{
	display: block;
}

#cornell-slideshow-container > ul > li > a
{
	color: #B31B1B;
	font-size: 0;
	position: relative;
	width: 100%;
	height: 100%;
	text-decoration: none;
}

#cornell-slideshow-container > ul > li > a > div > img
{
	max-height: 350px;
	width: 100%;
}

#cornell-slideshow-container > ul > li > a > div
{
	display: block;
	width: 50%;
	font-size: 14px;
	height: 350px;
}

#cornell-slideshow-container > ul > li > a > div.cornell-slide-img
{
	width: 480px;
	background: #666;
	text-align: center;
}

#cornell-slideshow-container > ul > li > a > div.cornell-slide-content
{
	background: #444;
	color: #fff;
	padding: 25px 35px;
	width: 340px;
	position: relative;
	height: 305px;
}

#cornell-slideshow-container > ul > li > a > div.cornell-slide-content > div.cornell-content-wrapper
{
	width: 345px;
	height: auto;
	margin: 0 auto;
	position: absolute;
	bottom: 20px;
}

#cornell-slideshow-container > ul > li > a > div.cornell-slide-content > div > h3 { color: #fff; margin-bottom: 0; }

/* Slide orientation classes */
#cornell-slideshow-container > ul > li.img-left > a > div.cornell-slide-img { float: left; }
#cornell-slideshow-container > ul > li.img-left > a > div.cornell-slide-content { float: right; }
#cornell-slideshow-container > ul > li.img-right > a > div.cornell-slide-img { float: right; }
#cornell-slideshow-container > ul > li.img-right > a > div.cornell-slide-content { float: left; }
#cornell-slideshow-container > ul > li.img-bg > a > div.cornell-slide-img { width: 100%; height: 100%; position: relative; z-index: 0; }

#cornell-slideshow-container > ul > li.align-top > a > div.cornell-slide-content > div.cornell-content-wrapper { top: 12px; }
#cornell-slideshow-container > ul > li.align-middle > a > div.cornell-slide-content > div.cornell-content-wrapper { top: 25px; }
#cornell-slideshow-container > ul > li.align-bottom > a > div.cornell-slide-content > div.cornell-content-wrapper { bottom: 25px; }

#cornell-slideshow-container > ul > li.img-right > a > div.cornell-slide-content { padding: 20px 15px 25px 35px; }

#cornell-slideshow-container > ul > li.img-left > a > div.cornell-slide-content { padding: 20px 35px 25px 15px; }

/* Image as Background styles */
#cornell-slideshow-container > ul > li.img-bg > a > div.cornell-slide-img img
{
	width: 870px;
	height: 350px;
}

#cornell-slideshow-container > ul > li.img-bg > a > div.cornell-slide-content
{
	width: 280px;
	opacity: .75;
	position: absolute !important;
	background: #000;
	z-index: 2;
	top: 0;
}

#cornell-slideshow-container > ul > li.img-bg > a > div.cornell-slide-content > div.cornell-content-wrapper
{
	width: 280px;
}

#cornell-slideshow-container > ul > li.img-bg.txt-left > a > div.cornell-slide-content
{
	left: 20px;
	padding: 25px 20px 25px 40px;
}

#cornell-slideshow-container > ul > li.img-bg.txt-right > a > div.cornell-slide-content
{
	left: 530px;
	padding: 25px 40px 25px 20px;
}

/* Menu and arrow styles */

#cornell-slideshow-container > div.cornell_slide_arrows
{
	position: absolute;
	top: 0;
	opacity: .25;
	z-index: 5;
	height: 100px;
	width: 35px;
	margin-top: 125px;
}

#cornell-slideshow-container > div.cornell_slide_arrows:hover
{
	opacity: .75;
}

#cornell-slideshow-container > div#cornell_prev_slide.cornell_slide_arrows
{
	border-radius: 0 50px 50px 0;
	left: 0;
}

#cornell-slideshow-container > div#cornell_next_slide.cornell_slide_arrows
{
	border-radius: 50px 0 0 50px;
	right: 0;
}

#cornell-slideshow-container > div.cornell_slide_arrows > a
{
	background: url("slider1.png") no-repeat transparent;
	width: 18px;
	height: 60px;
	display: block;
	vertical-align: middle;
	margin: 20px auto 0;
}

#cornell-slideshow-container > div#cornell_next_slide.cornell_slide_arrows > a { background: url("slider.png") no-repeat transparent; }

#cornell-slideshow-container > ul.cornell-slideshow-menu
{
	width: 100%;
	height: 30px;
	position: absolute;
	bottom: 0;
	margin-bottom: 0;
	text-align: center;
}

#cornell-slideshow-container > ul.cornell-slideshow-menu > a > li
{
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 15px;
	box-shadow: 1px 1px 1px #ccc;
	background: #000;
	padding-left: 0;
	margin: 5px;
}

body.ie.eight #cornell-slideshow-container > ul.cornell-slideshow-menu > a > li { background: url(../images/inactive.png) no-repeat; }

#cornell-slideshow-container > ul.cornell-slideshow-menu > a.activeLink > li
{
	background: #fff;
}

body.ie.eight #cornell-slideshow-container > ul.cornell-slideshow-menu > a.activeLink > li { background: url(../images/active.png) no-repeat; }

/* Webkit styles */

@media all and (-webkit-min-device-pixel-ratio:0) {

	#cornell-slideshow-container > ul > li.img-bg > a > div.cornell-slide-content
	{
		top: -342px;
	}
}