/*
Theme Name: Cornell Charter Day Weekend
Author: Cornell University
Author URI: http://www.cornell.edu/
Description: A custom theme to showcase the celebration of Cornell's Charter Day Weekend
Version: 1.0
*/



/* Theme styles (inherits the Cornell University Sesquicentennial template)
   ------------------------------------------------------------------------ */

/* allow space for "Charter Day Weekend" title */
.regional header#page-title .hdr-details p {
	width: 55%;
}
.events-main .heading p {
	line-height: 1.4;
}
#main-content {
	min-height: 450px;
	padding-left: 0;
	padding-right: 0;
}

/* reset base size */
.events-listing, .events-main .heading, .page-title {
	font-size: 14px;
}
#main-content h2 {
	font-size: 1.75em;
}


/* match .page-title h2 to .heading h3 */
#main-content .page-title h2 {
	font-size: 2.25em;
	color: #333;
	font-family: 'freight-text-pro', serif;
	font-weight: 300;
	line-height: 24px;
	margin: 0 0 32px 0;
}

/* MCE User Styles */
.aligncenter, dl.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.wp-caption {
    background-color: #fff;
    border-bottom: 1px solid #e2d5b7;
    margin: 4px 0 10px;
    padding-top: 4px;
    text-align: center;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.wp-caption img {
    border: 0 none;
    margin: 0;
    padding: 0;
}
p.wp-caption-text {
	padding: 0 8px;
	margin-bottom: 3px;
}


/* Localist Events
   -------------------- */
   
.events-listing {
	position: relative;
	float: left;
	width: 100%;
	margin: 20px 0 25px;
	min-height: 120px;
}
.events-listing .description {
	width: 100%;
	clear: both;
	padding: 0 !important;
	display: none; /* JavaScript activated */
}
.events-listing .description-content {
	padding: 0 1em 1em;
	float: right;
	background: #fff;
}
.events-listing .description :last-child {
	margin-bottom: 0;
}
.events-main .row {
	background: #f8f5ee;
	border-bottom-width: 1px;
}
.events-main .row>div {
	padding: 1em 1em 0.5em;
}
.events-main .row>div.col-xs-10 {
	padding: 0.75em 1em 0.5em;
	background: #fff;
	
}
.events-main .row>div.event-details {
	padding-top: 0.5em;
	padding-bottom: 0.75em;
	float: right;
}
.events-main .row>div.date {
	padding: 1em;
}
#events-list .month {
	font-weight: 400 !important;
}
.events-main .events-listing .event-details .fa {
	font-size: 7px;
	/*background: #3787b0;*/
	background: #f0eada;
	color: #99802b;
	padding: 3px;
	margin-right: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	top: -2px;
}
@-moz-document url-prefix() { /* FF */
	.events-main .events-listing .event-details .fa {
		font-size: 7.1px;
	}
}
.events-main .events-listing .event-details a:hover {
	text-decoration: none !important;
}
.events-main .events-listing .event-details a:hover .fa {
	background: #f8f4ec;
	/*background: rgba(0,0,0,0.7);*/
	color: #000;
}
#events-list .event-details h4 {
	font-size: 15px;
	font-weight: 400;
}

#events-list p.eventCity {
	line-height: 1.1;
}

#events-list .year {
	color: #000 !important;
	opacity: 1 !important;
	margin-top: 0.5em;
} /* more prominent date 10/13/14 */

header#topNav .nav-bottom>li.active a {
	font-weight: 400;
} /* undo the "bold" of "charter day weekend" at top of page 10/13/14 */

.regional .detail h3.charter-day-extra {
	color: #666;
	font-weight: 400;
} /* undo red h3 titles 10/13/14 */


/* Dynamic Section Navigation 10/13/14
   -------------------- */
li.active-parent ul.menu {
	background: #f7f7f7;
}
li.active-parent ul.menu li {
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: rgba(51,51,51,0.125);
	padding-left: 1em;
}

li.active-parent ul.menu ul.sub-menu li:last-of-type {
	border-bottom: none;
}
li.active-parent ul.menu ul.sub-menu li:first-of-type {
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: rgba(51,51,51,0.125);
}

li.active-parent ul.menu li:hover{
	background: #f0f0f0;
}
li.active-parent ul.menu li.current-menu-item {
	background: #f1f1f1;
}
li.active-parent ul.menu li.current-menu-item a:after {
		content: "\f105";
		font-family: "FontAwesome";
		position: absolute; 
		right: 0.5em;
}
li.active-parent ul.menu li.current-menu-item ul.sub-menu a:after {
		content: "";
}
.events-menu ul li.active-parent ul.menu li a {
	font-size: 13px !important;
}

.events-menu li.active-parent ul.sub-menu {
	display: none;
	margin: 0 0 0 -1em;
	padding: 0;
}
.events-menu li.active-parent li.current-menu-item ul.sub-menu, .events-menu li.active-parent li.current_page_parent ul.sub-menu  {
	display: block;
	}
.events-menu ul li.active-parent ul.sub-menu li a {
	text-transform:none !important;
}
/* custom css migrate in */
#events-list .description-content p {font-size: 16px !important;}
.page-tabs { float: left;width: 100%;margin: 0 0 2em 0;}
.regional .inner .page-tabs .btn-default {width: 20%;}
#global-footer-content {background: #191919;color:#191919;}
#global-footer-content a {color:#191919;}
#main-content h2{margin-bottom: 10px!important;}


/* Animated Loading Icon
   -------------------- */
#loader {
	display: none;
	position: absolute;
	left: 45%;
	left: calc(50% - 25px); 
	top: 60px;
	width: 50px;
	text-align: center;
	font-size: 24px;
	color: #ccc;
	color: rgba(0,0,0,0.2);
}


/* Campaign Text RWD Tweaks */

@media only screen and (min-width: 768px) and (max-width: 1199px) {
	.regional header#page-title h1 .city {
		font-size: 75%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.regional header#page-title {
		padding: 3em 0;
	}
	.regional header#page-title h1 {
		font-size: 3.5em;
	}
	.regional header#page-title h1 .city {
		right: 2%;
	}
}
@media only screen and (max-width: 767px) {
	.regional header#page-title {
		padding: 2.5em 0;
	}
	.regional header#page-title h1 {
		font-size: 3em;
		line-height: 0.9;
	}
	.regional header#page-title h1 .city {
		font-size: 80%;
		display: block;
		margin-top: 0.25em;
	}
	.regional header#page-title .hdr-details p {
		width: 100%;
	}
}


/* January 2015 Header Update
   ------------------------------ */

.hdr-details {
	display: none;
}
.regional header#page-title {
	background: url('//150.cornell.edu/assets/images/cdw/red+blackbg.jpg');
	margin-bottom: 0;
	padding: 0;
	position: relative;
	background-position: center center;
	background-size: contain;
	background-repeat-x: no-repeat;
	background-repeat-y: repeat;
}
.regional header#page-title h1 {
	display: none;
}
@media only screen and (max-width: 767px) {
	.regional header#page-title {
		padding: 0;
	}
	.header#page-title .container {
		padding: 0 !important;
	}
}
@media (max-width: 768px) {
	header#page-title .container {
		width: 100% !important;
		padding: 0 !important;
	}
}
