
/* Enter Custom Cornell styles below */
/****************************************
 * Cornell Identity
 ****************************************/

#cu-identity {
	height: 45px;
	width: 100%;
	margin-top: 7px;
/*	padding-bottom: 5px;
	border-bottom: 1px solid #ededed;*/
	}
	
/*.cu-identity-wrap {
	margin: 0 auto;
	width: 100%;
}*/

#cu-logo {
	width: 170px;
	height: 45px;
	float: left;
	}
		
#cu-logo a {
	display: block;
	width: 170px;
	height: 45px;
	background: url(../../images/layout/cornell.gif) no-repeat top left;
}

#cu-logo a:hover {
	border: none;
	}

#cu-logo img {
	display: none;
	}
	
#cu-search {
	float: right;
	margin: 7px 20px;
	font-size: 0.9em;
	}
	
#cu-search a {
	display: block;
	padding: 5px 15px;
	font-size: 1.0em;
	color: #b31b1b;
	text-decoration: none;
	border: none;
	}
	
#cu-search a:hover {
	color: #fff;
	background: #b31b1b;
	}
/* Branding */
#header {
	clear: both;
	width: 100%;
	float: left;
	position: relative;
}
#branding {
	width: 98%;
	padding: 1%;
	background: #E0E1A2;
	margin-bottom: 10px;
}
#sidebar-header.sidebar {
	position: absolute;
	top: 20px;
	right: 10px;
	max-width: 60%;
}
span {
	color: #dd9904;
}
#branding h1 a {
	color: #dd9904;
}

#site-description span {
	color: #444;
}

/* navigation
--------------------------------------------------------------- */
#menu-secondary {
	background: none;
/*	border-bottom: 1px solid #fff;*/
}
#menu-secondary li a {
	color: #444;
	background: #e0e1a2;
	border-bottom: 1px solid #fff;
}
#menu-secondary li a:hover {
	color: #fff;
	background: #b5b580;
}
#menu-secondary li.current-menu-item a { color: #fff ;background: #b5b580; }

/* Layout
-------------------------------------------------------------- */
a:hover {
	border-bottom: 1px solid #dd9904;
}
.aside {
	/*background: #e6ebee;*/
}
#sidebar-secondary {
	background: #f3f3f3;
	padding:7px;
}

.content-wrap {
	margin-bottom:20px;
}
#header {
padding-top: 10px;
}
.singular .byline { margin-top: 30px;margin-bottom: 0; }

span.first-letter {color: #333; display: inline-block;}
span.first-letter:first-letter {font-size: 2em !important; color: #dd9904 !important;}

/*.hentry .entry-title, .page-template-front .hentry .entry-title {
color: #e0e1a2;
}*/
.entry-content h4 {
	color: #dd9904;
	margin-bottom: 0;
	}
.entry-content h5 {
	color: #b5b580;
	}
/* Widget unordered lists 
-------------------------------------------------------------- */
.sidebar .widget ul li { margin-bottom: 7px; }

/* Maximum width of 600 pixels. */
@media only screen and (min-width: 768px) and (max-width: 959px) {
.cu-identity-wrap {width: 100%;}
#cu-search a {
	width: 28px;
	height: 29px;
	text-indent: -3000px;
	background: url(../../images/layout/header_search_icon.png) no-repeat top right;
	}
	
#cu-search a:hover {
	background: url(../../images/layout/header_search_icon.png) no-repeat top right;
	}
}
/* Phone (portrait) */
@media only screen and (max-width: 767px) {
.cu-identity-wrap {width: 100%;}
#cu-search a {
	width: 28px;
	height: 29px;
	text-indent: -3000px;
	background: url(../../images/layout/header_search_icon.png) no-repeat top right;
	}
	
#cu-search a:hover {
	background: url(../../images/layout/header_search_icon.png) no-repeat top right;
	}
#sidebar-header.sidebar {
	position: relative;
	top: 0;
	right: 0;
	clear: both;
	float: left;
	width: 98%;
	padding: 1%;
	background: #E0E1A2;
	max-width: 100%;
}
}


/** Styles currently being implemented on style.min**/
body {
background-color: black;
}
.menu li a {
	font-family: 'Trebuchet MS', Helvetica, Arial;		
}
.published {
	visibility: hidden;s
}
.byline {
	visibility: hidden;
	display: none;
}
.byline-author{
	visibility: hidden;
	display: none;
}


.post-title {
	background-color: none;
	
}
.post-title entry-title {
	display: none;
}


/**color changes **/

#sidebar-header.sidebar {

	background-color: #ffffb9 !important;

}s
.singular-page .entry-title {

	background-color: #ffffb9 !important;
}
#menu-secondary li.current-menu-item a {

	background-color: #ffffb9 !important;
}s
#header span {
	
	color: #ffffb9 !important;
}
#header #branding {
	background-color: rgb(194, 212, 42);

}

h2.post-title.entry-title a {
	
	font-size: .75em;
}
