@charset "utf-8";
/* CSS Document */

input[type="radio"] {
	background-color: transparent!important;
	border: none!important;
-moz-box-shadow:none !important;

-webkit-box-shadow:none !important;

box-shadow:none !important;

	appearance: none!important;
	-moz-appearance: none!important;
	-webkit-appearance: none!important;
}
input[type="radio"]:checked {
	background-color: transparent!important;
	border: none!important;
-moz-box-shadow:none !important;

-webkit-box-shadow:none !important;

box-shadow:none !important;

	appearance: none!important;
	-moz-appearance: none!important;
	-webkit-appearance: none!important;
}
