/*
 Theme Name:   Gaining Currency
 Description:  Parabola child theme
 Author:       CIT - Custom Web Development
 Template:     parabola 
 Version:      1.3.4
*/

@import url("../parabola/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */
html {
	overflow-y: auto;
	background: #f5f5eb;
}
html, body {
	position: relative;	
	min-height: 100%;
}


/******* clearfix
--------------------------------------------------------------*/
.group:after {
  content: "";
  display: table;
  clear: both;
}


/**********************/
#skipnav {
    position: absolute;
    top: 58px;
    left: 15px;
    z-index: 5;
    width: 100px;
    height: 22px;
}
#skipnav a {
	color: #fff;
	padding: 2px 8px;
	line-height: 1.4;
	text-decoration: none;
	font-size: 13px;
	white-space: nowrap;
	position: absolute;
	left: -1000em;
}
#skipnav a:focus {
	background: #b31b1b;
	outline: 1px dotted #fff;
	left: 0;
}
#global-footer-content {
	display: none;	
}
#content hr.dotted {
    border-style: dotted;
}
#content hr.dashed {
    border-style: dashed;
}

/******* cu search
--------------------------------------------------------------*/
#cu-search {
    background-color: rgba(224,43,32,1);
    height: 75px;
}
#cu-search-wrapper,
#cu-identity-content {
	max-width: 1250px;
	margin: 0 auto;
}
#cu-identity {
	border-top: 4px solid #df2726;
}
#cu-search #searchform input[type="text"] {
	display: inline;
	float: left;
	font-size: 12px;
	padding: 8px;
	height: 26px;
	width: 200px!important;
	clear: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#cu-search #searchform {
	float: right;
	margin: 10px 0 10px 3px;
}
#search-filters {
	color: #fff;
	font-size: 14px;
    margin: 3px 0 0 0;
    text-align: right;
    vertical-align: middle;
    line-height: 1.4;
	float: right;
}
#cu-search input[type="submit"]#search-form-submit {
	border-top: 1px solid #828387;
	border-left: 1px solid #828387;
	border-right: 1px solid #202021;
	border-bottom: 1px solid #202021;
	color: #fff;
	background: #57585d;
	box-shadow: none;
	float: left;
	clear: none;
	width: auto;
	margin-left: 4px;
}
#search-input label {
	float: left;	
	color: #fff;
	font-size: 14px;
    margin: 5px 5px 0 0;
}
#search-form-submit {
    padding: 4px 6px 4px;
    margin: -1px 0 6px 3px;
    font-weight: normal;
}
#cu-search input[type="submit"]#search-form-submit {
    background: #990f0f;
	cursor: pointer;
}
#search-button {
	float: right;
}
.theme-red45 #search-button {
	margin-right: 0;
}
#search-button p {
	margin: 0;
}
#cu-identity.theme-red45 #search-button a,
#cu-identity.theme-red45 #search-button a {
 	float: left;
    height: 38px;
    width: 38px;
    overflow: hidden;
    text-indent: -1000em;
    background: #df2726 url('images/project/icon_search32.png') 12px 11px no-repeat;
    background-size: 16px;
}
.no-backgroundsize #search-button a {
	background-image: url('images/project/icon_search_sm.png');
}
#search-button a:active {
	background-color: #AEAEAA!important;
}
#search-button a.open {
	background-color: #AEAEAA!important;
}
#search-button a.open:active {
	background-color: #761212;
}

/******* site header
--------------------------------------------------------------*/
#site-title,
#site-description {
	float: none;
    text-align: center;
	display: block;
}
#site-title span a {
    font-weight: normal;
	font-size: 48px !important;
	letter-spacing: .01em;
}
#site-description {
    margin-top: 19px;
    padding: 3px 6px 3px 11px;
	font-size: 24px;
    letter-spacing: 0.23em;
}

/******* navigation
--------------------------------------------------------------*/
#header {
    max-width: none !important;
}
#access {
    width: 100%;
    margin: 0 auto;
	float: none;
    background: #e3120b;
}
#access .menu.group {
    max-width: 1115px;
    margin: 0 auto;
}
#access > .menu > ul > li > a:after, 
#access > .menu > ul ul:after {
    border-color: transparent transparent #BF4D28 transparent;
    border: none;
}
#access > .menu > ul > li a span:after {
	content: '|';
    pointer-events: none;
    position: absolute;
    top: 11px;
    right: -7px;
    color: #fff;
}
#access > .menu > ul > li:last-of-type a span:after {
    content: '';
}
#access ul li {
    position: relative;
    display: block;
    float: left;
    margin-right: 8px;
    white-space: nowrap;
    padding: 6px 0;
	margin-bottom: 0;
}

/******* posts slider
--------------------------------------------------------------*/
.home #content .page {
	overflow: visible;	
}
#slider {
    margin-top: -1px;
}
#slider_content #currency_image {
	width: 100%;
	height: auto;
}
#et_builder_outer_content {
    margin-top: -238px;
}
.et_divi_builder #et_builder_outer_content .et_pb_slide_description {
    padding: 5% 8%;
}
.et_divi_builder #et_builder_outer_content .et_pb_slide_with_image .et_pb_slide_description {
    width: 71.25%;
}
.et_divi_builder #et_builder_outer_content .et_pb_media_alignment_center .et_pb_slide_image {
    top: 38%;
}
.et_divi_builder #et_builder_outer_content .et_pb_slide_image, 
.et_divi_builder #et_builder_outer_content .et_pb_slide_video {
    width: 25.25%;
}
.et-pb-slider-arrows {
    position: absolute;
    right: 45px;
    bottom: 32px;
}
.et_divi_builder #et_builder_outer_content .et-pb-arrow-prev,
.et_divi_builder #et_builder_outer_content .et-pb-arrow-next {
	opacity: 1 !important;
    right: 22px;
    top: 85% !important;
    height: 35px;
    font-size: 29px !important;
    background: #ef3938 !important;
    width: 35px;
    color: #fff !important;
}
.et_divi_builder #et_builder_outer_content .et-pb-arrow-prev:hover,
.et_divi_builder #et_builder_outer_content .et-pb-arrow-next:hover {
	background: #aeaeaa !important;
}
.et_divi_builder #et_builder_outer_content .et-pb-arrow-prev {
    left: -94px;
}
.et_divi_builder #et_builder_outer_content .et_pb_slider:hover .et-pb-arrow-prev {
    left: -94px;
}
.et_divi_builder #et_builder_outer_content .et-pb-arrow-next {
    left: -57px;
}
.et_divi_builder #et_builder_outer_content .et_pb_slider:hover .et-pb-arrow-next {
    left: -57px;
}
.et_divi_builder #et_builder_outer_content .et_pb_slides .et_pb_slide {
	padding: 15px 0px;
}
.et_divi_builder #et_builder_outer_content .et-pb-arrow-prev:before,
.et_divi_builder #et_builder_outer_content .et-pb-arrow-next:before {
    margin: 3px 3px 3px 3px;
    display: inline-block;
}
.et_divi_builder #et_builder_outer_content .et_pb_slider:hover .et-pb-arrow-prev, 
.et_divi_builder #et_builder_outer_content .et_mobile_device .et-pb-arrow-prev {
    right: 0;
}
.et_divi_builder #et_builder_outer_content .et-pb-controllers {
    position: absolute;
    right: -25%;
    width: 100%;
    text-align: center;
    z-index: 10;
    bottom: 21px;
}
.et_divi_builder #et_builder_outer_content .et_pb_slider .et_pb_container {
    width: 92%;
}
.et_divi_builder #et_builder_outer_content {
	max-width: 700px;
    margin: 0 auto;
    margin-top: -144px;
	position: relative;
    z-index: 999;
}
.et_divi_builder #et_builder_outer_content .et_pb_fullwidth_post_slider_0.et_pb_post_slider {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+81&0.7+0,1+81 */
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.7) 0%, rgba(255,255,255,1) 81%) !important; /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(255,255,255,1) 81%) !important; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.7) 0%,rgba(255,255,255,1) 81%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#ffffff',GradientType=0 ) !important; /* IE6-9 */
}
.et_divi_builder #et_builder_outer_content .et-pb-controllers {
    left: 173px;
}
.et_divi_builder #et_builder_outer_content .et_pb_fullwidth_post_slider_0.et_pb_slider .et_pb_slide_content {
    font-size: 15px !important;
    line-height: 1.3em;
}
.et_divi_builder #et_builder_outer_content .et_pb_module h2 a {
    font-family: Times, "Times New Roman", serif;
}
.et_divi_builder #et_builder_outer_content .et_pb_slide_with_image .et_pb_slide_description {
    width: 70.25%;
    float: left;
    margin-left: 26%;
    padding-top: 18px;
}
.et_divi_builder #et_builder_outer_content .et_pb_slide_description h2 {
    line-height: 1em;
    padding-bottom: 6px;
}
.et_divi_builder #et_builder_outer_content .et_pb_fullwidth_post_slider_0.et_pb_slider .et_pb_slide_content {
    line-height: 1.4em;
}
#slider_content {
    position: relative;
	max-height: 435px;
    overflow: hidden;
}
#header-overlay {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b31b1b+0,b31b1b+29,b31b1b+48,b31b1b+57,ffffff+100&0.65+0,0+100 */
	background: -moz-linear-gradient(-45deg,  rgba(179,27,27,0.65) 0%, rgba(179,27,27,0.46) 29%, rgba(179,27,27,0.34) 48%, rgba(179,27,27,0.28) 57%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(179,27,27,0.65) 0%,rgba(179,27,27,0.46) 29%,rgba(179,27,27,0.34) 48%,rgba(179,27,27,0.28) 57%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(179,27,27,0.65) 0%,rgba(179,27,27,0.46) 29%,rgba(179,27,27,0.34) 48%,rgba(179,27,27,0.28) 57%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6b31b1b', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/******* body
--------------------------------------------------------------*/
@media (min-width: 1060px) {
	.home #container #primary,
	.home #container #secondary {
		margin-top: -65px;
	}
	body:not(.home) #container #content {
		margin-top: -164px;
		position: relative;
		width: calc(100% - 357px);
	}
	#container.two-columns-left #primary {
		width: 330px !important;
	}
	body:not(.home) #container #content {
		margin-top: -164px;
		position: relative;
		width: calc(100% - 357px);
	}
	#container.two-columns-left #primary {
		width: 330px !important;
	}
	#container.three-columns-sided #content {
		width: calc(100% - 716px) !important;
		margin: -1px 356px 0 -1126px !important;
	}
}
#container {
    margin-top: 27px;
}
#content h1.entry-title {
    font-size: 34px;
    margin-bottom: 20px;
}
.order {
	float: left;
	clear: both;	
}

/******* miscellaneous
--------------------------------------------------------------*/
div.page, 
div.hentry {
    padding-bottom: 40px;
}
#secondary > ul > li {
	padding-bottom: 55px;	
}
#secondary .featured-post {
	margin-bottom: 20px;	
}
#secondary .featured-post h4 {
	font-size: 16px;
	margin-bottom: 20px;
	color: #ef3938;
	float: right;	
}
#secondary .featured-post .excerpt {
    clear: both;
    font-size: 18px;
    font-style: italic;
    margin: 15px 0 0 0;
    line-height: 1.35em;
    font-family: Times, "Times New Roman", serif;
    padding: 0 10px 4px 10px;
}
#container #content .display-posts-listing .excerpt {
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-size: 34px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    text-align: center;
}
#container #content .display-posts-listing .the_title {
	font-size: 19px;
    margin: 16px;
    color: #ef3938;
    text-align: right;
    padding-right: 25px;	
}
#container #content .display-posts-listing {
    padding-top: 16px;
}
#secondary .featured-post h4:before {
	content: '-';	
}
#container #content .display-posts-listing .the_title:before {
	content: '- ';	
}
#eswar_home {
	display: block;
	text-align: center;
	font-size: 18px;	
}
#primary .textwidget {
	text-align: center;
}	
#eswar_img,
#book_cover {
    margin-top: 20px;
	margin-bottom: 6px;
    width: 90%;
}
#book_cover {
   max-width: 188px;
}
#eswar_img {
   max-width: 212px;
}
#content hr.yellow {
	background: #e8c527;	
	margin-bottom: 4em;
	width: 95%;
}
#buy_button,
#read_all_button {
    width: 172px;
    margin: 0 auto;
    border: 1px solid #444;
    height: 48px;
    position: relative;
}
#buy_button a,
#read_all_button a {
    background: #394345;
	text-align: center;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    top: 0px;
    padding: 7px 8px 3px 8px;
    border: 1px solid #fff;
    margin: 2px;
    display: block;
    max-width: 92%;
    height: 32px;
    font-size: 17px;
}
#tw-recent-posts-2 {
    margin-bottom: 0;
    border-bottom: none;
	padding-bottom: 30px !important;
}
#text-5 {
    border-top: none;
    margin-top: 0;
	padding-bottom: 16px !important;
}
#image_band {
	position: absolute;
	pointer-events: none;
    bottom: 201px;
    height: 370px;
    min-width: 100%;
    z-index: 1 !imporatnt;
    background: url('images/project/money3.png') no-repeat;
    background-size: cover;
}
#main {
    position: relative;
    z-index: 999;
}
.wmd-tabs .wmd-tabs {
    background-color: #fff !important;
}
.wmd-tabs .wmd-tabs .wmd-heading.wmd-active {
    background-color: #394345 !important;
}
.wmd-tabs .wmd-tabs .wmd-heading {
    background-color: #ef3938 !important;
    border-radius: 10px 10px 0 0;
    border-right: 1px solid #fff;
    height: 42px;
    line-height: 42px;
    padding: 2px 14px;
}
#book-citation {
    font-size: 19px !important;
    line-height: 23px;
    margin-bottom: 33px;
}

/******* endorsements
--------------------------------------------------------------*/
#secondary .featured-post h4 {
    color: #ef3938;
}
#container #content .display-posts-listing .the_title {
    color: #ef3938;
}
#container #content .display-posts-listing .the_title:before {
    content: '- ';
}
#secondary .featured-post .excerpt:before, 
#container #content .display-posts-listing .excerpt:before {
    font-family: Times, "Times New Roman", serif;
    content: '';
}
#content .endorsements {
    font-size: 16px !important;
    margin-left: 17.3% !important;
    margin-top: -4px !important;
    line-height: 23px !important;
    margin-bottom: 30px !important;
    color: #666 !important;
}

/******* footer
--------------------------------------------------------------*/
body #footer,
#footer #footer2 {
    background-color: #2c2c2c;
	height: 200px;
}
#footer #footer2 #seal {
    width: 123px;
    height: 123px;
    float: left;
	opacity: .3;
	margin-top: -20px;
}
#site-copyright,
#sfooter {
	clear: none;
}
#footer2-inner {
	position: relative;
}
#footer2 .footermenu {
    margin-right: 0;
	margin-top: 44px;
    margin-bottom: 30px;
}
#footer2 .footermenu ul li {
    margin: 0px 23px;
}
#footer2 .footermenu ul li a {
    color: #acafa9;
    font-size: 17px;
	letter-spacing: .1em;
    text-transform: none !important;
}
#footer2 .footermenu ul li a:after {
    border: none;
}
.footer-rule {
	width: 80%;
    float: right;
    position: absolute;
    top: 51px;
    right: 35px;
    border: none;
}
#site-copyright {
    display: block;
    float: none;
    padding-top: 5px;
    font-style: normal;
    margin: 0 auto;
    text-align: center;
    margin-top: 63px;
    font-size: 17px;
	letter-spacing: .1em;
}
#sfooter {
    float: right;
    margin: -28px 20px 0 0;
}
#sfooter.socials a {
    background-color: transparent;
}
#sfooter.socials img {
    background: #2c2c2c;
    opacity: .3;
}