/****************************************
 * Cornell University IWS
 * IE browser hacks
 ****************************************/

/* Internet Explorer 6/7
   -------------------- */
#col1, #col2, #footer1, #footer2, #footer3 {
	#margin-left: 0;
	#margin-right: 2%;
}
#secondary {
	#margin-left: 0;
	#margin-right: 0;
}
.nav-centered #navigation ul {
	#width: auto !important;
}
.nav-centered #navigation ul li {
	#width: auto !important;
	#padding-left: 18px !important;
	#padding-right: 18px !important;
}

/* Section Nav
   -------------------- */
#section-navigation ul li a {
	background: url('../../images/layout/black_alpha04.png') !important;
}
#section-navigation ul li a.active {
	background: url('../../images/layout/black_alpha30.png') !important;
	text-decoration: none !important;
}

/* Component Forms
   -------------------- */
#wrap form.iws-component .form-tools {
	margin-top: 10px;
}
