/* IWS CSS Framework: Base Cornell
   ************************************************************************** */
html { /* prevents page 'jump' between short and long pages */
	overflow-y: scroll;
}
body {
	-webkit-text-size-adjust: 100%; /* prevent unwanted font scaling in iOS landscape mode */
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 75%; /* 12px *//* font size key in em:
		0.750em = 09px
		0.833em = 10px
		0.917em = 11px
		default = 12px
		1.083em = 13px
		1.167em = 14px
		1.250em = 15px
		1.333em = 16px
		1.417em = 17px
		1.500em = 18px
		1.583em = 19px
		1.667em = 20px
		1.833em = 22px
		2.000em = 24px
		3.000em = 36px
	*/
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1.4em;
	margin-bottom: 12px;
}
h1, h2, h3 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	line-height: 1.2em;
}
h1 {
	font-size: 2.5em;
	line-height: 1.1em;
}
h2 {
	font-size: 2.0em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-weight: bold;
}
h5, h6 {
	margin-bottom: 5px;
}
h6 {
	font-style: italic;
}
p, td, th, li, dt, dd {
	line-height: 1.6em;
}
p {
	margin-bottom: 15px;
}
b, strong {
	font-weight: bold;
}
i, em, cite {
	font-style: italic;
}
blockquote, pre {
	margin-left: 2em;
	padding-left: 1em;
	border-left: 1px solid #ccc;
	font-style: italic;
	line-height: 1.4em;
}
pre, code {
	font-family: mono-space, monospace;
	font-style: normal;
	margin-bottom: 15px;
}
abbr, acronym {
	text-transform: uppercase;
	border-bottom: 1px dotted #000;
	letter-spacing: 1px;
}
abbr[title], acronym[title] {
	cursor: help;
}
sup, sub {
	font-size: .8em;
	position: relative;
}
sup {
	top: -0.4em;
}
sub {
	top: 0.2em;
}

/* Links (Cornell Red) */
a {
	color: #3f99ae;
}
a:visited {
	color: #3f99ae;
}
a:hover {
	color: #65d3ed;
}
a:active {
	color: #81bac7;
}

/* Lists */
ul {
	margin-left: 18px;
	margin-bottom: 15px;
}
ul li {
	padding-left: 18px;
	background: url('../images/layout/bullets_vector/bullet_square.svg') 0 0.6em no-repeat;
}
ul.disc li {
	background: url('../images/layout/bullets_vector/bullet_disc.svg') 0 0.6em no-repeat;
}
ul.circle li {
	background: url('../images/layout/bullets_vector/bullet_circle.svg') 0 0.6em no-repeat;
}
.no-svg ul > li {
	background: url('../images/layout/bullets_pixel/bullet_square.gif') 0 0.6em no-repeat;
}
.no-svg ul.disc > li {
	background: url('../images/layout/bullets_pixel/bullet_disc.gif') 0 0.6em no-repeat;
}
.no-svg ul.circle > li {
	background: url('../images/layout/bullets_pixel/bullet_circle.gif') 0 0.6em no-repeat;
}
ol {
	margin-left: 36px;
	margin-bottom: 15px;
}
ol li {
	padding-left: 0;
	list-style: decimal;
	background: none;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 4px;
}
dl {
	margin-left: 0;
	margin-bottom: 15px;
}
dl dl {
	margin-left: 30px;
}
dt {
	font-weight: bold;
	margin-bottom: 8px;
}
dd {
	margin-bottom: 12px;
}

/* Table of Contents */
ul.toc {
	border-left: 4px solid #ddd;
	border-color: rgba(0,0,0,0.1);
	margin-left: 1px;
	padding-left: 0px;
	margin-bottom: 20px;
}
ul.toc li {
	background: none;
	padding-left: 10px;
}
ul.toc ol li {
	padding-left: 0;
}
ul.toc a {
	padding-right: 10px;
	background: url('../images/layout/bullets_vector/triangle_right.svg') right 0.35em no-repeat;
}
.no-svg ul.toc a {
	background: url('../images/layout/icon_arrow_darkgrey.gif') right 0.35em no-repeat;
}

/* Tables */
table {
	width: 100%;
	margin-bottom: 15px;
	border: solid #ddd;
	border-width: 1px 1px 0 0;
	border-collapse: collapse;
}
table table {
	margin-bottom: 0;
}
caption {
	font-style: italic;
	color: #777;
	margin: 0.2em 0;
	line-height: 1.6em;
	text-align: left;
}
td, th {
	border: solid #ddd;
	border-width: 0 0 1px 1px;
	padding: 6px;
	vertical-align: top;
	background: url('../images/layout/white_alpha20.png');
	background: rgba(255,255,255,0.2);
}
th {
	color: #444;
	font-weight: bold;
	text-align: center;
	/*background: #f5f5f5;*/
	background: url('../images/layout/black_alpha04.png');
	background: rgba(0,0,0,0.04);
}
th p {
	margin-bottom: 0;
}

/* Forms */
#wrap form {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	clear: both;
}
#wrap form fieldset {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #ccc;
	padding: 15px 2%;
	margin-bottom: 15px;
	float: left;
	width: 100%;
	background: url('../images/layout/white_alpha20.png');
	background: rgba(255,255,255,0.2);
}
#wrap form fieldset.row-submit {
	border: none;
	padding: 0;
	background: none;
}
#wrap input, #wrap textarea {
	margin-bottom: 4px;
	max-width: 100%;
}
#wrap label {
	margin: 0 4px 4px 0;
	vertical-align: top;
}
#wrap select {
	min-width: 200px;
}
#wrap legend {
	padding: 0 2%;
	text-align: center;
	font-weight: bold;
}

/* Form Theme: Basic */
#wrap form.basic p {
	float: left;
	width: 100%;
	clear: both;
	display: block;
}
#wrap form.basic input, #wrap form.basic textarea {
	float: left;
	clear: right;
	margin-left: 0;
}
#wrap form.basic label {
	display: block;
	float: left;
	clear: left;
	width: 125px;
	margin: 1px 10px 0 0;
	text-align: right;
	line-height: 1.5em;
}
#wrap form.basic select {
}
#wrap form.basic input[type="text"], #wrap form.basic input[type="password"], #wrap form.basic textarea {
	outline: 2px solid transparent;
	border: 1px solid #999;
	border-top-color: #000;
	padding: 2px;
}
#wrap form.basic input[type="text"]:focus, #wrap form.basic input[type="password"]:focus, #wrap form.basic textarea:focus {
	background: #f0f4f7;
	border: 1px solid #000;
	-moz-box-shadow: 0 0 0 2px #8ebfdf;
	-webkit-box-shadow: 0 0 0 2px #8ebfdf;
	box-shadow: 0 0 0 2px #8ebfdf;
}
#wrap form.basic input[type="submit"], #wrap form.basic input[type="reset"] {
	float: none;
	font-size: 1.083em;
	border: 1px solid #999;
	border-bottom-color: #000;
	padding: 5px 10px;
	background: #ededed;
	cursor: pointer;
	
	/* optional gradient */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f8f5', endColorstr='#e2e1de',GradientType=0 );
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f8f5), to(#e2e1de));
	background: -moz-linear-gradient(top, #f9f8f5, #e2e1de);
	background: -o-linear-gradient(top, #f9f8f5, #e2e1de);
	background: -ms-linear-gradient(top, #f9f8f5, #e2e1de);
	background: linear-gradient(to bottom, #f9f8f5, #e2e1de);
}
#wrap form.basic input[type="submit"]:hover, #wrap form.basic input[type="reset"]:hover {
	background: #f5f5f5;
}
#wrap form.basic input[type="submit"]:active, #wrap form.basic input[type="reset"]:active {
	background: #e5e5e5;
}
#wrap form.basic fieldset.row-submit p {
	width: 100%;
	text-align: left;
}


/* Layout */
#wrap {
	float: left;
	width: 100%;
	clear: both;
	background: #fff;
}
#content {
	width: 960px;
	margin: 0 auto;
}
#main, #secondary, #secondary-nav, #section-navigation, #section-navigation-wrap {
	float: left;
}
#secondary {
	clear: right;
}
.sidebar-left #secondary {
	clear: none!important;
}
.secondary-section, .secondary-photo {
	float: left;
	width: 100%;
}
#main {
	width: 100%;
	padding: 10px 0 12px;
	min-height: 200px;
}
#secondary, #secondary-nav {
	padding-top: 6px;
}
#section-navigation, .secondary-section {
	width: 100%;
	padding: 0 0 20px;
	margin-left: 0;
}
#header {
	float: left;
	width: 100%;
}
#identity, #navigation ul {
	width: 960px;
	margin: 0 auto;
}
#navigation {
	float: left;
	width: 100%;
	clear: both;
	background: #ccc;
}
#navigation ul ul {
	width: auto;
}

/* Misc */
hr {
	display: none;
}
p.last, ul.last, ol.last, dl.last {
	margin-bottom: 0;
}
p.note {
	padding: 10px;
	border: 1px solid #ccc;
}
.more {
	padding-right: 8px;
	background: transparent url('../images/layout/bullets_vector/triangle_right_red.svg') no-repeat 100% 60%;
	background-size: 4px;
}
#home-caption {
	background: #646464;
	color: #fff;
	padding: 10px 20px 0 0;
	font-size: 1.2em;
	line-height: 1.22em;
	text-align: right;
	float: right;
	width: 475px;
	margin: 5% 5% 0 0;
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(100, 100, 100);
    /* RGBa with 0.6 opacity */
    background-color: rgba(100, 100, 100, 0.9);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
	.more {
		background-position: 100% 65%;
	}
}
no-svg .more {
	background: transparent url('../images/layout/right_red.gif') no-repeat 100% 80%;
}
.image-left {
	float: left;
	margin: 0 12px 6px 0;
	max-width: 40%;
}
.image-right {
	float: right;
	margin: 0 0 6px 12px;
	max-width: 40%;
}
img {
	/*width: 100%;*/
	max-width: 100%;
}
#skipnav {
	position: absolute;
	top: -1000em;
	left: -1000em;
}






/* Project CSS
   - Mellon Seminars
   - <Project Notes>
   ************************************************************************** */

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

.element {
  width: 120px;
  height: 80px;
  margin: 5px 30px 20px 0;
  float: left;
  text-align: right;
  overflow: hidden;
  position: relative;
  background: #FFB03A;
  color: #222;
  -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
          border-radius: 0.5em;
}
.element img, .element a.hide-show, .element a.hide-show span {
  -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
          border-radius: 0.5em;
}

.element img {display: block; float: right;}

.element.life-sciences, .element.life-sciences a.hide-show:hover {background: #BECC40;}
.element.social-sciences, .element.social-sciences a.hide-show:hover {background: #8671A3;}
.element.arts, .element.arts a.hide-show:hover {background: #CC524A;}
.element.humanities,.element.humanities a.hide-show:hover {background: #62AEB3;}

.element a.hide-show {
	display: block;
	width: 100px;
	padding: 30px 10px 10px 10px;
	height: 40px;
	text-align: center;
	position: relative;
	overflow: hidden;
	background: transparent;
	top: -80px;
	color: #000;
	text-decoration: none;
	text-shadow: 1px 1px 1px #FBFBEB;
}

.element a.hide-show:hover {background: #FFB03A;}
.element a.hide-show span {display: none;}
.element a.hide-show:hover span {display: block;}

/* professors listing page */

.professors-listing .element {
  width: 100%;
  height: auto;
  margin: 5px 0;
  float: left;
  text-align: left;
  overflow: hidden;
  position: relative;
  background: #FCFCEC !important;
  color: #675333;
  -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
          border-radius: 0.5em;
}

.professors-listing .element img, .archive-item img {
	float: left;
	padding-left: 18px;
	margin: 0 10px 0 0;
	background: #EDEBBD;
  -webkit-border-radius: 0.5em;
      -moz-border-radius: 0.5em;
          border-radius: 0.5em;
}
.professors-listing .element.life-sciences img {background: #BECC40;}
.professors-listing .element.social-sciences img {background: #8671A3;}
.professors-listing .element.arts img {background: #CC524A;}
.professors-listing .element.humanities img {background: #62AEB3;}
.professors-listing .physical-sciences img {background: #FFB03A;}

.professors-listing ul.list-categories {
	float: left;
	width: 100%;
	text-align: left;
	padding: 0;
	margin: 0 0 10px -10px;
}

.professors-listing .element h3, .archive-item h3 {
	display: inline;
	font-size: 1.6em;
	margin: 0;
	padding: 0;
}

.professors-listing .element h3 a {color: #b31b1b;}
.professors-listing .element h3 a:hover {color: #F00;}

/* archive default styles */

.archive-item {
	float: left; 
	clear: both;
	margin: 10px 0;
}

.life-sciences img {background: #BECC40;}
.social-sciences img {background: #8671A3;}
.arts img {background: #CC524A;}
.humanities img {background: #62AEB3;}
.physical-sciences img {background: #FFB03A;}




/* Cornell Identity
   ************************************ */
#cu-logo a {
	width: 250px; /* Defines the active area for the standalone CU logo link */
	margin-left:-5px;
}
#cu-logo.unit75 #unit-link {
	width: 182px; /* Defines the active area for the unit signature link */
}
#cu-identity {
	/*background-image: url(../images/cornell_identity/header_bg/75/red/1.jpg);*/ /* optional header background image */
}

/* Theme Basics
   ************************************ */
body {
	/*background: #fff;  footer color */
}
/*body.home {
	background: url(../../../blogs.dir/42/files/backgrounds/homebg5.jpg) no-repeat center top scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/
#content-wrap {
	float: left;
	width: 100%;
	border-top: 0px solid #d6ccad; /* top bridge-band color */
	border-bottom: 0px solid #d6ccad; /* bottom bridge-band color */
	color: #333333;
	background: none;
}

#wrap {
	/*background: #fff;  body color */
	overflow: hidden;
	background: none;
}
blockquote, p.note, pre, #wrap table, #wrap th, #wrap td, #wrap form fieldset, #wrap form.webform-client-form > div {
	border-color: #d1b898; /* line color */
}
#wrap hr {
	display: block;
	margin: 3px 0 15px;
	border: 0;
	border-top: 3px solid #d1b898;
}
#header {
	border-top: 0px solid #c2443e;
	background: #fff;
}
#header #header-text, 
#header #mobile-header-text {
	color: #FFFFFF;
	float: left;
	width: 35%;
	margin: 0;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.home #header #header-text, 
.home #header #mobile-header-text {
	margin: 2.5% 0 0 0%;
}
.home #header #header-text .site-title, 
.home #header #mobile-header-text .site-title {
	font-weight: bold;
	font-size: 2em;
	line-height: 1.4em;
}
#header #header-text .site-title, 
#header #mobile-header-text .site-title {
	font-weight: bold;
	font-size: 2em;
	line-height: 1.25em;
}
.home #header #header-text .site-tagline, 
.home #header #mobile-header-text .site-tagline {
	width: 92%;
	font-size: 2em;
	line-height: 1.4em;
}
#header #header-text .site-tagline,
#header #mobile-header-text .site-tagline {
	line-height: 1em;
	font-size: 1.2em;
}
#mobile-header-text {
	display: none;
}

.theme-white #header, .white #header {
	border-top: 1px solid #bbb;
}
.theme-gray #header, .gray #header {
	border-top: 5px solid #a2a3a5;
}
#header h1 {
	font-size: 3.0em;
	margin: 2% 0 0;
}
#header h1 em {
	font-style: normal;
	color: #999;  /* header title accent */
}
#header h1.autoscale {
	margin: 0;
	white-space: nowrap;
	line-height: 1.4;
	text-shadow: 0 2px #fff;
}
#header h1.autoscale em {
	color: #c2443e;
}
#header a {
	color: #000;
	text-decoration: none;
}
#header a.home-link {
	color: #fff;
}
#header h2 {
	font-size: 2.0em;
	margin: 0 0 2%;
}
#identity-content {
	float: left;
	width: 100%;
	background: url('../images/layout/campaign_whitefade.png') right 50% no-repeat, url('../images/photos/campus_pano.jpg') right 50% no-repeat;
	background-size: 50%;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.no-multiplebgs #identity-content {
	background: url('../images/photos/campus_pano_faded.jpg') right 50% no-repeat;
}
h1, h2, h3 {
	/* custom header font */
}
h3.widget-title {
	text-transform: uppercase;
}
.wp-caption {
	background: #ededed;
	width: 100%!important;
	height: auto!important;
	max-width: 535px!important;
}
.wp-caption img {
	height: auto!important;
}
.entry-content.subpage {
	font-size: 60%;
}
.wp-caption-text {
	line-height: 1.5em;
	padding: 0 2% 2%;
	margin-top: -3%;
	font-size: .7em;
}
.entry-header div.entry-title {
	line-height: 1.5em;
}
#attachment_500 .wp-caption-text {
	margin-top: 2%;
}
		/*force NextGen slideshow to be responsive*/
#ngg-slideshow-2-330-1 {
	width: 100%!important;
	height: auto!important;
}
#ngg-slideshow-2-330-1 img:first-child {
	width: 100%!important;
	height: auto!important;
	position:relative!important;
	display: block!important;
}
#ngg-slideshow-2-330-1 img:nth-child(2) {
	width: 100%!important;
	height: auto!important;
	position:absolute!important;
	display: block!important;
}
.ngg-slideshow-loader{
    display: none!important;
}


/* Frames and Shadows
   ************************************ */
   
.dropshadow {
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
}
.dropshadow-dark {
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
}
.dropshadow-diffuse {
	-moz-box-shadow: 0 1px 24px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 1px 24px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 24px rgba(0, 0, 0, .15);
}
body.rounded .rounded {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.framed {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 4px solid #fff;
}



/* Main Navigation 
   ************************************ */
   
#navigation-bar {
	width: 100%;
	float: left;
	background: #000000;
	height: 53px;
	margin-bottom: 10px;
}
.home #navigation-bar {
	height: 150px;
}
#navigation-wrap {
	width: 960px;
	margin: 0 auto;
}
#navigation {
	background: none;
}
#navigation h3 {
	display: none;
}
#navigation ul {
	width: auto;
	float: left;
}
#navigation li {
	float: left;
	background: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	border-left: 0px solid #ddd;
	border-left: 0px solid rgba(255,255,255,0.2);
	font-size: 1.12em;
}
#navigation li:nth-child(1) {
	background: #d5b830;
}
#navigation li:nth-child(2) {
	background: #4daf74;
}
#navigation li:nth-child(3) {
	background: #45665c;
}
#navigation li:nth-child(4) {
	background: #468595;
}
#navigation li:nth-child(5) {
	background: #983636;
}
#navigation li:nth-child(1):hover {
	background: #f1c914;
}
#navigation li:nth-child(2):hover {
	background: #2ad16c;
}
#navigation li:nth-child(3):hover {
	background: #288165;
}
#navigation li:nth-child(4):hover {
	background: #1b9dbf;
}
#navigation li:nth-child(5):hover {
	background: #cc0101;
}
#navigation li:nth-child(1).current_page_item,
#navigation li:nth-child(1).current-page-ancestor {
	border-bottom: .34em solid #fffd41;
}
#navigation li:nth-child(2).current_page_item,
#navigation li:nth-child(2).current-page-ancestor {
	border-bottom: .34em solid #5ee879;
}
#navigation li:nth-child(3).current_page_item,
#navigation li:nth-child(3).current-page-ancestor {
	border-bottom: .34em solid #4d9d84;
}
#navigation li:nth-child(4).current_page_item,
#navigation li:nth-child(4).current-page-ancestor {
	border-bottom: .34em solid #78d7f0;
}
#navigation li:nth-child(5).current_page_item,
#navigation li:nth-child(5).current-page-ancestor {
	border-bottom: .34em solid #ff3232;
}
#navigation li:last-child, #navigation li.last {
	border-right: 0px solid #ddd;
	border-right: 0px solid rgba(255,255,255,0.2);
}
#navigation li a, #navigation li a:visited {
	color: #fff;
	float: left;
	padding: 14px 28px;
	text-decoration: none;
	transition: color .1s;
	-moz-transition: color .1s;
	-ms-transition: color .1s;
	-o-transition: color .1s;
	-webkit-transition: color .1s;
}
#navigation li a:active {
	color: #fcdc01;
}
#navigation li:first-child a, #navigation li.first a {
	/*padding-left: 0;*/
}
#navigation li:last-child a, #navigation li.last a {
	/*padding-right: 0;*/
}
.nav-centered #navigation ul {
	border-right: #ddd;
	border-right: 0px solid rgba(255,255,255,0.2);
	padding-top: 0;
	float: right!important;
}
.home .nav-centered #navigation ul {
	padding-top: 4.7%;
}
.nav-centered #navigation li {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.nav-centered #navigation li:last-child, .nav-centered #navigation li.last {
	border-right: 0;
}
.nav-centered #navigation li a {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}
/*
.home #navigation li:hover {
	border-bottom: 0px!important;
}
*/
.svg .theme-white45 #cu-logo a, .svg .theme-white75 #cu-logo a, .svg .theme-white75 #cu-logo.unit75 a {
	background: url('../images/cornell_identity/culogo_hd45.svg') no-repeat -1px -2px !important;
	background-size: 162px !important;
}

/* Breadcrumbs
   ************************************ */
   
#breadcrumbs {
	display: inline-block;
	/*width: 100%;*/
	margin: 0 0 12px;
}
#breadcrumbs li {
	display: inline;
	margin: 0 0 0 8px;
	padding: 0;
	background: none;
}
#breadcrumbs li:first-child, #breadcrumbs li.first {
	margin-left: 1px;
}
#breadcrumbs li a, #breadcrumbs li a:hover, #breadcrumbs li a:active, #breadcrumbs li a:visited {
	font-size: 0.917em;
	padding: 0 16px 0 0;
	background: transparent url('../images/layout/bullets_vector/triangle_right.svg') right 0.35em no-repeat;
	border: 0;
}
.no-svg #breadcrumbs li a, .no-svg #breadcrumbs li a:hover, .no-svg #breadcrumbs li a:active, .no-svg #breadcrumbs li a:visited {
	background: url('../images/layout/icon_arrow_darkgrey.gif') right 0.35em no-repeat;
}


/* Section Navigation
   ************************************ */
#section-navigation ul, .secondary-section ul {
	margin-left: 0;
}
#section-navigation ul ul, .secondary-section ul ul {
	margin: 4px 0 9px 5%;
}
#section-navigation ul li, .secondary-section ul li {
	background: none;
	margin: 0;
	border-bottom: 1px solid transparent;
	font-size: 1em;
	line-height: 1.3em;
	padding: 0;
}
#section-navigation ul li a, .secondary-section ul li a {
	padding: 7px 22px 7px 12px;
	font-size: 1.25em;
	display: block;
	border: 0;
	text-decoration: none;
	background: rgba(109, 102, 90, 0.07) url('../images/layout/nav_arrow.svg') right 50% no-repeat;
	background-image: url('../images/layout/nav_arrow.svg') !important;
}
.secondary-section ul li a {
	background: #fff url('../images/layout/nav_arrow.svg') left 50% no-repeat!important;
}
#section-navigation ul li a:visited, 
#section-navigation ul li a:hover, 
#section-navigation ul li a:active,
.secondary-section ul li a:visited, 
.secondary-section ul li a:hover, 
.secondary-section ul li a:active {
	border: 0;
}
#section-navigation ul li a.active, 
#section-navigation ul li a.active:visited, 
#section-navigation ul li a.active:hover, 
#section-navigation ul li a.active:active,
.secondary-section ul li a.active, 
.secondary-section ul li a.active:visited, 
.secondary-section ul li a.active:hover, 
.secondary-section ul li a.active:active {
	/*background-color: rgba(109, 102, 90, 0.7);
	color: #fff;*/
	border: 0;
	/*font-weight: bold;*/
	/*-webkit-font-smoothing: antialiased;*/
}
#section-navigation ul li a.active, .secondary-section ul li a.active, #section-navigation ul li.current_page_item > a {
	/*background-image: none !important;*/
	background-color: rgba(109, 102, 90, 0.18) !important;
	color: #333 !important;
}
#section-navigation ul li a:visited, .secondary-section ul li a.visited {
	color: #3f99ae;
}
#section-navigation ul li a:hover, .secondary-section ul li a.hover {
	background-color: rgba(109, 102, 90, 0.10);
	/*color: #65d3ed;*/
	color: #333;
}
#section-navigation ul ul li a, .secondary-section ul ul li a {
	background-position: 9px 50% !important;
	padding: 7px 12px 7px 24px;
}



/* Footer
   ************************************ */

#footer {
	float: left;
	clear: both;
	width: 100%;
	padding: 15px 0 30px;
	color: #000;
}
#footer-content {
	width: 960px;
	margin: 0 auto;
}
#footer ul {
	float: left;
	display: block;
	margin-left: 0;
}
#footer li {
	font-size: 1.083em;
	padding: 0 13px 0 10px;
	margin: 0;
	float: left;
	background: transparent url('../images/layout/icon_footer_listdiv.gif') right center no-repeat;
}
#footer .first {
	padding-left: 0;
}
#footer .last {
	background: none;
}
#footer a {
	color: #000;
}
#footer1, #footer2, #footer3 {
	width: 31%;
	margin-right: 3.5%;
	float: left;
}
#footer3 {
	margin: 0;
}

/* Content Regions
   ************************************ */

#col1 {
	float: left;
	width: 27.5%;
	margin: 0 5% 0 0;
	clear: left;
}
#col2 {
	float: left;
	width: 27.5%;
	margin: 0 4% 0 0;
}
#secondary, #secondary-nav {
	float: right;
	width: 36%;
	margin: 0;
	padding-left: 3%;
	border-left: 0px solid #d1b898;
	height: 100%;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#main-body {
	float: left;
	width: 57%;
	margin: 0 0 1% 0;
	padding-top: 2px;
	font-size: 2.1em;
	line-height: 2.3em;
}
.sidebar-left #main-body {
	float: right;
	width: 64%
}
#main-top {
	float: left;
	width: 100%;
	margin: 0;
}
#main-bottom {
	float: left;
	width: 60%; /* remove for full width (like #main-top) */
	margin: 0;
	clear: left;
}
.entry-meta a {
	font-size: 60%;
}
/* Alternate Layouts
   -------------------- */
.top-padding-50 {
	padding-top: 2.65%;
}
h1.entry-title {
	font-size: 1.2em;
}
.entry-content {
}
.onecolumn #main-body, .onecolumn #main-bottom {
	width: 100%;
}
.sidebar-left #secondary, .sidebar-left #secondary-nav {
	float: left;
	width: 29%;
	padding-left: 0;
	padding-right: 0;
	border-left: 0;
	border-right: 0px solid #d1b898;
	margin-right: 0;
	margin-top: 11px;
}
.sidebar-left #main-body, .sidebar-left #main-bottom {
	float: right;
}
.sidebar-left #col1 {
	width: 46%;
	margin: 0 4% 0 0;
}
.sidebar-left #col2 {
	width: 46%;
	margin: 0 0 0 4%;
}
.backgroundsize .sidebar-tint #main {
	background-image: url('../images/layout/sidebar_right.png');
	background-position: 0 0;
	background-repeat: repeat-y;
	background-size: 100%;
}
.backgroundsize .sidebar-left.sidebar-tint #main {
	background-image: url('../images/layout/sidebar_left.png');
}
.backgroundsize .sidebar-tint #secondary, .backgroundsize .sidebar-tint #secondary-nav {
	padding-left: 2%;
	padding-right: 2%;
	border-width: 0;
}
.no-backgroundsize .sidebar-tint #main {
	/* an AlphaImageLoader filter could be used here to support old versions of IE */
}


/* Homepage Features
   ************************************ */

/* Spotlight
   -------------------- */
#spotlight img {
	width: 100%;
	max-width: 480px;
	margin-bottom: 8px;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* News
   -------------------- */
#news {
	float: left;
	margin-bottom: 15px;
}
#news img {
	width: 50px;
	height: 50px;
	float: left;
	margin: 4px 8px 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#news img {
		margin: 3px 8px 0 0;
	}
}
#news h3 {
	font-size: 1.167em;
	line-height: 1.4em;
	margin: 0;
	display: inline;
}
#news h3 a {
	margin-right: 3px;
}
#news h4.date {
	display: inline;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-weight: normal;
	font-size: 0.917em;
	line-height: 1.9;
	color: #666;
	color: rgba(0,0,0,0.6);
	padding: 0;
	white-space: nowrap;
}
#news .heading, .secondary #news .node {
	width: 100%;
	float: left;
	margin-bottom: 6px;
}

/* Events
   -------------------- */
#events h3 {
	font-size: 1.167em;
	line-height: 1.4em;
	margin-bottom: 6px;
}
#events .meta-data {
	margin: 0;
	padding: 0;
}
#events .meta-data li {
	display: inline;
	background: none;
	padding: 0;
	margin: 0;
	line-height: 1.7em;
	min-height: 12px;
}
#events .meta-data .date {
	color: rgba(0,0,0,0.8);
	padding-left: 16px;
	background: url('../images/layout/icon_cal.gif') 0 48% no-repeat;
}
#events .meta-data .location {
	color: rgba(0,0,0,0.8);
	text-align: right;
	float: right;
}


/* "View All" Buttons
   -------------------- */
#main .view-all {
	text-align: center;
	clear: both;
}
#main .view-all a {
	display: block;
	width: 100%;
	background: url('../images/layout/black_alpha04.png');
	background: rgba(0, 0, 0, 0.04);
	border: 0;
	text-decoration: none;
	
	transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	-webkit-transition: background-color .2s;
}
#main .view-all h4 {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 0.917em;
	font-weight: normal;
	line-height: 1.8em;
	color: #3f99ae;
	text-transform: uppercase;
	opacity: 0.8;
	-webkit-font-smoothing: antialiased;
}
#main .view-all h4 span {
	background: url('../images/layout/icon_plus.gif') right 50% no-repeat;
	padding-right: 14px;
}
#main .view-all a:hover {
	background: rgba(0, 0, 0, 0.07);
}
#main .view-all a:hover h4 {
	opacity: 1;
}


.read-more {
	display: block;
}
aside {
	clear: left;
}



/* Flexible Width
   ************************************ */

#cu-identity, #wrap, #footer {
	min-width: 960px;
}
.flexible #cu-identity, .flexible #wrap, .flexible #footer {
	min-width: 0;
}
.flexible #cu-identity-content, .flexible #identity, .flexible #navigation-wrap, .flexible #footer-content, .flexible #content, .flexible #midband {
	width: 92%;
	max-width: 960px;
}
.flexible.unconstrained #cu-identity-content, .flexible.unconstrained #identity, .flexible.unconstrained #navigation-wrap, .flexible.unconstrained #footer-content, .flexible.unconstrained #content, .flexible.unconstrained #midband {
	width: 98%;
	max-width: none;
}

#home-caption-mobile {
	display: none;
}
/* Aditional Flexible Width Options
   ************************************ */

/* full-width CU identity *//*
.flexible #cu-identity-content {
	width: 97%;
	max-width: none;
}*/

/* inset content *//*
.flexible #footer-content, .flexible #content, .flexible #midband {
	width: 87%;
	max-width: 1034px;
}*/



/* People page
   ************************************ */

#main-body .post {
	float: left;
	width: 100%;
	margin: 0.75em 0;
}
#people-listing h2 {
	width: 100%;
	font-size: 1em;
	border-bottom: 1px solid #000;
}
.people-photo {
	width: 20%;
	height: auto;
	float: left;
	margin: 0.5% 3% 0 0;
}
.people-content {
	padding-left: 23%;
	font-size: 60%;
}
.people-content h3 {
	/*color: #3f99ae;*/
   margin-bottom: 3px;
	font-size: 1.25em;
}

.people-content h4 {
	margin-bottom: 3px;
	font-size: 1em;
}
.people-content p {
	font-size: 0.933em;
	line-height: 1.45em;
}
.people-ui-filter1 {
	margin-left: 0;
	margin-bottom: 25px;
}
.people-ui-filter1 li {
	background: none;
	margin: 0 3px 4px 0;
	padding: 0;
	font-size: 0.917em;
}
.people-ui-filter1 li:last-child {
	margin-right: 0;
}
.people-ui-filter1 a {
	text-decoration: none;
	display: block;
	padding: 4px 7px;
	line-height: 1;
/*
	background: rgba(0,0,0,0.05);
	border: 1px solid rgba(0,0,0,0.05);
*/
}
.people-ui-filter1 a:hover {
	border: 1px solid rgba(0,0,0,0.2);
	color: #333;
}
.people-ui-filter1 a.active {
	/*background: #fff;*/
	color: #333 !important;
	/*border: 1px solid rgba(0,0,0,0.4);*/
}

.people-ui-scroll {
	/*background: rgba(0,0,0,0.05);*/
	max-height: 360px;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	position: relative;
}
.people-ui-scroll .bottom-fader {
	width: 100%;
	height: 12px;
	position: absolute;
	bottom: 0;
	background: url('../images/project/bottom_fade_white.png') 0 100% repeat-x;
}
.people-ui-filter2 {
	margin-left: 0;
}
.people-ui-filter2 li {
	width: 100%;
	/*background: rgba(0,0,0,0.05);*/
	background: transparent;
	margin-bottom: 1px;
	padding: 0;
}
.people-ui-filter2 a {
	background-color: transparent !important;
	width: 100%;
	display: block;
	margin-bottom: 1px;
	text-decoration: none;
	padding: 4px 10px;
/*
	padding: 2px 5px;
	line-height: 1;
	background: rgba(0,0,0,0.05);
	border: 1px solid rgba(0,0,0,0.05);
*/
}
.people-ui-filter2 a:hover {
	background-color: rgba(0,0,0,0.05) !important;
	color: #000;
}
#people-ui-filter2-label {
	position: relative;
}
#people-ui-filter2-label .view-all {
	font-size: 0.65em;
	/*font-family: Verdana, sans-serif;*/
	margin-left: 14px;
	position: absolute;
	right: 0;
	cursor: pointer;
}



/* Isotope filtering */

.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

/* Isotope animation */
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
      -ms-transition-duration: 0.6s;
       -o-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}



/* readmore.js */
.readmore-js-toggle, .readmore-js-section {
	display: block;
	width: 100%;
	line-height: 1.7;
}
.readmore-js-section {
	overflow: hidden;
}




/* Responsive Web Design 
   ************************************ */

#cu-identity, #wrap, #footer, .flexible #cu-identity, .flexible #wrap, .flexible #footer {
	min-width: 960px; /* lock design for older browsers that don't support media queries */
	padding-top: 0px;
}
@media only screen and (min-width: 1px) {
	#cu-identity, #wrap, #footer, .flexible #cu-identity, .flexible #wrap, .flexible #footer {
		min-width: 0; /* unlock */
	}
}
#navigation h3, ul.mobile-section {
	display: none;
}


/* ********************************************************** */
@media only screen and (max-width: 1240px) { /* ************* */
.nav-centered #navigation ul {
	float: right;
	margin-right: -5%;
}

/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 1150px) { /* ************* */
#header-text {
	display: none;
}
#mobile-header-text {
	display: block;
	width: 350px!important;
}

#cu-search {
	right: 2%!important;
}
#cu-identity {
	margin-left: 7px!important;
}




/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 1040px) { /* ************* */

.flexible #identity {
	width: 100%;
}
.flexible #cu-identity-content, .flexible #navigation-wrap, .flexible #footer-content {
	width: 98%;
}
.flexible #content, .flexible #midband {
	width: 98%;
}
.flexible #identity-content {
	padding: 0 1%;
}
.flexible.autosize-header #identity-content {
	padding: 0 2%;
}

#mobile-header-text {
}

.nav-centered #navigation ul {
	float: right;
	margin-right: 1%;
}


/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 959px), print { /* ************** */


#identity {
	width: 95%;
}
#cu-identity-content, #navigation-wrap, #footer-content {
	width: 95%;
}
#content, #midband {
	width: 95%;
}
#identity-content {
	padding: 0 2%;
}
.autosize-header #identity-content {
	padding: 0 2%;
}
#cu-identity.theme-white45, #cu-identity.theme-red45, #cu-identity.theme-gray45, 
#cu-identity.theme-white75, #cu-identity.theme-red75, #cu-identity.theme-gray75 {
	height: 42px !important;
	padding: 1px 0;
}
.theme-white45 #cu-logo a, .theme-red45 #cu-logo a, .theme-gray45 #cu-logo a, 
.theme-white75 #cu-logo a, .theme-red75 #cu-logo a, .theme-gray75 #cu-logo a, 
.theme-white75 #cu-logo.unit75 a, .theme-red75 #cu-logo.unit75 a, .theme-gray75 #cu-logo.unit75 a {
	height: 42px !important;
	background: url('../images/cornell_identity/cu_logo_white45.gif') no-repeat 0 -2px;
}
.theme-red45 #cu-logo a, .theme-red75 #cu-logo a, .theme-red75 #cu-logo.unit75 a {
	background: url('../images/cornell_identity/cu_logo_red45t.gif') no-repeat 0 -2px;
}
.theme-gray45 #cu-logo a, .theme-gray75 #cu-logo a, .theme-gray75 #cu-logo.unit75 a {
	background: url('../images/cornell_identity/cu_logo_gray45.gif') no-repeat 0 -2px;
}
.svg #cu-logo a {
	background: url('../images/cornell_identity/culogo_hd_white45.svg') no-repeat -1px -2px !important;
	background-size: 162px !important;
}
#cu-search {
	top: 13px !important;
}
#cu-search #search-filters, #cu-search label, #unit-link {
	/*display: none !important;*/
}
.theme-white45 #cu-search.options #search-filters, .theme-red45 #cu-search.options #search-filters, .theme-gray45 #cu-search.options #search-filters {
	display: block !important;
}
.theme-white45 #cu-search.options #search-filters label, .theme-red45 #cu-search.options #search-filters label, .theme-gray45 #cu-search.options #search-filters label {
	display: inline !important;
}
#cu-logo {
	float: left;
}
#cu-logo a {
	width: 170px;
	margin-top: 3px!important;
}
.svg #cu-logo a {
	width: 170px;
	float: right;
}

.nav-centered #navigation ul {
	display: none;
}
.home #header #mobile-header-text {
	margin-top: 0;
}
.home #header #mobile-header-text .site-tagline,
#header #mobile-header-text .site-tagline {
	width: 400px;
	line-height: 1.35em;
	font-size: 1.3em;
}
#navigation-bar {
	height: 85px!important;
}
.wp-caption img {
	margin: 0 auto!important;
}

.wp-caption {
	margin: 0 auto!important;
}
.home .nav-centered #navigation ul {
	padding-top: 0;
}


/* **************  }
/* ********************************************************** */
 /*@media only screen and (max-width: 875px) { ************** */


#col1, #col2 {
	width: 30%;
	margin: 0 2% 0 0;
}
#main-body, #main-bottom {
	width: 62%;
}

.nav-centered #navigation ul {
	display: none;
}
#mobile-header-text {
	width: 350px!important;
}

.home #navigation-bar {
}
body.home {
	background-position: center 340px!important;
}





/* **************  }*/
/* ********************************************************** */
/*@media only screen and (max-width: 767px), print {  ************** */

.entry-content.home p {
	font-size: .7em;
	line-height: 2em!important;
}
#header h1 {
	font-size: 1.75em;
	line-height: 36px;
	margin: 0 0 27.5% 0.5%;
}
#header h1.autoscale {
	line-height: 1.7;
}
#header h2 {
	color: #454545;
	font-style: italic;
	font-size: 1.25em;
	line-height: 25px;
	margin: 1px 0.5% 0 15px;
	float: right;
	display: none; /* remove to enable */
}
#identity-content {
	background: url('../images/photos/campus_pano.jpg') right 35px no-repeat;
	background-size: 100%;
}
.autosize-header #identity-content {
	background-position: right 0;
}

#cu-search #search-filters, #cu-search label, #unit-link, #search-filters1, #search-filters2 {
	/*display: none !important;*/
}

#col1 {
	width: 46%;
	margin: 0 3% 0 1%;
}
#col2 {
	width: 46%;
	margin: 0 1% 0 3%;
}
.backgroundsize .sidebar-tint #main {
	background-image: none !important;
}
#secondary, #secondary-nav, .sidebar-left #secondary, .sidebar-left #secondary-nav {
	float: left;
	width: 98%;
	padding: 0;
	border-width: 0;
	height: auto;
	margin: 0 1% 15px;
}
#section-navigation {
	padding-bottom: 0;
}
#section-navigation h2 {
	display: none;
}
#main-body, #main-top, #main-bottom,
.onecolumn #main-body, .onecolumn #main-top, .onecolumn #main-bottom {
	float: left !important;
	width: 98%;
	margin-left: 1%;
	margin-right: 1%;
}
#footer1 {
	width: 98%;
	margin: 0 1% 4% 1%;
}
#footer2 {
	width: 47%;
	margin: 0 2% 0 1%;
}
#footer3 {
	width: 47%;
	margin: 0 1% 0 2%;
}

/* Navigation Dropdown ****************/
#header {
	position: relative;
}
#navigation-wrap, .flexible #navigation-wrap {
	width: 100% !important;
}
#navigation {
	position: absolute;
	z-index: 2;
	top: 5px;
}
#navigation h3 {
	display: block;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 1.02em;
	margin: 35px 0 7px 0;
	text-align: right;
	float: right;
	background-color: #478594;
	width: 100px;
	height: 45px;
}
#navigation h3 em {
	font-style: normal;
	display: block;
	background-color: #478594;
	background-image: url('../images/layout/nav_menu.png');
	background-position: 2% 50%;
	background-repeat: no-repeat;
	color: #fff;
	text-shadow: none;
	padding: 0 19px 0 22px;
	display: inline-block;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	height: 45px;
	line-height: 45px;
}
#navigation h3 em.mobile-section {
	background-image: url('../images/layout/nav_submenu.svg');
}
#navigation h3 em.open {
	background-color: rgba(0,0,0,0.2);
}
.secondary #navigation h3 em {
	background-color: #222;
	background-color: transparent;
}
#navigation.overlay h3 em {
	opacity: 0.6;
}
#navigation.overlay h3 em.open {
	opacity: 1;
}
#mobile-header-text {
	margin-left: 2% !important;
}

#navigation ul, .nav-centered #navigation ul {
	display: none;
	width: 98%;
	border: 0;
	background: #222 !important;
	background: rgba(25,25,25,0.9) !important;
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
/*
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
*/
}
#navigation li {
	display: inline-block;
	width: 100% !important;
	text-align: left;
	background-image: none !important;
	text-transform: none;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 1.167em !important;
	line-height: 1.8em;
	border: 0 !important;
	border-bottom: 0px dotted rgba(255,255,255,0.2) !important;
}
#navigation li a {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left !important;
	width: 100%;
	padding: 6px 9% 6px 6% !important;
	background: url('../images/layout/nav_arrow_white.svg') 96% 50% no-repeat;
}
#home-caption {
	position: absolute;
	bottom: 10%!important;
	right: 3%!important;
}



.sidebar-left #main-body {
	width: 95%;
}
.sidebar-left #main-body .post {
	float: left;
	width: 100%;
	margin: 1em 0;
}

.people-photo {
	width: 15%;
}
.people-content {
	padding-left: 18%;
}
.people-ui-scroll {
	max-height: 210px;
}




/* ************** */ }
/* alternate spotlight layout, to better handle the gap between tablet and phone (e.g. iPhone 5 landscape) */
@media only screen and (min-width: 481px) and (max-width: 767px) { /* ************** */


#secondary #spotlight .node {
	clear: both;
}
#secondary #spotlight .image-block {
	width: 38%;
	float: left;
	margin: 0 15px 18px 0;
}
#secondary #spotlight .node p {
	clear: none;
}

.people-photo {
	width: 23%;
}
.people-content {
	padding-left: 26%;
}




/* ************** */ }

@media only screen and (max-width: 620px) { /* ************** */
#home-caption {
	display: none;
}
#home-caption-mobile {
	display: block;
	padding-bottom: 95px;
	background: url('../images/project/mobile-icon.jpg') right bottom no-repeat;
	width: 90%;
	margin: 0 auto;
	height: 29px;
}
#home-caption-mobile .textwidget {
	width: 90%;
	float: right;
	color: #fff;
	margin-top: -15px;
	padding: 8px 15px 2px 8px;
	font-size: 1.05em;
	text-align: right;
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(100, 100, 100);
    /* RGBa with 0.6 opacity */
    background-color: rgba(100, 100, 100, .8);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
#home-caption-mobile .textwidget {
	display: none;
}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 580px) { /* ************** */

#cu-search #search-filters, #cu-search label, #unit-link, #search-filters1, #search-filters2 {
	display: none !important;
}

.svg #cu-logo a, .svg .theme-white45 #cu-logo a, .svg .theme-white75 #cu-logo a, .svg .theme-white75 #cu-logo.unit75 a {
	background-size: 142px !important;
	background-position: 0 1px !important;
}
.theme-white45 #cu-search.options #search-filters, .theme-red45 #cu-search.options #search-filters, .theme-gray45 #cu-search.options #search-filters {
	display: none !important;
}
#header h1.autoscale {
	text-shadow: 0 1px #fff;
}
.svg #cu-logo a {
	width: 145px;
}

.home #header #mobile-header-text .site-tagline,
#header #mobile-header-text .site-tagline {
	width: 220px;
}

.people-photo {
	width: 26%;
}
.people-content {
	padding-left: 29%;
}
.people-ui-scroll, #people-ui-filter2-label {
	display: none;
}



/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 479px) { /* ************** */

.home #header #mobile-header-text,
#header #mobile-header-text {
	position: absolute;
	top: 0px;
	left: 4px;
	pointer-events: none;
}
.home #header #mobile-header-text .site-tagline,
.home #header #mobile-header-text .site-tagline,
#header #mobile-header-text .site-tagline,
#header #mobile-header-text .site-title {
	pointer-events: auto;
}
#navigation h3 em {
}
#col1, #col2, #footer2, #footer3 {
	width: 98% !important;
	margin: 0 1% 2% !important;
}
#search-form-query {
	width: 100px;
}



/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 380px) { /* ************** */

.home #header #mobile-header-text .site-tagline,
#header #mobile-header-text .site-tagline {
	font-size: 1.2em;
	line-height: 1.4em;
	width: 60%;
}
#navigation h3 {
	width: 80px;
}
.home #header #mobile-header-text,
#header #mobile-header-text {
}
.home #header #mobile-header-text .site-title,
#header #mobile-header-text .site-title {
	font-size: 1.6em;
}

.people-photo {
	width: 30%;
}
.people-content {
	padding-left: 33%;
}




/* ************** */ }

@media only screen and (max-width: 320px) { /* ************** */

.home #header #mobile-header-text .site-tagline,
#header #mobile-header-text .site-tagline {
	font-size: 1.24em;
	line-height: 1.4em;
	width: 60%;
}
#navigation h3 {
	width: 80px;
}
.home #header #mobile-header-text,
#header #mobile-header-text {
}
.home #header #mobile-header-text .site-title,
#header #mobile-header-text .site-title {
	font-size: 1.7em;
}
#navigation h3 {
	width: 90px;
}

/* ************** */ }
