/* IWS CSS Framework: Base Cornell
   ************************************************************************** */
html {
	height: 100%;
	overflow-y: scroll;
}
body {
	-webkit-text-size-adjust: 100%; /* prevent unwanted font scaling in iOS landscape mode */
	padding: 0;
	margin: 0;
	height: 100%;
	background: #E4E4E4;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%; /* 12px *//* font size key in em:
		0.750em = 09px
		0.833em = 10px
		0.917em = 11px
		default = 12px
		1.083em = 13px
		1.167em = 14px
		1.250em = 15px
		1.333em = 16px
		1.417em = 17px
		1.500em = 18px
		1.583em = 19px
		1.667em = 20px
		1.833em = 22px
		2.000em = 24px
		3.000em = 36px
	*/
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1.4em;
	margin-bottom: 12px;
}
h1, h2, h3 {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	line-height: 1.2em;
}
h1 {
	font-size: 2.5em;
	line-height: 1.1em;
}
h2 {
	font-size: 2.0em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-weight: bold;
}
h5, h6 {
	margin-bottom: 5px;
}
h6 {
	font-style: italic;
}
p, td, th, li, dt, dd {
	line-height: 1.6em;
}
p {
	margin-bottom: 15px;
}
b, strong {
	font-weight: bold;
}
i, em, cite {
	font-style: italic;
}
blockquote, pre {
	margin-left: 2em;
	padding-left: 1em;
	border-left: 1px solid #ccc;
	font-style: italic;
	line-height: 1.4em;
}
pre, code {
	font-family: mono-space, monospace;
	font-style: normal;
	margin-bottom: 15px;
}
abbr, acronym {
	text-transform: uppercase;
	border-bottom: 1px dotted #000;
	letter-spacing: 1px;
}
abbr[title], acronym[title] {
	cursor: help;
}
sup, sub {
	font-size: .8em;
	position: relative;
}
sup {
	top: -0.4em;
}
sub {
	top: 0.2em;
}

/* Links (Cornell Red) */
a {
	color: #b31b1b;
}
a:visited {
	color: #b37474;
}
a:hover {
	color: #f00;
}
a:active {
	color: #e5cfcf;
}

/* Lists */
ul {
	margin-left: 18px;
	margin-bottom: 15px;
}
ul li {
	padding-left: 18px;
	background: url('../images/layout/bullets_vector/bullet_square.svg') 0 0.6em no-repeat;
}
ul.disc li {
	background: url('../images/layout/bullets_vector/bullet_disc.svg') 0 0.6em no-repeat;
}
ul.circle li {
	background: url('../images/layout/bullets_vector/bullet_circle.svg') 0 0.6em no-repeat;
}
.no-svg ul > li {
	background: url('../images/layout/bullets_pixel/bullet_square.gif') 0 0.6em no-repeat;
}
.no-svg ul.disc > li {
	background: url('../images/layout/bullets_pixel/bullet_disc.gif') 0 0.6em no-repeat;
}
.no-svg ul.circle > li {
	background: url('../images/layout/bullets_pixel/bullet_circle.gif') 0 0.6em no-repeat;
}
ol {
	margin-left: 36px;
	margin-bottom: 15px;
}
ol li {
	padding-left: 0;
	list-style: decimal;
	background: none;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 4px;
}
dl {
	margin-left: 0;
	margin-bottom: 15px;
}
dl dl {
	margin-left: 30px;
}
dt {
	font-weight: bold;
	margin-bottom: 8px;
}
dd {
	margin-bottom: 12px;
}

/* Table of Contents */
ul.toc {
	border-left: 4px solid #ddd;
	border-color: rgba(0,0,0,0.1);
	margin-left: 1px;
	padding-left: 0px;
	margin-bottom: 20px;
}
ul.toc li {
	background: none;
	padding-left: 10px;
}
ul.toc ol li {
	padding-left: 0;
}
ul.toc a {
	padding-right: 10px;
	background: url('../images/layout/bullets_vector/triangle_right.svg') right 0.35em no-repeat;
}
.no-svg ul.toc a {
	background: url('../images/layout/icon_arrow_darkgrey.gif') right 0.35em no-repeat;
}

/* Tables */
table {
	width: 100%;
	margin-bottom: 15px;
	border: solid #ddd;
	border-width: 1px 1px 0 0;
	border-collapse: collapse;
}
table table {
	margin-bottom: 0;
}
caption {
	font-style: italic;
	color: #777;
	margin: 0.2em 0;
	line-height: 1.6em;
	text-align: left;
}
td, th {
	border: solid #ddd;
	border-width: 0 0 1px 1px;
	padding: 6px;
	vertical-align: top;
	background: url('../images/layout/white_alpha20.png');
	background: rgba(255,255,255,0.2);
}
th {
	color: #444;
	font-weight: bold;
	text-align: center;
	/*background: #f5f5f5;*/
	background: url('../images/layout/black_alpha04.png');
	background: rgba(0,0,0,0.04);
}
th p {
	margin-bottom: 0;
}

/* Forms */
#wrap form {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	clear: both;
}
#wrap form fieldset {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #ccc;
	padding: 15px 2%;
	margin-bottom: 15px;
	float: left;
	width: 100%;
	background: url('../images/layout/white_alpha20.png');
	background: rgba(255,255,255,0.2);
}
#wrap form fieldset.row-submit {
	border: none;
	padding: 0;
	background: none;
}
#wrap input, #wrap textarea {
	margin-bottom: 4px;
	max-width: 100%;
}
#wrap label {
	margin: 0 4px 4px 0;
	vertical-align: top;
}
#wrap select {
	min-width: 200px;
}
#wrap legend {
	padding: 0 2%;
	text-align: center;
	font-weight: bold;
}

/* Form Theme: Basic */
#wrap form.basic p {
	float: left;
	width: 100%;
	clear: both;
	display: block;
}
#wrap form.basic input, #wrap form.basic textarea {
	float: left;
	clear: right;
	margin-left: 0;
}
#wrap form.basic label {
	display: block;
	float: left;
	clear: left;
	width: 125px;
	margin: 1px 10px 0 0;
	text-align: right;
	line-height: 1.5em;
}
#wrap form.basic select {
}
#wrap form.basic input[type="text"], #wrap form.basic input[type="password"], #wrap form.basic textarea {
	outline: 2px solid transparent;
	border: 1px solid #999;
	border-top-color: #000;
	padding: 2px;
}
#wrap form.basic input[type="text"]:focus, #wrap form.basic input[type="password"]:focus, #wrap form.basic textarea:focus {
	background: #f0f4f7;
	border: 1px solid #000;
	-moz-box-shadow: 0 0 0 2px #8ebfdf;
	-webkit-box-shadow: 0 0 0 2px #8ebfdf;
	box-shadow: 0 0 0 2px #8ebfdf;
}
#wrap form.basic input[type="submit"], #wrap form.basic input[type="reset"] {
	float: none;
	font-size: 1.083em;
	border: 1px solid #999;
	border-bottom-color: #000;
	padding: 5px 10px;
	background: #ededed;
	cursor: pointer;
	
	/* optional gradient */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f8f5', endColorstr='#e2e1de',GradientType=0 );
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f8f5), to(#e2e1de));
	background: -moz-linear-gradient(top, #f9f8f5, #e2e1de);
	background: -o-linear-gradient(top, #f9f8f5, #e2e1de);
	background: -ms-linear-gradient(top, #f9f8f5, #e2e1de);
	background: linear-gradient(to bottom, #f9f8f5, #e2e1de);
}
#wrap form.basic input[type="submit"]:hover, #wrap form.basic input[type="reset"]:hover {
	background: #f5f5f5;
}
#wrap form.basic input[type="submit"]:active, #wrap form.basic input[type="reset"]:active {
	background: #e5e5e5;
}
#wrap form.basic fieldset.row-submit p {
	width: 100%;
	text-align: left;
}


/* Layout */
#wrap {
	float: left;
	width: 100%;
	clear: both;
	background: #fff;
}
#content {
	width: 960px;
	margin: 0 auto;
}
#main, #secondary, #secondary_home, #secondary-nav, #section-navigation, #section-navigation-wrap {
	float: left;
}
.secondary-section, .secondary-photo {
	float: left;
	width: 100%;
}
#main {
	width: 100%;
	height: 100%
	padding: 10px 0 12px;
	margin-top: 14px;
	min-height: 460px;
}
#secondary, #secondary_home, #secondary-nav {
}
#section-navigation {
	width: 100%;
	padding: 0 0 20px;
	margin-left: 0;
}
#header {
	float: left;
	width: 100%;
	margin-bottom: 1%;
}
#identity, #navigation ul {
	width: 960px;
	margin: 0 auto;
}
#navigation {
	float: left;
	width: 100%;
	clear: both;
	background: #ccc;
}
#navigation ul ul {
	width: auto;
}

/* Misc */
hr {
	display: none;
}
p.last, ul.last, ol.last, dl.last {
	margin-bottom: 0;
}
p.note {
	padding: 10px;
	border: 1px solid #ccc;
}
.more {
	padding-right: 8px;
	background: transparent url('../images/layout/bullets_vector/triangle_right_red.svg') no-repeat 100% 60%;
	background-size: 4px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.more {
		background-position: 100% 65%;
	}
}
no-svg .more {
	background: transparent url('../images/layout/right_red.gif') no-repeat 100% 80%;
}
.image-left {
	float: left;
	margin: 0 12px 6px 0;
	max-width: 40%;
}
.image-right {
	float: right;
	margin: 0 0 6px 12px;
	max-width: 40%;
}
img {
	max-width: 100%;
}
#skipnav {
	position: absolute;
	top: -1000em;
	left: -1000em;
}






/* Project CSS
   - Internal Transfer
   - <Project Notes>
   ************************************************************************** */


/* Cornell Identity
   ************************************ */
#cu-logo a {
	width: 250px; /* Defines the active area for the standalone CU logo link */
	color: #000;
	font-size: 1.95em;
	font-weight: 500;
	position: relative;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}
#cu-logo a #sitename {
	position: absolute;
	top: 50%;
	right: 5.4%;
}
#cu-logo.unit75 #unit-link {
	width: 182px; /* Defines the active area for the unit signature link */
}
#cu-identity {
	border-top: 5px solid #b31b1b;
}
#cu_logo_img {
	display: none;
}
#site-identity {
	padding: 12px 0 21px 11px;
	background: #fff;
}
.site-identity-wrap {
	max-width: 960px;
	margin: 0 auto;
}
.site-identity-wrap a {
	font-size: 2.6em;
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	text-decoration: none;
	color: #000;
}
/* Theme Basics
   ************************************ */
body {
	background: #E4E4E4; /* footer color */
}
#content-wrap {
	float: left;
	width: 100%;
	background: #fff; /* footer color */
}
#wrap {
	background: #fff; /* body color */
	overflow: hidden;
}
blockquote, p.note, pre, #wrap table, #wrap th, #wrap td, #wrap form fieldset, #wrap form.webform-client-form > div {
	border-color: #d1b898; /* line color */
}
#wrap hr {
	display: block;
	margin: 3px 0 15px;
	border: 0;
	border-top: 3px solid #d1b898;
}
#header {
	background: #fff;
}
.theme-white #header, .white #header {
	border-top: 1px solid #bbb;
}
.theme-gray #header, .gray #header {
	border-top: 5px solid #a2a3a5;
}
#header h1 {
	font-size: 3.0em;
	margin: 2% 0 0;
}
#header h1 em {
	font-style: normal;
	color: #999;  /* header title accent */
}
#header h1.autoscale {
	margin: 0;
	white-space: nowrap;
	line-height: 1.4;
	text-shadow: 0 2px #fff;
}
#header h1.autoscale em {
	color: #c2443e;
}
#header a {
	color: #000;
	text-decoration: none;
}
#header h2 {
	font-size: 2.0em;
	margin: 1% 0 1% 0;
}
#header-band {
}
.smallForm, .smallForm_home {
	display: none;
	text-align: left;
}
#search-form #searchform {
  max-width: 960px;
  margin: 0 auto;
  /* margin-bottom: 20px; */
}
.divSearchIcon {
  position: absolute;
  top: -5px;
  right: 0;
  width: 36px;
  height: 36px;
  background: #b31b1b url(../images/layout/search_icon.png) 9px 11px no-repeat;
  background-size: 17px;
  cursor: pointer;
  cursor: hand;
}
#identity {
	width: 100%;
	height: 137px;
	position: relative;
	margin-bottom: .6%;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
	position: relative;
	clear: both;
}
#identity-mobile-image {
	display: none;
}
.frequently-asked-questions #identity-image {
	background: url('../images/project/7.jpg');
}
.application-requirements #identity-image {
	background: url('../images/project/4.jpg');
}
.internal-transfer-application #identity-image {
	background: url('../images/project/6.jpg');
}
.successful-transfers #identity-image {
	background: url('../images/project/9.jpg');
}
#identity-image {
	background-repeat:no-repeat;
	background-size:contain;
	background-position:center;
	height: 137px;
	-moz-border-radius: 14px;
	-webkit-border-radius: 14px;
	border-radius: 14px;
}
#identity-content h1 {
	font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
	width: 25%;
	position: absolute;
	top: 29.3%;
	left: 4.1%;
	font-size: 2.3em;
}
#home-header { 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	width: 100%;
}
.home #main-top img { 
	height: 95%;
}
#identity-content h1 a {
	text-decoration: none;
	color: #4d4e53;
}
#identity-content img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	margin-bottom: 12px;
}
.entry-header h1.entry-title {
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 1.6em;
	color: #333333;
	margin: 4% 0 2.5% 0;
}
h1, h2, h3 {
	/* custom header font */
}
#date {
	font-size: 0.69em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
}
/* Frames and Shadows
   ************************************ */
   
.dropshadow {
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
}
.dropshadow-dark {
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
}
.dropshadow-diffuse {
	-moz-box-shadow: 0 1px 24px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 1px 24px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 24px rgba(0, 0, 0, .15);
}
body.rounded .rounded {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.framed {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 4px solid #fff;
}


/* Main Navigation 
   ************************************ */
#menu-home-page-menu li {
	font-size: 1em;
	font-weight: 500;
}  
#menu-home-page-menu li a {
	padding-left: 14px ;
}  
#menu-item-40 a,
#menu-item-291 a {
	padding-left: 40px !important;
}  
.mobile-menu #menu-item-40 a,
.mobile-menu #menu-item-291 a {
	padding-left: 16px !important;
}  
.nav_desc {
	display: inline-block;
	padding: 0 12px 0 0;
	font-size: .8em;
	color: #999999;
	text-transform: none;
}
#navigation-bar {
	width: 100%;
	float: left;
	background: #e4e4e4 url('../images/project/black_10x10.gif') top left repeat-x;
}
#navigation-wrap {
	width: 960px;
	margin: 0 auto;
}
#navigation {
	background: none;
}
#navigation h3 {
	display: none;
}
#navigation ul {
	width: auto;
	float: left;
	background: url('../images/project/dotted_line_gray.gif') right 20px no-repeat;
}
#navigation li {
	float: left;
	background: none;
	margin: 0;
	margin-bottom: 8px;
	padding: 0;
	height: 80px;
	background: url('../images/project/dotted_line_gray.gif') left 20px no-repeat;
	width: 14.28%;
}
.home #navigation li {
	height: 80px;
}
#navigation li:last-child, #navigation li.last {
}
#navigation ul.sub-menu {
	display: none;
}
#navigation li a, #navigation li a:visited {
	color: #000;
	float: left;
	font-size: 1.15em;
	height: 75%;
	width: 100%;
	padding: 23px 0 0 10px;
	text-decoration: none;
	text-transform: uppercase;
	transition: color .1s;
	-moz-transition: color .1s;
	-ms-transition: color .1s;
	-o-transition: color .1s;
	-webkit-transition: color .1s;
}
#navigation li a:hover, 
#navigation li a:active, 
#navigation li.current_page_item a, 
#navigation li.current-menu-item a, 
#navigation li.current-menu-ancestor a, 
#navigation li.current-menu-parent a {
	color: #b31b1b;
	background: url('../images/project/red_10x10.gif') top left repeat-x;
}
#navigation li:first-child a, #navigation li.first a {
	/*padding-left: 0;*/
}
#navigation li:last-child a, #navigation li.last a {
	/*padding-right: 0;*/
}
.nav-centered #navigation ul {
	width: 100%;
}
.nav-centered #navigation li {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 20%;
}
.nav-centered #navigation li:last-child, .nav-centered #navigation li.last {
	border-right: 0;
}
.nav-centered #navigation li a {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	text-align: left;
}

/* Breadcrumbs
   ************************************ */
   
#breadcrumbs {
	display: inline-block;
	/*width: 100%;*/
	margin: 0 0 12px;
}
#breadcrumbs li {
	display: inline;
	margin: 0 0 0 8px;
	padding: 0;
	background: none;
}
#breadcrumbs li:first-child, #breadcrumbs li.first {
	margin-left: 1px;
}
#breadcrumbs li a, #breadcrumbs li a:hover, #breadcrumbs li a:active, #breadcrumbs li a:visited {
	font-size: 0.917em;
	padding: 0 16px 0 0;
	background: transparent url('../images/layout/bullets_vector/triangle_right.svg') right 0.35em no-repeat;
	border: 0;
}
.no-svg #breadcrumbs li a, .no-svg #breadcrumbs li a:hover, .no-svg #breadcrumbs li a:active, .no-svg #breadcrumbs li a:visited {
	background: url('../images/layout/icon_arrow_darkgrey.gif') right 0.35em no-repeat;
}


/* Section Navigation
   ************************************ */
#section-navigation ul {
	margin-left: 0;
}
#section-navigation ul ul {
	margin: 4px 0 9px 5%;
}
#section-navigation ul li {
	background: none;
	margin: 0;
	padding: 0;
	border-top: 1px dotted #ccc;
}
#section-navigation ul li:last-child {
	border-bottom: 1px dotted #ccc;
}
.secondary-page #section-navigation ul li a {
	padding: 14px 0px 12px 0px;
	display: block;
	border: 0;
	text-decoration: none;
	font-weight: bold;
}
.secondary-page #secondary-nav {
	border-right: 1px dotted #ccc;
	padding-right: 15px;
}
#section-navigation ul li a:visited, #section-navigation ul li a:hover, #section-navigation ul li a:active {
	border: 0;
}
#section-navigation ul li a.active, #section-navigation ul li a.active:visited, #section-navigation ul li a.active:hover, #section-navigation ul li a.active:active {
	background-color: rgba(109, 102, 90, 0.7);
	color: #fff;
	border: 0;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}
#section-navigation ul li a.active {
	background-image: none !important;
}
#section-navigation ul li a:visited {
	color: #b31b1b;
}
#section-navigation ul li a:hover {
	color: #841212;
}
#section-navigation ul ul li a {
	background-position: 9px 50% !important;
	padding: 7px 12px 7px 24px;
}
#section-navigation ul li.current_page_item a {
	color: #333333;
}

/* Footer
   ************************************ */

#footer {
	float: left;
	clear: both;
	width: 100%;
	padding: 15px 0 30px;
	background: #e4e4e4;
	min-height: 100px;
	color: #cfc5a8;
}
#footer-content {
	width: 960px;
	margin: 0 auto;
	background: #e4e4e4;
}
#footer ul {
	display: block;
	margin-left: 0;
}
#footer li {
	font-size: 1em;
	padding: 0 18px 0 18px;
	margin: 0;
	float: left;
	background: none;
}
#footer .first {
	padding-left: 0;
}
#footer .last {
	background: none;
}
#footer a {
	color: #b31b1b;
	font-size: .9em;
}
#footer a:hover { 
	color: #f00!important;
}
#footer a:visited { 
	color: #b37474;
}
#footer1 {
	width: 25%;
	margin: 0;
	float: left;
}
#footer2 {
	width: 75%;
	float: right;
	margin: 0;
}
.menu-footer-menu-container {
	float: right;
}
#footer .textwidget {
	color: #000;
}
#menu-footer-menu li:last-child {
	background: url('../images/project/rss_icon.png') left 50% no-repeat;
} 

#footer-link-divider {
	display: none;
}

/* Content Regions
   ************************************ */

#col1 {
	float: left;
	width: 27.5%;
	margin: 0 5% 0 0;
	clear: left;
}
#col2 {
	float: left;
	width: 27.5%;
	margin: 0 4% 0 0;
}
#secondary, #secondary_home, #secondary-nav {
	float: right;
	width: 26.5%;
	margin: 0;
	height: 100%;
	padding-left: 1%;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#main-top {
	float: left;
	width: 70%;
	margin: 0;
}
#main-body {
	float: left;
	width: 70%;
	margin: 0 0 1% 0;
	padding-top: 2px;
}
#main-bottom {
	float: left;
	width: 70%;
	margin: 0;
	clear: left;
}

/* Widgets
   -------------------- */
.home #secondary-nav .widget, .home #secondary .widget, .home #secondary_home .widget {
	margin-bottom: 30px;
	padding: 17px;
	padding-top: 20px;
	padding-right: 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #cdcdcd;
}   
   
.home .entry-content #secondary_home .widget {
	border: 0px solid #cdcdcd;
}   
   
#address_widget { 
}
#address_widget a { /* home address block */
	display: inline-block;
	padding-right: 8px;
	background: transparent url('../images/layout/bullets_vector/triangle_right_red.svg') no-repeat 100% 60%;
	background-size: 4px;
	margin-bottom: 9px;
	font-size: .9em;
}
#text-5 { 
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #cdcdcd;
}
#text-5 .widget-title, #tw-recent-posts-3 .widget-title { 
	display: inline-block;
	padding-right: 8px;
	background: transparent url('../images/layout/bullets_vector/triangle_right_red.svg') no-repeat 100% 60%;
	background-size: 4px;
}
#text-5 img { 
	float: left;
	margin: 0 auto;
}
#text-5 a { 
	text-decoration: underline;
	color: #b31b1b;
	clear: both;
	line-height: 1.4em;
	font-size: 1em;
	font-weight: 600;
}
#text-5 .featured-post a:nth-child(2) {
	display: block;
	padding: 12px 20px 0 0;
}
#text-5 .featured-post a:nth-child(2):hover { 
	color: #f00!important;
}
#text-5 .featured-post a:nth-child(2):visited { 
	color: #b37474;
}
#text-5 .featured-post span.excerpt {
	display: none;
}
#tw-recent-posts-3 .excerpt { 
	clear: both;
	line-height: 1.4em;
	font-size: .9em;
}
#tw-recent-posts-3 { 
	padding-top: 0!important;
}
#tw-recent-posts-3 .featured-posts .featured-post a { 
	padding: 5px 8px 5px 0;
	display: inline-block;
	clear: both;
	font-weight: 600;
	line-height: 1.4em;
}
#tw-recent-posts-3 .excerpt a { 
	font-weight: 400;
}
#secondary-nav #text-3 { 
	background: #e3e0c2 url('../images/project/text-3-bg.png') left top no-repeat;
	border: none;
}
.home #secondary, .home #secondary-nav {
}

.post-edit-link { 
	display: block;
	clear: both;
}
.entry-content.home #secondary_home {
	float: left;
	width: 40%;
	padding-right: 30px;
}
.entry-content.home #the_content {
	float: right;
	width: 60%;
}
.entry-content.home #secondary_home .featured-post {
	padding-bottom: 30px;
}
.home .entry-content.home #secondary_home .widget {
	margin-bottom: 30px;
	padding: 17px;
	padding-top: 20px;
	padding-right: 10px;
	padding-left: 0;
	background: none;
}   
#menu-related-links {
	margin: 0;
}   

#menu-related-links li {
	padding: 0 0 4px 10px;
	background: transparent url('../images/layout/bullets_vector/triangle_right_red.svg') no-repeat left 20%;
	display: block;
	border: 0;
	text-decoration: underline;
	font-weight: 300;
}

/* Alternate Layouts
   -------------------- */
.onecolumn #main-body, .onecolumn #main-bottom {
	width: 100%;
}
.sidebar-left #secondary, .sidebar-left #secondary-nav {
	float: left;
}
.sidebar-left #main-body, .sidebar-left #main-bottom {
	float: right;
}
.sidebar-right #main-body, .sidebar-right #main-bottom, .sidebar-right #main-top {
	float: left;
}
.sidebar-left #col1 {
	width: 46%;
	margin: 0 4% 0 0;
}
.sidebar-left #col2 {
	width: 46%;
	margin: 0 0 0 4%;
}
.backgroundsize .sidebar-tint #main {
	background-image: url('../images/layout/sidebar_right.png');
	background-position: 0 0;
	background-repeat: repeat-y;
	background-size: 100%;
}
.backgroundsize .sidebar-left.sidebar-tint #main {
	background-image: url('../images/layout/sidebar_left.png');
}
.backgroundsize .sidebar-tint #secondary, .backgroundsize .sidebar-tint #secondary_home, .backgroundsize .sidebar-tint #secondary-nav {
	padding-left: 2%;
	padding-right: 2%;
	border-width: 0;
}
.no-backgroundsize .sidebar-tint #main {
	/* an AlphaImageLoader filter could be used here to support old versions of IE */
}
.nav-links {
	width: 100%;
}
.nav-links .nav-previous {
	float: left;
	width: 35%;
	line-height: 1.2em;
}
.nav-links .nav-next {
	float: right;
	width: 35%;
	line-height: 1.2em;
}
.nav-links .meta-nav {
	font-size: 1.5em;
}
/* Homepage Features
   ************************************ */

/* Spotlight
   -------------------- */
#spotlight img {
	width: 100%;
	max-width: 480px;
	margin-bottom: 8px;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* News
   -------------------- */
#news {
	float: left;
	margin-bottom: 15px;
}
#news img {
	width: 50px;
	height: 50px;
	float: left;
	margin: 4px 8px 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#news img {
		margin: 3px 8px 0 0;
	}
}
#news h3 {
	font-size: 1.167em;
	line-height: 1.4em;
	margin: 0;
	display: inline;
}
#news h3 a {
	margin-right: 3px;
}
#news h4.date {
	display: inline;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 0.917em;
	line-height: 1.9;
	color: #666;
	color: rgba(0,0,0,0.6);
	padding: 0;
	white-space: nowrap;
}
#news .heading, .secondary #news .node {
	width: 100%;
	float: left;
	margin-bottom: 6px;
}

/* Events
   -------------------- */
#events h3 {
	font-size: 1.167em;
	line-height: 1.4em;
	margin-bottom: 6px;
}
#events .meta-data {
	margin: 0;
	padding: 0;
}
#events .meta-data li {
	display: inline;
	background: none;
	padding: 0;
	margin: 0;
	line-height: 1.7em;
	min-height: 12px;
}
#events .meta-data .date {
	color: rgba(0,0,0,0.8);
	padding-left: 16px;
	background: url('../images/layout/icon_cal.gif') 0 48% no-repeat;
}
#events .meta-data .location {
	color: rgba(0,0,0,0.8);
	text-align: right;
	float: right;
}


/* "View All" Buttons
   -------------------- */
#main .view-all {
	text-align: center;
	clear: both;
}
#main .view-all a {
	display: block;
	width: 100%;
	background: url('../images/layout/black_alpha04.png');
	background: rgba(0, 0, 0, 0.04);
	border: 0;
	text-decoration: none;
	
	transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	-webkit-transition: background-color .2s;
}
#main .view-all h4 {
	font-family: Verdana, sans-serif;
	font-size: 0.917em;
	font-weight: normal;
	line-height: 1.8em;
	color: #b31b1b;
	text-transform: uppercase;
	opacity: 0.8;
	-webkit-font-smoothing: antialiased;
}
#main .view-all h4 span {
	background: url('../images/layout/icon_plus.gif') right 50% no-repeat;
	padding-right: 14px;
}
#main .view-all a:hover {
	background: rgba(0, 0, 0, 0.07);
}
#main .view-all a:hover h4 {
	opacity: 1;
}





/* Flexible Width
   ************************************ */

#cu-identity, #wrap, #footer {
	min-width: 960px;
}
.flexible #cu-identity, .flexible #wrap, .flexible #footer {
	min-width: 0;
}
.flexible #cu-identity-content, .flexible #identity, .flexible #navigation-wrap, .flexible #footer-content, .flexible #content, .flexible #midband {
	width: 97%;
	max-width: 960px;
}
.flexible.unconstrained #cu-identity-content, .flexible.unconstrained #identity, .flexible.unconstrained #navigation-wrap, .flexible.unconstrained #footer-content, .flexible.unconstrained #content, .flexible.unconstrained #midband {
	width: 98%;
	max-width: none;
}
#key-dates-title, #spotlights-title {
	color: #000!important;
}

/* Aditional Flexible Width Options
   ************************************ */

/* full-width CU identity *//*
.flexible #cu-identity-content {
	width: 97%;
	max-width: none;
}*/

/* inset content *//*
.flexible #footer-content, .flexible #content, .flexible #midband {
	width: 87%;
	max-width: 1034px;
}*/

/* Applocation Requirements*/

#colleges {
}
#colleges p a {
	line-height: 90px !important;
	font-size: 1.25em;
}
#colleges p {
	font-size: 1.2em;
	clear: left;
	/*background: #efefef;*/
}
#colleges p, #colleges ul {
	margin-left: 20%;
}
#colleges p.header {
	padding: 10px 10px 0px 10px!important;
	margin-left: 0!important;
	margin-bottom: 0;
}
#colleges img {
	float: left;
	margin-right: 14px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	border: 3px solid #cccccc!important;
	-webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.1);
	-moz-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.1);
	box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.1);
}
#colleges a:hover img {
	opacity: 0.6;
	filter: alpha(opacity=60);
}

/***********************************************
 * Successful Transfers (IWS 10/16/12)
 ***********************************************/
 
#mentors {
	float: left;
	clear: both;
	margin-top: 10px;
}
.mentor {
	float: left;
	min-height: 200px;
	padding: 10px;
	margin-bottom: 30px;
	color: #393937;
	background: #efefef;
	/* filters */
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .025);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .025);
	box-shadow: 0 2px 2px rgba(0, 0, 0, .025);
}
.mentor h3 {
	font-family: Georgia, serif;
	font-size: 1.8em;
	line-height: 1;
	color: #474e66;
	margin-bottom: 1px;
}
.mentor p {
	font-size: 1.1em;
	margin-bottom: 12px;
}
.mentor b {
	/*color: #5b5b57;*/
}
.mentor .bio {
	margin-top: -12px;
	margin-bottom: 18px;
	float: left;
	width: 550px;
}
.mentor .bio h3 {
	font-size: 1.6em;
}
.mentor .bio p {
	line-height: 1.3em;
	margin-bottom: 0;
	font-size: 1em;
}
.mentor .activities {
	clear: left;
}
.mentor .activities p {
}
.mentor .bio p.email {
	margin-bottom: 6px;
}
.mentor img {
	float: left;
	margin: 0 13px 0 0;
	
	/* filters */
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}


/* customized WordPress styles */

.wp-caption {
border: 1px solid #ddd;
text-align: center;
background-color: #f3f3f3;
padding-top: 4px;
margin: 3px 10px 10px;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
}
.alignleft {
float: left;
margin-left: 0;
}
.alignright {
float: right;
margin-right: 0;
}
.aligncenter, dl.aligncenter {
display: block;
margin-left: auto;
margin-right: auto;
}
.mceIEcenter {
text-align: center;
}
.wp-caption img {
margin: 0 4px;
padding: 0;
border: 0 none;
}
.wp-caption-dd {
font-size: 11px;
line-height: 17px;
padding: 0 4px 5px;
margin: 0;
}
p.wp-caption-text {
margin: 0;
padding: 3px;
font-size: 0.917em;
}

/*
 * Responsive images
 *
 * Fluid images for posts, comments, and widgets
 */
.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
	max-width: 100%;
}

/* Make sure images with WordPress-added height and width attributes are scaled correctly. */
.entry-content img,
.entry-summary img,
.comment-content img[height],
img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto;
}

img.size-full,
img.size-large,
img.wp-post-image {
	height: auto;
	max-width: 100%;
}

/* Make sure videos and embeds fit their containers. */
embed,
iframe,
object,
video {
	max-width: 100%;
}

/* Override the Twitter embed fixed width. */
.entry-content .twitter-tweet-rendered {
	max-width: 100% !important;
}

/* Images */
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft {
	margin: 5px 20px 5px 0;
}

.wp-caption.alignleft {
	margin: 5px 10px 5px 0;
}

img.alignright {
	margin: 5px 0 5px 20px;
}

.wp-caption.alignright {
	margin: 5px 0 5px 10px;
}

img.aligncenter {
	margin: 5px auto;
}

img.alignnone {
	margin: 5px 0;
}


img.wp-smiley,
.rsswidget img {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.wp-caption.alignleft + ul,
.wp-caption.alignleft + ol  {
	list-style-position: inside;
}
img.wp-post-image {
	float: left;
	padding-right: 14px;
	padding-bottom: 7px;	
}

.home img.wp-post-image {
	float: left;
	padding-right: 0;
	padding-bottom: 6px;	
}

.entry-content.subpage {
	/*text-align:justify;*/
}

.display-posts-listing .listing-item {
	clear: both;
	padding: 10px;
	margin: 10px 0;
	background: #f0efef;
}
.display-posts-listing img {
	float: left;
	margin: 3px 10px 10px 0;
}
.category-successful-transfers article .entry-header h1.entry-title {
	margin: 0 0 0 0;
}
.entry-content .body {
	clear: both;
  	margin-top: 15px;
}

.entry-content .details {
	line-height: 1.3em;
}

.entry-content .details a {
	display: block;
	margin: 0 0 -10px 0;
}
.successful-transfers .listing-item h3 {
	margin: 0 0 0 0;
}

.successful-transfers .listing-item .content .body {
	clear: both;
}

.successful-transfers .listing-item .content .details {
	line-height: 1.3em;
}

.successful-transfers .listing-item .content .details a {
	display: block;
	margin: 0 0 -10px 0;
}

/* Responsive Web Design 
   ************************************ */

#cu-identity, #wrap, #footer, .flexible #cu-identity, .flexible #wrap, .flexible #footer {
	min-width: 960px; /* lock design for older browsers that don't support media queries */
}
@media only screen and (min-width: 1px) {
	#cu-identity, #wrap, #footer, .flexible #cu-identity, .flexible #wrap, .flexible #footer {
		min-width: 0; /* unlock */
	}
}
#navigation h3, ul.mobile-section {
	display: none;
}


/* ********************************************************** */
@media only screen and (max-width: 1240px) { /* ************* */

/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 1150px) { /* ************* */

/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 1040px) { /* ************* */


.flexible #content, .flexible #midband {
	width: 98%;
}
.flexible #cu-identity-content, .flexible #navigation-wrap, .flexible #footer-content {
	width: 98%;
}
.flexible #identity-content {
	padding: 0 0;
	margin: 0 auto;
}
.flexible.autosize-header #identity-content {
	padding: 0;
}



/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 959px) { /* ************** */

.nav_desc {
	padding: 0 3px 0 8px;
}
.home #address_widget, #secondary-nav #text-3 {
	background-image: none;
}
.home #address_widget a {
	float: right;
	margin-top: -20px;
}
#identity {
	margin: 0 auto 0%;
} 
#identity-content {
	padding: 0;
}
#identity-content img {
}
#identity-content h1.entry-title {
	font-size: 2.1em;
	margin: 0;
}


#home-header { 
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
#secondary, #secondary_home, #secondary-nav, .sidebar-left #secondary, .sidebar-left #secondary-nav {
	float: left;
	width: 100%;
	padding: 0 0 0 0;
	border-width: 0;
	height: auto;
	margin: 0;
}
#section-navigation {
	padding-bottom: 0;
}
#section-navigation h2 {
	display: none;
}
#main-body, #main-top, #main-bottom,
.onecolumn #main-body, .onecolumn #main-top, .onecolumn #main-bottom {
	float: left !important;
	width: 100%;
	margin: 0;
	padding-left: 0;
}
.home .entry-content {
	padding-left: 2%;
}
.home #secondary, .home #secondary_home {
	width: 100%!important;
}
.home .secondary-section {
	width: 97%!important;
}
.home #secondary aside, .home #secondary_home aside {
	width: 100%;
	height: 153px;
}
.home .entry-content #secondary_home aside {
	width: 100%;
	height: auto;
}
.home .entry-content #secondary_home {
	width: 30%!important;
}
.home #the_content {
	width: 68%!important;
	padding-right: 10px;
}
.home #secondary .secondary-section .widget,
.home #secondary_home .secondary-section .widget,
.home #secondary-nav #section-navigation .widget {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.flexible #content, .flexible #midband {
	width: 100%;
}
#text-5 .featured-post span.excerpt {
	display: block;
	width: 85%;
	line-height: 1.5em;
}
.home .entry-content #secondary_home {
	padding-left: 10px;
	padding-right: 20px;
}
#text-5 img {
	padding-right: 12px;
}
#content-wrap {
	width: 100%;
	padding-right: 10%;
}
.secondary-page #main {
	width: 96.7%;
	padding: 10px 0 12px 2%;
	min-height: 200px;
}

#search-form {
  padding-right: 11px;
}

/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 860px) { /* ************** */

#col1, #col2 {
	width: 30%;
	margin: 0 2% 0 0;
}
#main-body, #main-bottom {
	/*width: 62%;*/
}
.nav_desc {
	padding: 0 3px 0 8px;
}
#navigation ul {
	height: 115px;
}
#navigation li {
	height: 70%;
}
.home #navigation ul {
	height: 90px;
}
.home #navigation li {
	height: 40px;
}
#navigation li a, #navigation li a:visited {
	padding: 18px 0 0 10px;
}
#identity-content h1.entry-title {
	font-size: 1.9em;
	margin: -1.5% 0 0 -1%;
}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 820px) { /* ************** */

.home #the_content {
	width: 96.5%!important;
}
.home .entry-content #secondary_home {
	width: 100%!important;
}

.home .entry-content #secondary_home .secondary-section .featured-post {
	width: 100%!important;
	clear: left;
	margin-bottom: 25px;
}

.home .entry-content #secondary_home .secondary-section .featured-post a:first-child {
	float: left;
}

.home .entry-content #secondary_home .secondary-section .featured-post .excerpt {
	display: block;
	clear: none;
}
.home .entry-content #secondary_home .secondary-section .featured-post .excerpt a {
	float: none;
}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 767px), print { /* ************** */

.flexible #navigation-wrap, .flexible #content-wrap {
	margin-top: 30px;
}
#header h1 {
	font-size: 1.75em;
	line-height: 36px;
	margin: 0 0 27.5% 0.5%;
}
#header h1.autoscale {
	line-height: 1.7;
}
#header h2 {
	color: #454545;
	font-style: italic;
	font-size: 1.25em;
	line-height: 25px;
	margin: 1px 0.5% 0 15px;
	float: right;
	display: none; /* remove to enable */
}
#header-band {
}
#identity {
	width: 100%!important;
	padding 0;
	margin: 0;
}
#identity-image {
	display: none;
}
.frequently-asked-questions #identity-mobile-image {
	background: url('../images/project/7sm.jpg');
}
.application-requirements #identity-mobile-image {
	background: url('../images/project/4sm.jpg');
}
.internal-transfer-application #identity-mobile-image {
	background: url('../images/project/6sm.jpg');
}
.successful-transfers #identity-mobile-image {
	background: url('../images/project/9sm.jpg');
}
#identity-mobile-image {
	background-repeat:no-repeat!important;
	background-size:contain!important;
	background-position:center!important;
	height: 137px!important;
	display: block!important;
	width: 100%!important;
	padding-top: 100px!important;
}
#identity h1.entry-title {
}
.autosize-header #identity-content {
	background-position: right 0;
}
#text-4 { 
	width: 100%;
}
#col1 {
	width: 46%;
	margin: 0 3% 0 1%;
}
#col2 {
	width: 46%;
	margin: 0 1% 0 3%;
}
.backgroundsize .sidebar-tint #main {
	background-image: none !important;
}
/* Navigation Dropdown ****************/
#header {
	position: relative;
}
#navigation-wrap, .flexible #navigation-wrap {
	width: 100% !important;
}
#navigation {
	position: absolute;
	top: 5px;
	z-index: 2;
}
#navigation-bar {
	background: none;
}
#navigation h3 {
	display: block;
	font-family: Verdana, sans-serif;
	font-size: 0.917em;
	margin: 0 1.25% 7px 0;
	text-align: right;
}
#navigation h3 em {
	font-style: normal;
	background-color: rgba(0,0,0,0.08);
	background-image: url('../images/layout/nav_menu_dark.svg');
	background-position: 8px 50%;
	background-repeat: no-repeat;
	float: left;
	margin-left: 12px;
	text-transform: uppercase;
	color: #000;
	text-shadow: none;
	padding: 0 14px 0 22px;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
#navigation h3 em.mobile-section {
	background-image: url('../images/layout/nav_submenu.svg');
}
#navigation h3 em.open {
	background-image: url('../images/layout/nav_menu.svg');
	background-color: #000;
	color: #fff;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.secondary #navigation h3 em {
	background-color: #222;
	background-color: transparent;
}
#navigation.overlay h3 em {
	opacity: 0.6;
}
#navigation.overlay h3 em.open {
	opacity: 1;
}
#navigation ul, .nav-centered #navigation ul {
	display: none;
	width: 100%;
	height: 100%;
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
	background: #222 !important;
	background: rgba(25,25,25,0.9) !important;
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
/*
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
*/
}
#navigation li {
	display: inline-block;
	width: 100% !important;
	height: 37px;
	margin-bottom: 0;
	padding-left: 0;
	margin-left: 0;
	text-align: left;
	background: #fff !important;
	text-transform: uppercase;
	font-family: Verdana, sans-serif !important;
	font-size: .9em !important;
	font-weight: 500;
	border: 0 !important;
}
#navigation li a {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-left: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	height: 37px;
	margin-left: 0;
	box-sizing: border-box;
	text-align: left !important;
	width: 100%;
	background: url('../images/layout/nav_arrow.svg') 96% 50% no-repeat;
}
#navigation li a:hover, #navigation li.current-menu-item a:hover {
	background: url('../images/layout/nav_arrow_red.png') 96% 50% no-repeat;
}
#navigation li.current-menu-item a {
	background: url('../images/layout/nav_arrow.svg') 96% 50% no-repeat;
	color: #000;
}
#navigation .list_wrap {
	display: inline-block;
	padding-top: 8px;
	padding-bottom: 8px;
	width: 100%;
	margin: 0;
	padding: 0;
}
#navigation .list_wrap:hover, #navigation li.current_page_item .list_wrap:hover {
	background: url('../images/layout/mobile_hover_bg.gif') 0% 50% no-repeat;
}
#navigation li.current_page_item .list_wrap {
	background: url('../images/layout/nav_arrow.svg') 96% 50% no-repeat;
	color: #000;
}
.nav_desc { 
	display: none;
}
.home .entry-content #secondary_home .secondary-section {
	margin-bottom: -40px;
}
.home #main {
	margin-top: -20px;
}
.secondary-page #main {
	margin-top: 25px;
}
.secondary-page .smallForm {
	margin-top: 0px;
}
#identity-content h1.entry-title {
	font-size: 1.9em;
	width: 100%;
	margin: -4% 0 0 -2%;
}
/* ************** */ }
/* alternate spotlight layout, to better handle the gap between tablet and phone (e.g. iPhone 5 landscape) */
@media only screen and (min-width: 481px) and (max-width: 767px) { /* ************** */

#secondary #spotlight .node, #secondary_home #spotlight .node {
	clear: both;
}
#secondary #spotlight .image-block, #secondary_home #spotlight .image-block {
	width: 38%;
	float: left;
	margin: 0 15px 18px 0;
}
#secondary #spotlight .node p, #secondary_home #spotlight .node p {
	clear: none;
}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 680px) { /* ************** */

#identity {
	height: 138px;
}
form.smallForm #search-form-query, 
form.smallForm_home #search-form-query,
form.smallForm #search-form-query2, 
form.smallForm_home #search-form-query2,
form.smallForm #search-form-query3, 
form.smallForm_home #search-form-query3 {
	width: 210px;
}
#footer1 {
	width: 100%;
	margin-left:0;
}
#footer2 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	float: none;
}
.menu-footer-menu-container {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	float: none;
}
#menu-footer-menu {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	float: none;
}
#menu-footer-menu li {
	text-align: center;
	margin: 0 auto;
	padding:0;
	margin:0;
	background: none!important;
}
#menu-footer-menu li a {
	text-align: center;
	margin: 0 auto;
	padding:0 0 0 0;
	margin:0;
}
.home #secondary-nav .widget, .home #secondary .widget, .home #secondary_home .widget {
	height: auto;
	padding-bottom: 40px!important;
}   
#footer2 li:last-child span {
	display:none;
}
#footer-link-divider {
	display: inline-block;
	color: #b37474;
	padding: 0 9px; 
}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 650px) { /* ************** */

#search-form {
	display: none;
}
.divSearchIcon {
	display: block;
	float: right;
	margin-right: 12px;
}
#identity {
	height: 125px;
}
.home #secondary-nav .widget {
	padding-bottom: 15px!important;
}   
.home .entry-content #secondary_home {
}
.home .entry-content #secondary_home aside {
	margin: 0 auto;
}
.home .entry-content #secondary_home .secondary-section .featured-post a:first-child {
	float: none!important;
}
.home .entry-content #secondary_home .secondary-section .featured-post a:nth-child(2) {
	margin: 12px 20px 0 0;
	width: 100%!important;
}
.home .entry-content #secondary_home .secondary-section .featured-post .excerpt {
	width: 100%!important;
}
.home .entry-content #secondary_home .featured-post {
	margin: 0 auto!important;
}
.smallForm_home {
	margin-bottom: 20px;
	width: 98%!important;
}
.secondary-page .smallForm {
	margin-top: 16px;
	margin-bottom: 12px!important;
	margin-right: 12px!important;
	width: 98%!important;
}
.home #main {
	margin-top: -12px;
}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 580px) { /* ************** */

/*.svg #cu-logo a, .svg .theme-white45 #cu-logo a, .svg .theme-white75 #cu-logo a, .svg .theme-white75 #cu-logo.unit75 a {
	background-size: 142px !important;
	background-position: 0 1px !important;
}
.theme-white45 #cu-search.options #search-filters, .theme-red45 #cu-search.options #search-filters, .theme-gray45 #cu-search.options #search-filters {
	display: none !important;
}
#header h1.autoscale {
	text-shadow: 0 1px #fff;
}
.svg #cu-logo a {
	width: 145px;
}*/
#identity {
	height: 116px;
}
#main-top {
}
#identity-mobile-image {
	padding-top: 80px!important;
}

.home #address_widget a {
	float: none;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
.home #address_widget a:nth-child(2) {
}
.site-identity-wrap a {
	font-size: 2.5em;
}

/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 530px) { /* ************** */

#identity {
	height: 107px;
}
#identity-mobile-image {
	padding-top: 65px!important;
}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 479px) { /* ************** */

#identity {
	height: 95px;
}

#identity-mobile-image {
	padding-top: 50px!important;
}
#col1, #col2, #footer2, #footer3 {
	width: 98% !important;
	margin: 0 1% 2% !important;
}
#search-form-query,
#search-form-query2,
#search-form-query3 {
	width: 100px;
}
.home .entry-content #secondary_home .secondary-section .featured-post a:nth-child(2) {
	width: 100%!important;
}
.home #secondary .widget:first-child, .home #secondary_home .widget:first-child {
	padding-bottom: 50px!important;
}
.home .entry-content #secondary_home .widget:first-child {
	padding-bottom: 0!important;
	margin-top: 0;
}
.home .entry-content #secondary_home .secondary-section .featured-post .excerpt {
	width: 100%!important;
}
.home #secondary a:nth-child(2), .home #secondary_home a:nth-child(2) {
	float: left!important;
}
.home #secondary img, .home #secondary_home img {
	float: none!important;
}
.home #secondary .excerpt, .home #secondary_home .excerpt {
	display: none!important;
}

.home .entry-content #secondary_home img {
	float: left!important;
}
.home .entry-content #secondary_home .excerpt {
	display: block!important;
}
.site-identity-wrap a {
	font-size: 2.4em;
}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 430px) { /* ************** */
.breadcrumbs a {
	line-height: 2em;
}
#colleges p a {
	line-height: 20px !important;
	display: block;
	clear: both;
}
#colleges p.subheading {
	margin-left: 0%!important;
}
#colleges p {
	clear: both;
	margin-left: 0%;
}
#colleges ul {
	margin-left: 5%;
}
#colleges img {
}
#colleges p.header span {
	display: block;
	width: 97%;
	margin: 20px auto;
	padding-top: 35px;
}
#identity-mobile-image {
	padding-top: 35px!important;
}

/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 420px) { /* ************** */

#identity {
	height: 85px;
}
#footer-link-divider {
	padding: 0 6px; 
}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 380px) { /* ************** */

#identity {
	height: 75px;
}
#footer-link-divider {
	padding: 0 4px; 
}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 340px) { /* ************** */

#identity {
	height: 65px;
}
#footer-link-divider {
	padding: 0 2px; 
}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 320px) { /* ************** */

#identity {
	height: 60px;
}
#footer-link-divider {
	padding: 0 1.5px; 
}
.site-identity-wrap a {
	font-size: 2.2em;
}
/* ************** */ }

