/*
 Theme Name:   Cracking The Emerging Markets Enigma book theme
 Theme URI:    http://www.cryoutcreations.eu/parabola
 Description:  Parabola Child Theme
 Author:       Cornel University
 Author URI:   http://www.cornell.edu
 Template:     parabola
 Version:      1.0
*/


@import url("../parabola/style.css");


/* Theme customization starts here
-------------------------------------------------------------- */
#access {
	background: transparent !important;
	position: relative;
	top: 1px;
}
#access ul li {
	margin-right: 1px;
}

#access ul li {
	margin-bottom: 0;
}
#access a span {
	padding: 12px 17px;
}
#access > .menu > ul > li > a:after,
#access > .menu > ul ul:after,
.footermenu ul li a:after,
.comment-details:after,
.widget-title:after,
.theme-default .nivo-controlNav:after
 {
	display: none;
}

#footer {
	border-top: 1px solid #C8973B;
}

.home #footer {
	border-top: none;
}

#header-full {
	background: url(project/header.png) repeat-x 0 0;
}

#footer .widget-container p {
	font-size: 16px;
	line-height: 1.6em;
}

#footer2 {
	padding: 30px 0
}

#site-description {
	font-size: 22px;
	margin-top: 10px;
}

/*  main body transparency   */

div.post, div.page, .sidey .widget-container, #comments, .commentlist .comment-body, article.post, article.page, #nav-below, .page-header, .yoyo > li {
	border: none !important;
}

div.post, div.page, #comments, .comments, .column-text, .column-image, #srights, #slefts, #frontpage blockquote, .page-title, .page-header, article.post, article.page, .contentsearch, #author-info, #nav-below, .yoyo > li, .sidey .widget-container {
	background-color: rgba(255, 255, 255, 0.6) !important;
}

/* Header Title Icon styles */

#branding {
	background: url(project/header_icon1.png) no-repeat 0 50%;
}

@media (max-width: 800px) {
#branding {
	background-image: none;
}
}

#site-title, #site-description {
	margin-left: 90px;
}


/*   Footer Links and Logos   */
.buy-links, #global-footer-content-inner {
	text-align: center;
	margin: 0 auto;
	max-width: 960px;
}

.amazon a, .oxford a, .bn a, .buy-links ul li {
	display: inline-block;
}

.amazon a, .oxford a, .bn a {
	text-indent: -2000em;
	overflow: hidden;
	padding: 6px;
	background-size: 
}

.amazon a {
	background: #00688B url(project/amazon.png) no-repeat 50% 50%; 
	width: 123px;
	height: 36px;
	margin-right: 2em;
	border: 1px solid #fff;
}

.oxford a {
	background: #fff url(project/oxfordpress.gif) no-repeat 50% 50%; 
	width: 123px;
	height: 36px;
	margin-right: 2em;
	border: 1px solid #00688B;
}

.bn a {
	background: #fff url(project/BNLogo.png) no-repeat 50% 50%; 
	width: 123px;
	height: 36px;
	border: 1px solid #00688B;
}

.buy-links p {
	float: left;
	width: 100%;
	padding-top: 1em;
	text-align: center;
}

#site-copyright .buy-links p {
	padding: 0 0 1em 0;
	font-size: 14px;
}

/* Splash Page */

.home #header-full {
	display: none;
}

#frontpage blockquote, #front-text3 blockquote {
	background: transparent !important;
	padding: 0 !important;
	margin: 0 !important;
}

.book {
	float: left;
	width: 100%;
	background-color: rgba(0, 104, 139, 0.3);
	box-shadow: 2px 2px 32px 3px #C7C5C5;
	-webkit-box-shadow: 2px 2px 32px 3px #C7C5C5;
	-moz-box-shadow: 2px 2px 32px 3px #C7C5C5;
	-o-box-shadow: 2px 2px 32px 3px #C7C5C5;
	position: relative;
}

.book-left, .book-right {
	float: left;
	width: 50%;
}

.front-cover {
	width: 100%;
	float: left;
}

.cover-menu {
	float: left;
	width: 100%;
	margin-top: 20%;
}

.cover-menu li ul {
	display: none;
}

.cover-menu li {
	font-size: 1.6em;
	float: left;
	clear: left;
	margin-bottom: 4px;
}

.cover-menu a {
	display: inline-block;
	padding: 12px;
	color: #fff;
	background: #00688B;
	transition: all 0.5s ease;
}

.cover-menu a:hover {
	padding-right: 42px;
	color: #000;
	background: #ECDBB0;
}

@media (max-width: 520px) {

.cover-menu {margin-top: 10%;}
.cover-menu li {font-size: 1.2em; margin-bottom: 2px}
.cover-menu a {padding: 5px;}
}

