/*-- Give */
[id*=give-form] div#give-sidebar-left {
	width: 100%;
	float: none;
}
[id*=give-form] div.summary {
	width: 100%;
	float: none;
}
.second-block .give-form-wrap {
	color: #000;
	position: relative;
	margin: 60px auto 0 auto;
	background: #fff;
	box-shadow: 0px 0px 0px 8px rgba(0,0,0,0.2);
	padding: 3%;
	max-width: 100%;
	text-align: left;
}
.give-form-wrap {
	background: #fff;
	border: 2px solid #f6f6f6;
	color: #000;
	text-align: left;
	padding: 3%;
}
#give-login-form fieldset,
#give-register-form fieldset,
#give_profile_editor_form fieldset {
	border: 3px solid #f6f6f6;
}
#secondary .give-form-wrap {
	border: none;
	padding: 0;
}
.site-footer .give-form-wrap  {
	background: #2c2c2c;
	border-radius: 3px;
	color: #fff;
	padding: 5%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: left;
}
.site-footer input.give-submit {
	background: #20c9f3;
	border-bottom: none;
	color: #000;
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: 400;
	padding: 10px 25px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 0 none;
	border-bottom: 0;
	font-size: 16px;
	font-size: 1rem;
	transition: .2s;
	text-transform: uppercase;
}
.site-footer input.give-submit:hover {
	background: #000;
	color: #fff;
	text-decoration: underline;
}
.site-footer #give-recurring-form .form-row label, 
.site-footer form.give-form .form-row label,
.site-footer form[id*=give-form] .form-row label {
	color: #fff;
}
.site-footer form[id*=give-form] .give-donation-amount #give-amount, 
.site-footer form[id*=give-form] .give-donation-amount #give-amount-text,
.site-footer form[id*=give-form] #give-final-total-wrap .give-final-total-amount {
	border: 1px solid #000;
	background: transparent;
	color: #fff;
}
.site-footer form[id*=give-form] #give-final-total-wrap .give-donation-total-label {
	border: 1px solid #000;
}
.site-footer form[id*=give-form] .give-donation-amount .give-currency-symbol,
.site-footer form[id*=give-form] #give-final-total-wrap .give-donation-total-label {
	background-color: #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	color: #fff;
}
.site-footer form[id*=give-form] .give-donation-amount .give-currency-symbol.give-currency-position-before {
	border-left: 1px solid #000;
}
.site-footer .give-goal-progress .income {
	color: #20c9f3;
}
.site-footer .give-progress-bar {
	background: #000;
}
.site-footer #give-recurring-form h3.give-section-break, 
.site-footer #give-recurring-form h4.give-section-break, 
.site-footer #give-recurring-form legend, 
.site-footer form.give-form h3.give-section-break, 
.site-footer form.give-form h4.give-section-break, 
.site-footer form.give-form legend, 
.site-footer form[id*=give-form] h3.give-section-break, 
.site-footer form[id*=give-form] h4.give-section-break, 
.site-footer form[id*=give-form] legend {
	border-bottom: 1px solid #000;
	color: #fff;
}
.site-footer #give-gateway-radio-list {
	color: #fff;
}
.site-footer #give-recurring-form .form-row input[type=text].required, 
.site-footer #give-recurring-form .form-row input[type=tel].required, 
.site-footer #give-recurring-form .form-row input[type=email].required, 
.site-footer #give-recurring-form .form-row input[type=password].required, 
.site-footer #give-recurring-form .form-row select.required, 
.site-footer #give-recurring-form .form-row textarea.required, 
.site-footer #give-recurring-form .give-tooltip:hover, 
.site-footer form.give-form .form-row input[type=text].required, 
.site-footer form.give-form .form-row input[type=tel].required, 
.site-footer form.give-form .form-row input[type=email].required, 
.site-footer form.give-form .form-row input[type=password].required, 
.site-footer form.give-form .form-row select.required, 
.site-footer form.give-form .form-row textarea.required, 
.site-footer form.give-form .give-tooltip:hover, 
.site-footer form[id*=give-form] .form-row input[type=text].required, 
.site-footer form[id*=give-form] .form-row input[type=tel].required, 
.site-footer form[id*=give-form] .form-row input[type=email].required, 
.site-footer form[id*=give-form] .form-row input[type=password].required, 
.site-footer form[id*=give-form] .form-row select.required, 
.site-footer form[id*=give-form] .form-row textarea.required, 
.site-footer form[id*=give-form] .give-tooltip:hover {
	color: #fff;
}
.site-footer form.floated-labels .floatlabel input, 
.site-footer form.floated-labels .floatlabel select, 
.site-footer form.floated-labels .floatlabel.is-active input, 
.site-footer form.floated-labels .floatlabel.is-active select, 
 form.floated-labels .floatlabel.is-active textarea {
	background: #000;
	border: 1px solid #000;
}
input.give-submit,
#give-purchase-gravatars .give-gravatars-title, 
[id*=give-form].give-display-modal .give-btn, 
[id*=give-form].give-display-reveal .give-btn {
	background: #20c9f3;
	border-bottom: none;
	color: #000;
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: 400;
	padding: 10px 25px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 0 none;
	border-bottom: 0;
	font-size: 16px;
	font-size: 1rem;
	transition: .2s;
	text-transform: uppercase;
}
input.give-submit:hover {
	background: #000;
	color: #fff;
	text-decoration: underline;
}
.give-progress-bar {
	background: #f6f6f6;
}
.progress-bar>span,
.give-progress-bar {
	border-radius: 0;
}
form[id*=give-form] .give-donation-amount .give-currency-symbol.give-currency-position-before {
	border-left: 1px solid #efefef;
}
form[id*=give-form] .give-donation-amount .give-currency-symbol {
	background-color: #f6f6f6;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}
form[id*=give-form] .give-donation-amount #give-amount, 
form[id*=give-form] .give-donation-amount #give-amount-text {
	border: 1px solid #efefef;
}
form.floated-labels .floatlabel input, 
form.floated-labels .floatlabel select,
form.floated-labels .floatlabel.is-active input, 
form.floated-labels .floatlabel.is-active select, 
form.floated-labels .floatlabel.is-active textarea {
	border: 1px solid #efefef;
}
form[id*=give-form] #give-final-total-wrap .give-donation-total-label {
	background-color: #f6f6f6;
	border: 1px solid #efefef;
}
form[id*=give-form] #give-final-total-wrap .give-final-total-amount {
	border: 1px solid #efefef;
}
#give-recurring-form h3.give-section-break, 
#give-recurring-form h4.give-section-break, 
#give-recurring-form legend, 
form.give-form h3.give-section-break, 
form.give-form h4.give-section-break, 
form.give-form legend, 
form[id*=give-form] h3.give-section-break, 
form[id*=give-form] h4.give-section-break, 
form[id*=give-form] legend {
	border-bottom: 1px solid #efefef;
}
#give-recurring-form .give-required-indicator, 
form.give-form .give-required-indicator, 
form[id*=give-form] .give-required-indicator {
	color: #980560;
}
.homepage .content-caption .give-form-wrap {
	font-size: 16px;
	font-size: 1rem;
}
.block-one .give-form-wrap,
.block-six .give-form-wrap {
	text-align: left;
}
.info .give-goal-progress {
	background: #fff;
	padding: 20px;
}
[id*=give-form] .give-form-title, [id*=give-form] div.images {
	margin: 0 0 25px;
}
.give-progress-bar {
	background: #000;
}
.give-progress-bar>span {
	border-radius: 0;
}
.archive.post-type-archive-give_forms article {
	border: 2px solid #f6f6f6;
}
.archive.post-type-archive-give_forms h2.entry-title a {
	transition: 0.2s;
}
.archive.post-type-archive-give_forms .entry-content,
.archive.post-type-archive-give_forms .entry-title {
	padding: 0 20px;
}
.archive.post-type-archive-give_forms h2.entry-title a:hover {
	text-decoration: underline;
}
.archive.post-type-archive-give_forms .wp-post-image {
	opacity: 1;
	transition: 0.2s;
}
.archive.post-type-archive-give_forms .wp-post-image:hover {
	opacity: 0.85;
}
.archive.post-type-archive-give_forms .blog {
	margin-bottom: 60px;
}
.single .give_forms {
	margin-bottom: 40px;
}
.single .give-sidebar #promo {
	margin-bottom: 0;
}
.single .give-sidebar .widget {
	margin: 0 0 2.5em;
}
.single .give_forms h1 {
	background: #f6f6f6;
	font-size: 30px;
	font-size: 1.875rem;
	margin-bottom: 0;
	padding: 5px 10px;
	text-align: center;
}
input#give_login_submit,
#give-register-form .button {
	background: #20c9f3;
	border-bottom: none;
	color: #000;
	font-family: 'Montserrat', Arial, sans-serif;
	font-weight: 400;
	padding: 5px 20px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 0 none;
	border-bottom: 0;
	font-size: 16px;
	font-size: 1rem;
	transition: .2s;
	text-transform: uppercase;
}
input#give_login_submit:hover,
#give-register-form .button:hover {
	background: #000;
	color: #fff;
	text-decoration: underline;
}
#give-login-form legend,
#give-register-form legend {
	background: #f6f6f6;
	padding: 4px 20px;
	text-align: center;
}
.give-goal-progress .income {
	color: #20c9f3;
	font-size: 30px;
	font-size: 1.875rem;
	font-weight: 900;
}
.post-type-archive-give_forms .give-goal-progress .income {
	font-size: 24px;
	font-size: 1.5rem;
}
@media screen and ( min-width: 55em ) {
	[id*=give-form] div#give-sidebar-left {
		width: 38%;
		float: left;
	}
	[id*=give-form] div.summary {
		width: 58%;
		float: right;
	}
}
@media screen and ( min-width: 80em ) {
	.second-block .give-form-wrap {
		margin: 60px auto 0 auto;
		padding: 3%;
		max-width: 60%;
	}
	.block-five .give-form-wrap {
		text-align: left;
	}
}