/* Events Calendar */
.fixed-menu #tribe-events-pg-template {
	padding-top: 130px;
}
.alternative-menu #tribe-events-pg-template {
	padding-top: 40px;
}
.standard-menu #tribe-events-pg-template {
	padding-top: 10px;
}
.admin-bar.fixed-menu #tribe-events-pg-template {
	padding-top: 80px;
}
#tribe-events .tribe-events-button, 
#tribe-events .tribe-events-button:hover, 
#tribe_events_filters_wrapper input[type=submit], 
.tribe-events-button, 
.tribe-events-button.tribe-active:hover, 
.tribe-events-button.tribe-inactive, 
.tribe-events-button:hover, 
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], 
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a {
	background-color: #20c9f3;
	color: #000;
}
.tribe-events-calendar thead th {
	background-color: #000;
}
#tribe-bar-form .tribe-bar-submit input[type=submit] {
	background: #000;
}
.tribe-events-schedule h2 {
	font-style: italic;
	font-weight: 500;
	font-size: 18px;
	text-transform: none;
}
@media screen and ( min-width: 55em ) {
	#tribe-events-pg-template,
	.events-list .tribe-events-loop, 
	.single-tribe_organizer .tribe-events-loop, 
	.single-tribe_venue .tribe-events-loop, 
	.tribe-events-day .tribe-events-loop {
		max-width: 800px;
	}
	.admin-bar.fixed-menu #tribe-events-pg-template {
		padding-top: 150px;
	}
}

@media screen and ( min-width: 70em ) {
	#tribe-events-pg-template,
	.events-list .tribe-events-loop, 
	.single-tribe_organizer .tribe-events-loop, 
	.single-tribe_venue .tribe-events-loop, 
	.tribe-events-day .tribe-events-loop {
		max-width: 992px;
	}
}
@media screen and ( min-width: 80em ) {
	#tribe-events-pg-template,
	.events-list .tribe-events-loop, 
	.single-tribe_organizer .tribe-events-loop, 
	.single-tribe_venue .tribe-events-loop, 
	.tribe-events-day .tribe-events-loop {
		max-width: 1088px;
	}
}
@media screen and ( min-width: 95em ) {
	#tribe-events-pg-template,
	.events-list .tribe-events-loop, 
	.single-tribe_organizer .tribe-events-loop, 
	.single-tribe_venue .tribe-events-loop, 
	.tribe-events-day .tribe-events-loop {
		max-width: 1280px;
	}
}
