/* WooCommerce */

.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button,
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
	background: #20c9f3;
	color: #000;
	font-family: 'Montserrat', Arial, sans-serif;
	border-radius: 0;
	font-weight: 500;
	text-transform: uppercase;
}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button:hover, 
.woocommerce button.button:hover, 
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover, 
.woocommerce a.button.alt:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce input.button.alt:hover {
	background: #000;
	color: #fff;
	text-decoration: underline;
}
.woocommerce ul.products li.product .price, 
.woocommerce div.product p.price, 
.woocommerce div.product span.price {
	color: #000;
	font-size: 1.2em;
	border-bottom: 2px solid #000;
}
.woocommerce span.onsale {
	background-color: #20c9f3;
	color: #000;
	border-radius: 0;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
	background-color: #20c9f3;
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	background-color: #000;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li {
	margin: 0;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li {
	background: none;
	border-left: 2px solid #000;
	border-right: 2px solid #000;
	border-top: 2px solid #000;
	border-radius: 0;
	margin-right: 1px;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before {
	box-shadow: 0 0 0 #000;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after {
	border-bottom-right-radius:0;
	border-width: 0;
	box-shadow: 0 0 0 #000;
	border: none;
	border-radius: 0;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs:after, 
.woocommerce #content div.product .woocommerce-tabs ul.tabs:before, 
.woocommerce div.product .woocommerce-tabs ul.tabs:after, 
.woocommerce div.product .woocommerce-tabs ul.tabs:before, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:after, 
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs:after, 
.woocommerce-page div.product .woocommerce-tabs ul.tabs:before {
	border: none;
}
.woocommerce div.product .woocommerce-tabs .panel {
	padding: 40px 20px 20px 20px;
	border: 2px solid #000;
}
.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding: 0;
	margin: 0;
}
.woocommerce .woocommerce-message {
	border-top-color: #20c9f3;
}
.woocommerce .woocommerce-message:before,
.woocommerce .woocommerce-info:before {
	color: #20c9f3;
}
.woocommerce-checkout #payment {
	background: transparent;
	border-radius: 0;
	border: 2px solid #000;
}
.woocommerce-checkout #payment div.payment_box {
	background-color: #efefef;
	color: #000;
}
.woocommerce-checkout #payment ul.payment_methods {
	border-bottom: 1px solid #000;
}
.woocommerce .quantity .qty {
	border: 1px solid #000;
	padding: .18em 0;
}
.woocommerce .woocommerce-breadcrumb a,
.woocommerce .woocommerce-breadcrumb {
	color: #000;
}
.woocommerce .star-rating span:before {
	color: #20c9f3;
}
.woocommerce .woocommerce-ordering select {
	background: #fff;
	border: 2px solid #000;
	height: 30px;
}
.woocommerce .woocommerce-info {
	border-top-color: #20c9f3;
}
.woocommerce div.product .woocommerce-tabs .panel {
	float: left;
	width: 100%;
}
.entry-content .woocommerce a {
	border-bottom: none;
}
.entry-content .woocommerce a:hover {
	border-bottom: 1px solid;
}
.woocommerce p.stars a {
	border: none;
}
@media screen and ( min-width: 70em ) {
	.single-product.woocommerce div#secondary {
		width: 21.7391304348%;
		float: right;
		margin-right: 0;
	}
	.archive.woocommerce-page div#secondary {
		width: 21.7391304348%;
		float: right;
		margin-right: 0;
	}
	.archive.woocommerce-page.singular div#secondary {
		margin-top: 7em;
	}
	.woocommerce div#container {
		width: 73.9130434783%;
		float: left;
		margin-right: 4.347826087%;
	}
}
@media screen and ( max-width: 768px ) {
.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product, 
.woocommerce-page[class*=columns-] ul.products li.product, 
.woocommerce[class*=columns-] ul.products li.product {
	width: 100%;
	float: none;
}
}