/***********************************************
 * Cornell University
 * Master Web Template for all sizes and colors
 * Main CSS Rules
 ***********************************************/


/* Oxygen Theme Integration
   ************************************ */
#cu-identity {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%;
}
#search-form-query {
	font-size: 100%;
	display: inline;
}
#cu-identity form label {
	line-height: inherit;
}
#cu-identity a {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}
/* WordPress Admin */
#footer ul.admin-menu {
	margin: 0;
	list-style: none;
}
#footer ul.admin-menu li {
	float: left;
	background: none;
	padding: 0 12px 0 0;
	margin-right: 12px;
	border-right: 1px solid rgba(0,0,0,0.1);
}
#footer ul.admin-menu li:last-child {
	border: 0 !important;
}
#footer ul.admin-menu li a {
	opacity: 0.4;
}
/* Campaign */
#header {
	padding-top: 20px;
}
#branding {
	width: 100%;
}
#sidebar-header, .featured-wrapper {
	width: 69.78723404255319%;
	height: auto;
}
#campaign-image {
	position: relative;
}
#campaign-image h2 {
	position: absolute;
	bottom: 12%;
	right: 0;
	background: #fff;
	padding: .4em 1.5em;
	font-size: 2em;
}
.read-more, .read-more:visited {
	top: auto;
	bottom: 5px;
}
.page-template-front .hentry, .archive .hentry, .search .hentry {
	margin-bottom: 15px;
}
.aside {
	width: 27.02127659574468%;
}
.content-wrap {
	width: 69.78723404255319%;
}
.entry-header {
	width: 100%;
	margin-bottom: 3px;
}
.entry-summary {
	width: 100%;
	padding-left: 0;
}
.page-template-front .hfeed-more .hentry .entry-title a {
	font-size: 0.75em;
	word-spacing: normal;
}
@media only screen and (max-width: 767px) {
	#sidebar-header, .featured-wrapper, .aside, .content-wrap {
		width: 100%;
	}
	#campaign-image h2 {
		font-size: 1.25em;
		bottom: 3%;
		display: none; /* disabled */
	}
}


/* Style Variables
   ************************************ */
#cu-logo a {
	width: 250px; /* Defines the active area for the standalone CU logo link */
}
#cu-logo.unit75 #unit-link {
	width: 182px; /* Defines the active area for the unit signature link */
}
#cu-identity {
	/*background-image: url(../images/cornell_identity/header_bg/75/white/1.jpg);*/ /* Defines the header background image (optional) */
}


/* CU Identity Defaults
   ************************************ */

/* Logo
   -------------------- */
#cu-identity {
	font-size: 0.9em;
	height: 45px; /* default */
	background-color: #fff; /* default */
	background-repeat: no-repeat;
	background-position: top center;
}
#cu-identity-content {
	margin: 0 auto;
	width: 960px;
}
#cu-logo a {
	border: none;
	display: block;
	float: left;
	height: 45px; /* default */
	background: url(../images/cornell_identity/cu_logo_white45.gif) no-repeat top left; /* default */
}
/* Unit Signature
   -------------------- */
#cu-logo.unit75 a {
	background: url(../images/cornell_identity/unit_sig_white75.gif) no-repeat 0 0; /* default */
	display: block;
	position: absolute;
	text-indent: -1000em; 
	text-decoration: none;
}
#cu-logo.unit75 #unit-link {
	position: relative;
	left: 68px;
	top: 38px;
	height: 37px !important;
	background: none !important;
}
#cu-logo img {
	display: none;
}
/* Search Links
   -------------------- */
#cu-search {
	float: right;
	position: relative;
	top: 12px; /* default */
}
#cu-search a {
	float: left;
	padding: 5px 15px;
	color: #b31b1b; /* default */
	text-decoration: none;
	border: none;
}
#cu-search a {
	float: right;
}
#cu-search a:hover {
	color: #fe003c; /* default */
	background: #eee; /* default */
}
/* Search Form
   -------------------- */
#search-form label {
	color: #333; /* default */
}
#search-form.no-label label {
	display: none;
}
#search-form.no-label #search-filters label {
	display: inline;
}
#search-form-query {
	margin-bottom: 3px;
	padding: 3px;
	width: 145px;
	border: none;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #333; /* default */
	background: #f3f3f3 url(../images/cornell_identity/header_search_white.gif) no-repeat top left; /* default */
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#search-form-query {
		margin-top: 2px;
		height: 13px; /* force safari/chrome consistency */
	}
}
#search-form-submit {
	padding: 0 2px 2px;
	border-top: 1px solid #e5e5e5; /* default */
	border-left: 1px solid #e5e5e5; /* default */
	border-right: 1px solid #b3b3b3; /* default */
	border-bottom: 1px solid #b3b3b3; /* default */
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	line-height: 1.5;
	font-weight: bold;
	color: #333; /* default */
	background: #f2f2f2; /* default */
	-webkit-appearance: none;
	position: relative;
	top: -1px;
}
#search-filters {
	margin: 3px 0 0 0;
	text-align: right;
	vertical-align: middle;
	line-height: 1.4;
}
#search-filters input {
	margin: 0;
	vertical-align: middle;
}
#search-filters label {
	margin: 0 8px 0 0;
	vertical-align: middle;
}
#search-filters a {
	color: #b31b1b; /* default */
	background: none !important;
	padding: 0;
	margin: 1px 1px 0 10px;
	line-height: 1.5;
}
/* WebKit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#search-form-submit {
		padding: 0 3px 1px;
	}
	#search-filters a {
		margin-top: 2px;
		line-height: 16.99px; /* force safari/chrome consistency */
	}
}


/*  CU Identity Themes
   ************************************ */

/* Size Definitions
   -------------------- */
.theme-white45, .theme-red45, .theme-gray45,
.theme-white45 #cu-logo a, .theme-red45 #cu-logo a, .theme-gray45 #cu-logo a {
	height: 45px !important;
}
.theme-white75, .theme-red75, .theme-gray75,
.theme-white75 #cu-logo a, .theme-red75 #cu-logo a, .theme-gray75 #cu-logo a {
	height: 75px !important;
}
#cu-logo.unit75 #unit-signature-links a {
	height: 38px !important;
}
/* Color Definitions
   -------------------- */
.theme-white45, .theme-white75 {
	background-color: #fff !important; /* reinforces default */
}
.theme-red45, .theme-red75 {
	background-color: #b31b1b !important;
}
.theme-gray45, .theme-gray75 {
	background-color: #4d4e53 !important;
}
/* Logo Definitions
   -------------------- */
.theme-white45 #cu-logo a { 
	background-image: url(../images/cornell_identity/cu_logo_white45.gif);
}
.theme-white75 #cu-logo a { 
	background-image: url(../images/cornell_identity/cu_logo_white75.gif);
}
.theme-red45 #cu-logo a { 
	background-image: url(../images/cornell_identity/cu_logo_red45t.gif);
}
.theme-red75 #cu-logo a { 
	background-image: url(../images/cornell_identity/cu_logo_red75t.gif);
}
.theme-gray45 #cu-logo a { 
	background-image: url(../images/cornell_identity/cu_logo_gray45.gif);
}
.theme-gray75 #cu-logo a { 
	background-image: url(../images/cornell_identity/cu_logo_gray75.gif);
}
.theme-white75 #cu-logo.unit75 a {
	background-image: url(../images/cornell_identity/unit_sig_white75.gif); /* reinforces default */
}
.theme-red75 #cu-logo.unit75 a {
	background-image: url(../images/cornell_identity/unit_sig_red75.gif);
}
.theme-gray75 #cu-logo.unit75 a {
	background-image: url(../images/cornell_identity/unit_sig_gray75.gif);
}

/* Search Definitions (Text Links)
   ************************************ */

/* Link Color
   -------------------- */
.theme-white45 #cu-search a, .theme-white75 #cu-search a,
.theme-white45 #search-navigation a, .theme-white75 #search-navigation a {
	color: #b31b1b; /* reinforces default */
}
.theme-red45 #cu-search a, .theme-red75 #cu-search a,
.theme-gray45 #cu-search a, .theme-gray75 #cu-search a,
.theme-red45 #search-navigation a, .theme-red75 #search-navigation a,
.theme-gray45 #search-navigation a, .theme-gray75 #search-navigation a {
	color: #fff;
}
/* Hover Color
   -------------------- */
.theme-white45 #cu-search a:hover, .theme-white75 #cu-search a:hover,
.theme-white45 #search-navigation a:hover, .theme-white75 #search-navigation a:hover {
	color: #fe003c; /* reinforces default */
	background: #eee; /* reinforces default */
}
.theme-red45 #cu-search a:hover, .theme-red75 #cu-search a:hover,
.theme-red45 #search-navigation a:hover, .theme-red75 #search-navigation a:hover {
	color: #fff;
	background: #990f26;
}
.theme-gray45 #cu-search a:hover, .theme-gray75 #cu-search a:hover,
.theme-gray45 #search-navigation a:hover, .theme-gray75 #search-navigation a:hover {
	color: #fff;
	background: #444;
}
/* Vertical Offset
   -------------------- */
.theme-white45 #cu-search, .theme-red45 #cu-search, .theme-gray45 #cu-search {
	top: 12px; /* reinforces default */
}
.theme-white75 #cu-search, .theme-red75 #cu-search, .theme-gray75 #cu-search {
	top: 28px;
}
.theme-white75 #cu-search.options, .theme-red75 #cu-search.options, .theme-gray75 #cu-search.options {
	top: 18px;
}


/* Search Definitions (Form)
   ************************************ */

/* Label Color
   -------------------- */
.theme-white75 #search-form label {
	color: #333; /* reinforces default */
}
.theme-red75 #search-form label, .theme-red45 #search-form label,
.theme-gray75 #search-form label, .theme-gray45 #search-form label {
	color: #fff;
}
/* Text Input Colors
   -------------------- */
.theme-white75 #search-form-query, .theme-white45 #search-form-query {
	color: #333; /* reinforces default */
	background: #f3f3f3 url(../images/cornell_identity/header_search_white.gif) no-repeat top left; /* reinforces default */
}
.theme-red75 #search-form-query, .theme-red45 #search-form-query {
	color: #fff;
	background: #990f0f url(../images/cornell_identity/header_search_red.gif) no-repeat top left;
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.075);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.075);
	box-shadow: 0 0 0 1px rgba(255,255,255,0.075);
}
.theme-gray75 #search-form-query, .theme-gray45 #search-form-query {
	color: #fff;
	background: #414247 url(../images/cornell_identity/header_search_gray.gif) no-repeat top left;
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.025);
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.025);
	box-shadow: 0 0 0 1px rgba(255,255,255,0.025);
}
/* Go Button Colors
   -------------------- */
.theme-white75 #search-form-submit, .theme-white45 #search-form-submit {
	border-top: 1px solid #e5e5e5; /* reinforces default */
	border-left: 1px solid #e5e5e5; /* reinforces default */
	border-right: 1px solid #b3b3b3; /* reinforces default */
	border-bottom: 1px solid #b3b3b3; /* reinforces default */
	color: #333; /* reinforces default */
	background: #f2f2f2; /* reinforces default */
}
.theme-red75 #search-form-submit, .theme-red45 #search-form-submit {
	border-top: 1px solid #bf6060;
	border-left: 1px solid #bf6060;
	border-right: 1px solid #400606;
	border-bottom: 1px solid #400606;
	color: #fff;
	background: #900;
}
.theme-gray75 #search-form-submit, .theme-gray45 #search-form-submit {
	border-top: 1px solid #828387;
	border-left: 1px solid #828387;
	border-right: 1px solid #202021;
	border-bottom: 1px solid #202021;
	color: #fff;
	background: #57585d;
}
/* Options Link Color
   -------------------- */
.theme-white75 #search-form a {
	color: #b31b1b; /* reinforces default */
}
.theme-red75 #search-form a,
.theme-gray75 #search-form a {
	color: #fff;
}
/* 45px Form with Options
   -------------------- */
.theme-white45 #cu-search.options #search-filters, .theme-red45 #cu-search.options #search-filters, .theme-gray45 #cu-search.options #search-filters {
	float: left;
	margin: 2px 10px 0 0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.theme-white45 #cu-search.options #search-filters, .theme-red45 #cu-search.options #search-filters, .theme-gray45 #cu-search.options #search-filters {
		margin-top: 1.5px; /* force safari/chrome consistency */
	}
}
.theme-white45 #cu-search.options #search-input, .theme-red45 #cu-search.options #search-input, .theme-gray45 #cu-search.options #search-input {
	float: right;
}


/* Responsive Web Design (Cornell Banner Standalone)
   ************************************************************************* */

#cu-identity {
	min-width: 940px; /* lowered from 960 to match Oxygen */
}
.flexible #cu-identity {
	min-width: 0;
}
.flexible #cu-identity-content {
	width: 92%;
	max-width: 940px; /* lowered from 1100 to match Oxygen */
}
.flexible.unconstrained #cu-identity-content {
	width: 98%;
	max-width: none;
}


/* Media Queries 
   ************************************ */

.flexible #cu-identity {
	min-width: 960px; /* lock design for older browsers that don't support media queries */
}
@media only screen and (min-width: 1px) {
	.flexible #cu-identity {
		min-width: 0; /* unlock */
	}
}

/* ********************************************************** */
@media only screen and (max-width: 1040px) { /* ************* */


.flexible #cu-identity-content {
	width: 98%;
}



/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 959px) { /* ************** */


#cu-identity.theme-white45, #cu-identity.theme-red45, #cu-identity.theme-gray45, 
#cu-identity.theme-white75, #cu-identity.theme-red75, #cu-identity.theme-gray75 {
	height: 42px !important;
	padding: 1px 0;
}
.theme-white45 #cu-logo a, .theme-red45 #cu-logo a, .theme-gray45 #cu-logo a, 
.theme-white75 #cu-logo a, .theme-red75 #cu-logo a, .theme-gray75 #cu-logo a, 
.theme-white75 #cu-logo.unit75 a, .theme-red75 #cu-logo.unit75 a, .theme-gray75 #cu-logo.unit75 a {
	height: 42px !important;
	background: url('../images/cornell_identity/cu_logo_white45.gif') no-repeat 0 -2px;
}
.theme-red45 #cu-logo a, .theme-red75 #cu-logo a, .theme-red75 #cu-logo.unit75 a {
	background: url('../images/cornell_identity/cu_logo_red45t.gif') no-repeat 0 -2px;
}
.theme-gray45 #cu-logo a, .theme-gray75 #cu-logo a, .theme-gray75 #cu-logo.unit75 a {
	background: url('../images/cornell_identity/cu_logo_gray45.gif') no-repeat 0 -2px;
}
.svg #cu-logo a {
	background: url('../images/cornell_identity/culogo_hd_white45.svg') no-repeat -1px -2px !important;
	background-size: 162px !important;
}
.svg .theme-white45 #cu-logo a, .svg .theme-white75 #cu-logo a, .svg .theme-white75 #cu-logo.unit75 a {
	background: url('../images/cornell_identity/culogo_hd45.svg') no-repeat -1px -2px !important;
	background-size: 162px !important;
}
#cu-search {
	top: 10px !important;
}
#cu-search #search-filters, #cu-search label, #unit-link {
	display: none !important;
}
.theme-white45 #cu-search.options #search-filters, .theme-red45 #cu-search.options #search-filters, .theme-gray45 #cu-search.options #search-filters {
	display: block !important;
}
.theme-white45 #cu-search.options #search-filters label, .theme-red45 #cu-search.options #search-filters label, .theme-gray45 #cu-search.options #search-filters label {
	display: inline !important;
}
#cu-logo a {
	width: 170px;
}
.svg #cu-logo a {
	width: 170px;
}



/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 580px) { /* ************** */


.svg #cu-logo a, .svg .theme-white45 #cu-logo a, .svg .theme-white75 #cu-logo a, .svg .theme-white75 #cu-logo.unit75 a {
	background-size: 142px !important;
	background-position: 0 1px !important;
}
.theme-white45 #cu-search.options #search-filters, .theme-red45 #cu-search.options #search-filters, .theme-gray45 #cu-search.options #search-filters {
	display: none !important;
}
.svg #cu-logo a {
	width: 145px;
}



/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 479px) { /* ************** */


#search-form-query {
	width: 100px;
}



/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 320px) { /* ************** */

#container {
	overflow: hidden; /* Oxygen RWD bug fix */
}

/* ************** */ }
