.theme_red45 #cu-seal a { 
	background: url(../images/cornell_identity/vet_red.gif) no-repeat top left;
}
.theme_white45 #cu-seal a { 
	background: url(../images/cornell_identity/vet_white.gif) no-repeat top left;
}
.theme_gray45 #cu-seal a { 
	background: url(../images/cornell_identity/vet_grey.gif) no-repeat top left;
}
#cu-seal a {
	width: 375px;
	height: 75px;
	position: relative;
	background-size: contain;
}
#cu-seal a#unit-link {
	width: 290px;
	height: 37px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-image: none;
	text-indent: -100em;
}
.theme_white45 #cu-brand, .theme_gray45 #cu-brand, .theme_red45 #cu-brand {
	height: 79px;
}

.theme_red_45 #cu-brand-wrapper {
border-top: 4px solid #A10606;
}

.theme_gray_45 #cu-brand-wrapper {
border-top: 4px solid #6F6F72;
}

.theme_red45 #search-button a:active, .theme_red45 #search-button a.open:active {
	background-color: #000;
}

/* ********************************************************** */
@media only screen and (max-width: 1170px) { /* ************* */

body.theme_white45 #cu-seal, .theme_gray45 #cu-seal, .theme_red45 #cu-seal {
	padding-left: 0 !important;
	left: 0 !important;
}

/* ************** */ }



/* ********************************************************** */
@media only screen and (max-width: 960px) { /* ************** */
.menu-top-menu-container {
	margin-top: 29px;
}
/* ************** */ }

/* ********************************************************** */
@media only screen and (max-width: 495px) { /* ************** */
#cu-seal a {
	width: 300px;
	height: 60px;
	background-size: 300px auto !important;
}
#cu-seal a#unit-link {
	width: 230px;
	height: 30px;
}

.theme_white45 #cu-brand, .theme_gray45 #cu-brand, .theme_red45 #cu-brand {
	height: 63px;
}
.menu-top-menu-container {
	margin-top: 15px;
}
/* ************** */ }

/* ********************************************************** */
@media only screen and (max-width: 410px) { /* ************** */
#cu-seal a {
	width: 270px;
	height: 54px;
	background-size: 270px auto !important;
}

#cu-seal a#unit-link {
	width: 210px;
	height: 26px;
} 
.theme_white45 #cu-brand, .theme_gray45 #cu-brand, .theme_red45 #cu-brand {
	height: 58px;
}
.menu-top-menu-container {
	margin-top: 10px;
}
/* ************** */ }

/* ********************************************************** */
@media only screen and (max-width: 340px) { /* ************** */
#cu-seal a {
	width: 220px;
	height: 48px;
	background-size: 220px auto !important;
}

#cu-seal a#unit-link {
	width: 180px;
	height: 20px;
} 

/* ************** */ }