/* presentation page css */

/* old*/

/*
 * jQuery Nivo Slider v2.7.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 *
 * March 2010
 */


/* The Nivo Slider styles */
.nivoSlider {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
}
.nivo-main-image {
	display: block !important;
	position: relative !important;
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	z-index: 6;
	display: none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display: block;
	position: absolute;
	z-index: 5;
	height: 100%;
	top: 0;
}
.nivo-box {
	display: block;
	position: absolute;
	z-index: 5;
	overflow: hidden;
}
.nivo-box img {
	display: block;
}

/* Caption styles */
.nivo-caption {
	display: none;
	position: absolute;
	right: 10%;
	top: 10%;
	width: 80%;
	z-index: 8;
	padding: 10px;
	overflow: hidden;
	text-align:center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
.nivo-caption h2 {
	display: inline;
	width: auto;
	margin-bottom: 10px;
	line-height: 1.4em;
	letter-spacing: 3px;
	padding: 5px;
	font-weight: 700;
	text-align: center;
	position: relative;
	-webkit-animation: myfirst .5s ease-out;
	animation: myfirst .5s ease-out;
}

@-webkit-keyframes myfirst {
	0% {
		top: 50px;
		filter: alpha(opacity=0);
		opacity: 0;
		display: none;
	}
	75% {
		top: -10px;
		filter: alpha(opacity=75);
		opacity: .75;
		display: block;
	}
	100% {
		top: 0px;
		filter: alpha(opacity=100);
		opacity: 1;
		display: block;
	}
}

@keyframes myfirst {
	0% {
		top: 50px;
		filter: alpha(opacity=0);
		opacity: 0;
		display: none;
	}
	75% {
		top: -10px;
		filter: alpha(opacity=75);
		opacity: .75;
		display: block;
	}
	100% {
		top: 0px;
		filter: alpha(opacity=100);
		opacity: 1;
		display: block;
	}
}

h2.nivo-caption-mate {
	-webkit-animation: myfirst2 .5s ease-out;
	animation: myfirst2 .5s ease-out;
	opacity: 0;
}

@-webkit-keyframes myfirst2 {
	from {
		top: 0px;
		filter: alpha(opacity=100);
		opacity: 1;
		display: block;
	}
	to {
		top: 50px;
		filter: alpha(opacity=0);
		opacity: 0;
		display: none;
	}
}

@keyframes myfirst2 {
	from {
		top: 0px;
		filter: alpha(opacity=100);
		opacity: 1;
		display: block;
	}
	to {
		top: 50px;
		filter: alpha(opacity=0);
		opacity: 0;
		display: none;
	}
}

.slide-text {
	text-align: left;
	line-height: 1.4em;
	letter-spacing: 1px;
	font-weight: 300;
	width: 80%;
	display: block;
	margin: 0 auto;
	filter: alpha(opacity=100);
	opacity: 1;
	display: block;
}

@-webkit-keyframes mysecond {
	0% {
		top: -50px;
		opacity: 0;
		display: none;
	}
	75% {
		top: 10px;
		opacity: 1;
		display: block;
	}
	100% {
		top: 0px;
		opacity: 1;
		display: block;
	}
}

@keyframes mysecond
{
	0% {
		top: -50px;
		filter: alpha(opacity=0);
		opacity: 0;
		display: none;
	}
	75% {
		top: 10px;
		filter: alpha(opacity=100);
		opacity: 1;
		display: block;
	}
	100% {
		top: 0px;
		filter: alpha(opacity=100);
		opacity: 1;
		display: block;
	}
}

.inline-slide-text {
	position: relative;
	filter: alpha(opacity=100);
	opacity: 1;
	display: inline;
	-webkit-animation: mysecond .5s ease-in;
	animation: mysecond .5s ease-in;
}

.theme-default .nivoSlider .slide-text a {
	display: inline;
	border-bottom: 1px dotted;
}
.nivo-html-caption {
    display: none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position: absolute;
	top: 40%;
	z-index: 9;
	cursor: pointer;
}
.nivo-prevNav {
	left: 0px;
}
.nivo-nextNav {
	right: 0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	cursor: pointer;
}
.nivo-controlNav a.active {
	font-weight: bold;
}

/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Skin Type: flexible
Description: The default skin for the Nivo Slider.
Version: 1.0
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
*/
.theme-default .nivoSlider {
	position: relative;
	z-index:1 00;
	background: url(../images/nivoslider/loading.gif) no-repeat 50% 50%;
    margin-bottom: 50px;
}
.theme-default .nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.theme-default .nivoSlider a {
	border: 0;
	display: block;
}

.theme-default .nivo-controlNav {
	display: table-cell;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	height: 30px;
	width: auto;
	margin: 0 auto;
	padding: 3px 20px 0;
	text-align: center;
	z-index: 250;
	-webkit-transition: .2s all ease-in-out;
	-moz-transition: .2s all ease-in-out;
	-o-transition: .2s all ease-in-out;
	transition: .2s all ease-in-out;
}

.slider-bullets .nivo-controlNav a {
	display: inline-block;
	width: 9px;
	height: 9px;
	margin: 10px 5px 0;
	opacity: .5;
	text-indent: -9999px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.theme-default .nivo-controlNav:hover a{
	filter: alpha(opacity=100);
	opacity: 1;
}

.slider-bullets .nivo-controlNav a:hover {}
.slider-bullets .nivo-controlNav a.active {}

.slider-numbers .nivo-controlNav a {
	display: inline-block;
	padding: 2px 8px;
	margin-right: 5px;
	font-size: 12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-weblit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}

.slider-numbers .nivo-controlNav a:hover {}
.slider-numbers .nivo-controlNav a.active {}

.slider-none .nivo-controlNav {
	display: none;
}

.theme-default .nivo-directionNav a {
	display: block;
	width: 30px;
	height: 40px;
	padding: 10px;
	background: url(../images/nivoslider/arrows.png) 10px 10px #fff  no-repeat;
	text-indent: -9999px;
	border: 0;
}

.theme-default a.nivo-nextNav {
	background-position: -85px 10px;
	-webkit-box-shadow: -1px 0 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: -1px 0 2px rgba(0, 0, 0, 0.4);
	box-shadow: -1px 0 2px rgba(0, 0, 0, 0.4);
}
.theme-default a.nivo-prevNav {
	-webkit-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 0 2px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 0 2px rgba(0, 0, 0, 0.4);
}

.theme-default .nivo-directionNav a.nivo-prevNav:hover {
	background-position: 7px 10px;
}

.theme-default .nivo-directionNav a.nivo-nextNav:hover {
	background-position: -82px 10px;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}

/* IE link fix */
a.nivo-imageLink  {
	background-color: #fff;
	filter: alpha(opacity=0);
	opacity: 0;
}

/*old end*/

.slider-wrapper {
	 display: block;
	 float: none;
	 position: relative;
	 clear: both;
	 left: 0;
	 width: 100%;
	 z-index:100;
}

#slider {
    margin: 0 auto;
    display: block;
	float: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#pp-afterslider.entry-content {
	padding-top: 0;
}
	 
#pp-texttop,
#pp-textmiddle,
#pp-textbottom,
#front-columns-box,
#content {
	display:block;
	float:none;
	clear:both;
	padding: 75px 0;
}

#front-columns-box {
	overflow: hidden;
}

#front-text1 h2,
#front-text2 h2,
#front-text5 h2,
#front-columns h2 {
	display: block;
	float: none;
	margin: 0px auto;
	font-size: 45px;
	line-height: 55px;
	clear: both;
	font-weight: 300;
}

#front-columns h2 {
	margin-bottom: 60px;
}	
	
#front-text1, #front-text2, #front-text5  { 
	display: block;
	float: none;
	padding: 0px 0px 40px; 
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#front-text3,
#front-text4,
#front-text6 {
	margin: 0 auto;
	overflow: hidden;
}

#front-text3 blockquote,
#front-text4 blockquote,
#front-text6 blockquote {
	padding: 15px 0px;
	width: inherit;
    margin-bottom: 20px;
	font-size: 1.5em;
    line-height: 1.5em; 
	text-align: justify;
}

#front-columns {
	margin: 0 auto;
}

#front-columns > div, 
#front-columns > li {
	display: block;
	height: auto;
	float: left; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;		
}

.column1 {
	clear:both;
}

.column-image {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}
	 
.column-image img {
	display: block;
	margin: 0 auto;
	-webkit-backface-visibility: hidden;
}

.slider-text-separator {
	display: block;
	float: none;
	clear: both;
	margin: 30px auto 40px;
	width: 300px;
	height: 1px;
	background: #FFF;
	-webkit-box-shadow: 1px 1px 0px #333;
	-moz-box-shadow: 1px 1px 0px #333;
	box-shadow: 1px 1px 0px #333;
}

.readmore  {
	display: table;
	float: none;
	margin: 2.5em auto 0;
	width: 150px;
	border: 2px solid #fff;
}

.theme-default .nivoSlider .readmore  a {
	font-size: 1.5em;
	padding: 10px 3px;
	display: block;
	float: none;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;

}

.readmore:hover {
	background: #FFF;
}

.readmore:hover a {
	color: #777;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
}

.slider-navhover .nivo-directionNav a.nivo-prevNav {
	left: -100px;
	-webkit-transition: .3s all ease-in-out;
	-moz-transition: .3s all ease-in-out;
	-o-transition: .3s all ease-in-out;
	transition: .3s all ease-in-out;
}

.slider-navhover:hover .nivo-directionNav  a.nivo-prevNav {
	left: 0px;
}
.slider-navhover .nivo-directionNav a.nivo-nextNav {
	right: -100px;
	-webkit-transition: .3s all ease-in-out;
	-moz-transition: .3s all ease-in-out;
	-o-transition: .3s all ease-in-out;
	transition: .3s all ease-in-out;
}

.slider-navhover:hover .nivo-directionNav  a.nivo-nextNav {
	right: 0px;
}

/* AJAX LOAD MORE POSTS BUTTON */
#cryout_ajax_more_trigger{
	display: table;
	float: none;
	clear: both;
	min-width: 160px;
	padding: 7px 15px;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	font-size: 16px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background-color .2s ease-in-out;
	-moz-transition: background-color .2s ease-in-out;
	-o-transition: background-color .2s ease-in-out;
	transition: background-color .2s ease-in-out;
}

.cryout_click_loading {
	background: url(../images/loading.gif) transparent no-repeat center center !important;
	text-indent: -9999px;
	border: 0 !important;
}

/* OVERWRITE MARGINS FOR THE PP */
#main {
	margin-top: 0 !important;
}

#forbottom {
	padding: 0 !important;
	max-width: 100% !important;
}

#container {
	width: auto;
	margin: 0 auto;
}

#footer {
	margin-top: 0;
}
/* FIN! */