/*
Theme Name:   CALS Branded Theme
Description: 2017 University Branded Theme Child
Author: Cornell CWD
Template:     cornell_base_2017 
Version:    1.0.7
*/

@import url("../cornell_base_2017/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */

body * {
	font-family: unset;
}

/* Layout fix 9/27 */
@media only screen and (min-width: 960px) {
    .onecolumn #wrap #content #main-body {
        width: 100%;
    }
}

/* Custom fonts */
@font-face {
    font-family: 'Lora Bold';
    src: url('fonts/Lora-Bold.ttf');
    font-weight: normal;
 
}
@font-face {
    font-family: 'Lora Bold Italic';
    src: url('fonts/Lora-BoldItalic.ttf');
    font-weight: normal; 
}
@font-face {
    font-family: 'Lora Italic';
    src: url('fonts/Lora-Italic.ttf');
    font-weight: normal;
 
}
@font-face {
    font-family: 'Lora Regular';
    src: url('fonts/Lora-Regular.ttf');
    font-weight: normal; 
}
@font-face {
    font-family: 'WorkSans Black';
    src: url('fonts/WorkSans-Black.ttf');
    font-weight: normal;
 
}
@font-face {
    font-family: 'WorkSans Bold';
    src: url('fonts/WorkSans-Bold.ttf');
    font-weight: normal; 
}
@font-face {
    font-family: 'WorkSans ExtraBold';
    src: url('fonts/WorkSans-ExtraBold.ttf');
    font-weight: normal;
 
}
@font-face {
    font-family: 'WorkSans ExtraLight';
    src: url('fonts/WorkSans-ExtraLight.ttf');
    font-weight: normal; 
}
@font-face {
    font-family: 'WorkSans Light';
    src: url('fonts/WorkSans-Light.ttf');
    font-weight: normal; 
}
@font-face {
    font-family: 'WorkSans Medium';
    src: url('fonts/WorkSans-Medium.ttf');
    font-weight: normal;
 
}
@font-face {
    font-family: 'WorkSans Regular';
    src: url('fonts/WorkSans-Regular.ttf');
    font-weight: normal; 
}
@font-face {
    font-family: 'WorkSans SemiBold';
    src: url('fonts/WorkSans-SemiBold.ttf');
    font-weight: normal;
 
}
@font-face {
    font-family: 'WorkSans Thin';
    src: url('fonts/WorkSans-Thin.ttf');
    font-weight: normal; 
}
body *:not(.fa):not(.ab-icon) {
    font-family: 'Lora Regular' !important;
}
body,
#main-body p,
#main-body ul li,
#main-body ol li {
    font-size: 1.1em;
}


/* Comments */
#comments .comment-list p,
#comments .comment-list .comment-author {
	font-size: 18px !important;
}
#comments .comment-list .comment-metadata {
	font-size: 14px !important;
    line-height: 16px;
    margin-bottom: 8px;
}

/* Lists */
#wrap #content article ul li {
    padding-left: 13px;
    background: url(../cornell_base_2017/images/layout/bullets_vector/bullet_square.svg) 1px 11px no-repeat;
}
#wrap #content .sharedaddy ul li {
    padding-left: 0;
    padding-right: 8px;
    background: none;
}
#wrap #content .page-links {
	clear: both;
	padding: 16px 0;
}
#wrap #content a:focus, 
#wrap #content a:hover {
	text-decoration: none !important;
	color: #EF4035;
}
#wrap #content h1 {
    font-family: "WorkSans Bold" !important;
	font-size: 36px !important;
    font-size: 2.25em !important;
	line-height: inherit !important;
	margin-bottom: 24px !important;
}
#wrap #content .entry-header .entry-title {
	margin-bottom: 32px;
    margin-top: 24px;
}
.page article .entry-header {
    padding: 0 !important;
}
body.blog #wrap #content .entry-header .entry-title,
body.tag #wrap #content .entry-header .entry-title,
body.search #wrap #content .entry-header .entry-title,
body.archive #wrap #content .entry-header .entry-title,
body.category #wrap #content .entry-header .entry-title,
body.blog #wrap #content .entry-header .entry-title a,
body.tag #wrap #content .entry-header .entry-title a,
body.search #wrap #content .entry-header .entry-title a,
body.archive #wrap #content .entry-header .entry-title a,
body.category #wrap #content .entry-header .entry-title a {
	margin-bottom: 13px;
    font-size: 20px;
    text-transform: none;
    line-height: 20px;
    font-weight: normal;
}
body.blog #wrap #content #main-body > .entry-header,
body.tag #wrap #content #main-body > .archive-header,
body.search #wrap #content #main-body > .entry-header,
body.blog #wrap #content #main-body > .entry-header a,
body.tag #wrap #content #main-body > .archive-header a,
body.search #wrap #content #main-body > .entry-header a {
	padding-bottom: 0 !important;
}

body.blog #wrap #content #main-body > .entry-header .entry-title,
body.tag #wrap #content #main-body > .archive-header .archive-title,
body.search #wrap #content #main-body > .entry-header .entry-title,
body.blog #wrap #content #main-body > .entry-header .entry-title a,
body.tag #wrap #content #main-body > .archive-header .archive-title a,
body.search #wrap #content #main-body > .entry-header .entry-title a {
	margin-bottom: 0 !important;
}
.single #wrap #content h1.entry-title { /* May need review */
    margin-bottom: 35px !important;
}
.single #wrap #content #main #main-body h1.entry-title {
    margin-bottom: 29px !important;
}
body.archive.tag #content #main #main-body > .archive-header .archive-title,
body.search #wrap #content #main-body > .entry-header .entry-title {
    margin-bottom: 10px !important;
}

/* Links */
#wrap #content article .entry-meta a {
    color: #b31b1b !important;
	text-decoration: underline !important;
	font-size: 14px !important;
}
#wrap #content article .entry-meta a:focus,
#wrap #content article .entry-meta a:hover {
    color: #EF4035 !important;
	text-decoration: none !important;
}
#wrap #content .moretag {
    width: 108px;
    padding: 6px 5px 5px 14px;
}
#wrap #content .fa-angle-right:before {
    right: 10px;
	top: 14px;
}

/* Titles */
#wrap #content h1, 
#wrap #content h2, 
#wrap #content h3, 
#wrap #content h4, 
#wrap #content h5, 
#wrap #content h6,
#image-band .image-subtitle, 
#navigation li a, 
#top-navigation li a, 
#secondary li a, 
#secondary-nav li a, 
#image-band .image-subtitle a, 
#image-band .image-subtitle span, 
#image-band .image-subtitle a span, 
#site-title a,
#footer *,
#site-title {
    font-family: 'WorkSans Regular' !important;
}
#navigation li,
#navigation li a {
    color: #222222 !important;
	font-size: 12px !important;
}
h3, h4, h5, h6 {
	margin: 14px 0 !important;
}
#wrap #content h2 {
    font-family: 'WorkSans SemiBold' !important;
    font-size: 26px;
    font-size: 1.625rem;
	line-height: inherit;
}
#wrap #content h3:not(.widget-title) {
    font-size: 20px;
    font-size: 1.25rem;
	line-height: inherit;
    font-family: 'WorkSans ExtraLight' !important;
}
#wrap #content h4 {
    font-size: 15px;
    font-size: .94rem;
    line-height: inherit;
    text-transform: uppercase;
}
#wrap #content h5 {
    font-family: 'WorkSans Bold' !important;
}
#wrap #content h6 {
    font-family: 'WorkSans Regular' !important;
	font-style: italic;
}


/* Images */
#wrap #content img.alignright,
#wrap #content img.alignleft {
	max-width: 40%;
}
#wrap #content figure {
	margin-bottom: 15px !important;
}
#wrap #content .wp-caption,
#wrap #content .wp-caption-text,
#wrap #content .tiled-gallery-caption {
    font-family: 'Lora Italic' !important;
    margin: 0;
    padding: 0;
    font-size: 0.9em;
	background-color: #C9D6A5;
}
#wrap #content .aligncenter {
	margin: 0 auto;
}
#wrap #content .alignleft {
	margin: 0 15px 8px 0;
}
#wrap #content .alignright {
	margin: 0 0 8px 15px;
}
#wrap #content .wp-caption-text {
    padding: 8px;
}
#image-band .image-meta {
    display: none;
}


/* Branding */
#logo-band {
    background: #b31b1b;
}
#logo-band:after {
  content: "";
  display: table;
  clear: both;
}
#logo-band-wrapper {
    max-width: 1170px;
    margin: 0 auto;
	padding: 0 14px;
}
#logo-band #logo-band-wrapper .cals-logo-primary {
    width: 390px;
    float: left;
    margin-left: -26px;
}
#logo-band #logo-band-wrapper .cals-logo-horiz {
    width: 700px;
    float: left;
    margin-left: -30px;
	display: none;
}
#cu-identity #custom-branding #site-title {
    font-size: 2.8em;
    font-family: 'WorkSans Regular' !important;
}
#cu-seal {
    display: none
}
.cals_logo {
	display: none;
}	
#cals_logo {
	background: url('images/Primary_Wordmark-white.png') no-repeat -20px center;
	width: 390px;
    height: 136px;
    background-size: 100%;
    float: left;
}	
.cornell_seal {
	display: none;
}
#cornell_seal {
	background: url('images/cuseal_full_white480.png') no-repeat center center;
	width: 118px;
    height: 118px;
	margin: 14px 0;
	float: right;
    background-size: 100%;
}	

/* Miscellaneous */
strong, b {
    font-family: 'Lora Bold' !important;
}
.tag .entry-summary, .search .entry-summary, .archive .entry-summary {
    margin-top: 0 !important;
}
#wrap #content article header {
    padding-bottom: 0;
}
#wrap #content .breadcrumbs {
    margin-bottom: 24px;
    margin-top: 8px;
}
#wrap #content hr {
    border-top: 3px solid #C9D6A5;
}
#wrap #content blockquote {
    border-color: #C9D6A5;
    border-left: 2px solid #C9D6A5;
}
.tag .entry-content, 
.blog .entry-content, 
.single .entry-content, 
.category .entry-content, 
.search .entry-summary {
    margin-top: 0 !important;
}
#wrap #main #main-body form button[type="submit"], #wrap form input[type="submit"], #wrap form input[type="reset"] {
    background: #2f7496 !important;
	padding: 12px 14px 12px 14px!important;
}
#wrap #content .breadcrumbs a,
#wrap #content .widget li a {
    color: #2f7496;
}
#header #navigation-bar #navigation ul li {
    word-wrap: break-word;
}
.comment-author.vcard img {
	display: none;
}
#custom-branding #site-title a {
    color: #222222 !important;
}

/* Responsive design */
@media only screen and (min-width: 480px) and (max-width: 1185px) {
	#cals_logo {
		background-position-x: -27px !important;
	}	
}
@media only screen and (min-width: 960px) {
	#wrap #content #main-body {
		width: 62%;
	}
	#wrap #content #secondary, 
	#wrap #content #secondary-nav {
		width: 34%;
	}
}
@media only screen and (max-width: 959px) {
	#cu-seal {
		display: block;
	}	
	#cu-identity.theme_gray45 #cu-seal a {
		background: url(../cornell_base_2017/images/cornell_identity/cu_logo_gray45.png) no-repeat top left;
	}	
	#logo-band #logo-band-wrapper .cals-logo-horiz {
		display: block;
	}
	#logo-band #logo-band-wrapper #cornell_seal {
		display: none;
	}
	#cals_logo {
		background: url('images/Horizontal_Wordmark_white.png') no-repeat center center;
		width: 700px;
		height: 124px;
		background-size: 100%;
		float: left;
	}	
	#secondary-nav .main-body, 
	#secondary .main-body {
		padding: 1% 2% 2px 2% !important;
	}
    #main-body article {
    	padding-top: 0!important;
	}
	body:not(.home):not(.blog) #wrap #content #main #main-body .entry-header .entry-title {
        margin-bottom: 24px!important;
        margin-top: 0!important;
        font-size: 2em!important;
	}
}
@media only screen and (max-width: 768px) {
	#cals_logo {
		width: 580px;
		float: none;
		display: block;
	}	
}
@media only screen and (max-width: 620px) {
	#cals_logo {
		width: 500px;
	}	
}
@media only screen and (max-width: 530px) {
	#cals_logo {
		width: 450px;
	}	
}
@media only screen and (max-width: 500px) {
	#image-band .main_title {
		font-size: .7em;
		word-break: break-word;
		line-height: 1em;
		padding-top: 5%;
	}
}
@media only screen and (max-width: 480px) {
	#logo-band #logo-band-wrapper .cals-logo-horiz {
		display: none;
	}
	#cals_logo {
		background: url('images/Primary_Wordmark-white.png') no-repeat center center;
		width: 390px;
		height: 136px;
		background-size: 100%;
		float: none;
	}	
	#cu-identity #custom-branding #site-title {
		font-size: 2.2em;
	}
}
@media only screen and (max-width: 420px) {
	#cals_logo {
		width: 92%;
		margin: 0 auto;
		display: block;
	}
}
@media only screen and (max-width: 380px) {
	#cals_logo {
		width: 98%;
	}
}
