/* IWS CSS Framework: Base Cornell
   ************************************************************************** */
html { /* prevents page 'jump' between short and long pages */
	overflow-y: scroll;
}
html, body { 
	width: 100%;
	height: 100%;
}
body {
	-webkit-text-size-adjust: 100%; /* prevent unwanted font scaling in iOS landscape mode */
	padding: 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%; /* 12px *//* font size key in em:
		0.750em = 09px
		0.833em = 10px
		0.917em = 11px
		default = 12px
		1.083em = 13px
		1.167em = 14px
		1.250em = 15px
		1.333em = 16px
		1.500em = 18px
		1.667em = 20px
		1.833em = 22px
		2.000em = 24px
		3.000em = 36px
	*/
}
/**** Tables *****/
 
/* Basic tables will have a light 1-pixel border grid, though a 
   combination of table border and cell border. Table headers
   have a light gray background, with an optional cross-browser
   gradient, which can be disabled by commenting it out in TH.
   */

table {
	width: 100%;
	margin-bottom: 15px;
	border: solid #ddd;
	border-width: 1px 1px 0 0;
	border-collapse: collapse;
}
table table {
	margin-bottom: 0; /* removed margin in nested tables */
}
caption {
	font-style: italic;
	color: #777;
	margin: 0.2em 0;
	line-height: 1.6em;
}
td, th {
	border: solid #ddd;
	border-width: 0 0 1px 1px;
	padding: 6px;
	vertical-align: top;
}
th {
	color: #444;
	border-left-color: #ccc;
	border-bottom-color: #999;
	font-weight: bold;
	text-align: center;
		
	/* optional gradient */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f8f5', endColorstr='#e2e1de');*/ /* disabled due to IE8 bugs */
	background: #f9f8f5 url(../images/layout/ie_tableheader.gif) 0 bottom repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f8f5), to(#e2e1de));
	background: -moz-linear-gradient(top, #f9f8f5, #e2e1de);
}
th p {
	margin-bottom: 0; /* removes <p> margin if used in table headers */
}
tr {
	height: auto;
}

.resources table tr td:nth-child(3n+1) {
	width: 15%;
}
.editorial table tr td:nth-child(2n+1) {
	width: 18%;
	vertical-align: middle;
}
.about table tr td:nth-child(2n+1) {
	width: 50%;
}



body:not(.quarterly):not(.archive-2):not(.webinars-for-service-providers):not(.webinars-for-farmers) td {
	-ms-word-break: break-all;
     word-break: break-all;
     word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
     hyphens: auto;
}

/**** Text Styles ****/
 
/* Basic paragraph and header styles. Currently using Georgia
   for h1-h3 and some blue coloration, but this could be stripped
   out and moved to site-specific styles.
   */

p, td, th, li, dt, dd {
	line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 12px;
	color: #386684;
}
h1 {
	font-size: 2.2em;
	font-family: Arial, Helvetica, sans-serif;
}
h2 {
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
}
h3 {
	font-size: 1.5em;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}
h4 {
/* default bold 12px */
}
h5 {
	font-weight: normal;
	color: #386684;
	margin-bottom: 5px;
}
h6 {
	font-weight: normal;
	font-style: italic;
	margin-bottom: 5px;
}
p {
	margin-bottom: 15px;
}
p.last {
	margin-bottom: 0;
}
strong {
	font-weight: bold;
}
blockquote, pre {
	margin-left:2em;
	padding-left: 1em;
	border-left:1px solid #ccc;
	font-style: italic;
	line-height: 1.4em;
}
pre, code {
	font-family: mono-space, monospace;
	font-style: normal;
	margin-bottom: 15px;
}
abbr, acronym {
	text-transform:uppercase;
	border-bottom: 1px dotted #000;
	letter-spacing: 1px;
}
abbr[title], acronym[title] {
	cursor:help;
}
sup, sub {
	font-size:.8em;
	position: relative;
}
sup {
	top: -0.4em;
}
sub {
	top: 0.2em;
}
em, cite {
	font-style:italic;
}
.clear {
	clear: both;
	width: 100%;
}
p.note {
	padding: 10px;
	border: 1px solid #ccc;
}
.more {
	padding-right: 8px;
	background: transparent url(../images/layout/arrows/right_red.gif) no-repeat 100% 80%;
}
.text-highlight-red {
	background: #f0beb6;
}

.text-highlight-yellow {
	background: #f0ee9f;
}

.text-highlight-green {
	background: #c5ee9f;
}

/* Links */
a {
	color: #104378;
}
a:visited {
	color: #104378;
}
a:hover {
	color: #64b1e4;
}
a:active {
	color: #64b1e4;
}

/**** Lists ****/
 
/* Unordered lists use a custom square bullet as default. This will carry
   through to nested lists as well. However, a circle and disc bullet are 
   also available through UL classes below. This allows designers to 
   customize the bullets in their basic lists (and more can be added later).
   */

ul {
	margin-left: 18px;
	margin-bottom: 15px;
}
ul li {
	padding-left: 18px;
	background: url(../images/layout/bullet_square.gif) no-repeat left 7px;
}
ul.disc li {
	background: url(../images/layout/bullet_disc.gif) left 7px no-repeat;
}
ul.circle li {
	background: url(../images/layout/bullet_circle.gif) left 7px no-repeat;
}
ol {
	margin-left: 36px;
	margin-bottom: 15px;
}
ol li {
	padding-left: 0;
	list-style: decimal;
	background: none;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 4px;
}
dl {
	margin-left: 0;
	margin-bottom: 15px;
}
dl dl {
	margin-left: 30px;
}
dt {
	font-weight: bold;
	margin-bottom: 8px;
}
dd {
	margin-bottom: 12px;
}
/* Table of Contents */
ul.toc {
	border-left: 4px solid #dbe3e9;
	margin-left: 1px;
	padding-left: 0px;
	margin-bottom: 20px;
}
ul.toc li {
	background: none;
	padding-left: 10px;
}
ul.toc ol li {
	padding-left: 0;
}
ul.toc a {
	padding-right: 9px;
	background: url(../images/layout/link_arrow_white.gif) right 0.35em no-repeat;
}

/**** Images *****/
image {
	display: block;
}
.image-left, .image-right {
	background: url(../images/layout/corner_white.png) no-repeat 100% 100%;
	padding: 0 2px 2px 0;
}
.image-left {
	float: left;
	margin: 0 12px 6px 0;
}

.image-right {
	float: right;
	margin: 0 0 6px 12px;
}

/**** Forms *****/
 
/* Forms are available for use without much CSS layout to allow for 
   content contributers to design them freely. Classes can then be
   made available to apply different design or layout "themes" to 
   a form. The "basic" theme below is a simple two column alignment.
   */

#wrap form {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	clear: both;
}
#wrap form fieldset {
	/*
border: 1px solid #ccc;
	padding: 15px 10px;
*/
	margin-bottom: 15px;
	float: left;
	/*width: 680px;*/
	width: 100%;
	border: 0;
	padding: 0;
}
#wrap form fieldset.row-submit {
	border: none;
	padding: 0;
}
#wrap input {
	margin-bottom: 4px;
}
#wrap label {
	margin: 0 4px 4px 0;
	vertical-align: top;
}
#wrap select {
	min-width: 200px;
}
#wrap legend {
	padding: 0 5px;
	font-weight: bold;
}
/* Form Theme: Basic */

#wrap form.basic p {
	float: left;
	clear: both;
	display: block;
}
#wrap form.basic input, #wrap form.basic textarea {
	float: left;
	clear: right;
	margin-left: 0;
}
#wrap form.basic label {
	display: block;
	float: left;
	clear: left;
	width: 125px;
	margin: 1px 10px 0 0;
	text-align: right;
	line-height: 1.5em;
}
#wrap form.basic select {
}
#wrap form.basic input[type="text"], #wrap form.basic input[type="password"], #wrap form.basic textarea {
	outline: 2px solid transparent;
	border: 1px solid #999;
	border-top-color: #000;
	padding: 2px;
}
#wrap form.basic input[type="text"]:focus, #wrap form.basic input[type="password"]:focus, #wrap form.basic textarea:focus {
	background: #f3f6f8;
	outline: 2px solid #d1dce3;
	border: 1px solid #000;
}
#wrap form.basic input[type="submit"], #wrap form.basic input[type="reset"] {
	border: 1px solid #999;
	border-bottom-color: #000;
	padding: 3px 6px;
	background: #ededed;
	cursor: pointer;
	
	/* optional gradient */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f8f5', endColorstr='#e2e1de');
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f8f5), to(#e2e1de));
	background: -moz-linear-gradient(top, #f9f8f5, #e2e1de);
}
#wrap form.basic input[type="submit"]:hover, #wrap form.basic input[type="reset"]:hover {
	background: #f5f5f5;
}
#wrap form.basic input[type="submit"]:active, #wrap form.basic input[type="reset"]:active {
	background: #e5e5e5;
}



/**** Component Forms *****/
 
/* activate with form.iws-component
   */


/* Standardize Element Sizing */
#wrap form.iws-component input[type="text"], 
#wrap form.iws-component input[type="password"], 
#wrap form.iws-component textarea, 
#wrap form.iws-component select, 
#wrap form.iws-component label, 
#wrap form.iws-component div, 
#wrap form.iws-component h4, 
#wrap form.iws-component p {
	-ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Fieldset Toolbar */
#wrap form.iws-component .form-tools {
	float: left;
	width: 100%;
	margin: -5px 0 20px;
	padding: 1px 0;
	border: 1px solid #e1e0d0;
	border-bottom-color: #cbcabc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f1', endColorstr='#e4e3d3');
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f1), to(#e4e3d3));
	background: -moz-linear-gradient(top, #f6f6f1, #e4e3d3);
}
#wrap form.iws-component .form-tools p,
#wrap form.iws-component .form-tools ul {
	float: right;
	margin: 0 6px;
	font-size: 0.917em;
}
#wrap form.iws-component .form-tools li {
	background: none;
	float: left;
	padding: 0 12px;
	border-right: 1px solid #e0dfcf;
}
#wrap form.iws-component .form-tools li.last {
	padding-right: 6px;
	border-right: 0;
}

/* Tag Definitions */
#wrap form.iws-component p {
	padding: 0 6px;
}
#wrap form.iws-component h4 {
	float: left;
	width: 100%;
	margin: 15px 0 10px;
	padding: 4px 6px 3px;
	background: #f7f9fa;
	border-bottom: 1px solid #e5ebef;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#wrap form.iws-component h4.first {
	margin-top: 0;
}
#wrap form.iws-component div.last {
	margin-bottom: 0 !important;
}
#wrap form.iws-component legend a {
	text-decoration: none;
	font-weight: normal;
	background: #f3f5f7;
	margin-left: 2px;
	padding: 0 2px;
}
#wrap form.iws-component label {
	float: left;
	margin: 0;
	padding-top: 0.3em;
}
#wrap form.iws-component input[type="text"], 
#wrap form.iws-component input[type="password"] {
	height: 1.88em;
	width: 26.2em;
	float: left;
}
#wrap form.iws-component input[type="radio"], 
#wrap form.iws-component input[type="checkbox"] {
	float: left;
}
#wrap form.iws-component textarea {
	font-family: Lucida Grande, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 1.0em;
	padding: 4px;
	width: 24em;
	height: 130px;
	float: left;
	margin-bottom: 4px;
}
#wrap form.iws-component select {
	margin: 1px 0 4px;
	width: 26.2em;
	min-width: 0;
	float: left;
}


/* Notes, Errors, and User Messages */
#wrap form.iws-component .form-note {
	float: left;
	width: 26.2em;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: -4px 0 0 36%;
	padding: 0px 3px 1px;
	background: #f5f3e5 url(../images/layout/note_shadow_reverse.gif) 0 bottom repeat-x;
	border: 1px solid #edebde;
	border-top: 0;
	color: #939289;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}
#wrap form.iws-component p.form-note {
	width: auto;
	max-width: 38.6em;
	margin: 2px 0 0 36%;
	padding: 3px 5px 4px;
	border: 1px solid #edebde;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#wrap form.iws-component div.error {
	float: left;
	clear: both;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: 4px 10px 10px 36%;
	padding: 4px 10px 4px 24px;
	background: #f3e2d9 url(../images/layout/icon_error.gif) 7px 0.6em no-repeat;
	border: 1px solid #e1a39c;
	color: #af1111;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#wrap form.iws-component label.error, 
#wrap form.iws-component .alert {
	color: #af1111;
	font-weight: bold;
}
#wrap form.iws-component div.form-feedback {
	float: left;
	width: 100%;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: 0 0 15px;
	padding: 9px 12px 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#wrap form.iws-component div.form-feedback.warning {
	background: #f6f4e2;
	border: 1px solid #ebddbd;
	border-bottom-color: #d9ccae;
	color: #59453f;
}
#wrap form.iws-component div.form-feedback.info {
	background: #e2eef6;
	border: 1px solid #bde3eb;
	color: #547097;
}
#wrap form.iws-component div.form-feedback.success {
	background: #e4f8df url(../images/layout/icon_check.gif) 8px 0.95em no-repeat;
	border: 1px solid #c3eca7;
	color: #50914f;
	padding-left: 24px;
}
#wrap form.iws-component div.form-feedback p {
	margin-bottom: 0;
	padding: 0;
}
/*
#wrap form.iws-component div.form-feedback.warning strong {
	color: #af1111;
}
*/

/* IWS Tooltip Support */
#wrap form.iws-component span.tooltip {
	border: 0;
	float: left;
	width: 14px;
	height: 16px;
	padding-right: 3px;
	background: transparent url(../images/layout/icon_question.png) 0 0 no-repeat;
}
#wrap form.iws-component span.tooltip.info {
	background: transparent url(../images/layout/icon_info.png) 0 0 no-repeat;
}
#wrap form.iws-component span.tooltip:hover {
	cursor: pointer;
}


/* Default Input Size Choices */
#wrap form.iws-component .input-s input[type="text"], 
#wrap form.iws-component .input-s input[type="password"] {
	width: 2.8em;
}
#wrap form.iws-component .input-m input[type="text"], 
#wrap form.iws-component .input-m input[type="password"], 
#wrap form.iws-component .input-m select, 
#wrap form.iws-component .input-m div.form-note {
	width: 13em;
}
#wrap form.iws-component .input-l input[type="text"], 
#wrap form.iws-component .input-l input[type="password"], 
#wrap form.iws-component .input-l select, 
#wrap form.iws-component .input-l div.form-note {
	width: 62.5%;
	max-width: 38.6em;
}
#wrap form.iws-component .input-s div.form-note {
	width: auto;
	max-width: 35.9em;
	min-height: 1.88em;
	float: left;
	margin: 0;
	padding: 1px 4px;
	border: 1px solid #edebde;
	border-left: 0;
	-moz-border-radius: 0 6px 6px 0;
	-webkit-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
}
@-moz-document url-prefix() { /* FF */
	#wrap form.iws-component .input-s div.form-note {
		min-height: 1.5em;
	}
}
#wrap form.iws-component .input-s div.error {
	margin-top: 0;
}
#wrap form.iws-component .textarea-s textarea {
	height: 40px;
	overflow: hidden;
}
#wrap form.iws-component .textarea-m textarea {
	height: 70px;
}
#wrap form.iws-component .textarea-l textarea {
	width: 62.5%;
	max-width: 600px;
	height: 250px;
}
#wrap form.iws-component .textarea-l div.form-note {
	width: 62.5%;
	max-width: 600px;
}
#wrap form.iws-component .input-s select {
	width: 4em;
}

/* Option Lists */

#wrap form.iws-component ul.form-list {
	float: left;
	margin: 2px 0 10px 1px;
	width: 62.5%;
}
#wrap form.iws-component ul.form-list li {
	background: none;
	padding: 0;
	margin: 0 0 1px 0;
	width: 100%;
	float: left;
	line-height: 1.4em;
}
#wrap form.iws-component ul.form-list li label {
	padding: 0;
}
#wrap form.iws-component ul.form-list li input[type="radio"], 
#wrap form.iws-component ul.form-list li input[type="checkbox"] {
	margin: 1px 4px 0 0;
}


/* Left-Right Adjustments */
#wrap form.iws-component .form-pair {
	float: left;
	clear: left;
	width: 100%;
	margin-bottom: 5px;
}
#wrap form.iws-component .form-left {
	float: left;
	width: 35%;
	margin-right: 1%;
}
#wrap form.iws-component .form-left label {
	/*width: 100%;*/
	float: right;
	/*text-align: right;*/
}
#wrap form.iws-component .form-left input, 
#wrap form.iws-component .form-left select {
	float: right;
}


/* Tight-Loose Margins */
#wrap form.iws-component .form-pair.tight {
	margin-bottom: 1px;
}
#wrap form.iws-component .form-pair.tight input, 
#wrap form.iws-component .form-pair.tight select {
	margin-bottom: 0;
}
#wrap form.iws-component .form-pair.loose {
	margin-bottom: 20px;
}
#wrap form.iws-component .form-pair.loose input, 
#wrap form.iws-component .form-pair.loose select {
	margin-bottom: 0;
}
#wrap form.iws-component .form-pair.loose div.form-note {
	margin-top: 0;
}


/* Layout */
#wrap {
	float: left;
	width: 100%;
	clear: both;
	background: #fff;
}
#content {
	width: 960px;
	margin: 0 auto;
}
#main, 
#secondary, 
#secondary-nav {
	float: left;
}
#main {
	width: 100%;
	padding: 0 0 12px;
	min-height: 200px;
	background: #fff;
}
#secondary, #secondary-nav {
	padding-top: 6px;
}
#header {
	float: left;
	width: 100%;
}
#navigation ul {
	width: 960px;
	margin: 0 auto;
}
#navigation {
	float: left;
	width: 100%;
	clear: both;
	background: #ccc;
}
#navigation ul ul {
	width: auto;
}

/* Misc */
hr {
	display: none;
}
p.last, ul.last, ol.last, dl.last {
	margin-bottom: 0;
}
p.note {
	padding: 10px;
	border: 1px solid #ccc;
}
.more {
	padding-right: 8px;
	background: transparent url('../images/layout/bullets_vector/triangle_right_red.svg') no-repeat 100% 60%;
	background-size: 4px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.more {
		background-position: 100% 65%;
	}
}
.no-svg .more {
	background: transparent url('../images/layout/right_red.gif') no-repeat 100% 80%;
}
.image-left {
	float: left;
	margin: 0 12px 6px 0;
	max-width: 40%;
}
.image-right {
	float: right;
	margin: 0 0 6px 12px;
	max-width: 40%;
}
#skipnav {
	position: absolute;
	top: -1000em;
	left: -1000em;
}

/* Frames and Shadows
   ************************************ */
   
.dropshadow {
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
}
.dropshadow-dark {
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
}
.dropshadow-diffuse {
	-moz-box-shadow: 0 1px 24px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 1px 24px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 24px rgba(0, 0, 0, .15);
}
body.rounded .rounded {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.framed {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 4px solid #fff;
}



/* Project CSS
   - <Project Title>
   - <Project Notes>
   ************************************************************************** */


/* Cornell Identity
   ************************************ */
#cu-logo a {
	width: 250px; /* Defines the active area for the standalone CU logo link */
}
#cu-logo.unit75 #unit-link {
	width: 182px; /* Defines the active area for the unit signature link */
}
#cu-identity {
	background: #68645B!important;
	height: 75px;
}

/* Theme Basics
   ************************************ */
body, 
#header, 
#navigation-wrap, 
#content-wrap {
	background: #02640f url(../images/sfp/bg_tile3.jpg) repeat 0 0;
}
#cu-identity {
	width: 100%;
}
#cu-brand {
	max-width: 960px;
	margin: 0 auto;
}
#search-button {
	display: none;
}
#content-wrap {
	float: left;
	width: 100%;
}
#wrap {
	background: #f4e9c9; /* body color */
	overflow: hidden;
}

#wrap hr {
	display: block;
	margin: 0 0 15px;
	background: #F1F1F1;
	border: none;
	height: 3px;
}
img {
	max-width: 100%;
	height: auto;
}
.theme-white #header, 
.white #header {
	border-top: 1px solid #bbb;
}
.theme-gray #header, 
.gray #header {
	border-top: 5px solid #a2a3a5;
}
#header h1,
#header h2 {
	font-size: 3.0em;
	margin: 2% 0 0;
	display: none;
}
#header h1 em {
	font-style: normal;
	color: #999;  /* header title accent */
}
#header h1.autoscale {
	margin: 0;
	white-space: nowrap;
	line-height: 1.4;
	text-shadow: 0 2px #fff;
}
#header h1.autoscale em {
	color: #c2443e;
}
#header a {
	color: #000;
	text-decoration: none;
}
#campaign-feature {
	max-width: 960px;
	margin: 0 auto;
	background: #fff;
	border-top: 3px solid #fff;
	border-bottom: 1.5px solid #fff;
}
#campaign-feature a {
	width: 99.6%;
	display: block;
	overflow: hidden;
}
#campaign-feature img {
	margin: 0 3px;
}
.theme-gray75 #cu-search {
	position: relative;
	float: right;
	top: 12px;
}
.theme-gray75 #search-form-query {
	background: #5e5a52 url(../images/layout/header_search_gray.gif) no-repeat top left;
	padding: 3px;
	width: 145px;
	border: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	vertical-align: middle;
}
.theme-gray75 #search-form-submit {
	border-top: 1px solid #a6a295;
	border-left: 1px solid #a6a295;
	border-right: 1px solid #403000;
	border-bottom: 1px solid #403000;
	color: #fff;
	background: #59544b;
}
.no-multiplebgs #identity-content {
	background: url('../images/photos/campus_pano_faded.jpg') right 50% no-repeat;
}

/* main body */
h2 {
	font-family: Trebuchet MS, Arial, sans-serif;
	font-size: 1.833em;
	text-transform: uppercase;
	color: #104378;
}
h2 a, h2 a:hover, h2 a:active, h2 a:visited {
	color: #104378;
	text-decoration: none;
}
h3 {
	font-family: Trebuchet MS, Arial, sans-serif;
	font-size: 1.417em;
	color: #333;
}
h4 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.0em;
	color: #333;
	margin-bottom: 10px;
}
#main-body .entry-content {
	padding-right: 10px;
}
.home #main-body .page.type-page .entry-content {
	padding-right: 0;
}

/* customized WordPress styles */

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 3px 0 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.alignleft {
	float: left;
	margin-left: 0;
	padding: 0 10px 10px 0;
}
.alignright {
	float: right;
	margin-right: 0;
	padding: 0 0 10px 10px;
}
.aligncenter,
dl.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.mceIEcenter {
	text-align: center;
}
.wp-caption img {
	margin: 0 4px;
	padding: 0;
	border: 0 none;
}
.wp-caption-dd {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
p.wp-caption-text {
	margin: 0;
	padding: 3px;
	font-size: 0.917em;
}
.wp-caption.alignleft,
.wp-caption.alignright {
	padding: 5px 0 0 0;
}
.wp-caption.alignright {
	margin: 5px 0 12px 12px;
}
.wp-caption.alignleft {
	margin: 5px 12px 12px 0;
}
.category .wp-caption {
	clear: both;
}
/* homepage posts */

.entry-date {
	display: block;
	width: auto;
	float: left;
	margin: 1px 10px 0 0;
	border: 1px solid #5baddd;
}
.entry-date .month {
	float: left;
	background: #f1f5f8;
	color: #2b87bc;
	padding: 3px;
}
.entry-date .day {
	float: left;
	background: #5baddd;
	color: #fff;
	padding: 3px;
}
h3.entry-title, h1.entry-title {
	font-weight: bold;
	margin-bottom: 4px;
	font-size: 1.500em;
	color: #333;
	font-family: Trebuchet MS, Arial, sans-serif;
}
h3.entry-title a, h3.entry-title a:visited, h3.entry-title a:hover {
	text-decoration: none;
	color: #444;
}
.post-meta {
	font-size: 0.917em;
	color: #666;
	margin-bottom: 15px;
}
.comments-link {
	margin-left: 20px;
}

/* comment form */
#commentform p {
	margin-bottom: 10px;
}
#secureimgdiv {
	line-height: 1;
}
#secureimgdiv br {
	font-size: 0.917em;
	line-height: 1;
}
#secureimgdiv small {
	font-size: 0.917em;
	line-height: 1.6em;
	display: block;
	margin-bottom: 0;
	color: #067014;
}
#secureimgdiv img {
	border: 0 !important;
}

/* Cornell Emergency Banner */
#WarningBox {
	font-size: 1.2em;
}
#WarningBox p span {
	line-height: 1.4em;
}

/* edit link */
.edit-link {
	display: block;
	margin-bottom: 30px;
	clear: both;
}
.edit-link a {
	background: #f7f7f6 url(../images/layout/pencil.gif) 3px 4px no-repeat;
	border: 1px solid #e1e1db;
	padding: 3px 8px 3px 17px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	text-decoration: none;
	font-size: 0.917em;
	line-height: 1;
	color: #b31b1b;
}
.edit-link a:visited {
	color: #b31b1b;
}
.edit-link a:hover {
	color: #f00;
}


/* Upcoming Events */
#wrap #upcoming-events ul,
#wrap #upcoming_events_calendar ul {
	margin-left: 0;
}
#wrap #upcoming-events ul ul,
#wrap #upcoming_events_calendar ul ul {
	margin-left: 7px;
}
#wrap #upcoming-events ul li,
#wrap #upcoming_events_calendar ul li {
	background: none;
	padding: 3px 0 0;
	font-weight: bold;
	color: #3d3e3e;
}
#wrap #upcoming-events ul ul li,
#wrap #upcoming_events_calendar ul ul li {
	padding: 0 0 0 11px;
    background: url(../images/layout/icon_arrow_grey.gif) no-repeat 0 0.5em;
    font-weight: normal;
}
#wrap #upcoming-events a:hover,
#wrap #upcoming_events_calendar a:hover {
	color: #666;
}
.calnk a:hover span {
	font-size: 0.917em;
	background-color: #f8f6af !important;
	width: 200px;
}
.calnk a:hover>span {
	border: 1px solid #b3b27e;
}
.calnk a:hover span span.event-title {
	font-size: 1.0em !important;
	display: block;
}
.calnk a:hover span span.event-title-break, .calnk a:hover span span.event-content-break {
	background-color: #c2c089 !important;
}
.home .calnk a, .home .calnk a:hover {
	border-bottom: 1px dotted #9cf;
}

#wp-footer {
	visibility: hidden;
}

/* Slidedeck */

#slidedeck_frame {
	height: 200px;
}
.sd-node-navigation-type-post-titles {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.skin-light ul.sd-node-navigation-type-post-titles {
	/*background: url(../iws_js/slidedeck/sprite_bg.jpg) repeat-x 0 8px;*/
	width: 642px !important;
	padding-left: 2px !important;
	padding-bottom: 2px !important;
}
.sd-node-content .alignleft {
	margin-right: 20px;
}
.sd-node-title {
	margin-bottom: 8px !important;
}

/* Excerpts */
.excerpt-readmore {
	padding-right: 8px;
	background: transparent url(../images/layout/arrows/right_red.gif) no-repeat right 0.4em;
	font-size: 0.917em;
}
/* Search Results */
.search-results-msg {
	color: #444;
	background: #fafafa;
	padding: 2px 4px;
	border: 1px solid #efefef;
	border-width: 1px 0;
	font-size: 0.917em;
	margin-bottom: 20px;
}
.search-results-count {
	color: #999;
	margin-left: 4px;
}
.post-nav {
	width: 100%;
	float: right;
	text-align: right;
	font-size: 0.917em;
	padding: 0;
	margin: 0;
}
.search-results .entry-title {
	margin-top: 5px;
}
.post-nav a {
	display: inline-block;
	background: #f7f7f6;
	border: 1px solid #e1e1db;
	padding: 4px 9px;
	margin: 20px 5px 10px 0; 
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	text-decoration: none;
	/*font-size: 0.917em;*/
	line-height: 1;
}

.postmeta {
	clear: both;
	margin: 20px 0;
} 

/* Northeast Beginning Farmers Project */

body.bfp {
	background: #3e6901 url(../images/sfp/bg_tile.jpg) 0 0 repeat;
}
body.bfp #navigation li {
	background: #497b02;
}
body.bfp #navigation li a:hover, body.bfp #navigation li a:active {
	background: #3a6200;
}
body.bfp .color-box.green h3 { 
	background: #5e8c17; 
}



/* Main Navigation 
   ************************************ */
   
#navigation-bar {
	width: 100%;
	float: left;
}
#navigation-wrap {
	width: 960px;
	margin: 0 auto;
}
#navigation {
	background: none;
}
#mobile-nav {
	display: none;
}
#navigation ul {
	width: 100%;
	float: left;
	background: #fff;
}
#navigation li {
	float: left;
	margin: 0;
	padding: 0;
	background: #083a6b;
	border: 3px solid #fff;
	border-right: 0px;
	font-family: Trebuchet MS, Arial, sans-serif;
	font-size: 1.417em;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#navigation li a, 
#navigation li a:visited {
	float: left;
	color: #fff;
	padding: 0 20px;
	width: 100%;
	text-align: center;
	line-height: 40px;
	text-decoration: none;
	font-weight: bold;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}
#header .current-menu-item a,
#header .current_page_item a,
#navigation li a:hover, 
#navigation li a:active {
	background: #052646;
}


/* nav widths */
#navigation li:nth-child(1) {width: 119px;}	/* Home */
#navigation li:nth-child(2) {width: 121px;}	/* Quarterly */
#navigation li:nth-child(3) {width: 119px;}	/* News */
#navigation li:nth-child(4) {width: 119px;}	/* Events */
#navigation li:nth-child(5) {width: 119px;}	/* Projects */
#navigation li:nth-child(6) {width: 121px;}	/* Resources */
#navigation li:nth-child(7) {width: 119px;}	/* About */
#navigation li:nth-child(8) {width: 119px;}	/* Contact */

/* nav widths */
#navigation li:nth-child(1) a {padding:0;}	/* Home */
#navigation li:nth-child(2) a {padding:0;}	/* Quarterly */
#navigation li:nth-child(3) a {padding:0;}	/* News */
#navigation li:nth-child(4) a {padding:0;}	/* Events */
#navigation li:nth-child(5) a {padding:0;}	/* Projects */
#navigation li:nth-child(6) a {padding:0;}	/* Resources */
#navigation li:nth-child(7) a {padding:0;}	/* About */
#navigation li:nth-child(8) a {padding:0;}	/* Contact */



/* Breadcrumbs
   ************************************ */

   
   
/* secondary */
.color-box, 
#upcoming_events_calendar, 
#upcoming-events {
	width: 246px;
	margin: 0 0 12px;
	padding: 0 10px;
	background: #fffce9;
	border: 3px solid #e3e0cf;
	float: left;
}
.color-box h3, 
#upcoming_events_calendar h3, 
#upcoming-events h3 {
	min-height: 10px;
	background: #87836a;
	color: #fff;
	font-family: Trebuchet MS, Arial, sans-serif;
	font-size: 1.417em;
	line-height: 1.2em;
	width: 100%;
	margin: 6px 0 14px;
}
.color-box p {
	margin-bottom: 10px;
}
.color-box img {
	margin-bottom: 8px;
}
.color-box img.alignright {
	margin-left: 8px;
}

#main #secondary-nav .color-box {
	margin-bottom: 0;
}

#main .color-box.full {
	width: 624px;
	margin: 0 0 12px 0;
}
#main .color-box.full h3 {
	width: 97.7%;
}
.onecolumn #main .color-box.full {
	width: 99.4%;
	margin: 10px auto 15px;
}
.onecolumn #main .color-box.full h3 {
	width: 98.4%;
}
#main .color-box.sd-box {
	width: 99.15%;
	padding: 0;
	margin-bottom: 15px;
}
.slidedeck_frame {
	min-width: 643px;
	max-width: 643px;
}
#main .color-box.sd-box h3 {
	width: 100%;
	padding: 8px 0;
	text-indent: 10px;
	margin: 0;
}
.home #main .color-box.sd-box h3 {
	width: 100%;
}
.onecolumn .color-box.full.sd-box {
	width: 924px;
}
div.slidedeck_frame.skin-light {
	margin: 0 auto;
}

/* box colors */
.color-box.gray { background: #f5f5f5; border: 3px solid #dcdcdc; }
.color-box.gray h3 {
	background: #7d7d7d;
	margin: 0px 0 8px -10px;
	padding: 8px 10px;
}

.color-box.blue { background: #f2f4f7; border: 3px solid #d0d9e2; }
.color-box.blue h3 { background: #104378; }

.color-box.green { background: #fffce9; border: 3px solid #cde0be; }
.color-box.green h3 {
	background: #067014;
	margin: 0px 0 8px -10px;
	padding: 8px 10px;
}

.color-box.teal { background: #f2f7f6; border: 3px solid #d0e2df; }
.color-box.teal h3 {
	background: #369086;
	margin: 0px 0 8px -10px;
	padding: 8px 10px;
}

.color-box.cyan { background: #f1f5f8; border: 3px solid #cddde6; }
.color-box.cyan h3 {
	background: #5baddd;
	margin: 0px 0 8px -10px;
	padding: 8px 10px;
}

.color-box.yellow { background: #fffce9; border: 3px solid #fde59f; }
.color-box.yellow h3 {
	background: #f8b608;
	margin: 0px 0 8px -10px;
	padding: 8px 10px;
}


#upcoming_events_calendar, #upcoming-events { background: #f2f7f6; border: 3px solid #d0e2df; }
#upcoming_events_calendar h3, #upcoming-events h3 {
	background: #369086;
	margin: 0px 0 8px -10px;
	padding: 8px 10px;
}
.color-box, #upcoming_events_calendar, #upcoming-events {
	padding-left: 10px;
	padding-right: 10px;
}


/* general message */
.color-box p.message {
	font-size: 1.167em;
	line-height: 1.5em;
	color: #392b06;
}

/* local help */
.color-box.local-help {
	/*background: #fffce9 url(../images/sfp/box_map_sm.png) no-repeat right 85%;*/
	background: #fffce9;
	position: relative;
}
.color-box.local-help p {
	font-size: 1.25em;
	line-height: 1.5em;
	padding: 0 100px 0 0;
	color: #392b06;
	position: relative;
	z-index: 2;
}
.color-box.local-help a, .local-help a:hover, .local-help a:visited {
	color: #392b06;
	text-decoration: none;
	display: block;
}
.color-box.local-help .decal {
	background: transparent url(../images/sfp/box_map_crop.png) no-repeat right 15px;
	position: absolute;
	width: 256px;
	height: 100%;
	z-index: 1;
}

/* sign up for e-news */
.color-box.e-news {
	height: 123px;
	background: #104378 url(../images/sfp/box_signup.jpg) no-repeat 0 bottom;
}
.color-box.e-news p {
	font-size: 1.25em;
	line-height: 1.6em;
	padding: 0 0 0 120px;
	color: #392b06;
}
.color-box.e-news a, .e-news a:hover, .e-news a:visited {
	color: #392b06;
	text-decoration: none;
	display: block;
}

/* beginning farmers crosslink */
.color-box.bfp-link {
	background: #fffce9 url(../images/sfp/nebf_thumbnail.jpg) no-repeat 95% 40px;
}
.color-box.bfp-link p {
	font-size: 1.167em;
	line-height: 1.5em;
	padding: 0 125px 0 0;
	color: #392b06;
}
.color-box.bfp-link a, .bfp-link a:hover, .bfp-link a:visited {
	color: #392b06;
	text-decoration: none;
	display: block;
}

/* social links */
.color-box.social {
	width: 252px;
	padding: 0 7px;
	background: #fff;
}
.color-box.social img {
	margin: 10px 4px 0;
	display: inline;
}
.color-box.social p {
	margin-bottom: 8px;
}

/* new farmer hub */
.color-box.farmer-hub {
	background: #fffce9;
	position: relative;
}
.color-box.farmer-hub p {
	font-size: 1.25em;
	line-height: 1.5em;
	padding: 0 85px 0 0;
	color: #392b06;
	position: relative;
	z-index: 2;
}
.color-box.farmer-hub a, .farmer-hub a:hover, .farmer-hub a:visited {
	color: #392b06;
	text-decoration: none;
	display: block;
}
.color-box.farmer-hub .decal {
	background: transparent url(../images/sfp/box_cukes.png) no-repeat right 10px;
	position: absolute;
	width: 256px;
	height: 100%;
	z-index: 1;
}

/* local help */
.color-box.trainers-toolbox {
	/*background: #fffce9 url(../images/sfp/box_map_sm.png) no-repeat right 85%;*/
	background: #fffce9;
	position: relative;
}
.color-box.trainers-toolbox p {
	font-size: 1.25em;
	line-height: 1.5em;
	padding: 0 0 0 0;
	color: #392b06;
	position: relative;
	z-index: 2;
}
.color-box.trainers-toolbox a, .trainers-toolbox a:hover, .trainers-toolbox a:visited {
	color: #392b06;
	text-decoration: none;
	display: block;
}
.color-box.trainers-toolbox .decal {
	background: transparent url(../images/sfp/trowel.png) no-repeat right 2px;
	position: absolute;
	width: 256px;
	height: 100%;
	z-index: 1;
}

/* Section Navigation
   ************************************ */
.widget_pages, .widget_pages li {
	background: none;
	padding-left: 0;
	margin-bottom: 10px;
	line-height: 1.3em;
}
.widget-list, .widget-list ul, .widget_pages ul {
	margin-left: 0;
}
.widget_pages a, .widget_pages a:visited { 
	text-decoration: none;
	color: #b31b1b;
	font-weight: bold;
}
.widget_pages a:hover { 
	color: #f00;
}


.widget_pages .current_page_ancestor>ul.children, .widget_pages .current_page_item>ul.children {
    margin-top: 5px;
}

.widget_pages .current_page_ancestor ul.children li, 
.widget_pages .current_page_item ul.children li {
	padding: 9px 18px;
	background: #F3F0DE url(../images/layout/icon_arrow_grey.gif) no-repeat 11px 1em;
	margin-bottom: 1px;
	margin-left: -10px;
	margin-right: -10px;
	text-indent: 3px;
}
.widget_pages .current_page_item a, .widget_pages .current_page_item a:hover {
    color: #333;
}
.widget_pages .current_page_item li a, .widget_pages .current_page_item li a:visited {
    color: #b31b1b;
}
.widget_pages .current_page_item li a:hover {
    color: #f00;
}
.widget_pages ul.children li {
	margin-bottom: 6px;
}
.widget_pages ul.children li a {
    font-weight: normal;
}

/* category listing */
.widget_pages #category-listing ul.children { 
	display: block;
}
#category-listing li.heading { 
	font-weight: bold;
	color: #403f3a;
}
#category-listing ul.children { 
	margin-top: 5px;
}
#category-listing ul.children li {
	padding-left: 18px;
	background: url(../images/layout/icon_arrow_grey.gif) no-repeat 7px 0.4em;
}
#category-listing ul.children li.current a {
	color: #000;
}

.widget_categories ul li {
	padding-left: 11px;
	background: url(../images/layout/icon_arrow_grey.gif) no-repeat 0 0.5em;
}

/**** Footer *****/ 

#footer {
	float: left;
	clear: both;
	width: 100%;
	padding: 0 0 20px 0;
	border: 0;
}
#footer-content {
	width: 960px;
	margin: 0 auto;
}
#footer-content-wrap {
	float: left;
	background: #fff;
	padding: 21px 18px 12px;
	width: 924px;
	border-top: 3px solid #f1f1f1;
}
#footer-message-wrap {
	float: left;
	background: #fff;
	padding: 0 18px;
	margin-top: -12px; /* negative margin to maintain footer padding, with or without this optional DIV */
	width: 924px;
	text-align: center;
}
#footer p {
	font-size: 0.917em;
	margin: 0;
	margin-bottom: 12px;
}
#footer-left {
	float: left;
}
#footer-right {
	float: right;
	text-align: right;
}
#footer ul {
	float: left;
	display: block;
	margin-left: 0;
	margin-bottom: 12px;
}
#footer li {
	font-size: 0.917em;
	padding: 0 13px 0 10px;
	margin: 0;
	float: left;
	background: transparent url(../images/layout/icon_footer_listdiv.gif) right center no-repeat;
}
#footer ul ul {
	margin-bottom: 0;
}
#footer li li {
	font-size: 1.0em;
}
#footer li:first-child {
	padding-left: 0;
}
#footer li:last-child {
	padding-right: 0;
	background: none;
}

/* Content Regions
   ************************************ */

#secondary, #secondary-nav, #main-bottom {
	float: left;
	width: 29.25%;
	margin: 0;
	padding: 10px 0 0 8px;
	height: 100%;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#secondary {
	clear: left;
}
#main-body {
	float: right;
	width: 67.7%;
	padding: 10px 0 15px 0;
	margin: 0 auto 0 14px;
}
.secondary #main-body {
	margin-left: 0;
	margin-right: 14px;
}
#main-top {
	float: left;
	width: 100%;
	margin: 0;
}
/*#main-bottom {
	float: left;
	width: 60%;  remove for full width (like #main-top)
	margin: 0;
	clear: left;
} */

/* Alternate Layouts
   -------------------- */
   
/* onecolumn pages */
.onecolumn #main {
	padding-top: 10px;
}

.onecolumn #main-top,
.onecolumn #main-body, 
.onecolumn #main-bottom {
	width: 97.5%;
	margin: 0;
	padding: 0 12px;
}

/* twocolumn pages with secondary on the right */
.twocolumn-right #main-body {
	float: left;
}
.twocolumn-right #secondary-nav, 
.twocolumn-right #secondary {
	float: right;
	padding-left: 0;
	padding-right: 12px;
}
.twocolumn-right #secondary {
	clear: right;
}
.single #secondary-nav {
	display: none;
}
/* "View All" Buttons
   -------------------- */
#main .view-all {
	text-align: center;
	clear: both;
}
#main .view-all a {
	display: block;
	width: 100%;
	background: url('../images/layout/black_alpha04.png');
	background: rgba(0, 0, 0, 0.04);
	border: 0;
	text-decoration: none;
	
	transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	-o-transition: background-color .2s;
	-webkit-transition: background-color .2s;
}
#main .view-all h4 {
	font-family: Verdana, sans-serif;
	font-size: 0.917em;
	font-weight: normal;
	line-height: 1.8em;
	color: #b31b1b;
	text-transform: uppercase;
	opacity: 0.8;
	-webkit-font-smoothing: antialiased;
}
#main .view-all h4 span {
	background: url('../images/layout/icon_plus.gif') right 50% no-repeat;
	padding-right: 14px;
}
#main .view-all a:hover {
	background: rgba(0, 0, 0, 0.07);
}
#main .view-all a:hover h4 {
	opacity: 1;
}

.skin-light a.sd-node-previous, 
.skin-light a.sd-node-previous:link, 
.skin-light a.sd-node-previous:visited, 
.skin-light a.sd-node-previous:hover, 
.skin-light a.sd-node-next,
.skin-light a.sd-node-next:link,
.skin-light a.sd-node-next:visited,
.skin-light a.sd-node-next:hover {
	z-index: 1;
}

#slidedeck-mobile, #home-posts-mobile {
	display: none;
}
#home-posts {
	float: left;
}





/* Localist Events
   -------------------- */
   
.events-listing {
	position: relative;
	float: left;
	width: 100%;
	margin: 10px 0 25px;
	min-height: 120px;
}
.events-listing .node {
	float: left;
	width: 100%;
	margin: 6px 0 8px;
}
.events-listing .node h3 {
	margin-bottom: 8px;
}
.events-listing .description {
	clear: right;
	padding-left: 112px; /* disable to allow description text to wrap around the thumbnail */
}
.events-listing.hide-descriptions .description {
	float: left;
	width: 100%;
	clear: both;
	padding: 0 !important;
}
.events-listing .description-content {
	padding: 0 1em 1em;
}
.events-listing .description :last-child {
	margin-bottom: 0;
}
.events-listing .event-image {
	width: 100px;
	height: auto;
	float: left;
	margin: 0 12px 0 0;
}
.events-listing .meta {
	font-weight: normal;
	font-size: 1em;
	color: #666;
	margin-bottom: 12px;
}
.events-listing .type {
	float: left;
}
.events-listing .location {
	float: right;
}
.events-listing .date {
	float: right;
	margin-left: 20px;
}
.events-listing .date .fulldate {
	margin-right: 5px;
}


/* event details toggle */
.events-listing .event-details {
	/*float: left;*/
	clear: right;
	padding-left: 112px; /* disable to allow this button to clear the thumbnail */
}
.events-listing .event-details .fa {
	font-size: 7px;
	/*background: #3787b0;*/
	background: #f0eada;
	color: #99802b;
	padding: 3px;
	margin-right: 4px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	position: relative;
	top: -2px;
}
@-moz-document url-prefix() { /* FF */
	.events-listing .event-details .fa {
		font-size: 7.1px;
	}
}
.events-listing .event-details a {
	text-decoration: none;
}
.events-listing .event-details a:hover .fa {
	background: #f8f4ec;
	/*background: rgba(0,0,0,0.7);*/
	color: #000;
}
.events-listing .event-details h4 {
	font-size: 11px;
	font-weight: 400;
}

/* month and day headers */
.events-listing .month-header {
	text-align: center;
	background: #ededed;
	float: left;
	width: 100%;
	padding: 4px 0;
	margin-top: 12px;
}
.events-listing .day-header {
	border-top: 1px solid #e0e0e0;
	padding: 10px 0 5px;
	margin-bottom: 5px;
	float: left;
	width: 100%;
	background: #fff;
	background: -moz-linear-gradient(45deg,  #ffffff 0%, #f2f2f2 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2));
	background: -webkit-linear-gradient(45deg,  #ffffff 0%,#f2f2f2 100%);
	background: -o-linear-gradient(45deg,  #ffffff 0%,#f2f2f2 100%);
	background: -ms-linear-gradient(45deg,  #ffffff 0%,#f2f2f2 100%);
	background: linear-gradient(45deg,  #ffffff 0%,#f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=1 );
}
/*
.events-listing .month-header + .day-header {
	border: 0;
	padding-top: 15px;
	margin-top: -12px;
}
*/
.events-listing .day-header .fa:before {
	font-size: 14px;
	margin: 0 8px 0 0;
	color: #555;
}


/* Category Filters
   -------------------- */
#events-filters {
	float: left;
	width: 100%;
	margin: 10px 0;
}
#events-filters ul {
	margin: 0;
}
#events-filters h3 {
	float: left;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	padding: 2px 8px 2px 0;
}
ul.events-filters li {
	float: left;
	list-style: none;
	background: none;
	line-height: 24px;
	margin: 0 5px 5px 0;
	padding: 0;
}
ul.events-filters li a {
	float: left;
	padding: 2px 13px 1px;
	background: #e7eff3;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none !important;
}
ul.events-filters li a.active {
	color: #fff !important;
	background: #5589aa !important;
}
ul.events-filters li a:hover {
	background: #d3e1e8;
	color: #000;
}

/* Animated Loading Icon
   -------------------- */
#loader {
	display: none;
	position: absolute;
	left: 45%;
	left: calc(50% - 25px); 
	top: 60px;
	width: 50px;
	text-align: center;
	font-size: 24px;
	color: #ccc;
	color: rgba(0,0,0,0.2);
}

/* Compact Mode
   -------------------- */
.events-listing.compact #events-filters {
	display: none;
}
.events-listing.compact {
	margin-top: 0;
}
.events-listing.compact .node {
	border-bottom: 1px solid #e0e0e0;
}
.events-listing.compact .node:last-child {
	border: 0;
}
.events-listing.compact .node h3 {
	font-size: 1em;
	font-weight: bold;
	font-family: inherit;
}
.events-listing.compact .meta {
	font-size: 0.917em;
}
.events-listing.compact .location {
	float: left;
	width: 60%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.events-listing.compact .description {
	font-size: 11px;
}
.events-listing.compact .description, .events-listing.compact .event-details, 
.events-listing.no-thumbnails .description, .events-listing.no-thumbnails .event-details {
	padding-left: 0;
	clear: both;
}
.events-listing.compact .date .fulldate {
	margin: 0 0 0 5px;
	padding: 3px 7px;
	margin-top: -3px;
	float: right;
	background: #f2f2f2;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}


/* Accessibility
   ************************************ */

.hidden { /* elements with this class are read by screen readers, but hidden for visual users */
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* Responsive Web Design 
   ************************************ */

@media only screen and (max-width: 767px), print {
	
	.events-listing .node h3 {
		font-size: 15px;
		min-height: 45px;
	}
	.events-listing.compact .node h3 {
		min-height: 0;
	}
	.events-listing .event-image {
		width: 60px;
	}
	.events-listing .description, .events-listing .event-details {
		padding-left: 0;
	}
	.events-listing .meta {
		font-size: 11px;
		margin-bottom: 4px;
	}
	.events-listing.compact .meta {
		margin-bottom: 9px;
	}
	.events-listing .type {
		clear: left;
	}
	.events-listing .location {
		float: left;
	}
	.events-listing .event-details {
		float: right;
	}
	.events-listing.compact .event-details {
		float: left;
	}

}

/* Small Farms Events Theme
   ************************************ */

.events-listing .month-header {
	color: #fff;
	background: #067014;
}
.events-listing .day-header {
	/*color: #067014;*/
}
.events-listing .type .fa:before {
	margin-right: 5px;
	content: '\f124';
	font-size: 14px;
}
.events-listing .type {
	display: none;
}
.events-listing .location {
	float: left;
	width: 75%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.events-listing.compact .location {
	width: 70%;
}
/*
.events-listing.compact .date .fulldate {
	color: #fff;
	background: #64b1e4;
}
*/
.events-listing.compact .date .start {
	display: none;
}
.events-listing.compact .description {
	display: none;
}
#nymap {
	float: right;
	margin: -15px 0 0 50px;
}
img[usemap], map area {
	outline: none;
}
/* compact filters */
ul.events-filters {
	width: 100%;
	float: left;
}
ul.events-filters li {
	margin-right: 4px;
}
ul.events-filters li:last-child {
	border: 0;
	margin-right: 0;
}
ul.events-filters li a {
	padding: 2px 10px 1px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font-size: 10px;
}
.win ul.events-filters li {
	margin-right: 2px;
}
.win ul.events-filters li:last-child {
	margin-right: 0;
}
.win ul.events-filters li a {
	padding: 2px 8px 1px;
}



/* Responsive Web Design 
   ************************************ */

#cu-identity, #wrap, #footer {
	min-width: 960px; /* lock design for older browsers that don't support media queries */
}
@media only screen and (min-width: 1px) {
	#cu-identity, #wrap, #footer {
		min-width: 0; /* unlock */
	}
}
#mobile-nav, ul.mobile-section {
	display: none;
}


/* ********************************************************** */
@media only screen and (max-width: 1240px) { /* ************* */


/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 1150px) { /* ************* */


/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 1040px) { /* ************* */


/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 959px) { /* ************** */

/* Layout ****************/

#cu-identity,
#content,
#wrap,
#identity,
#main-body,
#secondary-nav,
#secondary,
#footer {
	width: 100%;
}
#main-body {
	margin: 0;
}
.category #main-body {
	width: 94%;
	padding: 5px 3% !important;
}
#cu-search {
	display: none;
}
#cu-brand {
	padding: 0 12px;
}
#cu-identity {
	height: 45px;
}
#cu-brand #cu-search {
	top: 0;
	margin: 8px 3px;
	z-index: 999;
	clear: both;
}
#cu-logo a {
	background: url('../images/cornell_identity/cu_logo_gray45.gif') 0 0 no-repeat !important;
	background-size: 60%;
	height: 45px !important;
	position: absolute;
}
#search-button {
	display: block;
	background: url('../images/layout/icon_search.png') 50% 50% no-repeat;
	position: relative;
	cursor: pointer;
	height: 45px;
	width: 45px;
	float: right;
	background-size: 45%;
}
#cu-search {
	float: left;
	width: 100%;
	background: #68645B;
	margin: 0 !important;
	padding: 3% 12px;
	left: 12px;
}
#search-form {
	float: right;
}

/* Navigation Dropdown ****************/
#header {
	position: relative;
}
#navigation-wrap, .flexible #navigation-wrap {
	width: 100% !important;
}
#navigation {
	position: absolute;
	z-index: 2;
	top: 5px;
}
#mobile-nav {
	background: url('../images/layout/icon_menu32.png') 50% 50% no-repeat;
	background-size: 55%;
	display: block;
	cursor: pointer;
	font-family: Verdana, sans-serif;
	font-size: 0.917em;
	text-indent: -1000em;
	width: 45px;
	height: 45px;
	position: relative;
	float: right;
	margin-bottom: 0;		
	right: -8px;
}
#mobile-nav em {
	font-style: normal;
	color: #000;
	width: 45px;
	height: 45px;
	position: absolute;
	line-height: 32px;
	cursor: pointer;
}
#mobile-nav em.mobile-section {
	background-image: url('../images/layout/nav_submenu.svg');
}
#mobile-nav.open {
	background-color: #052646;
}
#navigation.overlay h3 em {
	opacity: 0.6;
}
#navigation.overlay h3 em.open {
	opacity: 1;
}
#navigation ul {
	display: none;
	width: 100%;
	border: 0;
	background: #222 !important;
	background: rgba(25,25,25,0.9) !important;
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
	box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
	margin-top: -5px;
}
#navigation ul.mobile-menu {
	margin-top: -5px;
}
#navigation li {
	display: inline-block;
	width: 100% !important;
	text-align: left;
	text-transform: none;
	line-height: 1.8em;
	border-right: 3px solid #fff;
	border-bottom: 1.5px;
}
#navigation li:last-child {
	border-bottom: 3px solid #fff;
}
#navigation li a {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left !important;
	width: 100%;
	padding: 0 9% 0 6% !important;
	background: url('../images/framework/nav_arrow_white.svg') 96% 50% no-repeat;
}
#header .current-menu-item a,
#header .current_page_item a,
#navigation li a:hover {
	background: #052646 url('../images/framework/nav_arrow_white.svg') 96% 50% no-repeat;
}

/* slide deck 
#main .color-box.sd-box {
	width: 98.99%;
	padding: 0;
	float: none!important;
	margin: 0 0 15px;
}
#main #main-body div.slidedeck_frame.skin-light {
	margin: 0 auto;
	width: 98% !important;
	height: 200px;
}
#main .skin-light dl.slidedeck dd.slide .sd-node-content {
	width: 100%;
}*/
#secondary-nav .main-body,
#secondary .main-body,
#main-body .type-post,
.edit-link {
	width: 100%;
}
#secondary, #secondary-nav {
	padding-right: 0 !important;
}
.secondary #secondary-nav .main-body .widget_hier_page ul.open {
	display: none;
}
.secondary #secondary-nav .main-body .widget_hier_page ul.open {
	display: block;
}
#secondary-nav .widget_hier_page .widget-title {
	background: #052646;
	text-indent: 10px;
}
.secondary #secondary-nav .main-body {
	height: 26px;
}
.secondary #secondary-nav .main-body.open {
	height: auto;
	border-left: none;
	border-right: none;
}
.secondary #secondary-nav .main-body.open .widget_hier_page .widget-title.open {
	border-bottom: 3px solid #cde0be;
}
.secondary.section-nav-open #main-body {
	float: none;
}
.secondary #secondary-nav .main-body .widget_hier_page ul {
	display: none;
}
.secondary #secondary-nav .main-body .widget_hier_page ul.open {
	display: block;
	margin-left: 10px;
}
#main-body .post.type-post {
	background: #fff;
	padding: 10px 2%;
	margin-bottom: 0;
	width: 96%;
}
.widget_pages .current_page_ancestor ul.children li, .widget_pages .current_page_item ul.children li {
	background: #F3F0DE url(../images/layout/icon_arrow_grey.gif) no-repeat 15px 1em;
	margin-left: -20px;
	text-indent: 10px;
}
.widget_pages .current_page_ancestor ul.children li ul li, .widget_pages .current_page_item ul.children li ul li {
	background: #F3F0DE url(../images/layout/icon_arrow_grey.gif) no-repeat 20px 1em;
	margin-left: -20px;
	text-indent: 15px;
}
.widget_pages .current_page_ancestor ul.children li, .widget_pages .current_page_item ul.children li {
	margin-right: 0;
	padding-right: 0;
}
.secondary #secondary-nav,
.secondary #secondary {
	padding-left: 0;
}
.secondary #main-body {
	padding-left: 0;
	margin: 0;
}
.secondary #main-body article {
	margin: 0 auto;
	width: 97.5%;
}
.secondary .color-box.green {
	position: relative;
	border: none;
	border-bottom: 3px solid #cde0be;
}
.secondary .color-box.green h3 {
	margin: -10px 0 8px;
	padding: 8px 0;
}
#campaign-feature img {
	margin: 0;
}
#campaign-feature a {
	width: 100%;
}
.section-nav-open.secondary #secondary-nav .main-body {
	position: absolute;
	z-index: 99;
}
.section-nav-open.secondary #main-body {
	margin-top: 39px;
}
#section-nav-icon {
	background: #052646 url('../images/layout/icon_menu32.png') 50% 50% no-repeat;
	background-size: 17px;
	cursor: pointer;
	width: 26px;
	height: 26px;
	display: block;
	position: absolute;
	top: -5px;
	right: 8px;
}
.color-box h3 {
	text-indent: 10px;
}
.secondary #secondary-nav .main-body.color-box.green {
	padding-left: 0;
	padding-right: 0;
}

#secondary .color-box,
#secondary #upcoming-events {
	margin: 20px auto;
	float: none;
}
#footer #footer-content {
	margin: 0 auto 30px;
	width: 100%;
}
#footer #footer-content-wrap,
#footer-message-wrap {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}
#footer-message-wrap div {
	margin: 0 15px;
}
#footer-left {
	float: left;
	margin-left: 15px;
}
#footer-right {
	float: right;
	margin-right: 15px;
}

.with_frm_style .frm_form_fields input[type=text], .with_frm_style .frm_form_fields input[type=password], .with_frm_style .frm_form_fields input[type=email], .with_frm_style .frm_form_fields input[type=number], .with_frm_style .frm_form_fields input[type=url], .with_frm_style .frm_form_fields select, .with_frm_style .frm_form_fields textarea, .frm_form_fields_style, .frm_form_fields_active_style, .frm_form_fields_error_style {
	width: 100%;
	max-width: 400px;
}

.single #secondary .color-box.green {
	padding: 0;
	width: 98%;
}

#secondary .textwidget {
	width: 96%;
	margin: 0 2%;
}


/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 800px) { /* ************** */

/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 767px), print { /* ************** */


/* Mobile Table Helper */
.table-scroller {
	position: relative;
	float: left;
	width: 100%;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	background: #fff;
}
div.table-clear {
	float: left;
	clear: both;
}
.table-scroller > table {
	width: 752px;
	min-width: 752px;
}
.table-scroller .table-fader {
	position: absolute;
	width: 50px;
	height: 100%;
	top: 0;
	right: 0;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f0f0f0', endColorstr='#f0f0f0',GradientType=1 );
}

#home-posts {
	display: none;
}
#home-posts-mobile {
	display: block;
	float: left;
	width: 92%;
	width: calc(92% + 2px);
	padding: 20px 4%;
	margin-top: 10px;
	background: #fff;
	border-radius: 0 25px 0 0;
}
.slidedeck_frame {
	visibility: hidden;
	opacity: 0;
	/*position: absolute !important;*/
	height: 1px !important;
}
#slidedeck-mobile {
	display: block;
	float: left;
	width: 100%;
}
#slidedeck-mobile .slidedeck {
	margin: 0;
	padding: 0;
}
#slidedeck-mobile .slide {
	float: left;
	width: 96%;
	width: calc(96% - 1px);
	padding: 0 2%;
	
	margin: 0 2px 2px 0;
	border-bottom: 2px solid #96c7db;
	background: #fffce4;
	background: -moz-linear-gradient(45deg,  #fffce4 97%, #c3dedf 97%, #c3dedf 100%);
	background: -webkit-gradient(linear, left bottom, right top, color-stop(97%,#fffce4), color-stop(97%,#c3dedf), color-stop(100%,#c3dedf));
	background: -webkit-linear-gradient(45deg,  #fffce4 97%,#c3dedf 97%,#c3dedf 100%);
	background: -o-linear-gradient(45deg,  #fffce4 97%,#c3dedf 97%,#c3dedf 100%);
	background: -ms-linear-gradient(45deg,  #fffce4 97%,#c3dedf 97%,#c3dedf 100%);
	background: linear-gradient(45deg,  #fffce4 97%,#c3dedf 97%,#c3dedf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffce4', endColorstr='#c3dedf',GradientType=1 );
}
#slidedeck-mobile .slide:first-of-type {
	margin-top: 1px;
}
#slidedeck-mobile .slide:last-of-type {
	border: 0;
}
#slidedeck-mobile .slide img {
	padding: 0 10px 0 0;
}
#slidedeck-mobile .sd-node-title {
	font-family: Georgia, serif;
	font-size: 2em;
	line-height: 1.2;
	color: #0f3265;
}
#slidedeck-mobile .sd-node-nav-link {
	display: none;
}
body:not(.category) #main-body {
	padding: 5px 0 !important;
}
/*
.home #main-body {
	padding-bottom: 0 !important;
}
*/
.home #secondary {
	margin-bottom: 7px;
}
#main-body .color-box {
	border-left: 0;
	border-right: 0;
	border-top: 2px solid #65a261;
	float: left;
	width: 100% !important;
	overflow: hidden;
	margin-bottom: 0 !important;
}
#home-posts {
	float: left;
}

#home-posts .post {
	float: left;
	width: calc(96% + 2px) !important;
}

#search-button {
	background-size: 42%;
}
#mobile-nav {
	background-size: 51%;
}
.edit-link {
	display: none;
}
body:not(.category) #main {
	background: none;
}
body.search #main {
	background: #fff!important;
}
#main-body {
	padding-bottom: 10px;
}
#secondary-nav,
#secondary {
	margin-top: 0;
}
.home #secondary .main-body {
	background: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 0;
	overflow: hidden;
	width: 100%;
	border-radius: 0 25px 0 0;
}
.secondary #secondary {
	background: #fff;
	border-radius: 0 25px 0 0;
}
.secondary #main-body article,
#main-body .post.type-post:nth-of-type(1) {
	border-radius: 0 25px 0 0;
}
.secondary #main-body article,
#main-body .page.type-page {
	background: #fff;
	margin-bottom: 20px;
	padding: 10px 0;
	margin-top: -10px;
	float: left;
}
.home #main-body .page.type-page {
	padding: 0;
	margin-top: 10px;
	float: none;
}
.secondary #main-body {
	padding-bottom: 0!important;
}
.secondary #main-body article {
	margin: 10px 0 20px 0!important;
	padding: 10px!important;
}
.home #main-body .post.type-post:nth-of-type(1) {
	padding-top: 22px!important;
}
#footer #footer-content {
	margin-top: -12px;
}
/* ************** */ }
/* alternate layout, to better handle the gap between tablet and phone (e.g. iPhone 5 landscape) */
@media only screen and (min-width: 481px) and (max-width: 767px) { /* ************** */


/* ************** */ }
/* ********************************************************** */
@media only screen and (max-device-width: 720px) { /* ************** */
	#main .entry-content p a img,
	#main .wp-caption {
		float: none;
		margin: 0 auto;
		margin-bottom: 20px;
	}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 625px) { /* ************** */
#secondary .color-box,
#secondary #upcoming-events {
	margin: 20px auto;
	float: none!important;
	clear: both;
}

/* ********************************************************** */
@media only screen and (max-width: 580px) { /* ************** */
#footer li:first-child {
	background: none;
}
#footer li:nth-child(2),
#footer li:nth-child(3) {
	display: none;
}

/* Events Calendar */
.events table.calendar-table, 
.events tbody, 
.events td, 
.events tr { 
	display: block!important; 
}

.events table.calendar-table { 
	z-index: 1;
	width: 98%;
}
.events table.calendar-table tbody tr:nth-child(2) { 
	border: none!important;
}
.events table.calendar-table table { 
	display: block!important; 
	position: absolute!important;
	height: 34px!important;
	width: 100%!important;
	border: none!important;
	z-index: 1!important;
	top: 0!important;
	left: 0!important;
}

.events .calendar-prev,
.events .calendar-month,
.events .calendar-next {
	padding-left: 0!important;
}
.events .calendar-prev {
	float: left!important;
	width: 25%!important;
}
.events .calendar-month {
	float: left!important;
	width: 42%!important;
}
.events .calendar-next {
	float: right!important;
	width: 25%!important;
}

.events td.normal-day-heading,
.events td.weekend-heading { 
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.events tr { border: 1px solid #ccc; }
.events table.calendar-table table tr { border: none; }

.events td { 
	border: none;
	border-bottom: 1px solid #eee; 
	position: relative;
	padding-left: 50%; 
}

.events td:before { 
	position: absolute;
	top: 6px;
	left: 6px;
	width: 45%; 
	padding-right: 10px; 
	white-space: nowrap;
}
.events .day-with-date,
.events .current-day {
	width: auto!important;
	height: auto!important;
}
.events .day-without-date {
	display: none!important;
}
.events td:nth-of-type(1):not(.calendar-heading):not(.calendar-prev):before { content: "Monday"; }
.events td:nth-of-type(2):not(.calendar-month):before { content: "Tuesday"; }
.events td:nth-of-type(3):not(.calendar-next):before { content: "Wednesday"; }
.events td:nth-of-type(4):before { content: "Thursday"; }
.events td:nth-of-type(5):before { content: "Friday"; }
.events td:nth-of-type(6):before { content: "Saturday"; }
.events td:nth-of-type(7):before { content: "Sunday"; }

/* writers table */
.writers tbody td {
	width: 20.5%;
	padding: 3px;
}
.writers tbody td:nth-child(6n+1) {
	width: 18%;
}

/* editorial table */
.editorial tbody tr td:nth-child(2) {
}

/* quarterly table */
.quarterly tbody tr {
	height: auto;
}
.quarterly tbody td:nth-child(5n+1) {
	width: 14%;
	padding-left: 2px;
	padding-right: 2px;
}
.quarterly tbody td:nth-child(5n+2) {
	width: 20%;
}
.quarterly tbody td:nth-child(5n+3) {
	width: 20%;
}
.quarterly tbody td:nth-child(5n+4) {
	width: 20%;
}
.quarterly tbody td:nth-child(5n+5) {
	width: 20%;
}

/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 499px) { /* ************** */
#header #campaign-feature img {
	max-width: 200%;
	height: 90px;
}
#main .entry-content p a img,
#main .wp-caption {
	float: none;
	margin: 0 auto;
	margin-bottom: 20px;
}
#main .entry-content p a img,
#main .wp-caption {
	float: none!important;
	margin: 15px auto!important;
	display: block!important;
	width: 45%;
	padding: 0!important;
}
body:not(.staff) #main .entry-content p a img,
body:not(.staff) #main .wp-caption,
.summer-2014 #main .entry-content p a img,
.summer-2014 #main .wp-caption,
.marketing #main .entry-content p a img,
.marketing #main .wp-caption,
.sare-3 #main .entry-content p a img,
.sare-3 #main .wp-caption,
.livestock #main .entry-content p a img,
.livestock #main .wp-caption {
	float: left;
	padding-top: 5px;
}
.entry-content h3 {
	float: none;
	margin: 0 auto 15px;
	text-align: center;
}
.entry-content .events-listing .node h3 {
	text-align: left;
}
.entry-content h3 a {
	width: 100%;
	display: block;
}
body:not(.farm-energy) .entry-content h3 a img {
	margin: 10px;
	float: none;
	padding-right: 0;
}
#slidedeck-mobile .slide {
	float: left;
	width: 90%;
	width: calc(90% - 1px);
	padding: 0 5%;
}
#slidedeck-mobile .slide img {
	width: 50px;
	height: auto;
	padding: 0;
}
#slidedeck-mobile .sd-node-title {
	font-size: 1.7em;
	padding-top: 6px;
}
#slidedeck-mobile p:last-of-type {
	clear: both;
}

/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 479px) { /* ************** */
.about table td {
	width: 50%;
}
.quarterly tbody th {
	font-size: 9px;
}
#nymap {
	/*display: none;*/
}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 400px) { /* ************** */
.webinars .entry-content a img.alignleft {
	float: none;
}
.webinars .entry-content p {
	text-align: center;
}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 350px) { /* ************** */
.staff article .entry-content a {
	display: block;
	text-align: center;
}
.staff article .entry-content a img {
	width: 75%;
	float: none;
	padding: 0 0 16px 0;
	margin: 0 auto;
}
/* ************** */ }