/* Project styles */

@media (max-width: 992px) {
	.logged-in #main-navigation {
		top: 32px;
	}
}
@media (max-width: 782px) {
	.logged-in #main-navigation {
		top: 46px;
	}
}
body .cwd-component p.summary {
	font-size: 16px;
    color: #222;
}
.cwd-basic.tiles.no-overlay .group-image .deco {
    color: #b31b1b;
    text-decoration-color: #b31b1b;
	font-size: 24px;
    line-height: 1.36em;
}
.cwd-basic.tiles.no-overlay .type-events .group-image a .overlay {
    margin-bottom: 4px;
	margin-top: 0;
}
.cwd-basic.tiles.no-overlay .type-events time {
    margin-bottom: 14px;
    display: block;
}
.cwd-basic.tiles.no-overlay .type-news .group-image a .overlay {
    min-height: 96px;
    margin-bottom: 10px;
}
.home .cwd-component .subheading {
    margin: 32px 0 6px 0;
	color: #707070;
}
.cu-seal #cu-header .cu-brand {
    padding-top: 36px;
    padding-bottom: 36px;
}
#simple-banner {
    position: relative;
    z-index: 9;
    top: 0;
}
#simple-banner.simple-banner .simple-banner-text {
    font-weight: normal;
	font-size: 22px;
}
#simple-banner.simple-banner .simple-banner-button {
    margin-right: 50px;
}
.cwd-basic .card:first-of-type {
    padding-top: 0;
}
.galleries-template-default .cwd-gallery .gallery-item .popup img {
	transition: transform .2s ease-in-out;
}
.galleries-template-default .cwd-gallery .gallery-item .popup:focus img,
.galleries-template-default .cwd-gallery .gallery-item .popup:hover img {
	transform: scale(1.05);
}
body > footer .primary, 
#body-footer .primary {
    width: 64% !important;
}
body > footer .secondary, 
#body-footer .secondary {
    width: 36% !important;
}
body > footer .main-footer .container-fluid:after, 
#body-footer .main-footer .container-fluid:after {
    left: calc(36% + 15px);
}
@media (min-width: 1200px) {
	#cu-header .cu-brand h2 {
		font-size: 55px;
	}
}
@media (min-width: 992px) {
	.cwd-basic.tiles .card {
		width: 33%;
	}
}
@media (min-width: 768px) {
	.cu-seal #cu-header .cu-brand .cu-unit {
		margin: 0 0 0 auto;
	}
}
@media (max-width: 768px) {
	#super-header.has_header_image .slider-container #slider-caption {
		z-index: 9;
	}
	#photo-credits {
		position: absolute;
		bottom: -45px;
		right: 0;
		width: 100%;
	}
	.photo-credits .photocredits-focus {
		height: 25px !important;
	}
	.photo-credits .photo-credit-text, 
	.photo-credits .photocredits-focus:focus .photo-credit-text, 
	.photo-credits .photocredits-focus:hover .photo-credit-text {
		padding-right: 32px !important;
	}
	.cwd-basic .card {
		width: 50%;
		margin: 0;
		padding-top: 0;
	}
	.colorband .gallery.gallery-columns-3 .gallery-item, 
	.colorband .gallery.gallery-columns-4 .gallery-item, 
	.colorband .gallery.gallery-columns-5 .gallery-item, 
	.colorband .gallery.gallery-columns-6 .gallery-item, 
	.colorband .gallery.gallery-columns-7 .gallery-item, 
	.colorband .gallery.gallery-columns-8 .gallery-item, 
	.colorband .gallery.gallery-columns-9 .gallery-item {
		width: 50%;
	}
	.colorband .cwd-gallery .gallery-item a h3 span {
		font-size: 18px;
		line-height: 1.4;
	}
	footer .main-footer .primary .two-col > div {
		padding-left: 0 !important;
	}
	footer .main-footer .primary,
	footer .main-footer .secondary {
		width: 100% !important;
	}
	body > footer a.link-block {
		margin: 0 auto !important;
		float: none !important;
	}
	body > footer .social, 
	#body-footer .social {
		padding-top: 0;
	}
	#simple-banner #simple-banner-close-button {
		margin-right: 18px;
	}
	#simple-banner.simple-banner .simple-banner-text {
		font-size: 18px;
	}
	#super-header.has_header_image .slider-container #slider-caption .campaign-nav {
		bottom: 10px;
	}
}
@media (max-width: 510px) {
	.cwd-basic.tiles:not(.announcement) .card {
		width: 100% !important;
		margin: 0 auto;
	}
	#simple-banner.simple-banner .simple-banner-text {
		padding: 10px 55px;
		font-size: 17px !important;
	}
}
@media (max-width: 640px) {
	.colorband .gallery.gallery-columns-3 .gallery-item, 
	.colorband .gallery.gallery-columns-4 .gallery-item, 
	.colorband .gallery.gallery-columns-5 .gallery-item, 
	.colorband .gallery.gallery-columns-6 .gallery-item, 
	.colorband .gallery.gallery-columns-7 .gallery-item, 
	.colorband .gallery.gallery-columns-8 .gallery-item, 
	.colorband .gallery.gallery-columns-9 .gallery-item {
		width: 100%;
		max-width: 480px;
		margin: 0 auto;
	}
	.colorband .cwd-gallery .gallery-item a h3 span {
		padding: 30px;
		font-size: 22px;
		line-height: 1.45;
	}
}

#super-header.has_header_image .slider-container #slider-caption .caption-inner {
    bottom: calc(20% + 60px);
}
#cu-search {
    /*margin-top: -126px;*/
}
body:not(.mobile) #main-navigation > .container-fluid > ul > li {
    padding: 17px 0;
}
body:not(.mobile) #main-navigation > .container-fluid > ul > li > a {
    padding: 10px 1.7em;
}
body:not(.mobile) #main-navigation > .container-fluid ul > li.current-page-ancestor > a, 
body:not(.mobile) #main-navigation > .container-fluid > ul > li.current-menu-item > a {
    background: #b31b1b;
	border-radius: 2px;
}
.slide-buffer {
	overflow: hidden;
	filter: blur(4px);
}
.slide-buffer .blurred-bg {
	position: absolute;
    background: inherit;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    filter: blur(4px);
}
#site-header .slider-caption p {
    text-transform: none;
}
#super-header.has_header_image .slider-container #slider-caption .caption-inner {
    background: none;
}
.slider-container:after {
	content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,ffffff+100&0.85+0,0+100 */
	background: -moz-linear-gradient(left,  rgba(0,0,0,0.85) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(0,0,0,0.85) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(0,0,0,0.85) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
#super-header.has_header_image .slider-container #slider-caption .campaign-nav {
    z-index: 5;
	padding: 20px;
}
main, #main {
    padding-top: 2.5em;
}
.home .announcement.content-block p,
.home article > section p {
    font-family: "Times New Roman";
    line-height: 2;
    font-size: 20px;
    color: #666;
}
.home article > section p {
    font-size: 22px;
}
.home .announcement.content-block p {
    line-height: 1.6;
}
@media (min-width: 1200px) {
	.home .accent2 .cwd-basic.tiles .card {
		width: 25%;
	}
}
body > footer, #body-footer {
    background: #222;
}
a.link-button {
	background: #b31b1b;
}
.colorband.accent1,
.colorband.accent4 {
    border: none;
    background: #F2F2F2;
}
.colorband.accent2 {
    border: none;
    background: #ffffff;
}
body > footer .h5, #body-footer .h5 {
    font-size: 28px;
}
body > footer .h6, 
#body-footer .h6 {
    font-weight: normal;
    color: #afafaf;
}
.colorband .cwd-gallery .gallery-item a h3 span {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+70,000000+100&0+0,0.67+70,0.85+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.67) 70%, rgba(0,0,0,0.85) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.67) 70%,rgba(0,0,0,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.67) 70%,rgba(0,0,0,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000',GradientType=0 ); /* IE6-9 */
    padding: 30px;
}
.colorband .cwd-gallery .gallery-item a.credits:after,
.colorband .cwd-gallery .gallery-item a.credits:after {
	content: '';
    position: absolute;
	opacity: 0;
	top: 0;
    left: 0;
    height: 100%;
    width: 100%;
	margin-bottom: 0;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+70,000000+100&0+0,0.4+70,0.85+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 70%, rgba(0,0,0,0.85) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 70%,rgba(0,0,0,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 70%,rgba(0,0,0,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000',GradientType=0 ); /* IE6-9 */
	transition: all .2s ease-in;
	transition: all .2s ease-out;
}
.colorband .cwd-gallery .gallery-item a.credits:hover:after,
.colorband .cwd-gallery .gallery-item a.credits:focus:after {
	opacity: 1;
}
.colorband .cwd-gallery .gallery-item a h3 {
    position: absolute;
	color:#fff;
	height: 100%;
    width: 100%;
	display: table;
    opacity: 1;
	margin-bottom: 0;
	text-align: center;
    line-height: 1.45;
	/*transform: translateY(100%);
	transition: all ease-in .3s;*/
}
.colorband .cwd-gallery .gallery-item a h3 span {
    display: table-cell;
    vertical-align: bottom;
    font-weight: 300;
	font-size: 22px;
	text-decoration: underline;
	text-decoration-color: rgba(255,255,255,0.4);
	transition: all .2s ease-in;
	transition: all .2s ease-out;
}
.colorband .cwd-gallery .gallery-item a:focus h3 span,
.colorband .cwd-gallery .gallery-item a:hover h3 span {
    /*vertical-align: middle;*/
	text-decoration-color: #fff;
}
.colorband .cwd-gallery .gallery-item a:hover h3,
.colorband .cwd-gallery .gallery-item a:focus h3 {
 	/*transform: translateY(0);*/
    opacity: 1;
	z-index: 9;
}
.colorband .cwd-gallery .gallery-item a.credits {
    position: relative;
	overflow: hidden;
	text-decoration-color: rgba(255,255,255,0.4);
}
.colorband .cwd-gallery .gallery-item a.credits:focus,
.colorband .cwd-gallery .gallery-item a.credits:hover {
	text-decoration-color: #fff;
}
.colorband .cwd-gallery .gallery-item a img,
.colorband .cwd-gallery .gallery-item a img {
	display: block;
}
.colorband .cwd-gallery .gallery-item a:hover img,
.colorband .cwd-gallery .gallery-item a:focus img {
	/*filter: blur(1px);*/
	/*transform: scale(1.05);*/
	transition: transform .2s ease-in;
	transition: transform .2s ease-out;
}
.colorband .cwd-gallery .gallery-item a:hover h3 span,
.colorband .cwd-gallery .gallery-item a:focus h3 span {

}
.home #main .announcement.content-block {
    position: relative;
    padding-right: 72px;
    padding-top: 33px;
    padding-bottom: 55px;
    border-right: 1px solid #bfc3c8;
}
.home #main .announcement.content-block .subtitle {
    font-size: 26px;
	margin-bottom: 12px;
	font-family: "freight-sans-pro", serif;
	
}
.home #main .announcement.content-block h2.h1 {
    color: #717171;
    font-family: "Times New Roman";
	font-size: 40px;
}
.home #main .announcement.content-block .card {
    width: 100%;
}
.home #main .announcement.content-block .card .group-fields {
    margin-top: 3px;
}
/*.home .announcement.content-block .buttons {
    position: absolute;
    right: 85px;
    bottom: 22px;
}*/
.home #main article section .flex-grid .entry-content {
    padding-left: 85px;
    padding-top: 33px;
    padding-bottom: 55px;
}
.home #main article section .flex-grid .entry-content h1 {
    margin-bottom: 19px;
    font-family: "Times New Roman";
	font-size: 40px;
}
.home #main article section .flex-grid .header-with-button {
    margin-bottom: 29px;
}
.home .colorband h2 {
	font-size: 40px;
}
.home #main {
	padding-bottom: 34px;
}
.home #main-article {
	margin-bottom: 14px;
}
body > .band h1, 
body > .band h2,
body > .band .h1, 
body > .band .h2,
body > .band h3,
body > .band .h3,
#main-content h1, 
#main-content h2,
#main-content .h1, 
#main-content .h2 {
	font-family: "freight-sans-pro",serif;
}
.home #main-article .wrapper.flex-grid .content-block {
	padding-bottom: 0;
	margin-bottom: 0;
}
.home #main-article .wrapper.flex-grid .entry-content {
	padding-bottom: 0;
	margin-bottom: 14px;
}

.cwd-basic .card .group-image + .group-fields .zmdi-pin,
.cwd-basic .card .group-image + .group-fields .time {
    color: #707070;
	font-family: "freight-sans-pro", sans-serif;
	margin-right: 18px;
	font-size: 16px;
}
.cwd-basic .card .group-image + .group-fields .time:before {
    content: '\f337';
    font-size: 18px;
    position: relative;
    top: 1px;
    color: #b31b1b;
    margin-right: 8px;
    transition: color 0.15s;
	display: inline-block;
    font: normal normal normal 18px/1 'Material-Design-Iconic-Font';
    speak: never;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.cwd-basic .card .group-image + .group-fields .zmdi-pin:before {
    content: '\f1ab';
    font-size: 18px;
    position: relative;
    top: 1px;
    color: #b31b1b;
    margin-right: 8px;
    transition: color 0.15s;
	display: inline-block;
    font: normal normal normal 18px/1 'Material-Design-Iconic-Font';
    speak: never;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
body > footer a.link-block {
    font-size: 18px;
    padding: 0.75em 1em 0.6em;
    background: #383838;
    border-radius: 2px;
	float: left;
    margin-right: 40px;
}
body > footer a.link-block:hover, 
body > footer a.link-block:focus, 
#body-footer a.link-block:hover, 
#body-footer a.link-block:focus {
    background: #b31b1b;
}
body > footer .social > a, #body-footer .social > a {
    margin-top: 14px;
    display: inline-block;
}
body:not(.mobile) #main-navigation li a .fa-caret-down {
    background: rgb(128 128 128 / 46%);
    border-radius: 2px;
}
footer .main-footer .primary .two-col > div {
	float: right;
}
footer .main-footer .primary .two-col > div:first-child {
	max-width: 214px;
}
footer .main-footer .primary .two-col > div:nth-child(2) {
	max-width: 300px;
    margin-right: 40px;
}
.home #main section .wrapper:not(.flex-grid) {
    margin-top: 22px;
    margin-bottom: 22px;
}
@media (min-width: 834px) {
	.flex-grid > .flex-7 {
		width: 58.333333333333333%;
	}
	.flex-grid > .flex-5 {
		width: 37.666667%;
	}
}
// Photocredits 
.photocredits-inner.active {
    display: block;
    position: absolute;
    z-index: 99;
    right: 30px;
    bottom: 72px;
}

.photocredits {
    position: absolute;
    top: 26px;
    right: 35px;
    z-index: 9;
    color: #fff;
}
#popup .photocredits {
    top: unset;
	right: 35px;
    bottom: 28px;
}
.gallery .thumbnails .gallery-item.col {
	position: relative;
}
#image-band .photocredits .photo-credit-icon + .copyright,
#image-band .photocredits .photo-credit-icon + a,
#popup .photocredits .photo-credit-icon + .copyright,
#popup .photocredits .photo-credit-icon + a,
.gallery-item .photocredits .photo-credit-icon + .copyright,
.gallery-item .photocredits .photo-credit-icon + a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 0 32px 0 6px;
    font-family: Proxima Nova,"proxima-nova",sans-serif;
    text-transform: none;
    font-size: 15px;
	background: rgba(0,0,0,0.5);
    padding: 3px 11px;
	line-height: 1.6;
    opacity: 0;
	visibility: hidden;
    transition: all 0.1s 0.4s;
}
#image-band .photocredits .photo-credit-icon + a:hover,
#image-band .photocredits .photo-credit-icon + a:focus,
#popup .photocredits .photo-credit-icon + a:hover,
#popup .photocredits .photo-credit-icon + a:focus,
.gallery-item .photocredits .photo-credit-icon + a:hover,
.gallery-item .photocredits .photo-credit-icon + a:focus {
    opacity: 1;
	visibility: visible;
}
#image-band .photocredits .photo-credit-icon:focus + .copyright,
#image-band .photocredits .photo-credit-icon:hover + .copyright,
#image-band .photocredits .photo-credit-icon:focus + a,
#image-band .photocredits .photo-credit-icon:hover + a,
#image-band .photocredits .photo-credit-icon a:focus,
#image-band .photocredits .photo-credit-icon a:hover,
#popup .photocredits .photo-credit-icon:focus + .copyright,
#popup .photocredits .photo-credit-icon:hover + .copyright,
#popup .photocredits .photo-credit-icon:focus + a,
#popup .photocredits .photo-credit-icon:hover + a,
#popup .photocredits .photo-credit-icon a:focus,
#popup .photocredits .photo-credit-icon a:hover,
.gallery-item .photocredits .photo-credit-icon:focus + .copyright,
.gallery-item .photocredits .photo-credit-icon:hover + .copyright,
.gallery-item .photocredits .photo-credit-icon:focus + a,
.gallery-item .photocredits .photo-credit-icon:hover + a,
.gallery-item .photocredits .photo-credit-icon a:focus,
.gallery-item .photocredits .photo-credit-icon a:hover {
    opacity: 1;
	visibility: visible;
}
#image-band .photocredits .photo-credit-icon,
#popup .photocredits .photo-credit-icon,
.gallery-item .photocredits .photo-credit-icon {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1px 0 1px 0;
    z-index: 1;
    font-size: 18px;
    background: rgba(0, 0, 0, 0.5);
    width: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 2px;
    opacity: 0.8;
    transition: opacity 0.1s;
    cursor: help;
}
.galleries-template-default .cwd-gallery .popup + .photocredits,
.galleries-template-default .cwd-gallery .popup h3 {
	display: none;
}
.home #main-article .entry-content > h2.h1 {
    color: #000000;
    font-size: 40px;
}
.header-with-button {
    margin-bottom: 30px;
}
#image-band {
	position: relative;
}
#image-band .photocredits {
	top: unset;
	right: unset;
    bottom: 26px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
#image-band .photocredits a,
#image-band .photocredits .copyright {
	float: right;
}
input[type="submit"], 
input[type="reset"], 
button, 
a.link-button {
	background-color: #b31b1b !important;
	color: #ffffff !important;
}

// People listings
.cwd-component {
	
	.cards {
	
		.card {

			&.type-people {

				h3, .h3 {
					margin-bottom: 0.3em;
				}

				.group-fields {

					.meta {

						color: #666;
						font-style: italic;
						font-family: "freight-sans-pro", serif;

						&.links {

							margin-top: 10px;
							color: #000;
							font-style: normal;

							a {
								margin-right: -3px;
							}
						}
					}
					.summary {
						margin-top: 5px;
						margin-bottom: 5px;
					}
				}
			}
		}
	}

	.meta {
		
		.label {
			font-weight: bold;
		}

		&.links {
			a {
				margin-right: -3px;
			}
		}
	}

}

@media (max-width: 992px) {
	.home #main-article .wrapper.flex-grid .content-block {
		width: 100%;
		padding: 33px 15px 30px 15px;
		border-right: none;
	}
	.home #main-article .wrapper.flex-grid .entry-content {
		width: 100%;
		padding: 33px 15px 0 15px;
	}
	#super-header.has_header_image .slider-container #slider-caption .campaign-nav {
		padding-left: 0;
	}
	#super-header.has_header_image .slider-container #slider-caption .caption-inner {
		padding-left: 0;
	}
	.home .announcement.content-block p {
		margin-bottom: 20px;
	}
	.cwd-basic.tiles.no-overlay .type-news .group-image a .overlay {
		min-height: 65px;
	}
	.colorband .cwd-gallery .gallery-item a h3 span {
		padding: 20px;
		font-size: 20px;
		line-height: 1.4;
	}
	.footer-links > * {
		float: left;
		width: 100%;
		margin: 0 0 2em;
	}
	footer .main-footer .primary .two-col > div {
		max-width: none !important;
		margin: 24px auto !important;
		padding-left: 45px;
		float: none;
	}
	body > footer .social, 
	#body-footer .social {
		clear: both;
		padding-top: 14px;
	}
	#simple-banner.simple-banner .simple-banner-text {
		font-size: 20px;
	}
	#simple-banner.simple-banner .simple-banner-button {
		margin-right: 28px;
	}
}
@media (max-width: 480px) {
	#super-header.has_header_image .slider-container #slider-caption .caption-inner h2 {
		font-size: 20px;
	}
	#super-header.has_header_image .slider-container #slider-caption .caption-inner {
		bottom: calc(18% + 60px);
	}
	#site-header .slider-caption p {
		font-size: 14px;
	}
}