/* =Responsive Structure
----------------------------------------------- */
@media (max-width: 1920px) {
	body.mobile {-webkit-text-size-adjust: 100%;} /* Iphone browser fix*/
	body.mobile .column-image h3 {display:block;bottom:20px;opacity:.9;}
}
@media (max-width: 1410px) {
	#footer2-inner {
		padding: 0 14px;
	}
	#footer2 .footermenu ul li {
		margin: 0 15px;
	}
	#footer2 .footermenu ul li a {
		font-size: 16px;
	}
	#footer2 .footermenu {
		margin-right: 50px;
		margin-top: 44px;
		margin-bottom: 20px;
	}
	.footer-rule {
		width: 62%;
		right: 10%;
	}
	#cu-search {
		padding: 0 14px;
	}
}
@media (max-width: 1350px) {
	#access ul li a {
		font-size: 18px;
	}
}
@media (max-width: 1275px) {
	#footer2 .footermenu {
		width: 78%;
	}
	#site-copyright,
	#footer2 .footermenu ul li a {
		font-size: 14px;
	}
	#footer2 .footermenu ul li {
		margin: 0 11px 10px;
	}
	.footer-rule {
		right: 15%;
	}
}
@media (max-width: 1136px) {
	.footer-rule {
		top: 74px;
	}
}
@media (max-width: 1060px) {
	#access ul li a {
		font-size: 16px;
	}
	#container[class*='column'] #content {
		width: 68%;
		float: right;
		margin: 0;
		clear: both;
	}
	#container[class*='column'] #content {
		margin-bottom: 20px !important;
	}
	#container[class*='column'] #primary {
		width: 32%;
		float: left;
		margin: 0;
		clear: none;
	}
	#container[class*='column'] #secondary {
		width: 32%;
		float: left;
		margin: 0;
		clear: left;
	}
	body:not(.home) #container #content {
		margin-top: -130px;
	}
}
@media (max-width: 900px) {
	#footer2 .footermenu {
		width: 74%;
	}
	body #footer, #footer #footer2 {
		height: 225px;
	}
	#image_band {
		bottom: 225px;
	}
	#site-copyright {
		margin-top: 52px;
	}
}
@media (max-width: 830px) {
	#sfooter {
		float: none;
		margin: 23px auto 0 auto;
	}
	#site-copyright {
		margin: 35px auto 0 31px;
	}
	.footer-rule {
		top: 64px;
	}
}
@media (max-width: 800px) {
	#header, #access, #branding, .topmenu { width:100%; }
	#header-full, #footer { min-width: 100%; }
	#wrapper, #colophon,  #main, article.post, #container, #linky {width: auto;}
	#branding, #bg_image { min-height:100px; }

	#bg_image {width:100%;}
	#header-container > div {height:100%;}
	
	#header-widget-area { left: 0; position: relative; top: 0;width: 100%; }
	#header-widget-area .yoyo > li { margin-bottom: 2px; }

	a#logo { height:100%; display: block !important; }
	a#logo img { width:auto; max-width:90%;height:80%; }
	.safari a#logo img { max-height: 80px;height:auto; }

	.nivo-caption h2 {margin-bottom:5px;}

	#slefts, #srights {display:none;}

	#access .menu-header, div.menu {margin:0 5px;}

	#slider {width:auto;height:auto;}

	#front-columns > div {width:49%;}
	#front-columns > div:nth-child(2n+2){margin-right:0;}
	.column-image img { height:auto; }
	.column-image > div { }
	#column3 {clear:left;}

	#content img, #content article.post img, #content article .wp-caption, article embed {
		max-width:100% !important;
	}

	#site-title span a {font-size: 42px !important;
    line-height: 35px;}
	#site-description {font-size: 18px;
    line-height: 14px;
    margin-top: 9px;}

	#site-title, #site-description { margin-left: 5px; }

	article.post, article.page {padding:20px 10px 10px;}
	article.sticky {padding:20px 5px 5px;border-width:5px;}
	.footertwo .widget-area, .footerthree .widget-area, .footerfour .widget-area {width:98%;margin-left:1%;}
	body {-webkit-text-size-adjust: 100%;} /* Iphone browser fix*/
	
	#content .entry-content h1 { font-size: 26px; }
	#content .entry-content h2 { font-size: 24px; }
	#content .entry-content h3 { font-size: 21px; }
	#content .entry-content h4 { font-size: 19px; }
	#content .entry-content h5 { font-size: 16px; }
	#content .entry-content h6 { font-size: 14px; }
	#content tr th, #content thead th, #content tr td { padding: 3px 5px; font-size: 0.9em; }
	#header-container > div {
		margin: 0 0 0 0;
	}
}
@media (max-width: 767px) {
	body, #content, #content p, #content ul, #content ol,#content code, #content pre, #content blockquote {
		font-size: 16px !important;}

	#branding {	height:auto; }
	a#logo img {margin-top:-25px;max-height:75%;max-width:90%;width:auto;height:auto;}
	#header-container > div { margin-top:10px; }
	.topmenu ul li a { font-size: 0.9em; }

	#front-text1 h1, #front-text2 h1 {font-size:2em;line-height:1.3em;}
	#front-text1 h1{margin-top:20px;}
	#front-text2 h1{margin-bottom:0px;}
	#frontpage blockquote { font-size: 1.0em; line-height: 1.6em; padding: 10px; }

	.slider-wrapper {margin:15px auto;}
	.nivo-caption {padding:8px;}
	.nivo-caption h2 {margin-bottom:1px;font-size:16px;}

	article.intro .entry-content {font-size: 12px;}
	.entry-title {font-size: 21px;}
	.featured-post .entry-title {font-size: 14px;}
	.singular .entry-title {font-size: 28px;}
	.entry-meta a , .entry-meta, .comments-link{
		font-size: 10px !important;
	}
	#content .entry-title {font-size:20px !important;}
	#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
		margin-left:0 !important;}

	#front-columns > div { margin-bottom: 10px; }

	.widget-area a:link, .widget-area a:visited { font-size:12px !important; }
	.theme-default .nivo-caption { font-size:12px; }
	#content p, #content ul, #content ol, .sidey, .sidey a, table, table td { line-height: 1.85em; }

	.slider-bullets .nivo-controlNav a { width: 7px; height: 7px; margin-top: 4px; }
	.theme-default .nivo-controlNav:before, .theme-default .nivo-controlNav:after { border-top-width: 20px; }
	.theme-default .nivo-controlNav { height: 20px; }
	.nivo-directionNav { display: none; }

	#header .socials a { width: 20px; height: 20px; }
	#header .socials a img { width: 20px; height: 20px; }

	.nivo-caption {position:relative;padding:10px 5px 5px;background:transparent;color:inherit;}
	.nivo-caption a{color:inherit;}
	div.post, div.page, div.hentry, .yoyo > li, #comments {padding:26px;}
	#entry-author-info, .page-header {padding:10px 0;} #author-info {padding:10px;}

	#main {margin-top:0px;}	
	#nav-toggle { display: block; float: left; margin: 0 auto; cursor:pointer;
				  width: 92%; height: 40px; padding: 2px 4%;} 
	#nav-toggle span {
		color: #ffffff;
		background-color: #e3120b;
		padding: 0 3px 0 3px;
		display: inline-block;
		height: 38px;
		width: 32px;
		text-align: center;
	}
	#nav-toggle span:before { content: "\e820"; font-family: "elusive"; font-size: 16px; height: 40px; line-height: 40px; }
	#access { display: none; margin-top: 0; padding-bottom: 5px; }
	#access .menu ul, #access .menu ul li { width: 100%; margin:0; }
	#access > .menu li ul { position: inherit; margin-top: 0 !important; }
	#access > .menu ul ul { width: 95%; left: 5%; }
	#access > .menu > ul > li > a > span { border-width: 0 0 1px 0; border-style: solid; border-color: rgba(128,128,128,0.3); }	
	.parabola-menu-center #access > .menu > ul > li > a > span { text-align: left; }
	#access > .menu ul li > a:not(:only-child) span:after {
	font-family:"Elusive"; content: '\e80a';
    position: absolute; right: 5px; top: 10px; z-index: 251;
	-moz-transition:all .2s ease-in-out; -o-transition:all .2s ease-in-out; 
	-webkit-transition:all .2s ease-in-out; transition:all .2s ease-in-out; }
	#access > .menu ul li:hover > a:not(:only-child) span:after { top:20px; opacity:0; }
	#access > .menu ul li > a:not(:only-child) span { padding-right:18px; }
	.parabola-menu-left #nav-toggle {
		text-align: right;
	}
	#nav-toggle {
		display: block;
		cursor: pointer;
		width: 95%;
		float: none;
		padding: 0;
	}
	.et_divi_builder #et_builder_outer_content .et_pb_slide_description {
		margin-left: 0 !important;
	}
	.et_divi_builder #et_builder_outer_content .et_pb_slide_image, .et_divi_builder #et_builder_outer_content .et_pb_slide_video {
		display: block;
		float: left;
		margin-top: 20px !important;
		width: 20.25%;
		margin-right: 18px;
	}
	.et_divi_builder #et_builder_outer_content .et-pb-controllers {
		display: none;
	}
	#content hr.yellow {
		margin-bottom: 20px;
	}
	#container[class*='column'] #secondary,
	#container[class*='column'] #primary {
		width: 100%;
	}
	#container[class*='column'] #content {
		margin-bottom: 20px !important;
		width: 100%;
	}
	#footer2 .footermenu {
		width: 70%;
	}
	.footer-rule {
		width: 64%;
		right: 10%;
	}
	#buy_button a, #read_all_button a {
		font-size: 15px;
	}
}
@media (max-width: 700px) {
	#footer2 .footermenu {
		width: 65%;
		margin-right: 50px;
		margin-top: 33px;
	}
	.footer-rule {
		width: 62%;
		right: 13%;
		top: 94px;
	}
}
@media (max-width: 600px) {
	#header-container > div {
		margin: 20px 0 0 0;
	}
	#site-title span a {
		font-size: 35px !important;
    	line-height: 32px;
	}
	#site-description {
		font-size: 14px;
		line-height: 11px;
		margin-top: 5px;
	}
	#footer2 .footermenu {
		width: 72%;
		margin-right: 5px;
	}
	#footer #footer2 #seal {
		width: 105px;
		height: 105px;
	}
	.footer-rule {
		width: 66%;
		right: 10%;
	}
}
@media (max-width: 570px) {
	#header-container > div {
		margin: 20px 0 0 0;
	}
	#site-title span a {
		font-size: 35px !important;
    	line-height: 32px;
	}
	#site-description {
		font-size: 14px;
		line-height: 11px;
		margin-top: 5px;
	}
	#footer2 .footermenu {
		width: 67%;
		margin-right: 5px;
	}
	body #footer, #footer #footer2 {
		height: 265px;
	}
	#image_band {
		bottom: 265px;
	}
	#site-copyright {
		margin-top: 34px;
		line-height: 26px;
	}
	#sfooter {
		margin: 18px auto 0 auto;
	}

}

@media (max-width: 530px) {
	#site-copyright, #footer2 .footermenu ul li a {
		font-size: 13px;
	}
	#footer2 .footermenu ul li {
		margin: 0 8px 10px;
	}
}
@media (max-width: 500px) {
	#footer #footer2 #seal {
		opacity: .1;
		position: absolute;
	}
	#footer2 .footermenu {
		width: 100%;
		margin-right: 0;
	}
	.footer-rule {
		display: none;
	}
	#site-copyright {
		margin: 18px auto;
	}
	#footer2 .footermenu {
		border-bottom: 1px solid #aaaaaa;
		margin-bottom: 0 !important;
		padding-bottom: 15px;
	}
	body #footer, #footer #footer2 {
		height: 220px;
	}
	#image_band {
		bottom: 220px;
	}
	#footer2 .footermenu {
		margin-top: 19px;
	}
}
@media (max-width: 460px) {
	body #footer, #footer #footer2 {
		height: 240px;
	}
	#image_band {
		bottom: 240px;
	}

}
@media (max-width: 480px) {
	body, #content, #content p, #content ul, #content ol,#content code, #content pre, #content blockquote {
		font-size: 14px !important;}

	.nivo-caption h2 {margin-bottom:0px;font-size:14px;}

	body {padding: 0;}
	#page {margin-top: 0;}
	.magazine-layout #content article.post, .magazine-layout .search #content article{margin:5px 0;width:100%;}
	.topmenu ul {display:table;margin:0 auto;float:none;}
	.theme-default .nivo-directionNav a {display:none;}
	.theme-default .nivoSlider {background-image:none;}
	#toTop {bottom:5px;right:5px;}
}
@media (max-width: 400px) {
	body:not(.home) #container #content {
		margin-top: -80px;
	}
}
@media (max-width: 400px) {
	#front-columns > div { width:100%; margin-bottom: 3px; }
}
@media (max-width: 350px) {
	body #footer, #footer #footer2 {
		height: 300px;
	}
	#image_band {
		bottom: 300px;
	}
}
@media (max-width: 340px) {
	#site-title span a {font-size: 30px !important;
    line-height: 25px;}
	#site-description {font-size: 12px;
    line-height: 9px;
    margin-top: 3px;}

}

