/***********************************************
 * Cornell University
 * Master Web Template for all sizes and colors
 * Main CSS Rules
 ***********************************************/


/**** 
Style Variables
******************/
#cu-logo a {
	width: 250px; /* Defines the active area for the standalone CU logo link */
}
#cu-logo-unit75 a, #cu-logo-unit88 a {
	width: 185px; /* Defines the active area for unit signature links */
}
#cu-identity {
	font-size: 0.9em;
	/*background-image: url(../images/layout/header_bg/75/white/1.jpg);*/ /* Defines the header background image (optional) */
}


/********
 * CU Identity Defaults
 **********/

/* logo */
#cu-identity {
	height: 45px; /* default */
	background-color: #fff; /* default */
	background-repeat: no-repeat;
	background-position: top center;
}
#cu-logo {
	margin: 0 auto;
	width: 960px;
	background: url(../images/cornell_identity/cu_logo.gif) no-repeat top left; /* default */
}	
#cu-logo a {
	border: none;
	display: block;
	height: 45px; /* default */
	background: url(../images/cornell_identity/cu_logo.gif) no-repeat top left; /* default */
}
/* unit signature */
#cu-logo-unit75 {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -480px;
	width: 960px;
	background: url(../images/cornell_identity/unit_signature_white.gif) no-repeat -8px -1px; /* default */
	height: 75px; /* default */
}
#cu-logo-unit75 a {
	display: block;
	position: absolute;
	text-indent: -1000em; 
	text-decoration: none;
}
#cu-logo-unit75 #insignia-link {
	width: 68px;
	height: 75px;
}
#cu-logo-unit75 #unit-signature-links a {
	left: 68px;
}
#cu-logo-unit75 #cornell-link {
	height: 38px;
}
#cu-logo-unit75 #unit-link {
	top: 38px;
	height: 37px;
}
#cu-logo-unit88 {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -480px;
	width: 960px;
	background: url(../images/cornell_identity/cu_logo_white88.gif) no-repeat -8px -1px; /* default */
	height: 88px; /* default */
}
#cu-logo-unit88 a {
	display: block;
	position: absolute;
	text-indent: -1000em; 
	text-decoration: none;
}
#cu-logo-unit88 #insignia-link {
	width: 80px;
	height: 88px;
}
#cu-logo-unit88 #unit-signature-links a {
	left: 80px;
}
#cu-logo-unit88 #cornell-link {
	height: 35px;
}
#cu-logo-unit88 #unit-link1 {
	top: 35px;
	height: 20px;
}
#cu-logo-unit88 #unit-link2 {
	top: 55px;
	height: 33px;
}
#cu-logo img, #cu-logo-unit75 img, #cu-logo-unit88 img {
	display: none;
}
/* search links */
#cu-search, #search-navigation {
	position: absolute;
	top: 12px; /* default */
	right: 50%;
	margin-right: -475px;
}
#cu-search a, #search-navigation a {
	float: left;
	padding: 5px 15px;
	color: #b31b1b; /* default */
	text-decoration: none;
	border: none;
}
#cu-search a {
	float: right;
}
#cu-search a:hover, #search-navigation a:hover {
	color: #fe003c; /* default */
	background: #eee; /* default */
}
#search-navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: inherit !important; /* NOTE: Makes the vertical placement of search nav links match the single link version. Works in Safari, but needs to be browser tested. */
}
#search-navigation li {
	float: left;
	margin: 0;
	padding: 0;
	background: none;
}
/* search form */
#search-form {
	width: 400px;
	position: absolute;
	top: 18px; /* default */
	right: 50%;
	margin-right: -475px;
}
#search-form form {
	margin: 0;
	padding: 0;
	text-align: right;
}
#search-form label {
	color: #333; /* default */
}
#search-form-query {
	padding: 3px;
	width: 145px;
	border: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	color: #333; /* default */
	background: #f3f3f3 url(../images/layout/header_search.gif) no-repeat top left; /* default */
	vertical-align: middle;
}
#search-form-submit {
	padding: 0px 2px 3px 2px;
	border-top: 1px solid #e5e5e5; /* default */
	border-left: 1px solid #e5e5e5; /* default */
	border-right: 1px solid #b3b3b3; /* default */
	border-bottom: 1px solid #b3b3b3; /* default */
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	color: #333; /* default */
	background: #f2f2f2; /* default */
	vertical-align: middle;
}
#search-filters {
	margin: 5px 0 0 0;
}
#search-filters input {
	vertical-align: middle;
	margin: 0;
}
#search-filters label {
	vertical-align: middle;
	margin: 0 10px 0 0;
}
#search-form a {
	color: #b31b1b; /* default */
}
#search-input label, #search-filters a { /* NOTE: Better aligns label text with other search form elements. Works in Safari, but needs to be browser tested. */
	position: relative;
	top: 2px;
}

/************************
 * CU Identity Themes (White, Red, Black, Gray, 45px, 75px, 88px, search options)
 ************************/

/**** Size Definitions
*****************/
.theme-white45, .theme-black45, .theme-red45, .theme-gray45,
.theme-white45 #cu-logo a, .theme-black45 #cu-logo a, .theme-red45 #cu-logo a, .theme-gray45 #cu-logo a {
	height: 45px !important;
}
.theme-white75, .theme-black75, .theme-red75, .theme-gray75,
.theme-white75 #cu-logo a, .theme-black75 #cu-logo a, .theme-red75 #cu-logo a, .theme-gray75 #cu-logo a {
	height: 75px !important;
}
.theme-white88, .theme-black88, .theme-red88, .theme-gray88,
.theme-white88 #cu-logo a, .theme-black88 #cu-logo a, .theme-red88 #cu-logo a, .theme-gray88 #cu-logo a {
	height: 88px !important;
}

/**** Color Definitions
 ****************************************/
.theme-white45, .theme-white75, .theme-white88 {
	background-color: #fff !important; /* reinforces default */
}
.theme-black45, .theme-black75, .theme-black88 {
	background-color: #000 !important;
}
.theme-red45, .theme-red75, .theme-red88 {
	background-color: #b31b1b !important;
}
.theme-gray45, .theme-gray75, .theme-gray88 {
	background-color: #4d4e53 !important;
}

/**** Logo Definitions
 ****************************************/
.theme-white45 #cu-logo, .theme-white45 #cu-logo a { 
	background-image: url(../images/cornell_identity/cu_logo_white45.gif);
}
.theme-white75 #cu-logo, .theme-white75 #cu-logo a { 
	background-image: url(../images/cornell_identity/cu_logo_white75.gif);
}
.theme-white88 #cu-logo, .theme-white88 #cu-logo a, .theme-white88 #cu-logo-unit88 { 
	background-image: url(../images/cornell_identity/cu_logo_white88.gif);
}
.theme-black45 #cu-logo, .theme-black45 #cu-logo a { 
	background-image: url(../images/cornell_identity/cu_logo_black45.gif);
}
.theme-black75 #cu-logo, .theme-black75 #cu-logo a { 
	background-image: url(../images/cornell_identity/cu_logo_black75.gif);
}
.theme-black88 #cu-logo, .theme-black88 #cu-logo a, .theme-black88 #cu-logo-unit88 { 
	background-image: url(../images/cornell_identity/cu_logo_black88.gif);
}
.theme-red45 #cu-logo, .theme-red45 #cu-logo a { 
	background-image: url(../images/cornell_identity/cu_logo_red45.gif);
}
.theme-red75 #cu-logo, .theme-red75 #cu-logo a { 
	background-image: url(../images/cornell_identity/cu_logo_red75.gif);
}
.theme-red88 #cu-logo, .theme-red88 #cu-logo a, .theme-red88 #cu-logo-unit88 { 
	background-image: url(../images/cornell_identity/cu_logo_red88.gif);
}
.theme-gray45 #cu-logo, .theme-gray45 #cu-logo a { 
	background-image: url(../images/cornell_identity/cu_logo_gray45.gif);
}
.theme-gray75 #cu-logo, .theme-gray75 #cu-logo a { 
	background-image: url(../images/cornell_identity/cu_logo_gray75.gif);
}
.theme-gray88 #cu-logo, .theme-gray88 #cu-logo a, .theme-gray88 #cu-logo-unit88 { 
	background-image: url(../images/cornell_identity/cu_logo_gray88.gif);
}
.theme-white75 #cu-logo-unit75 {
	background-image: url(../images/cornell_identity/unit_signature_white.gif); /* reinforces default */
}
.theme-black75 #cu-logo-unit75 {
	background-image: url(../images/cornell_identity/unit_signature_black.gif);
}
.theme-red75 #cu-logo-unit75 {
	background-image: url(../images/cornell_identity/unit_signature_red.gif);
}
.theme-gray75 #cu-logo-unit75 {
	background-image: url(../images/cornell_identity/unit_signature_gray.gif);
}

/**** Search Definitions (Text Links)
 ****************************************/

/* Link Color */
.theme-white45 #cu-search a, .theme-white75 #cu-search a, .theme-white88 #cu-search a,
.theme-white45 #search-navigation a, .theme-white75 #search-navigation a, .theme-white88 #search-navigation a {
	color: #b31b1b; /* reinforces default */
}
.theme-black45 #cu-search a, .theme-black75 #cu-search a, .theme-black88 #cu-search a,
.theme-red45 #cu-search a, .theme-red75 #cu-search a, .theme-red88 #cu-search a,
.theme-gray45 #cu-search a, .theme-gray75 #cu-search a, .theme-gray88 #cu-search a,
.theme-black45 #search-navigation a, .theme-black75 #search-navigation a, .theme-black88 #search-navigation a,
.theme-red45 #search-navigation a, .theme-red75 #search-navigation a, .theme-red88 #search-navigation a,
.theme-gray45 #search-navigation a, .theme-gray75 #search-navigation a, .theme-gray88 #search-navigation a {
	color: #fff;
}
/* Hover Color */
.theme-white45 #cu-search a:hover, .theme-white75 #cu-search a:hover, .theme-white88 #cu-search a:hover,
.theme-white45 #search-navigation a:hover, .theme-white75 #search-navigation a:hover, .theme-white88 #search-navigation a:hover {
	color: #fe003c; /* reinforces default */
	background: #eee; /* reinforces default */
}
.theme-black45 #cu-search a:hover, .theme-black75 #cu-search a:hover, .theme-black88 #cu-search a:hover,
.theme-black45 #search-navigation a:hover, .theme-black75 #search-navigation a:hover, .theme-black88 #search-navigation a:hover {
	color: #fff;
	background: #555;
}
.theme-red45 #cu-search a:hover, .theme-red75 #cu-search a:hover, .theme-red88 #cu-search a:hover,
.theme-red45 #search-navigation a:hover, .theme-red75 #search-navigation a:hover, .theme-red88 #search-navigation a:hover {
	color: #fff;
	background: #990f26;
}
.theme-gray45 #cu-search a:hover, .theme-gray75 #cu-search a:hover, .theme-gray88 #cu-search a:hover,
.theme-gray45 #search-navigation a:hover, .theme-gray75 #search-navigation a:hover, .theme-gray88 #search-navigation a:hover {
	color: #fff;
	background: #444;
}
/* Vertical Offset */
.theme-white45 #cu-search, .theme-black45 #cu-search, .theme-red45 #cu-search, .theme-gray45 #cu-search,
.theme-white45 #search-navigation, .theme-black45 #search-navigation, .theme-red45 #search-navigation, .theme-gray45 #search-navigation {
	top: 12px; /* reinforces default */
}
.theme-white75 #cu-search, .theme-black75 #cu-search, .theme-red75 #cu-search, .theme-gray75 #cu-search,
.theme-white75 #search-navigation, .theme-black75 #search-navigation, .theme-red75 #search-navigation, .theme-gray75 #search-navigation {
	top: 29px;
}
.theme-white88 #cu-search, .theme-black88 #cu-search, .theme-red88 #cu-search, .theme-gray88 #cu-search,
.theme-white88 #search-navigation, .theme-black88 #search-navigation, .theme-red88 #search-navigation, .theme-gray88 #search-navigation {
	top: 36px;
}

/**** Search Definitions (Form)
 ****************************************/

/* Label Color */
.theme-white75 #search-form label, .theme-white88 #search-form label {
	color: #333; /* reinforces default */
}
.theme-black75 #search-form label, .theme-black88 #search-form label,
.theme-red75 #search-form label, .theme-red88 #search-form label,
.theme-gray75 #search-form label, .theme-gray88 #search-form label {
	color: #fff;
}
/* Text Input Colors */
.theme-white75 #search-form-query, .theme-white88 #search-form-query {
	color: #333; /* reinforces default */
	background: #f3f3f3 url(../images/layout/header_search.gif) no-repeat top left; /* reinforces default */
}
.theme-black75 #search-form-query, .theme-black88 #search-form-query {
	color: #fff;
	background: #4c4c4c url(../images/layout/header_search_black.gif) no-repeat top left;
}
.theme-red75 #search-form-query, .theme-red88 #search-form-query {
	color: #fff;
	background: #990f0f url(../images/layout/header_search_red.gif) no-repeat top left;
}
.theme-gray75 #search-form-query, .theme-gray88 #search-form-query {
	color: #fff;
	background: #5e5a52 url(../images/layout/header_search_gray.gif) no-repeat top left;
}
/* Go Button Colors */
.theme-white75 #search-form-submit, .theme-white88 #search-form-submit {
	border-top: 1px solid #e5e5e5; /* reinforces default */
	border-left: 1px solid #e5e5e5; /* reinforces default */
	border-right: 1px solid #b3b3b3; /* reinforces default */
	border-bottom: 1px solid #b3b3b3; /* reinforces default */
	color: #333; /* reinforces default */
	background: #f2f2f2; /* reinforces default */
}
.theme-black75 #search-form-submit, .theme-black88 #search-form-submit {
	border-top: 1px solid #8c8c8c;
	border-left: 1px solid #8c8c8c;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	color: #fff;
	background: #4c4c4c;
}
.theme-red75 #search-form-submit, .theme-red88 #search-form-submit {
	border-top: 1px solid #bf6060;
	border-left: 1px solid #bf6060;
	border-right: 1px solid #400606;
	border-bottom: 1px solid #400606;
	color: #fff;
	background: #900;
}
.theme-gray75 #search-form-submit, .theme-gray88 #search-form-submit {
	border-top: 1px solid #a6a295;
	border-left: 1px solid #a6a295;
	border-right: 1px solid #403000;
	border-bottom: 1px solid #403000;
	color: #fff;
	background: #59544b;
}
/* Options Link Color */
.theme-white75 #search-form a, .theme-white88 #search-form a {
	color: #b31b1b; /* reinforces default */
}
.theme-black75 #search-form a, .theme-black88 #search-form a,
.theme-red75 #search-form a, .theme-red88 #search-form a,
.theme-gray75 #search-form a, .theme-gray88 #search-form a {
	color: #fff;
}
