
/**** Body *****/

/* Font size is built around a 12px default to minimize 
   size-inheritance issues for content contributers. A base
   definition of 75% produces consistent results in all major
   browsers (from the 16px browser default) and scales consistently
   under zooming.
   */

body {
	background: #EEEDEB url(../images/layout/page_bg.jpg) repeat-x; /* footer color */
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%; /* 12px *//* font size key in em:
		0.750em = 09px
		0.833em = 10px
		0.917em = 11px
		default = 12px
		1.083em = 13px
		1.167em = 14px
		1.250em = 15px
		1.333em = 16px
		1.500em = 18px
		1.667em = 20px
		1.833em = 22px
		2.000em = 24px
		3.000em = 36px
	*/
}
/**** Tables *****/
 
table {
	width: 100%;
	margin-bottom: 15px;
	border: solid #ddd;
	border-width: 1px 1px 0 0;
	border-collapse: collapse;
}
table table {
	margin-bottom: 0; /* removed margin in nested tables */
}
caption {
	font-style: italic;
	color: #777;
	margin: 0.2em 0;
	line-height: 1.6em;
}
td, th {
	border: solid #ddd;
	border-width: 0 0 1px 1px;
	padding: 6px;
	vertical-align: top;
}
th {
	color: #444;
	border-left-color: #ccc;
	border-bottom-color: #999;
	font-weight: bold;
	text-align: center;
		
	/* optional gradient */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f8f5', endColorstr='#e2e1de');*/ /* disabled due to IE8 bugs */
	background: #f9f8f5 url(../images/layout/ie_tableheader.gif) 0 bottom repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f8f5), to(#e2e1de));
	background: -moz-linear-gradient(top, #f9f8f5, #e2e1de);
}
th p {
	margin-bottom: 0; /* removes <p> margin if used in table headers */
}

#main table .row1 {
  background: #fff;
}
/**** Text Styles ****/
 
/* Basic paragraph and header styles. Currently using Georgia
   for h1-h3 and some blue coloration, but this could be stripped
   out and moved to site-specific styles.
   */

p, td, th, li, dt, dd {
	line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 12px;
	color: #462406;
}
h1 {
	font-size: 2.2em;
	font-family: Arial, Helvetica, sans-serif;
}
h2 {
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
}
h3 {
	font-size: 1.5em;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}
h4 {
/* default bold 12px */
}
h5 {
	font-weight: normal;
	color: #E07A16;
	margin-bottom: 5px;
	font-size: 1.8em;
}
h6 {
	font-weight: normal;
	color: #B12031;
	margin-bottom: 5px;
	font-size: 1.8em;
}
p {
	margin-bottom: 15px;
}
p.last {
	margin-bottom: 0;
}
strong {
	font-weight: bold;
}
blockquote, pre {
	margin-left:2em;
	padding-left: 1em;
	border-left:1px solid #ccc;
	font-style: italic;
	line-height: 1.4em;
}
pre, code {
	font-family: mono-space, monospace;
	font-style: normal;
	margin-bottom: 15px;
}
abbr, acronym {
	text-transform:uppercase;
	border-bottom: 1px dotted #000;
	letter-spacing: 1px;
}
abbr[title], acronym[title] {
	cursor:help;
}
sup, sub {
	font-size:.8em;
	position: relative;
}
sup {
	top: -0.4em;
}
sub {
	top: 0.2em;
}
em, cite {
	font-style:italic;
}
.clear {
	clear: both;
	width: 100%;
}
p.note {
	padding: 10px;
	border: 1px solid #ccc;
}
.more {
	padding-right: 8px;
	background: transparent url(../images/layout/arrows/right_red.gif) no-repeat 100% 80%;
}
.text-highlight-red {
	background: #f0beb6;
}

.text-highlight-yellow {
	background: #f0ee9f;
}

.text-highlight-green {
	background: #c5ee9f;
}
/**** Links ****/
 
/* Using classic Cornell red as the default (but no border styles).
   */

a, a:visited {
	color: #8B0C51;
}

a:hover, a:active {
	color: #f00;
}

/**** Lists ****/

ul {
	margin-left: 18px;
	margin-bottom: 15px;
}
ul li {
	padding-left: 12px;
	background: url(../images/layout/bullet_disc.gif) no-repeat 0 0.6em;
}

ul.disc li {
	background: url(../images/layout/bullet_disc.gif) left 7px no-repeat;
}
ul.circle li {
	background: url(../images/layout/bullet_circle.gif) left 7px no-repeat;
}
ol {
	margin-left: 36px;
	margin-bottom: 15px;
}
ol li {
	padding-left: 0;
	list-style: decimal;
	background: none;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 4px;
}
dl {
	margin-left: 0;
	margin-bottom: 15px;
}
dl dl {
	margin-left: 30px;
}
dt {
	font-weight: bold;
	margin-bottom: 8px;
}
dd {
	margin-bottom: 12px;
}
/* Table of Contents */
ul.toc {
	border-left: 4px solid #dbe3e9;
	margin-left: 1px;
	padding-left: 0px;
	margin-bottom: 20px;
}
ul.toc li {
	background: none;
	padding-left: 10px;
}
ul.toc ol li {
	padding-left: 0;
}
ul.toc a {
	padding-right: 9px;
	background: url(../images/layout/link_arrow_white.gif) right 0.35em no-repeat;
}

/**** Images *****/
image {
	display: block;
}
.image-left, .image-right {
	background: url(../images/layout/corner_white.png) no-repeat 100% 100%;
	padding: 0 2px 2px 0;
}
.image-left {
	float: left;
	margin: 0 12px 6px 0;
}

.image-right {
	float: right;
	margin: 0 0 6px 12px;
}

/**** Forms *****/

#main form {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	clear: both;
}
#main form fieldset {
	border: 1px solid #ccc;
	padding: 15px 10px;
	margin-bottom: 15px;
	float: left;
	width: 680px;
}
#main form fieldset.row-submit {
	border: none;
	padding: 0;
}
#main input {
	margin-bottom: 4px;
}
#main label {
	margin: 0 4px 4px 0;
	vertical-align: top;
}
#main select {
	min-width: 200px;
}
#main legend {
	padding: 0 5px;
	font-weight: bold;
}

/* secondary form */

#secondary .widget-container.widget_frm_show_form {
	width: 180px;
}

#secondary .widget-container.widget-container.widget_frm_show_form h3 {
	color: #B21919;
	font-size: 1.2em;
	font-weight: bold;
}

#secondary .widget-container.widget-container.widget_frm_show_form label {
	display: none;
}

#secondary .widget-container.widget-container.widget_frm_show_form .frm_form_field input.text {
	border: 1px solid #ccc;
}

#secondary .widget-container.widget-container.widget_frm_show_form p.submit {
	margin: 0;
	padding: 0;
}

/**** Layout *****/
#wrap {
	float: left;
	width: 100%;
	clear: both;
	border-top: 1px solid #3F3F40;
}

#content {
	width: 960px;
	margin: 18px auto;
}
#main, #secondary, #section-navigation, #section-navigation-wrap {
	float: left;
}
.secondary-section, .secondary-photo {
	float: left;
	width: 100%;
}

/* twocolumn pages */
#main {
	width: 665px;
	float: right;
	min-height: 400px;
	margin-left: 20px;
}

#main .entry-content {
		font-size: 1.2em;
}

#secondary {
	width: 200px;
	margin: 0 0 20px 0;
}
#section-navigation {
	width: 200px;
	padding: 0;
	margin: 0 0 20px 0;
}

/* onecolumn pages */
.onecolumn #main {
	width: 960px;
}

/* twocolumn pages with secondary on the left */
.twocolumn-left #main {
	float: right;
	margin-right: 70px;
}

.twocolumn-left #secondary, .twocolumn-left #section-navigation {
	float: left;
}

/* onecolumn pages with no title and larger content area for 3d */

.blank #content, .onecolumn.blank #main {
	width: 1024px;
	margin: 0 auto;
}

body.page-template-page-full-blank-php {
	background-image: none;
}

body.page-template-page-full-blank-php #cu-identity, body.page-template-page-full-blank-php #footer, body.page-template-page-full-blank-php #edublogs {
	display: none;
}

/**** Header *****/
#header {
	float: left;
	width: 960px;
	height: 140px;
	position: relative;
}

#header h1 {
	display: block;
	float: left;
	background: url(../images/layout/logo.gif) no-repeat 0 0;
	margin: 0 0 20px 0;
	width: 290px;
}

#header h1 a {
	display: block;
	width: 290px;
	height: 110px;
}

#header .textwidget {
	position: absolute;
	width: 203px;
	height: 68px;
	top: 40px;
	right: 70px;
}

#main-navigation {
	float: left;
	width: 160px;
	clear: both;
	margin: 0 0 50px 0;
	padding: 0 0 0 44px;
	background: transparent url(../images/layout/nav_bg.gif) repeat-y 0 0;
}

#main-navigation ul {
	margin: 0;
	padding: 0;
}
#main-navigation li {
	background-image: none;
	padding: 11px 0 18px 0;
	margin: 0;
	font-size: 1.3em;
	line-height: 1.0em;
	text-transform: uppercase;
}

#main-navigation li a {
	text-decoration: none;
}

#main-navigation li a:hover, #main-navigation li.current-menu-item a {
	color: #333;
}
/* Home page */

#featured-posts {
 float: left;
 width: 100%;
 margin-top: 20px;
}

#featured-posts .post h3 {
	font-size: 1.4em;
	padding-left: 12px;
	background: url(../images/layout/bullet_disc.gif) no-repeat 0 0.6em;
}

#featured-posts h3.cat-name {
	font-size: 1.7em;
	text-transform: uppercase;
}

#featured-posts h3.cat-name a {
	color: #E07A18;
	text-decoration: none;
}


#main .entry-date {
	display: block;
	float: left;
	width: 36px;
	margin-right: 15px;
	text-align: center;
	background: #E9E2D7;
	border: 1px solid #fff;
	font-size: 0.9em;
}

#main .entry-date .month {
	display: block;
	padding: 3px 2px 0 2px;
}

#main .entry-date .day, #main .entry-date .year {
	display: block;
	padding: 2px;
}

#main .entry-date .year {
	background: #B12031;
	color: #fff;
}

#main .attachment-post-thumbnail {
	float: left;
	margin: 0 10px 5px 0;
	width: 40px;
	height: 40px;
}

/* grid */
		
.columns {
	float: left;
	width: 100%;
	clear: both;
}
.col {
	float:left;
	display:inline;
	width:48%;
	margin-left:4%;
}
.three .col {
	width:30%;
	margin-left:5%;
}
.four .col {
	width:22%;
	margin-left:4%;
}
 .col.first {
	 margin-left: 0;
 }


/**** Footer *****/ 

#footer {
	float: left;
	clear: both;
	width: 100%;
	padding: 40px 0 20px 0;
}
#footer-content {
	width: 960px;
	margin: 0 auto;
}
#footer p {
	margin: 0;
}
#footer-left {
	float: left;
	width: 195px;
	margin-right: 20px;
}

#footer-left .widget-container {
	float: left;
	margin: 0;
	padding: 5px 0 0 0;
}
#footer-right, #footer-right .widget-container {
	float: left;
	margin: 0;
}
#footer ul {
	float: left;
	display: block;
	margin: 0 0 10px 0;
}
#footer ul.meta {
	float: right;
}
#footer li {
	padding: 0 13px 0 10px;
	margin: 0;
	float: left;
	font-size: 0.99em;
	background: transparent url(../images/layout/icon_footer_listdiv.gif) 100% 0.5em no-repeat;
}
#footer .first {
	padding-left: 0;
}

#edublogs {
	float: left;
	clear: both;
	width: 100%;
	padding: 10px 0;
	font-size: 0.90em;
	color: #ccc;
	text-align: center;
}

#edublogs a{
	color: #ccc;
}

/**** Misc *****/

#skipnav, #header h1 strong {
	position: absolute;
	top: -1000em;
	left: -1000em;
	}
	
hr {
	display: none;
}

.inline-note {
	font-size: 0.833em;
	background: #f7f7f6 url(../images/layout/pencil.gif) left 2px no-repeat;
	color: #8c6522;
	border: 1px solid #f7f7f6;
	padding: 0px 4px 0px 15px;
}

/* Project CSS ************************************* */

/* Project-specific styles would appear below, with this space used for notes.
   A few useful goodies are already below to help get started...
   */

#search-form {
	top: 8px; 
	width: 330px;
}

#search-form label {
	color: #fff; 
}
#search-form-query {
	font-size: 1em;
}
#search-form-submit {
	padding: 0 2px 3px 2px;
	font-size: 1.1em;
}

#search-filters .filter {
	float: left;
	padding-top: 5px;
}

.widget-container {
	margin-bottom: 20px;
}

.widget-container ul {
	margin-left: 0;
}

.widget-container li {
	margin-bottom: 8px;
}

h1.page-title, h2.page-title {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 2.2em;
	color: #E07A18;
}

h2.page-title {
}

h2.page-title a {
	text-decoration: none;
	color: #E07A18;
}

span.edit-link {
	clear: both;
	width: 100%;
	display: block;
}

/* featured */

#featured .meta {
	float: right;
	width: 210px;
}

.home #featured .image-meta {
	float: left;
	margin: 0 0 15px 0;
	padding: 5px;
	background: url(../images/layout/featured_bg.png);
}

#featured img {
	width: 100%;
	margin-bottom: 10px;
}

.home #featured img {
	border: 1px solid #94A7C5;
	margin-bottom: 0;
	width: 347px;
}

.home #featured h2 {
	color: #A8440D;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 2.6em;
	margin-bottom: 10px;
}

.home #featured a {
	color: #fff;
}

.home #featured a:hover {
	color: #A8440D;
}

#featured ul {
	margin: 0;
	padding: 0;
}

#featured li {
	background: url(../images/layout/bullet_secondary.gif) no-repeat 0 2px;
	padding: 0 0 2px 20px;
	font-weight: bold;
	line-height: 1.2em;
}

.home #featured li {
	background: url(../images/layout/bullet_home.gif) no-repeat 0 2px;
	padding: 0 0 4px 25px;
	line-height: 1.8em;
}

.home .widget-container {
	margin: 0;
	padding: 0;
}

.textwidget p {
	line-height: 1.8em;
}

#secondary .widget_text {
  width: 86%;
  font-size: 0.96em;
  line-height: 0.8em;
  color: #333;
}

.featured-sidebar {
  margin-bottom: 50px;
}
/*  image gallery pages */

.gallery-listing {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	clear: both;
}

.gallery-listing li {
	margin: 0 0 15px 0;
	padding: 0;
	background-image: none;
	float: left;
	width: 100%;
}

.gallery-listing.two-column li {
	width: 50%;
	margin: 0 0 12px 0;
	font-style: italic;
	color: #333;
}

ul.gallery-listing li a {
	text-decoration: none;
}

.gallery-listing img {
	width: 300px;
	height: 168px;
	float: left;
	margin: 0 15px 0 0;
}

.alignright {
  float: right;
  margin: 0 0 15px 15px;
}

.alignleft {
  float: left;
  margin: 0 15px 15px 0;
}

span.see-all-category-posts {
	font-size: 0.7em;
	text-transform: lowercase;
}

span.see-all-category-posts a {
	padding-left: 4px;
}