
/**** Body *****/

/* Font size is built around a 12px default to minimize 
   size-inheritance issues for content contributers. A base
   definition of 75% produces consistent results in all major
   browsers (from the 16px browser default) and scales consistently
   under zooming.
   */

body {
	background: #02640f url(../images/sfp/bg_tile3.jpg) 0 0;
	padding: 0;
	margin: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%; /* 12px *//* font size key in em:
		0.750em = 09px
		0.833em = 10px
		0.917em = 11px
		default = 12px
		1.083em = 13px
		1.167em = 14px
		1.250em = 15px
		1.333em = 16px
		1.500em = 18px
		1.667em = 20px
		1.833em = 22px
		2.000em = 24px
		3.000em = 36px
	*/
}
/**** Tables *****/
 
/* Basic tables will have a light 1-pixel border grid, though a 
   combination of table border and cell border. Table headers
   have a light gray background, with an optional cross-browser
   gradient, which can be disabled by commenting it out in TH.
   */

table {
	width: 100%;
	margin-bottom: 15px;
	border: solid #ddd;
	border-width: 1px 1px 0 0;
	border-collapse: collapse;
}
table table {
	margin-bottom: 0; /* removed margin in nested tables */
}
caption {
	font-style: italic;
	color: #777;
	margin: 0.2em 0;
	line-height: 1.6em;
}
td, th {
	border: solid #ddd;
	border-width: 0 0 1px 1px;
	padding: 6px;
	vertical-align: top;
}
th {
	color: #444;
	border-left-color: #ccc;
	border-bottom-color: #999;
	font-weight: bold;
	text-align: center;
		
	/* optional gradient */
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f8f5', endColorstr='#e2e1de');*/ /* disabled due to IE8 bugs */
	background: #f9f8f5 url(../images/layout/ie_tableheader.gif) 0 bottom repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f8f5), to(#e2e1de));
	background: -moz-linear-gradient(top, #f9f8f5, #e2e1de);
}
th p {
	margin-bottom: 0; /* removes <p> margin if used in table headers */
}
/**** Text Styles ****/
 
/* Basic paragraph and header styles. Currently using Georgia
   for h1-h3 and some blue coloration, but this could be stripped
   out and moved to site-specific styles.
   */

p, td, th, li, dt, dd {
	line-height: 1.6em;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 12px;
	color: #386684;
}
h1 {
	font-size: 2.2em;
	font-family: Arial, Helvetica, sans-serif;
}
h2 {
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
}
h3 {
	font-size: 1.5em;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}
h4 {
/* default bold 12px */
}
h5 {
	font-weight: normal;
	color: #386684;
	margin-bottom: 5px;
}
h6 {
	font-weight: normal;
	font-style: italic;
	margin-bottom: 5px;
}
p {
	margin-bottom: 15px;
}
p.last {
	margin-bottom: 0;
}
strong {
	font-weight: bold;
}
blockquote, pre {
	margin-left:2em;
	padding-left: 1em;
	border-left:1px solid #ccc;
	font-style: italic;
	line-height: 1.4em;
}
pre, code {
	font-family: mono-space, monospace;
	font-style: normal;
	margin-bottom: 15px;
}
abbr, acronym {
	text-transform:uppercase;
	border-bottom: 1px dotted #000;
	letter-spacing: 1px;
}
abbr[title], acronym[title] {
	cursor:help;
}
sup, sub {
	font-size:.8em;
	position: relative;
}
sup {
	top: -0.4em;
}
sub {
	top: 0.2em;
}
em, cite {
	font-style:italic;
}
.clear {
	clear: both;
	width: 100%;
}
p.note {
	padding: 10px;
	border: 1px solid #ccc;
}
.more {
	padding-right: 8px;
	background: transparent url(../images/layout/arrows/right_red.gif) no-repeat 100% 80%;
}
.text-highlight-red {
	background: #f0beb6;
}

.text-highlight-yellow {
	background: #f0ee9f;
}

.text-highlight-green {
	background: #c5ee9f;
}
/**** Links ****/
 
/* Using classic Cornell red as the default (but no border styles).
   */

/* red
a {
	color: #b31b1b;
}
a:visited {
	color: #b31b1b;
}
a:hover {
	color: #f00;
}
a:active {
	color: #e5cfcf;
}
*/
a {
	color: #104378;
}
a:visited {
	color: #104378;
}
a:hover {
	color: #64b1e4;
}
a:active {
	color: #64b1e4;
}

/**** Lists ****/
 
/* Unordered lists use a custom square bullet as default. This will carry
   through to nested lists as well. However, a circle and disc bullet are 
   also available through UL classes below. This allows designers to 
   customize the bullets in their basic lists (and more can be added later).
   */

ul {
	margin-left: 18px;
	margin-bottom: 15px;
}
ul li {
	padding-left: 18px;
	background: url(../images/layout/bullet_square.gif) no-repeat left 7px;
}
ul.disc li {
	background: url(../images/layout/bullet_disc.gif) left 7px no-repeat;
}
ul.circle li {
	background: url(../images/layout/bullet_circle.gif) left 7px no-repeat;
}
ol {
	margin-left: 36px;
	margin-bottom: 15px;
}
ol li {
	padding-left: 0;
	list-style: decimal;
	background: none;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 4px;
}
dl {
	margin-left: 0;
	margin-bottom: 15px;
}
dl dl {
	margin-left: 30px;
}
dt {
	font-weight: bold;
	margin-bottom: 8px;
}
dd {
	margin-bottom: 12px;
}
/* Table of Contents */
ul.toc {
	border-left: 4px solid #dbe3e9;
	margin-left: 1px;
	padding-left: 0px;
	margin-bottom: 20px;
}
ul.toc li {
	background: none;
	padding-left: 10px;
}
ul.toc ol li {
	padding-left: 0;
}
ul.toc a {
	padding-right: 9px;
	background: url(../images/layout/link_arrow_white.gif) right 0.35em no-repeat;
}

/**** Images *****/
image {
	display: block;
}
.image-left, .image-right {
	background: url(../images/layout/corner_white.png) no-repeat 100% 100%;
	padding: 0 2px 2px 0;
}
.image-left {
	float: left;
	margin: 0 12px 6px 0;
}

.image-right {
	float: right;
	margin: 0 0 6px 12px;
}

/**** Forms *****/
 
/* Forms are available for use without much CSS layout to allow for 
   content contributers to design them freely. Classes can then be
   made available to apply different design or layout "themes" to 
   a form. The "basic" theme below is a simple two column alignment.
   */

#wrap form {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	clear: both;
}
#wrap form fieldset {
	border: 1px solid #ccc;
	padding: 15px 10px;
	margin-bottom: 15px;
	float: left;
	width: 680px;
}
#wrap form fieldset.row-submit {
	border: none;
	padding: 0;
}
#wrap input {
	margin-bottom: 4px;
}
#wrap label {
	margin: 0 4px 4px 0;
	vertical-align: top;
}
#wrap select {
	min-width: 200px;
}
#wrap legend {
	padding: 0 5px;
	font-weight: bold;
}
/* Form Theme: Basic */

#wrap form.basic p {
	float: left;
	clear: both;
	display: block;
}
#wrap form.basic input, #wrap form.basic textarea {
	float: left;
	clear: right;
	margin-left: 0;
}
#wrap form.basic label {
	display: block;
	float: left;
	clear: left;
	width: 125px;
	margin: 1px 10px 0 0;
	text-align: right;
	line-height: 1.5em;
}
#wrap form.basic select {
}
#wrap form.basic input[type="text"], #wrap form.basic input[type="password"], #wrap form.basic textarea {
	outline: 2px solid transparent;
	border: 1px solid #999;
	border-top-color: #000;
	padding: 2px;
}
#wrap form.basic input[type="text"]:focus, #wrap form.basic input[type="password"]:focus, #wrap form.basic textarea:focus {
	background: #f3f6f8;
	outline: 2px solid #d1dce3;
	border: 1px solid #000;
}
#wrap form.basic input[type="submit"], #wrap form.basic input[type="reset"] {
	border: 1px solid #999;
	border-bottom-color: #000;
	padding: 3px 6px;
	background: #ededed;
	cursor: pointer;
	
	/* optional gradient */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f8f5', endColorstr='#e2e1de');
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f8f5), to(#e2e1de));
	background: -moz-linear-gradient(top, #f9f8f5, #e2e1de);
}
#wrap form.basic input[type="submit"]:hover, #wrap form.basic input[type="reset"]:hover {
	background: #f5f5f5;
}
#wrap form.basic input[type="submit"]:active, #wrap form.basic input[type="reset"]:active {
	background: #e5e5e5;
}



/**** Component Forms *****/
 
/* activate with form.iws-component
   */


/* Standardize Element Sizing */
#wrap form.iws-component input[type="text"], 
#wrap form.iws-component input[type="password"], 
#wrap form.iws-component textarea, 
#wrap form.iws-component select, 
#wrap form.iws-component label, 
#wrap form.iws-component div, 
#wrap form.iws-component h4, 
#wrap form.iws-component p {
	-ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Fieldset Toolbar */
#wrap form.iws-component .form-tools {
	float: left;
	width: 100%;
	margin: -5px 0 20px;
	padding: 1px 0;
	border: 1px solid #e1e0d0;
	border-bottom-color: #cbcabc;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f1', endColorstr='#e4e3d3');
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f1), to(#e4e3d3));
	background: -moz-linear-gradient(top, #f6f6f1, #e4e3d3);
}
#wrap form.iws-component .form-tools p,
#wrap form.iws-component .form-tools ul {
	float: right;
	margin: 0 6px;
	font-size: 0.917em;
}
#wrap form.iws-component .form-tools li {
	background: none;
	float: left;
	padding: 0 12px;
	border-right: 1px solid #e0dfcf;
}
#wrap form.iws-component .form-tools li.last {
	padding-right: 6px;
	border-right: 0;
}

/* Tag Definitions */
#wrap form.iws-component p {
	padding: 0 6px;
}
#wrap form.iws-component h4 {
	float: left;
	width: 100%;
	margin: 15px 0 10px;
	padding: 4px 6px 3px;
	background: #f7f9fa;
	border-bottom: 1px solid #e5ebef;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#wrap form.iws-component h4.first {
	margin-top: 0;
}
#wrap form.iws-component div.last {
	margin-bottom: 0 !important;
}
#wrap form.iws-component legend a {
	text-decoration: none;
	font-weight: normal;
	background: #f3f5f7;
	margin-left: 2px;
	padding: 0 2px;
}
#wrap form.iws-component label {
	float: left;
	margin: 0;
	padding-top: 0.3em;
}
#wrap form.iws-component input[type="text"], 
#wrap form.iws-component input[type="password"] {
	height: 1.88em;
	width: 26.2em;
	float: left;
}
#wrap form.iws-component input[type="radio"], 
#wrap form.iws-component input[type="checkbox"] {
	float: left;
}
#wrap form.iws-component textarea {
	font-family: Lucida Grande, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 1.0em;
	padding: 4px;
	width: 24em;
	height: 130px;
	float: left;
	margin-bottom: 4px;
}
#wrap form.iws-component select {
	margin: 1px 0 4px;
	width: 26.2em;
	min-width: 0;
	float: left;
}


/* Notes, Errors, and User Messages */
#wrap form.iws-component .form-note {
	float: left;
	width: 26.2em;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: -4px 0 0 36%;
	padding: 0px 3px 1px;
	background: #f5f3e5 url(../images/layout/note_shadow_reverse.gif) 0 bottom repeat-x;
	border: 1px solid #edebde;
	border-top: 0;
	color: #939289;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
	border-radius: 0 0 6px 6px;
}
#wrap form.iws-component p.form-note {
	width: auto;
	max-width: 38.6em;
	margin: 2px 0 0 36%;
	padding: 3px 5px 4px;
	border: 1px solid #edebde;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#wrap form.iws-component div.error {
	float: left;
	clear: both;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: 4px 10px 10px 36%;
	padding: 4px 10px 4px 24px;
	background: #f3e2d9 url(../images/layout/icon_error.gif) 7px 0.6em no-repeat;
	border: 1px solid #e1a39c;
	color: #af1111;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#wrap form.iws-component label.error, 
#wrap form.iws-component .alert {
	color: #af1111;
	font-weight: bold;
}
#wrap form.iws-component div.form-feedback {
	float: left;
	width: 100%;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: 0 0 15px;
	padding: 9px 12px 10px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
#wrap form.iws-component div.form-feedback.warning {
	background: #f6f4e2;
	border: 1px solid #ebddbd;
	border-bottom-color: #d9ccae;
	color: #59453f;
}
#wrap form.iws-component div.form-feedback.info {
	background: #e2eef6;
	border: 1px solid #bde3eb;
	color: #547097;
}
#wrap form.iws-component div.form-feedback.success {
	background: #e4f8df url(../images/layout/icon_check.gif) 8px 0.95em no-repeat;
	border: 1px solid #c3eca7;
	color: #50914f;
	padding-left: 24px;
}
#wrap form.iws-component div.form-feedback p {
	margin-bottom: 0;
	padding: 0;
}
/*
#wrap form.iws-component div.form-feedback.warning strong {
	color: #af1111;
}
*/

/* IWS Tooltip Support */
#wrap form.iws-component span.tooltip {
	border: 0;
	float: left;
	width: 14px;
	height: 16px;
	padding-right: 3px;
	background: transparent url(../images/layout/icon_question.png) 0 0 no-repeat;
}
#wrap form.iws-component span.tooltip.info {
	background: transparent url(../images/layout/icon_info.png) 0 0 no-repeat;
}
#wrap form.iws-component span.tooltip:hover {
	cursor: pointer;
}


/* Default Input Size Choices */
#wrap form.iws-component .input-s input[type="text"], 
#wrap form.iws-component .input-s input[type="password"] {
	width: 2.8em;
}
#wrap form.iws-component .input-m input[type="text"], 
#wrap form.iws-component .input-m input[type="password"], 
#wrap form.iws-component .input-m select, 
#wrap form.iws-component .input-m div.form-note {
	width: 13em;
}
#wrap form.iws-component .input-l input[type="text"], 
#wrap form.iws-component .input-l input[type="password"], 
#wrap form.iws-component .input-l select, 
#wrap form.iws-component .input-l div.form-note {
	width: 62.5%;
	max-width: 38.6em;
}
#wrap form.iws-component .input-s div.form-note {
	width: auto;
	max-width: 35.9em;
	min-height: 1.88em;
	float: left;
	margin: 0;
	padding: 1px 4px;
	border: 1px solid #edebde;
	border-left: 0;
	-moz-border-radius: 0 6px 6px 0;
	-webkit-border-radius: 0 6px 6px 0;
	border-radius: 0 6px 6px 0;
}
@-moz-document url-prefix() { /* FF */
	#wrap form.iws-component .input-s div.form-note {
		min-height: 1.5em;
	}
}
#wrap form.iws-component .input-s div.error {
	margin-top: 0;
}
#wrap form.iws-component .textarea-s textarea {
	height: 40px;
	overflow: hidden;
}
#wrap form.iws-component .textarea-m textarea {
	height: 70px;
}
#wrap form.iws-component .textarea-l textarea {
	width: 62.5%;
	max-width: 600px;
	height: 250px;
}
#wrap form.iws-component .textarea-l div.form-note {
	width: 62.5%;
	max-width: 600px;
}
#wrap form.iws-component .input-s select {
	width: 4em;
}

/* Option Lists */

#wrap form.iws-component ul.form-list {
	float: left;
	margin: 2px 0 10px 1px;
	width: 62.5%;
}
#wrap form.iws-component ul.form-list li {
	background: none;
	padding: 0;
	margin: 0 0 1px 0;
	width: 100%;
	float: left;
	line-height: 1.4em;
}
#wrap form.iws-component ul.form-list li label {
	padding: 0;
}
#wrap form.iws-component ul.form-list li input[type="radio"], 
#wrap form.iws-component ul.form-list li input[type="checkbox"] {
	margin: 1px 4px 0 0;
}


/* Left-Right Adjustments */
#wrap form.iws-component .form-pair {
	float: left;
	clear: left;
	width: 100%;
	margin-bottom: 5px;
}
#wrap form.iws-component .form-left {
	float: left;
	width: 35%;
	margin-right: 1%;
}
#wrap form.iws-component .form-left label {
	/*width: 100%;*/
	float: right;
	/*text-align: right;*/
}
#wrap form.iws-component .form-left input, 
#wrap form.iws-component .form-left select {
	float: right;
}


/* Tight-Loose Margins */
#wrap form.iws-component .form-pair.tight {
	margin-bottom: 1px;
}
#wrap form.iws-component .form-pair.tight input, 
#wrap form.iws-component .form-pair.tight select {
	margin-bottom: 0;
}
#wrap form.iws-component .form-pair.loose {
	margin-bottom: 20px;
}
#wrap form.iws-component .form-pair.loose input, 
#wrap form.iws-component .form-pair.loose select {
	margin-bottom: 0;
}
#wrap form.iws-component .form-pair.loose div.form-note {
	margin-top: 0;
}

/**** Layout *****/
#wrap {
	float: left;
	width: 100%;
	clear: both;
	background: #fff;
}

#content {
	width: 960px;
	margin: 0 auto;
}
#main, #secondary, #section-navigation, #section-navigation-wrap {
	float: left;
}
.secondary-section, .secondary-photo {
	float: left;
	width: 100%;
}

/* twocolumn pages */
#main {
	width: 650px;
	float: right;
	padding: 10px 0 15px 0;
	margin-right: 15px;
}

#secondary {
	width: 273px;
	padding: 10px 0 15px 8px;
}
#section-navigation {
	width: 273px;
	padding: 0 0 20px;
	margin-left: 0;
}

/* onecolumn pages */
.onecolumn #main {
	width: 930px;
	margin: 0 15px;
}

/* twocolumn pages with secondary on the right */
.twocolumn-right #main {
	float: left;
	margin: 0 0 0 15px;
}
.twocolumn-right #secondary {
	padding: 10px 8px 15px 0;
}

.twocolumn-right #secondary, .twocolumn-right #section-navigation {
	float: right;
}

/**** Header *****/
#header {
	float: left;
	width: 100%;
	/*border-top: 1px solid #ccc;*/ /* optional border for white Cornell banners */
}

#navigation {
	float: left;
	width: 100%;
	clear: both;
	background: #ccc;
}

#identity, #navigation ul {
	width: 960px;
	margin: 0 auto;
}
#navigation ul ul {
	width: auto;
}

#identity h1 {
	height: 60px;
	line-height: 60px;
	margin: 0;
	padding: 0;
}

#navigation li {
	float: left;
	background-image: none;
	margin: 0;
	padding: 0;
}

#navigation li a {
	float: left;
	padding: 4px 10px;
	text-decoration: none;
	font-weight: bold;
}

#navigation li a:hover, #navigation li a:active {
	background: #052646;
}

/* grid */
		
.columns {
	float: left;
	width: 100%;
	clear: both;
}
.col {
	float:left;
	display:inline;
	width:48%;
	margin-left:4%;
}
.three .col {
	width:30%;
	margin-left:5%;
}
.four .col {
	width:22%;
	margin-left:4%;
}
 .col.first {
	 margin-left: 0;
 }


/**** Footer *****/ 

#footer {
	float: left;
	clear: both;
	width: 100%;
	padding: 20px 0;
	border-top: 1px solid #ccc;
}
#footer-content {
	width: 960px;
	margin: 0 auto;
}
#footer p {
	font-size: 0.917em;
	margin: 0;
}
#footer-left {
	float: left;
}
#footer-right {
	float: right;
	text-align: right;
}
#footer ul {
	float: left;
	display: block;
	margin-left: 0;
}
#footer li {
	font-size: 0.917em;
	padding: 0 13px 0 10px;
	margin: 0;
	float: left;
	background: transparent url(../images/layout/icon_footer_listdiv.gif) right center no-repeat;
}
#footer .first {
	padding-left: 0;
}
#footer .last {
	background: none;
}

/**** Misc *****/

.inline-note {
	font-size: 0.833em;
	background: #f7f7f6 url(../images/layout/pencil.gif) left 2px no-repeat;
	color: #8c6522;
	border: 1px solid #f7f7f6;
	padding: 0px 4px 0px 15px;
}






/* Project CSS ************************************* */

/* Project-specific styles would appear below, with this space used for notes.
   A few useful goodies are already below to help get started...
   */

hr {
	display: none;
}
#main hr {
	display: block;
	margin: 0 0 15px;
	background: #F1F1F1;
	border: none;
	height: 3px;
}
#main hr.dark {
	background: #DCDCDC;
}
#main hr.thin {
	background: #DCDCDC;
	height: 1px;
}

#wrap, #header, #navigation {
	background: transparent;
}
#header h1 {
	position: absolute;
	top: -2000px;
	left: -2000px;
}

#campaign {
	float: left;
	width: 960px;
	height: 183px;
	margin: 0;
	background: #fff;
	/*background: #fff url(../images/sfp/banner_sfp1.jpg) 3px 0 no-repeat;*/
}
#section-title { /* vertical centering aid */
	display: table;
	height: 100%;
	float: right;
	margin-right: 30px;
}
#campaign h2 {
	/*width: 280px;*/
	padding: 0;
	margin: 0;
	font-size: 2.5em;
	line-height: 1.1em;
	font-weight: normal;
	display: table-cell;
	vertical-align: middle;
	color: #fff;
}
#campaign img {
	margin: 0 3px;
}
#content-wrap {
	float: left;
	width: 960px;
	background: #fff;
}

/* breadcrumb */

#breadcrumbs {
	display: block;
	width: 100%;
	margin: 0 0 10px;
}
#breadcrumbs li {
	display: inline;
	margin: 0 6px 0 0;
	padding: 0;
	background: none;
}
#breadcrumbs li a {
	font-size: 0.917em;
	padding: 0 10px 0 0;
	background: transparent url(../images/layout/icon_arrow_darkgrey.gif) right 0.35em no-repeat;
}
#breadcrumbs .breadcrumb-active {
	font-size: 0.917em;
}

/* navigation */

#navigation {
/*
	margin-top: 3px;
	background: none;
*/
}
#navigation ul {
	display: block;
	width: 954px;
	height: 40px;
	background: #fff;
	padding: 3px;
}
#navigation li {
	background: #083a6b;
	width: 133px;
	border-right: 3px solid #fff;
	font-family: Trebuchet MS, Arial, sans-serif;
	font-size: 1.417em;
}
#navigation li.first {
	width: 136px;
}
#navigation li.last {
	width: 135px;
	border-right: 0;
}
#navigation li a {
	color: #fff;
	padding: 0;
	width: 100%;
	text-align: center;
	line-height: 40px;
}

/* nav widths (!important used to work around an IE6 bug) */
#navigation li.nav1 {width: 97px !important;}	/* Home */
#navigation li.nav2 {width: 132px !important;}	/* Quarterly */
#navigation li.nav3 {width: 95px !important;}	/* News */
#navigation li.nav4 {width: 102px !important;}	/* Events */
#navigation li.nav5 {width: 110px !important;}	/* Projects */
#navigation li.nav6 {width: 132px !important;}	/* Resources */
#navigation li.nav7 {width: 140px !important;}	/* About */
#navigation li.nav8 {width: 115px !important;}	/* Contact */



/* Navigation: Northeast Beginning Farmers Project */
/* nav widths (!important used to work around an IE6 bug) */
body.bfp #navigation li.nav1 {width: 83px !important;}	/* Home */
body.bfp #navigation li.nav2 {width: 90px !important;}	/* Events */
body.bfp #navigation li.nav3 {width: 150px !important;}	/* Who Can Help? */
body.bfp #navigation li.nav4 {width: 150px !important;}	/* Online Courses */
body.bfp #navigation li.nav5 {width: 130px !important;}	/* Publications */
body.bfp #navigation li.nav6 {width: 95px !important;}	/* Videos */
body.bfp #navigation li.nav7 {width: 140px !important;}	/* About */
body.bfp #navigation li.nav8 {width: 95px !important;}	/* Contact */



/* main body */
h2 {
	font-family: Trebuchet MS, Arial, sans-serif;
	font-size: 1.833em;
	text-transform: uppercase;
	color: #104378;
}
h2 a, h2 a:hover, h2 a:active, h2 a:visited {
	color: #104378;
	text-decoration: none;
}
h3 {
	font-family: Trebuchet MS, Arial, sans-serif;
	font-size: 1.417em;
	color: #333;
}
h4 {
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.0em;
	color: #333;
	margin-bottom: 10px;
}

/* secondary */
.color-box, #upcoming_events_calendar, #upcoming-events {
	width: 246px;
	margin: 0 0 12px;
	padding: 0 10px;
	background: #fffce9;
	border: 3px solid #e3e0cf;
	float: left;
}
.color-box h3, #upcoming_events_calendar h3, #upcoming-events h3 {
	width: 252px;
	min-height: 10px;
	margin: -3px 0 8px -13px;
	padding: 8px 10px;
	background: #87836a;
	color: #fff;
	font-family: Trebuchet MS, Arial, sans-serif;
	font-size: 1.417em;
	line-height: 1.2em;
}
.color-box p {
	margin-bottom: 10px;
}
.color-box img {
	margin-bottom: 8px;
}
.color-box img.alignright {
	margin-left: 8px;
}

#main .color-box {
	margin: 2px 0 12px 26px;
	float: right;
}

#main .color-box.full {
	width: 624px;
	margin: 0 0 12px 0;
	float: left;
}
#main .color-box.full h3 {
	width: 630px;
}
.onecolumn #main .color-box.full {
	width: 904px;
}
.onecolumn #main .color-box.full h3 {
	width: 910px;
}
#main .color-box.sd-box {
	width: 644px;
	padding: 0;
	margin-bottom: 15px;
}
#main .color-box.sd-box h3 {
	margin-left: -3px;
	margin-bottom: 0;
}
.onecolumn .color-box.full.sd-box {
	width: 924px;
}


/* box colors */
.color-box.gray { background: #f5f5f5; border: 3px solid #dcdcdc; }
.color-box.gray h3 { background: #7d7d7d; }

.color-box.blue { background: #f2f4f7; border: 3px solid #d0d9e2; }
.color-box.blue h3 { background: #104378; }

.color-box.green { background: #fffce9; border: 3px solid #cde0be; }
.color-box.green h3 { background: #067014; }

.color-box.teal { background: #f2f7f6; border: 3px solid #d0e2df; }
.color-box.teal h3 { background: #369086; }

.color-box.cyan { background: #f1f5f8; border: 3px solid #cddde6; }
.color-box.cyan h3 { background: #5baddd; }

.color-box.yellow { background: #fffce9; border: 3px solid #fde59f; }
.color-box.yellow h3 { background: #f8b608; }


#upcoming_events_calendar, #upcoming-events { background: #f2f7f6; border: 3px solid #d0e2df; }
#upcoming_events_calendar h3, #upcoming-events h3 { background: #369086; }

/* box designs */

/* general message */
.color-box p.message {
	font-size: 1.167em;
	line-height: 1.5em;
	color: #392b06;
}

/* local help */
.color-box.local-help {
	/*background: #fffce9 url(../images/sfp/box_map_sm.png) no-repeat right 85%;*/
	background: #fffce9;
	position: relative;
}
.color-box.local-help p {
	font-size: 1.25em;
	line-height: 1.5em;
	padding: 0 100px 0 0;
	color: #392b06;
	position: relative;
	z-index: 2;
}
.color-box.local-help a, .local-help a:hover, .local-help a:visited {
	color: #392b06;
	text-decoration: none;
	display: block;
}
.color-box.local-help .decal {
	background: transparent url(../images/sfp/box_map_crop.png) no-repeat right 15px;
	position: absolute;
	width: 256px;
	height: 100%;
	z-index: 1;
}

/* sign up for e-news */
.color-box.e-news {
	height: 123px;
	background: #104378 url(../images/sfp/box_signup.jpg) no-repeat 0 bottom;
}
.color-box.e-news p {
	font-size: 1.25em;
	line-height: 1.6em;
	padding: 0 0 0 120px;
	color: #392b06;
}
.color-box.e-news a, .e-news a:hover, .e-news a:visited {
	color: #392b06;
	text-decoration: none;
	display: block;
}

/* beginning farmers crosslink */
.color-box.bfp-link {
	background: #fffce9 url(../images/sfp/nebf_thumbnail.jpg) no-repeat 95% 40px;
}
.color-box.bfp-link p {
	font-size: 1.167em;
	line-height: 1.5em;
	padding: 0 125px 0 0;
	color: #392b06;
}
.color-box.bfp-link a, .bfp-link a:hover, .bfp-link a:visited {
	color: #392b06;
	text-decoration: none;
	display: block;
}

/* social links */
.color-box.social {
	width: 252px;
	padding: 0 7px;
	background: #fff;
}
.color-box.social img {
	margin: 10px 4px 0;
	display: inline;
}
.color-box.social p {
	margin-bottom: 8px;
}

/* new farmer hub */
.color-box.farmer-hub {
	background: #fffce9;
	position: relative;
}
.color-box.farmer-hub p {
	font-size: 1.25em;
	line-height: 1.5em;
	padding: 0 85px 0 0;
	color: #392b06;
	position: relative;
	z-index: 2;
}
.color-box.farmer-hub a, .farmer-hub a:hover, .farmer-hub a:visited {
	color: #392b06;
	text-decoration: none;
	display: block;
}
.color-box.farmer-hub .decal {
	background: transparent url(../images/sfp/box_cukes.png) no-repeat right 10px;
	position: absolute;
	width: 256px;
	height: 100%;
	z-index: 1;
}

/* local help */
.color-box.trainers-toolbox {
	/*background: #fffce9 url(../images/sfp/box_map_sm.png) no-repeat right 85%;*/
	background: #fffce9;
	position: relative;
}
.color-box.trainers-toolbox p {
	font-size: 1.25em;
	line-height: 1.5em;
	padding: 0 0 0 0;
	color: #392b06;
	position: relative;
	z-index: 2;
}
.color-box.trainers-toolbox a, .trainers-toolbox a:hover, .trainers-toolbox a:visited {
	color: #392b06;
	text-decoration: none;
	display: block;
}
.color-box.trainers-toolbox .decal {
	background: transparent url(../images/sfp/trowel.png) no-repeat right 2px;
	position: absolute;
	width: 256px;
	height: 100%;
	z-index: 1;
}




/* section navigation (filtered nav) */

.widget_pages, .widget_pages li {
	background: none;
	padding-left: 0;
	margin-bottom: 10px;
	line-height: 1.3em;
}
.widget-list, .widget-list ul, .widget_pages ul {
	margin-left: 0;
}
.widget_pages ul.children { 
	display: none;
}
.widget_pages a, .widget_pages a:visited { 
	text-decoration: none;
	color: #b31b1b;
	font-weight: bold;
}
.widget_pages a:hover { 
	color: #f00;
}

/* --- 1 all children expanded --- 
.widget_pages .current_page_ancestor ul.children, .widget_pages .current_page_item ul.children {
    display: block;
    margin-top: 5px;
}*/
/* /1 --- */

/* --- 2 only direct ancestors expanded --- */
.widget_pages .current_page_ancestor>ul.children, .widget_pages .current_page_item>ul.children {
	display: block;
    margin-top: 5px;
}
.widget_pages>ul>li {
	display: none;
}
.widget_pages>ul>li.current_page_ancestor, .widget_pages>ul>li.current_page_item {
	display: block;
}
#breadcrumb {
	width: 100%;
	float: left;
	clear: both;
}
#breadcrumb.widget_pages li {
	display: none;
}
#breadcrumb.widget_pages li.current_page_ancestor, #breadcrumb.widget_pages li.current_page_item, #breadcrumb.widget_pages li.breadcrumb-home {
	display: block;
}
/* /2 --- */

.widget_pages .current_page_ancestor ul.children li, .widget_pages .current_page_item ul.children li {
	padding-left: 18px;
	background: url(../images/layout/icon_arrow_grey.gif) no-repeat 7px 0.4em;
}
.widget_pages .current_page_item a, .widget_pages .current_page_item a:hover {
    color: #333;
}
.widget_pages .current_page_item li a, .widget_pages .current_page_item li a:visited {
    color: #b31b1b;
}
.widget_pages .current_page_item li a:hover {
    color: #f00;
}
.widget_pages ul.children li {
	margin-bottom: 6px;
}
.widget_pages ul.children li a {
    font-weight: normal;
}

/* category listing */
.widget_pages #category-listing ul.children { 
	display: block;
}
#category-listing li.heading { 
	font-weight: bold;
	color: #403f3a;
}
#category-listing ul.children { 
	margin-top: 5px;
}
#category-listing ul.children li {
	padding-left: 18px;
	background: url(../images/layout/icon_arrow_grey.gif) no-repeat 7px 0.4em;
}
#category-listing ul.children li.current a {
	color: #000;
}

.widget-container ul li {
	padding-left: 11px;
	background: url(../images/layout/icon_arrow_grey.gif) no-repeat 0 0.5em;
}

/* footer */
#footer {
	padding: 0 0 20px;
	border: 0;
}
#footer-content-wrap {
	float: left;
	background: #fff;
	padding: 21px 18px 12px;
	width: 924px;
	border-top: 3px solid #f1f1f1;
}
#footer-message-wrap {
	float: left;
	background: #fff;
	padding: 0 18px;
	margin-top: -12px; /* negative margin to maintain footer padding, with or without this optional DIV */
	width: 924px;
	text-align: center;
}
#footer ul, #footer p {
	margin-bottom: 12px;
}
#footer-message-wrap p {
	/*background: #f1f1f1;*/
}
#footer li.last, #footer li:last-child {
	padding-right: 0;
	background: none;
}
#footer li.first, #footer li:first-child {
	padding-left: 0;
}
#footer ul ul {
	margin-bottom: 0;
}
#footer li li {
	font-size: 1.0em;
}

/* comments */
ul.commentlist {
	margin-left: 0;
	background: #f8f8f8;
	border-top: 1px solid #ececec;
}
ul.commentlist li {
	background: none;
	padding: 10px 14px 6px;
	border-bottom: 1px solid #ececec;
}
ul.commentlist li.alt {
	background: #f1f1f1;
}
ul.commentlist cite {
	font-weight: bold;
	font-style: normal;
	color: #067014;
}
ul.commentlist .comment-contents {
	margin-top: 5px;
}
ul.commentlist p {
	font-size: 0.917em;
	line-height: 1.5em;
	margin-bottom: 10px;
}

/* edit link */
.entry-content {
	margin-bottom: 8px;
}


/* customized WordPress styles */

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 3px 10px 10px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
.alignleft {
	float: left;
	margin-left: 0;
}

.alignright {
	float: right;
	margin-right: 0;
}
.aligncenter,
dl.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.mceIEcenter {
	text-align: center;
}
.wp-caption img {
	margin: 0 4px;
	padding: 0;
	border: 0 none;
}
.wp-caption-dd {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
p.wp-caption-text {
	margin: 0;
	padding: 3px;
	font-size: 0.917em;
}

/* homepage posts */

.entry-date {
	display: block;
	width: auto;
	float: left;
	margin: 1px 10px 0 0;
	border: 1px solid #5baddd;
}
.entry-date .month {
	float: left;
	background: #f1f5f8;
	color: #2b87bc;
	padding: 3px;
}
.entry-date .day {
	float: left;
	background: #5baddd;
	color: #fff;
	padding: 3px;
}
h3.entry-title, h1.entry-title {
	font-weight: bold;
	margin-bottom: 4px;
	font-size: 1.500em;
	color: #333;
	font-family: Trebuchet MS, Arial, sans-serif;
}
h3.entry-title a, h3.entry-title a:visited, h3.entry-title a:hover {
	text-decoration: none;
	color: #444;
}
.post-meta {
	font-size: 0.917em;
	color: #666;
	margin-bottom: 15px;
}
.comments-link {
	margin-left: 20px;
}

/* comment form */
#commentform p {
	margin-bottom: 10px;
}
#secureimgdiv {
	line-height: 1;
}
#secureimgdiv br {
	font-size: 0.917em;
	line-height: 1;
}
#secureimgdiv small {
	font-size: 0.917em;
	line-height: 1.6em;
	display: block;
	margin-bottom: 0;
	color: #067014;
}
#secureimgdiv img {
	border: 0 !important;
}

/* Cornell Emergency Banner */
#WarningBox {
	font-size: 1.2em;
}
#WarningBox p span {
	line-height: 1.4em;
}

/* edit link */
.edit-link {
	display: block;
	margin-bottom: 30px;
}
.edit-link a {
	background: #f7f7f6 url(../images/layout/pencil.gif) 3px 4px no-repeat;
	border: 1px solid #e1e1db;
	padding: 3px 8px 3px 17px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	text-decoration: none;
	font-size: 0.917em;
	line-height: 1;
	color: #b31b1b;
}
.edit-link a:visited {
	color: #b31b1b;
}
.edit-link a:hover {
	color: #f00;
}


/* Upcoming Events */
#wrap #upcoming-events ul,
#wrap #upcoming_events_calendar ul {
	margin-left: 0;
}
#wrap #upcoming-events ul ul,
#wrap #upcoming_events_calendar ul ul {
	margin-left: 7px;
}
#wrap #upcoming-events ul li,
#wrap #upcoming_events_calendar ul li {
	background: none;
	padding: 3px 0 0;
	font-weight: bold;
	color: #3d3e3e;
}
#wrap #upcoming-events ul ul li,
#wrap #upcoming_events_calendar ul ul li {
	padding: 0 0 0 11px;
    background: url(../images/layout/icon_arrow_grey.gif) no-repeat 0 0.5em;
    font-weight: normal;
}
#wrap #upcoming-events a:hover,
#wrap #upcoming_events_calendar a:hover {
	color: #666;
}
.calnk a:hover span {
	font-size: 0.917em;
	background-color: #f8f6af !important;
	width: 200px;
}
.calnk a:hover>span {
	border: 1px solid #b3b27e;
}
.calnk a:hover span span.event-title {
	font-size: 1.0em !important;
	display: block;
}
.calnk a:hover span span.event-title-break, .calnk a:hover span span.event-content-break {
	background-color: #c2c089 !important;
}
.home .calnk a, .home .calnk a:hover {
	border-bottom: 1px dotted #9cf;
}

#wp-footer {
	visibility: hidden;
}

/* Slidedeck */

#slidedeck_frame {
	height: 200px;
}
.sd-node-navigation-type-post-titles {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.skin-light ul.sd-node-navigation-type-post-titles {
	/*background: url(../iws_js/slidedeck/sprite_bg.jpg) repeat-x 0 8px;*/
	width: 642px !important;
	padding-left: 2px !important;
	padding-bottom: 2px !important;
}
.sd-node-content .alignleft {
	margin-right: 20px;
}
.sd-node-title {
	margin-bottom: 8px !important;
}

/* Excerpts */
.excerpt-readmore {
	padding-right: 8px;
	background: transparent url(../images/layout/arrows/right_red.gif) no-repeat right 0.4em;
	font-size: 0.917em;
}
/* Search Results */
.search-results-msg {
	color: #444;
	background: #fafafa;
	padding: 2px 4px;
	border: 1px solid #efefef;
	border-width: 1px 0;
	font-size: 0.917em;
	margin-bottom: 20px;
}
.search-results-count {
	color: #999;
	margin-left: 4px;
}
.post-nav {
	width: 100%;
	float: right;
	text-align: right;
	font-size: 0.917em;
	padding: 0;
	margin: 0;
}
.search-results .entry-title {
	margin-top: 5px;
}
.post-nav a {
	display: inline-block;
	background: #f7f7f6;
	border: 1px solid #e1e1db;
	padding: 4px 9px;
	margin: 20px 5px 10px 0; 
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;

	text-decoration: none;
	/*font-size: 0.917em;*/
	line-height: 1;
}


/* Northeast Beginning Farmers Project */

body.bfp {
	/*background: #3e6901 url(../images/sfp/body_bg_bf.gif) 0 0 repeat-x;*/
	background: #3e6901 url(../images/sfp/bg_tile.jpg) 0 0 repeat;
}
body.bfp #navigation li {
	background: #497b02;
}
body.bfp #navigation li a:hover, body.bfp #navigation li a:active {
	background: #3a6200;
}
/*body.bfp #footer-message-wrap .widget_text {
	background: #5e8c17;
	color: #fff;
}
body.bfp #footer-message-wrap .widget_text p {
	padding: 4px;
}*/
body.bfp .color-box.green h3 { background: #5e8c17; }
/*
body.bfp h3.entry-title a, body.bfp h3.entry-title a:visited, body.bfp h3.entry-title a:hover { {
	background: #3a6200;
}
*/
body.bfp #navigation ul {
	/*padding-top: 0;*/
}
body.bfp #cu-identity {
	/*border-bottom: 3px solid #fff;*/
}