.featured-image {
    margin-top:0;
}

.entry-content h1 {
    background: rgba(0,0,0,.5);
}
.page.alternative-menu .section.pages {
    padding-top: 200px;
}
.sub-menu a {
    padding: 1em;
}
.toggled {
    position: absolute;
}
#masthead {
    background: transparent;
}

@media screen and (max-width:879px) {
    .featured-image {
        margin-top: -175px;
    }
}
/*
@media screen and (min-width:968px) {
    .featured-image {
        margin-top: -175px;
    }
    .page.alternative-menu .section.pages {
        padding-top: 350px;
    }
}*/
