/*
 Theme Name:   Cornell-CICSS Theme
 Description:  Child of the Pena theme.
 Author:       Cornell Custom Web Development
 Template:     pena
 Version:      CWD-4.2.2
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:two-columns, left-sidebar, right-sidebar, grid-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, footer-widgets, e-commerce
*/

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin');

@import url('https://fonts.googleapis.com/css?family=Montserrat:800');
/* Font family: 'Montserrat'
*/


* {
    word-wrap: normal;
}
*:focus {
    box-shadow: 0 0 10px #1e90ff;
    border: 2px solid #1e90ff;
    z-index: 100001;
}
body {
    overflow-x: initial !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
}

p, li, ol, ul {
    font-family: "Libre Franklin", "Georgia", serif;
    font-size: 18px;
}
a {
    text-decoration: none;
    border-bottom: 0;
    display: inline-block;
}
p a, .page-content li a {
    text-decoration: underline !important;
}
time, .fn.n {
    color: #000;
}
article p {
    margin-bottom: 1.1em;
    color: #000;
}
article.page .entry-content h3 {
  top: 50px;
}

.skip-link:focus {
    clip: auto;
    position: relative;
    height: auto;
    width: auto;
    overflow:visible;
    background: #fff;
    padding: 1em;
    z-index: 100001;
}
.textwidget a, .entry-content a, .comment-content a, .news .two-third .entry-content a.excerpt-link {
    border: 0;
}
.excerpt-link {
  display: none;
}
.page-template-default .page h3, .page-template-fullwidth-people-template .page h3 {
    background: #8a8c8e;
    color: #fff;
    padding: .75em;
    margin-bottom: 1em;
}
.post-thumbnail a {
    display: inline;
}
.byline {
  display: none;
}
/* Mimic Headings */
.mimic-heading-center {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    font-size: 23px !important;
    text-align: center;
}
.mimic-heading-left {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    font-size: 23px !important;
    text-align: left;
}
/* Flex */
hr.short {
    display:none;
}
header#masthead {
    z-index:120;
    background: #222;
}
.child-pages, .post.customwidget, .flexbox {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
}
.threecolumn, .contentFlex {
    margin: .5em !important;
    width: 20em;
    flex: auto;
    position: initial !important;
}
.threecolumn {
    margin: 1em !important;
    width: 20em;
    flex: auto;
    position: initial !important;
}
.threecolumn article {
    height: 100%;
}
.twocolumn {
    flex: auto;
    position: initial !important;
    float: none;
    width: 48%;
    margin: .5em !important;
}
.twocolumn article {
    height: 100%;
}
.full-width {
    margin: 0 -10000px;
    padding: 1rem 10000px;
}
.site {
    padding-top: 1em;
}
.site, .entry-header {
    margin-top: 0;
}
.cd-main-content {
    margin-top: -50px;
    background: rgba(0,0,0,.6);
    padding: 1em;
}
.section.pages .overlay {
    background: none;
}
#main .entry-content {
    margin-bottom: 0;
}

/* Homepage */
.block-one .child-pages .hentry {
    padding: 1em;
}
.block-one .child-pages .hentry p {
    text-align: left;
}
.attachment-pena-recent-post-image {
    object-fit: cover;
    background: #ffffff;
    height: 200px;
}
.content-caption .entry-content h1 {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}
.block-five .entry-content h2 {
    margin: 0;
}
.block-five .entry-content h2 a {
    color: #fff;
    font-size: 3rem;
}

/* Homepage - Flex */
    .child-pages, .posts.customwidget, .flexbox {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
        height: auto;
    }
    .threecolumn, .contentFlex {
        margin: .5em !important;
        width: 20em;
        flex: auto;
        position: initial !important;
    }
    .threecolumn {
        margin: 1em !important;
        width: 20em;
        flex: auto;
        position: initial !important;
    }
    .threecolumn article {
        height: 100%;
    }
    .twocolumn {
        flex: auto;
        position: initial !important;
        float: none;
        width: 48%;
        margin: .5em !important;
    }
    .twocolumn article {
        height: 100%;
    }
    .block-one .entry-content h2 a {
        font-size: inherit;
    }
    .block-one .entry-content h2:first-child a {
        font-size: 2em !important;
    }
/* HP Text widget */
    #text-15 {
        margin-bottom: 0;
    }
    #text-15 .textwidget {
        text-align: center;
    }
    .hp_more {
        display: inline-block;
        padding: 1em;
        margin: .5em;
        font-family: "Montserrat", sans-serif;
        background: #fff;
        border: 1px solid #000 !important;
        color: #000 !important;
    }

/* Navigation - General */
#site-navigation {
    background: #222; /* Necessary for mobile */
    display: inline-block;


}
#site-navigation button {
    position: absolute;
    top: 0.75rem;
    color:#000;
    background:#fff;
    box-shadow: 0;
    border: 1px solid #000;
}
#cu-brand-wrapper-z {
    z-index: 10000;
}
#primary-menu a {
    font-family: "Montserrat", "verdana", sans-serif;
    color:#fff;
}
#headerContainer {
    max-width: 1400px;
    display: block;
    margin: 0 auto;
}
ul#primary-menu {
    padding: 0;
    top: 0;
}

.main-navigation li {
    margin: 0;
}
.main-navigation li a {
    display:block;
    width: 100%;
    padding: .5rem;
}
.main-navigation li a:hover, .main-navigation li a:focus {
    background: rgba(0,0,0,.5);
}
.main-navigation ul > li.menu-item-has-children > a:after {
    display: none;
}
.main-navigation ul ul li {
    /*padding: .5em; */
}
.alternative-menu .section {
    padding: 0;
}
.alternative-menu .intro .section {
    padding: 16% 0 0 0;
}
.content-caption {
    background: none;
}
.content-caption .entry-content p {
    color: #fff !important;
}
.content-caption .entry-content h1 {
    font-family:"Montserrat", sans-serif;
    background: none;
    top: 0;
}
.sub-menu, .sub-menu li {
    padding: 0;
}
.sub-menu li {
  background: #222;
}
.sub-menu .menu-item-type-custom {
    background: #5c5d5e;
    border-left: 4px solid #222;
}
.sub-menu .menu-item-type-custom a {
    text-indent: 4px;
}
.main-navigation .current_page_item > a, .main-navigation .current-menu-item > a, .main-navigation a:hover {
    border-bottom: 0;
}

.main-navigation ul > li.menu-item-has-children > a:after {
    display: none;
}

.menu-item a {
    white-space: nowrap;
    font-size: 1rem;
}
.menu-toggle {
    z-index: 1000000;
    right: 60px;
}


#sticky-header {
    width: 100%;
    z-index: 99998;
}

/* Search */
#search-button {
    float:right;
    height: 50px;
    width: 50px;
    margin: 0 !important;
}
#search-button a {
    float: left;
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-indent: -1000em;
    background-size: 16px;
    background-position: center;
    background-color:#222;
}
#search-box {
    width: 100%;
    background: #222;
}
#search-form label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    font-style: normal;
}
#search-form-submit {
    color: #fff;
    background: #222;
    border: 1px solid #fff;
}
#search-form-submit:hover, #search-form-submit:focus {
    color: #222;
    background: #fff;
    border: 1px solid #222;
}

/* Widgets */
.widget-area-fullwidth, .outreach_videos {
    width: 100%;
}
.video.wp-video-shortcode {
    min-height: 360px;
}

/* Events */
.events-list {
    margin-top: 1.5rem;
}
.events-list .month-header {
    text-align: center;
    flex-basis: 100%;
    margin: 1rem auto;
}
#events-listing .events-list, #events-archive-listing .events-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.events-list .node {
    box-shadow: 0 0 10px #8a8c8e;
    flex: auto;
    width: 500px;
    margin: .5em 0 0 0;
    flex-basis: 84%;

}
#events-archive-listing .events-list .day-header {
    flex: 1 1 auto;
    background: black;
    color: white;
    display: inline;
    height: auto;
    padding: 1em;
    margin-top: 0.5rem;
    width: 100%;
}

/* CICSS Members */
.page .member {
    overflow: auto;
    padding: 1rem;
    margin: .2rem;
    background: #f3f3f3;
    color: #000 !important;
    width:310px;
}
.member_sec h2 {
    text-align: center;
    font-size: 29px;
    margin-bottom: 1rem;
}
.member_group h3 {
    font-size: 23px;
}
.member img {
    object-fit:cover;
    width: 120px !important;
    height: 120px !important;
    border-radius: 61px;
}
.member_pic a:focus img, .member_pic a:hover img{
    border: 2px solid #ffffff !important;
}
.member_role, .member_email, .member_addr, .member_phone {
    font-weight: 400;
    margin-bottom: .5rem;
}
.page .member > * {
    text-align: center;
    margin: 0 auto;
}
.single-member article {
    background: none;
}
.single-member article .post-thumbnail {
    border-radius: 0;
}
#member_student_group, #member_advisory_group, #member_core_group { /*FLEX PARENT*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#core_sec, #student_sec {
    background: #222;
    color: #fff;
}
#core_sec h2, #student_sec h2 {
    color: #fff;
}


/* Outreach/Engagement */
.outreach h1, .outreach h2, .outreach h3, .outreach h4, .outreach h5, .outreach h6, .outreach p {
    padding: 0 0.5em;
}
.outreach {
    text-align: center;
}
.outreach h2 {
    padding: .5em 0;
    text-align: center;
    color: #fff;
    background: #222;
}
.outreach h2 a {
    color: #fff;
}
.outreach_more {
    display: inline-block;
    padding: 1em;
    margin: .5em;
    font-family: "Montserrat", sans-serif;
    background: #fff;
    border: 1px solid #000;
    color: #000 !important;
}
body video.wp-video-shortcode {
    min-height: 360px !important;
}
.podcast, .newsletter {
    text-align: center;
    display: block;
    background: #fff;
    margin: 1rem .5rem;
    flex: 0 1 auto;
    color:#000;
    box-shadow: 0 0 10px #8a8c8e;
    padding: 1rem;
}
.seminar {
    width: 500px;
    text-align: center;
    display: block;
    background: #fff;
    margin: 100px .5rem 0 .5rem;
    flex: 0 1 auto;
    color: #000;
}
.podcast_flex, .newsletter_flex, .seminars_flex {
    overflow: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.podcast a, .newsletter a {
    width: 100%;
    height: inherit;
    color: #000;
}
.podcast p {
    margin-bottom: 0;
}
.podcast *, .newsletter *, .seminar * {
    color: #000 !important;
}
.podcast .attachment-post-thumbnail, .seminar .attachment-post-thumbnail {
    object-fit: cover;
    max-width: 250px;
    background: #fff;
    height: 150px;
    border: 4px solid white;
}
.newsletter .attachment-post-thumbnail {
    object-fit: cover;
    max-width: 250px;
    background: #fff;
    height: 150px;
    margin-bottom: 0;
    border: 4px solid white;
}
.video_flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cicss_videos {
    margin-bottom: 2rem;
    flex: 0 1 auto;
    width: 100%;
    max-width: 500px;
}
.outreach_header {
  padding-top: 0;
  padding-bottom: 0;
  background: #222;
}
.podcast_external_links {
  display: flex;
    margin: 1rem -1rem -1rem -1rem;
}
.podcast_external_links a {
  font-family: 'Montserrat', Arial, sans-serif;
  text-decoration: underline !important;
  padding: 1rem 0;

}
.podcast_option_read {
  background: #f7f7f7;
}
.podcast_option_listen {
  background: #1598d5;
}
#outreach_podcasts, #outreach_videos, #outreach_social, #outreach_seminars, #outreach_newsletter {
    overflow: auto;
}
#outreach_videos {
    overflow: auto;
}
#newsletterHeader:before {
    height: 50px;
    width: 50px;
    content: " ";
    display: block;
    margin: 0 auto .5em auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('img/SVG/newsletters.svg');
}
#seminarsHeader:before {
    height: 50px;
    width: 50px;
    content: " ";
    display: block;
    margin: 0 auto .5em auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image:url('img/SVG/seminars.svg');
}
#videosHeader:before {
    height:50px;
    width: 50px;
    content: " ";
    display: block;
    margin: 0 auto .5em auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('img/SVG/videos.svg');
}
#podcastHeader:before {
    background-image: url('img/SVG/podcasts.svg');
    height: 50px;
    width: 50px;
    content: " ";
    display: block;
    margin: 0 auto .5em auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('img/SVG/podcasts.svg');
}

/* Footer */

.footer-button {
    background: #5ca038;
    padding: .5em;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    color: #fff !important;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    font-size: 16px;
}
.footer-widgets.clear {
    border: 0;
    padding: 0;
    margin: 0;
}
.footer-widgets .widget-area aside {
    margin-top: 1em;
}
.type-page .entry-header, footer .site {
    margin-top: 0 !important;
}
.site-footer .widget {
    margin: 0;
}
#footer-content-eb {
    font-family: 'Monsterrat', sans-serif;
    z-index: 10;
    padding: .5em;
    background: #222;
}
#footer-content-eb a {
    color: #ffffff;
}
footer#colophon {
    padding-top: 3em;
}
footer#colophon.site-footer {
    background: #222;
    margin: 0;
}
footer#colophon, footer#colophon h1, footer#colophon h2, footer#colophon h3, footer#colophon h4, footer#colophon h5, footer#colophon h6, footer#colophon a {
    color: #fff;
}
.footer-widgets.clear {
    border: 0;
}
.text-widget p {
    margin-bottom: 0.5em;
}
.textwidget button {
    background:#5ca038;
    border: 0;
    font-size: 1em;
}


/* Template */

/* Makes full-width templates full width. */
.page-template-fullwidth-people-template .site-main, .page-template-fullwidth-outreach-template .site-main {
    margin: 0 !important;
}
.alternative-menu .site-branding {
    margin-bottom: 0;
}
.main-navigation {
    margin-top: 0;
}
.custom-logo {
    max-height: 75px;
    width: auto;
    padding: 2px;
    margin: 1em;
    display: inline;
    vertical-align: middle;
}
#brand-site {
    display: inline-block;
}
#brand-univ {
    display: inline;
}
#brand-univ a {
    float:right;
}
#brand-univ img {
    margin: 1em;
    height: 75px;
}

/* Posts/Pages General styling */

.entry-header {
    margin-top: 0;
}
.post-template-default .entry-header .attachment-pena-front-child-page-thumbnail {
    border-radius: 0;
}
.titlecomment, .post-template-default .titlecomment, .author-info, .post-template-default .author-info{
    display: none;
}
.entry-header .attachment-pena-front-child-page-thumbnail {
    object-fit: cover;
    height: 200px;
}

.entry-content h1 {
    display:block;
    margin: 0 auto;
    position:relative;
    top:2rem;
}
.entry-content h2 {
    margin: 1em auto;
}
.site-info, #global-footer-content {
    display: none;
}
.home .site.news .post-content .entry-meta {
    display: none;
}
.home .site.news .post-content p {
    display: none;
}
.centerMe {
    display: block;
    margin: 0 auto;
}
.clearfix {
    max-width: 100%;
}
.customwidget span.posted-on a {
    color: #000000 !important;
}
.widget_pena_recent_post .entry-content {
    background: #fff;
    overflow:visible;
}
.single-post .hfeed.site {
    padding-top: 0;
}
.single-post .post-thumbnail img {
    max-height: 400px;
    width: 100%;
    object-fit: contain;
}
.inner .block-one {
    padding-top: 0.5em;
}
.without-featured-image {
    height: 100px;
    margin-top: -100px;
}

/* Archive pages */
.archive .post-thumbnail img {
    max-height: 200px;
    max-width: 450px;
    object-fit: cover;
}



@media screen and (max-width:724px) {
    .member_core .member_pic {
        float:none;
        width: 100%;
        clear:both;
        margin: 0;
    }
    .member_core .member_pic img {
        display: block;
        margin: 0 auto;
    }
    .member_core .member_content h3, .member_core .member_content .member_role {
        text-align: center;
    }
}

@media screen and (max-width: 880px) {
    header#masthead {
        position:sticky;
        top: -130px;
        margin-top: 0;
        padding: 0;
    }
    .site-branding {
        padding: .5em;
        width: 100%;
    }
    .custom-logo {
        height: 45px;
    }
    .without-featured-image {
        padding: 0 !important;
    }
    .without-featured-image .entry-header {
        margin-top: 0;
    }
    .featured-image {
        margin-top: 0;
    }

    .standard-menu .featured-image {
        padding-bottom: 1em;
    }
    #sticky-header {
        position: sticky;
        top: -130px;
    }
    #brand-univ a {
        float:left;
    }

    /* Navigation - Mobile only */
    .menu-main-menu-container {
        height: 550px;
        overflow: scroll;
        width: 100%;
    }
    .menu-main-nav-container {
        position: relative;
        background: #222;
        width: 100%;
    }
    .main-navigation.toggled {
        top: 3.5rem;
        position: initial;
    }
    .main-navigation.toggled .menu-toggle {
        top: -3rem;
    }
    #primary-menu {
      top: 50px;
      position: relative;
    }
    #search-button {
        margin-right: 0 !important;
    }
    #site-navigation button {
        top: auto;
        position: absolute;
        right: 50px;
        box-shadow: none !important;
        background: #222;
        height: 50px;
        color: #fff;
        border: 0;
    }

    /* News page */
    .news_post_excerpt {
      box-shadow: 0 0 10px #8a8c8e;
      margin-bottom: 1rem;
      padding: 1rem;
    }
    .news_post_excerpt img {
      max-width: 250px;
      max-height: 150px;
      object-fit: contain;
      display: block;
      margin: 0 auto;
    }
    .news_post_excerpt_content, .news_post_excerpt_thumbnail {
      display: inline-block;
    }
    .news_post_excerpt_thumbnail {
      width: 100%;
      padding-bottom: 1rem;
    }
    .news_post_excerpt_content {
      width: 100%;
      padding-top: 1rem;
    }
}

@media screen and (min-width: 55em) {
    header#masthead {
        padding: 0;
        margin-top: 0;
        position: inherit;
    }
    .admin-bar .site-header.front {
        top: 0;
    }
    .site-branding {
        margin: .4em 0;
        width: 100%;
    }
    .alternative-menu .site-header.front {
        position:static;
    }
    .main-navigation ul li:hover ul, .main-navigation ul li.focus ul {
        background: #8a8c8e;
        right:0;
    }
    .main-navigation ul ul {
        padding: 0;
        top: 2.5rem;
        width: inherit;
    }
    .menu-main-menu-container {
        position: initial;
        bottom: 0;
        right: 0;
        float:right;
    }
    .menu-main-nav-container {
        float:right;
    }
    .menu-main-menu-navigation {
        background: rgba(255,255,255,.5);
    }
    .main-navigation ul ul li {
        width: 100%;
        padding: 0;
        display: inline-block;
    }
    .main-navigation ul ul li a{
        padding: 0.7em;
        width: 100%;
        display: inline-block;
    }

    .main-navigation ul > li.menu-item-has-children > a:after {
        top: 8px !important;
        right: -3.5rem;
    }
    .menu-item {
        margin: 0 !important;
        width: auto;
    }
    .without-featured-image {
        margin-top: -150px;
    }

    /* News */
    .news_post_excerpt {
      box-shadow: 0 0 10px #8a8c8e;
      margin-bottom: 1rem;
      padding: 1rem;
    }
    .news_page main .main-content > a {
      width: 100%;
    }
    .news_post_excerpt img {
      max-width: 250px;
      max-height: 150px;
      object-fit: contain;
    }
    .news_post_excerpt_content, .news_post_excerpt_thumbnail {
      display: inline-block;
    }
    .news_post_excerpt_thumbnail {
      vertical-align: top;
      padding-right: 0.5rem;
    }
    .news_post_excerpt_content {
      width: calc(100% - 250px - 1rem);
      padding-left: 0.5rem;
    }
    #sticky-header {
        position: sticky;
        top: -130px;
    }
    #site-navigation {
        bottom: 0;
        right: 0;
        width: 100%;
        text-align: left;
        margin: 0;
    }
    #site-navigation button {
        color:#000;
        background:#fff;
        box-shadow: none;
        border: 1px solid #000;
    }
    #site-navigation .menu-main-nav-container {
        text-align: right;
    }
    ul#primary-menu {
        position: relative;
        padding: 0;
        top:5px;
    }
}

@media screen and (min-width: 70em) {
    .without-featured-image {
        margin-bottom: 3.75em;
    }
    .without-featured-image .entry-content {
        margin-top: 3.75em !important;
    }
    .featured-image .section.pages {
        padding: 100px 0 !important;
    }
    .content-caption {
        min-width: 45%;
    }
}


/* Custom CSS Input */
