/*
Theme Name: Cornell
*/
/*
Used to style the TinyMCE editor.
*/
html .mceContentBody{
	direction:rtl;
	unicode-bidi:embed;
	float:right;
}
* {
	font-family: Arial, Tahoma, sans-serif;
}
h1,
h2,
h3,
tr th,
thead th,
label,
tr th,
thead th {
	font-family: Arial, Tahoma, sans-serif;
}
pre, code, code var {
	font-family: monospace;
}
ul {
	margin: 0 2.5em 1.7em 0;
}
ol {
	margin: 0 2.5em 1.7em 0;
}
h4 {
	font-style: normal;
	font-weight: bold;
}
blockquote {
	font-style: normal;
	font-weight: bold;
}
blockquote em, blockquote i, blockquote cite {
	font-weight: normal;
}
table {
	text-align: right;
}
thead th {
	font-family: Arial, Tahoma, sans-serif;
}
.wp-caption-dd {
	font-family: Arial, Tahoma, sans-serif;
}