/*
Theme Name: 2017 University Branded Theme
Author: CIT - Custom Web Development
Text Domain: cornell_base
Description: A highly customizable Cornell branded theme. Free to use. This is based on the 2015 University Branded Theme, but has been upgraded to meet accessibility standards. 
License URI: 
Version: 1.0.05
*/

/* Events */
.calendarp-breadcrumbs {
    padding-left: 4px;
    padding-right: 14px;
    margin-bottom: 12px;
    margin-top: 12px;
    clear: both;
}
.post-type-archive-calendar_event .archive-header .advanced-search-list li {
	background: none;
	float: left;
    padding: 0;
    margin: 0 22px 22px 0;
}
.row.event-listing .event-meta {
    margin-bottom: 3px;
	width: calc(100% - 223px);
	float: right;
}
.row.event-listing .event-meta.no-event-thumbnail {
	width: 100%;
}
.tax-calendar_event_category .event-content .row.event-inner-content,
.post-type-archive-calendar_event .event-content .row.event-inner-content {
    clear: both;
}
.row.event-listing .event-meta > * {
    margin: 12px 0;
}
.row.event-listing .event-thumbnail {
    margin: 0 0 8px 0 !important;
    float: left;
}
.row.event-inner-content .large-12 {
	margin-top: 15px !important;	
}
.single-calendar_event .entry-content {
	margin-top: 0;
	clear: both;
}
.single-calendar_event .row.event-listing .event-meta {
    margin-bottom: -8px;
}

#events-listing a.read-more.more {
	background: none;
}
#events-listing h4 {
    line-height: 19px;
    margin-bottom: 6px;
}
#events-listing h4.meta.date {
    margin-bottom: 10px;
	font-size: 1.1em;
}
div.event-location-description p {
	font-size: 100%;
    padding-left: 22px;
    margin-bottom: 22px;
}
#calendar-plus-search {
    display: none;   
}
.calendarp-warning {
    padding: 1.25em;   
}
.calendarp-this-month-events-widget strong:nth-child(2) {
    font-weight: normal;
    margin: 1.25em 0;
    display: block;
}
#map_canvas {
    margin-top: 20px;
}
.post-type-archive-calendar_event #map_canvas,
.post-type-archive-calendar_event .tw-recent-posts h3 {
    display: none;   
}
.event-location .event-meta-item {
    padding: 14px 4px;   
}
/*.post-type-archive-calendar_event h2.event-title.entry-title {
    margin-bottom: 0;   
}*/
.event-content .row.event-inner-content {
	margin-top: -14px;
}

/* Calendar widget */
#wp-calendar > thead > tr {
	border-top: 1px solid;
    border-right: 1px solid;
}
#wp-calendar > tfoot > tr,
#wp-calendar > tbody > tr {
    border-right: 1px solid;
}
#calendar_wrap #wp-calendar .caledarp-calendar-day-link {
	color: #b31b1b !important;
}

/* Events search widget */
.calendarp-search-widget input {
	width: 100%;
}
.calendarp-search-widget p {
	margin-bottom: 0;
	line-height: 1;
}
.calendarp-search-widget label input {
	border-radius: 4px;
}
.calendarp-search-widget #cat,
.calendarp-search-widget #location {
	margin-bottom: 15px;
}
#wrap #main .calendarp-search-widget .calendarp-button {
    margin: 0;
}
.calendarp-search-widget label,
.calendarp-search-widget select,
.calendarp-search-widget input {
	width: 100%;
	box-sizing: border-box;
}

/* Events header */
#calendarp-add-to-calendar {
	margin-bottom: 5px;
	clear: both;
}
#calendarp-add-to-calendar a {
    text-decoration: none;
}
#calendarp-add-to-calendar a span {
    margin-top: -4px;
}


/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
@media only screen and (min-width: 480px) {
	.row.event-listing .event-thumbnail img {
		max-width: 200px;
	}
}
@media only screen and (max-width: 500px) {
	#main-body article {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	.row.event-listing .event-thumbnail {
		text-align: center;
		float: none;
	}
	.row.event-listing .event-meta {
		width: 100%;
		float: none;
	}
}
