
@charset "UTF-8";
/*
 Theme Name:   Moses Research Group

 Description:  Twenty Thirteen child theme
 Author:       LiLynn Graves

 Template:     twentythirteen 


 Text Domain: Moses-Research-Group
*/

@import url("../twentythirteen/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */
.site-title {
	font-family:Verdana, Geneva, sans-serif;
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 0 0;
    padding: 48px 0 10px;
}
.site-header .site-title:hover {
text-decoration: none;
}

#cornell a {
    position:absolute;
	background: url("images/aep.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float:left;
    height: 65px;
    width: 500px;
	margin-left: 7.6%;
	margin-top:2em;
}
#cornellsig a {
	background: url("images/cornellsig.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	float:right;
    height: 120px;
    width: 120px;
	margin-right:7.6%;
	margin-top:1em;
	margin-bottom:-5em;
}
.nav-menu li a {
    color: #141412;
    display: block;
    font-size: 18px;
    line-height: 1;
    padding: 15px 20px;
    text-decoration: none;
}
.nav-menu li:hover > a,
.nav-menu li a:hover,
.nav-menu li:focus > a,
.nav-menu li a:focus {
	background-color: #A84E0F;
	
	color: #fff;
}
.search-field {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("images/search-icon.png");
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border: medium none;
    cursor: pointer;
    height: 37px;
    margin: 3px 0;
    padding: 0 0 0 34px;
    position: relative;
    transition: width 400ms ease 0s, background 400ms ease 0s;
    width: 1px;
}

@media (max-width: 643px) {
	.site-title {
		font-size: 30px;
		padding-top:7px;
	}
	.site-description {
	font: 300 italic 15px "Source Sans Pro", Helvetica, sans-serif;
	margin-top:-10px;
	
}
	#cornell a {
    background: url("images/aep2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float:left;
    height: 37px;
    width: 250px;
	margin-top:0.5em;
	}
	#cornellsig a {
		background: url("images/culogo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
		margin-top: 0.1em !important;
		height: 50px;
    	width: 140px;
		margin-bottom:0;
		
	}
}

/* Mobile devices */
@media (max-width: 459px) {
	.site-title {
		font-size: 25px;
		font-weight: normal;
		padding-top: 60px;
	}



#cornell a {
	position:absolute;
    background: url("images/aep2.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float:left;
    height: 50px;
    width: 300px;
	margin-top:3.5em;
	}
	
	}