/*
	Theme Name: Reading Project 2014
	Theme URI: http://www.studiopress.com/themes/magazine
	Description: New Student Reading Project 2014 Theme is a two or three column child theme created for the Genesis Framework.
	Author: IWS/StudioPress
	Author URI: http://www.cornell.edu

	Version: 2.1.a
	
	Tags: black, custom-background, custom-header, custom-menu, featured-images, fixed-width, gray, left-sidebar, one-column, right-sidebar, sticky-post, theme-options, threaded-comments, three-columns, translation-ready, two-columns, white
	
	Template: genesis
	Template Version: 1.8.2

	License: GNU General Public License v2.0
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/


/****************************************
 * Cornell Identity
 ****************************************/

#cu-identity {
	height: 75px;
	background: #A6A6A6;
	width: 100%;
	display: none;
	font-weight: normal;
	}
	
.cu-identity-wrap {
	margin: 0 auto;
	width: 960px;
}

#cu-logo {
	width: 170px;
	height: 45px;
	float: left;
	}
		
#cu-logo a {
	display: block;
	width: 240px;
	height: 75px;
	background: url(images/layout/cu_logo_black75.gif) no-repeat top left;
	}
	
#cu-logo img {
	display: none;
	}
	
#cu-search {
	font-family: 'Open Sans', sans-serif;
	float: right;
	margin-top: 7px;
	font-size: 0.9em;
	width: 420px;
	}
	
#cu-search label {
	color: #000;
	}
	
#cu-search a:hover {
	}
#search-form-wrapper {
	float: right;
	width: 100%;
	}
#search-input, #search-filters {
	text-align: right;
}	
	
#search-filters {
	position: relative;
	padding-top: 4px;
}	
#cu-search a#options {
	font-size: .95em;
	color: #b31b1b;
	margin-left: 12px;
	text-decoration: none;
	text-transform: lowercase;
	line-height: 1.1em;
	font-weight: normal;
	}
	
#search_icon {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 38px;
	height: 33px;
	background: #b31b1b url(images/project/search_icon.png) 9px 6px no-repeat;
	background-size: 20px;
	cursor: pointer; 
	cursor: hand;
}
#mobile_menu {
	display: none;
}
#identity {
	position: relative;
	max-width: 960px;
	height: 115px;
	margin: 0 auto;
}
.graybg {
	background-color: #A6A6A6!important;
}

	
/*	edublogs footer */
#global-footer-content-inner {
  text-align: center;
}

/* Import Fonts
------------------------------------------------------------ */

@import url(//fonts.googleapis.com/css?family=Open+Sans);

/**
 * Include Roboto Condensed font in project
 * 
 * Download Roboto Condensed ttf files from Google Fonts and place it in the same directory of this CSS file
 * You can then use this font in your project by setting
 * font-face: "Roboto Condensed", Helvetica, Arial, sans-serif;
 *
 * @author Mattia Migliorini (deshack)
 * @license GPLv3
 */
 
/* Light */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url("fonts/RobotoCondensed-Light.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 300;
	src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url("fonts/RobotoCondensed-LightItalic.ttf") format('truetype');
}
 
/* Normal */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 400;
	src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("fonts/RobotoCondensed-Regular.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 400;
	src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url("fonts/RobotoCondensed-Italic.ttf") format('truetype');
}
 
/* Bold */
@font-face {
	font-family: "Roboto Condensed";
	font-style: normal;
	font-weight: 700;
	src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url("fonts/RobotoCondensed-Bold.ttf") format('truetype');
}
@font-face {
	font-family: "Roboto Condensed";
	font-style: italic;
	font-weight: 700;
	src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url("fonts/RobotoCondensed-BoldItalic.ttf") format('truetype');
}



/* Defaults
------------------------------------------------------------ */
html { /* prevents page 'jump' between short and long pages */
	overflow-y: scroll;
}

body,
h1,
h2,
h2 a,
h2 a:visited,
h3,
h4,
h5,
h6,
p,
select,
textarea {
	color: #000;
	font-family: Roboto Condensed, Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	line-height: 22px;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
p {
	padding-bottom: 20px;
}
input {
	color: #333;
	font-family: Roboto Condensed, Arial, sans-serif;
}

input,
select,
textarea,
.breadcrumb,
.sticky,
.taxonomy-description {
	background-color: #f5f5f5;
}

li,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol li {
	list-style-type: decimal;
}

hr.red5 {
	background-color: #b31b1b;
	height: 5px;
	margin: 0;
	padding: 0;
	border: none;
}

/* Hyperlinks
------------------------------------------------------------ */

a,
a:visited {
	color: #b31b1b;
	text-decoration: none;
	font-weight: bold;
}

#sidebar a {
	text-transform: uppercase;
}

a:hover {
	color: #000;
}

a img {
	border: none;
}

a.post-edit-link {
	display: none;
}


/* Wrap
------------------------------------------------------------ */

#wrap {
	/*background: url(images/wrap.png) repeat-x;
	background-color: #e3e3e3;*/
	margin: 0 auto;
	clear: both;
	position: relative;
}

/* Header
------------------------------------------------------------ */

#header {
	min-height: 114px;
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
	position: relative;
	background-size: 100% auto!important;
	margin-top: 26px;
}
.secondary #header {
	background-position: 23px top;
	background-size: 98%!important;
}
#title-area {
	float: left;
	overflow: hidden;
	padding: 20px 0 0 20px;
	width: 490px;
	width: 700px;
}

#title {
	font-family: Roboto Condensed, Arial, sans-serif;
	font-size: 46px;
	font-weight: bold;
	line-height: 46px;
	margin: 0;
	text-shadow: 2px 2px hsl(0, 0%, 35%);
	text-transform: uppercase;
}

#title a,
#title a:hover {
	color: #fff;
	text-decoration: none;
}

#description {
	/*float: left;*/
	color: #999;
	font-size: 13px;
	text-shadow: 1px 1px #000;
	text-transform: uppercase;
}

#header .widget-area {
	position: absolute;
	top: 20px;
	left: 58%;
	width: 350px;
	padding: 10px;
	background-color: #E3E3E3;
	opacity:0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}

#header .widget-area .widget {
	opacity:1.0 !important;
	filter:alpha(opacity=100) !important; /* For IE8 and earlier */
}


/* Image Header - Partial Width
------------------------------------------------------------ */

.header-image #title-area,
.header-image #title,
.header-image #title a {
	display: block;
	float: left;
	height: 223px;
	overflow: hidden;
	padding: 0;
	text-indent: -9999px;
	width: 490px;
}

.header-image #description {
	display: block;
	overflow: hidden;
}


/* Image Header - Full Width
------------------------------------------------------------ */

.header-full-width #title-area,
.header-full-width #title,
.header-full-width #title a {
	width: 960px;
}


/* Navigation Constants
------------------------------------------------------------ */

li:hover ul ul,
li.sfHover ul ul {
	left: -9999px;
}

li:hover,
li.sfHover {
	position: static;
}

li a .sf-sub-indicator {
	position: absolute;
	text-indent: -9999px;
}


/* Header Right Navigation
------------------------------------------------------------ */

#header ul.menu {
	float: right;
}

#header ul.menu ul {
	float: right;
	margin: 0;
	padding: 0;
	width: 100%;
}

#header ul.menu li {
	float: left;
	list-style-type: none;
	text-transform: uppercase;
}

#header ul.menu li a {
	color: #999;
	display: block;
	font-size: 12px;
	padding: 6px 15px 5px;
	position: relative;
	text-decoration: none;
}

#header ul.menu li a:hover,
#header ul.menu li a:active,
#header ul.menu .current_page_item a,
#header ul.menu .current-cat a,
#header ul.menu .current-menu-item a {
	color: #c62765;
}

#header ul.menu li li a,
#header ul.menu li li a:link,
#header ul.menu li li a:visited {
	background-color: #111;
	border: 1px solid #444;
	border-top-width: 0;
	color: #999;
	font-size: 11px;
	padding: 5px 10px;
	position: relative;
	text-transform: none;
	width: 128px;
}

#header ul.menu li li a:hover,
#header ul.menu li li a:active {
	color: #c62765;
}

#header ul.menu li ul {
	height: auto;
	left: -9999px;
	margin: 0 0 0 -1px;
	position: absolute;
	width: 150px;
	z-index: 9999;
}

#header ul.menu li ul a {
	width: 130px;
}

#header ul.menu li ul ul {
	margin: -33px 0 0 149px;
}

#header ul.menu li:hover>ul,
#header ul.menu li.sfHover ul {
	left: auto;
}
#ratings {
}
#ratings_img {
	display: inline-block;
	background: url(images/project/ratings.png) no-repeat;
	background-size: 100%;
	background-position: center;
	margin: 25px 0 0 25px;
	width: 365px;
	height: 71px;
	
}

#insignia_img {
	width: 100px;
	float: right;
	margin: 13px 68px 0 0;
}
#reading_edu {
	background: url(images/project/reading_edu.gif) no-repeat;
	background-size: 100%;
	float: left;
	width: 280px;
	height: 31px;
}


ul.menu li.current-menu-item a,
ul.menu li.current_page_item a {
	color: #000;
}
/* Section navigation (pages widget)
------------------------------------------------------------ */
.sidebar .widget_pages ul, .sidebar .widget_pages ul li.page_item {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
}
.sidebar .widget_pages ul.children {
	padding-left: 10px;
	margin: 0;
	display: none;
}

.sidebar .widget_pages li.page_item.current_page_parent ul.children, .sidebar .widget_pages li.page_item.current_page_ancestor ul.children, .sidebar .widget_pages li.current_page_item ul.children {
	display: block;
}
.sidebar .widget_pages ul li.page_item a {
	display: block;
	padding: 2px 0;
	font-weight: bold;
}

.sidebar .widget_pages ul.children li.page_item a {
	padding: 0;
	font-weight: normal;
}

.sidebar .widget_pages ul li.current_page_item > a {
	color: #000;
}
/****************************************
 * Tables
 ****************************************/
table, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	}
	
table {
	margin: 15px 0;
	background: #fff;
	border-right: 1px solid #ccc;
	border-top: 1px solid #ccc;
	}
	
td, th {
	padding: 10px 15px;
	font-size: 0.9em;
	line-height: 1.5em;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	}
tr.dark {
	background: #E7E5DB;
}

/* Inner
------------------------------------------------------------ */

#inner {
	overflow: hidden;
}
body.home #inner {
	margin-top: 26px;
}
body.secondary #inner {
	margin-top: -20px;
}

#inner .wrap {
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
}

body.secondary #inner .wrap {
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
	margin-top: 100px;
	overflow: visible;
}


/* Homepage
------------------------------------------------------------ */

.home-bottom,
.home-middle,
.home-top {
	clear: both;
	font-size: 13px;
	line-height: 20px;
	margin: 0 0 20px;
	overflow: hidden;
	width: 610px;
}

.home-bottom {
	margin: 0;
}

.home-left {
	float: left;
	width: 290px;
}

.home-right {
	float: right;
	width: 290px;
}


/* Genesis Slider
------------------------------------------------------------ */

#content #genesis-responsive-slider,
#content #genesis-slider {
	background-color: #fff;
	border: 4px solid #f5f5f5;
	padding: 1px;
}

#genesis-responsive-slider a,
#genesis-responsive-slider a:visited,
#genesis-slider a,
#genesis-slider a:visited {
	color: #fff;
	text-decoration: underline;
}

#genesis-responsive-slider a:hover,
#genesis-slider a:hover {
	text-decoration: none;
}

#genesis-responsive-slider p,
#genesis-slider p {
	color: #fff;
	font-size: 13px;
	line-height: 20px;
}

#content .slide-excerpt {
	background-color: #222;
	border-left: 1px solid #333;
	border-top: 1px solid #333;
	filter: alpha(opacity=100);
	margin: 0;
	padding: 10px;
	opacity: 1.0;
}

html > body .slide-excerpt-border {
	border: none !important;
	margin: 0 !important;
	padding: 0 !important;
}


/* Breadcrumb
------------------------------------------------------------ */

.breadcrumb {
	border: none;
	font-size: 12px;
	line-height: 20px;
	margin: 0 0 30px;
	padding: 5px 10px;
}


/* Taxonomy Description
------------------------------------------------------------ */

.taxonomy-description {
	border: none;
	margin: 0 0 30px;
	padding: 10px;
}


/* Content-Sidebar Wrap
------------------------------------------------------------ */

#content-sidebar-wrap {
	float: left;
	width: 810px;
}

/*#inner .wrap #content-sidebar-wrap #content.hfeed {
	width: 960px;
}*/

.content-sidebar #content-sidebar-wrap,
.full-width-content #content-sidebar-wrap,
.sidebar-content #content-sidebar-wrap {
	width: 960px;
}

.sidebar-content-sidebar #content-sidebar-wrap,
.sidebar-sidebar-content #content-sidebar-wrap {
	float: right;
}

.magazine-landing #content-sidebar-wrap {
	width: 700px;
}


/* Content
------------------------------------------------------------ */

#content {
	padding: 20px 10px 20px 38px;
	width: 460px;
}
.secondary #content {
	border-left: 4px solid #b31b1b;
}

.content-sidebar #content,
.sidebar-content #content {
	width: 643px;
}

.sidebar-content #content,
.sidebar-sidebar-content #content {
	float: right;
}

.full-width-content #content {
	width: 910px;
}

.full-width-content.magazine-landing #content {
	width: 650px;
}

blockquote {
	background-color: #f5f5f5;
	margin: 5px 15px 20px;
	padding: 15px 20px 0;
}

blockquote p {
	color: #666;
	font-family: Roboto Condensed, Arial, sans-serif;
	font-style: italic;
}

.post {
	margin: 0 0 40px;
}

.single .post {
	margin: 0 0 20px;
}

.entry-content {
	overflow: hidden;
}
.entry-content a:hover {
	text-decoration: underline;
	color: #FF0000;
}
.entry-content p {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	line-height: 19px;
	padding: 0 0 17px;
}
p.subscribe-to-comments {
	padding: 20px 0 10px;
}

.after-post-ad {
	background-color: #f5f5f5;
	margin: 5px 0 10px;
	padding: 10px;
	overflow: hidden;
}

.after-content-ad {
	clear: both;
	margin: 0 auto;
	overflow: hidden;
	padding: 15px;
	/*text-align: center;*/
	width: 930px;
	font-size: 12px;
}

.more-from-category {
	background: url(images/list.png) no-repeat top left;
	margin: -5px 0 0;
	padding: 1px 0 0 18px;
}

.clear {
	clear: both;
}

.clear-line {
	border-bottom: 0px solid #ddd;
	clear: both;
	margin: 0 0 15px;
}

/* Column Classes
------------------------------------------------------------ */

.five-sixths,
.four-fifths,
.four-sixths,
.one-fifth,
.one-fourth,
.one-half,
.one-sixth,
.one-third,
.three-fifths,
.three-fourths,
.three-sixths,
.two-fifths,
.two-fourths,
.two-sixths,
.two-thirds {
	float: left;
	margin: 0 0 20px;
	padding-left: 3%;
}

.one-half,
.three-sixths,
.two-fourths {
	width: 48%;
}

.one-third,
.two-sixths {
	width: 31%;
}

.four-sixths,
.two-thirds {
	width: 65%;
}

.one-fourth {
	width: 22.5%;
}

.three-fourths {
	width: 73.5%;
}

.one-fifth {
	width: 17.4%;
}

.two-fifths {
	width: 37.8%;
}

.three-fifths {
	width: 58.2%;
}

.four-fifths {
	width: 78.6%;
}

.one-sixth {
	width: 14%;
}

.five-sixths {
	width: 82%;
}

.first {
	clear: both;
	padding-left: 0;
}


/* Featured Post Grid
------------------------------------------------------------ */

.genesis-grid-even {
	float: right;
	padding: 0 0 15px;
	width: 48%;
}

.genesis-grid-odd {
	clear: both;
	float: left;
	padding: 0 0 15px;
	width: 48%;
}

.genesis-grid-even,
.genesis-grid-odd {
	margin: 0 0 20px;
}


/* Headlines
------------------------------------------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Roboto Condensed, Arial, sans-serif;
	margin: 0 0 5px;
}

h1,
h2,
h2 a,
h2 a:visited {
	font-family: Roboto Condensed, Arial, sans-serif;
	font-size: 26px;
	line-height: 36px;
}
h1 {
    font-family: Roboto Condensed, Arial, sans-serif;
	font-size: 28px;
	text-transform: uppercase;
}
/* edits for search results */
.search h1 {padding-bottom: 12px; border-bottom: 0px solid #fff;}
.search h2,
.search h2 a,
.search h2 a:visited {font-size: 22px;line-height: 20px;color: #b31b1b;}
.search h2 {padding-top: 15px;}
.search .post-info, .search .post-meta {display: none;}
.search .search-excerpt {background: #FFC;}
.search .entry {border-bottom: 1px solid #666;}


.page h1 {
	margin: 0 0 10px;
}
body.home .page h1.entry-title {
	display: none;
}

body.secondary .page h1.entry-title, body.secondary #content h1.archive-title {
	margin: -83px 0 19px -45px;
	text-transform: uppercase;
}

body.home .page .entry-content {
	margin-top: -14px;
}

#genesis-responsive-slider h2 a,
#genesis-responsive-slider h2 a:visited,
#genesis-slider h2 a,
#genesis-slider h2 a:visited {
	color: #ccc;
	font-size: 18px;
	line-height: 24px;
	text-decoration: none;
}

#genesis-responsive-slider h2 a:hover,
#genesis-slider h2 a:hover {
	color: #c62765;
}

.home h2 a,
.home h2 a:visited {
	font-size: 20px;
	line-height: 24px;
}

.home-middle h2 a,
.home-middle h2 a:visited {
	font-size: 16px;
	line-height: 20px;
}

.taxonomy-description h1,
.widget-area h2,
.widget-area h2 a {
	font-size: 18px;
	line-height: 24px;
}

h2 a:hover {
	color: #c62765;
	text-decoration: none;
}

.search h2 a:hover {
	text-decoration: underline;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

.home-bottom h4,
.home-middle h4 {
	margin: 0 0 10px;
}

.widget-area h4 {
	font-size: 16px;
	text-transform: uppercase;
}

.widget-area h4 a {
	color: #333;
	text-decoration: none;
}

#footer-widgets h4 {
	background: none;
	border: none;
	margin: 0 0 5px;
	padding: 0;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}


/* Ordered / Unordered Lists
------------------------------------------------------------ */

.entry-content ol,
.entry-content ul {
	margin: 0;
	padding: 0 0 15px;
}

.entry-content ol {
	margin: 0;
}

.archive-page ul li,
.entry-content ul li {
	list-style-type: square;
	margin: 0 0 0 30px;
	padding: 0;
}

.entry-content ol li {
	margin: 0 0 0 35px;
}

.archive-page ul ul,
.entry-content ol ol,
.entry-content ul ul {
	padding: 0;
}


/* Post Info
------------------------------------------------------------ */

.post-info {
	font-size: 11px;
	margin: 5px 0 15px;
	text-transform: uppercase;
}


/* Post Meta
------------------------------------------------------------ */

.post-meta {
	background-color: #f5f5f5;
	clear: both;
	font-size: 11px;
	padding: 7px 10px 5px;
	text-transform: uppercase;
}


/* Author Box
------------------------------------------------------------ */

.author-box {
	border: 1px solid #ddd !important;
	margin: 0 0 40px;
	overflow: hidden;
}

.author-box p {
	font-size: 13px;
	line-height: 20px;
}

.author-box div {
	background-color: #fff;
	border: 4px solid #f5f5f5;
	padding: 10px;
}


/* Sticky Posts
------------------------------------------------------------ */

.sticky {
	margin: 0 0 40px;
	padding: 20px;
}


/* Archive Page
------------------------------------------------------------ */

.archive-page {
	float: left;
	padding: 20px 0;
	width: 45%;
}


/* Post Icons
------------------------------------------------------------ */

.categories {
	background: url(images/icon-categories.png) no-repeat top left;
	padding: 3px 0 3px 22px;
}
	
.post-comments {
	background: url(images/icon-comments.png) no-repeat top left;
	margin: 0 0 0 10px;
	padding: 2px 0 2px 22px;
}

.tags {
	background: url(images/icon-tags.png) no-repeat top left;
	margin: 0 0 0 10px;
	padding: 3px 0 3px 20px;
}
	
.time {
	background: url(images/icon-time.png) no-repeat top left;
	padding: 2px 0 2px 21px;
}


/* Images
------------------------------------------------------------ */

img {
	height: auto;
	max-width: 100%;
}

.avatar,
.entry-content img,
.featuredpage img,
.featuredpost img,
.post-image {
	/*background-color: #fff;
	border: 4px solid #eee;
	padding: 1px;*/
}

.home-middle .featuredpost img {
	margin: 0 0 10px;
}

.author-box .avatar {
	background-color: #fff;
	float: left;
	height: 72px;
	margin: 0 10px 0 0;
	width: 72px;
}

.post-image {
	margin: 0 10px 10px 0;
}

.comment-list li .avatar { 
	background-color: #fff;
	float: left;
	height: 30px;
	margin: 0 5px 0 0;
	width: 30px;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto 10px;
}

img.alignnone {
	display: inline;
	margin: 0 0 15px;
}

img.alignleft {
	display: inline;
	margin: 0 15px 10px 0;
}

img.alignright {
	display: inline;
	margin: 0 0 10px 15px;
}

.alignleft {
	float: left;
	margin: 0 15px 0 0;
}

.alignright {
	float: right;
	margin: 0 0 0 15px;
}

.wp-caption {
	background-color: #f5f5f5;
	padding: 2px;
	text-align: center;
	padding-top: 7px;
}

.wp-caption.alignleft {float: left; margin: 0 10px 10px 0; border: 1px solid #E7E5DB;}

p.wp-caption-text {
	font-size: 12px;
	line-height: 16px;
	padding: 5px;
	text-align: left;
}

.wp-smiley,
.wp-wink {
	border: none;
	float: none;
}

.gallery-caption {
}


/* Post Navigation
------------------------------------------------------------ */

.navigation {
	overflow: hidden;
	padding: 20px 0;
	width: 100%;
}

.navigation li {
	display: inline;
}

.navigation li a,
.navigation li.disabled,
.navigation li a:hover,
.navigation li.active a {
	border: 1px solid #ddd;
	padding: 5px 8px;
}

.navigation li a:hover,
.navigation li.active a {
	background-color: #f5f5f5;
}


/* Primary / Secondary Sidebars
------------------------------------------------------------ */

.sidebar {
	display: inline;
	float: right;
	font-size: 19px;
	line-height: 13px;
	width: 250px;
	clear: right;
}

.sidebar p {
	font-size: 13px;
	line-height: 20px;
}

#sidebar-alt {
	float: left;
	width: 150px;
}

.sidebar-content #sidebar,
.sidebar-sidebar-content #sidebar {
	float: left;
	margin-top: 34px;
}
body.secondary #sidebar,
body.secondary #sidebar {
	margin-top: -19px;
}

.sidebar-content #sidebar {clear: none;}

.content-sidebar-sidebar #sidebar-alt {
	float: right;
}

#sidebar .widget,
#sidebar-alt .widget {
	border-bottom: 0px solid #ddd;
}

.content-sidebar #sidebar .widget,
.sidebar-content-sidebar #sidebar .widget,
.content-sidebar-sidebar #sidebar .widget,
.content-sidebar-sidebar #sidebar-alt .widget {
	/*border-left: 1px solid #ddd;*/
}

.sidebar-content #sidebar .widget,
.sidebar-content-sidebar #sidebar-alt .widget,
.sidebar-sidebar-content #sidebar .widget,
.sidebar-sidebar-content #sidebar-alt .widget {
	/*border-right: 1px solid #ddd;*/
}

.sidebar .widget-wrap {
	/*border: 4px solid #f5f5f5;*/
	padding: 15px 20px 20px;
}

.sidebar .widget ul {
	margin: 5px 0 -5px;
}

.home-middle .widget ul li,
.sidebar .widget ul li,
.sidebar .widget-area ul li {
	border-bottom: 0px dotted #ddd;
	list-style-type: none;
	margin: 0 0 7px;
	padding: 7px 5px;
	word-wrap: break-word;
}


/* Dropdowns
------------------------------------------------------------ */

#cat,
.widget_archive select {
	display: inline;
	font-family: Roboto Condensed, Arial, sans-serif;
	font-size: 12px;
	width: 100%;
}


/* Featured Page / Post
------------------------------------------------------------ */

.featuredpage,
.featuredpost {
	clear: both;
	margin: 0 0 15px;
	overflow: hidden;
}

.featuredpage .page,
.featuredpost .post {
	border-bottom: 0px dotted #ddd;
	margin: 0 0 15px;
	overflow: hidden;
	padding: 0 0 15px;
}

.home .featuredpost p {
	font-size: 13px;
	line-height: 20px;
}


/* User Profile
------------------------------------------------------------ */

.user-profile {
	overflow: hidden;
}


/* Buttons
------------------------------------------------------------ */

input[type="button"], input[type="submit"] {
/* border: 1px solid #c62765; */
	color: #fff;
	cursor: pointer;
	font-family: Roboto Condensed, Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding: 1px 7px 4px;
	text-decoration: none;
}


/* Search Form
------------------------------------------------------------ */

#header .searchform {
	float: right;
	padding: 25px 0 0;
}

#nav .searchform {
	float: right;
}

.s {
	font-family: Roboto Condensed, Arial, sans-serif;
	font-size: 13px;
	margin: 5px -6px 0 0;
	padding: 5px;
	width: 180px;
}

#search-form-submit {
	background: #b31b1b;
	float: right;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	appearance: none;
	-webkit-appearance: none;
    -webkit-border-radius:1px; 
    -moz-border-radius:1px; 
    border-radius:1px;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	padding: 3px 8px 5px 8px;
	margin-top: 2px;
	margin-left: 3px;
}

#search-form input[type="text"], #search-form textarea {
	background: #f9f9f9;
	border: 1px solid #999;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
	width: 170px;
	line-height: 25px;
	padding-left: 4px;
	margin-top: 2px;
	font-family: Roboto Condensed, Arial, sans-serif;
	height: 20px;
}

input[type="radio"] {
	background: #a6a6a6;
}
#search-filters1 {
}
#search-filters2 {
}
/* Calendar Widget
------------------------------------------------------------ */

#wp-calendar {
	width: 100%;
}

#wp-calendar caption {
	font-size: 12px;
	font-style: italic;
	padding: 2px 5px 0 0;
	text-align: right;
}

#wp-calendar thead {
	background-color: #f5f5f5;
	font-weight: bold;
	margin: 10px 0 0;
}

#wp-calendar td {
	background-color: #f5f5f5;
	padding: 2px;
	text-align: center;
}


/* Footer Widgets
------------------------------------------------------------ */

#footer-widgets {
/*	-moz-box-shadow: 0 1px 2px #666; 
	-webkit-box-shadow: 0 1px 2px #666;
	background-color: #fff;
	box-shadow: 0 1px 1px #666;
	margin: 0 auto 20px;
	overflow: hidden;
	width: 960px;*/
	background-color: transparent;
	width: 100%;
	margin: 0 auto;
}

#footer-widgets .wrap {
	/*border: 4px solid #f5f5f5;*/
	width: 960px;
	margin: 0 auto;
	
	font-size: 13px;
	line-height: 20px;
	overflow: hidden;
	padding: 0 0 15px 0;
}

#footer-widgets .widget {
	background: none;
	border: none;
	margin: 0 0 15px 15px;
	padding: 0;
}

#footer-widgets .textwidget {
	padding: 0;
}

#footer-widgets .widget_tag_cloud div div {
	padding: 0;
}

#footer-widgets p {
	font-size: 13px;
	line-height: 20px;
	padding: 0 0 10px;
}

#footer-widgets .widget ul li,
#footer-widgets .widget-area ul li {
	float: left;
	background: url(images/project/link_separator.png) top right no-repeat;
	list-style-type: none;
	margin: 0 0 0;
	padding: 0 18px 5px 7px;
	word-wrap: break-word;
}
#footer-widgets .widget-area ul li.footer_home,
#footer-widgets .widget-area ul li.footer_last {
	background: none;
}
li.cornell_edu:before {
	content: '@2014 ';
	font-weight: bold;
	font-size: 18px;
}
#footer-widgets .widget ul li a,
#footer-widgets .widget-area ul li a {
	font-size: 18px;
	text-transform: none;
}

#footer-widgets #wp-calendar thead,
#footer-widgets #wp-calendar td {
	background: none;
}

.footer-widgets-1 {
	float: left;
	margin: 0 20px 0 49px;
	width: 295px;
}

.footer-widgets-2 {
	float: right;
	width: 58%;
}

.footer-widgets-3 {
	float: right;
	width: 295px;
}


/* Footer
------------------------------------------------------------ */

#footer {
	clear: both;
	margin-top: 80px;
}

#footer .wrap {
	background: url(images/project/site_footer.png) no-repeat;
	width: 960px;
	min-height: 168px;
	margin: 0 auto;
	padding: 8px 0 0px;
	border-bottom: 4px solid #000;
	margin-bottom: 30px;
	text-align: center;
	background-size: 91%;
	background-position: center;
}
#footer .wrap #site_footer{
	background-size: 89%;
	margin: 0 auto;
}

#footer p {
	color: #333;
	font-size: 11px;
}

#footer a,
#footer a:visited {
	color: #c72730;
}

#footer a:hover {
	color: #ff0000;
	/*text-decoration: none;*/
}

#footer .gototop {
	float: left;
	width: 200px;
}

#footer .gototop a {
	background: url(images/footer-top.png) no-repeat center left;
	padding: 6px 0 4px 35px;
}

#footer .creds {
	float: right;
	text-align: right;
	width: 755px;
}

#footer .last {
	float: right;
	text-align: right;
	padding-right: 15px;
}

/* Comments
------------------------------------------------------------ */

#comments,
#respond {
	margin: 0 0 30px;
	overflow: hidden;
}

#comments {
	font-size: 13px;
	line-height: 20px;
}

#author,
#comment,
#email,
#url {
	font-size: 12px;
	margin: 10px 5px 0 0;
	padding: 5px;
	width: 250px;
}

#comment {
	height: 150px;
	margin: 10px 0;
	width: 98%;
}

.ping-list {
	margin: 0 0 40px;
}

.comment-list ol,
.ping-list ol {
	margin: 0;
	padding: 10px;
}

.comment-list li,
.ping-list li {
	font-weight: bold;
	list-style: none;
	margin: 10px 0 0;
	padding: 10px;
}

.comment-list li ul li {
	list-style-type: none;
}

.comment-list p,
.ping-list p {
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
	margin: 10px 5px 10px 0;
	padding: 0;
	text-transform: none;
}

.comment-list ul.children {
	margin-top: 20px;
}

.comment-list ul.children li.comment  {
	background: #fff;
}

.comment-list cite,
.ping-list cite {
	font-style: normal;
	font-weight: bold;
}

.commentmetadata {
	font-weight:normal;
}

.comment-author { 
	background: #e5e5e5;
	font-size: 12px;
	font-weight: bold;
	padding: 8px 10px 0;
}

.comment-meta { 
	background: #e5e5e5;
	font-size: 12px;
	padding: 0 10px 8px;
}

.nocomments {
	text-align: center;
}

#comments .navigation {
	display: block;
	padding: 0;
}

.bypostauthor {
}

.thread-alt,
.thread-even {
	background: #f5f5f5;
}

.alt,
.depth-1,
.even {
	border: 1px solid #ddd;
}


#skipnav {
	position: absolute;
	top: -1000em;
	left: -1000em;
}
	#identity a#cu_logo_link {
		display: none;
	}

/* Responsive Design
------------------------------------------------------------ */
@media only screen and (max-width: 1280px) {
	body.custom-background {
		background-attachment: scroll!important;
	}
}
@media only screen and (max-width: 960px) {

	body,
	#inner .wrap {
		width: 100%;
		margin: 0 auto;
	}
	body.custom-background {
		background-attachment: scroll!important;
	}
	#ratings_img {
		width: 38%;
	}

	#insignia_img {
		width: 10.4%;
		margin-right: 145px;
	}

	#search_icon {
		right: 10px;
	}
	#mobile_menu {
		display: block;
		position: absolute;
		top: -5px;
		right: 62px;
		width: 38px;
		height: 38px;
		background: #b31b1b url(images/project/mobile_menu.png) 3px 4px no-repeat;
		cursor: pointer; 
		cursor: hand;
	}

	.archive-page,
	.content-sidebar #content,
	.content-sidebar #content-sidebar-wrap,
	.content-sidebar-sidebar #content,
	.footer-widgets-1,
	.footer-widgets-2,
	.footer-widgets-3,
	.full-width-content.magazine-landing #content,
	.full-width-content #content,
	.full-width-content #content-sidebar-wrap,
	.home-bottom,
	.home-left,
	.home-middle,
	.home-right,
	.home-top,
	.magazine-landing .wrap,
	.sidebar,
	.sidebar-content #content,
	.sidebar-content #content-sidebar-wrap,
	.sidebar-content-sidebar #content,
	.sidebar-sidebar-content #content,
	#content-sidebar-wrap,
	#footer .wrap,
	#header, 
	#sidebar-alt {
		box-sizing: border-box;
		width: 98%;
		margin-left: auto;
		margin-right: auto;
	}

	#footer .creds,
	#footer .gototop,
	#header ul.menu,
	/*#header .widget-area,*/
	#nav .wrap,
	#subnav .wrap {
		float: none;
		text-align: center;
		width: 100%;
	}
	
	#title-area, #content {
		width: 100%; 		
	}
		
	#header .widget-area {
		padding: 10px;
		top: 0;
		left: 0;
		margin-top: 10px;
		position: relative;
		width: 100%;
		float: left;
		clear: both;
		opacity:1.0 !important;
		filter:alpha(opacity=100) !important; /* For IE8 and earlier */	
	}
	#title-area, #title-area #title, #title-area #title a, .header-full-width #title-area, .header-full-width #title, .header-full-width #title a {width: 100%; max-width: 100% !important;}

	#header ul.menu {
		float: none;
	}

	#header li,
	#nav li,
	#subnav li {
		/*display: inline-block;
		float: none;*/
	}

	#header li li,
	#nav li li,
	#subnav li li {
		text-align: left;
	 }

	#nav li.right {
		display: none;
	}

	.entry-content img,
	.featuredpage img,
	.featuredpost img,
	.post-image {
		border: none;
		padding: 0;
	}
	
	.cu-identity-wrap {width: 98%; padding: 0 1%;}
	#footer-widgets .wrap {width: 98%; padding: 0 1%;}
	
	.after-content-ad {width: 98%; padding: 0 1%;}

	
	#footer-widgets .widget {margin: 0;}
	
	#footer .wrap #site_footer {
		background-size: 98%;
	}

	.sidebar-content #sidebar, .sidebar-sidebar-content #sidebar {
		float: none;
		margin-top: -24px;
		text-align: center;
	}
	#footer {
		margin-bottom: -14px;
	}
	#reading_edu {
		float: none;
		width: 250px;
		margin: 0 auto;
		margin-bottom: 14px;
	}
	
	#footer-widgets .widget ul li.footer_home, #footer-widgets .widget-area ul li.footer_home {
		background: url(images/project/link_separator.png) top right no-repeat;
	}	
		
	.footer-widgets-1 {
		float: none;
		text-align: center;
	}
	.footer-widgets-2 {
		float: none;
		text-align: center;
		margin: 0 auto;
		width: 90%;
	}
	#footer-widgets .widget ul li, #footer-widgets .widget-area ul li {
		padding: 0 13px 5px 2px;
		font-size: 9px;
	}	
	.secondary #header {
		background-position: 0 top;
		background-size: 100%!important;
		margin-top: 12px;
	}
	.secondary #content {
		border-left: none;
	}
	
	body.secondary #inner .wrap {
		margin: 0 auto;
		overflow: hidden;
		width: 98%;
		margin-top: 0;
	}
	body.secondary #inner .wrap #content .page.entry {
		margin-top: 0;
	}
	body.secondary .page h1.entry-title {
		margin-top: 0;
		margin-left: 0;
	}
	.home-middle .widget ul li,
	.sidebar .widget ul li,
	.sidebar .widget-area ul li {
		width: 50%;
		float: left;
		padding: 5px 0;
	}
	.sidebar .widget ul {
		clear: both;
		margin: 0 auto;
		width: 75%;
		overflow: hidden;
		border-top: 3px solid #000;
		border-bottom: 3px solid #000;
		padding: 10px 0 3px;
	}
	body.secondary .sidebar .widget ul {
		margin: 0 auto 6px;
	}
	#footer {
		margin-top: -9px;
	}
	body.search .page h1.entry-title, body.secondary #content h1.archive-title {
		margin-top: 0;
		margin-left: 0;
	}

}
@media only screen and (max-width: 800px) {
	#insignia_img {
		width: 12.8%;
	}
	#ratings_img {
		width: 43%;
	}
	.footer-widgets-2 {
		width: 78%;
	}
	.sidebar .widget ul {
		width: 85%;
	}
	#footer .wrap {
		min-height: 145px;
	}
}
@media only screen and (max-width: 768px) {
	.footer-widgets-2 {
		width: 81%;
	}
	.header-image #title-area, .header-image #title, .header-image #title a {
		height: 200px;
	}
	#footer .wrap {
		min-height: 132px;
	}
}
@media only screen and (max-width: 680px) {
	.header-image #title-area, .header-image #title, .header-image #title a {
		height: 165px;
	}
	body.secondary .sidebar .widget ul {
		margin-top: 19px;
	}
	#footer .wrap {
		min-height: 120px;
	}
}
@media only screen and (max-width: 600px) {

	#title {
		font-size: 22px;
		line-height: 1;
	}
	
	#nav li a,
	#subnav li a {
		padding: 7px 10px 6px;
	}
	
	#subnav {
		width: 100%;
		/*background: none;
		background-color: #111;*/
		border: none;
	}
	/*#subnav li a:hover,
	#subnav li a:active,
	#subnav .current_page_item a,
	#subnav .current-cat a,
	#subnav .current-menu-item a {
	background: none;
}*/

	#content .slide-excerpt {
		display: none;
	}


	.five-sixths,
	.four-fifths,
	.four-sixths,
	.one-fifth,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fifths,
	.three-fourths,
	.three-sixths,
	.two-fifths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		padding: 0;
		width: 100%;
	}
	
	.cu-identity-wrap {width: 98%; padding: 0 1%;}
	
	#cu-search {
	margin: 10px 8px 0 0;
	}
	
	
	#footer-widgets .wrap {width: 98%; padding: 1% 1%;}
	.after-content-ad {width: 98%; padding: 1% 1%;}
	
	#content, blockquote {
		padding-left: 5px;
		padding-right: 5px;
	}
	#title-area {
		width: 100%;
		padding-left: 5px; 		
	}
	
	#title-area, #title-area #title, #title-area #title a, .header-full-width #title-area, .header-full-width #title, .header-full-width #title a {width: 100%; max-width: 100% !important;}
	
	#header .widget-area {
		padding: 10px;
		top: 0;
		left: 0;
		margin-top: 10px;
		position: relative;
		width: 100%;
		float: left;
		clear: both;
		opacity:1.0 !important;
		filter:alpha(opacity=100) !important; /* For IE8 and earlier */	
	}
	.footer-widgets-2 {
		width: 84%;
	}
	
	.header-image #title-area, .header-image #title, .header-image #title a {
		height: 145px;
	}

	#insignia_img {
		width: 13.8%;
		margin-right: 84px;
		
	}
	#ratings_img {
		width: 53%;
	}
	body.home #inner {
		margin-top: 0px;
	}
	.secondary #header {
		margin-top: 9px;
	}
	#footer .wrap {
		min-height: 105px;
	}
}

@media only screen and (max-width: 550px) {
	.home-middle .widget ul li,
	.sidebar .widget ul li,
	.sidebar .widget-area ul li {
		width: 100%;
	}
	.sidebar .widget ul {
		text-align: left;
	}
	.sidebar .widget-wrap {
		padding-left: 0;
		padding-right: 0;
		width: 102%;
	}
	.sidebar .widget ul {
		padding-left: 10px;
		padding-right: 10px;
		width: 92%;
	}
}
@media only screen and (max-width: 480px) {
	.footer-widgets-2 {
		width: 75%;
	}
	#inner {
		margin-top: 27px;
	}
	#ratings_img {
		width: 77%;
		margin-top: 60px;
		margin-left: 10px;
	}
	.secondary #header {
		margin-top: 30px;
	}
	#identity a#insignia_link {
		display: none;
	}
	#identity a#cu_logo_link {
		display: block;
	}
	#identity a#cu_logo_link {
		background: url(images/project/cu_logo.png) no-repeat;
		background-size: 100%;
		position: absolute;
		top: 9px;
		left: 10px;
		width: 154px;
		height: 39px;
	}
	.header-image #title-area, .header-image #title, .header-image #title a {
		height: 117px;
	}
	body.secondary .sidebar .widget ul {
		margin-top: 0;
		margin-bottom: -5px;
	}
	#footer .wrap {
		min-height: 88px;
	}
	body.home #inner {
		margin-top: 27px;
	}
	.sidebar .widget-wrap {
		padding-bottom: 15px;
	}
}
@media only screen and (max-width: 320px) {
	.footer-widgets-2 {
		width: 98%;
	}
	#footer-widgets .widget ul li, #footer-widgets .widget-area ul li {
		background: none!important;
		padding-left: 0;
		padding-right: 0;
		float: none;
	}	
	#footer-widgets .widget ul li a, #footer-widgets .widget-area ul li a {
		font-size: 16px;
	}	
		
	li.cornell_edu:before {
		font-size: 16px;
	}
	.header-image #title-area, .header-image #title, .header-image #title a {
		height: 50px;
	}
	body.secondary .page h1 {
		font-size: 22px;
	}
	body.secondary .page h1.entry-title {
		font-size: 20px;
	}
	body.secondary #inner {
		margin-top: -30px!important;
	}
	#reading_edu {
		width: 200px;
	}
	#ratings_img {
		width: 94%;
		margin-top: 60px;
		margin-left: 10px;
	}
	#footer .wrap {
		min-height: 60px;
	}
	#search-form input[type="text"], #search-form textarea {
		width: 157px;
	}
}