/* IWS CSS Framework: Base Cornell
   ************************************************************************** */
#cu-brand-wrapper-z {
    z-index: 10000;
}

/***** Nav buttons (for keyboard) *******/

#cu-identity #top-navigation .menu-item-has-children > a button,
#wrap #header #navigation .menu-item-has-children > a button {
    width: 0;
    height: 0;
    padding: 0;
    border: none;
    background: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

#cu-identity #top-navigation .menu-item-has-children > a button:focus,
#wrap #header #navigation .menu-item-has-children > a button:focus {
	background: url('../images/layout/icon_nav_arrow_down_16x10.png') 50% 50% no-repeat;
	background-size: 10px;
	width: 16px;
    height: 50%;
    position: absolute;
    right: 2px;
    top: 25%;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
#wrap #header #navigation .nav-menu > .menu-item-has-children > a button:focus {
    right: -1px;
}
.vendor-mozilla #cu-identity #top-navigation .menu-item-has-children > a button:focus,
.vendor-mozilla #wrap #header #navigation .menu-item-has-children > a button:focus {
    top: 30%;
}
.vendor-mozilla #cu-identity #top-navigation .menu-item-has-children > a button:focus,
.vendor-mozilla #wrap #header #navigation .menu-item-has-children > a button:focus {
	outline: 1px dotted #b31b1b;
}
.vendor-mozilla .theme_gray45#cu-identity #top-navigation .menu-item-has-children > a button:focus,
.vendor-mozilla .theme_red45#cu-identity #top-navigation .menu-item-has-children > a button:focus {
	outline: 1px dotted #fff;
}
#cu-identity #top-navigation .menu-item-has-children > a button:focus {
	background: url('../images/layout/icon_nav_arrow_white_down_16x10.png') 50% 50% no-repeat;
	background-size: 10px;
    top: 27%;
}
#cu-identity #top-navigation .menu-item-has-children:last-child > a button:focus,
#wrap #header #navigation .menu-item-has-children:last-child > a button:focus {

}

#cu-identity #top-navigation .menu-item-has-children > a button.openButton:focus,
#wrap #header #navigation .menu-item-has-children > a button.openButton:focus {
	background: url('../images/layout/icon_nav_arrow_up_16x10.png') 50% 50% no-repeat;
	background-size: 10px;
}
#cu-identity #top-navigation .menu-item-has-children > a button.openButton:focus {
	background: url('../images/layout/icon_nav_arrow_white_up_16x10.png') 50% 50% no-repeat;
	background-size: 10px;
}
#cu-identity #top-navigation .menu-item-has-children > a button.closedButton:focus,
#wrap #header #navigation .menu-item-has-children > a button.closedButton:focus {
	background: url('../images/layout/icon_nav_arrow_down_16x10.png') 50% 50% no-repeat;
	background-size: 10px;
}
#cu-identity #top-navigation .menu-item-has-children > a button.closedButton:focus {
	background: url('../images/layout/icon_nav_arrow_white_down_16x10.png') 50% 50% no-repeat;
	background-size: 10px;
}
#cu-identity.theme_white45 #top-navigation .menu-item-has-children > a button:focus,
#cu-identity.theme_white75 #top-navigation .menu-item-has-children > a button:focus {
	background: url('../images/layout/icon_nav_arrow_down_16x10.png') 50% 50% no-repeat;
	background-size: 10px;
}
#cu-identity.theme_white45 #top-navigation .menu-item-has-children > a button.openButton:focus,
#cu-identity.theme_white75 #top-navigation .menu-item-has-children > a button.openButton:focus {
	background: url('../images/layout/icon_nav_arrow_up_16x10.png') 50% 50% no-repeat;
	background-size: 10px;
}


/* Layout */
#cu-identity {
	height: auto;
	position: relative;
	z-index: 20;
}
body.theme_white_75 #cu-identity {
	width: 100%;
	position: relative;
	overflow: hidden;
}
body.theme_white_75 #cu-identity-content {
	position: relative;
	max-width: 1170px;
    margin: 0 auto;
}
body.theme_white_75 #cu-brand-wrapper {
	position: relative;
	width: 100%;
}
body.theme_white_75 #cu-brand {
	position: relative;
	width: 100%;
}
#cu-identity.theme_white75 {
	border-top: 5px solid #b31b1b;
}




/****** skip nav *******/


#skipnav {
	position: absolute;
	top: 10px;
	left: 15px;
	z-index: 999999;
}
.logged-in #skipnav {
	top: 51px;
}
#skipnav a {
	color: #fff;
	padding: 2px 8px;
	line-height: 1.4;
	text-decoration: none;
	font-size: 17px;
	white-space: nowrap;
	position: absolute;
	left: -1000em;
}
#skipnav a:focus {
	background: #2c6c8d;
	left: 0;
}


/******** accessible menu ********/
#wrap #navigation li.menu-item-has-children a:hover ~ ul,
#wrap #navigation li.menu-item-has-children a:focus ~ ul,
#wrap .show-menu {
    /*display: block !important;*/
}



/* Cornell Identity
   ************************************ */
#cu-seal {
	position: relative;
}
#cu-seal a {
	width: 169px; /* Defines the active area for the standalone CU logo link */
}
#cu-seal.unit75 #unit-link {
	width: 232px; /* Defines the active area for the unit signature link */
}
.theme_white_75 #cu-seal {
	padding: 9px 0;
	float: left;
	position: absolute;
	z-index: 4;
	top: -1px;
}

#search-form {
	font-size: 85.7%;
	font-family: "freight-sans-pro-n3","freight-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 300;
}
#cu-brand-wrapper {
	width: 100%;
}
.theme_gray_45 #cu-brand-wrapper {
	background: #222;
}
.theme_red_45 #cu-brand-wrapper {
	background: #b31b1b;
}








/* Main Navigation 
   ************************************ */

#cu-identity #top-navigation li {
	font-size: 11.5px;
}
#cu-identity #top-navigation li a {
	background: #f7f7f7;
	font-size: .98em;
}
#cu-identity #top-navigation li a {
	padding: 12px 9px 11px 9px;
}
body.theme_white_75 #cu-brand #top-navigation li a, 
body.theme_white_75 #cu-brand #top-navigation li a:visited,
body.theme_white_45 #cu-brand #top-navigation li a, 
body.theme_white_45 #cu-brand #top-navigation li a:visited {
	color: #000000;
}

/* Submenus */

#cu-identity.theme_white75 .nav-menu .sub-menu,
#cu-identity.theme_white75 .nav-menu .children,
#cu-identity.theme_white45 .nav-menu .sub-menu,
#cu-identity.theme_white45 .nav-menu .children {
	top: 36px;
}
#cu-identity.theme_white75 .nav-menu .sub-menu .sub-menu,
#cu-identity.theme_white75 .nav-menu .children .children,
#cu-identity.theme_white45 .nav-menu .sub-menu .sub-menu,
#cu-identity.theme_white45 .nav-menu .children .children,
#cu-identity.theme_white75 .nav-menu .sub-menu .sub-menu .sub-menu,
#cu-identity.theme_white75 .nav-menu .children .children .children,
#cu-identity.theme_white45 .nav-menu .sub-menu .sub-menu .sub-menu,
#cu-identity.theme_white45 .nav-menu .children .children .children {
	top: 3px;
}




/* Cornell Identity 
   ************************************ */

/* search form
   -------------------- */
#cu-search {
	position: static;
	margin: 1em 2px 0;
}
#cu-identity.theme_red45 #cu-identity-content #cu-brand-wrapper {
	background: #b31b1b;	
}
#cu-identity.theme_gray45 #cu-identity-content #cu-brand-wrapper {
	background: #222;	
}
#search-form {
	float: right;
	font-size: 100%;
}
#search-form label {
	font-weight: 400;
}
#search-filters {
	margin-right: 3.25em;
}
#search-form-query {
	width: 20em;
	height: 2.25em;
	font-size: 1em;
	margin-left: 0.5em;
	border: 1px solid #666;
	border-top-color: #444;
	border-right-color: #999;
	border-bottom-color: #999;
	padding: 3px 6px;
	background: #ededed;
	background: -moz-linear-gradient(top,  #d6d6d6 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d6d6), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #d6d6d6 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #d6d6d6 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #d6d6d6 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #d6d6d6 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#ffffff',GradientType=0 );
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#search-filters a {
	margin: 1px 1px 0 15px;
	text-decoration: none;
	color: #961616;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#search-filters a {
		margin: 4px 1px 0 15px;
	}
}
#search-filters a:focus,
#search-filters a:hover {
	color: #c61e1e;
}
#search-filters a:active {
	color: #780000;
}
#search-form-submit {
	padding: 0 0 1px;
	width: 2.75em;
	height: 2.25em;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 0.35em;
	border: 0;
	background: #b31b1b;
	color: #fff;
	cursor: pointer;
}
#search-form-submit:active {
	background: #780000;
}

/* search toggle
   -------------------- */
#search-box {
	margin-top: -6.5em;
	height: 6.5em;
	width: 98%;
    padding: 0 1%;
	background-color: #d2d2d2;
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#search-box.open {
	margin-top: 0;
	-webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
#search-box-content {
	margin: 0 auto;
    max-width: 1170px;
}
#search-button {
	float: right;
}
.theme_white_75 #search-button {
	margin-right: 0;
}
#search-button p {
	margin: 0;
}
#search-button a {
	float: left;
	width: 38px;
	height: 38px;
	overflow: hidden;
	text-indent: -1000em;
	background: #b31b1b url('../images/project/icon_search32.png') 11px 12px no-repeat;
	background-size: 16px;
}
#cu-identity.theme_white45 #search-button a,
#cu-identity.theme_white75 #search-button a {
    height: 40px;
	background: #b31b1b url('../images/project/icon_search32.png') 11px 14px no-repeat;
	background-size: 16px;
}
#cu-identity.theme_white75 #search-button a {
    margin-top: -5px;
}

#cu-seal {
	float: left;
	position: relative;
}

#cu-seal img,
#cu-identity .main.nav-menu,
#header .top.nav-menu {
	display: none;
}

/* Responsive Web Design 
   ************************************ */

@media only screen and (min-width: 1px) {
	#cu-identity, #wrap, #footer, .flexible #cu-identity, .flexible #wrap, .flexible #footer, .image-meta {
		min-width: 0; /* unlock */
	}
}

#cu-identity.theme_white75 {
    border-top: 5px solid #b31b1b;
    overflow: hidden;
}
#cu-identity.theme_white45 {
    border-top: 5px solid #b31b1b;
}


/* FIX SECONDARY GAP */

#cu-identity.theme_white75 {
    border-top: 5px solid #b31b1b;
    overflow: hidden;
}

/* ********************************************************** */


@media only screen and (max-width: 1170px) { /* ************* */
	body.theme_white45 #cu-seal, .theme_gray45 #cu-seal, .theme_red45 #cu-seal {
		padding-left: 10px;
	}
	body.theme_white_75 #cu-identity-content {
		width: 100%;
	}
	body.theme_white_75 #cu-seal {
		left: 1%;
	}
	body.theme_white_75 #custom-branding,
	body.theme_white_75 #search-button {
		margin-right: 16px;
	}
	body.theme_white_75 #search-button {
		margin-right: 38px;
		z-index: 999;
	}
	body.theme_gray_45 #search-button,
	body.theme_red_45 #search-button {
		z-index: 999;
    }
/* ************** */ }
/* ********************************************************** */
@media only screen and (min-width: 959px) and (max-width: 1170px) {
    #cu-search,
	#search-button {
        margin-right: 18px;
    }
/* ************** */ }
/* ********************************************************** */

/* ********************************************************** */
@media only screen and (max-width: 1040px) { /* ************* */
	#search-box {
		background-position: 50% -10px;
	}
/* ************** */ }
/* ********************************************************** */
@media only screen and (min-width: 959px) {
    #cu-identity.theme_white75 #top-navigation li {
        padding-left: 0;   
    }
	.theme_gray45#cu-identity #top-navigation li a:hover,
	.theme_red45#cu-identity #top-navigation li a:hover,
	.theme_gray45#cu-identity #top-navigation li a:focus,
	.theme_red45#cu-identity #top-navigation li a:focus,
	.theme_gray45#cu-identity #top-navigation li.current_page_item a,
	.theme_red45#cu-identity #top-navigation li.current_page_item a,
	.theme_gray45#cu-identity #top-navigation li.current-menu-item a,
	.theme_red45#cu-identity #top-navigation li.current-menu-item a {
		text-decoration: underline;
	}
	#cu-identity.collapse #top-navigation-bar {
		float: none;
	}
	#cu-identity.collapse #top-navigation-wrap {
		width: 100%;
	}
	#cu-identity.collapse #top-navigation li {
		font-size: 1.1em;
		padding: 0;
	}
	/* Navigation Dropdown ****************/
	#cu-identity.collapse .sub-menu.open {
		display: block;
	}
	#cu-identity.collapse #top-navigation-wrap, 
	.flexible #cu-identity.collapse #top-navigation-wrap {
		width: 100% !important;
	}
	#cu-identity.collapse #top-navigation {
		position: absolute;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.theme_white_45 #cu-identity.collapse #top-navigation {
		z-index: 9;
	}
	#cu-identity.collapse #top-navigation #menu-button {
		display: block;
		margin: 0 38px 0 0;
		overflow: hidden;
		text-indent: -1000em;
	}
	.theme_white_45 #cu-identity.collapse #top-navigation #menu-button {
		margin: -5px 0 0 0;
	}
	.no-backgroundsize #cu-identity.collapse #top-navigation #menu-button em {
		background-image: url('../images/project/icon_menu16.gif');
	}
	.theme_gray_45 #cu-identity.collapse #top-navigation #menu-button em:active {
		background-color: #222;
	}
	.theme_gray_45 #cu-identity.collapse #top-navigation #menu-button em.open {
		background-color: #333;
	}
	.theme_gray_45 #cu-identity.collapse #top-navigation #menu-button em.open:active {
		background-color: #222;
	}
	.theme_white_75 #cu-identity.collapse #top-navigation #menu-button em {
		float: right;
		width: 38px;
		height: 35px;
		background: #A10606 url('../images/project/icon_extras40.png') 10px 14px no-repeat;
		background-size: 18px;
		cursor: pointer;
	}
	.theme_white_75 #cu-identity.collapse #top-navigation #menu-button em.open {
		background-color: #333;
	}
	body.theme_white_75 #cu-identity.collapse  {
		overflow: visible;
	}
	body.theme_white_75 #cu-identity.collapse #top-navigation #menu-button {
		margin-bottom: 15px;
	}
	#cu-identity.collapse #top-navigation ul, 
	.nav-centered #cu-identity.collapse #top-navigation ul {
		display: none;
		width: 50%;
		border: 0;
		margin-top: -15px;
		margin-right: 38px;
		background: #333 !important;
		overflow: hidden;
		-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
		-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
		box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
	}
	#cu-identity.collapse #top-navigation li {
		display: inline-block;
		width: 100%;
		text-align: left;
		border-bottom: 1px solid #4D4E53;
		height: auto;
	}
	#cu-identity.collapse #top-navigation li a, 
	#cu-identity.collapse #top-navigation ul.mobile-menu #section-navigation li.active {
		-ms-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		text-align: left !important;
		width: 100%;
		padding: 15px 9% 15px 4% !important;
		margin: 0;
	}
	#cu-identity.collapse #top-navigation ul li.menu-item-has-children .nav-arrow {
		background: url('../images/layout/nav_arrow_red_down.svg') 45% 67% no-repeat;
		background-size: 22px;
		border-left: 1px solid #4D4E53;
		width: 37px;
		height: 47px;
		float: right;
		position: absolute;
		cursor: pointer;
		right: 0;
		top: 0;
		display: none;
	}
	#cu-identity.collapse #top-navigation ul li.menu-item-has-children .nav-arrow.open {
		background: url('../images/layout/nav_arrow_red_up.svg') 45% 36% no-repeat;
		background-size: 22px;
		border-bottom: 1px solid #4D4E53;
		height: 40px;
	}
	#cu-identity.collapse #top-navigation ul li.menu-item-has-children ul li .nav-arrow {
		display: none;
	}
	#cu-identity.collapse #top-navigation li a span {
		height: auto;
		display: inline;
	}
	#cu-identity.collapse #top-navigation li.active {
		height: auto;
	}
	#cu-identity.collapse #top-navigation li.active a {
		background: #b31b1b;
		color: #000;
		background-image: none;
	}
	#cu-identity.collapse #top-navigation li ul {
		display: none;
		border-top: none;
		border-bottom: none;
		position: relative;
		width: 100%;
	}
	
	#cu-identity.collapse #top-navigation li ul li {
		border-top: none;
		border-bottom: none;
		padding-left: 4%;
		width: 96%;
	}
	
	#cu-identity.collapse  #top-navigation li a {
		background: rgba(51, 51, 51, 1);
		background: #333333;
	}
	#cu-identity.collapse #search-button {
		position: relative;
		z-index: 9;
	}
	#cu-identity.collapse #top-navigation li {
		font-size: 1.0em;
	}
	
	#cu-identity.collapse  #top-navigation li a {
		background: #333!important;
	}
	#cu-identity.collapse.theme_white45 #search-button {
		margin-right: 38px;
		z-index: 99;
	}
	.theme_white_45 #cu-identity.collapse #top-navigation,
	.theme_white_75 #cu-identity.collapse #top-navigation {
		margin-top: 0;
		z-index: 99;
	}
	
	body.theme_white_75 #custom-branding {
		clear: right;
		float: right;
		padding: 30px 0 8px;
		margin-left: 150px;
	}

	.theme_white_75 #cu-identity.tagline #custom-branding {
		padding: 12px 0 8px!important;
	}

	.theme_white_75 #cu-identity.tagline #cu-seal {
		top: 3px;
	}
#header #navigation-bar #navigation li {
	padding: 2px 16px 0 0;
}
#header #navigation-bar #navigation li:first-child {
	padding-left: 13px;
}
#header #navigation-bar #navigation .sub-menu {
	width: 180px;
	border: 1px solid #e3e3e3;
	border-top: none;
}
#header #navigation-bar #navigation .sub-menu {
	left: 16px;
}
#header #navigation-bar #navigation li:first-of-type .sub-menu:first-of-type {
	left: 10px;
}
#header #navigation-bar #navigation .sub-menu .sub-menu {
	left: 100%!important;
}
#header #navigation-bar #navigation .sub-menu li {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
	border-bottom: 1px solid #e3e3e3;
}
#header #navigation-bar #navigation .sub-menu li:last-child {
	border: none;
}
#header #navigation-bar #navigation .sub-menu li a {
	line-height: 1.2em;
	font-size: 13px;
	text-align: left;
	padding: 6px 10px;
	text-transform: none;
	width: calc(100% - 20px);
}

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul,
ul.nav-menu li:focus > ul,
.nav-menu ul li:focus > ul {
	display: block;
}

/*submenu layering fixes (top) */
.image-meta {
	pointer-events: none;
}
#cu-identity #top-navigation .sub-menu {
	margin-left: 27px;
	border: 1px solid #e3e3e3;
    border-top: none;
    border-bottom: none;
}
#cu-identity #top-navigation .sub-menu .sub-menu {
	margin-left: 0;
}
#cu-identity #top-navigation .sub-menu li {
	padding-left: 0!important;
    width: 16em!important;
	text-align: left;
	border-bottom: 1px solid #e3e3e3;
}
#cu-identity #top-navigation .sub-menu li a {
    width: 13em!important;
	font-size: 12px;
	padding: 14px 14px;
	text-transform: none;
}
#cu-identity #top-navigation .sub-menu li a:hover,
#cu-identity #top-navigation .sub-menu li a:focus {
	  background: #ededed;
}
#cu-identity #top-navigation .sub-menu .sub-menu,
#cu-identity #top-navigation .sub-menu .sub-menu .sub-menu,
#header #navigation-bar #navigation .sub-menu .sub-menu,
#header #navigation-bar #navigation .sub-menu .sub-menu .sub-menu {
	border-top: 1px solid #e3e3e3;
}


/*gray*/
.theme_gray_45 #cu-identity #top-navigation .sub-menu {
	border: 1px solid #333;
    border-top: none;
    border-bottom: none;
}
.theme_gray_45 #cu-identity #top-navigation .sub-menu .sub-menu,
.theme_gray_45 #cu-identity #top-navigation .sub-menu .sub-menu .sub-menu {
	border-top: 1px solid #333;
}
.theme_gray_45 #cu-identity #top-navigation .sub-menu li {
	padding-top: 0;
	text-align: left;
	border-bottom: 1px solid #333;
	width: 16em!important;
}
.theme_gray_45 #cu-identity #top-navigation .sub-menu li a {
	width: 14em;
	padding: 14px 14px;
	text-transform: none;
	text-decoration: none;
}
.theme_gray_45 #cu-identity #top-navigation .sub-menu li:hover > a,
.theme_gray_45 #cu-identity #top-navigation .sub-menu li:focus > a,
.theme_gray_45 #cu-identity #top-navigation .sub-menu li:hover,
.theme_gray_45 #cu-identity #top-navigation .sub-menu li a:hover,
.theme_gray_45 #cu-identity #top-navigation .sub-menu li:focus,
.theme_gray_45 #cu-identity #top-navigation .sub-menu li a:focus {
	background: #222;
	text-decoration: underline;
}

/*red*/
.theme_red_45 #cu-identity #top-navigation .sub-menu {
	border: 1px solid #A10606;
    border-top: none;
    border-bottom: none;
}
.theme_red_45 #cu-identity #top-navigation .sub-menu .sub-menu,
.theme_red_45 #cu-identity #top-navigation .sub-menu .sub-menu .sub-menu {
	border-top: 1px solid #A10606;
}
.theme_red_45 #cu-identity #top-navigation .sub-menu li {
	padding-top: 0;
	text-align: left;
	border-bottom: 1px solid #A10606;
	width: 16em!important;
}
.theme_gray_45 #cu-identity #top-navigation .sub-menu li a,
.theme_red_45 #cu-identity #top-navigation .sub-menu li a {
	width: 14em;
	padding: 12px 14px;
    text-transform: none;
    text-decoration: none;
    line-height: 1.2em;
}
.theme_red_45 #cu-identity #top-navigation .sub-menu li:hover > a,
.theme_red_45 #cu-identity #top-navigation .sub-menu li:focus > a,
.theme_red_45 #cu-identity #top-navigation .sub-menu li:hover,
.theme_red_45 #cu-identity #top-navigation .sub-menu li a:hover,
.theme_red_45 #cu-identity #top-navigation .sub-menu li:focus,
.theme_red_45 #cu-identity #top-navigation .sub-menu li a:focus {
	background: #b31b1b;
	text-decoration: underline;
}

#cu-identity.theme_white75 #top-navigation-bar,
#cu-identity.theme_white45 #top-navigation-bar {
    margin-right: 0;
}
#cu-identity.theme_white75 #top-navigation li a,
#cu-identity.theme_white45 #top-navigation li a {
	padding: 12px 9px 12px 9px;
}
#cu-identity.theme_white45 #top-navigation .sub-menu > li:hover,
#cu-identity.theme_white45 #top-navigation .sub-menu > li:focus,
#cu-identity.theme_white75 #navigation .sub-menu > li:hover,
#cu-identity.theme_white75 #navigation .sub-menu > li:focus,
#cu-identity.theme_white75 #top-navigation .sub-menu > li:hover,
#cu-identity.theme_white75 #top-navigation .sub-menu > li:focus,
#cu-identity.theme_white45 #navigation .sub-menu > li:hover,
#cu-identity.theme_white45 #navigation .sub-menu > li:focus {
	background: #f7f7f7 !important;
}
#cu-identity.theme_white45 #top-navigation .sub-menu > li:hover > a,
#cu-identity.theme_white45 #top-navigation .sub-menu > li:focus > a,
#cu-identity.theme_white75 #navigation .sub-menu > li:hover > a,
#cu-identity.theme_white75 #navigation .sub-menu > li:focus > a,
#cu-identity.theme_white45 #top-navigation .nav-menu > li:hover > a,
#cu-identity.theme_white45 #top-navigation .nav-menu > li:focus > a,
#cu-identity.theme_white75 #navigation .nav-menu > li:hover > a,
#cu-identity.theme_white75 #navigation .nav-menu > li:focus > a,
#cu-identity.theme_white75 #top-navigation .nav-menu > li:hover > a,
#cu-identity.theme_white75 #top-navigation .nav-menu > li:focus > a,
#cu-identity.theme_white45 #navigation .nav-menu > li:hover > a,
#cu-identity.theme_white45 #navigation .nav-menu > li:focus > a,
#cu-identity.theme_white75 #top-navigation .sub-menu > li:hover > a,
#cu-identity.theme_white75 #top-navigation .sub-menu > li:focus > a,
#cu-identity.theme_white45 #navigation .sub-menu > li:hover > a,
#cu-identity.theme_white45 #navigation .sub-menu > li:focus > a {
	background: #f7f7f7 !important;
	text-decoration: underline !important;
}
[id$="navigation"] .menu-item-has-children > .nav-arrow {
	display: none;
}

/*************/
}
/* ********************************************************** */
@media only screen and (max-width: 959px) { /* ************** */

#navigation-wrap, 
#top-navigation-wrap, 
.footer-content, 
#content, 
#midband, 
#cu-identity-content, 
#search-box-content, 
.slider-meta, 
.colorband-content {
	width: 100%;
}
#cu-identity {
	z-index: 2000;
}


/********* Navigation Dropdown ********/
.sub-menu.open {
	display: block;
}
#top-navigation-wrap, 
.flexible #top-navigation-wrap,
#navigation-wrap, 
.flexible #navigation-wrap {
	width: 100% !important;
}
#top-navigation,
#navigation {
	position: absolute;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#cu-identity:not(.theme_gray45):not(.theme_red45) #top-navigation > div {
	margin-top: 48px;
}
.theme_white_45 #cu-identity #top-navigation {
	margin-top: 5px;
}
.theme_white_45 #top-navigation,	
.theme_white_45 #navigation {	
	z-index: 9;
}
#top-navigation #menu-button,
#navigation #menu-button {
	display: block;
	margin: 0 0 0 0;
	overflow: hidden;
	text-indent: -1000em;
	width: 49px;
    float: right;
}
.theme_white_45 #top-navigation #menu-button,
.theme_white_45 #navigation #menu-button {
	margin: -5px 0 0 0;
}
.no-backgroundsize #top-navigation #menu-button em,
.no-backgroundsize #navigation #menu-button em {
	background-image: url('../images/project/icon_menu16.gif');
}
.theme_gray_45 #top-navigation #menu-button em:active,
.theme_gray_45 #navigation #menu-button em:active {
	background-color: #222;
}
.theme_gray_45 #top-navigation #menu-button em.open,
.theme_gray_45 #navigation #menu-button em.open {
	background-color: #333;
}
.theme_gray_45 #top-navigation #menu-button em.open:active,
.theme_gray_45 #navigation #menu-button em.open:active {
	background-color: #222;
}
.theme_red_45 #top-navigation #menu-button em.open,
.theme_gray_45 #top-navigation #menu-button em.open,
.theme_red_45 #navigation #menu-button em.open,
.theme_gray_45 #navigation #menu-button em.open {
	height: 49px;
}
.theme_white_45 #top-navigation #menu-button em,
.theme_white_75 #top-navigation #menu-button em,
.theme_white_45 #navigation #menu-button em,
.theme_white_75 #navigation #menu-button em {
    float: right;
    width: 38px;
    height: 35px;
    background: #A10606 url('../images/project/icon_menu32.png') 11px 9px no-repeat;
    background-size: 18px;
    cursor: pointer;
    margin-right: 0px;
}
.theme_white_75 #top-navigation #menu-button em,
.theme_white_75 #navigation #menu-button em {
    height: 35px;
    background: #A10606 url('../images/project/icon_menu32.png') 11px 9px no-repeat;
    background-size: 18px;
}
.theme_white_45 #cu-identity,
.theme_white_75 #cu-identity {
    overflow: visible;
}
.theme_white_45 #top-navigation #menu-button em.open,
.theme_white_75 #top-navigation #menu-button em.open,
.theme_white_45 #navigation #menu-button em.open,
.theme_white_75 #navigation #menu-button em.open {
    background: #A10606 url('../images/X-white.png') 14px 11px no-repeat;
    background-size: 11px;
	height: 35px;
}
.theme_red45#cu-identity #top-navigation li,
.theme_red45#cu-identity #top-navigation li a {
	background: #fff;
}
.theme_gray45#cu-identity #top-navigation li,
.theme_gray45#cu-identity #top-navigation li a {
	background: #fff;
}
.theme_gray45#cu-identity #top-navigation li a,
.theme_red45#cu-identity #top-navigation li a {
	color: #000;
}
.theme_white_75 #top-navigation #menu-button em.open,
.theme_white_75 #navigation #menu-button em.open {
	height: 35px;
}
#top-navigation ul, 
.nav-centered #top-navigation ul,
#navigation ul, 
.nav-centered #navigation ul {
	display: none;
	width: 100%;
	border: 0;
	margin-right: 1.25%;
	background: #fff;
}
.theme_white_45 #top-navigation .nav-menu,
.theme_white_75 #top-navigation .nav-menu,
.theme_white_45 #navigation .nav-menu,
.theme_white_75 #navigation .nav-menu {
	border-top: 1px solid #e0e0e0;
}
#top-navigation li,
#navigation li {
	display: inline-block;
	width: 100% !important;
	text-align: left;
	border-bottom: 1px solid #e0e0e0;
	height: auto;
	font-weight: normal;
	text-transform: none;
	letter-spacing: normal;
}
#top-navigation li ul li:last-child,
#navigation li ul li:last-child {
	border-bottom: none;
}
#top-navigation li ul,
#top-navigation li ul li,
#top-navigation li ul li a,
#navigation li ul,
#navigation li ul li,
#navigation li ul li a {
	background: #f6f6f6 !important;
}
#top-navigation li a, 
#top-navigation ul.mobile-menu #section-navigation li.active,
#navigation li a, 
#navigation ul.mobile-menu #section-navigation li.active {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left !important;
	width: 100%;
	padding: 18px 9% 18px 4% !important;
	margin: 0;
}
#cu-identity.theme_red45 #top-navigation li a, 
#cu-identity.theme_red45 #top-navigation ul.mobile-menu #section-navigation li.active,
#cu-identity.theme_red45 #navigation li a, 
#cu-identity.theme_red45 #navigation ul.mobile-menu #section-navigation li.active {
	padding: 18px 9% 18px 4% !important;
}
.theme_white_45 #top-navigation li a, 
.theme_white_45 #top-navigation ul.mobile-menu #section-navigation li.active,
.theme_white_75 #top-navigation li a, 
.theme_white_75 #top-navigation ul.mobile-menu #section-navigation li.active,
.theme_white_45 #navigation li a, 
.theme_white_45 #navigation ul.mobile-menu #section-navigation li.active,
.theme_white_75 #navigation li a, 
.theme_white_75 #navigation ul.mobile-menu #section-navigation li.active {
	padding: 14.5px 9% 14.5px 4% !important;
}
#top-navigation ul li.menu-item-has-children .nav-arrow,
#navigation ul li.menu-item-has-children .nav-arrow {
	background: #f6f6f6 url('../images/layout/nav_arrow_red_down.svg') 45% 74% no-repeat !important;
	background-size: 22px !important;
	border-left: 1px solid #e0e0e0 !important;
	width: 40px !important;
	height: 40px !important;
	float: right;
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
}
#cu-identity.theme_gray45 #top-navigation ul li.menu-item-has-children .nav-arrow,
#cu-identity.theme_gray45 #navigation ul li.menu-item-has-children .nav-arrow,
#cu-identity.theme_red45 #top-navigation ul li.menu-item-has-children .nav-arrow,
#cu-identity.theme_red45 #navigation ul li.menu-item-has-children .nav-arrow {
	width: 48px !important;
	height: 47px !important;
}
.theme_white_45 #top-navigation ul li.menu-item-has-children .nav-arrow,
.theme_white_75 #top-navigation ul li.menu-item-has-children .nav-arrow,
.theme_white_45 #navigation ul li.menu-item-has-children .nav-arrow,
.theme_white_75 #navigation ul li.menu-item-has-children .nav-arrow {
	width: 38px;
	height: 40px;
}
.vendor-webkit:not(.browser-chrome) .theme_white_45 #top-navigation ul li.menu-item-has-children .nav-arrow,
.vendor-webkit:not(.browser-chrome) .theme_white_75 #top-navigation ul li.menu-item-has-children .nav-arrow,
.vendor-webkit:not(.browser-chrome) .theme_white_45 #navigation ul li.menu-item-has-children .nav-arrow,
.vendor-webkit:not(.browser-chrome) .theme_white_75 #navigation ul li.menu-item-has-children .nav-arrow {
	height: 39px;
}
.theme_gray_45 #top-navigation ul li.menu-item-has-children .nav-arrow,
.theme_red_45 #top-navigation ul li.menu-item-has-children .nav-arrow,
.theme_gray_45 #navigation ul li.menu-item-has-children .nav-arrow,
.theme_red_45 #navigation ul li.menu-item-has-children .nav-arrow {
	width: 48px;
}
#top-navigation ul li.menu-item-has-children .nav-arrow.open,
#navigation ul li.menu-item-has-children .nav-arrow.open {
	background: #f6f6f6 url('../images/layout/nav_arrow_red_up.svg') 45% 36% no-repeat !important;
	background-size: 22px !important;
	height: 47px;
}
.theme_white_45 #top-navigation ul li.menu-item-has-children .nav-arrow.open,
.theme_white_75 #top-navigation ul li.menu-item-has-children .nav-arrow.open,
.theme_white_45 #navigation ul li.menu-item-has-children .nav-arrow.open,
.theme_white_75 #navigation ul li.menu-item-has-children .nav-arrow.open {
	height: 40px;
}
#top-navigation ul li.menu-item-has-children ul li .nav-arrow,
#navigation ul li.menu-item-has-children ul li .nav-arrow {
	display: none;
}
#top-navigation li a span,
#navigation li a span {
	height: auto;
	display: inline;
}
#top-navigation li.active,
#navigation li.active {
	height: auto;
}
#top-navigation li.active a,
#navigation li.active a {
	background: #b31b1b;
	color: #000;
	background-image: none;
}
#top-navigation li ul,
#navigation li ul {
	display: none;
	border-top: none;
	border-bottom: none;
	position: relative;
	width: 100%;
}

#top-navigation li ul li,
#navigation li ul li {
	border-top: 1px solid #e0e0e0;
	text-indent: 4%;
	width: 100%;
}
#top-navigation li ul li:first-child,
#navigation li ul li:first-child {
	border-bottom: none;
}

#cu-identity #top-navigation li a {
	background: #fff;
	color: #000;
	font-size: 18px;
}
#cu-identity #top-navigation li {
    padding: 0 !important;
}
#search-button {
	position: relative;
	margin-right: 49px;
	z-index: 9;
}
.theme_white_75 #search-button,
.theme_white_45 #search-button {
	margin-right: 38px;
}
ustom-branding h1 {
	font-size: 3em;
}

#search-button {
	margin-right: 49px;
}
.theme_white45 #search-button {
	margin-right: 41px;
	z-index: 999;
}
body.theme_white_75 #custom-branding {
	float: left;
	margin: 15px 0 5px 7px;
	clear: both;
}
.theme_white75 #cu-seal a {
	width: 169px;
	height: 49px;
	background: url(../images/cornell_identity/cu_logo_white45.gif) no-repeat top left;
	background-size: 169px;
}
body.theme_white_75 #cu-seal {
	padding-top: 0;
	top: 0;
	left: 3%;
	z-index: 999;
}
#cu-seal {
	z-index: 999;
}
#responsive-hier-nav-menu,
#responsive-main-nav-menu {
	padding: 12px 8px;
	width: 100%;
}
#content #main .widget-area aside #searchform .search-field {
    padding: 8px 12px 8px 12px !important;
}
.theme_gray45#cu-identity #top-navigation li a:hover,
.theme_red45#cu-identity #top-navigation li a:hover,
.theme_white45#cu-identity #top-navigation li a:hover,
.theme_white75#cu-identity #top-navigation li a:hover,
.theme_gray45#cu-identity #top-navigation li a:focus,
.theme_red45#cu-identity #top-navigation li a:focus,
.theme_white45#cu-identity #top-navigation li a:focus,
.theme_white75#cu-identity #top-navigation li a:focus,
.theme_gray45#cu-identity #top-navigation li.current_page_item a,
.theme_red45#cu-identity #top-navigation li.current_page_item a,
.theme_white45#cu-identity #top-navigation li.current_page_item a,
.theme_white75#cu-identity #top-navigation li.current_page_item a,
.theme_gray45#cu-identity #top-navigation li.current-menu-item a,
.theme_red45#cu-identity #top-navigation li.current-menu-item a,
.theme_white45#cu-identity #top-navigation li.current-menu-item a,
.theme_white75#cu-identity #top-navigation li.current-menu-item a,
.theme_gray45#cu-identity #navigation li a:hover,
.theme_red45#cu-identity #navigation li a:hover,
.theme_white45#cu-identity #navigation li a:hover,
.theme_white75#cu-identity #navigation li a:hover,
.theme_gray45#cu-identity #navigation li a:focus,
.theme_red45#cu-identity #navigation li a:focus,
.theme_white45#cu-identity #navigation li a:focus,
.theme_white75#cu-identity #navigation li a:focus,
.theme_gray45#cu-identity #navigation li.current_page_item a,
.theme_red45#cu-identity #navigation li.current_page_item a,
.theme_white45#cu-identity #navigation li.current_page_item a,
.theme_white75#cu-identity #navigation li.current_page_item a,
.theme_gray45#cu-identity #navigation li.current-menu-item a,
.theme_red45#cu-identity #navigation li.current-menu-item a,
.theme_white45#cu-identity #navigation li.current-menu-item a,
.theme_white75#cu-identity #navigation li.current-menu-item a {
	color: #b31b1b;
}
#cu-identity.theme_white75 #navigation,
#cu-identity.theme_white45 #navigation,
#cu-identity.theme_white75 #top-navigation,
#cu-identity.theme_white45 #top-navigation {
	background: #fff;
}
#top-navigation,
#navigation {
	z-index: 99 !important;
	right: 0;
}
/*.nav-menu .sub-menu,
.nav-menu .children {
	left: 0;
}*/
.theme_gray45 #custom-branding,
.theme_red45 #custom-branding {
	margin-top: -1px;
}
#cu-overlay,
#cu-overlay-top {
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	transition: opacity 0.4s;
	opacity: 0;
	position: fixed;
	width: 100%;
	-webkit-backface-visibility: hidden;
}
#cu-overlay.overlay-visible,
#cu-overlay-top.overlay-visible {
	background: rgba(0,0,0,0.85);
	top: 160px;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 1;
	z-index: 1000;
}

#search-button {
	margin-right: 49px !important;
}
#cu-identity.theme_white75 .nav-menu .sub-menu, 
#cu-identity.theme_white75 .nav-menu .children, 
#cu-identity.theme_white45 .nav-menu .sub-menu, 
#cu-identity.theme_white45 .nav-menu .children {
    top: 0 !important;
}
/* ************** */ }
/* ********************************************************** */
/* ********************************************************** */
@media only screen and (max-width: 800px), print { /* ************** */
#cu-seal {
	float: left;
	position: absolute;
	top: -1px;
}

.no-svg #cu-seal a {
	background-size: auto !important;
}
#search-box-content {
	margin-right: 1.25%;

}

/* ************** */ }
/* ********************************************************** */
@media screen and (max-width: 768px) {
#search-button {
	margin-right: 48px;
}
/* ************** */ }


/* ********************************************************** */



@media screen and (max-width: 600px) {
body.theme_white_75 #custom-branding {
	margin-left: -7px;
}
/* ************** */ }


/* ********************************************************** */
@media only screen and (max-width: 480px) { /* ************** */
header .entry-thumbnail a {
	height: auto;
}
#search-button {
	margin-right: 48px;
}
#search-form-query {
	width: 10.5em;
}
#search-filters {
	margin-right: 0;
}
#search-box-content {
	margin-right: 7%;
}

/* ************** */ }
/* ********************************************************** */

/* ********************************************************** */

@media only screen and (max-width: 320px) { /* ************** */
#cu-search #search-form-query {
	height: 2em;
	padding: 2px 5px;
}
#cu-search #search-form-submit {
	width: 35px;
	height: 33px;
	margin-left: 0;
}
#cu-search #search-form label[for="search-form-query"] {
    display: none;
}
#cu-search #search-form-query {
    width: 12em;
}
#search-filters a {
    margin: 0 13px 0 0;
}
body.theme_white45 #cu-seal, 
.theme_gray45 #cu-seal, 
.theme_red45 #cu-seal {
    padding-left: 0;
}
#cu-seal a {
    width: 158px;
	margin-top: 2px;
    background-size: 158px !important;
}

/* ************** */ }
