/* WordPress editor styles


/************************* no cornell, Main ****************************************/

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1.4em;
	margin-bottom: 12px;
}
h1, h2, h3 {
	font-family: Georgia, Times New Roman, serif;
	line-height: 1.2em;
}
h1 {
	font-size: 2em;
	line-height: 1.2em;
}
h2, .CS_Textblock_Caption {
	font-size: 1.75em;
	font-weight: 500;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.2em;
}
h5, h6 {
	margin-bottom: 5px;
}
h6 {
	font-style: italic;
}
p, td, th, li, dt, dd {
	line-height: 1.7em;
}
p {
	margin-bottom: 15px;
}
b, strong {
	font-weight: bold;
}
i, em, cite {
	font-style: italic;
}
cite {
	font-style: italic;
	color: #2d6d8d;
}
blockquote, pre {
	margin-left: 2em;
	padding-left: 1em;
	border-left: 1px solid #ccc;
	font-style: italic;
	line-height: 1.4em;
}
pre, code {
	font-family: mono-space, monospace;
	font-style: normal;
	margin-bottom: 15px;
}
kbd {
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	font-style: normal;
	margin-bottom: 15px;
}
abbr, acronym {
	text-transform: uppercase;
	letter-spacing: 1px;
}
big {
	font-size: x-large;	
}
abbr[title], acronym[title] {
	cursor: help;
}
sup, sub {
	font-size: .8em;
	position: relative;
}
sup {
	top: -0.4em;
}
sub {
	top: 0.2em;
}
var {
    font-style: italic;
    font-family: "Times New Roman", Georgia, Serif;
}

/* Links (Cornell Red) */
a, a:visited {
	color: #b31b1b;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	color: #f00;
}

/* Lists */
ul {
	margin-left: 18px;
	margin-bottom: 15px;
	list-style-type: none;
}
ul li {
	padding-left: 13px;
	background: url('../images/layout/bullets_vector/bullet_square.svg') 2px 0.8em no-repeat;
}
ul.disc li {
	background: url('../images/layout/bullets_vector/bullet_disc.svg') 0 0.8em no-repeat;
}
ul.circle li {
	background: url('../images/layout/bullets_vector/bullet_circle.svg') 0 0.8em no-repeat;
}
.no-svg ul > li {
	background: url('../images/layout/bullets_pixel/bullet_square.gif') 0 0.8em no-repeat;
}
.no-svg ul.disc > li {
	background: url('../images/layout/bullets_pixel/bullet_disc.gif') 0 0.8em no-repeat;
}
.no-svg ul.circle > li {
	background: url('../images/layout/bullets_pixel/bullet_circle.gif') 0 0.8em no-repeat;
}
ol {
	margin-left: 36px;
	margin-bottom: 15px;
}
ol > li {
	padding-left: 0;
	list-style: decimal;
	background: none;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 4px;
	margin-top: 8px;
}

/* Table of Contents */
ul.toc {
	border-left: 4px solid #ddd;
	border-color: rgba(0,0,0,0.1);
	margin-left: 1px;
	padding-left: 0px;
	margin-bottom: 20px;
}
ul.toc li {
	background: none;
	padding-left: 10px;
}
ul.toc ol li {
	padding-left: 0;
}
ul.toc a {
	padding-right: 10px;
	background: url('../images/layout/bullets_vector/triangle_right.svg') right 0.50em no-repeat;
}
.no-svg ul.toc a {
	background: url('../images/layout/icon_arrow_darkgrey.gif') right 0.35em no-repeat;
}

/* Tables */
table {
	width: 100%;
	margin-bottom: 15px;
	border: solid #ddd;
	border-width: 1px 1px 0 0;
	border-collapse: collapse;
}
table table {
	margin-bottom: 0;
}
caption {
	font-style: italic;
	color: #777;
	margin: 0.2em 0;
	line-height: 1.6em;
	text-align: left;
}
td, th {
	border: solid #ddd;
	border-width: 0 0 1px 1px;
	padding: 6px;
	vertical-align: top;
	background: url('../images/layout/white_alpha20.png');
	background: rgba(255,255,255,0.2);
}
th {
	color: #444;
	font-weight: bold;
	text-align: center;
	/*background: #f5f5f5;*/
	background: url('../images/layout/black_alpha04.png');
	background: rgba(0,0,0,0.04);
}
th p {
	margin-bottom: 0;
}
.carousel .gallery-row {
    margin: 0 auto;   
}
#gallery-1 .gallery-caption {
  margin-left: 0;
  padding: 0 12px;
  line-height: 1.15em;
  color:#333333;
}
blockquote, p.note, pre, #wrap table, #wrap th, #wrap td, #wrap form fieldset, #wrap form.webform-client-form > div {
	border-color: #5c5c5c; /* line color */
}
pre {
	white-space: pre-wrap;
}

/* customized WordPress styles */
.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 0;
	margin: 0 0 10px 0;
	max-width: 100%;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
img.float-left {
	float: left;
	margin: 0 1em 0.5em 0;
}
.alignleft {
	float: left;
	margin: 3px 10px 10px 0;
}
.alignright {
	float: right;
	margin: 3px 0 10px 10px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.image-left {
	float: left;
	margin: 0 12px 6px 0;
	max-width: 40%;
}
.image-right {
	float: right;
	margin: 0 0 6px 12px;
	max-width: 40%;
}
img {
	max-width: 100%;
}
.mceIEcenter {
	text-align: center;
}
.wp-caption img {
	margin: 0;
	padding: 0;
	border: 0 none;
}
.wp-caption-dd {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
.wp-caption-text {
	margin: 0;
	padding: 6px 0;
	font-size: 0.917em;
}

/* Components
   -------------------- */
.list, .list-item {
	float: left;
	width: 100%;
}
.list {
	padding-bottom: 2em;
}
.list-item {
	margin: 1em 0;
}
.list-item img {
	float: left;
	margin: 0 1.2em 0.5em 0;
	border: 1px solid #fff;
}
.list-item h3 {
	font-size: 1.2em;
}
.list-item h3, .list-item h4 {
	margin-bottom: 0.2em;
}

/* courses with college tags */
h3.tag {
	display: inline-block;
	width: 65px;
	height: 65px;
	line-height: 65px;
	overflow: hidden;
	text-align: center;
	background: #A3A3A3;
	-moz-border-radius: 240px;
	-webkit-border-radius: 240px;
	border-radius: 240px;
	color: #fff;
	font-size: 1.2em;
	float: left;
	margin: 0 1em;
}
.list.courses li {
	background-image: none;
}

/* Cornell Identity 
/* ********************************************************** */
@media only screen and (max-width: 630px) { /* ************** */
h1 {
	font-size: 1.75em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.25em;
}
/* ************** */ }

/*@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'); /* fa css */
