/* 
	Author: IWS
	Author URI: http://www.cornell.edu
*/

body {
 	margin: 0;
	padding: 0;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 63.125%;		/* translate 1.0em to 10px, 1.5em to 15px, etc. */
	color: #222;
	background: #D8D0C3 url(../images/ebook/body_bg.gif) 0 0 repeat-x;	/* footer background color */
 	}
/****************************************
 * Cornell Identity
 ****************************************/

#cu-identity {
	height: 75px;
	background: #fff;
	}

#cu-logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -480px;
	width: 960px;
	height: 75px;
	background: url(../images/layout/unit_signature_white.gif) no-repeat -8px -1px;
	}
	
#cu-logo a {
	position: absolute;
	display: block;
	border: none;
	/* hide text link */
	text-indent: -1000em;
	}
	
#insignia-link {
	width: 68px;
	height: 75px;
	}

#unit-signature-links a {
	left: 68px;
	width: 230px;
	}

#cornell-link {
	height: 38px;
	}
	
#unit-link {
	top: 38px;
	height: 37px;
	}
	
#cu-logo img {
	display: none;
	}
 
/*	
	Search Form
	-------------------------
	The following rules control the appearance of the search form interface. 
	The form is displayed in the Cornell banner, and it is aligned with the 
	right edge of the page. The search form should appear on every page 
	of a site. 
*/

#search-form {
	position: absolute;
	top: 20px;
	right: 50%;
	margin-right: -470px;
	}
	
#search-form form {
	margin: 0;
	padding: 0;
	text-align: right;
	}
	
#search-form-query {
	padding: 3px;
	width: 145px;
	border: none;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	background: #5e5a52 url(../images/layout/header_search.gif) no-repeat top left;
	vertical-align: middle;
	}
	
#search-form-submit {
	padding: 0px 2px 3px 2px;;
	border-top: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #b3b3b3;
	border-bottom: 1px solid #b3b3b3;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 1.0em;
	font-weight: bold;
	color: #333;
	background: #f2f2f2;
	vertical-align: middle;
	}
	
#search-filters {
	margin: 5px 0 0 0;
	}

#search-filters input {
	vertical-align: middle;
	margin: 0;
	}

#search-filters label {
	vertical-align: middle;
	margin: 0 10px 0 0;
	font-size: 1.1em;
	}
	
#search-form a {
	color: #fff;
	font-size: 1.1em;
	line-height: 1.4em;
	}

/****************************************
 * Text Styles
 ****************************************/
/* 
	Headlines 
	-------------------------
*/
 
h2 {
	margin: 0 0 15px 0;
	font-size: 1.8em;
	font-weight: normal;
	clear: left;
	}
	
h3 {
	clear: both;
	margin: 0 0 15px 0;
	font-size: 1.3em;
	line-height: 1.4em;
	font-weight: bold;
	}
	
h4 {
	margin: 15px 0 3px 0;
	font-size: 1.2em;
	font-weight: bold;
	}
	
/* 
	Text
	-------------------------
	Paragraphs of text, extended quotations, and captions
*/

p {
	margin: 0 0 15px 0;
	font-size: 1.3em;
	line-height: 1.4em;
	}
	
blockquote {
	margin: 0 30px;
	}
	
em {
	font-style: italic;
}

strong, cite {
	font-weight: bold;
}
	
/* 
	Lists 
	-------------------------
*/
	
ul, ol {
	margin: 0 0 15px 0;
	padding: 0;
	font-size: 1.3em;
	line-height: 1.4em;
	}
	
ul ul, ul ol, ol ol, ol ul, ul p, li p {
	font-size: 1.0em;
	}
	
ul li {
	margin: 5px 0;
	padding: 0 0 0 10px;
	list-style: none;
	background: url(../images/layout/bullet.gif) no-repeat 0 0.62em;
	}
 
ol li {
	margin: 5px 0 5px 30px;
	list-style: decimal;
	}
	
ol li ol li {
	margin: 5px 0 5px 20px;
	list-style: lower-alpha;
	}
 
dl {
	margin: 0 0 15px 0;
	line-height: 1.4em;
	}
	
dt {
	margin: 0 0 3px 0;
	font-size: 1.2em;
	font-weight: bold;
	}
	
dd {
	margin: 0 0 15px 0;
	font-size: 1.3em;
	line-height: 1.4em;
	}
	
/* 
	Links 
	-------------------------
*/
	
h2 a, h3 a, h2 a:visited, h3 a:visited {
	text-decoration: none;
}

h3 a:hover {
	text-decoration: underline;
}
	
/* default links */
a, a:visited, a:active {
	color: #960;
}

a:hover {
	color: #b31b1b;
}

/****************************************
 * Header
 ****************************************/
 
/* 
	Site Identity 
	-------------------------
*/
#header {
	float: left;
	width: 100%;
	}
 
#identity {
	margin: 0 auto;
	width: 960px;
	}

#campaign {
	float: left;
	width: 960px;
	height: 233px;
	margin: 0;
	background: transparent url(../images/ebook/header_secondary_blank.jpg) center 0 no-repeat;
	position: relative;
}

#section-title {
	position: absolute;
	bottom: 0;
}
#campaign h2 {
	/*width: 270px;*/
	padding: 0 30px;
	margin: 0;
	font-size: 4.0em;
	line-height: 1em;
	font-weight: normal;
	color: #f8f7eb;
	font-family: Georgia, serif;
}
#campaign h3 {
	padding: 0 31px;
	margin: 0 0 3px;
	font-size: 1.667em;
	line-height: 1.5em;
	font-weight: normal;
	font-style: italic;
	color: #d2d2bc;
	font-family: Georgia, serif;
}

#campaign h2 a {
	color: #f8f7eb;
}
#campaign h3 a {
	color: #d2d2bc;
}

#identity {
	width: 960px;
	margin: 0 auto;
}

/****************************************
 * Content Sections
 ****************************************/

#wrap {
	float: left;
	width: 100%;
	}
	
#content {
	margin: 0 auto;
	width: 960px;
	}
	
#main {
	float: right;
	padding: 25px 0 20px;
	width: 700px;
	}

/****************************************
 * Tables
 ****************************************/
table, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1em;
	}
	
#main table {
	margin: 15px 0;
	}
	
#main th {
	padding: 0 15px 5px 15px;
	font-weight: normal;
	text-align: left;
	color: #888;
	}
	
#main td, #main tbody th {
	padding: 10px 15px;
	font-size: 1.1em;
	line-height: 1.5em;
	vertical-align: top;
	}
	
#main tbody th {
	font-weight: bold;
	color: #222;
	text-align: right;
	}
	
/************************************************
*	Main Content 					     		    * 
************************************************/

.postmeta {
	float: left;
	clear: left;
	width: 100%;
	padding: 8px 0;
	border-top: 1px dashed #fff;
	border-bottom: 1px dashed #fff;
	margin-bottom: 16px;
}
.postmeta p {
	font-size: 1.1em;
	line-height: 1.6em;
	margin: 0;
}
.postmetaleft {
	float: left;
	width: 100%;
}
.postmetaleft p {
	padding: 2px 0;
}

.avatar-box {
	float: left;
	text-align:center;
	font-size: 0.8em;
	padding: 4px;
	margin-right: 12px;
	background: #fff;
	border: 1px dashed #cccedb;
}

.avatar-box img {
	width: 32px;
	height: 32px;
}

.edit-post {
	padding-left: 10px;
}
.postmetaright {
	float: right;
	width: 160px;
	text-align: right;
}
.postmetaright span {
	padding-left: 8px;
}
.commentmetadata {
	font-size: 0.86em;
}

/************************************************
*	Secondary content 					     	    * 
************************************************/
#secondary {
	float: left;
	width: 242px;
	margin: 0;
	padding: 16px 0 0 0;
	font-size: 0.9em;
}

#secondary h3 {
	margin: 0;
	font-size: 1.3em;
	font-weight: bold;
	background: transparent url(../images/ebook/section_nav_arrow.gif) left 10px no-repeat;
	padding: 10px 0 10px 22px;
	width: 188px;
	color: #804000;
	line-height: 1.5em;
	text-transform: uppercase;
}

#secondary h2, #main h2 {
	color: #393e00;
	font-size: 2.0em;
	/*text-transform: uppercase;*/
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

#secondary-navigation {
	padding: 0;
}

#secondary-navigation div ul {
	background: transparent url(../images/ebook/dots_h.gif) left top repeat-x;
}

#secondary-navigation li {
	margin: 0;
	padding: 0;
	background: transparent url(../images/ebook/dots_h.gif) left bottom repeat-x;
}

#secondary-navigation a {
	color: #366;
	display: block;
	width: 210px;
	padding: 11px 20px 11px 0;
	text-decoration: none;
	font-weight: bold;
	line-height: 1.5em;
}

#secondary-navigation a:visited {
	color: #366;
}
#secondary-navigation a:hover, #secondary-navigation li.current_page_item a {
	color: #b31b1b;
}
#secondary-navigation a:active {
	color: #999;
}

/*.feeds {
	background: #fff url(../images/layout/sidebar_bottom.gif) no-repeat left bottom;
	padding: 18px;
	text-align: center;
}

.feeds a {
	background: transparent url(../images/layout/mini-rss.gif) no-repeat left top;
	padding: 2px 8px 2px 18px;
}*/

/* text widget styles */
.widget_text, .widget_tag_cloud {
	margin-bottom: 22px;
}
#secondary .textwidget {
	font-size: 1.4em;
	line-height: 1.4em;
}
#secondary .textwidget p {
	font-size: 1.0em;
}

/* admin link */

.admin-link {
	background: transparent url(../images/layout/adminlink_bg.gif) no-repeat 0 0;
	text-align: center;
	padding: 12px 0;
}

/************************************************
*	Search Form									*
************************************************/

#searchform {
	overflow: hidden;
}
#searchform #s {
	background: #efefef url(../images/search.gif) no-repeat 98% 50%;
	width: 208px;
	color: #333;
	margin-right: 15px;
	border: 1px solid #c0c0c0;
}
#searchform-widget {
	float: left;
	clear: both;
	width: 100%;
	margin: 0 0 12px 0;
}
#searchform-widget #s {
	background: #efefef url(../images/search.gif) no-repeat 98% 50%;
	width: 100%;
	color: #333;
	border: 1px solid #c0c0c0;
	margin: 0 0 5px 0;
}

/************************************************
*	Comments									*
************************************************/

.commentlist li {
	margin: 0;
	padding: 0;
	background: url(../images/layout/comment_top.gif) no-repeat 22px 1.6em;
	float: left;
	clear: both;
	width: 100%;
}
.commentlist cite {
	background: transparent url(../images/layout/mini-user.gif) no-repeat left top;
	padding: 1px 0 0 18px;
}
.comment-contents {
	background: #fff url(../images/layout/comment_bottom.gif) no-repeat left bottom;
	width: 638px;
	height: auto !important;
    height: 30px;
    min-height: 30px;
	margin: 30px 0 22px 22px;
	font-size: 0.86em;
	padding: 8px 16px 2px 16px;
}
.comment-contents .pending {
	padding: 4px;
	margin: 0 0 6px 0;
	background: #fff;
	color:#960;
}
/****************************************
 * Footer
 ****************************************/
 
#footer {
	float: left;
	width: 100%;
	padding: 15px 0 25px 0;
	font-size: 0.86em;
	background: transparent url(../images/ebook/footer_bg.png) center top no-repeat; /* IE6 has a .gif version in browser.css */
	}
	
#footer-content {
	margin: 0 auto;
	width: 960px;
	color: #000;
	}
#footer-content p {
	float: left;
	margin-right: 20px;
}

#footer-content p.copyrights {
	float: right;
	margin-right: 0;
}

#footer-content ul.admin {
	float: left;
	margin: 0;
	padding: 0;
}

#footer-content ul.admin li {
	float: left;
	margin: 0 20px 0 0;
	padding: 0;
	background-image: none;
}

/****************************************
 * Miscellaneous
 ****************************************/

#skipnav {
	position: absolute;
	top: -1000em;
	left: -1000em;
	}
		
hr {
	display: none;
	}
	
#geotrust {
	float: left;
	width: 100%;
	text-align: center;
}

/* add ons 12/09 */

.alignright {
	float: right;
	margin: 0 0 12px 12px;
	border: 1px dashed #e3dfcc;
}

.alignleft {
	float: left;
	margin: 0 12px 12px 0;
	border: 1px dashed #e3dfcc;
	padding: 0;
}

.alignright img, .alignleft img {
	display: block;
	margin: 0 auto;
	padding: 0;
	margin-top: 5px;
}

.wp-caption-text {
	padding: 6px;
	font-size: 1.1em;
	font-style: italic;
	margin: 0;
}