
/****************************************
 * Cornell Identity
 ****************************************/

#cu-identity {
	height: 3.5em;
	background: #fff;	
	margin: 0 auto;
	max-width: 1050px;
	padding: 0px 0px;
	}

#cu-logo {
	position: relative;
	float: left;
	/*margin-left: -1.75em;*/
	min-width: 200px;
	height: 100%;
	background: url(https://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/07/cornell.gif) no-repeat 0px 0px;
	}
	
#cu-logo a {
	position: absolute;
	display: block;
	border: none;
	/* hide text link */
	text-indent: -1000em;
	}
	
#insignia-link {
	width: 68px;
	height: 3em;
	}

#unit-signature-links a {
	left: 68px;
	width: 230px;
	}

#cornell-link {
	height: 38px;
	}
	
#unit-link {
	top: 38px;
	height: 37px;
	}
	
#cu-logo img {
	display: none;
	}
 
/*	
	Search Form
	-------------------------
	The following rules control the appearance of the search form interface. 
	The form is displayed in the Cornell banner, and it is aligned with the 
	right edge of the page. The search form should appear on every page 
	of a site. 
*/



.searchFiter{
    margin: 0 0 0 0;
    float: right;
}
.searchInput{
    float: right;
    margin: 0 0 0 8px;
}
#search-form {
    top: 8px;
}
#search-filters input {
    vertical-align: middle;
    margin: 0;
}
#search-form label {
    color: #000;
    vertical-align: middle;
    margin: 0 10px 0 0;
}
#search-form-query {
    padding: 3px;
    width: 145px;
    border: none;
    font-family: verdana, arial, helvetica, sans-serif;
    font-weight: bold;
    color: #333;
    background: #ffffff url(http://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/06/header_search.gif) no-repeat top left;
    vertical-align: middle;
}
#search-form-submit {
    padding: 0px 2px 3px 2px;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
    background: #f2f2f2;
    vertical-align: middle;
}
#searchIconImg{
    display:block;
}
.searchFiter label{
    color: #000;
}
#search-filters .filter {
    float: left;
    padding-top: 5px;

}
/* <---END of header---> */


/* no more borders */
#wrapper {border: none 0px; margin: 0; padding: 0;}
#content {border: none 0px; padding: 0;} /*margin: 0 auto; */
.body {border: none 0px; margin: 0 auto; padding: 0;}
.widget-wrapper {border: none 0px; }
/* no more borders */


/* ___________________________________________________________________ */
/* =================================================================== */
/* ===========================Main MENU=============================== */
/* =================================================================== */



/* Web Font Used:*/
/* font-family: 'Droid Sans', sans-serif;
font-family: 'Jockey One', sans-serif;
font-family: 'Advent Pro', sans-serif;
font-family: 'Coda', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */

/* Reforms for Nav Bar*/

.menu {
	
	}

.menu, .menu ul { 
	font-family: 'Droid Sans', sans-serif;
	/*text-transform:uppercase;*/
	font-size:9px;
	color:#000;
}

.menu a {
	color:#000;
	border-left:1px dashed #E6E7E8;
	text-shadow:none;
}	

.menu a:hover {
	background: inherit;
	color: #f6921e;
}


/* - current menu item background change to orange */
.menu .current_page_item a,
.menu .current-menu-item a {
	background: rgba(238, 147, 48, 0.22)
}

/* On smaller screens, main menu:
- main navigation drop-down menu color changed from black to light blue
- text shadow changed from black to grey (added 6/13/2013 by Stan sp574)
*/

.sb-holder {
	background-color: #ee9330;
}

.sb-selector:link,
.sb-selector:visited,
.sb-selector:hover {
        text-shadow: 0 1px 0 rgb(146, 145, 145);
}
.main-nav{
		display: none;
		}

/* =================================================================== */
/* ---------------------------END of main MENU------------------------ */
/* =================================================================== */

/* ___________________________________________________________________ */
/* =================================================================== */
/* -----------------------------Website Body-------------------------- */
/* =================================================================== */

body{
	background: #D7CFC1 url(http://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/06/cornell_x_body.gif) 0 0 repeat-x;
	font-family: verdana, arial, helvetica, sans-serif;
	line-height: 1.2em;
}

#wrapper{
	margin: 0 auto;
	max-width: 1050px;
}

.entry-title.post-title{
	color: #333;
	font-size: 1.7em;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}


#newscontent{
	position:relative;
	background-color:#FFF;
	float: right;
	margin-top:auto;
left: 5px; }


/* Images are 50% of body width on larger screens, 
   Images are 100% of body width on smaller screens.
   - a img.alignleft changed to img.width = body width; does not break the text awkwardly (added 6/17/2013 by Stan sp574)
*/
@media (max-width: 768px){
  a img.alignleft{
  	width: 100%;
  }
}

@media (min-width: 769px) and (max-width: 980px){
  a img.alignleft{
  	width: 50%;
  }
}


/* ******* */

/* Making all content line up at the top of ALL pages */
/*
.home #wrapper {
	margin-top: 0px;
}
.home #widgets {
	margin-top: 25px;
}*/
#widgets {
	margin-top: 25px;
	font-size: .9em;
}

a, a:visited, a:active {
color: #960;
}



/* ******* */

/* widgets are floating to the right */
@media screen and (min-width: 981px){
  #widgets{
  	float: left;
  }
  #content{
	  float:none;
	 
  }
}


/* works as .fit for home page - bug in wordpress */
#content{
	margin-left: 0 !important;
	margin-right: 0 !important;
}


/* ******* */

/* Transparent background: widgets */
.widget-wrapper{
  	background-color: transparent;
}

/* Removes table border in the equipment page */
th, 
td,
table {
	border: 0px;
}


/* =================================================================== */
/* ---------------------------END of Website Body--------------------- */
/* =================================================================== */

/* ===================================================== 
   ====================SIDEBAR MENU=====================
   ===================================================== */



#widgets .expandMenu{
	padding-left: 0em;
}

#widgets ul, ul li { list-style-type: none; }

#widgets a, a:visited, a:active {
	color: #366;
	font-weight: bold;
}

#widgets .subtitleLi{
	padding-top: 0em;
	padding-bottom: 0em;
	border: none;
}

#widgets .subtitleLi:last-child{
	border: none;
}

#widgets .liimage{
	padding: 0em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	width: 70%;
}

/*
#widgets ul li{
	color: #366;
	display: block;
	width: 95%;
	padding: 11px 20px 11px 0;
	text-decoration: none;
	font-weight: bold;
	font-size: .97em;
	line-height: 1em;
	border-top: dotted 1px #960;
}

#widgets ul li:last-child{
	border-bottom: dotted 1px #960;
}

#widgets .textwidget a{
	line-height: 1.5em;
	}




#widgets .collapsibleList li > label + * {
 display: none;
}
 
#widgets .collapsibleList li > input:checked + label + * {
 display: block;
}

#widgets .collapsibleList li > input {
 display: none;
}

#widgets .collapsibleList label {
 cursor: pointer;
}

#widgets .collapsibleList{
	padding-left: 0em;
}

.widget-wrapper.widget_text{
	padding-left: 0em;
	padding-right: 0em;
}

#widgets label {
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	background: transparent url(http://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/06/section_nav_arrow_closed.png) left 10px no-repeat;
	padding: 10px 0 10px 22px;
	width: 100%;
	color: #804000;
	line-height: 1.5em;
	text-transform: uppercase;
}

#widgets input[type=checkbox]:checked ~label{
	background: transparent url(http://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/06/section_nav_arrow.gif) left 10px no-repeat;
}

#widgets input[type=checkbox] ~label {
	background: transparent url(http://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/06/section_nav_arrow_closed.png) left 10px no-repeat;
}

	
*/



@media screen and (max-width: 500px){
	
	.widget-wrapper.widget_text{
		padding-top: 0em;	
		padding-bottom: 0em;
 		margin-bottom: 0em;
	}
	
	#widgets ul li { width: auto; }
	
	#widgets .collapsibleList{
		margin: 0em;	
		padding-left: 1.5em;
	}
	
	#widgets label{ width: auto;}
	
	#widgets .subtitleLi{
		width: 100%;
		float: left;
		padding: 0em;
	}
	
	#widgets .liimage{ display: none; }
	
	/*Expandable menu*/
	
	#widgets .expandMenu .border-menu {
	  position: relative;
	  padding-left: 2em;
	}
	#widgets .expandMenu .border-menu:before {
	  content: "";
	  position: absolute;
	  top: 0.2em;
	  left: 0;
	  width: 1.6em;
	  height: 0.2em;
	  border-top: 0.6em double #804000;
	  border-bottom: 0.2em solid #804000;
	}
	
	
	#widgets .expandMenu{
		padding: 0em;	
		padding-top: 1em;
	}
	
	#widgets .expandMenu .submenu{
		font-size: 1.2em;
		width: 100%;
		background: rgba(100, 99, 99, 0.16) !important;	
	}
			
	#widgets .expandMenu > label + * {
	 display: none;
	}
	 
	#widgets .expandMenu > input:checked + label + * {
	 display: block;
	}
	
	#widgets .expandMenu > input {
	 display: none;
	}
	
	#widgets .expandMenu label {
	 cursor: pointer;
	}
}

@media screen and (min-width: 501px) and (max-width:980px){
	
	.widget-wrapper.widget_text{
		padding-top: 0em;	
		padding-bottom: 0em;
		margin-bottom: 0em;
	}
	
	#widgets ul li { width: 85%; }
	
	#widgets .collapsibleList{
		margin: 0em;
		padding-left: 1.5em;	
	}
	
	#widgets label{ width: auto;}
	
	#widgets .subtitleLi{
		width:50%;
		float: left;
		padding: 0em;
	}
	
	#widgets .liimage{ display: none; }
	
	/*Expandable menu*/
	
	#widgets .expandMenu .border-menu {
	  position: relative;
	  padding-left: 2em;
	}
	#widgets .expandMenu .border-menu:before {
	  content: "";
	  position: absolute;
	  top: 0.2em;
	  left: 0;
	  width: 1.6em;
	  height: 0.2em;
	  border-top: 0.6em double #804000;
	  border-bottom: 0.2em solid #804000;
	}
	
	#widgets .expandMenu{
		padding: 0em;	
		padding-top: 1em;
	}
	
	#widgets .expandMenu .submenu{
		font-size: 1.2em;
		width: 100%;
		background: rgba(100, 99, 99, 0.16) !important;	
	}
	
	#widgets .expandMenu > label + * {
	 display: none;
	}
	 
	#widgets .expandMenu > input:checked + label + * {
	 display: block;
	}
	
	#widgets .expandMenu > input {
	 display: none;
	}
	
	#widgets .expandMenu label {
	 cursor: pointer;
	}

}

@media screen and (min-width:981px){
	#widgets #mybiglist{ display:none; }
	#widgets .submenu{ display:none; }
}


/* =====================================================
   ================END of SIDEBAR MENU==================
   ===================================================== */

/* ____________________________________________________________ */
/* ============================================================ */
/* =========================-- FOOTER --======================= */
/* ============================================================ */

/* - Removes the link to edublogs 
   - Removes ATC 2013 copyright and powered by sections in the footer
   - Removes the 'scroll-to-top' arrow at the bottom of the screen */

#global-footer-content{
	display: none;
}
#footer {
	/**display: none;**/
}

/* ===================================================== */

.mainContainer{
	margin: 0 auto;
	max-width: 960px;
	padding: 0 25px 25px 25px;
}
.secondaryContainer{
	border-top: 4px solid #B1181B;
  	padding-top: .5em;
  	margin-bottom: 20px;
}

.atc_copyright{
	float: right;
  	text-align: right;
}


.footer_left{
  float: left;
  text-align: left;
}

.footer_right{
  float: right;
  text-align: right;
}

@media screen and (max-width: 980px){
  .footer_left{
    float: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .footer_right{
    float: center;
    text-align: center;
    margin-left: auto; 
    margin-right: auto;
    width: 100%;
  }
}

/* =================================================================== */
/* ---------------------------END of FOOTER section------------------- */
/* =================================================================== */


/* Media Print
-------------------------------------------------------------- */
@media print {

    h1 {
	    page-break-before: always;
    }

    h1,  h2,  h3,  h4,  h5,  h6 {
	    page-break-after: avoid;
    }

    ul,  ol,  dl {
	    page-break-before: avoid;
    }
}

/*	Retina (HiDPI) Display
    http://www.quirksmode.org/blog/archives/2013/06/devicepixelrati.html
-------------------------------------------------------------- */
@media 
    only screen and (-moz-min-device-pixel-ratio:1.5), 
    only screen and (-o-min-device-pixel-ratio:3/2), 
    only screen and (-webkit-min-device-pixel-ratio:1.5), 
    only screen and (min-device-pixel-ratio:1.5) {
    
    body {}
}

/* =Responsive (Mobile) Design
-------------------------------------------------------------- */
@media screen and (max-width: 980px) {

    body {}
	
    .grid, 
	.grid-right {
	    float: none;
    }
	
	#featured-image .fluid-width-video-wrapper {
	    margin: 20px 0 0 0;
    }
	
	.home #widgets {
		margin-top: 40px;
	}
    
	.js .menu,
	.js .sub-header-menu {
		display: none;
	}
	
    .top-widget,
    .home .top-widget {
        margin-top: 0 !important;
    }
	
	
		
	.top-menu, 
	.footer-menu li {
	    float: none;
        font-size: 11px;
	    text-align: center;
    }
	
	.tinynav {
        display: block;
    }
	
	.sb-holder {
        display: block;
    }
    
    .hide-980 {
        display: none;
    }
    
    .show-980 {
        display: block;
    }
    
}

@media screen and (max-width: 650px) {

    body {}

    #logo {
	    float: none;
        margin: 0;
	    text-align: center;
    }

    .grid, 
	.grid-right {
	    float: none;
    }

	#featured-image .fluid-width-video-wrapper {
	    margin: 20px 0 0 0;
    }
    
    .top-widget {
        float: none;
        margin: 0 auto 10px auto;
        position: relative;
        text-align: center;
        width: auto;
    }
	
	
    
    .top-widget .widget-title {
        text-align: center;
    }
	    
    #author-meta {
        padding: 20px;
    }
    
    .hide-650 {
        display: none;
    }
    
    .show-650 {
        display: block;
    }
    
    #footer {
	    text-align: center;
    }

    #footer .social-icons {
        padding-bottom: 10px;
	    text-align: center;
    }
}

@media screen and (max-width: 480px) {

    body {}

    #logo {
	    float: none;
	    text-align: center;
    }

    .grid, 
	.grid-right {
	    float: none;
    }
	
	#featured-image .fluid-width-video-wrapper {
	    margin: 20px 0 0 0;
	}
	
	.featured-title {
	    font-size: 40px;
	    padding: 40px 20px 0 20px
    }
	
	
    
    .featured-subtitle {
        font-size: 24px;
    }
    
    .navigation .next,
    .navigation .previous {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
	
    .menu ul, 
	.menu li, 
	.top-menu, 
	.footer-menu li, 
	.sub-header-menu li {
	    float: none;
	    text-align: center;
        text-rendering: optimizeSpeed;
    }
	
    .hide-480 {
        display: none;
    }
    
    .show-480 {
        display: block;
    }
    
    #footer {
	    text-align: center;
    }

    #footer .social-icons {
	    text-align: center;
    }
}

@media screen and (max-width: 320px) {
    
    body {}
	
	#featured p {
	    font-size: 12px;
		line-height: 1.5em;
    }

    .featured-title {
	    font-size: 35px;
    }
	
	.featured-subtitle {
		font-size: 15px;
	}

    .call-to-action a.button {
	    font-size: 14px;
	    padding: 7px 17px;
    }

    .hide-320 {
        display: none;
    }
    
    .show-320 {
        display: block;
    }
}

@media screen and (max-width: 240px) {
    
    body {}
	
	#featured p {
	    font-size: 11px;
		line-height: 1.5em;
    }

    .featured-title {
	    font-size: 20px;
    }
	
	.featured-subtitle {
		font-size: 11px;
	}

    .call-to-action a.button {
	    font-size: 12px;
	    padding: 5px 15px;
    }
    
    .top-widget area,
    .top-widget select,
    .top-widget textarea,
    .top-widget input[type="text"], 
    .top-widget input[type="password"] {
        width: 75%;
    }
    
    .widget-title,
    .widget-title-home h3 {
        font-size: 14px;
        height: 13px;
        line-height: 13px;
        text-align: left;
    }
    
    .hide-240 {
        display: none;
    }
    
    .show-240 {
        display: block;
    }
}

/*The last 29 days of the month are the hardest."- Nikola Tesla*/


/* menu test */


/* nav menu styles */
#widgets #nav { 
  display: block; 
  width: 85%;
  margin: 0 auto; 
  padding-left: 0em;
  margin-left: 0em;
}

#widgets #nav ul{
	padding-left: 20px;
  	margin-left: 0em;
	width: 100%;
}


#nav > li > a { 
  display: block; 
  padding: 16px 18px;
  font-size: 1.3em;
  font-weight: bold;
  color: #d4d4d4;
  text-decoration: none;
 
  
}


#widgets #nav > li{
	padding: 0px 0 0px 0px;
}

#nav li ul { display: none; }

#widgets #nav li ul li a { 
  	color: #366;
	display: block;
	width: auto;
	padding: 11px 20px 11px 0.5em;
	text-decoration: none;
	font-weight: bold;
	font-size: .97em;
	border-top: dotted 1px #960;
	text-transform: none;
	background: none; 
	line-height: 1.5em; 
}
#widgets #nav li ul li:last-child { 
	border-bottom: dotted 1px #960;	
}
#nav li ul li a:hover {
  background: #394963;
}

#widgets #nav li a {
	display: block;
	margin: 0;
	font-size: .95em;
	font-weight: bold;
	background: transparent url(http://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/06/section_nav_arrow_closed.png) left 10px no-repeat;
	padding: 10px 0 10px 2em;
	width: 100%;
	color: #804000;
	line-height: 1.5em;
	text-transform: uppercase;
}

.widget-wrapper.widget_text{
	padding-left: 0em;
	padding-right: 0em;
}

#widgets .collapsibleList{
		margin: 0em;
		padding-left: 0em;	
	}
	
	#widgets .collapsibleList li > label + * {
 display: none;
}
 
#widgets .collapsibleList li > input:checked + label + * {
 display: block;
}

#widgets .collapsibleList li > input {
 display: none;
}

#widgets .collapsibleList label {
 cursor: pointer;
}

#widgets .collapsibleList{
	padding-left: 0em;
}

.widget-wrapper.widget_text{
	padding-left: 0em;
	padding-right: 0em;
}

#widgets label {
	margin: 0;
	font-size: 1em;
	font-weight: bold;
	background: transparent url(http://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/06/section_nav_arrow_closed.png) left 10px no-repeat;
	padding: 10px 0 10px 22px;
	width: 100%;
	color: #804000;
	line-height: 1.5em;
	text-transform: uppercase;
}

#widgets input[type=checkbox]:checked ~label{
	background: transparent url(http://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/06/section_nav_arrow.gif) left 10px no-repeat;
}

#widgets input[type=checkbox] ~label {
	background: transparent url(http://iws-lamp-dev.hosting.cornell.edu/wordpress/stan/files/2013/06/section_nav_arrow_closed.png) left 10px no-repeat;
}


@media screen and (max-width: 500px){

	/*Expandable menu*/
	#widgets #nav{width: 100%;}
	#widgets ul li {width: 100%;}

	#widgets .expandMenu{padding-left: 0em;}
	
	#widgets .expandMenu .border-menu {
	  position: relative;
	  padding-left: 2em;
	}
	#widgets .expandMenu .border-menu:before {
	  content: "";
	  position: absolute;
	  top: 0.2em;
	  left: 0;
	  width: 1.6em;
	  height: 0.2em;
	  border-top: 0.6em double #804000;
	  border-bottom: 0.2em solid #804000;
	}
	
	
	#widgets .expandMenu{
		padding: 0em;	
		padding-top: 1em;
	}
	
	#widgets .expandMenu .submenu{
		font-size: 1.2em;
		width: 100%;
		background: rgba(100, 99, 99, 0.16) !important;	
	}
			
	#widgets .expandMenu > label  + * { 
	 display: none;
	}
	 
	#widgets .expandMenu > input:checked + label + * { 
	 display: block;
	}
	
	#widgets .expandMenu > input {
	 display: none;
	}
	
	#widgets .expandMenu label {
	 cursor: pointer;
	}
}

@media screen and (min-width: 501px) and (max-width:980px){
	
	#widgets #nav{width: 100%;}
	#widgets ul li {width: 100%;}
	
	.widget-wrapper.widget_text{
		padding-top: 0em;	
		padding-bottom: 0em;
		margin-bottom: 0em;
	}
	
	
	
	#widgets .collapsibleList{
		margin: 0em;
		padding-left: 0em;	
	}
	
	#widgets label{ width: auto;}
	
	
	
	#widgets .liimage{ display: none; }
	
	
	/*Expandable menu*/
	
	#widgets .expandMenu .border-menu {
	  position: relative;
	  padding-left: 2em;
	}
	#widgets .expandMenu .border-menu:before {
	  content: "";
	  position: absolute;
	  top: 0.2em;
	  left: 0;
	  width: 1.6em;
	  height: 0.2em;
	  border-top: 0.6em double #804000;
	  border-bottom: 0.2em solid #804000;
	}
	
	#widgets .expandMenu{
		padding: 0em;	
		padding-top: 1em;
	}
	
	#widgets .expandMenu .submenu{
		font-size: 1.2em;
		width: 100%;
		background: rgba(100, 99, 99, 0.16) !important;	
	}
	
	#widgets .expandMenu > label + * {
	 display: none;
	}
	 
	#widgets .expandMenu > input:checked + label + * { 
	 display: block;
	}
	
	#widgets .expandMenu > input {
	 display: none;
	}
	
	#widgets .expandMenu label {
	 cursor: pointer;
	}

}
@media screen and (min-width:981px){
	#widgets #mybiglist{ display:none; }
	#widgets .submenu{ display:none; }
}

#content p{
font-size: .9em;
color: black;}

#content ul, #content ol, #content ul li, #content ol li {
  font-size: .95em;
  color: black;  
}

#content ul, #content ul li {
  list-style-type: disc;
}

/* FORMIDABLE FIXES FOR MOBILE
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {	
	}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
.with_frm_style .frm_form_fields input[type=text], .with_frm_style .frm_form_fields input[type=password], .with_frm_style .frm_form_fields input[type=email], .with_frm_style .frm_form_fields input[type=number], .with_frm_style .frm_form_fields input[type=url], .with_frm_style .frm_form_fields select, .with_frm_style .frm_form_fields textarea, .frm_form_fields_style, .frm_form_fields_active_style, .frm_form_fields_error_style, .with_frm_style .frm_form_fields select {
	width:99% !important;
}
}
/* Custon additions 2013 */
.callout {
	float: right; 
	width: 40%;
	background: #d8d0c3; /* Old browsers */
	background: -moz-linear-gradient(top,  #d8d0c3 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d0c3), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d8d0c3 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d8d0c3 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d8d0c3 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d8d0c3 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d0c3', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	margin: 0 0 20px 20px;
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 6px;
		-moz-border-radius: 6px;
  		-webkit-border-radius: 6px;
}
@media only screen and (max-width: 479px) {
.callout {
	float: none; 
	width: 96%;
	margin: 0;
	margin-bottom: 15px;
}
#boxflex {
    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}

#boxflex .child-one {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    box-ordinal-group: 1;
	margin: 0;
	margin-bottom: 15px;
}

#boxflex .child-two {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
}
#boxflex .child-three {
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    box-ordinal-group: 3;
	margin: 0;
	margin-bottom: 15px;
}



/*** soliloquy fix **/
.soliloquy-control-nav, .soliloquy-control-nav li, .soliloquy-control-nav ol, .soliloquy-control-nav ul { list-style:none;}