/* presentation page css */

.slider-wrapper {
	display: block;
     float: none;
     margin: 30px auto; }

#slider {
     margin: 0 auto;
     display: block;
     float: none; }

#front-text1 h1, #front-text2 h1{
	display: block;
	float: none;
	margin: 35px auto;
	text-align: center;
	font-size: 32px;
	clear: both;
	line-height: 32px;
	font-weight: bold; }

#front-text1 , #front-text2 {
	display: block;
	float: none; 
	margin: 35px auto;
	text-align:  left;
	font-size: 1.2em;
	clear: both;
	font-weight: normal } 

#front-text1 h1 { margin-bottom: 0; }

#front-text2 h1 {
	font-size: 28px;
	line-height: 28px;
	margin-top: 0px;
	margin-bottom: 25px; }

#frontpage blockquote {
	width: inherit;
     margin-bottom: 30px;
	font-size: 1.3em;
     line-height: 1.5em; }

#frontpage #front-text4 blockquote {
	font-size: 1.2em;
	line-height: 18px; }

#front-columns { margin-bottom:30px; }

#front-columns > div {
	display: block;
	height: auto;
	margin-right: 1%;
	float: left; }
#front-columns > div:last-child { margin-right: 0; }


#front-columns{ overflow: hidden; }
#front-columns #column1 {
	width: 49%;
	float: left;
	margin-bottom: -99999px;
	padding-bottom: 99999px;
}
#front-columns #column:nth-child(1) { margin-left: 33.3%; background: #ccc; }
#front-columns #column:nth-child(2) { margin-left: -66.3%; background: #eee; }
#front-columns #column:nth-child(3) { left: 0; background: #eee; }



.column-image {
	padding: 7px 7px 2px;
	position: relative;
	-moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box; }

.nivo-caption a { text-decoration: underline; }

.slider-navhover .nivo-directionNav {display:none;}
.slider-navhover:hover .nivo-directionNav {display:block;}

/* FIN! */