/****************************************
 * Cornell University IWS
 * IE browser hacks
 ****************************************/

/* Internet Explorer 6/7
   -------------------- */
#col1, #col2, #footer1, #footer2, #footer3 {
	#margin-left: 0;
	#margin-right: 2%;
}
#secondary {
	#margin-left: 0;
	#margin-right: 0;
}
.nav-centered #navigation ul {
	#width: auto !important;
}
.nav-centered #navigation ul li {
	#width: auto !important;
	#padding-left: 18px !important;
	#padding-right: 18px !important;
}

/* Section Nav
   -------------------- */
#section-navigation ul li a {
	background: url('../../images/layout/black_alpha04.png') !important;
}
#section-navigation ul li a.active {
	background: url('../../images/layout/black_alpha30.png') !important;
	text-decoration: none !important;
}

/* Component Forms
   -------------------- */
#wrap form.iws-component .form-tools {
	margin-top: 10px;
}




.home #about p {
	margin-bottom: 4px;
}
#search-form-query {
	position: relative;
	top: -3px;
}
#search-form-submit {
	top: 0;
}
img {
	max-width: none;
}

#search-form {
	#text-align: right;
}
#search-filters {
	#float: right;
	#width: 300px;
}
#search-filters input, #search-filters label {
	#float: left;
}
#search-form-submit {
	#position: relative;
	#top: -6px;
}
#search-form > label {
	#position: relative;
	#top: -10px;
}
#search-form-query {
	#height: 2em;
}

#eng-branding, #navigation a {
	#cursor: pointer; 
}
#navigation li a span {
	#height: 5em;
	#display: block;
	#padding-top: 1em;
}
#campaign-feature-nav li {
	#float: left;
}
#campaign-feature-caption {
	#float: none;
}
#footer2 li, #footer3 li {
	#width: 100%;
}
.home #contact .branding-form .radiobutton label {
	#margin-top: 0;
	#line-height: 1.3;
}
#campaign-feature h3 {
	font-family: 'Open Sans Bold', Arial, sans-serif;
}