/**** Component Forms (Dec 2011) *****/
 
/* activate with form.iws-component
   */

/* Standardize Element Sizing */
#wrap form.iws-component input[type="text"], 
#wrap form.iws-component input[type="password"], 
#wrap form.iws-component textarea, 
#wrap form.iws-component select, 
#wrap form.iws-component label, 
#wrap form.iws-component div, 
#wrap form.iws-component h4, 
#wrap form.iws-component p {
	-ms-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

#wrap form.iws-component fieldset {
	background: transparent url('../images/framework/bg_component_form.png') 0 0 repeat-x;
}

/* Fieldset Toolbar */
#wrap form.iws-component .form-tools {
	float: left;
	width: 100%;
	margin: -5px 0 20px;
	padding: 1px 0;
	border: 1px solid #e1e0d0;
	border-bottom-color: #cbcabc;
	border: 1px solid rgba(0,0,0,0.15);
	border-bottom-color: rgba(0,0,0,0.3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#ebebeb');
	background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ebebeb));
	background: -moz-linear-gradient(top, #fafafa, #ebebeb);
	background: -o-linear-gradient(top, #fafafa, #ebebeb);
	background: -ms-linear-gradient(top, #fafafa, #ebebeb);
	background: linear-gradient(to bottom, #fafafa, #ebebeb);
}
#wrap form.iws-component .form-tools a {
	text-decoration: none;
}
#wrap form.iws-component .form-tools p,
#wrap form.iws-component .form-tools ul {
	float: right;
	margin: 0 6px;
	font-size: 0.917em;
}
#wrap form.iws-component .form-tools li {
	background: none;
	float: left;
	padding: 0 12px;
	border-right: 1px solid #e1e0d0;
	border-right: 1px solid rgba(0,0,0,0.15);
}
#wrap form.iws-component .form-tools li.last {
	padding-right: 6px;
	border-right: 0;
}

/* Tag Definitions */
#wrap form.iws-component p {
	padding: 0 6px;
}
#wrap form.iws-component h4 {
	float: left;
	width: 100%;
	margin: 15px 0 10px;
	padding: 4px 6px 3px;
	background: #f1f4f5;
	border-bottom: 1px solid #dfe6ec;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#wrap form.iws-component h4.first {
	margin-top: 0;
}
#wrap form.iws-component div.last {
	margin-bottom: 0 !important;
}
#wrap form.iws-component legend a {
	text-decoration: none;
	font-weight: normal;
	background: #f3f5f7;
	margin-left: 2px;
	padding: 0 2px;
}
#wrap form.iws-component label {
	float: left;
	margin: 0;
	padding-top: 0.3em;
}
#wrap form.iws-component input[type="text"], 
#wrap form.iws-component input[type="password"] {
	height: 1.88em;
	width: 26.2em;
	float: left;
}
#wrap form.iws-component input[type="radio"], 
#wrap form.iws-component input[type="checkbox"] {
	float: left;
}
#wrap form.iws-component textarea {
	font-family: Lucida Grande, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 1.0em;
	padding: 4px;
	width: 24em;
	height: 130px;
	float: left;
	margin-bottom: 4px;
}
#wrap form.iws-component select {
	margin: 1px 0 4px;
	width: 26.2em;
	min-width: 0;
	float: left;
}

/* Notes, Errors, and User Messages */
#wrap form.iws-component .form-note {
	float: left;
	clear: left;
	width: 26.2em;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: -4px 0 0 36%;
	padding: 1px 3px 2px;
	background: #f5f3e5 url('../images/framework/note_shadow_reverse.gif') 0 bottom repeat-x;
	border: 1px solid #dad9cd;
	border-top: 0;
	color: #939289;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}
#wrap form.iws-component p.form-note {
	width: auto;
	max-width: 38.6em;
	margin: 2px 0 0 36%;
	padding: 3px 5px 4px;
	border: 1px solid #edebde;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#wrap form.iws-component div.error {
	float: left;
	clear: both;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: 4px 10px 10px 36%;
	padding: 4px 10px 4px 24px;
	background: #f3e2d9 url('../images/framework/icon_error.gif') 7px 0.6em no-repeat;
	border: 1px solid #e1a39c;
	color: #af1111;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#wrap form.iws-component label.error, 
#wrap form.iws-component .alert {
	color: #af1111;
	font-weight: bold;
}
#wrap form.iws-component div.form-feedback {
	float: left;
	width: 100%;
	font-size: 0.917em;
	line-height: 1.4em;
	margin: 0 0 15px;
	padding: 9px 12px 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#wrap form.iws-component div.form-feedback.warning {
	background: #f6f4e2;
	border: 1px solid #ebddbd;
	border-bottom-color: #d9ccae;
	color: #59453f;
}
#wrap form.iws-component div.form-feedback.info {
	background: #e2eef6;
	border: 1px solid #bde3eb;
	color: #547097;
}
#wrap form.iws-component div.form-feedback.success {
	background: #e4f8df url('../images/framework/icon_check.gif') 8px 0.95em no-repeat;
	border: 1px solid #afe08d;
	color: #50914f;
	padding-left: 24px;
}
#wrap form.iws-component div.form-feedback p {
	margin-bottom: 0;
	padding: 0;
}
/*
#wrap form.iws-component div.form-feedback.warning strong {
	color: #af1111;
}
*/

/* IWS Tooltip Support */
#wrap form.iws-component span.tooltip {
	border: 0;
	float: left;
	width: 14px;
	height: 16px;
	padding-right: 3px;
	background: transparent url('../images/framework/icon_question.png') 0 0 no-repeat;
}
#wrap form.iws-component span.tooltip.info {
	background: transparent url('../images/framework/icon_info.png') 0 0 no-repeat;
}
#wrap form.iws-component span.tooltip:hover {
	cursor: pointer;
}

/* Default Input Size Choices */
#wrap form.iws-component .input-s input[type="text"], 
#wrap form.iws-component .input-s input[type="password"] {
	width: 2.8em;
}
#wrap form.iws-component .input-m input[type="text"], 
#wrap form.iws-component .input-m input[type="password"], 
#wrap form.iws-component .input-m select, 
#wrap form.iws-component .input-m div.form-note {
	width: 13em;
}
#wrap form.iws-component .input-l input[type="text"], 
#wrap form.iws-component .input-l input[type="password"], 
#wrap form.iws-component .input-l select, 
#wrap form.iws-component .input-l div.form-note {
	width: 62.5%;
	max-width: 38.6em;
}
#wrap form.iws-component .input-s div.form-note {
	width: auto;
	clear: none;
	max-width: 35.9em;
	min-height: 1.88em;
	float: left;
	margin: 0;
	padding: 1px 4px;
	border: 1px solid #edebde;
	border-left: 0;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
@-moz-document url-prefix() { /* FF */
	#wrap form.iws-component .input-s div.form-note {
		min-height: 1.5em;
	}
}
#wrap form.iws-component .input-s div.error {
	margin-top: 0;
}
#wrap form.iws-component .textarea-s textarea {
	height: 40px;
	overflow: hidden;
}
#wrap form.iws-component .textarea-m textarea {
	height: 70px;
}
#wrap form.iws-component .textarea-l textarea {
	width: 62.5%;
	max-width: 600px;
	height: 250px;
}
#wrap form.iws-component .textarea-l div.form-note {
	width: 62.5%;
	max-width: 600px;
}
#wrap form.iws-component .input-s select {
	width: 4em;
}

/* Option Lists */

#wrap form.iws-component ul.form-list {
	float: left;
	margin: 2px 0 10px 1px;
	width: 62.5%;
}
#wrap form.iws-component ul.form-list li {
	background: none;
	padding: 0;
	margin: 0 0 1px 0;
	width: 100%;
	float: left;
	line-height: 1.4em;
}
#wrap form.iws-component ul.form-list li label {
	padding: 0;
}
#wrap form.iws-component ul.form-list li input[type="radio"], 
#wrap form.iws-component ul.form-list li input[type="checkbox"] {
	margin: 1px 4px 0 0;
}

/* Left-Right Adjustments */
#wrap form.iws-component .form-pair {
	float: left;
	clear: left;
	width: 100%;
	margin-bottom: 5px;
}
#wrap form.iws-component .form-left {
	float: left;
	width: 35%;
	margin-right: 1%;
}
#wrap form.iws-component .form-left label {
	/*width: 100%;*/
	float: right;
	/*text-align: right;*/
}
#wrap form.iws-component .form-left input, 
#wrap form.iws-component .form-left select {
	float: right;
}

/* Tight-Loose Margins */
#wrap form.iws-component .form-pair.tight {
	margin-bottom: 1px;
}
#wrap form.iws-component .form-pair.tight input, 
#wrap form.iws-component .form-pair.tight select {
	margin-bottom: 0;
}
#wrap form.iws-component .form-pair.loose {
	margin-bottom: 20px;
}
#wrap form.iws-component .form-pair.loose input, 
#wrap form.iws-component .form-pair.loose select {
	margin-bottom: 0;
}
#wrap form.iws-component .form-pair.loose div.form-note {
	margin-top: 0;
}

/* Mobile */
@media only screen and (max-width: 580px) { /* ************** */

#wrap form.iws-component input[type="text"], 
#wrap form.iws-component input[type="password"], 
#wrap form.iws-component textarea, 
#wrap form.iws-component select,
#wrap form.iws-component .form-note {
	max-width: 62.5% !important;
}
#wrap form.iws-component .input-s div.form-note {
	max-width: 48% !important;
}
#wrap form.iws-component .form-tools li {
	padding: 0 2%;
}
#wrap form.iws-component .form-tools li.last {
	padding-right: 1%;
}

/* ************** */ }




/* Tooltip */

#tooltip {
	background: #ffffe8;
	border: 1px solid #a3a394;
	border-bottom-color: #5c5c54;
	color: #33332e;
	font-size: 0.917em;
	line-height: 16px;
	padding: 4px 8px;
	cursor: pointer;
}
.tooltip.block {
	float: left;
}


/* Popup */
#popup {
	background: #fff;
	border: 1px solid #666;
	border-bottom-color: #333;
	padding: 8px;
}
#popup-background {
	background: #000;
	opacity: 0.3;
	filter: alpha(opacity=30);
}
#popup .caption {
	color: #333;
	font-size: 1.083em;
	margin: 10px 0 4px;
}
#popup-close {
	display: block;
	width: 26px;
	height: 26px;
	position: absolute;
	top: -12px;
	right: -11px;
	z-index: 2002;
	background: transparent url('../images/framework/popup_close.png') 1px 1px no-repeat;
}
#popup-close:hover {
	cursor: pointer;
	background: transparent url('../images/framework/popup_close_on.png') 1px 1px no-repeat;
}
#popup iframe {
	
}
a.popup, a.popup.with-icon {
	padding-right: 14px;
	background: transparent url('../images/framework/icon_popup.gif') right 0.25em no-repeat;
}
/* IE 6 */
* html #popup-background {
	position: absolute !important;
	filter: alpha(opacity=0);
}
* html #popup {
	position: absolute !important;
}
/* demo */
#popup-demo {
	max-width: 510px;
}
#popup-demo img {
	margin-bottom: 10px;
}
#popup-demo h4 {
	margin-bottom: 6px;
}


/* IWS Expander */
.expand-all {
	display: none;
	font-size: 0.917em;
	background: #f2f2ea;
	background: rgba(0,0,0,0.05);
	padding: 2px 0 2px 4px;
	margin-left: -3px !important;
	border-bottom: 1px solid #dedeca;
	border-bottom-color: rgba(0,0,0,0.1);
}
.expand-all a {
	cursor: pointer;
}
.iws-expander dl {
	position: relative;
}
.iws-expander dl dt {
	cursor: pointer;
	position: relative;
	min-height: 14px;
	line-height: 14px;
	margin: 0 0 8px;
	padding: 4px 0 6px 17px;
	background: transparent url('../images/framework/icon_expand_down_blue.svg') no-repeat 0 0.35em;
}
.no-svg .iws-expander dl dt {
	background: transparent url('../images/framework/icon_expand_down.gif') no-repeat 0 0.35em;
}
.iws-expander dl dt:hover {
	/*background: #f5f5f5 url('../images/framework/icon_expand_down.gif') no-repeat 0 0.35em;*/
	background-color: rgba(255,255,255,0.3);
}
.iws-expander dl dt.expanded {
	background: transparent url('../images/framework/icon_expand_up_blue.svg') no-repeat 0 0.35em;
}
.no-svg .iws-expander dl dt.expanded {
	background: transparent url('../images/framework/icon_expand_up.gif') no-repeat 0 0.35em;
}
.iws-expander dl dt.expanded:hover {
	/*background: #f5f5f5 url('../images/framework/icon_expand_up.gif') no-repeat 0 0.35em;*/
	background-color: rgba(255,255,255,0.3);
}

.iws-expander dl dt.no-entries {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	opacity: 0.4;
}
.iws-expander dl dd {
	position: relative;
	margin: 0;
	padding: 0 0 8px;
}
.iws-expander a.back_to_top, #faqs a.back_to_top {
	background: #d58282 url('../images/framework/expander_uparrow.gif') no-repeat right 3px;
	padding: 1px 13px 2px 6px;
	color: #fff;
	font-size: 0.917em;
	text-decoration: none;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.iws-expander a.back_to_top:hover, #faqs a.back_to_top:hover {
	background: #c34b4b url('../images/framework/expander_uparrow.gif') no-repeat right 3px;
}
