/* IWS CSS Framework: Base Cornell
   ************************************************************************** */
html { /* prevents page 'jump' between short and long pages */
	overflow-y: scroll;
}
html, body { 
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	-webkit-text-size-adjust: 100%; /* prevent unwanted font scaling in iOS landscape mode */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%; /* 12px *//* font size key in em:
		0.750em = 09px
		0.833em = 10px
		0.917em = 11px
		default = 12px
		1.083em = 13px
		1.167em = 14px
		1.250em = 15px
		1.333em = 16px
		1.417em = 17px
		1.500em = 18px
		1.583em = 19px
		1.667em = 20px
		1.833em = 22px
		2.000em = 24px
		3.000em = 36px
	*/
}
.colorband {
	clear: both!important;
	float: none!important;
}
/* Typography */
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1.4em;
	margin-bottom: 12px;
}
h1, h2, h3 {
	font-family: Georgia, Times New Roman, serif;
	line-height: 1.2em;
}
h1 {
	font-size: 2em;
	line-height: 1.2em;
}
h2, .CS_Textblock_Caption {
	font-size: 1.75em;
	font-weight: 500;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.2em;
}
h5, h6 {
	margin-bottom: 5px;
}
h6 {
	font-style: italic;
}
p, td, th, li, dt, dd {
	line-height: 1.7em;
}
p {
	margin-bottom: 15px;
}
b, strong {
	font-weight: bold;
}
i, em, cite {
	font-style: italic;
}
blockquote, pre {
	margin-left: 2em;
	padding-left: 1em;
	border-left: 1px solid #ccc;
	font-style: italic;
	line-height: 1.4em;
}
pre, code {
	font-family: mono-space, monospace;
	font-style: normal;
	margin-bottom: 15px;
}
/*abbr, acronym {
	text-transform: uppercase;
	border-bottom: 1px dotted #000;
	letter-spacing: 1px;
}
abbr[title], acronym[title] {
	cursor: help;
}*/
sup, sub {
	font-size: .8em;
	position: relative;
}
sup {
	top: -0.4em;
}
sub {
	top: 0.2em;
}

/* Links (Cornell Red) */
a, a:visited {
	color: #b31b1b;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	color: #f00;
	text-decoration: underline;
}

#commentform .subscribe-to-comments #subscribe {
    float: left;
    margin: 9px 5px 12px 0;
}

/* Lists */
ul {
	margin-left: 18px;
	margin-bottom: 15px;
}
ul li {
	padding-left: 18px;
	background: url('../images/layout/bullets_vector/bullet_square.svg') 0 0.6em no-repeat;
}
ul.disc li {
	background: url('../images/layout/bullets_vector/bullet_disc.svg') 0 0.6em no-repeat;
}
ul.circle li {
	background: url('../images/layout/bullets_vector/bullet_circle.svg') 0 0.6em no-repeat;
}
.no-svg ul > li {
	background: url('../images/layout/bullets_pixel/bullet_square.gif') 0 0.6em no-repeat;
}
.no-svg ul.disc > li {
	background: url('../images/layout/bullets_pixel/bullet_disc.gif') 0 0.6em no-repeat;
}
.no-svg ul.circle > li {
	background: url('../images/layout/bullets_pixel/bullet_circle.gif') 0 0.6em no-repeat;
}
ol {
	margin-left: 36px;
	margin-bottom: 15px;
}
ol li {
	padding-left: 0;
	list-style: decimal;
	background: none;
}
ul ul, ul ol, ol ol, ol ul {
	margin-bottom: 4px;
	margin-top: 8px;
}
dl {
	margin-left: 0;
	margin-bottom: 15px;
}
dl dl {
	margin-left: 30px;
}
dt {
	font-weight: bold;
	margin-bottom: 8px;
}
dd {
	margin-bottom: 12px;
}

/* Table of Contents */
ul.toc {
	border-left: 4px solid #ddd;
	border-color: rgba(0,0,0,0.1);
	margin-left: 1px;
	padding-left: 0px;
	margin-bottom: 20px;
}
ul.toc li {
	background: none;
	padding-left: 10px;
}
ul.toc ol li {
	padding-left: 0;
}
ul.toc a {
	padding-right: 10px;
	background: url('../images/layout/bullets_vector/triangle_right.svg') right 0.50em no-repeat;
}
.no-svg ul.toc a {
	background: url('../images/layout/icon_arrow_darkgrey.gif') right 0.35em no-repeat;
}

/* Tables */
table {
	width: 100%;
	margin-bottom: 15px;
	border: solid #ddd;
	border-width: 1px 1px 0 0;
	border-collapse: collapse;
}
table table {
	margin-bottom: 0;
}
caption {
	font-style: italic;
	color: #777;
	margin: 0.2em 0;
	line-height: 1.6em;
	text-align: left;
}
td, th {
	border: solid #ddd;
	border-width: 0 0 1px 1px;
	padding: 6px;
	vertical-align: top;
	background: url('../images/layout/white_alpha20.png');
	background: rgba(255,255,255,0.2);
}
th {
	color: #444;
	font-weight: bold;
	text-align: center;
	/*background: #f5f5f5;*/
	background: url('../images/layout/black_alpha04.png');
	background: rgba(0,0,0,0.04);
}
th p {
	margin-bottom: 0;
}
#secondary-nav aside #flickr_badge_uber_wrapper,
#secondary aside #flickr_badge_uber_wrapper {
	width: 185px;
	margin: 0 auto;
}
.columns #flickr_badge_wrapper {
	border: 1px!important;
}
#clustrmaps a img {
	margin: 0 auto;
	display: block;
}
.carousel .gallery-row {
    margin: 0 auto;   
}
#gallery-1 .gallery-caption {
  margin-left: 0;
  padding: 0 12px;
  line-height: 1.15em;
  color:#333333;
}
dt.gallery-icon {
	margin-bottom: 0;
}
.entry-content #image-navigation.image-navigation {
	padding: 21px 5px;
}
.entry-content #image-navigation.image-navigation span.nav-next {
	float: right;
}

/* Forms */
#wrap form {
	float: left;
	margin-bottom: 15px;
	width: 100%;
	clear: both;
}
.search-no-results .page-content {
	width: 95%;
	padding: 0 2.5%;
}
#wrap form fieldset {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 2%;
	margin-bottom: 15px;
	float: left;
	width: 100%;
	background: url('../images/layout/white_alpha20.png');
	background: rgba(255,255,255,0.2);
}
#wrap form fieldset.row-submit {
	border: none;
	padding: 0;
	background: none;
}
#wrap input, #wrap textarea {
	margin: 10px 0 12px 0;
	max-width: 80%;
	padding: 20px 15px!important;
	font-size: 19px!important;
	border: 1px solid #e6e6e6;
	background: #fbfbfb;
	font-weight: 100!important;
	font-family: "freight-sans-pro-n3","freight-sans-pro",sans-serif;
}
wrap input:active, #wrap textarea:active{
	background-color: #fff;
	border-color: #3787b0;
	color: #000;
	font-weight: 100;
}
#wrap label {
	margin: 0 4px 4px 0;
	vertical-align: top;
	font-size: 16px;
	font-weight: normal;
	display: block;
}
#wrap select {
	min-width: 200px;
}
#wrap legend {
	padding: 0 2%;
	text-align: center;
	font-weight: bold;
}
aside iframe {
	width: 100%!important;
}
.widget-area aside .search-field {
	max-width: 100%!important;
	width: 95%;
}
.sidebar-inner .widget-area aside .textwidget {
	margin-bottom: -1em;
}
#flickr_badge_uber_wrapper,
#flickr_badge_uber_wrapper td {
    border: none!important;   
}
#flickr_badge_uber_wrapper table {
    border-color: #ccc!important;
}
#flickr_badge_uber_wrapper table td {
    padding-top: 25px;
}



/* Form Theme: Basic */
#wrap form.basic p {
	float: left;
	width: 100%;
	clear: both;
	display: block;
}
#wrap form.basic input, #wrap form.basic textarea {
	float: left;
	clear: right;
	margin-left: 0;
}
#wrap form.basic label {
	display: block;
	float: left;
	clear: left;
	width: 125px;
	margin: 1px 10px 0 0;
	text-align: right;
	line-height: 1.5em;
}
#wrap form.basic input[type="text"], 
#wrap form.basic input[type="password"], 
#wrap form.basic textarea {
	outline: 2px solid transparent;
	border: 1px solid #999;
	border-top-color: #000;
	padding: 2px;
}
#wrap form.basic input[type="text"]:focus, 
#wrap form.basic input[type="password"]:focus, 
#wrap form.basic textarea:focus {
	background: #f0f4f7;
	border: 1px solid #000;
	-moz-box-shadow: 0 0 0 2px #8ebfdf;
	-webkit-box-shadow: 0 0 0 2px #8ebfdf;
	box-shadow: 0 0 0 2px #8ebfdf;
}
#wrap form.basic input[type="submit"]:hover, 
#wrap form.basic input[type="reset"]:hover {
	background: #f5f5f5;
}
#wrap form.basic input[type="submit"]:active, 
#wrap form.basic input[type="reset"]:active {
	background: #e5e5e5;
}
#wrap form.basic fieldset.row-submit p {
	width: 100%;
	text-align: left;
}

.with_frm_style div.frm_description, .with_frm_style .frm_error {
	padding: 6px 0;
	font-size: 13px;
}


#wrap form input[type="submit"], 
#wrap form input[type="reset"] {
	float: none;
	color: #fff;
	padding: 18px!important;
	background: #4682AA;
	cursor: pointer;
	border-radius: 0;
	border: none!important;
	box-shadow: none;
	font-size: 14px!important;
	line-height: 18px!important;
	font-weight: bold!important;
	text-transform: uppercase;
	font-family: "freight-sans-pro-n7","freight-sans-pro",sans-serif;
	letter-spacing: 1px;
}

html:not(.vendor-mozilla):not(.vendor-ie) #cu-search input[type="radio"] {
	-webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   padding: 3px;
   border: 3px solid #fafafa;
   background: #fafafa;
   border-radius: 50%;
}
html:not(.vendor-mozilla):not(.vendor-ie) #cu-search input[type="radio"]:checked {
	background: #666;
}


#wrap #secondary input, 
#wrap #secondary textarea,
#wrap #secondary-nav input, 
#wrap #secondary-nav textarea,
#wrap #secondary label,
#wrap #secondary-nav label {
    max-width: 100%;
    clear: left;
    font-size: 18px;
}
#wrap #secondary #gsearch input:first-of-type, 
#wrap #secondary #gsearch textarea,
#wrap #secondary-nav #gsearch input:first-of-type, 
#wrap #secondary-nav #gsearch textarea,
#wrap #secondary #gsearch label,
#wrap #secondary-nav #gsearch label {
    float: left;
    width: 92%!important;
}
#wrap #secondary label,
#wrap #secondary-nav label {
    font-size: 18px;
}
.widget-area form table,
.widget-area form table td {
    border: none;   
}
#wrap #secondary form input[type="submit"], 
#wrap #secondary form input[type="reset"],
#wrap #secondary-nav form input[type="submit"], 
#wrap #secondary-nav form input[type="reset"] {
    clear: both;
    float: left;
}


/* Layout */
#wrap {
	float: left;
	width: 100%;
	clear: both;
	background: #fbfbfb;
}
#header {
	float: left;
	width: 100%;
}
header.page-header {
	margin-bottom: 35px;
}
.search-no-results header.page-header {
	margin-bottom: 2px;
}
#content, .content {
	max-width: 1170px;
	margin: 0 auto;
}
#main {
	width: 100%;
}
#main-body {
	float: left;
	width: 62%;
	padding: 10px 0 12px;
	background: #FBFBFB;
	min-height: 16em;
	border-top: 5px solid #b31b1b;
	z-index: 5;
	position: relative;
}
#main-body .breadcrumbs,
#main-body .page-header,
#main-body .page-wrapper,
#main-body article,
#comments {
	padding-left: 14px;
	padding-right: 14px;
	clear: both;
}
#secondary, #secondary-nav {
	float: right;
	width: 38%;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
	-webkit-backface-visibility: hidden;
}
#secondary {
	clear: right;
}
#secondary-nav .main-body,
#secondary .main-body {
	background: #fff;
	display: inline-block;
	width: 88.2%;
	padding: 5.8%;
	margin: 0 0 0;
	position: relative;
	height: 100%;
	padding-bottom: 0;
}
#secondary-nav .main-body {
}
.vendor-webkit:not(.browser-chrome) #secondary-nav .main-body, 
.vendor-webkit:not(.browser-chrome) #secondary .main-body {
    width: 88.7%;
}
#secondary .main-body {
	margin-top: 0;
	padding-bottom: 5.8%;
}
.secondary-nav #content-wrap {
	margin-top: -7em;
}
#secondary-nav .main-body:before {
	background-color: #2C6C8D;
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	margin-left: -1px;
	width: 100%;
	height: 5px;
	padding: 0 1px;
}
.secondary-top-border #secondary {
	margin-top: 39px;
}
.secondary-top-border #secondary .main-body:before {
	background-color: #2C6C8D;
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 5px;
	padding: 0 1px;
}
.secondary-top-border #secondary .main-body:before {
	margin-left: -1px;
}
#secondary, #secondary-nav {
	padding-top: 0;
	z-index: 5;
	position: relative;
}

/* sidebar left */
.sidebar_left #secondary {
	clear: left;
}
.sidebar_left #secondary, 
.sidebar_left #secondary-nav {
	float: left;
}
.sidebar_left #main-body {
	float: right;
}
.sidebar_left #secondary-nav .main-body,
.sidebar_left #secondary .main-body {
	border-left: 1px solid #e4e4e4;
}
.sidebar_left #secondary .main-body {
	margin-top: 0;
}
.sidebar_left #secondary, 
.sidebar_left #secondary-nav {
	border-right: 1px solid #e4e4e4;
}
.sidebar_right #secondary-nav, .sidebar_left #secondary-nav {
    margin-top: 6px;
}

/* sidebar right */
.sidebar_right #secondary-nav .main-body,
.sidebar_right #secondary .main-body {
	border-right: 1px solid #e4e4e4;
}
.sidebar_right #secondary, 
.sidebar_right #secondary-nav {
	border-left: 1px solid #e4e4e4;
}

/* Alternate Layouts
   -------------------- */
.onecolumn #main-body, 
.onecolumn #main-bottom, 
.onecolumn .main-body {
	width: 100%;
	margin: 0;
}
body:not(.search) #main-body {
	min-height: 600px;
}
.vendor-webkit:not(.browser-chrome) .onecolumn #main-body, 
.vendor-webkit:not(.browser-chrome) .onecolumn #main-bottom, 
.vendor-webkit:not(.browser-chrome) .onecolumn .main-body {
	width: 100%;
	margin: 0;
}
.onecolumn #secondary, 
.onecolumn #secondary-nav {
	display: none;
}

/* Pages Widget Nav */
.widget li.current_page_item a,
.widget li.current-cat a {
	color: #b31b1b;
}
.widget ul.children.closed,
.widget ul.sub-menu.closed {
	display: none;
	clear: both;
}
.widget li.page_item_has_children > .nav-arrow.open,
.widget li.menu-item-has-children > .nav-arrow.open,
.widget li.current_page_item > .nav-arrow.closed {
	background: url('../images/blue-up-arrow.png') 50% 50% no-repeat;
}
.widget_hier_page li.page_item_has_children > .nav-arrow.closed, /* the hierarchical pages widget will always have a down arrown but no click events */
.widget_hier_page li.page_item_has_children > .nav-arrow.open,
.widget li.page_item_has_children > .nav-arrow,
.widget li.menu-item-has-children > .nav-arrow,
.widget li.current_page_item > .nav-arrow.open {
	float: right;
	clear: right;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	width: 52px;
	height: 52px;
	background: url('../images/blue-down-arrow.png') 50% 50% no-repeat;
}
.widget li {
	border-bottom: 1px solid #e4e4e4;
	background: none;
}
.widget li span.post-date {
	float: right;
	padding: 12px 0;
	color: #2c6c8d;
}
.widget li a {
	padding: 12px 0;
	font-size: 1.2em;
	color: #2c6c8d;
	text-decoration: none;
	display: inline-block;
}
.widget li a:hover {
	color: #b31b1b;
}
.widget li ul {
	margin-bottom: 14px;
}
.widget li ul ul {
	margin-left: 7%;
}
.widget li ul ul ul {
	margin-left: 10%;
}
.widget li ul li {
	color: #b31b1b;
	border-bottom: none;
}
.widget li.current_page_item ul li a {
	padding: 12px 9px 12px 7px;
	color: #b31b1b;
	text-decoration: none;
	display: inline-block;
}
.widget li.current_page_parent li:not(.current_page_item) a,
.widget li.current_page_item .children li a {
    color: #2c6c8d;
}
#recentcomments li {
	padding-left: 0;
	padding-bottom: 7px;
	font-size: 1.17em;
	background: none;
}
#recentcomments li a {
	font-size: 1.17em;
	background: none;
}
/* Custom Menu Nav */
ul.nav-menu,
div.nav-menu > ul {
	margin: 0;
	padding: 0 22px 0 0;
}

.nav-menu li {
	display: inline-block;
	position: relative;
}

.nav-menu li a {
	color: #141412;
	display: block;
	font-size: 13px;
	padding: 16px 1em;
	text-decoration: none;
}
ul.nav-menu ul a,
.nav-menu ul ul a {
	color: #fff;
	margin: 0;
	width: 200px;
}
#navigation li ul,
#navigation li ul li ul,
#navigation li ul li ul li ul {
	width: 100%;
	display: none;
}

ul.nav-menu ul a:hover,
.nav-menu ul ul a:hover {
	color: #b31b1b;
}

.nav-menu .current_page_item > a,
.nav-menu .current_page_ancestor > a,
.nav-menu .current-menu-item > a,
.nav-menu .current-menu-ancestor > a {
	color: #bc360a;
}

.nav-menu li:hover > a,
.nav-menu li a:hover {
	color: #fff;
}


/* Misc */
/*	edublogs footer */
#global-footer-content-inner {
  text-align: center;
}
#global-footer-content { color: #ccc; margin-bottom: 6px; float: left; }
#global-footer-content a { color: #ccc; text-decoration: underline; }

p.last, ul.last, ol.last, dl.last {
	margin-bottom: 0;
}
p.note {
	padding: 10px;
	border: 1px solid #ccc;
}
#skipnav {
	position: absolute;
	top: -1000em;
	left: -1000em;
}

/* Project CSS
   - Cornell Base 
   ************************************************************************** */
.home h1 {
	font-size: 2.5em;
	line-height: 1.1em;
}


/* Cornell Identity
   ************************************ */
#cu-seal {
	position: relative;
}
#cu-seal a {
	width: 169px; /* Defines the active area for the standalone CU logo link */
}
#cu-seal.unit75 #unit-link {
	width: 232px; /* Defines the active area for the unit signature link */
}
.theme_white_75 #cu-seal {
	padding: 9px 0;
	float: left;
	position: absolute;
	z-index: 4;
	top: -1px;
}
body.theme_white_75 #cu-brand-wrapper {
	/*overflow: hidden;*/
}
#search-form {
	font-size: 85.7%;
	font-family: "freight-sans-pro-n3","freight-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 300;
}
#cu-brand-wrapper {
	width: 100%;
}
.theme_gray_45 #cu-brand-wrapper {
	background: #222;
}
.theme_red_45 #cu-brand-wrapper {
	background: #b31b1b;
}

/* Theme Basics
   ************************************ */
body {
	background: #fff; /* footer color */
	font-family:"freight-sans-pro-n4", "freight-sans-pro", sans-serif;
	font-size: 100%;
	font-weight:400;
}
.blog:not(.singlecolumnblog) article {
	width: 30%;
	float: left;
	padding: 1.65%;
	padding-top: 0;
}
.blog.onecolumn article {
	padding-left: 0;
	padding-right: 0;
}
.blog:not(.singlecolumnblog).twocolumn article {
	width: 46%;
	float: left;
	padding: 1.65%;
	padding-top: 0;
}
.blog:not(.singlecolumnblog) article.threecolumn {
	width: 46.5%;
}

.tag article,
.date article,
.archive article,
.search article,
.category article,
.blog.singlecolumnblog article {
	display: block;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ccc;
	margin-bottom: 20px;
	clear: both;
	overflow: hidden;
}
.page article .entry-header {
	padding: 15px 0 0 0;
}
#image-band .textwidget p {
	font-size: 1.1em;
}
#wrap label, p, .featured-post .excerpt {
	font-size: 1.2em;
	line-height: 1.6;
	font-family: "freight-sans-pro-n4","freight-sans-pro",sans-serif; /* custom body font */
	font-weight: 400;
}
#wrap label {
	font-size: 18.4px;
}
h1, h2, h3, h4 {
	/*custom header font */
	font-family: "freight-text-pro-i4", "freight-text-pro", serif; /* custom body font */
	font-style:normal;
	font-weight:400;
	color: #000;
}

h2.section {
	color: #8aa8a8;
}

.more {
	background: transparent url('../images/project/triangle_right_blue.svg') no-repeat 100% 60%;
	background-size: 5px;
	padding-right: 10px;
}
no-svg .more {
	background: transparent url('../images/project/right_blue.gif') no-repeat 100% 80%;
}

ul {
	margin-left: 0;
}

.col-item ul {
	margin-left: 18px;
	margin-bottom: 15px;
}

#content-wrap {
	float: left;
	width: 100%;
	margin-top: -4em;
	background: transparent;
	position: relative;
}
.home #content-wrap {
	margin-top: -12em;
}

blockquote, p.note, pre, #wrap table, #wrap th, #wrap td, #wrap form fieldset, #wrap form.webform-client-form > div {
	border-color: #5c5c5c; /* line color */
}
#wrap hr {
	display: block;
	margin: 3px 0 15px;
	border: 0;
	border-top: 3px solid #d1b898;
}
#header {
	border: 0;
	background: #fff;
	z-index: auto;
	position: relative;
}

#header-band {
	float: left;
	width: 100%;
	clear: both;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	background: #F7F7F7;
}
.theme-gray #header, .gray #header {
	border-top: 5px solid #a2a3a5;
}
#header h1 {
	font-size: 3.0em;
	margin: 2% 0 0;
}
#header h1 em {
	font-style: normal;
	color: #999;  /* header title accent */
}
#header h1.autoscale {
	margin: 0;
	white-space: nowrap;
	line-height: 1.4;
	text-shadow: 0 2px #fff;
}
#header h1.autoscale em {
	color: #c2443e;
}
#header a {
	color: #000;
	text-decoration: none;
}

#identity-content {
	float: left;
	width: 28%;
	background: #34464a;
	text-align: left;
	padding: 18px 3%;
	position: relative;
	z-index: 2;
}

.user-font-scaled #identity-content {
	width: 22.4em;
	max-width: 44%;
}
#identity-content h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 4.286em;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#content { 
	display: block!important;
	height: 100%;
	overflow: hidden;
}

.tag .entry-content,
.blog .entry-content,
.single .entry-content,
.category .entry-content,
.search .entry-summary {
	margin-top: -20px;
}
.home .entry-content .columns {
	margin-top: 30px;
}

.home .entry-content .widget-title,
.colorband .widget-title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: bold;
	color: #000;
	margin-bottom: 4px;
}
h3.widget-title {
	font-size: 1.8em;
	padding: 6px 0;
}

.featured-post h4 a,
article .entry-header .entry-title a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: .7em;
	font-weight: bold;
	color: #b31b1b;
	margin-bottom: 4px;
}

article .entry-header .entry-title a {
	font-size: .41em;
}

.featured-post h4 a:hover {
	text-decoration: none;
}
.moretag {
	background-color: #b31b1b;
	position: relative;
	color: #fff;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 16px;
	width: 124px;
	height: 29px;
	padding: 4px 0 2px 11px;
	margin: 12px 0 6px 0;
	clear: both;
}
.moretag:active, 
.moretag:focus, 
.moretag:hover, 
.moretag:visited {
	color: #fff!important;
}

.fa-angle-right:before {
	content: "\f054";
	position: absolute;
	right: 8px;
	top: 8px;
	font-size: 20px;
}
/* entry meta */
.entry-meta {
	clear: both;
	padding: 13px 0 0 0;
}
.entry-meta a {
	color: #868686;
	text-decoration: none;
}
.entry-meta .fa {
	color: #868686;
	font-size: 1em;
	padding-right: 4px;
}
.entry-meta .fa-calendar {
	font-size: .85em;
}
span.featured-post,
span.date,
span.categories-links,
span.tags-links,
span.author {
	font-size: 12px;
	padding: 0 14px 0 0;
	line-height: 2em;
}
header {
	padding-bottom: 12px;
}
.tag .entry-thumbnail,
.archive .entry-thumbnail,
.category .entry-thumbnail,
.search .entry-thumbnail,
.single .entry-thumbnail {
	float: left;
	padding: 0 16px 16px 0;
	overflow: hidden;
}
.blog .entry-thumbnail {
    height: 152px;
    overflow: hidden;
}
.blog.singlecolumnblog .entry-thumbnail {
  float: left;
  margin: 0 20px 0 0;
}
/* customized WordPress styles */

.wp-caption {
	border: 1px solid #ddd;
	text-align: center;
	background-color: #f3f3f3;
	padding-top: 4px;
	margin: 3px 12px 12px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
img.float-left {
	float: left;
	margin: 0 1em 0.5em 0;
}
.alignleft {
	float: left;
	margin: 3px 10px 10px 0;
}
.alignright {
	float: right;
	margin: 3px 0 10px 10px;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.image-left {
	float: left;
	margin: 0 12px 6px 0;
	max-width: 40%;
}
.image-right {
	float: right;
	margin: 0 0 6px 12px;
	max-width: 40%;
}
img {
	max-width: 100%;
}
.onecolumn .entry-content img.aligncenter {
	display: block;
	margin-left: 0;
	margin-right: auto;
}
.onecolumn .entry-content {
	padding-right: 12px;
}
.mceIEcenter {
	text-align: center;
}
.wp-caption img {
	margin: 0 4px;
	padding: 0;
	border: 0 none;
}
.wp-caption-dd {
	font-size: 11px;
	line-height: 17px;
	padding: 0 4px 5px;
	margin: 0;
}
p.wp-caption-text {
	margin: 0;
	padding: 3px;
	font-size: 0.917em;
}
.post-navigation {
	clear: both;
	padding-left: 14px;
  	padding-right: 14px;
}
.post-navigation .nav-links {
	overflow: hidden;
  	margin-bottom: 12px;
}
.post-navigation .nav-links a {
	display: block;
	line-height: 1.2em;
	width: 40%;
}
.post-navigation .nav-links a[rel="prev"] {
	float: left;
}
.post-navigation .nav-links a[rel="next"] {
	float: right;
	text-align: right;
}

/* Campaign Space
   ************************************ */

.image-cover {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 5em;
	z-index: 9;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
}
.text-overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 50%;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.325) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.325)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.325) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.325) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.325) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.325) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-8 */
}

.home #image-band {
	height: 30em;
}

.home #image-band.no-header-widget {
	height: 22em;
}

.secondary #image-band {
	height: 14em;
}

#image-band .main_title {
	padding-left: 17px;
}
#image-band h3 {
	font-family: "freight-sans-pro-n5","freight-sans-pro",sans-serif;
	font-style: normal;
	color: #fff;
	margin: 0 0 0 17px;
	font-size: 1.9em;
	text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.6);
	text-indent: -17px;
	line-height: .85em;
}
.secondary #image-band h3 {
	font-size: 3em;
}
.ie9 #image-band h3 {
	font-size: 42px;
}
.ie9 .secondary #image-band h3 {
	font-size: 42px;
}
#image-band .image-subtitle a {
	color: #fff;
}
#image-band .textwidget {
	line-height: 1em;
	color: #fff;
}
.ie9 #image-band .textwidget {
	line-height: 1em;
	color: #fff;
	font-size: 24px;
}
html:not(.ie9) #image-band .textwidget {
	margin-left: 19px;
}
#image-band .textwidget p {
	line-height: 1em;
}

.image-meta {
	margin: 0 auto;
	max-width: 1170px;
	z-index: 999;
	position: relative;
}
.home .image-meta {
	padding: 5.5em 20px;
}
.ie9 .home .image-meta {
	padding: 1em 20px;
}
.secondary .image-meta,
.no-header-image .image-meta {	
	margin-top: 3em;
}

#image-band.no-header-image {
	background: url('../images/headers/no_header_image.jpg') no-repeat 0 0;
	float: left;
	width: 100%;
	clear: both;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover !important;
}

/* colored content bands */
.colorband {
	width: 100%;
	padding: 2em 0 3em 0;
	margin: 0;
	overflow: hidden;
	position: relative;
	z-index: 100;
}
.colorband-content {
	margin: 0 auto;
	max-width: 1130px;
	overflow: hidden;
}
.colorband.tint-one {
	background: #EAEAEA;
}

.colorband.tint-two {
	background: #D2D2D2;
}

.colorband.tint-three {
	background: #97ADBB;
}


/* Frames and Shadows
   ************************************ */
   
.dropshadow {
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
}
.dropshadow-dark {
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .3);
}
.dropshadow-diffuse {
	-moz-box-shadow: 0 1px 24px rgba(0, 0, 0, .15);
	-webkit-box-shadow: 0 1px 24px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 24px rgba(0, 0, 0, .15);
}
.framed {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 4px solid #fff;
}

/* Columns (1-4)
   ************************************ */
body.blog .columns {
	clear: none;
}

.columns {
	float: left;
	clear: both;
	width: 100%;
	padding: 0;
}

.columns.columns-0 {
	border: none;
	padding: 0 !important;
	margin: 0 !important;
}
.col-item {
	float: left;
	min-height: 1px;
}
body:not(.blog) article.col-item {
	float: none;
}
body.blog.twocolumn article.col-item {
	margin-right: 0;
}
.attachment.page .entry-attachment .attachment {
	text-align: center;
}
.col-item:last-of-type {
	margin-right: 0;
}

.columns-1 .col-item {
	width: 96%;
}

.columns-4 .col-item {
	width: 21.5%;
	margin-right: 30px;
}

.columns-3 .col-item {
	width: 30.11111%;
	margin-right: 30px;
}

.onecolumn #content #main #main-body.columns-3 .col-item {
	margin-right: 7px;
}

.columns-2 .col-item {
	width: 45.33333%;
	margin-right: 30px;
}
.blog.onecolumn .columns-4 .col-item {
	width: 22.5%;
	margin-right: 0px;
}
.home:not(.onecolumn) .entry-content .columns-2 .col-item {
	width: 44.33333%;
}
.paging-navigation {
	padding: 12px;
	clear: both;
}
.paging-navigation .nav-previous {
	float: left;
}
.paging-navigation .nav-next {
	float: right;
}
/* Main Navigation 
   ************************************ */
   
#identity, #navigation ul {
	max-width: 1170px;
	margin: 0 auto;
}
#navigation {
	float: left;
	width: 100%;
	clear: none;
	background: transparent;
}
.mobile_menu_name {
	display: none;
}
#navigation ul ul {
	width: auto;
}
#cu-identity #navigation li {
	font-size: 11.5px;
}
.theme_white_45 #cu-identity #navigation li {
}
#cu-identity #navigation li a {
	padding: 12px 1em 11px;
	background: #f7f7f7;
	font-size: .98em;
}

#navigation-bar {
	background: none;
	float: right;
    margin-right: 26px;
}
#header #navigation-bar {
	float: left;
}
#navigation-wrap {
	width: auto;
	margin: 0 auto;
}
.user-font-scaled #navigation {
	width: 25em;
	max-width: 50%;
}
#navigation h3 {
	display: none;
}
#navigation ul {
	width: auto;
}
#navigation li {
	font-family: "freight-sans-pro-n6","freight-sans-pro",sans-serif;
	font-style: normal;
	font-weight: 600;
	line-height: 1em;
	font-size: 12px;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	float: left;
	text-align: center;
	margin: 0;
	padding: 2px 0 0 13px;
	background-image: none;
}
#navigation li em {
	text-transform: none;
	font-style: normal;
}
#navigation li a, #navigation li a:visited {
	float: left;
	width: 100%;
	margin: 0;
	text-decoration: none;
	border: none !important;
	color: #929292;
}
#navigation ul li:first-child a, #navigation ul li:first-child a:visited {
	padding-left: 0;
}
#navigation li a:hover, 
#navigation li.active a,
#navigation .sub-menu li:hover > a {
	color: #b31b1b;
}
#navigation .sub-menu > li:hover {
	background: #ededed;
}
#navigation li.current_page_item > a,
#navigation li.current_page_ancestor > a,
#navigation li.current-menu-item > a,
#navigation li.current-menu-ancestor > a {
	color: #b31b1b;
}
li.current_page_ancestor ul.children:nth-of-type(1) li ul li ul,
li.current_page_item ul li ul.children:nth-of-type(1),
li.current_page_item ul li ul.sub-menu:nth-of-type(1) {
	display: none;
}
li.current_page_parent ul.children:nth-of-type(1),
li.current_page_parent ul.sub-menu:nth-of-type(1) {
	display: block;
}
li.current_page_ancestor ul.children:nth-of-type(1) li ul.children,
li.current_page_ancestor ul.children:nth-of-type(1),
li.current_page_ancestor ul.sub-menu:nth-of-type(1) {
	display: block;
}
li.current_page_item ul.children:nth-of-type(1),
li.current_page_item ul.sub-menu:nth-of-type(1) {
	display: block;
}

/* Submenus */

.nav-menu .sub-menu {
	display: none;
}

.nav-menu .sub-menu li a {
	padding: 14px 0;
	width: 200px;
}
.nav-menu .sub-menu,
.nav-menu .children {
	background-color: #f7f7f7;
	border-top: 0;
	display: none;
	padding: 0;
	position: absolute;
	top: 100%;
	left: -2px;
	z-index: 99999;
}

.nav-menu .sub-menu ul,
.nav-menu .children ul {
	border-left: 0;
	left: 100%;
	top: 0;
}


/* Breadcrumbs
   ************************************ */
   
#breadcrumbs {
	display: inline-block;
	margin: 0 0 12px;
}
#breadcrumbs li {
	display: inline;
	margin: 0 0 0 12px;
	padding: 0;
	background: none;
}
#breadcrumbs li:first-child, #breadcrumbs li.first {
	margin-left: 1px;
}
#breadcrumbs li.active-page {
	font-size: 0.917em;
}
#breadcrumbs li a, #breadcrumbs li a:hover, #breadcrumbs li a:active, #breadcrumbs li a:visited {
	font-size: 0.917em;
	padding: 0 12px 0 0;
	background: transparent url('../images/project/triangle_right_blue.svg') right 0.45em no-repeat;
	border: 0;
}
.no-svg #breadcrumbs li a, .no-svg #breadcrumbs li a:hover, .no-svg #breadcrumbs li a:active, .no-svg #breadcrumbs li a:visited {
	background: url('../images/project/right_blue.gif') right 0.45em no-repeat;
}
.breadcrumbs {
	margin-bottom: 12px;
	margin-top: 12px;
}
.breadcrumbs a {
	background: url('../images/red-right-arrow.png') 100% 56% no-repeat;
	background-size: 6px;
	padding-right: 15px;
	font-size: 1em;
	color: #2c6c8d;
	text-decoration: none;
	width: 100%;
	margin-right: 5px;
}
.breadcrumbs a:hover {
	color: #b31b1b;
}

/* Footer
   ************************************ */
.site-footer {
	color: #ccc;
	font-size: 90%;
	position: relative;
	z-index: 100;
	width: 100%;
	height: auto;
}
#footer, #subfooter {
	float: left;
	clear: both;
	width: 100%;
	padding: 1% 0 3% 0;
	min-height: 50px;
}

#footer {
	background: #3B3B3B;
	margin: 0 auto;
	padding: 1% 0 35px 0;
	width: 100%;
	border: none;
}

#footer p {
	font-size: 1.1em;
}

#footer ul li {
	background: none;
	padding: 7px 0;
	border-bottom: 1px dotted #ffffff;
}

#footer ul li a {
	font-size: 1.1em;
}

#footer ul li a:hover {
	color: #fff;
}

.footer-content {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 10px;
}

.site-footer h1, .site-footer h2, .site-footer h3, .site-footer h4 {
	font-family: "freight-sans-pro-n4","freight-sans-pro",sans-serif; /* custom body font */
	font-weight: 400;
	color: #96B4BE;
}

.site-footer a {
	color: #fff;
}

.site-footer a:hover, .site-footer a:focus {
	color: #b31b1b;
}


/* Social Media Footer
   ************************************ */
#subfooter {
	padding: 2% 0;
	background: #222222;
}
#subfooter .footer-content {
}
.site-footer ul.social-links {
	float: right;
	text-align: right;
	font-size: 1.2em;
	margin: 0 1em 0 0;
	padding: 0;
}

.site-footer .social-links li {
	float: left;
	margin: 0 0 0 0.8em;
	padding: 0;
	background-image: none;
}

.social-links li i span {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
}


/* Content Regions
   ************************************ */

#col1, .col1 {
	float: left;
	width: 47%;
	margin: 0 3% 0 0;
	clear: left;
}
#col2, .col2 {
	float: left;
	width: 47%;
	margin: 0 3% 0 0;
}

.col3 {
	float: left;
	width: 28%;
	margin-right: 3%;
	padding-left: 2%;
	background: transparent url(../images/project/col3.gif) no-repeat top left;
}
ul.ul2col {
	float: left;
	width: 100%;
	padding: 0 0 0.5em 0;
}
ul.ul2col li {
	float: left;
	width: 43%;
	margin: 0 3% 0.2em 0;
}

ul.ul2col.strong li {
	font-weight: 700;
	font-size: 1.1em;
}

ul.ul2col.colored li {
	background-image:url(../images/project/bullet-white-long.gif);
}

span.replace {
	display: inline-block;
	width: 0;
	text-indent: -1000em;
}

#footer1, #footer2, #footer3 {
	width: 30.5%;
	margin: 0 4% 0 0;
	float: left;
}
#footer3 {
	margin: 0;
}

/* Components
   -------------------- */
.list, .list-item {
	float: left;
	width: 100%;
}

.list {
	padding-bottom: 2em;
}

.list-item {
	margin: 1em 0;
}

.list-item img {
	float: left;
	margin: 0 1.2em 0.5em 0;
	border: 1px solid #fff;
}

.list-item h3 {
	font-size: 1.2em;
}

.list-item h3, .list-item h4 {
	margin-bottom: 0.2em;
}

/* courses with college tags */

h3.tag {
	display: inline-block;
	width: 65px;
	height: 65px;
	line-height: 65px;
	overflow: hidden;
	text-align: center;
	background: #A3A3A3;
	-moz-border-radius: 240px;
	-webkit-border-radius: 240px;
	border-radius: 240px;
	color: #fff;
	font-size: 1.2em;
	float: left;
	margin: 0 1em;
}

.list.courses li {
	background-image: none;
}


/* Flexible Width
   ************************************ */

#cu-identity, #wrap, #footer {
	min-width: 1170px;
}
.flexible #cu-identity, .flexible #wrap, .flexible #footer {
	min-width: 0;
}
.flexible #cu-identity-content, .flexible #identity, .flexible #navigation-wrap, .flexible .footer-content, .flexible #content, .flexible #midband, .flexible .content {
	width: 92%;
	max-width: 1100px;
}
.flexible.unconstrained #cu-identity-content, .flexible.unconstrained #identity, .flexible.unconstrained #navigation-wrap, .flexible.unconstrained .footer-content, .flexible.unconstrained #content, .flexible.unconstrained #midband, .flexible.unconstrained .content {
	width: 98%;
	max-width: none;
}


/* Cornell Identity 
   ************************************ */

/* search form
   -------------------- */
#cu-search {
	position: static;
	margin: 1em 10px 0;
}
#cu-identity {
	height: auto;
	position: relative;
	z-index: 20;
}
body.theme_white_75 #cu-identity-content {
	position: relative;
	width: 1170px;
}
#cu-identity.theme_white75 {
	border-top: 5px solid #b31b1b;
}
#search-form {
	float: right;
	font-size: 100%;
}
#search-form label {
	font-weight: 400;
}
#search-filters {
	margin-right: 3.25em;
}
#search-form-query {
	width: 20em;
	height: 2.25em;
	font-size: 1em;
	margin-left: 0.5em;
	border: 1px solid #666;
	border-top-color: #444;
	border-right-color: #999;
	border-bottom-color: #999;
	padding: 3px 6px;
	background: #ededed;
	background: -moz-linear-gradient(top,  #d6d6d6 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d6d6d6), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #d6d6d6 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #d6d6d6 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #d6d6d6 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #d6d6d6 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#ffffff',GradientType=0 );
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#search-filters a {
	margin: 1px 1px 0 15px;
	text-decoration: none;
	color: #b31b1b;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#search-filters a {
		margin: 4px 1px 0 15px;
	}
}
#search-filters a:hover {
	color: #c61e1e;
}
#search-filters a:active {
	color: #780000;
}
#search-form-submit {
	padding: 0 0 1px;
	width: 2.75em;
	height: 2.25em;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 0.35em;
	border: 0;
	background: #b31b1b;
	color: #fff;
	cursor: pointer;
}
#search-form-submit:active {
	background: #780000;
}

/* search toggle
   -------------------- */
#search-box {
	display: none;
	height: 6.5em;
	background-color: #d2d2d2;
}
#search-box-content {
	margin: 0 auto;
	width: 1170px;
}
#search-button {
	float: right;
}
.theme_white_75 #search-button {
	margin-right: 0;
}
#search-button p {
	margin: 0;
}
#search-button a {
	float: left;
	width: 38px;
	height: 38px;
	overflow: hidden;
	text-indent: -1000em;
	background: #b31b1b url('../images/project/icon_search32.png') 11px 12px no-repeat;
	background-size: 16px;
	margin-top: -5px;
}
#cu-identity.theme_white45 #search-button a,
#cu-identity.theme_white75 #search-button a {
    height: 40px;
	background: #b31b1b url('../images/project/icon_search32.png') 11px 14px no-repeat;
	background-size: 16px;
}
.no-backgroundsize #search-button a {
	background-image: url('../images/project/icon_search_sm.png');
}
#search-button a:active {
	background-color: #7a7a7a;
}
#search-button a.open {
	background-color: #d2d2d2;
}
#search-button a.open:active {
	background-color: #761212;
}

/*  Branding
   -------------------- */
#custom-branding h1 {
	margin: 0 !important;
	display: inline-block;
	font-family: "freight-sans-pro-n5","freight-sans-pro",sans-serif;
	font-style: normal;
	line-height: .88em;
	font-weight: 500;
	font-size: 3.3em;
}
#custom-branding h2 {
	font-family: "freight-sans-pro-n5","freight-sans-pro",sans-serif;
	font-style: normal;
	padding-left: 5px;
	font-size: 1.55em;
	padding-top: 12px;
	margin-bottom: 10px;
}
#custom-branding a {
	color: #2C6C8C;
}
#custom-branding a:hover {
	text-decoration: none;
}
#cu-seal {
	float: left;
	position: relative;
}

#cu-seal img,
#cu-identity .main.nav-menu,
#header .top.nav-menu {
	display: none;
}
aside .featured-post {
	margin-bottom: 24px;
}


/* Widgets */
.global-site-search form table tbody tr td { 
	text-align: center!important; 
}
.global-site-search form table tbody tr td:first-child input { 
	width: 90%!important; padding: 1px 5px!important; 
}


/* Responsive Web Design 
   ************************************ */

#cu-identity, #wrap, #footer, .flexible #cu-identity, .flexible #wrap, .flexible #footer, .image-meta {
	min-width: 1170px; /* lock design for older browsers that don't support media queries */
}
@media only screen and (min-width: 1px) {
	#cu-identity, #wrap, #footer, .flexible #cu-identity, .flexible #wrap, .flexible #footer, .image-meta {
		min-width: 0; /* unlock */
	}
}
#navigation h3, ul.mobile-section {
	display: none;
}
#content img {
	height: auto;
}
.blog:not(.singlecolumnblog) article .entry-thumbnail img {
	width: 100%;
}
.blog.singlecolumnblog article .entry-thumbnail img {
	float: left;
}
aside {
	margin-bottom: 2em;
}

aside .featured-post a img {
    float: none;
	width: 100%;
    margin-right: 0;
}

.widget_hier_page select,
.widget_pages select {
  display: none;
}
.home h1.entry-title { 
	font-family: "freight-text-pro-i4", "freight-text-pro", serif;
	font-style: normal;
	font-weight: 400;
	font-size: 2em;
	line-height: .5em;
}
.blog article .entry-header {
	padding-bottom: 0;
}
.nav-menu, .sub-menu {
    padding-right: 0!important;
}

#cu-identity.theme_white75 {
    border-top: 5px solid #b31b1b;
    overflow: hidden;
}
#cu-identity.theme_white45 {
    border-top: 5px solid #b31b1b;
}
.theme_white_75 #global-footer-content {
    clear: both;   
}


/* RSS WIDGET */
.widget_rss h3, .widget_rss h3>a{
    text-align: center; color: #333; position: relative; padding-bottom: 40px;
}
	
.widget_rss>ul>li{
	width: 75%;
	margin: auto;
	list-style-type: none!important;
	background: none;
	text-align: center;
	padding: 40px 0;
	position: relative;
}
.widget_rss>ul>li>a:after, .widget_rss h3>a:after{
	left:0;right:0;margin:0 auto;position:absolute;background-color:#e0e0e0;content:"";height:1px;width:50%;position:absolute;bottom:0;
}
.widget_rss>ul>li>a{
	font-family:"freight-text-pro-n4","freight-text-pro",serif;
	font-style:normal;
	font-weight:400;
	color:#000;
	font-size:18px;
	line-height:1.3;
}

.widget_rss a.rsswidget>img{
	display: none;
}
/* FIX SECONDARY GAP */
#secondary .main-body {
    margin-top: 0!important;
}
#secondary {
    max-height: 85%;
}
#content {
    display: table;
    width: 100%;
	z-index: 10;
    position: relative;
}
.sidebar_right #secondary-nav, 
.sidebar_left #secondary-nav {
	margin-top: 39px;
}
#footer ul li {
    border-bottom: 1px dotted #888888 !important;
}
article li{
	font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

body.theme_white_75 #cu-identity {
    overflow: visible;
}
body.theme_white_75 #navigation h3 {
    margin-bottom: 0;
}


header .entry-thumbnail {
    height: auto;
}
#cu-identity.theme_white75 {
    border-top: 5px solid #b31b1b;
    overflow: hidden;
}
.theme_white_75 #global-footer-content {
    clear: both;   
}
.tagcloud a {
    padding-right: 10px;   
}
.tag .entry-summary,
.search .entry-summary,
.archive .entry-summary {
    margin-top: -20px;
}
.page header .entry-thumbnail {
	padding: 0 16px 16px 0;
    margin-bottom: 10px;
	float: left;
}
.page.onecolumn header .entry-thumbnail {
	padding: 0 16px 3px 0;
    margin-bottom: 0;
}
.widget li a:hover {
    color: #b31b1b;
}
.blog article {
    clear: none!important;
}
.blog .entry-header .entry-title {
    line-height: .5em;
}
footer.entry-meta {
    clear: both;
	float: right;
    margin-top: 8px;
}

/* ********************************************************** */
@media only screen and (min-width: 1170px) { /* ************* */
#header #navigation-bar #navigation .sub-menu {
	width: 180px;
	border: 1px solid #e3e3e3;
	border-top: none;
}
#header #navigation-bar #navigation .sub-menu {
	left: 16px;
}
#header #navigation-bar #navigation li:first-of-type .sub-menu:first-of-type {
	left: 10px;
}
#header #navigation-bar #navigation .sub-menu .sub-menu {
	left: 100%!important;
}

/* ************** */ }

/* ********************************************************** */
@media only screen and (max-width: 1170px) { /* ************* */
body.theme_white45 #cu-seal, .theme_gray45 #cu-seal, .theme_red45 #cu-seal {
	padding-left: 10px;
}
body.theme_white_75 #cu-identity-content {
	width: 100%;
}
body.theme_white_75 #cu-seal {
	left: 1%;
}
body.theme_white_75 #custom-branding,
body.theme_white_75 #search-button {
	margin-right: 16px;
}
.col-item:last-of-type {
	margin-right: 3.33333%;
}

#custom-branding {
	padding-left: 17px!important;
}
body.theme_white_75 #custom-branding {
	padding-left: 24px!important;
}
.colorband {
	margin: 0 auto;
	padding: 1% 2% 35px 2%;
	width: 96%;
	border: none;
}
.columns-3 .col-item,
.columns-4 .col-item {
	width: 30%;
}
body.theme_white_75 #search-button {
	margin-right: 38px;
	z-index: 999;
}
body.theme_gray_45 #search-button,
body.theme_red_45 #search-button {
	z-index: 999;
}
#identity .nav-menu li a {
	padding: 16px .85em;
}
#header #navigation-bar #navigation .sub-menu {
	width: 160px!important;
}
#header #navigation-bar #navigation .sub-menu {
	left: 12px;
}
#header #navigation-bar #navigation li:first-of-type .sub-menu:first-of-type {
	left: 8px;
}
#header #navigation-bar #navigation .sub-menu .sub-menu {
	left: 100%!important;
}


/* ************** */ }

@media only screen and (min-width: 959px) and (max-width: 1170px) {
    body.theme_white_75 #search-button,
    body.theme_white_45 #search-button {
        margin-right: 18px;
    }
}
/* ********************************************************** */
@media only screen and (max-width: 1150px) { /* ************* */
	.blog.twocolumn article {
		width: 44.5%;
	}
	#secondary, #secondary-nav {
		width: 46%;
	}
	#main-body {
		width: 54%;
	}
	#identity .nav-menu li a {
		padding: 16px .75em;
	}
	.blog.onecolumn .columns-4 .col-item {
		width: 30.5%;
	}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 1040px) { /* ************* */

	#search-box {
		background-position: 50% -10px;
	}
	/*.theme_white75 #cu-seal a {
		background-size: 110px;
	}*/
	.home .image-meta {
		padding: 3.5em 20px;
	}
	.home #image-band {
		height: 28em;
	}
	#identity .nav-menu li a {
		padding: 16px .7em;
	}
	.blog.onecolumn .columns-4 .col-item {
		width: 45.8%;
	}
	.blog .entry-thumbnail {
		height: 212px;
	}
	
	
/* ************** */ }
/* ********************************************************** */
@media only screen and (min-width: 959px) {
    #cu-identity.theme_white75 #navigation li {
        padding-left: 0;   
    }
	.theme_gray45#cu-identity #navigation li a:hover,
	.theme_red45#cu-identity #navigation li a:hover,
	.theme_gray45#cu-identity #navigation li.current_page_item a,
	.theme_red45#cu-identity #navigation li.current_page_item a,
	.theme_gray45#cu-identity #navigation li.current-menu-item a,
	.theme_red45#cu-identity #navigation li.current-menu-item a {
		text-decoration: underline;
	}
    #cu-identity.theme_white45 #navigation li,
    #cu-identity.theme_white75 #navigation li {
        padding-left: 25px;   
    }
	#cu-identity.collapse #navigation-bar {
		float: none;
	}
	#cu-identity.collapse #navigation-wrap {
		width: 100%;
	}
	#cu-identity.collapse #navigation li {
		font-size: 1.1em;
		padding: 0;
	}
	/* Navigation Dropdown ****************/
	#cu-identity.collapse .sub-menu.open {
		display: block;
	}
	#cu-identity.collapse #navigation-wrap, .flexible #cu-identity.collapse #navigation-wrap {
		width: 100% !important;
	}
	#cu-identity.collapse #navigation {
		position: absolute;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.theme_white_45 #cu-identity.collapse #navigation {
		z-index: 9;
	}
	#cu-identity.collapse #navigation h3 {
		display: block;
		margin: 0 38px 0 0;
		overflow: hidden;
		text-indent: -1000em;
	}
	.theme_white_45 #cu-identity.collapse #navigation h3 {
		margin: -5px 0 0 0;
	}
	.no-backgroundsize #cu-identity.collapse #navigation h3 em {
		background-image: url('../images/project/icon_menu16.gif');
	}
	.theme_gray_45 #cu-identity.collapse #navigation h3 em:active {
		background-color: #222;
	}
	.theme_gray_45 #cu-identity.collapse #navigation h3 em.open {
		background-color: #333;
	}
	.theme_gray_45 #cu-identity.collapse #navigation h3 em.open:active {
		background-color: #222;
	}
	.theme_white_75 #cu-identity.collapse #navigation h3 em {
		float: right;
		width: 38px;
		height: 35px;
		background: #A10606 url('../images/project/icon_extras40.png') 10px 14px no-repeat;
		background-size: 18px;
		cursor: pointer;
	}
	.theme_white_75 #cu-identity.collapse #navigation h3 em.open {
		background-color: #333;
	}
	body.theme_white_75 #cu-identity.collapse  {
		overflow: visible;
	}
	body.theme_white_75 #cu-identity.collapse #navigation h3 {
		margin-bottom: 15px;
	}
	#cu-identity.collapse #navigation ul, .nav-centered #cu-identity.collapse #navigation ul {
		display: none;
		width: 50%;
		border: 0;
		margin-top: -15px;
		margin-right: 38px;
		background: #333 !important;
		overflow: hidden;
		-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
		-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
		box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
	}
	#cu-identity.collapse #navigation li {
		display: inline-block;
		width: 100%;
		text-align: left;
		border-bottom: 1px solid #4D4E53;
		height: auto;
	}
	#cu-identity.collapse #navigation li a, 
	#cu-identity.collapse #navigation ul.mobile-menu #section-navigation li.active {
		-ms-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		text-align: left !important;
		width: 100%;
		padding: 15px 9% 15px 4% !important;
		margin: 0;
	}
	#cu-identity.collapse #navigation ul li.menu-item-has-children .nav-arrow {
		background: url('../images/layout/nav_arrow_red_down.svg') 45% 67% no-repeat;
		background-size: 22px;
		border-left: 1px solid #4D4E53;
		width: 37px;
		height: 47px;
		float: right;
		position: absolute;
		cursor: pointer;
		right: 0;
		top: 0;
	}
	#cu-identity.collapse #navigation ul li.menu-item-has-children .nav-arrow.open {
		background: url('../images/layout/nav_arrow_red_up.svg') 45% 36% no-repeat;
		background-size: 22px;
		border-bottom: 1px solid #4D4E53;
		height: 40px;
	}
	#cu-identity.collapse #navigation ul li.menu-item-has-children ul li .nav-arrow {
		display: none;
	}
	#cu-identity.collapse #navigation li a span {
		height: auto;
		display: inline;
	}
	#cu-identity.collapse #navigation li.active {
		height: auto;
	}
	#cu-identity.collapse #navigation li.active a {
		background: #b31b1b;
		color: #000;
		background-image: none;
	}
	#cu-identity.collapse #navigation li ul {
		display: none;
		border-top: none;
		border-bottom: none;
		position: relative;
		width: 100%;
	}
	
	#cu-identity.collapse #navigation li ul li {
		border-top: none;
		border-bottom: none;
		padding-left: 4%;
		width: 96%;
	}
	
	#cu-identity.collapse  #navigation li a {
		background: rgba(51, 51, 51, 1);
		background: #333333;
	}
	#cu-identity.collapse #search-button {
		position: relative;
		z-index: 9;
	}
	#cu-identity.collapse #navigation li {
		font-size: 1.0em;
	}
	
	#cu-identity.collapse  #navigation li a {
		background: #333!important;
	}
	#cu-identity.collapse.theme_white45 #search-button {
		margin-right: 38px;
		z-index: 99;
	}
	.theme_white_45 #cu-identity.collapse #navigation,
	.theme_white_75 #cu-identity.collapse #navigation {
		margin-top: 0;
		z-index: 99;
	}
	
	body.theme_white_75 #custom-branding {
		clear: right;
		float: right;
		padding: 30px 0 8px;
		margin-left: 120px;
	}

	.theme_white_75 #cu-identity.tagline #custom-branding {
		padding: 12px 0 8px!important;
	}

	.theme_white_75 #cu-identity.tagline #cu-seal {
		top: 3px;
	}
#header #navigation-bar #navigation li {
	padding: 2px 16px 0 0;
}
#header #navigation-bar #navigation li:first-child {
	padding-left: 13px;
}
#header #navigation-bar #navigation li:last-child {
	padding-right: 0;
}
#header #navigation-bar #navigation .sub-menu {
	width: 180px;
	border: 1px solid #e3e3e3;
	border-top: none;
}
#header #navigation-bar #navigation .sub-menu {
	left: 16px;
}
#header #navigation-bar #navigation li:first-of-type .sub-menu:first-of-type {
	left: 10px;
}
#header #navigation-bar #navigation .sub-menu .sub-menu {
	left: 100%!important;
}
#header #navigation-bar #navigation .sub-menu li {
	width: 100%;
	padding-right: 0;
	padding-left: 0;
	border-bottom: 1px solid #e3e3e3;
}
#header #navigation-bar #navigation .sub-menu li:last-child {
	border: none;
}
#header #navigation-bar #navigation .sub-menu li a {
	line-height: 1.2em;
	font-size: 13px;
	text-align: left;
	padding: 6px 10px;
	text-transform: none;
	width: calc(100% - 20px);
}

ul.nav-menu li:hover > ul,
.nav-menu ul li:hover > ul {
	display: block!important;
}

/*submenu layering fixes (top) */
.image-meta {
	pointer-events: none;
}
#cu-identity #navigation .sub-menu {
	margin-left: 27px;
	border: 1px solid #e3e3e3;
    border-top: none;
    border-bottom: none;
}
#cu-identity #navigation .sub-menu .sub-menu {
	margin-left: 0;
}
#cu-identity #navigation .sub-menu li {
	padding-left: 0!important;
    width: 16em!important;
	text-align: left;
	border-bottom: 1px solid #e3e3e3;
}
#cu-identity #navigation .sub-menu li a {
    width: 13em!important;
	font-size: 12px;
	padding: 14px 14px;
	text-transform: none;
}
#cu-identity #navigation .sub-menu li a:hover {
	  background: #ededed;
}
#cu-identity #navigation .sub-menu .sub-menu,
#cu-identity #navigation .sub-menu .sub-menu .sub-menu,
#header #navigation-bar #navigation .sub-menu .sub-menu,
#header #navigation-bar #navigation .sub-menu .sub-menu .sub-menu {
	border-top: 1px solid #e3e3e3;
}


/*gray*/
.theme_gray_45 #cu-identity #navigation .sub-menu {
	border: 1px solid #333;
    border-top: none;
    border-bottom: none;
}
.theme_gray_45 #cu-identity #navigation .sub-menu .sub-menu,
.theme_gray_45 #cu-identity #navigation .sub-menu .sub-menu .sub-menu {
	border-top: 1px solid #333;
}
.theme_gray_45 #cu-identity #navigation .sub-menu li {
	padding-top: 0;
	text-align: left;
	border-bottom: 1px solid #333;
	width: 16em!important;
}
.theme_gray_45 #cu-identity #navigation .sub-menu li a {
	width: 14em;
	padding: 14px 14px;
	text-transform: none;
	text-decoration: none;
}
.theme_gray_45 #cu-identity #navigation .sub-menu li:hover,
.theme_gray_45 #cu-identity #navigation .sub-menu li a:hover {
	background: #333;
}

/*red*/
.theme_red_45 #cu-identity #navigation .sub-menu {
	border: 1px solid #A10606;
    border-top: none;
    border-bottom: none;
}
.theme_red_45 #cu-identity #navigation .sub-menu .sub-menu,
.theme_red_45 #cu-identity #navigation .sub-menu .sub-menu .sub-menu {
	border-top: 1px solid #A10606;
}
.theme_red_45 #cu-identity #navigation .sub-menu li {
	padding-top: 0;
	text-align: left;
	border-bottom: 1px solid #A10606;
	width: 16em!important;
}
.theme_red_45 #cu-identity #navigation .sub-menu li a {
	width: 14em;
	padding: 14px 14px;
	text-transform: none;
	text-decoration: none;
}
.theme_red_45 #cu-identity #navigation .sub-menu li:hover,
.theme_red_45 #cu-identity #navigation .sub-menu li a:hover {
	background: #A10606;
}


/*************/

	
}
/* ********************************************************** */
@media only screen and (max-width: 959px) { /* ************** */

#identity {
	width: 100%;
}
#navigation-bar {
	float: none;
}
#navigation-wrap, .footer-content, #content, #midband, #cu-identity-content, #search-box-content, .slider-meta, .colorband-content {
	width: 100%;
}
#cu-identity {
	z-index: 2000;
}
#main-body {
	width: 100%;
}
.vendor-webkit:not(.browser-chrome) #main-body, 
.vendor-webkit:not(.browser-chrome) #main-bottom {
	width: 100%;
	margin: 0;
}
.vendor-webkit:not(.browser-chrome) #secondary-nav, 
.vendor-webkit:not(.browser-chrome) #secondary {
    width: 100%;
}
.vendor-webkit:not(.browser-chrome) #secondary-nav .main-body, 
.vendor-webkit:not(.browser-chrome) #secondary .main-body {
    width: 96%;
}
.footer-content {
	width: 95%;
}
#identity-content {
	padding: 0 1%;
}

#navigation li {
	font-size: 1.1em;
	padding: 0;
}
.bx-wrapper .bx-prev {
	left: 10px;
	background: url(images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
	right: 10px;
	background: url(images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
	background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
	background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
	width: 32px;
	height: 32px;
}
/* Navigation Dropdown ****************/
.sub-menu.open {
	display: block;
}
#navigation-wrap, .flexible #navigation-wrap {
	width: 100% !important;
}
#navigation {
	position: absolute;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#cu-identity:not(.theme_gray45):not(.theme_red45) #navigation > div {
	margin-top: 14px;
}
.theme_white_45 #cu-identity #navigation {
	margin-top: 5px;
}
.theme_white_45 #navigation {	
	z-index: 9;
}
#navigation h3 {
	display: block;
	margin: 0 0 0 0;
	overflow: hidden;
	text-indent: -1000em;
}
.theme_white_45 #navigation h3 {
	margin: -5px 0 0 0;
}
.no-backgroundsize #navigation h3 em {
	background-image: url('../images/project/icon_menu16.gif');
}
.theme_gray_45 #navigation h3 em:active {
	background-color: #222;
}
.theme_gray_45 #navigation h3 em.open {
	background-color: #333;
}
.theme_gray_45 #navigation h3 em.open:active {
	background-color: #222;
}
.theme_red_45 #navigation h3 em.open,
.theme_gray_45 #navigation h3 em.open {
	height: 48px;
}
.theme_white_45 #navigation h3 em,
.theme_white_75 #navigation h3 em {
    float: right;
    width: 38px;
    height: 35px;
    background: #A10606 url('../images/project/icon_menu32.png') 11px 9px no-repeat;
    background-size: 18px;
    cursor: pointer;
    margin-right: 0px;
}
.theme_white_75 #navigation h3 em {
    height: 35px;
    background: #A10606 url('../images/project/icon_menu32.png') 11px 9px no-repeat;
    background-size: 18px;
}
.theme_white_45 #cu-identity,
.theme_white_75 #cu-identity {
    overflow: visible;
}
.theme_white_45 #navigation h3 em.open,
.theme_white_75 #navigation h3 em.open {
    background: #A10606 url('../images/X-white.png') 14px 11px no-repeat;
    background-size: 11px;
	height: 35px;
}
.theme_red45#cu-identity #navigation li,
.theme_red45#cu-identity #navigation li a {
	background: #fff;
}
.theme_gray45#cu-identity #navigation li,
.theme_gray45#cu-identity #navigation li a {
	background: #fff;
}
.theme_gray45#cu-identity #navigation li a,
.theme_red45#cu-identity #navigation li a {
	color: #000;
}
.theme_white_75 #navigation h3 em.open {
	height: 35px;
}
#navigation ul, .nav-centered #navigation ul {
	display: none;
	width: 100%;
	border: 0;
	margin-right: 1.25%;
	background: #fff;
}
.theme_white_45 #navigation .nav-menu,
.theme_white_75 #navigation .nav-menu {
	border-top: 1px solid #e0e0e0;
}
#navigation li {
	display: inline-block;
	width: 100% !important;
	text-align: left;
	border-bottom: 1px solid #e0e0e0;
	height: auto;
	font-weight: normal;
	text-transform: none;
	letter-spacing: normal;
}
#navigation li ul li:last-child {
	border-bottom: none;
}
#navigation li ul,
#navigation li ul li,
#navigation li ul li a {
	background: #f6f6f6 !important;
}
#navigation li a, #navigation ul.mobile-menu #section-navigation li.active {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left !important;
	width: 100%;
	padding: 18px 9% 18px 4% !important;
	margin: 0;
}
.theme_white_45 #navigation li a, 
.theme_white_45 #navigation ul.mobile-menu #section-navigation li.active,
.theme_white_75 #navigation li a, 
.theme_white_75 #navigation ul.mobile-menu #section-navigation li.active {
	padding: 14.5px 9% 14.5px 4% !important;
}
#navigation ul li.menu-item-has-children .nav-arrow {
	background: #f6f6f6 url('../images/layout/nav_arrow_red_down.svg') 45% 74% no-repeat;
	background-size: 22px;
	border-left: 1px solid #e0e0e0;
	width: 46px;
	height: 47px;
	float: right;
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
}
.theme_white_45 #navigation ul li.menu-item-has-children .nav-arrow,
.theme_white_75 #navigation ul li.menu-item-has-children .nav-arrow {
	width: 38px;
	height: 40px;
}
.vendor-webkit:not(.browser-chrome) .theme_white_45 #navigation ul li.menu-item-has-children .nav-arrow,
.vendor-webkit:not(.browser-chrome) .theme_white_75 #navigation ul li.menu-item-has-children .nav-arrow {
	height: 39px;
}
.theme_gray_45 #navigation ul li.menu-item-has-children .nav-arrow,
.theme_red_45 #navigation ul li.menu-item-has-children .nav-arrow {
	width: 48px;
}
#navigation ul li.menu-item-has-children .nav-arrow.open {
	background: #f6f6f6 url('../images/layout/nav_arrow_red_up.svg') 45% 36% no-repeat;
	background-size: 22px;
	height: 47px;
}
.theme_white_45 #navigation ul li.menu-item-has-children .nav-arrow.open,
.theme_white_75 #navigation ul li.menu-item-has-children .nav-arrow.open {
	height: 40px;
}
#navigation ul li.menu-item-has-children ul li .nav-arrow {
	display: none;
}
#navigation li a span {
	height: auto;
	display: inline;
}
#navigation li.active {
	height: auto;
}
#navigation li.active a {
	background: #b31b1b;
	color: #000;
	background-image: none;
}
#navigation li ul {
	display: none;
	border-top: none;
	border-bottom: none;
	position: relative;
	width: 100%;
}

#navigation li ul li {
	border-top: 1px solid #e0e0e0;
	text-indent: 4%;
	width: 100%;
}
#navigation li ul li:first-child {
	border-bottom: none;
}

#cu-identity #navigation li a {
	background: #fff;
	color: #000;
	font-size: 18px;
}
#search-button {
	position: relative;
	margin-right: 49px;
	z-index: 9;
}
.theme_white_75 #search-button,
.theme_white_45 #search-button {
	margin-right: 38px;
}
#secondary, #secondary-nav {
	width: 100%;
}

#col1, #col2, .col1, .col2 {
	width: 45%;
	margin: 0 5% 0 0;
}
#content #main #main-body, .main-body {
	margin: 0 auto;
}
#content #main #main-body {
	margin-top: 30px;
}
#secondary-nav .main-body,
#secondary .main-body {
	width: 96%;
}
#secondary-nav .main-body,
#secondary .main-body,
.colorband {
	margin: 0 auto;
	padding: 1% 2% 35px 2%;
	width: 96%;
	border: none!important;
}
.vendor-webkit:not(.browser-chrome) .colorband {
	width: 96.15%;
	padding: 1% 2% 35px 2%;
}
#secondary .main-body {
	padding-left: 2%;
	padding-right: 2%;
}
#navigation li {
	font-size: 1.0em;
}

#custom-branding h1 {
	font-size: 3em;
}
h3.widget-title {
	padding: 24px 0 6px;
}

.columns-4 .col-item {
	width: 29.11111%;
}
.home #image-band {
	height: 26em;
}
.home .image-meta {
	padding: 2em 20px;
}
.home #image-band h3 {
	font-size: 1.74em;
}
.blog.onecolumn article {
	width: 45%;
}
#search-button {
	margin-right: 49px;
}
.theme_white45 #search-button {
	margin-right: 38px;
	z-index: 99;
}
body.theme_white_75 #custom-branding {
	float: left;
	margin: 15px 0 5px 7px;
	clear: both;
}
.theme_white75 #cu-seal a {
	width: 169px;
	height: 49px;
	/*background: url(../images/cornell_identity/legacy/cu_logo_white45-old.gif) no-repeat top left;*/
	background: url(../images/cornell_identity/cu_logo_white45.gif) no-repeat top left;
	background-size: 169px;
}
body.theme_white_75 #cu-seal {
	padding-top: 0;
	top: 0;
	left: 3%;
	z-index: 999;
}
#cu-seal {
	z-index: 999;
}

.widget_hier_page ul, 
.widget_pages ul { 
	display: none; 
}
.widget_hier_page,
.widget_pages {
	text-align: center;
	margin-top: 30px;
}
.widget_hier_page h3.widget-title,
.widget_pages h3.widget-title {
	padding: 24px 0 6px;
	display: none;
}
aside .featured-post a:nth-child(2) {
	display: block;
	text-align: center;
}
aside .featured-post a img {
	width: 60%;
}
#responsive-hier-nav-menu,
#responsive-main-nav-menu {
	padding: 10px 8px;
	width: 100%;
}
.widget_hier_page select, 
.widget_pages select { 
	display: inline-block!important; 
	overflow: hidden;
	width: 100%;
	display: inline-block;
	background: url("../images/red-down-arrow.png") no-repeat 98% 50% #ffffff;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
}
.vendor-mozilla .widget_hier_page select, 
.vendor-mozilla .widget_pages select { 
	background: none;
}
.home #secondary-nav .main-body {
	padding-top: 3%;
}
.theme_gray45#cu-identity #navigation li a:hover,
.theme_red45#cu-identity #navigation li a:hover,
.theme_white45#cu-identity #navigation li a:hover,
.theme_white75#cu-identity #navigation li a:hover,
.theme_gray45#cu-identity #navigation li.current_page_item a,
.theme_red45#cu-identity #navigation li.current_page_item a,
.theme_white45#cu-identity #navigation li.current_page_item a,
.theme_white75#cu-identity #navigation li.current_page_item a,
.theme_gray45#cu-identity #navigation li.current-menu-item a,
.theme_red45#cu-identity #navigation li.current-menu-item a,
.theme_white45#cu-identity #navigation li.current-menu-item a,
.theme_white75#cu-identity #navigation li.current-menu-item a {
	color: #b31b1b;
}
#navigation {
	z-index: 99;
}
.nav-menu .sub-menu,
.nav-menu .children {
	left: 0;
}
.theme_gray45 #custom-branding,
.theme_red45 #custom-branding {
	margin-top: -1px;
}
#cu-overlay {
	-webkit-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	transition: opacity 0.4s;
	opacity: 0;
	position: fixed;
	width: 100%;
	-webkit-backface-visibility: hidden;
}
#cu-overlay.overlay-visible {
	background: rgba(0,0,0,0.85);
	top: 160px;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 1;
	z-index: 1000;
}
.columns-3 .col-item, .columns-4 .col-item {
	width: 45%;
}
#secondary-nav, 
#secondary,
#secondary-nav .main-body, 
#secondary .main-body {
	border-left: none!important;
	border-right: none!important;
}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 860px) { /* ************** */
.home #image-band {
	height: 25em;
}
#image-band .textwidget p {
	font-size: 1em;
}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 800px), print { /* ************** */
#header h1 {
	font-size: 1.75em;
	line-height: 36px;
	margin: 0 0 27.5% 0.5%;
}
#header h1.autoscale {
	line-height: 1.7;
}
#header h2 {
	color: #454545;
	font-style: italic;
	font-size: 1.25em;
	line-height: 25px;
	margin: 1px 0.5% 0 15px;
	float: right;
	display: none; /* remove to enable */
}
.autosize-header #identity-content {
	background-position: right 0;
}
.backgroundsize .sidebar-tint #main, .backgroundsize .sidebar-tint .main {
	background-image: none !important;
}

#content #main #main-body, .main-body, .onecolumn #content #main #main-body, .onecolumn .main-body {
	float: left !important;
}
#footer1 {
	width: 98%;
	margin: 0 1% 4% 1%;
}
#footer2 {
	width: 47%;
	margin: 0 2% 0 1%;
}
#footer3 {
	width: 47%;
	margin: 0 1% 0 2%;
}
#subfooter .col-item {
	width: 47%;
	margin: 0 auto;
	text-align: center;
}
#subfooter .col-item:first-child {
	padding-top: 14px;
}
#subfooter ul {
	margin: 0 0 10px;
	padding: 13px 0 0 0;
	float: left;
}
#header {
	position: relative;
	z-index: 2;
}
#cu-seal {
	float: left;
	position: absolute;
	top: -1px;
}

.no-svg #cu-seal a {
	background-size: auto !important;
}
#search-box-content {
	margin-right: 1.25%;

}
#main, .main {
	padding-top: 3px;
}
ul.ul2col li {
	width: 90%;
	margin: 0 0 0.2em 0;
}
.columns-3 .col-item {
	width: 45%;
}
.search #image-band h3 {
	font-size: 2.53em;
	line-height: 1em;
}
.search #image-band h3 span {
	display: inline-block;
}
#secondary .main-body {
	float: none!important;
}
#image-band .main_title {
	display: inline-block;
	line-height: .89em;
	font-size: .89em;
}
#image-band h3 {
	text-indent: -2px;
}
.vendor-webkit:not(.browser-chrome) .colorband {
	width: 96.5%;
}
/* ************** */ }
/* ********************************************************** */
@media screen and (max-width: 768px) {
#search-button {
	margin-right: 48px;
}
.home #image-band {
	height: 24em;
}
#image-band h3 p {
	font-size: 1.1em;
}
/* ************** */ }

/* alternate spotlight layout, to better handle the gap between tablet and phone (e.g. iPhone 5 landscape) */
@media only screen and (min-width: 481px) and (max-width: 767px) { /* ************** */

/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 720px) { /* ************* */ 
    .columns-3 .col-item, 
    .columns-4 .col-item {
        width: 98%;
    }
    .blog article {
        width: 94%;
        margin-bottom: 30px;
        clear: both;
    }
    .blog.twocolumn article {
        width: 96%;
        float: none;
        padding: 2% 2%;
    }
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 700px) { /* ************* */

.columns-3 .col-item, .columns-4 .col-item {
	width: 98%;
}
.blog.onecolumn .columns-4 .col-item {
	width: 94.8%;
}
.blog .entry-thumbnail {
	height: 212px;
}
/* ************** */ }
/* ********************************************************** */
@media screen and (max-width: 660px) {
#subfooter .col-item {
	width: 98%;
}
#subfooter .col-item:first-child {
	margin-left: 1em;
	text-align: left;
}
#global-footer-content-inner {
	text-align: left;
	margin-left: 28px;
}
aside .featured-post a img {
	width: 98%;
}
/* ************** */ }

@media only screen and (max-width: 630px) { /* ************** */

#main-body, .main-body, #footer {
	font-size: 92.86%;
}
h1 {
	font-size: 1.75em;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.25em;
}

#slider-band .slider-subtitle {
	margin: 0 10px 0 0;
}

#slider-band .slider-subnav li {
	margin: 0 10px 0 0;
	padding: 0;
}
.home #image-band {
	height: 22em;
}
.home #image-band h3 {
	font-size: 1.6em;
}
.home .image-meta {
	padding: 1em 20px;
}
.columns-2 .col-item {
	width: 95%;
}
/* ************** */ }

@media screen and (max-width: 600px) {
.home .entry-content .columns-2 .col-item {
    width: 100%!important;
	margin: 0 auto 22px;
}
.home .entry-content .columns-2 .col-item a img {
    float: none;
	width: 98%;
}
.home .entry-content .columns-2 .col-item a:nth-child(2) {
    display: block;
	text-align: center;
}
.blog.twocolumn article {
	width: 96%;
	float: none;
	padding: 2% 2%;
}
.blog.onecolumn article {
	width: 96%;
}
body.theme_white_75 #custom-branding {
	margin-left: -7px;
}
/* ************** */ }
/* ********************************************************** */
@media screen and (max-width: 550px) {
#custom-branding h1 {
	font-size: 2.5em;
}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 500px) { /* ************** */

#subfooter .footer-content {
	background-size: 100%;
}

#subfooter li.simple {
	display: block;
	clear: left;
	margin-left: 1em;
}
#cu-identity-content {
	width: 97%;
	margin: 0;
}
#slider-band {
	margin-top: -10px;
	margin-bottom: 15px;
}
#slider-band .slider-subnav {
	padding: 0.5em 0;
}
#slider-band .slider-subnav li {
	margin-left: 0;
	padding-left: 0;
}
#image-band .main_title {
	font-size: .82em;
}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 480px) { /* ************** */
header .entry-thumbnail a {
	height: auto;
}
#search-button {
	margin-right: 48px;
}
#search-form-query {
	width: 10.5em;
}
#search-filters {
	margin-right: 0;
}
#search-box-content {
	margin-right: 7%;
}

#contact h3 {
	font-size: 1.083em;
}
#contact form label {
	font-size: 0.917em;
	line-height: 1.3em;
	margin-top: 0.85em;
}
.quick-spacer {
	display: none;
}
#footer2, #footer2 ul {
	margin-bottom: 0 !important;
}
#footer2 li, #footer3 li {
	width: 100%;
}

.colorband-content h2.section-title a.see-all {
	margin-left: 0;
	left: 1em;
}
body.theme_white_75 #custom-branding {
    padding: 2% 0;
}

/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 400px) { /* ************** */
.home #image-band h3 {
	font-size: 1.5em;
}
#subfooter .col-item {
	width: 98%;
	margin: 0 auto;
	text-align: center;
}
.widget li {
	padding-left: 5px;
}
.widget li a {
	width: 75%;
}
.tag .entry-thumbnail,
.category .entry-thumbnail,
.search .entry-thumbnail,
.single .entry-thumbnail {
	float: none;
	padding-right: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
/* ************** */ }
/* ********************************************************** */
@media only screen and (max-width: 380px) { /* ************** */

/* ************** */ }
@media only screen and (max-width: 320px) { /* ************** */
.home #image-band h3 {
	line-height: .7em!important;
}
.home #image-meta {
	padding: 1.7em 20px;
}
#search-form-query {
	height: 2em;
	padding: 2px 5px;
}
#search-form-submit {
	width: 33px;
	height: 33px;
}
/* ************** */ }